Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, docs-format, hardcoded-styles

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict

  - repo: local
    hooks:
        - id: trufflehog
          name: TruffleHog
          description: Detect secrets in your data.
          entry: bash -c 'PATH="$HOME/.local/bin:$PATH" trufflehog git file://. --since-commit HEAD --only-verified --fail --no-update'
          language: system
          stages: ["pre-commit", "pre-push"]

        - id: sdk
          name  : format sdk
          language: system
          entry: make -C sdk format
          files: ^sdk/
          pass_filenames: false

        - id: backend
          name  : format backend
          language: system
          entry: make -C apps/backend format_diff
          files: ^apps/backend/
          pass_filenames: false

        - id: frontend-format
          name: auto-fix frontend formatting
          language: system
          entry: bash -c "cd apps/frontend && npm run format"
          files: ^apps/frontend/
          pass_filenames: false

        - id: frontend-lint
          name: lint frontend
          language: system
          entry: bash -c "cd apps/frontend && npm run lint"
          files: ^apps/frontend/
          pass_filenames: false

        - id: docs-format
          name: auto-fix docs formatting
          language: system
          entry: bash -c "cd apps/documentation && npm run format"
          files: ^apps/documentation/
          pass_filenames: false

        - id: hardcoded-styles
          name: check hardcoded styles in frontend and docs
          language: system
          entry: node scripts/check-hardcoded-styles.js
          files: ^apps/(frontend|documentation)/
          pass_filenames: false


  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.8.0
  #   hooks:
  #     - id: mypy
  #       additional_dependencies: [
  #         "types-requests",
  #         "pandas-stubs",
  #         "pyarrow-stubs",
  #         "types-tqdm"
  #       ]

feat(sdk): return cited turns from judges
  sdk/src/rhesis/sdk/metrics/providers/native/categorical_judge.py
  sdk/src/rhesis/sdk/metrics/providers/native/categorical_scorers.py
  sdk/src/rhesis/sdk/metrics/providers/native/conversational_judge.py
  sdk/src/rhesis/sdk/metrics/providers/native/numeric_judge.py
  sdk/src/rhesis/sdk/metrics/providers/native/turn_references.py
  tests/sdk/metrics/providers/native/test_turn_references.py
Due: sdk

fix: address peqy review on criteria rename
  apps/backend/src/rhesis/backend/alembic/versions/8c1f4e2a7b9d_rename_goal_behaviours_to_criteria.py
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestDetailMetricsTab.tsx
  apps/frontend/src/components/common/ConversationHistory.tsx
  apps/frontend/src/utils/__tests__/turn-findings.test.ts
  apps/frontend/src/utils/api-client/interfaces/test-results.ts
  apps/frontend/src/utils/turn-findings.ts
Due: backend, frontend-format, frontend-lint, hardcoded-styles

feat(frontend): add spans list and facets client
  apps/frontend/src/utils/api-client/interfaces/telemetry.ts
  apps/frontend/src/utils/api-client/telemetry-client.ts
Due: frontend-format, frontend-lint, hardcoded-styles

feat(frontend): add span filters and URL state helpers
  apps/frontend/src/app/(protected)/traces/components/__tests__/trace-filter-params.test.ts
  apps/frontend/src/app/(protected)/traces/components/__tests__/trace-url-state.test.ts
  apps/frontend/src/app/(protected)/traces/components/trace-filter-params.ts
  apps/frontend/src/app/(protected)/traces/components/trace-url-state.ts
Due: frontend-format, frontend-lint, hardcoded-styles

feat(frontend): add spans view to traces page
  apps/frontend/src/app/(protected)/traces/components/SpanFilterSections.tsx
  apps/frontend/src/app/(protected)/traces/components/SpansTable.tsx
  apps/frontend/src/app/(protected)/traces/components/TraceFilterDrawer.tsx
  apps/frontend/src/app/(protected)/traces/components/TracesClient.tsx
  apps/frontend/src/app/(protected)/traces/components/TracesClientWrapper.tsx
  apps/frontend/src/app/(protected)/traces/components/TracesTable.tsx
  apps/frontend/src/app/(protected)/traces/components/TracesToolbar.tsx
  apps/frontend/src/app/(protected)/traces/components/__tests__/SpansTable.test.tsx
  apps/frontend/src/app/(protected)/traces/components/__tests__/TraceFilterDrawer.test.tsx
  apps/frontend/src/app/(protected)/traces/components/__tests__/TracesClient.test.tsx
  apps/frontend/src/app/(protected)/traces/components/__tests__/TracesTable.test.tsx
  apps/frontend/src/app/(protected)/traces/components/spans-list.ts
  apps/frontend/src/app/(protected)/traces/page.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(tests): scope garak importlib patches
  tests/backend/metrics/test_garak_pipeline.py
  tests/backend/services/garak/test_probes.py
  tests/sdk/metrics/providers/garak/test_detector_metric.py
Due: none

ci(sdk): smoke test built wheels before publishing
  .github/actions/sdk-wheel-smoke-test/action.yml
  .github/workflows/publish-pypi.yml
  .github/workflows/sdk-test.yml
  scripts/sdk_wheel_smoke_test.py
Due: none

fix(ci): parse the wheel provenance url as a url
  scripts/sdk_wheel_smoke_test.py
Due: none

fix: resolve visit-prep config off the event loop
  agents/visit-prep/src/visit_prep/app_factory.py
  agents/visit-prep/tests/test_app.py
Due: none

fix: evict least recently used visit-prep pipeline
  agents/visit-prep/src/visit_prep/session.py
  agents/visit-prep/tests/test_config.py
Due: none

fix(tests): scope garak importlib patches (#2879)
  tests/backend/metrics/test_garak_pipeline.py
  tests/backend/services/garak/test_probes.py
  tests/sdk/metrics/providers/garak/test_detector_metric.py
Due: none

ci(sdk): state the determinism assumption in the publish workflow
  .github/workflows/publish-pypi.yml
Due: none

fix(frontend): count turn annotations as annotated
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestDetailAnnotationsTab.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/__tests__/result-annotations.test.ts
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/result-annotations.ts
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/test-run-results-grid-utils.ts
  apps/frontend/src/components/annotations/AnnotationsPanel.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): gate turn fallback on entity verdict
  apps/frontend/src/components/annotations/AnnotationsPanel.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

ci(sdk): smoke test built wheels before publishing (#2880)
  .github/actions/sdk-wheel-smoke-test/action.yml
  .github/workflows/publish-pypi.yml
  .github/workflows/sdk-test.yml
  scripts/sdk_wheel_smoke_test.py
Due: none

Fix turn annotations showing as not annotated (#2881)
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestDetailAnnotationsTab.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/__tests__/result-annotations.test.ts
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/result-annotations.ts
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/test-run-results-grid-utils.ts
  apps/frontend/src/components/annotations/AnnotationsPanel.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

test(backend): cover evaluation text model fallback
  tests/backend/jobs/test_batch_contract_resolution.py
  tests/backend/jobs/test_output_providers.py
  tests/backend/jobs/test_runners_with_provider.py
  tests/backend/metrics/test_decision_model_refusal.py
  tests/backend/services/test_preflight.py
  tests/backend/services/test_test_interpretation.py
  tests/backend/utils/test_decision_model_purpose.py
Due: none

fix(backend): fall back to text model for evaluation
  apps/backend/src/rhesis/backend/app/schemas/evaluation_contract.py
  apps/backend/src/rhesis/backend/app/services/explorer/evaluation.py
  apps/backend/src/rhesis/backend/app/services/preflight/checks.py
  apps/backend/src/rhesis/backend/app/services/preflight/orchestrator.py
  apps/backend/src/rhesis/backend/app/services/test_interpretation.py
  apps/backend/src/rhesis/backend/app/utils/user_model_utils.py
  apps/backend/src/rhesis/backend/jobs/execution/batch/context.py
  apps/backend/src/rhesis/backend/jobs/execution/batch/invocation.py
  apps/backend/src/rhesis/backend/jobs/execution/batch/runner.py
  apps/backend/src/rhesis/backend/jobs/execution/evaluation.py
  apps/backend/src/rhesis/backend/jobs/execution/executors/output_providers.py
  apps/backend/src/rhesis/backend/jobs/execution/executors/runners.py
  apps/backend/src/rhesis/backend/jobs/telemetry/evaluate.py
  apps/backend/src/rhesis/backend/metrics/evaluator.py
  apps/backend/src/rhesis/backend/metrics/strategies/local.py
Due: backend

fix(frontend): keep span facets in the list's scope
  apps/frontend/src/app/(protected)/traces/components/SpanFilterSections.tsx
  apps/frontend/src/app/(protected)/traces/components/__tests__/TraceFilterDrawer.test.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

Add experiment parameters to visit-prep (#2828)
  agents/visit-prep/README.md
  agents/visit-prep/examples/push_parameter_schema.py
  agents/visit-prep/src/visit_prep/agents/coordinator.py
  agents/visit-prep/src/visit_prep/agents/critic.py
  agents/visit-prep/src/visit_prep/agents/history.py
  agents/visit-prep/src/visit_prep/agents/summary.py
  agents/visit-prep/src/visit_prep/app_factory.py
  agents/visit-prep/src/visit_prep/client.py
  agents/visit-prep/src/visit_prep/config.py
  agents/visit-prep/src/visit_prep/pipeline.py
  agents/visit-prep/src/visit_prep/session.py
  agents/visit-prep/tests/test_app.py
  agents/visit-prep/tests/test_config.py
  agents/visit-prep/tests/test_turn_hook.py
Due: none

Add Spans view to the traces page (#2878)
  apps/frontend/src/app/(protected)/traces/components/SpanFilterSections.tsx
  apps/frontend/src/app/(protected)/traces/components/SpansTable.tsx
  apps/frontend/src/app/(protected)/traces/components/TraceFilterDrawer.tsx
  apps/frontend/src/app/(protected)/traces/components/TracesClient.tsx
  apps/frontend/src/app/(protected)/traces/components/TracesClientWrapper.tsx
  apps/frontend/src/app/(protected)/traces/components/TracesTable.tsx
  apps/frontend/src/app/(protected)/traces/components/TracesToolbar.tsx
  apps/frontend/src/app/(protected)/traces/components/__tests__/SpansTable.test.tsx
  apps/frontend/src/app/(protected)/traces/components/__tests__/TraceFilterDrawer.test.tsx
  apps/frontend/src/app/(protected)/traces/components/__tests__/TracesClient.test.tsx
  apps/frontend/src/app/(protected)/traces/components/__tests__/TracesTable.test.tsx
  apps/frontend/src/app/(protected)/traces/components/__tests__/trace-filter-params.test.ts
  apps/frontend/src/app/(protected)/traces/components/__tests__/trace-url-state.test.ts
  apps/frontend/src/app/(protected)/traces/components/spans-list.ts
  apps/frontend/src/app/(protected)/traces/components/trace-filter-params.ts
  apps/frontend/src/app/(protected)/traces/components/trace-url-state.ts
  apps/frontend/src/app/(protected)/traces/page.tsx
  apps/frontend/src/utils/api-client/interfaces/telemetry.ts
  apps/frontend/src/utils/api-client/telemetry-client.ts
Due: frontend-format, frontend-lint, hardcoded-styles

docs: fix connector docs after registration change
  docs/content/contribute/connector.mdx
  docs/content/docs/endpoints/sdk-endpoints.mdx
  docs/content/sdk/connector/index.mdx
Due: none

docs: fix package and example readmes
  agents/reg-advisor/README.md
  agents/travel-agent/README.md
  agents/visit-prep/README.md
  packages/rhesis/README.md
  penelope/README.md
Due: none

docs: fix glossary penelope target example
  docs/content/glossary/glossary-terms.jsonl
Due: none

docs: fix drift in cost and token docs
  docs/content/contribute/worker/trace-ingestion-pipeline.mdx
  docs/content/docs/tracing/costs.mdx
  docs/content/docs/tracing/semantic-conventions.mdx
  docs/content/sdk/entities/traces.mdx
Due: none

docs: update maf, adk and haystack pages
  docs/content/docs/tests/conversation-simulation/extending.mdx
  docs/content/docs/tests/conversation-simulation/getting-started.mdx
  docs/content/docs/tracing/agent-framework.mdx
  docs/content/docs/tracing/auto-instrumentation.mdx
  docs/content/docs/tracing/haystack.mdx
  docs/content/docs/tracing/index.mdx
  docs/content/docs/tracing/multi-agent.mdx
Due: none

docs: document cost ui on test runs and traces
  docs/content/docs/metrics/trace-metrics.mdx
  docs/content/docs/organizations/index.mdx
  docs/content/docs/test-runs/index.mdx
  docs/content/docs/tracing/index.mdx
  docs/content/self-hosting/environment-variables.mdx
Due: none

docs: note active project cannot be deleted
  docs/content/docs/getting-started/projects.mdx
Due: none

Fix docs drift and gaps for cost, MAF, ADK, Haystack and connector (#2884)
  agents/reg-advisor/README.md
  agents/travel-agent/README.md
  agents/visit-prep/README.md
  docs/content/contribute/connector.mdx
  docs/content/contribute/worker/trace-ingestion-pipeline.mdx
  docs/content/docs/endpoints/sdk-endpoints.mdx
  docs/content/docs/getting-started/projects.mdx
  docs/content/docs/metrics/trace-metrics.mdx
  docs/content/docs/organizations/index.mdx
  docs/content/docs/test-runs/index.mdx
  docs/content/docs/tests/conversation-simulation/extending.mdx
  docs/content/docs/tests/conversation-simulation/getting-started.mdx
  docs/content/docs/tracing/agent-framework.mdx
  docs/content/docs/tracing/auto-instrumentation.mdx
  docs/content/docs/tracing/costs.mdx
  docs/content/docs/tracing/haystack.mdx
  docs/content/docs/tracing/index.mdx
  docs/content/docs/tracing/multi-agent.mdx
  docs/content/docs/tracing/semantic-conventions.mdx
  docs/content/glossary/glossary-terms.jsonl
  docs/content/sdk/connector/index.mdx
  docs/content/sdk/entities/traces.mdx
  docs/content/self-hosting/environment-variables.mdx
  packages/rhesis/README.md
  penelope/README.md
Due: none

fix(backend): report the probe's own timeout
  apps/backend/src/rhesis/backend/app/services/preflight/checks.py
  tests/backend/services/test_preflight.py
Due: backend

docs: add haystack card to integrations page
  docs/src/components/FrameworkIntegrationsShowcase.jsx
  docs/src/public/integrations/haystack.svg
Due: none

docs: add haystack card to integrations page (#2885)
  docs/src/components/FrameworkIntegrationsShowcase.jsx
  docs/src/public/integrations/haystack.svg
Due: none

fix(frontend): promote conversation-level findings out of per-turn display
  apps/frontend/src/components/common/ConversationHistory.tsx
  apps/frontend/src/components/common/__tests__/ConversationHistory.test.tsx
  apps/frontend/src/utils/__tests__/turn-findings.test.ts
  apps/frontend/src/utils/turn-findings.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(backend): guide adversarial criteria toward role adherence wording
  apps/backend/src/rhesis/backend/app/templates/test_interpretation.jinja2
  sdk/src/rhesis/sdk/metrics/providers/native/templates/goal_achievement_contract_prompt.jinja
Due: sdk, backend

fix(frontend): use displayed turn count for conversation-level promotion
  apps/frontend/src/components/common/ConversationHistory.tsx
  apps/frontend/src/utils/__tests__/turn-findings.test.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(backend): count all spans of a run's traces
  apps/backend/src/rhesis/backend/app/crud/span_sql.py
  apps/backend/src/rhesis/backend/app/crud/telemetry.py
  apps/backend/src/rhesis/backend/app/crud/test_run.py
  apps/backend/src/rhesis/backend/app/crud/usage_sql.py
  apps/backend/src/rhesis/backend/app/utils/usage_sort.py
  tests/backend/crud/test_test_run_usage.py
  tests/backend/crud/test_trace_metrics_aggregated.py
Due: backend

fix(frontend): word cost tooltips per screen
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/summary/CostCard.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/summary/CostTooltip.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/summary/__tests__/KpiRow.test.tsx
  apps/frontend/src/app/(protected)/traces/components/TraceMetricsSummary.tsx
  apps/frontend/src/app/(protected)/traces/components/TracesClient.tsx
  apps/frontend/src/app/(protected)/traces/components/__tests__/TraceMetricsSummary.test.tsx
  apps/frontend/src/utils/trace-utils.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): open annotated result from tab
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestRunMainView.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

docs: update cost status label
  docs/content/docs/tracing/costs.mdx
Due: none
