Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, docs-format, hardcoded-styles

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict

  - repo: local
    hooks:
        - id: trufflehog
          name: TruffleHog
          description: Detect secrets in your data.
          entry: bash -c 'trufflehog git file://. --since-commit HEAD --results=verified,unknown --fail'
          language: system
          stages: ["pre-commit", "pre-push"]

        - id: sdk
          name  : format sdk
          language: system
          entry: make -C sdk format
          files: ^sdk/
          pass_filenames: false

        - id: backend
          name  : format backend
          language: system
          entry: make -C apps/backend format_diff
          files: ^apps/backend/
          pass_filenames: false

        - id: frontend-format
          name: auto-fix frontend formatting
          language: system
          entry: bash -c "cd apps/frontend && npm run format"
          files: ^apps/frontend/
          pass_filenames: false

        - id: frontend-lint
          name: lint frontend
          language: system
          entry: bash -c "cd apps/frontend && npm run lint"
          files: ^apps/frontend/
          pass_filenames: false

        - id: docs-format
          name: auto-fix docs formatting
          language: system
          entry: bash -c "cd apps/documentation && npm run format"
          files: ^apps/documentation/
          pass_filenames: false

        - id: hardcoded-styles
          name: check hardcoded styles in frontend and docs
          language: system
          entry: node scripts/check-hardcoded-styles.js
          files: ^apps/(frontend|documentation)/
          pass_filenames: false


  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.8.0
  #   hooks:
  #     - id: mypy
  #       additional_dependencies: [
  #         "types-requests",
  #         "pandas-stubs",
  #         "pyarrow-stubs",
  #         "types-tqdm"
  #       ]

feat(frontend): add context field to test run detail view
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestDetailOverviewTab.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix: add behavior name validation and prevent flash on save
  apps/frontend/src/app/(protected)/behaviors/components/BehaviorDrawer.tsx
  apps/frontend/src/app/(protected)/behaviors/components/BehaviorsClient.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix: add test set name validation and prevent flash on save
  apps/frontend/src/app/(protected)/test-sets/components/TestSetDrawer.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix: edit test detail name validation
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/TestSetDetailsSection.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): display context as bullet list in test run detail view
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestDetailOverviewTab.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): use unique key for context list items
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestDetailOverviewTab.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

feat(frontend): add expected response field to test run detail view
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestDetailOverviewTab.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

refactor(frontend): improve type definition for prompts and simplify context filtering
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestDetailOverviewTab.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

Add context and expected response fields to test run detail view (#1201)
  apps/backend/src/rhesis/backend/metrics/evaluator.py
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestDetailOverviewTab.tsx
  sdk/src/rhesis/sdk/metrics/providers/deepeval/metric_base.py
  sdk/src/rhesis/sdk/metrics/providers/deepeval/metrics.py
  sdk/src/rhesis/sdk/metrics/providers/ragas/metric_base.py
  sdk/src/rhesis/sdk/metrics/providers/ragas/metrics.py
  sdk/src/rhesis/sdk/metrics/utils.py
  sdk/uv.lock
Due: sdk, backend, frontend-format, frontend-lint, hardcoded-styles

feature: add jira and confluence provider templates
  sdk/src/rhesis/sdk/services/mcp/provider_templates/atlassian.json.j2
  sdk/src/rhesis/sdk/services/mcp/provider_templates/confluence.json.j2
  sdk/src/rhesis/sdk/services/mcp/provider_templates/jira.json.j2
Due: sdk

build: add mcp-atlassian dependency
  apps/backend/pyproject.toml
  apps/backend/uv.lock
Due: backend

feat(db): add delete all tools using jira or confluence provider type in downgrade function
  apps/backend/src/rhesis/backend/alembic/versions/b18dc9a57319_split_atlassian_to_jira_and_confluence.py
Due: backend

feat(frontend): split Atlassian MCP provider into Jira and Confluence
  apps/frontend/src/app/(protected)/mcp/components/MCPConnectionDialog.tsx
  apps/frontend/src/app/(protected)/mcp/components/MCPProviderSelectionDialog.tsx
  apps/frontend/src/config/mcp-providers.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

feat: add jira and confluence and remove atlassian in initial data
  apps/backend/src/rhesis/backend/app/services/initial_data.json
Due: backend

refactor(mcp): simplify server naming and add explicit transport configuration
  apps/backend/src/rhesis/backend/app/routers/services.py
  apps/backend/src/rhesis/backend/app/services/mcp_service.py
  sdk/src/rhesis/sdk/services/mcp/client.py
  sdk/src/rhesis/sdk/services/mcp/provider_templates/confluence.json.j2
  sdk/src/rhesis/sdk/services/mcp/provider_templates/github.json.j2
  sdk/src/rhesis/sdk/services/mcp/provider_templates/jira.json.j2
  sdk/src/rhesis/sdk/services/mcp/provider_templates/notion.json.j2
  tests/backend/services/test_mcp_service.py
  tests/sdk/services/mcp/test_client.py
Due: sdk, backend

feat(db): add new jira and confluence provider types
  apps/backend/src/rhesis/backend/alembic/versions/b18dc9a57319_split_atlassian_to_jira_and_confluence.py
Due: backend

fix(tests): fix backend tests to use custom instead of customApi
  tests/backend/services/test_mcp_service.py
Due: none

docs: add instructions to connect jira and confluence and callout stepper in knowledge
  docs/content/platform/knowledge/index.mdx
  docs/content/platform/mcp/index.mdx
Due: none

fix(tests): fix removed tests for deleted _detect_transport_type method and updated test_from_tool_config to call with 2 parameters and not 3
  tests/sdk/services/mcp/test_client.py
Due: none

fix(frontend): store url/emails in credentials only instead of tool_metadata
  apps/frontend/src/app/(protected)/mcp/components/MCPConnectionDialog.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix: add missing return statement that was deleted by mistake
  apps/backend/src/rhesis/backend/app/services/mcp_service.py
Due: backend

fix: remove unused tool_name argument
  apps/backend/src/rhesis/backend/app/services/mcp_service.py
Due: backend

fix(backend): test redis connection during initialization
  apps/backend/src/rhesis/backend/app/services/connector/redis_client.py
Due: backend

fix(test): remove tool_name='custom'
  tests/backend/services/test_mcp_service.py
Due: none

feat(garak): add Redis caching and refactor probes module
  apps/backend/src/rhesis/backend/app/main.py
  apps/backend/src/rhesis/backend/app/routers/garak.py
  apps/backend/src/rhesis/backend/app/services/garak/__init__.py
  apps/backend/src/rhesis/backend/app/services/garak/cache.py
  apps/backend/src/rhesis/backend/app/services/garak/probes.py
  apps/backend/src/rhesis/backend/app/services/garak/probes/__init__.py
  apps/backend/src/rhesis/backend/app/services/garak/probes/extraction.py
  apps/backend/src/rhesis/backend/app/services/garak/probes/models.py
  apps/backend/src/rhesis/backend/app/services/garak/probes/service.py
  apps/backend/src/rhesis/backend/app/services/garak/taxonomy.py
  tests/backend/services/garak/test_probes.py
Due: backend

Mcp Atlassian Stdio (#1197)
  apps/backend/pyproject.toml
  apps/backend/src/rhesis/backend/alembic/versions/b18dc9a57319_split_atlassian_to_jira_and_confluence.py
  apps/backend/src/rhesis/backend/app/routers/services.py
  apps/backend/src/rhesis/backend/app/services/initial_data.json
  apps/backend/src/rhesis/backend/app/services/mcp_service.py
  apps/backend/uv.lock
  apps/frontend/src/app/(protected)/mcp/components/MCPConnectionDialog.tsx
  apps/frontend/src/app/(protected)/mcp/components/MCPProviderSelectionDialog.tsx
  apps/frontend/src/config/mcp-providers.tsx
  docs/content/platform/knowledge/index.mdx
  docs/content/platform/mcp/index.mdx
  sdk/src/rhesis/sdk/services/mcp/client.py
  sdk/src/rhesis/sdk/services/mcp/provider_templates/atlassian.json.j2
  sdk/src/rhesis/sdk/services/mcp/provider_templates/confluence.json.j2
  sdk/src/rhesis/sdk/services/mcp/provider_templates/github.json.j2
  sdk/src/rhesis/sdk/services/mcp/provider_templates/jira.json.j2
  sdk/src/rhesis/sdk/services/mcp/provider_templates/notion.json.j2
  tests/backend/services/test_mcp_service.py
  tests/sdk/services/mcp/test_client.py
Due: sdk, backend, frontend-format, frontend-lint, hardcoded-styles

fix(garak): correct redis url parsing and error propagation
  apps/backend/src/rhesis/backend/app/services/garak/cache.py
  apps/backend/src/rhesis/backend/app/services/garak/probes/service.py
Due: backend

refactor(metrics): let SDK handle context validation instead of backend
  apps/backend/src/rhesis/backend/metrics/evaluator.py
  sdk/src/rhesis/sdk/metrics/providers/deepeval/metrics.py
  sdk/src/rhesis/sdk/metrics/providers/ragas/metrics.py
Due: sdk, backend

test(metrics): update test for context validation in JudgeBase
  tests/sdk/metrics/providers/native/test_judge_base.py
Due: none

fix(metrics): add context validation for metrics requiring context
  sdk/src/rhesis/sdk/metrics/providers/native/base.py
Due: sdk

fix(garak): address cache cleanup and logging suppression issues
  apps/backend/src/rhesis/backend/app/services/garak/cache.py
  apps/backend/src/rhesis/backend/app/services/garak/probes/service.py
Due: backend

Refactor metrics context validation to SDK (#1200)
  apps/backend/src/rhesis/backend/metrics/evaluator.py
  sdk/src/rhesis/sdk/metrics/providers/deepeval/metrics.py
  sdk/src/rhesis/sdk/metrics/providers/native/base.py
  sdk/src/rhesis/sdk/metrics/providers/ragas/metrics.py
  tests/sdk/metrics/providers/native/test_judge_base.py
Due: sdk, backend

fix(garak): store background task reference to prevent gc
  apps/backend/src/rhesis/backend/app/main.py
Due: backend

Add Redis caching for Garak probe enumeration (#1202)
  apps/backend/src/rhesis/backend/app/main.py
  apps/backend/src/rhesis/backend/app/routers/garak.py
  apps/backend/src/rhesis/backend/app/services/connector/redis_client.py
  apps/backend/src/rhesis/backend/app/services/garak/__init__.py
  apps/backend/src/rhesis/backend/app/services/garak/cache.py
  apps/backend/src/rhesis/backend/app/services/garak/probes.py
  apps/backend/src/rhesis/backend/app/services/garak/probes/__init__.py
  apps/backend/src/rhesis/backend/app/services/garak/probes/extraction.py
  apps/backend/src/rhesis/backend/app/services/garak/probes/models.py
  apps/backend/src/rhesis/backend/app/services/garak/probes/service.py
  apps/backend/src/rhesis/backend/app/services/garak/taxonomy.py
  tests/backend/services/garak/test_probes.py
Due: backend

feat(execution): add 3-level metrics hierarchy for test execution
  apps/backend/src/rhesis/backend/app/routers/test_set.py
  apps/backend/src/rhesis/backend/app/schemas/test_set.py
  apps/backend/src/rhesis/backend/app/services/test_set.py
  apps/backend/src/rhesis/backend/tasks/execution/executors/data.py
  apps/backend/src/rhesis/backend/tasks/execution/executors/multi_turn.py
  apps/backend/src/rhesis/backend/tasks/execution/executors/runners.py
  apps/backend/src/rhesis/backend/tasks/execution/executors/single_turn.py
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/ExecuteTestSetDrawer.tsx
  apps/frontend/src/components/common/BaseDrawer.tsx
  apps/frontend/src/components/common/SelectMetricsDialog.tsx
  apps/frontend/src/utils/api-client/test-sets-client.ts
  docs/content/platform/test-runs/index.mdx
  tests/backend/metrics/test_task_execution.py
  tests/backend/services/test_test_set.py
Due: backend, frontend-format, frontend-lint, hardcoded-styles

fix(frontend): fix TypeScript error and update dependencies
  apps/frontend/next-env.d.ts
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/ExecuteTestSetDrawer.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

feat(frontend): add re-run test drawer with metrics source selection
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/RerunTestRunDrawer.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestRunFilterBar.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestRunMainView.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

feat: add metrics source tracking with enums
  apps/backend/src/rhesis/backend/app/schemas/test_set.py
  apps/backend/src/rhesis/backend/app/services/test_set.py
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestDetailMetricsTab.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestDetailPanel.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestResultDrawer.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestRunMainView.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestsTableView.tsx
  apps/frontend/src/utils/api-client/interfaces/test-configuration.ts
Due: backend, frontend-format, frontend-lint, hardcoded-styles

style: format code in execution and rerun drawer
  apps/backend/src/rhesis/backend/tasks/execution/executors/data.py
  apps/backend/src/rhesis/backend/tasks/execution/executors/runners.py
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/RerunTestRunDrawer.tsx
Due: backend, frontend-format, frontend-lint, hardcoded-styles

docs: restructure readme with improved sections and visual placeholders
  README.md
Due: none
