Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, docs-format, hardcoded-styles

sdk:
  name: format sdk
  language: system
  entry: make -C sdk format
  pass_filenames: false

backend:
  name: format backend
  language: system
  entry: make -C apps/backend format_diff
  pass_filenames: false

frontend-format:
  name: auto-fix frontend formatting
  language: system
  entry: bash -c "cd apps/frontend && npm run format"
  pass_filenames: false

frontend-lint:
  name: lint frontend
  language: system
  entry: bash -c "cd apps/frontend && npm run lint"
  pass_filenames: false

docs-format:
  name: auto-fix docs formatting
  language: system
  entry: bash -c "cd apps/documentation && npm run format"
  pass_filenames: false

hardcoded-styles:
  name: check hardcoded styles in frontend and docs
  language: system
  entry: node scripts/check-hardcoded-styles.js
  pass_filenames: false

docs: updated environment-variables
  docs/content/contribute/environment-variables.mdx
Due: none

docs/update contributing docs (#1658)
  docs/content/contribute/backend/README.mdx
  docs/content/contribute/backend/api-structure.mdx
  docs/content/contribute/backend/architecture.mdx
  docs/content/contribute/backend/authentication.mdx
  docs/content/contribute/backend/background-tasks.mdx
  docs/content/contribute/backend/cascade-operations.mdx
  docs/content/contribute/backend/database-field-encryption.mdx
  docs/content/contribute/backend/development-workflow.mdx
  docs/content/contribute/backend/email-notifications.mdx
  docs/content/contribute/backend/encryption-troubleshooting.mdx
  docs/content/contribute/backend/environment-config.mdx
  docs/content/contribute/backend/getting-started.mdx
  docs/content/contribute/backend/index.mdx
  docs/content/contribute/backend/multi-tenancy.mdx
  docs/content/contribute/backend/odata-guide.mdx
  docs/content/contribute/backend/security-improvements.mdx
  docs/content/contribute/backend/security.mdx
  docs/content/contribute/backend/soft-deletion.mdx
  docs/content/contribute/backend/test-result-stats.mdx
  docs/content/contribute/backend/test-result-status.mdx
  docs/content/contribute/backend/test-reviews.mdx
  docs/content/contribute/coding-standards/index.mdx
  docs/content/contribute/development-setup/index.mdx
  docs/content/contribute/environment-variables.mdx
  docs/content/contribute/index.mdx
  docs/content/contribute/managing-docs/index.mdx
  docs/src/styles/globals.css
Due: none

feat(features): add feature gating primitives with backend registry and frontend context
  CLAUDE.md
  apps/backend/src/rhesis/backend/app/auth/feature_gates.py
  apps/backend/src/rhesis/backend/app/features/__init__.py
  apps/backend/src/rhesis/backend/app/features_bootstrap.py
  apps/backend/src/rhesis/backend/app/main.py
  apps/backend/src/rhesis/backend/app/routers/__init__.py
  apps/backend/src/rhesis/backend/app/routers/auth.py
  apps/backend/src/rhesis/backend/app/routers/features.py
  apps/backend/src/rhesis/backend/app/routers/sso.py
  apps/frontend/src/app/(protected)/layout.tsx
  apps/frontend/src/app/(protected)/organizations/settings/page.tsx
  apps/frontend/src/constants/features.ts
  apps/frontend/src/contexts/FeaturesContext.tsx
  apps/frontend/src/contexts/__tests__/FeaturesContext.test.tsx
  apps/frontend/src/utils/api-client/__tests__/features-client.test.ts
  apps/frontend/src/utils/api-client/client-factory.ts
  apps/frontend/src/utils/api-client/features-client.ts
  tests/backend/app/test_feature_registry.py
  tests/backend/auth/test_sso_router.py
  tests/backend/conftest.py
  tests/backend/routes/test_features.py
Due: backend, frontend-format, frontend-lint, hardcoded-styles

fix(sdk): use litellm helper for strict json schema
  sdk/src/rhesis/sdk/models/providers/litellm_proxy.py
  tests/sdk/models/providers/test_litellm_proxy.py
Due: sdk

docs: add integration page to sidebar; drop duplicate llm/api-token pages
  docs/content/docs/_meta.tsx
  docs/content/docs/integrations/_meta.tsx
  docs/content/docs/integrations/api-tokens/index.mdx
  docs/content/docs/integrations/llm-providers/index.mdx
  docs/src/components/FrameworkIntegrationsShowcase.jsx
Due: none

refactor(sdk): streamline response_format assignment in LiteLLMProxy
  sdk/src/rhesis/sdk/models/providers/litellm_proxy.py
Due: sdk

Fix LiteLLM proxy strict JSON schema for structured output (#1659)
  sdk/src/rhesis/sdk/models/providers/litellm_proxy.py
  tests/sdk/models/providers/test_litellm_proxy.py
Due: sdk

docs: conver integration folder into single file
  docs/content/docs/_meta.tsx
  docs/content/docs/integrations.mdx
  docs/content/docs/integrations/_meta.tsx
Due: none

docs: remove ai-generated and unexisting expectation page
  docs/content/docs/expectations/index.mdx
Due: none

docs: add redirected for deleted pages
  docs/src/next.config.mjs
Due: none

docs: use mdx instead of <a href> for consistency
  docs/content/docs/integrations.mdx
Due: none

Update docs sidebar and integrations structure (#1660)
  docs/content/docs/_meta.tsx
  docs/content/docs/expectations/index.mdx
  docs/content/docs/integrations.mdx
  docs/content/docs/integrations/_meta.tsx
  docs/content/docs/integrations/api-tokens/index.mdx
  docs/content/docs/integrations/llm-providers/index.mdx
  docs/src/components/FrameworkIntegrationsShowcase.jsx
  docs/src/next.config.mjs
Due: none

fix(sdk): normalize detector paths and handle probe-coupled context
  sdk/src/rhesis/sdk/metrics/base.py
  sdk/src/rhesis/sdk/metrics/providers/garak/detector_metric.py
  sdk/src/rhesis/sdk/metrics/providers/garak/detectors.yaml
  sdk/src/rhesis/sdk/metrics/providers/garak/factory.py
  sdk/uv.lock
Due: sdk

fix(backend): inject probe notes for garak detectors
  apps/backend/src/rhesis/backend/alembic/versions/97b38ee1a6e1_backfill_garak_notes_encoding.py
  apps/backend/src/rhesis/backend/alembic/versions/d592924f5b73_backfill_garak_notes_promptinject.py
  apps/backend/src/rhesis/backend/app/services/garak/cache.py
  apps/backend/src/rhesis/backend/app/services/garak/importer.py
  apps/backend/src/rhesis/backend/app/services/garak/probes/models.py
  apps/backend/src/rhesis/backend/app/services/garak/probes/service.py
  apps/backend/src/rhesis/backend/metrics/result_builder.py
  apps/backend/src/rhesis/backend/tasks/execution/batch/evaluation.py
Due: backend

test(tests): add garak detector smoke, pipeline, and e2e tests
  tests/backend/metrics/test_garak_e2e.py
  tests/backend/metrics/test_garak_pipeline.py
  tests/sdk/metrics/providers/garak/test_detector_metric.py
  tests/sdk/metrics/providers/garak/test_detector_smoke.py
  tests/sdk/metrics/providers/garak/test_factory.py
  tests/sdk/metrics/providers/garak/test_garak_live.py
Due: none

feat(frontend): add search for garak probes in import dialog
  apps/frontend/src/app/(protected)/test-sets/components/GarakImportDialog.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(api): reject models.embedding in PATCH /users/settings
  apps/backend/src/rhesis/backend/app/routers/user.py
  tests/backend/routes/test_user_settings.py
Due: backend

fix(models-ui): remove embedding default toggle and clarify copy
  apps/frontend/src/app/(protected)/models/components/ConnectionDialog.tsx
  apps/frontend/src/app/(protected)/models/components/ModelCard.tsx
  apps/frontend/src/app/(protected)/models/page.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(garak): exclude visual_jailbreak module to prevent image downloads
  apps/backend/src/rhesis/backend/app/services/garak/cache.py
  apps/backend/src/rhesis/backend/app/services/garak/probes/service.py
Due: backend

refactor(garak): address staff engineer review findings
  apps/backend/src/rhesis/backend/alembic/versions/97b38ee1a6e1_backfill_garak_notes_encoding.py
  apps/backend/src/rhesis/backend/alembic/versions/d592924f5b73_backfill_garak_notes_promptinject.py
  apps/backend/src/rhesis/backend/app/services/garak/cache.py
  apps/backend/src/rhesis/backend/app/services/garak/probes/service.py
  apps/backend/src/rhesis/backend/metrics/strategies/local.py
  apps/backend/src/rhesis/backend/tasks/execution/batch/evaluation.py
  sdk/src/rhesis/sdk/metrics/providers/garak/detector_metric.py
  sdk/src/rhesis/sdk/metrics/providers/garak/registry.py
  tests/backend/metrics/test_garak_pipeline.py
  tests/sdk/metrics/providers/garak/test_factory.py
Due: sdk, backend

style(backend): fix ruff formatting in service.py and result_builder.py
  apps/backend/src/rhesis/backend/app/services/garak/probes/service.py
  apps/backend/src/rhesis/backend/metrics/result_builder.py
Due: backend

fix(garak): address peqy review comments
  apps/backend/src/rhesis/backend/alembic/versions/97b38ee1a6e1_backfill_garak_notes_encoding.py
  apps/backend/src/rhesis/backend/alembic/versions/d592924f5b73_backfill_garak_notes_promptinject.py
  apps/backend/src/rhesis/backend/app/services/garak/probes/service.py
  apps/backend/src/rhesis/backend/tasks/execution/batch/evaluation.py
  sdk/src/rhesis/sdk/metrics/providers/garak/detector_metric.py
  tests/backend/metrics/test_garak_pipeline.py
Due: sdk, backend

fix(sdk): merge duplicate [tool.uv.sources] table in pyproject.toml
  sdk/pyproject.toml
Due: sdk

fix(garak): address second peqy review round
  apps/backend/src/rhesis/backend/alembic/versions/97b38ee1a6e1_backfill_garak_notes_encoding.py
  apps/backend/src/rhesis/backend/app/services/garak/probes/service.py
  apps/backend/src/rhesis/backend/tasks/execution/batch/evaluation.py
  sdk/src/rhesis/sdk/metrics/providers/garak/detector_metric.py
  tests/backend/metrics/test_garak_pipeline.py
Due: sdk, backend

docs: add comment for future reference
  apps/backend/src/rhesis/backend/app/routers/user.py
Due: backend

feat(backend): add run comparison via stats MCP tools
  apps/backend/src/rhesis/backend/app/mcp_server/mcp_tools.yaml
  sdk/src/rhesis/sdk/agents/architect/prompt_templates/streaming_response.j2
  sdk/src/rhesis/sdk/agents/architect/prompt_templates/system_prompt.j2
  sdk/src/rhesis/sdk/agents/architect/tool_registry.py
Due: sdk, backend

style(sdk): apply ruff formatting to detector_metric.py
  sdk/src/rhesis/sdk/metrics/providers/garak/detector_metric.py
Due: sdk

style(backend): apply ruff formatting to encoding backfill migration
  apps/backend/src/rhesis/backend/alembic/versions/97b38ee1a6e1_backfill_garak_notes_encoding.py
Due: backend

Temporarly disable default embedding model selection (#1661)
  apps/backend/src/rhesis/backend/app/routers/user.py
  apps/frontend/src/app/(protected)/models/components/ConnectionDialog.tsx
  apps/frontend/src/app/(protected)/models/components/ModelCard.tsx
  apps/frontend/src/app/(protected)/models/page.tsx
  tests/backend/routes/test_user_settings.py
Due: backend, frontend-format, frontend-lint, hardcoded-styles

Fix Garak probe-coupled detectors and improve pipeline reliability (#1662)
  apps/backend/src/rhesis/backend/alembic/versions/97b38ee1a6e1_backfill_garak_notes_encoding.py
  apps/backend/src/rhesis/backend/alembic/versions/d592924f5b73_backfill_garak_notes_promptinject.py
  apps/backend/src/rhesis/backend/app/services/garak/cache.py
  apps/backend/src/rhesis/backend/app/services/garak/importer.py
  apps/backend/src/rhesis/backend/app/services/garak/probes/models.py
  apps/backend/src/rhesis/backend/app/services/garak/probes/service.py
  apps/backend/src/rhesis/backend/metrics/result_builder.py
  apps/backend/src/rhesis/backend/metrics/strategies/local.py
  apps/backend/src/rhesis/backend/tasks/execution/batch/evaluation.py
  apps/frontend/src/app/(protected)/test-sets/components/GarakImportDialog.tsx
  sdk/src/rhesis/sdk/metrics/base.py
  sdk/src/rhesis/sdk/metrics/providers/garak/detector_metric.py
  sdk/src/rhesis/sdk/metrics/providers/garak/detectors.yaml
  sdk/src/rhesis/sdk/metrics/providers/garak/factory.py
  sdk/src/rhesis/sdk/metrics/providers/garak/registry.py
  sdk/uv.lock
  tests/backend/metrics/test_garak_e2e.py
  tests/backend/metrics/test_garak_pipeline.py
  tests/sdk/metrics/providers/garak/test_detector_metric.py
  tests/sdk/metrics/providers/garak/test_detector_smoke.py
  tests/sdk/metrics/providers/garak/test_factory.py
  tests/sdk/metrics/providers/garak/test_garak_live.py
Due: sdk, backend, frontend-format, frontend-lint, hardcoded-styles

fix(backend): rebase architect migration on garak head
  apps/backend/src/rhesis/backend/alembic/versions/c4d8e2f1a3b5_add_architect_tables.py
Due: backend

style(auth): update login page badge label
  apps/frontend/src/components/auth/AuthPageShell.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

style(auth): update login page badge label (#1663)
  apps/frontend/src/components/auth/AuthPageShell.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix: sync topic relationship after FK updates
  apps/backend/src/rhesis/backend/app/services/adaptive_testing/topics.py
Due: backend

fix: sync topic relationship after FK updates (#1664)
  apps/backend/src/rhesis/backend/app/services/adaptive_testing/topics.py
Due: backend

feat(docs): update footer navigation sections
  docs/src/components/Footer.jsx
  docs/src/public/logo/bmftr-light-mode.webp
Due: none

feat(docs): update footer navigation sections (#1667)
  docs/src/components/Footer.jsx
  docs/src/public/logo/bmftr-light-mode.webp
Due: none

feat(backend): add list_sources tool and knowledge source param
  apps/backend/src/rhesis/backend/app/mcp_server/mcp_tools.yaml
  apps/backend/src/rhesis/backend/app/mcp_server/tools.py
Due: backend

feat(sdk): add knowledge source grounding and result analysis
  sdk/pyproject.toml
  sdk/src/rhesis/sdk/agents/architect/prompt_templates/streaming_response.j2
  sdk/src/rhesis/sdk/agents/architect/prompt_templates/system_prompt.j2
  sdk/src/rhesis/sdk/agents/architect/tool_registry.py
  sdk/uv.lock
Due: sdk

feat(frontend): add knowledge source @mention support
  apps/frontend/src/app/(protected)/architect/components/ArchitectChatInput.tsx
  apps/frontend/src/app/(protected)/architect/components/ArchitectMessageBubble.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

Path conditions:
  sdk: any of: ^sdk/
  backend: any of: ^apps/backend/
  frontend-format: any of: ^apps/frontend/
  frontend-lint: any of: ^apps/frontend/
  docs-format: any of: ^apps/documentation/
  hardcoded-styles: any of: ^apps/(frontend|documentation)/
