Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, docs-format, hardcoded-styles

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict

  - repo: local
    hooks:
        - id: trufflehog
          name: TruffleHog
          description: Detect secrets in your data.
          entry: bash -c 'trufflehog git file://. --since-commit HEAD --results=verified,unknown --fail'
          language: system
          stages: ["pre-commit", "pre-push"]

        - id: sdk
          name  : format sdk
          language: system
          entry: make -C sdk format
          files: ^sdk/
          pass_filenames: false

        - id: backend
          name  : format backend
          language: system
          entry: make -C apps/backend format_diff
          files: ^apps/backend/
          pass_filenames: false

        - id: frontend-format
          name: auto-fix frontend formatting
          language: system
          entry: bash -c "cd apps/frontend && npm run format"
          files: ^apps/frontend/
          pass_filenames: false

        - id: frontend-lint
          name: lint frontend
          language: system
          entry: bash -c "cd apps/frontend && npm run lint"
          files: ^apps/frontend/
          pass_filenames: false

        - id: docs-format
          name: auto-fix docs formatting
          language: system
          entry: bash -c "cd apps/documentation && npm run format"
          files: ^apps/documentation/
          pass_filenames: false

        - id: hardcoded-styles
          name: check hardcoded styles in frontend and docs
          language: system
          entry: node scripts/check-hardcoded-styles.js
          files: ^apps/(frontend|documentation)/
          pass_filenames: false


  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.8.0
  #   hooks:
  #     - id: mypy
  #       additional_dependencies: [
  #         "types-requests",
  #         "pandas-stubs",
  #         "pyarrow-stubs",
  #         "types-tqdm"
  #       ]

feat(knowledge): add view in provider button for MCP sources
  apps/frontend/src/app/(protected)/knowledge/[identifier]/components/SourcePreviewClientWrapper.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

tests(sdk): mock httpx.AsyncClient in MCPClient tests
  tests/sdk/services/mcp/test_client.py
Due: none

fix(mcp client): validate MCP HTTP connection before context manager entry
  sdk/src/rhesis/sdk/services/mcp/client.py
Due: sdk

fix(mcp client): allow 405 in MCP validation, only fail on 400/401/403
  sdk/src/rhesis/sdk/services/mcp/client.py
Due: sdk

fix(mcp): handle deleted tools in source updates
  apps/backend/src/rhesis/backend/app/routers/services.py
  apps/backend/src/rhesis/backend/app/services/mcp_service.py
  apps/frontend/src/app/(protected)/knowledge/[identifier]/components/SourcePreviewClientWrapper.tsx
Due: backend, frontend-format, frontend-lint, hardcoded-styles

fix(knowledge): add type check for error detail in 404 handling
  apps/frontend/src/app/(protected)/knowledge/[identifier]/components/SourcePreviewClientWrapper.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(mcp): allow testing connection without name
  apps/frontend/src/app/(protected)/mcp/components/MCPConnectionDialog.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

docs(mcp): add instructions for adding GitHub mcp connection
  docs/content/platform/mcp/index.mdx
Due: none

chore: remove the unreachable ItemeDeletedException handler in endpoint
  apps/backend/src/rhesis/backend/app/routers/services.py
Due: backend

chore: fix formatting issue
  apps/frontend/src/app/(protected)/knowledge/[identifier]/components/SourcePreviewClientWrapper.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(mcp): prioritize backend message over error message when updating a mcp source
  apps/frontend/src/app/(protected)/knowledge/[identifier]/components/SourcePreviewClientWrapper.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

Mcp Connection Improvements (#1089)
  apps/backend/src/rhesis/backend/app/services/mcp_service.py
  apps/backend/src/rhesis/backend/app/templates/mcp_search_prompt.jinja2
  apps/frontend/src/app/(protected)/knowledge/[identifier]/components/SourcePreviewClientWrapper.tsx
  apps/frontend/src/app/(protected)/mcp/components/MCPConnectionDialog.tsx
  docs/content/platform/mcp/index.mdx
  sdk/src/rhesis/sdk/services/mcp/client.py
  tests/sdk/services/mcp/test_client.py
Due: sdk, backend, frontend-format, frontend-lint, hardcoded-styles

Feat/Migrate Services 4 (#1101)
  .github/workflows/backend.yml
  .github/workflows/otel-collector.yml
  .github/workflows/telemetry-processor.yml
Due: none

add sdk integration guide
  docs/content/guides/_meta.tsx
  docs/content/guides/ci-cd-integration.mdx
Due: none

fix(docs): display glossary in navigation across all pages
  docs/content/_meta.tsx
  docs/content/glossary.mdx
  docs/content/glossary/.README.md
  docs/content/glossary/_meta.tsx
  docs/content/glossary/glossary-terms.json
  docs/content/glossary/glossary-terms.jsonl
  docs/content/glossary/index.mdx
  docs/scripts/generate-glossary-pages.js
  docs/src/components/glossary/GlossaryCard.jsx
  docs/src/components/glossary/GlossaryPage.jsx
  docs/src/components/glossary/GlossaryTermPage.jsx
Due: none

add sdk integration guide (#1079)
  docs/content/guides/_meta.tsx
  docs/content/guides/ci-cd-integration.mdx
Due: none

build(docs): add JSONL support and manifest config
  docs/src/middleware.js
  docs/src/next.config.mjs
  docs/src/public/manifest.json
Due: none

docs(glossary): rename nested index to Terms
  docs/content/glossary/_meta.tsx
Due: none

fix(docs): copy scripts directory for glossary generation in Docker build
  docs/src/Dockerfile
Due: none

fix(docs): copy scripts directory for glossary generation in Docker build (#1107)
  docs/src/Dockerfile
Due: none

fix(docs): ensure content directory accessible for glossary script
  docs/src/Dockerfile
Due: none

fix(docs): use path alias for glossary component import
  docs/content/glossary.mdx
Due: none

fix(docs): wrap GlossaryPage in Suspense boundary for static generation
  docs/content/glossary.mdx
Due: none

fix(docs): set glossary index label to 'Terms' in generated _meta.tsx
  docs/scripts/generate-glossary-pages.js
Due: none

Fix: Docs Glossary Deployment (#1108)
  docs/content/glossary.mdx
  docs/scripts/generate-glossary-pages.js
  docs/src/Dockerfile
Due: none

fix(docs): use process.cwd() for glossary paths to work in both local and Docker
  docs/scripts/generate-glossary-pages.js
Due: none

fix(docs): use process.cwd() for glossary paths to work in both local and Docker (#1109)
  docs/scripts/generate-glossary-pages.js
Due: none

feat(sdk): implement smart serialization for instance methods in traces
  apps/chatbot/endpoint.py
  sdk/src/rhesis/sdk/telemetry/tracer.py
  tests/sdk/telemetry/test_tracer.py
Due: sdk

fix(sdk): apply smart serialization to outputs for consistent JSON formatting
  sdk/src/rhesis/sdk/telemetry/tracer.py
  tests/sdk/telemetry/test_tracer.py
Due: sdk

refactor(sdk): eliminate code duplication in tracer and use AIAttributes constants
  sdk/src/rhesis/sdk/telemetry/attributes.py
  sdk/src/rhesis/sdk/telemetry/tracer.py
Due: sdk

feat(sdk): add entities metadata entry to documentation
  docs/content/sdk/_meta.tsx
  docs/content/sdk/entities/_meta.tsx
  docs/content/sdk/entities/endpoints.mdx
  docs/content/sdk/entities/index.mdx
  docs/content/sdk/entities/taxonomies.mdx
  docs/content/sdk/entities/test-runs.mdx
  docs/content/sdk/entities/test-sets.mdx
Due: none

docs(sdk): reorganize entities documentation with separate status and test-attributes pages
  docs/content/sdk/entities/_meta.tsx
  docs/content/sdk/entities/index.mdx
  docs/content/sdk/entities/status.mdx
  docs/content/sdk/entities/test-attributes.mdx
  docs/content/sdk/entities/test-sets.mdx
Due: none
