Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, docs-format, hardcoded-styles

sdk:
  name: format sdk
  language: system
  entry: make -C sdk format
  pass_filenames: false

backend:
  name: format backend
  language: system
  entry: make -C apps/backend format_diff
  pass_filenames: false

frontend-format:
  name: auto-fix frontend formatting
  language: system
  entry: bash -c "cd apps/frontend && npm run format"
  pass_filenames: false

frontend-lint:
  name: lint frontend
  language: system
  entry: bash -c "cd apps/frontend && npm run lint"
  pass_filenames: false

docs-format:
  name: auto-fix docs formatting
  language: system
  entry: bash -c "cd apps/documentation && npm run format"
  pass_filenames: false

hardcoded-styles:
  name: check hardcoded styles in frontend and docs
  language: system
  entry: node scripts/check-hardcoded-styles.js
  pass_filenames: false

style(ui): reduce toolbar height for more compact header (#990)
  apps/frontend/src/app/(protected)/layout.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

update-is-verified-for-rhesis-user (#989)
  apps/backend/src/rhesis/backend/alembic/versions/f164d8d04e82_update_is_verified_to_rhesis_user.py
Due: backend

update exporter timeout from 10 to 30 (#985)
  apps/backend/src/rhesis/backend/telemetry/instrumentation.py
Due: backend

fix(frontend): prevent external links from appearing in breadcrumbs
  apps/frontend/src/components/navigation/NavigationProvider.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): prevent external links from appearing in breadcrumbs (#991)
  apps/frontend/src/components/navigation/NavigationProvider.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

Add grid state persistence to localStorage (#979)
  apps/frontend/jest.setup.js
  apps/frontend/src/app/(protected)/endpoints/components/EndpointsGrid.tsx
  apps/frontend/src/app/(protected)/knowledge/components/SourcesGrid.tsx
  apps/frontend/src/app/(protected)/test-runs/components/TestRunsGrid.tsx
  apps/frontend/src/app/(protected)/test-sets/components/TestSetsGrid.tsx
  apps/frontend/src/app/(protected)/tests/components/TestsGrid.tsx
  apps/frontend/src/components/common/BaseDataGrid.tsx
  apps/frontend/src/components/tasks/__tests__/TasksSection.test.tsx
  apps/frontend/src/hooks/useGridStateStorage.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(connector): Support multi-instance SDK connections in Cloud Run
  apps/backend/src/rhesis/backend/app/routers/connector.py
  apps/backend/src/rhesis/backend/app/services/connector/manager.py
  apps/backend/src/rhesis/backend/app/services/invokers/sdk_invoker.py
Due: backend

fix(connector): Use direct WebSocket when connection is local
  apps/backend/src/rhesis/backend/app/services/invokers/sdk_invoker.py
Due: backend

refactor(sdk_invoker): Break down monolithic invoke method into focused helpers
  apps/backend/src/rhesis/backend/app/services/invokers/sdk_invoker.py
Due: backend

security: Add comprehensive sensitive data redaction to logs
  apps/backend/src/rhesis/backend/app/main.py
  apps/backend/src/rhesis/backend/logging/rhesis_logger.py
Due: backend

docs: Add comprehensive documentation for multi-instance SDK fix
  MULTI_INSTANCE_SDK_FIX.md
Due: none

fix(ui): improve star rhesis button shadow rendering
  apps/frontend/src/app/(protected)/layout.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

feat(endpoints): add sdk_hybrid mapping source label
  apps/frontend/src/app/(protected)/endpoints/components/EndpointDetail.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

test: Fix connector tests for async is_connected() method
  tests/backend/routes/test_connector.py
Due: none

chore: Move documentation to playground and update dependencies
  MULTI_INSTANCE_SDK_FIX.md
  apps/chatbot/uv.lock
Due: none

test: Fix connection manager tests for async is_connected() method
  tests/backend/services/connector/test_manager.py
Due: none

Backend execution RPC fixes and UI improvements (#992)
  apps/backend/src/rhesis/backend/app/main.py
  apps/backend/src/rhesis/backend/app/routers/connector.py
  apps/backend/src/rhesis/backend/app/services/connector/manager.py
  apps/backend/src/rhesis/backend/app/services/invokers/sdk_invoker.py
  apps/backend/src/rhesis/backend/logging/rhesis_logger.py
  apps/chatbot/uv.lock
  apps/frontend/src/app/(protected)/endpoints/components/EndpointDetail.tsx
  apps/frontend/src/app/(protected)/layout.tsx
  tests/backend/routes/test_connector.py
  tests/backend/services/connector/test_manager.py
Due: backend, frontend-format, frontend-lint, hardcoded-styles

feat: enhance dashboard test run cards with comprehensive improvements
  apps/frontend/src/app/(protected)/dashboard/components/DashboardKPIs.tsx
  apps/frontend/src/app/(protected)/dashboard/components/TestRunPerformance.tsx
  apps/frontend/src/app/(protected)/dashboard/page.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

feat(api): add recent activities tracking endpoint
  apps/backend/src/rhesis/backend/app/models/comment.py
  apps/backend/src/rhesis/backend/app/models/endpoint.py
  apps/backend/src/rhesis/backend/app/models/metric.py
  apps/backend/src/rhesis/backend/app/models/mixins.py
  apps/backend/src/rhesis/backend/app/models/model.py
  apps/backend/src/rhesis/backend/app/models/project.py
  apps/backend/src/rhesis/backend/app/models/prompt.py
  apps/backend/src/rhesis/backend/app/models/source.py
  apps/backend/src/rhesis/backend/app/models/task.py
  apps/backend/src/rhesis/backend/app/models/test.py
  apps/backend/src/rhesis/backend/app/models/test_run.py
  apps/backend/src/rhesis/backend/app/models/test_set.py
  apps/backend/src/rhesis/backend/app/routers/services.py
  apps/backend/src/rhesis/backend/app/schemas/services.py
  apps/backend/src/rhesis/backend/app/services/activities.py
  apps/frontend/src/utils/api-client/interfaces/activities.ts
  apps/frontend/src/utils/api-client/services-client.ts
Due: backend, frontend-format, frontend-lint, hardcoded-styles

feat(api): add bulk operation grouping for activities
  apps/backend/src/rhesis/backend/app/models/behavior.py
  apps/backend/src/rhesis/backend/app/models/prompt.py
  apps/backend/src/rhesis/backend/app/schemas/services.py
  apps/backend/src/rhesis/backend/app/services/activities.py
  apps/frontend/src/utils/api-client/interfaces/activities.ts
Due: backend, frontend-format, frontend-lint, hardcoded-styles

refactor(api): lower bulk threshold from 5 to 2 activities
  apps/backend/src/rhesis/backend/app/services/activities.py
Due: backend

style: fix line length in activities service
  apps/backend/src/rhesis/backend/app/services/activities.py
  apps/frontend/next-env.d.ts
  apps/frontend/src/app/(protected)/dashboard/components/TestRunPerformance.tsx
Due: backend, frontend-format, frontend-lint, hardcoded-styles

feat(api): use 'executed' verb for TestRun creation in activity summaries
  apps/backend/src/rhesis/backend/app/services/activities.py
Due: backend

refactor(dashboard): migrate ActivityTimeline to new activities endpoint
  apps/frontend/src/app/(protected)/dashboard/components/ActivityTimeline.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(api-client): use correct fetch method in getRecentActivities
  apps/frontend/src/utils/api-client/services-client.ts
Due: frontend-format, frontend-lint, hardcoded-styles

refactor(dashboard): use entity-based icons matching layout menu
  apps/frontend/src/app/(protected)/dashboard/components/ActivityTimeline.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(dashboard): vertically center time labels with timeline icons
  apps/frontend/src/app/(protected)/dashboard/components/ActivityTimeline.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(dashboard): vertically align time labels with activity icons
  apps/frontend/src/app/(protected)/dashboard/components/ActivityTimeline.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(dashboard): make activity boxes full width and consistent
  apps/frontend/src/app/(protected)/dashboard/components/ActivityTimeline.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

refactor(dashboard): match activity font sizes to test run cards
  apps/frontend/src/app/(protected)/dashboard/components/ActivityTimeline.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

feat(dashboard): add user avatar and name to activity items
  apps/frontend/src/app/(protected)/dashboard/components/ActivityTimeline.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

feat(dashboard): add rich context to activity cards
  apps/frontend/src/app/(protected)/dashboard/components/ActivityTimeline.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

refactor(dashboard): use standard icons and show full time labels
  apps/frontend/src/app/(protected)/dashboard/components/ActivityTimeline.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

feat(dashboard): match pass rate styling to test-results page
  apps/frontend/src/app/(protected)/dashboard/components/DashboardKPIs.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

Path conditions:
  sdk: any of: ^sdk/
  backend: any of: ^apps/backend/
  frontend-format: any of: ^apps/frontend/
  frontend-lint: any of: ^apps/frontend/
  docs-format: any of: ^apps/documentation/
  hardcoded-styles: any of: ^apps/(frontend|documentation)/
