Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, docs-format, hardcoded-styles

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict

  - repo: local
    hooks:
        - id: trufflehog
          name: TruffleHog
          description: Detect secrets in your data.
          entry: bash -c 'PATH="$HOME/.local/bin:$PATH" trufflehog git file://. --since-commit HEAD --only-verified --fail --no-update'
          language: system
          stages: ["pre-commit", "pre-push"]

        - id: sdk
          name  : format sdk
          language: system
          entry: make -C sdk format
          files: ^sdk/
          pass_filenames: false

        - id: backend
          name  : format backend
          language: system
          entry: make -C apps/backend format_diff
          files: ^apps/backend/
          pass_filenames: false

        - id: frontend-format
          name: auto-fix frontend formatting
          language: system
          entry: bash -c "cd apps/frontend && npm run format"
          files: ^apps/frontend/
          pass_filenames: false

        - id: frontend-lint
          name: lint frontend
          language: system
          entry: bash -c "cd apps/frontend && npm run lint"
          files: ^apps/frontend/
          pass_filenames: false

        - id: docs-format
          name: auto-fix docs formatting
          language: system
          entry: bash -c "cd apps/documentation && npm run format"
          files: ^apps/documentation/
          pass_filenames: false

        - id: hardcoded-styles
          name: check hardcoded styles in frontend and docs
          language: system
          entry: node scripts/check-hardcoded-styles.js
          files: ^apps/(frontend|documentation)/
          pass_filenames: false


  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.8.0
  #   hooks:
  #     - id: mypy
  #       additional_dependencies: [
  #         "types-requests",
  #         "pandas-stubs",
  #         "pyarrow-stubs",
  #         "types-tqdm"
  #       ]

test(notifications): add unit tests for Day 1/2/3 onboarding email scheduling
  apps/backend/pyproject.toml
  apps/backend/src/rhesis/backend/app/routers/organization.py
  apps/backend/src/rhesis/backend/notifications/email/sendgrid_client.py
  tests/notifications/__init__.py
  tests/notifications/conftest.py
  tests/notifications/test_onboarding_emails.py
Due: backend

test(frontend): add pagination page-reset regression tests
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/__tests__/TestsTableView.test.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

Fix search on test run detail page (#1537)
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestRunMainView.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestsTableView.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/__tests__/TestsTableView.test.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

feat: remove temp debug tooling, keep permanent email visibility improvements
  apps/backend/src/rhesis/backend/app/routers/organization.py
  apps/backend/src/rhesis/backend/notifications/email/service.py
  apps/frontend/src/app/(protected)/organizations/settings/components/EmailDebugPanel.tsx
  apps/frontend/src/app/(protected)/organizations/settings/page.tsx
  apps/frontend/src/utils/api-client/organizations-client.ts
  tests/notifications/test_onboarding_emails.py
Due: backend, frontend-format, frontend-lint, hardcoded-styles

fix: address PR review comments on email visibility
  apps/backend/src/rhesis/backend/notifications/email/sendgrid_client.py
  tests/notifications/test_onboarding_emails.py
Due: backend

fix: remove PII from email visibility logs
  apps/backend/src/rhesis/backend/notifications/email/sendgrid_client.py
  apps/backend/src/rhesis/backend/notifications/email/service.py
Due: backend

refactor: replace print() banners with structured logger calls
  apps/backend/src/rhesis/backend/app/routers/organization.py
  apps/backend/src/rhesis/backend/notifications/email/sendgrid_client.py
  apps/backend/src/rhesis/backend/notifications/email/service.py
Due: backend

chore: fix ruff linting errors
  apps/backend/src/rhesis/backend/alembic/versions/1776e6dd47d3_add_model_type_column_to_model_table.py
  apps/backend/src/rhesis/backend/app/constants.py
  apps/backend/src/rhesis/backend/app/schemas/test.py
  apps/backend/src/rhesis/backend/app/schemas/test_set.py
  apps/backend/src/rhesis/backend/app/schemas/validators.py
  apps/backend/src/rhesis/backend/tasks/execution/executors/factory.py
  apps/backend/src/rhesis/backend/tasks/execution/modes.py
  apps/backend/src/rhesis/backend/tasks/execution/test.py
Due: backend

feat: improve onboarding email failure visibility and add unit tests (#1533)
  apps/backend/pyproject.toml
  apps/backend/src/rhesis/backend/app/routers/organization.py
  apps/backend/src/rhesis/backend/notifications/email/sendgrid_client.py
  apps/backend/src/rhesis/backend/notifications/email/service.py
  tests/notifications/__init__.py
  tests/notifications/conftest.py
  tests/notifications/test_onboarding_emails.py
Due: backend

fix(tests): add missing SESSION_SECRET_KEY to test backend env
  tests/docker-compose.test.yml
Due: none

fix(backend): make from_string case-sensitive and strict for TestType/TestSetType
  apps/backend/src/rhesis/backend/app/constants.py
Due: backend

refactor: split adaptive testing into smaller files (#1539)
  apps/backend/src/rhesis/backend/app/services/adaptive_testing.py
  apps/backend/src/rhesis/backend/app/services/adaptive_testing/__init__.py
  apps/backend/src/rhesis/backend/app/services/adaptive_testing/evaluation.py
  apps/backend/src/rhesis/backend/app/services/adaptive_testing/responses.py
  apps/backend/src/rhesis/backend/app/services/adaptive_testing/suggestions.py
  apps/backend/src/rhesis/backend/app/services/adaptive_testing/tests.py
  apps/backend/src/rhesis/backend/app/services/adaptive_testing/topics.py
  apps/backend/src/rhesis/backend/app/services/adaptive_testing/utils.py
  tests/backend/routes/test_adaptive_testing.py
  tests/backend/services/test_adaptive_testing.py
Due: backend

refactor: reorganize adaptive testing tests into separate files
  tests/backend/services/adaptive_testing/__init__.py
  tests/backend/services/adaptive_testing/conftest.py
  tests/backend/services/adaptive_testing/test_evaluation.py
  tests/backend/services/adaptive_testing/test_responses.py
  tests/backend/services/adaptive_testing/test_tests.py
  tests/backend/services/adaptive_testing/test_topics.py
  tests/backend/services/test_adaptive_testing.py
Due: none

refactor: reorganize adaptive testing tests into separate files (#1540)
  tests/backend/services/adaptive_testing/__init__.py
  tests/backend/services/adaptive_testing/conftest.py
  tests/backend/services/adaptive_testing/test_evaluation.py
  tests/backend/services/adaptive_testing/test_responses.py
  tests/backend/services/adaptive_testing/test_tests.py
  tests/backend/services/adaptive_testing/test_topics.py
  tests/backend/services/test_adaptive_testing.py
Due: none

fix(backend): include topic in test result response
  apps/backend/src/rhesis/backend/app/routers/test_result.py
Due: backend

fix(backend): include topic in test result response (#1541)
  apps/backend/src/rhesis/backend/app/routers/test_result.py
Due: backend

perf(backend): reduce redundant work per request
  apps/backend/src/rhesis/backend/app/crud.py
  apps/backend/src/rhesis/backend/app/routers/user.py
  apps/backend/src/rhesis/backend/app/schemas/endpoint.py
  apps/backend/src/rhesis/backend/app/utils/encryption.py
Due: backend

fix(frontend): prevent duplicate settings PATCH on page load
  apps/frontend/src/contexts/OnboardingContext.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(adaptive-testing): proper metric evaluation and scope filtering
  apps/backend/src/rhesis/backend/app/services/adaptive_testing/evaluation.py
  apps/frontend/src/app/(protected)/adaptive-testing/[identifier]/components/AdaptiveTestingDetail.tsx
Due: backend, frontend-format, frontend-lint, hardcoded-styles

fix: formating
  apps/frontend/src/app/(protected)/adaptive-testing/[identifier]/components/AdaptiveTestingDetail.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

perf(backend): replace python-side aggregation with SQL queries
  apps/backend/src/rhesis/backend/app/services/stats/test.py
  apps/backend/src/rhesis/backend/app/services/stats/test_result.py
  apps/backend/src/rhesis/backend/app/services/stats/test_run.py
Due: backend

perf(frontend): consolidate API calls and remove redundant fetches
  apps/frontend/src/app/(protected)/dashboard/components/DashboardKPIs.tsx
  apps/frontend/src/app/(protected)/dashboard/components/TestRunPerformance.tsx
  apps/frontend/src/app/(protected)/dashboard/page.tsx
  apps/frontend/src/app/(protected)/test-runs/components/TestRunCharts.tsx
  apps/frontend/src/app/(protected)/test-runs/components/TestRunsGrid.tsx
  apps/frontend/src/contexts/OnboardingContext.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(adaptive-testing): proper metric evaluation and scope filtering (#1542)
  apps/backend/src/rhesis/backend/app/services/adaptive_testing/evaluation.py
  apps/frontend/src/app/(protected)/adaptive-testing/[identifier]/components/AdaptiveTestingDetail.tsx
Due: backend, frontend-format, frontend-lint, hardcoded-styles

docs: align connector docs with v0.6.9
  docs/content/development/connector.mdx
  docs/content/development/environment-variables.mdx
  docs/content/sdk/connector/index.mdx
Due: none

refactor(stats): replace complex SQLAlchemy queries with PostgreSQL views
  apps/backend/src/rhesis/backend/alembic/env.py
  apps/backend/src/rhesis/backend/alembic/versions/cb4b107b5daf_add_stats_views.py
  apps/backend/src/rhesis/backend/app/models/__init__.py
  apps/backend/src/rhesis/backend/app/models/soft_delete_events.py
  apps/backend/src/rhesis/backend/app/models/stats_views.py
  apps/backend/src/rhesis/backend/app/services/stats/common.py
  apps/backend/src/rhesis/backend/app/services/stats/test_result.py
  apps/backend/src/rhesis/backend/app/services/stats/test_run.py
Due: backend

perf(db): add indexes on foreign keys and common query columns
  apps/backend/src/rhesis/backend/alembic/versions/5b3d40e898ff_add_performance_indexes_for_stats_views.py
  apps/backend/src/rhesis/backend/app/models/test.py
  apps/backend/src/rhesis/backend/app/models/test_configuration.py
  apps/backend/src/rhesis/backend/app/models/test_result.py
  apps/backend/src/rhesis/backend/app/models/test_run.py
  apps/backend/src/rhesis/backend/app/models/test_set.py
Due: backend

style(backend): clean up verbose docstrings in CRUD and query utilities
  apps/backend/src/rhesis/backend/app/crud.py
  apps/backend/src/rhesis/backend/app/utils/crud_utils.py
  apps/backend/src/rhesis/backend/app/utils/query_utils.py
Due: backend

fix(frontend): resolve "no runs yet" flicker on test-runs page
  apps/frontend/src/app/(protected)/test-runs/components/TestRunCharts.tsx
  apps/frontend/src/app/(protected)/test-runs/page.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

style(routers): clean up verbose docstrings across all router modules
  apps/backend/src/rhesis/backend/app/routers/category.py
  apps/backend/src/rhesis/backend/app/routers/comment.py
  apps/backend/src/rhesis/backend/app/routers/demographic.py
  apps/backend/src/rhesis/backend/app/routers/dimension.py
  apps/backend/src/rhesis/backend/app/routers/endpoint.py
  apps/backend/src/rhesis/backend/app/routers/metric.py
  apps/backend/src/rhesis/backend/app/routers/model.py
  apps/backend/src/rhesis/backend/app/routers/project.py
  apps/backend/src/rhesis/backend/app/routers/prompt.py
  apps/backend/src/rhesis/backend/app/routers/prompt_template.py
  apps/backend/src/rhesis/backend/app/routers/response_pattern.py
  apps/backend/src/rhesis/backend/app/routers/risk.py
  apps/backend/src/rhesis/backend/app/routers/source.py
  apps/backend/src/rhesis/backend/app/routers/status.py
  apps/backend/src/rhesis/backend/app/routers/tag.py
  apps/backend/src/rhesis/backend/app/routers/test.py
  apps/backend/src/rhesis/backend/app/routers/test_configuration.py
  apps/backend/src/rhesis/backend/app/routers/test_context.py
  apps/backend/src/rhesis/backend/app/routers/test_result.py
  apps/backend/src/rhesis/backend/app/routers/test_run.py
  apps/backend/src/rhesis/backend/app/routers/test_set.py
  apps/backend/src/rhesis/backend/app/routers/token.py
  apps/backend/src/rhesis/backend/app/routers/topic.py
  apps/backend/src/rhesis/backend/app/routers/type_lookup.py
  apps/backend/src/rhesis/backend/app/routers/use_case.py
Due: backend

style(backend): apply ruff formatting to crud.py
  apps/backend/src/rhesis/backend/app/crud.py
Due: backend

fix(test): update TestRunPerformance mock to match new stats API shape
  apps/frontend/src/app/(protected)/dashboard/components/__tests__/TestRunPerformance.test.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(test): clear _get_fernet lru_cache when tests change encryption key
  tests/backend/test_encryption.py
Due: none

fix(stats): address PR review — status_ids, soft-delete, timeline metrics
  apps/backend/src/rhesis/backend/alembic/versions/cb4b107b5daf_add_stats_views.py
  apps/backend/src/rhesis/backend/app/models/stats_views.py
  apps/backend/src/rhesis/backend/app/routers/comment.py
  apps/backend/src/rhesis/backend/app/services/stats/test_result.py
Due: backend

refactor(stats): replace magic strings with TestResultStatus enum
  apps/backend/src/rhesis/backend/alembic/versions/cb4b107b5daf_add_stats_views.py
  apps/backend/src/rhesis/backend/app/constants.py
  apps/backend/src/rhesis/backend/app/services/stats/test.py
  apps/backend/src/rhesis/backend/app/services/stats/test_result.py
  apps/backend/src/rhesis/backend/app/services/stats/test_run.py
Due: backend

refactor(stats): use TestResultStatus enum for internal dict keys
  apps/backend/src/rhesis/backend/app/services/stats/test.py
  apps/backend/src/rhesis/backend/app/services/stats/test_result.py
Due: backend

refactor: replace status magic strings in review_override and test_set
  apps/backend/src/rhesis/backend/app/services/review_override.py
  apps/backend/src/rhesis/backend/app/services/test_set.py
Due: backend

refactor: centralize enum constants and fix migration syntax
  apps/backend/src/rhesis/backend/alembic/versions/cb4b107b5daf_add_stats_views.py
  apps/backend/src/rhesis/backend/app/constants.py
  apps/backend/src/rhesis/backend/app/models/test.py
  apps/backend/src/rhesis/backend/app/routers/test_result.py
  apps/backend/src/rhesis/backend/app/services/review_override.py
  apps/backend/src/rhesis/backend/app/services/stats/test.py
  apps/backend/src/rhesis/backend/app/services/stats/test_result.py
  apps/backend/src/rhesis/backend/app/services/stats/test_run.py
  apps/backend/src/rhesis/backend/app/services/test_execution.py
  apps/backend/src/rhesis/backend/app/services/test_set.py
  apps/backend/src/rhesis/backend/tasks/enums.py
  apps/backend/src/rhesis/backend/tasks/execution/executors/metrics.py
  apps/backend/src/rhesis/backend/tasks/execution/executors/results.py
Due: backend

fix(ci): update trivy-action to use master branch to resolve missing 0.34.1 tag error
  .github/workflows/security-trivy.yml
Due: none

ci: fix trivy-action version resolution
  .github/workflows/security-trivy.yml
Due: none

style(frontend): format frontend components
  apps/frontend/src/app/(protected)/dashboard/components/DashboardKPIs.tsx
  apps/frontend/src/app/(protected)/dashboard/components/TestRunPerformance.tsx
  apps/frontend/src/app/(protected)/test-runs/components/TestRunCharts.tsx
  apps/frontend/src/contexts/OnboardingContext.tsx
Due: frontend-format, frontend-lint, hardcoded-styles
