Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, docs-format, hardcoded-styles

sdk:
  name: format sdk
  language: system
  entry: make -C sdk format
  pass_filenames: false

backend:
  name: format backend
  language: system
  entry: make -C apps/backend format_diff
  pass_filenames: false

frontend-format:
  name: auto-fix frontend formatting
  language: system
  entry: bash -c "cd apps/frontend && npm run format"
  pass_filenames: false

frontend-lint:
  name: lint frontend
  language: system
  entry: bash -c "cd apps/frontend && npm run lint"
  pass_filenames: false

docs-format:
  name: auto-fix docs formatting
  language: system
  entry: bash -c "cd apps/documentation && npm run format"
  pass_filenames: false

hardcoded-styles:
  name: check hardcoded styles in frontend and docs
  language: system
  entry: node scripts/check-hardcoded-styles.js
  pass_filenames: false

fix(frontend): make SelectMetricsDialog loading state reliable
  apps/frontend/src/components/common/SelectMetricsDialog.tsx
  apps/frontend/src/components/common/__tests__/SelectMetricsDialog.test.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): update SelectMetricsDialog test and fix ESLint errors
  apps/frontend/src/components/common/ConversationHistory.tsx
  apps/frontend/src/components/common/EntityCard.tsx
  apps/frontend/src/components/common/SelectMetricsDialog.tsx
  apps/frontend/src/components/common/__tests__/SelectMetricsDialog.test.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): address Peqy review comments on PR #1447
  apps/frontend/src/app/(protected)/dashboard/components/__tests__/ActivityTimeline.test.tsx
  apps/frontend/src/app/(protected)/playground/components/__tests__/PlaygroundChat.test.tsx
  apps/frontend/src/components/common/SelectMetricsDialog.tsx
  apps/frontend/src/components/navigation/__tests__/SidebarFooter.test.tsx
  apps/frontend/src/utils/__tests__/task-lookup.test.ts
Due: frontend-format, frontend-lint, hardcoded-styles

refactor(sdk): implement async evaluation methods in NumericEvaluationMixin and NumericJudge
  sdk/src/rhesis/sdk/metrics/providers/native/evaluation_patterns.py
  sdk/src/rhesis/sdk/metrics/providers/native/numeric_judge.py
Due: sdk

refactor(sdk): enhance Ragas metrics with async evaluation methods
  sdk/src/rhesis/sdk/metrics/providers/ragas/metrics.py
  sdk/src/rhesis/sdk/metrics/providers/ragas/model.py
Due: sdk

feat(sdk): add async evaluation methods in CategoricalJudge
  sdk/src/rhesis/sdk/metrics/providers/native/categorical_judge.py
Due: sdk

refactor(tests): update tests to use async model generation methods
  tests/sdk/metrics/providers/native/test_categorical_judge.py
  tests/sdk/metrics/providers/native/test_conversational_judges.py
  tests/sdk/metrics/providers/native/test_numeric_judge.py
Due: none

refactor(sdk): implement async evaluation methods in DeepEval metrics
  sdk/src/rhesis/sdk/metrics/providers/deepeval/metrics.py
  sdk/src/rhesis/sdk/metrics/providers/deepeval/model.py
Due: sdk

update timeout parameter in the create_completion
  sdk/src/rhesis/sdk/models/providers/polyphemus.py
Due: sdk

refactor(frontend): simplify AdaptiveTestingDetail component code
  apps/frontend/src/app/(protected)/adaptive-testing/[identifier]/components/AdaptiveTestingDetail.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

feat(backend): add evaluate endpoint for adaptive testing
  apps/backend/src/rhesis/backend/app/routers/adaptive_testing.py
  apps/backend/src/rhesis/backend/app/schemas/adaptive_testing.py
  apps/backend/src/rhesis/backend/app/services/adaptive_testing.py
  tests/backend/routes/test_adaptive_testing.py
  tests/backend/services/test_adaptive_testing.py
Due: backend

feat(frontend): add evaluate button and dialog for adaptive testing
  apps/frontend/src/app/(protected)/adaptive-testing/[identifier]/components/AdaptiveTestingDetail.tsx
  apps/frontend/src/utils/api-client/adaptive-testing-client.ts
  apps/frontend/src/utils/api-client/interfaces/adaptive-testing.ts
Due: frontend-format, frontend-lint, hardcoded-styles

feat(backend): integrate MetricEvaluator for adaptive testing evaluation
  apps/backend/src/rhesis/backend/app/services/adaptive_testing.py
  apps/frontend/src/app/(protected)/adaptive-testing/[identifier]/components/AdaptiveTestingDetail.tsx
  rh
  tests/backend/services/test_adaptive_testing.py
Due: backend, frontend-format, frontend-lint, hardcoded-styles

feat(backend, frontend): add suggestion generation and evaluation endpoints
  apps/backend/src/rhesis/backend/app/routers/adaptive_testing.py
  apps/backend/src/rhesis/backend/app/schemas/adaptive_testing.py
  apps/backend/src/rhesis/backend/app/services/adaptive_testing.py
  apps/frontend/src/app/(protected)/adaptive-testing/[identifier]/components/AdaptiveTestingDetail.tsx
  apps/frontend/src/app/(protected)/adaptive-testing/[identifier]/components/SuggestionsDialog.tsx
  apps/frontend/src/utils/api-client/adaptive-testing-client.ts
  apps/frontend/src/utils/api-client/interfaces/adaptive-testing.ts
Due: backend, frontend-format, frontend-lint, hardcoded-styles

feat(backend): skip attribute regeneration for adaptive testing test sets
  apps/backend/src/rhesis/backend/app/services/test_set.py
Due: backend

feat(backend, frontend): add optional label parameter for adaptive tests
  apps/backend/src/rhesis/backend/app/routers/adaptive_testing.py
  apps/backend/src/rhesis/backend/app/services/adaptive_testing.py
  apps/frontend/src/app/(protected)/adaptive-testing/[identifier]/components/SuggestionsDialog.tsx
Due: backend, frontend-format, frontend-lint, hardcoded-styles

build(backend): upgrade garak to v0.14.0 with python 3.12
  apps/backend/.python-version
  apps/backend/pyproject.toml
  apps/backend/src/rhesis/backend/alembic/versions/c2d3e4f5a6b7_add_garak_v0_13_3_detector_metrics.py
  apps/backend/src/rhesis/backend/app/services/garak/__init__.py
  apps/backend/src/rhesis/backend/app/services/garak/cache.py
  apps/backend/src/rhesis/backend/app/services/garak/compat.py
  apps/backend/src/rhesis/backend/app/services/garak/probes/models.py
  apps/backend/src/rhesis/backend/app/services/garak/probes/service.py
  apps/backend/src/rhesis/backend/app/services/garak/taxonomy.py
  apps/backend/src/rhesis/backend/app/services/initial_data.json
  apps/backend/uv.lock
  apps/chatbot/uv.lock
  apps/worker/.python-version
  apps/worker/pyproject.toml
  apps/worker/uv.lock
  sdk/pyproject.toml
  sdk/src/rhesis/sdk/metrics/providers/garak/factory.py
  tests/backend/services/garak/test_garak_compat.py
  tests/backend/services/garak/test_taxonomy.py
  tests/sdk/metrics/providers/garak/test_factory.py
  tests/sdk/metrics/providers/garak/test_garak_live.py
Due: sdk, backend

feat(backend): add dynamic probe generation with tag catalog
  apps/backend/src/rhesis/backend/app/routers/garak.py
  apps/backend/src/rhesis/backend/app/schemas/garak.py
  apps/backend/src/rhesis/backend/app/services/garak/dynamic.py
  apps/backend/src/rhesis/backend/app/services/garak/tag_catalog.py
  tests/backend/services/garak/test_dynamic.py
  tests/backend/services/garak/test_tag_catalog.py
Due: backend

refactor(backend): replace magic strings with TestSetType constants
  apps/backend/src/rhesis/backend/app/constants.py
  apps/backend/src/rhesis/backend/app/routers/test_set.py
  apps/backend/src/rhesis/backend/app/schemas/services.py
  apps/backend/src/rhesis/backend/app/services/file_import/service.py
  apps/backend/src/rhesis/backend/app/services/test_set.py
  apps/backend/src/rhesis/backend/tasks/test_set.py
  tests/backend/tasks/test_test_set_metadata.py
Due: backend

fix(tests): resolve env var clobbering that broke test migrations
  apps/backend/src/rhesis/backend/logging/logging_config.py
  tests/backend/conftest.py
  tests/backend/fixtures/database.py
Due: backend

update-polyphemus-default-model-name
  sdk/src/rhesis/sdk/models/defaults.py
  sdk/src/rhesis/sdk/models/providers/polyphemus.py
Due: sdk

update default model name
  sdk/src/rhesis/sdk/models/providers/polyphemus.py
Due: sdk

refactor(sdk): optimize RhesisLLM for connection pooling with aiohttp
  sdk/src/rhesis/sdk/models/providers/native.py
  tests/sdk/models/providers/test_rhesis.py
Due: sdk

fix:test in the polyphemus sdk
  tests/sdk/models/providers/test_polyphemus.py
Due: none

consider the empty string
  sdk/src/rhesis/sdk/models/providers/polyphemus.py
Due: sdk

feat(sdk): centralize garak detectors in yaml registry
  sdk/.python-version
  sdk/pyproject.toml
  sdk/src/rhesis/sdk/metrics/providers/garak/__init__.py
  sdk/src/rhesis/sdk/metrics/providers/garak/detector_metric.py
  sdk/src/rhesis/sdk/metrics/providers/garak/detectors.yaml
  sdk/src/rhesis/sdk/metrics/providers/garak/factory.py
  sdk/src/rhesis/sdk/metrics/providers/garak/registry.py
  sdk/uv.lock
Due: sdk

feat(backend): inject garak metrics from sdk registry
  apps/backend/src/rhesis/backend/alembic/versions/d3e4f5a6b7c8_update_garak_v014_detector_paths.py
  apps/backend/src/rhesis/backend/app/services/initial_data.json
  apps/backend/src/rhesis/backend/app/services/organization.py
  apps/backend/uv.lock
Due: backend

test(tests): update garak tests for v0.14 and registry
  tests/sdk/metrics/providers/garak/test_detector_metric.py
  tests/sdk/metrics/providers/garak/test_factory.py
  tests/sdk/metrics/providers/garak/test_garak_live.py
Due: none

feat(frontend): add dynamic probe support to garak import
  apps/frontend/src/app/(protected)/test-sets/components/GarakImportDialog.tsx
  apps/frontend/src/utils/api-client/garak-client.ts
Due: frontend-format, frontend-lint, hardcoded-styles

refactor(backend): address code review findings in garak services
  apps/backend/src/rhesis/backend/app/routers/garak.py
  apps/backend/src/rhesis/backend/app/services/garak/cache.py
  apps/backend/src/rhesis/backend/app/services/garak/dynamic.py
  apps/backend/src/rhesis/backend/app/services/garak/probes/models.py
  apps/backend/src/rhesis/backend/app/services/garak/probes/service.py
  apps/backend/src/rhesis/backend/app/services/garak/taxonomy.py
  tests/backend/services/garak/test_dynamic.py
  tests/backend/services/garak/test_garak_live.py
  tests/backend/services/garak/test_taxonomy.py
Due: backend

feat(frontend): add @mention reviews, resizable split panel, and review modal
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/ReviewJudgementDrawer.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestDetailMetricsTab.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestDetailPanel.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestDetailReviewsTab.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestResultDrawer.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestRunMainView.tsx
  apps/frontend/src/components/common/MentionTextInput.tsx
  apps/frontend/src/styles/theme.ts
Due: frontend-format, frontend-lint, hardcoded-styles

feat(frontend): add @mention support to review comments
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/ReviewJudgementDrawer.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

feat(frontend): add configurable anchor prop to BaseDrawer
  apps/frontend/src/components/common/BaseDrawer.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

refactor(penelope): rename goal metric to goal_achievement
  docs/content/conversation-simulation/execution-trace.mdx
  penelope/examples/multi_metric_evaluation.py
  penelope/src/rhesis/penelope/agent.py
  penelope/src/rhesis/penelope/context.py
  tests/penelope/test_agent.py
  tests/penelope/test_context.py
Due: none

fix(backend): preserve mappings when llm correction omits them
  apps/backend/src/rhesis/backend/app/services/endpoint/auto_configure.py
  apps/backend/src/rhesis/backend/app/templates/auto_configure_correct.jinja2
Due: backend

fix(frontend): use double-brace syntax in placeholder examples
  apps/frontend/src/app/(protected)/endpoints/components/EndpointForm.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(backend): upgrade docker base image to python 3.12 and fix lint
  apps/backend/Dockerfile
  apps/backend/Dockerfile.dev
  apps/backend/src/rhesis/backend/app/schemas/garak.py
Due: backend

feat(backend): persist review overrides and update test result status
  apps/backend/src/rhesis/backend/alembic/versions/c4d5e6f7a8b9_rename_review_target_test_to_test_result.py
  apps/backend/src/rhesis/backend/app/models/test_result.py
  apps/backend/src/rhesis/backend/app/routers/test_result.py
  apps/backend/src/rhesis/backend/app/schemas/test_result.py
Due: backend

feat(frontend): reflect review overrides in status and test run stats
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/ReviewJudgementDrawer.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestDetailConversationTab.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestDetailMetricsTab.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestDetailOverviewTab.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestDetailPanel.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestDetailReviewsTab.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestResultDrawer.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestRunHeader.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestsList.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestsTableView.tsx
  apps/frontend/src/components/common/ConversationHistory.tsx
  apps/frontend/src/components/common/MentionTextInput.tsx
  apps/frontend/src/components/common/StatusChip.tsx
  apps/frontend/src/utils/__tests__/test-result-status.test.ts
  apps/frontend/src/utils/api-client/interfaces/test-results.ts
  apps/frontend/src/utils/api-client/test-results-client.ts
  apps/frontend/src/utils/test-result-status.ts
Due: frontend-format, frontend-lint, hardcoded-styles

Path conditions:
  sdk: any of: ^sdk/
  backend: any of: ^apps/backend/
  frontend-format: any of: ^apps/frontend/
  frontend-lint: any of: ^apps/frontend/
  docs-format: any of: ^apps/documentation/
  hardcoded-styles: any of: ^apps/(frontend|documentation)/
