Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, frontend-hardcoded-styles

sdk:
  name: format sdk
  language: system
  entry: make -C sdk format
  pass_filenames: false

backend:
  name: format backend
  language: system
  entry: make -C apps/backend format_diff
  pass_filenames: false

frontend-format:
  name: auto-fix frontend formatting
  language: system
  entry: cd apps/frontend && npm run format
  pass_filenames: false

frontend-lint:
  name: lint frontend
  language: system
  entry: cd apps/frontend && npm run lint
  pass_filenames: false

frontend-hardcoded-styles:
  name: check hardcoded styles in frontend
  language: system
  entry: node scripts/check-hardcoded-styles.js
  pass_filenames: false

chore: Restore production rate limit of 100/day
  apps/chatbot/client.py
Due: none

refactor(frontend): simplify knowledge constants and follow platform patterns
  apps/frontend/src/app/(protected)/knowledge/[id]/components/SourcePreviewClientWrapper.tsx
  apps/frontend/src/app/(protected)/knowledge/components/SourcesGrid.tsx
  apps/frontend/src/app/(protected)/knowledge/components/UploadSourceDialog.tsx
  apps/frontend/src/constants/knowledge.ts
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

feat: Adjust rate limits to account for 2-worker architecture
  apps/chatbot/client.py
Due: none

feat: Update to 4 workers and adjust rate limits accordingly
  apps/chatbot/Dockerfile
  apps/chatbot/client.py
Due: none

refactor: Simplify rate limit documentation for users
  apps/chatbot/client.py
Due: none

refactor(frontend): consolidate knowledge section CSS
  apps/frontend/src/app/(protected)/knowledge/[id]/components/SourcePreviewClientWrapper.tsx
  apps/frontend/src/app/(protected)/knowledge/components/KnowledgeClientWrapper.tsx
  apps/frontend/src/app/(protected)/knowledge/components/SourcesGrid.tsx
  apps/frontend/src/app/(protected)/knowledge/page.tsx
  apps/frontend/src/styles/Knowledge.module.css
  apps/frontend/src/styles/KnowledgeClientWrapper.module.css
  apps/frontend/src/styles/KnowledgePage.module.css
  apps/frontend/src/styles/SourcePreview.module.css
  apps/frontend/src/styles/SourcesGrid.module.css
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

feat: Auto-calculate per-worker rate limits from total limit
  apps/chatbot/client.py
Due: none

feat: Make worker count configurable via WORKERS environment variable
  apps/chatbot/Dockerfile
Due: none

feat: Add WORKERS environment variable to chatbot deployment
  .github/workflows/chatbot.yml
Due: none

feat(sdk): add Vertex AI provider with hybrid authentication support
  sdk/src/rhesis/sdk/models/__init__.py
  sdk/src/rhesis/sdk/models/factory.py
  sdk/src/rhesis/sdk/models/providers/vertex_ai.py
Due: sdk

test(sdk): add comprehensive unit tests for Vertex AI provider
  tests/sdk/models/providers/test_vertex_ai.py
  tests/sdk/models/test_model_factory.py
Due: none

style(sdk): run ruff format on vertex_ai provider
  sdk/src/rhesis/sdk/models/providers/vertex_ai.py
Due: sdk

fix(sdk): fix line length linting error in vertex_ai provider
  sdk/src/rhesis/sdk/models/providers/vertex_ai.py
Due: sdk

feat(backend): migrate /generate/content endpoint to Vertex AI
  apps/backend/src/rhesis/backend/app/routers/services.py
Due: backend

fix(backend): add dynamic Pydantic schema conversion for structured output
  apps/backend/src/rhesis/backend/app/routers/services.py
Due: backend

refactor(backend): extract schema conversion to utility and change default to vertex_ai
  apps/backend/src/rhesis/backend/app/constants.py
  apps/backend/src/rhesis/backend/app/routers/services.py
  apps/backend/src/rhesis/backend/app/utils/llm_utils.py
Due: backend

feat(backend): use default generation model constant in test_config_generator
  apps/backend/src/rhesis/backend/app/services/test_config_generator.py
Due: backend

feat(backend): make default model configuration env-variable driven
  apps/backend/src/rhesis/backend/app/constants.py
  apps/backend/src/rhesis/backend/app/routers/services.py
Due: backend

refactor(frontend): improve knowledge section code quality
  apps/frontend/src/app/(protected)/knowledge/[id]/components/SourcePreviewClientWrapper.tsx
  apps/frontend/src/app/(protected)/knowledge/[id]/page.tsx
  apps/frontend/src/app/(protected)/knowledge/components/KnowledgeClientWrapper.tsx
  apps/frontend/src/app/(protected)/knowledge/components/SourcesGrid.tsx
  apps/frontend/src/constants/knowledge.ts
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

refactor: Remove scenarios from test configuration generation
  apps/backend/src/rhesis/backend/app/routers/services.py
  apps/backend/src/rhesis/backend/app/schemas/services.py
  apps/backend/src/rhesis/backend/app/templates/test_config_generator.jinja2
Due: backend

feat: Enhance test configuration generation with database integration
  apps/backend/src/rhesis/backend/app/routers/services.py
  apps/backend/src/rhesis/backend/app/schemas/services.py
  apps/backend/src/rhesis/backend/app/services/test_config_generator.py
  apps/backend/src/rhesis/backend/app/templates/test_config_generator.jinja2
Due: backend

feat(frontend): implement full editing functionality for knowledge sources
  apps/frontend/src/app/(protected)/knowledge/[id]/components/SourcePreviewClientWrapper.tsx
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

fix(frontend): change 'Name' to 'Title' in source detail
  apps/frontend/src/app/(protected)/knowledge/[id]/components/SourcePreviewClientWrapper.tsx
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

refactor: Update test configuration generation to clarify behavior selection
  apps/backend/src/rhesis/backend/app/routers/services.py
  apps/backend/src/rhesis/backend/app/schemas/services.py
  apps/backend/src/rhesis/backend/app/services/test_config_generator.py
  apps/backend/src/rhesis/backend/app/templates/test_config_generator.jinja2
Due: backend

fix: git config in release script
  .github/workflows/create-release.yml
Due: none

Path conditions:
  sdk: any of: ^sdk/
  backend: any of: ^apps/backend/
  frontend-format: any of: ^apps/frontend/
  frontend-lint: any of: ^apps/frontend/
  frontend-hardcoded-styles: any of: ^apps/frontend/
