Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, frontend-hardcoded-styles

sdk:
  name: format sdk
  language: system
  entry: make -C sdk format
  pass_filenames: false

backend:
  name: format backend
  language: system
  entry: make -C apps/backend format_diff
  pass_filenames: false

frontend-format:
  name: auto-fix frontend formatting
  language: system
  entry: cd apps/frontend && npm run format
  pass_filenames: false

frontend-lint:
  name: lint frontend
  language: system
  entry: cd apps/frontend && npm run lint
  pass_filenames: false

frontend-hardcoded-styles:
  name: check hardcoded styles in frontend
  language: system
  entry: node scripts/check-hardcoded-styles.js
  pass_filenames: false

feat(onboarding): create default Rhesis model during organization setup
  apps/backend/src/rhesis/backend/app/services/initial_data.json
  apps/backend/src/rhesis/backend/app/services/organization.py
Due: backend

feat(onboarding): set default Rhesis model in user settings
  apps/backend/src/rhesis/backend/app/routers/organization.py
Due: backend

refactor(llm): simplify model configuration logic and add Rhesis support
  apps/backend/src/rhesis/backend/app/utils/llm_utils.py
Due: backend

feat(models): prevent deletion of protected system models
  apps/backend/src/rhesis/backend/app/crud.py
  apps/backend/src/rhesis/backend/app/routers/model.py
Due: backend

feat(ui): display system models with special styling and disable deletion
  apps/frontend/src/app/(protected)/integrations/models/components/ModelCard.tsx
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

docs: add implementation summary for default Rhesis model feature
  IMPLEMENTATION_SUMMARY_637.md
Due: none

fix(types): add is_protected field to Model TypeScript interfaces
  apps/frontend/src/utils/api-client/interfaces/model.ts
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

feat(ui): use Rhesis SVG logo for default model icon
  apps/backend/src/rhesis/backend/app/services/organization.py
  apps/frontend/src/config/model-providers.tsx
Due: backend, frontend-format, frontend-lint, frontend-hardcoded-styles

feat(db): add default Rhesis model to all existing organizations
  apps/backend/src/rhesis/backend/alembic/versions/e8dd05d20cd0_add_default_rhesis_model_to_existing_.py
Due: backend

feat(ui): use transparent Rhesis logo for model icon
  apps/frontend/public/logos/rhesis-logo-favicon-transparent.svg
  apps/frontend/src/config/model-providers.tsx
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

feat(models): prevent editing of protected system models
  apps/backend/src/rhesis/backend/app/crud.py
  apps/backend/src/rhesis/backend/app/routers/model.py
  apps/frontend/src/app/(protected)/integrations/models/components/ModelCard.tsx
Due: backend, frontend-format, frontend-lint, frontend-hardcoded-styles

style(ui): update Rhesis Managed badge styling
  apps/frontend/src/app/(protected)/integrations/models/components/ModelCard.tsx
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

fix(ui): use consistent text color for model status chips
  apps/frontend/src/app/(protected)/integrations/models/components/ModelCard.tsx
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

feat(models): allow limited editing of protected system models
  apps/backend/src/rhesis/backend/app/crud.py
  apps/frontend/src/app/(protected)/integrations/models/components/ModelCard.tsx
Due: backend, frontend-format, frontend-lint, frontend-hardcoded-styles

feat(ui): hide core config fields for protected models in edit dialog
  apps/frontend/src/app/(protected)/integrations/models/components/ConnectionDialog.tsx
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

fix(models): allow protected model updates when values don't change
  apps/backend/src/rhesis/backend/app/crud.py
Due: backend

fix(ui): exclude protected fields from update requests for protected models
  apps/frontend/src/app/(protected)/integrations/models/components/ConnectionDialog.tsx
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

feat(ui): hide 'rhesis' provider from user-selectable provider list
  apps/frontend/src/app/(protected)/integrations/models/components/ProviderSelectionDialog.tsx
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

feat(db): set Rhesis model as default for users without configured defaults
  apps/backend/src/rhesis/backend/alembic/versions/e8dd05d20cd0_add_default_rhesis_model_to_existing_.py
Due: backend

refactor(db): use UserSettingsManager for setting default models
  apps/backend/src/rhesis/backend/alembic/versions/e8dd05d20cd0_add_default_rhesis_model_to_existing_.py
Due: backend

Path conditions:
  sdk: any of: ^sdk/
  backend: any of: ^apps/backend/
  frontend-format: any of: ^apps/frontend/
  frontend-lint: any of: ^apps/frontend/
  frontend-hardcoded-styles: any of: ^apps/frontend/
