Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, docs-format, hardcoded-styles

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict

  - repo: local
    hooks:
        - id: trufflehog
          name: TruffleHog
          description: Detect secrets in your data.
          entry: bash -c 'PATH="$HOME/.local/bin:$PATH" trufflehog git file://. --since-commit HEAD --only-verified --fail --no-update'
          language: system
          stages: ["pre-commit", "pre-push"]

        - id: sdk
          name  : format sdk
          language: system
          entry: make -C sdk format
          files: ^sdk/
          pass_filenames: false

        - id: backend
          name  : format backend
          language: system
          entry: make -C apps/backend format_diff
          files: ^apps/backend/
          pass_filenames: false

        - id: frontend-format
          name: auto-fix frontend formatting
          language: system
          entry: bash -c "cd apps/frontend && npm run format"
          files: ^apps/frontend/
          pass_filenames: false

        - id: frontend-lint
          name: lint frontend
          language: system
          entry: bash -c "cd apps/frontend && npm run lint"
          files: ^apps/frontend/
          pass_filenames: false

        - id: docs-format
          name: auto-fix docs formatting
          language: system
          entry: bash -c "cd apps/documentation && npm run format"
          files: ^apps/documentation/
          pass_filenames: false

        - id: hardcoded-styles
          name: check hardcoded styles in frontend and docs
          language: system
          entry: node scripts/check-hardcoded-styles.js
          files: ^apps/(frontend|documentation)/
          pass_filenames: false


  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.8.0
  #   hooks:
  #     - id: mypy
  #       additional_dependencies: [
  #         "types-requests",
  #         "pandas-stubs",
  #         "pyarrow-stubs",
  #         "types-tqdm"
  #       ]

Update Celery worker concurrency settings to enhance performance
  apps/worker/start.sh
Due: none

Refactor Celery worker command by removing unnecessary trailing argument
  rh
Due: none

docs: add multi-modal testing section
  docs/content/_meta.tsx
  docs/content/multimodal-testing/_meta.tsx
  docs/content/multimodal-testing/index.mdx
  docs/src/public/screenshots/rhesis-ai-multimodal-playground.png
  docs/src/public/screenshots/rhesis-ai-multimodal-test-attach.png
  docs/src/public/screenshots/rhesis-ai-multimodal-trace.png
Due: none

docs: add multi-modal testing section (#1518)
  docs/content/_meta.tsx
  docs/content/multimodal-testing/_meta.tsx
  docs/content/multimodal-testing/index.mdx
  docs/src/public/screenshots/rhesis-ai-multimodal-playground.png
  docs/src/public/screenshots/rhesis-ai-multimodal-test-attach.png
  docs/src/public/screenshots/rhesis-ai-multimodal-trace.png
Due: none

refactor: Enhance update_test_run_start function to commit session changes immediately
  apps/backend/src/rhesis/backend/tasks/execution/shared.py
Due: backend

refactor: Remove store_test_result function and related calls
  apps/backend/src/rhesis/backend/tasks/execution/sequential.py
  apps/backend/src/rhesis/backend/tasks/execution/shared.py
Due: backend

docs: fix and expand semantic conventions for multi-agent tracing
  docs/content/tracing/semantic-conventions.mdx
Due: none

docs: add multi-agent and conversation tracing pages
  docs/content/tracing/_meta.tsx
  docs/content/tracing/auto-instrumentation.mdx
  docs/content/tracing/conversation-tracing.mdx
  docs/content/tracing/multi-agent.mdx
Due: none

docs: refactor multi-agent tracing to be framework-agnostic
  docs/content/tracing/auto-instrumentation.mdx
  docs/content/tracing/conversation-tracing.mdx
  docs/content/tracing/multi-agent.mdx
  docs/src/public/screenshots/rhesis-ai-tracing-graph-view.png
Due: none

docs: address peqy review comments on tracing docs
  docs/content/tracing/conversation-tracing.mdx
  docs/content/tracing/multi-agent.mdx
Due: none

Fix and expand multi-agent tracing documentation (#1519)
  docs/content/tracing/_meta.tsx
  docs/content/tracing/auto-instrumentation.mdx
  docs/content/tracing/conversation-tracing.mdx
  docs/content/tracing/multi-agent.mdx
  docs/content/tracing/semantic-conventions.mdx
  docs/src/public/screenshots/rhesis-ai-tracing-graph-view.png
Due: none

refactor: make chatbot endpoint async using a_generate
  apps/chatbot/chatbot.py
  apps/chatbot/client.py
  apps/chatbot/demo_tracing.py
  apps/chatbot/endpoint.py
Due: none

chore: increase memory allocation for staging configuration in chatbot workflow
  .github/workflows/chatbot.yml
Due: none

docs: add playground page and update tracing and test execution
  docs/content/platform/_meta.tsx
  docs/content/platform/playground/index.mdx
  docs/content/platform/test-execution/index.mdx
  docs/content/tracing/multi-agent.mdx
  docs/src/public/screenshots/rhesis-ai-playground.png
Due: none

docs: add playground page and update tracing and test execution (#1521)
  docs/content/platform/_meta.tsx
  docs/content/platform/playground/index.mdx
  docs/content/platform/test-execution/index.mdx
  docs/content/tracing/multi-agent.mdx
  docs/src/public/screenshots/rhesis-ai-playground.png
Due: none

chore: update memory allocation for staging configuration in chatbot workflow from 2Gi to 4Gi
  .github/workflows/chatbot.yml
Due: none

docs: add test set import from file and garak pages
  docs/content/platform/test-sets/_meta.tsx
  docs/content/platform/test-sets/import-from-file.mdx
  docs/content/platform/test-sets/import-from-garak.mdx
  docs/content/platform/test-sets/index.mdx
  docs/src/public/screenshots/rhesis-ai-testsets-import-file.png
  docs/src/public/screenshots/rhesis-ai-testsets-import-garak.png
  docs/src/public/screenshots/rhesis-ai-testsets-inspect-data.png
Due: none

docs: centralize screenshot style and update garak v0.14 metrics
  docs/content/multimodal-testing/index.mdx
  docs/content/platform/playground/index.mdx
  docs/content/sdk/metrics/single-turn.mdx
  docs/content/tracing/multi-agent.mdx
  docs/src/package-lock.json
  docs/src/styles/globals.css
Due: none

docs: clarify import button location on test sets page
  docs/content/platform/test-sets/import-from-file.mdx
  docs/content/platform/test-sets/import-from-garak.mdx
Due: none

docs: remove unsupported metadata field from import-from-file
  docs/content/platform/test-sets/import-from-file.mdx
Due: none

Make chatbot endpoint async using a_generate (#1520)
  .github/workflows/chatbot.yml
  apps/chatbot/chatbot.py
  apps/chatbot/client.py
  apps/chatbot/demo_tracing.py
  apps/chatbot/endpoint.py
Due: none

fix(frontend): keep garak dynamic import dialog open on completion
  apps/frontend/src/app/(protected)/test-sets/components/GarakImportDialog.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(backend): replace ToxicCommentModel with PerspectiveToxicity
  apps/backend/src/rhesis/backend/app/services/garak/taxonomy.py
  docs/content/sdk/metrics/single-turn.mdx
  sdk/src/rhesis/sdk/metrics/providers/garak/detectors.yaml
Due: sdk, backend

fix(backend): simplify ToxicCommentModel substitution comments
  apps/backend/src/rhesis/backend/app/services/garak/taxonomy.py
  docs/content/sdk/metrics/single-turn.mdx
  sdk/src/rhesis/sdk/metrics/providers/garak/detectors.yaml
Due: sdk, backend

fix(frontend): use theme borderRadius and fix formatting
  apps/frontend/src/app/(protected)/test-sets/components/GarakImportDialog.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): add null-safe chaining to isCompleteWithDynamic
  apps/frontend/src/app/(protected)/test-sets/components/GarakImportDialog.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): use theme.shape.borderRadius instead of hardcoded value
  apps/frontend/src/app/(protected)/test-sets/components/GarakImportDialog.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(tests): update donotanswer test to expect perspective.Toxicity
  tests/backend/services/garak/test_taxonomy.py
Due: none

fix(backend): override ToxicCommentModel in probe detector resolution
  apps/backend/src/rhesis/backend/app/services/garak/compat.py
  tests/backend/services/garak/test_garak_compat.py
Due: backend

fix(sdk): clarify ToxicCommentModel scope in docs and detectors.yaml
  docs/content/sdk/metrics/single-turn.mdx
  sdk/src/rhesis/sdk/metrics/providers/garak/detectors.yaml
Due: sdk

fix(sdk): override ToxicCommentModel with PerspectiveToxicity
  sdk/src/rhesis/sdk/metrics/providers/garak/detector_metric.py
  tests/sdk/metrics/providers/garak/test_detector_metric.py
Due: sdk

docs: update ToxicCommentModel callout for SDK and self-hosted
  docs/content/sdk/metrics/single-turn.mdx
Due: none

Add Test Set import documentation (file & Garak) (#1522)
  apps/backend/src/rhesis/backend/app/services/garak/compat.py
  apps/backend/src/rhesis/backend/app/services/garak/taxonomy.py
  docs/content/multimodal-testing/index.mdx
  docs/content/platform/playground/index.mdx
  docs/content/platform/test-sets/_meta.tsx
  docs/content/platform/test-sets/import-from-file.mdx
  docs/content/platform/test-sets/import-from-garak.mdx
  docs/content/platform/test-sets/index.mdx
  docs/content/sdk/metrics/single-turn.mdx
  docs/content/tracing/multi-agent.mdx
  docs/src/package-lock.json
  docs/src/public/screenshots/rhesis-ai-testsets-import-file.png
  docs/src/public/screenshots/rhesis-ai-testsets-import-garak.png
  docs/src/public/screenshots/rhesis-ai-testsets-inspect-data.png
  docs/src/styles/globals.css
  sdk/src/rhesis/sdk/metrics/providers/garak/detector_metric.py
  sdk/src/rhesis/sdk/metrics/providers/garak/detectors.yaml
  tests/backend/services/garak/test_garak_compat.py
  tests/backend/services/garak/test_taxonomy.py
  tests/sdk/metrics/providers/garak/test_detector_metric.py
Due: sdk, backend

Fix Garak dynamic import dialog auto-closing on completion (#1523)
  apps/frontend/src/app/(protected)/test-sets/components/GarakImportDialog.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

test(e2e): add coverage for playground, metrics, test run actions, onboarding
  apps/frontend/tests/e2e/tests/metrics-crud.spec.ts
  apps/frontend/tests/e2e/tests/onboarding.spec.ts
  apps/frontend/tests/e2e/tests/playground-crud.spec.ts
  apps/frontend/tests/e2e/tests/test-run-result-actions.spec.ts
Due: frontend-format, frontend-lint, hardcoded-styles

test(e2e): address PR review feedback
  apps/frontend/tests/e2e/tests/onboarding.spec.ts
  apps/frontend/tests/e2e/tests/playground-crud.spec.ts
Due: frontend-format, frontend-lint, hardcoded-styles

test(e2e): fix create-test drawer test and flaky sanity assertion
  apps/frontend/tests/e2e/tests/playground-crud.spec.ts
Due: frontend-format, frontend-lint, hardcoded-styles

test(e2e): add coverage for playground, metrics CRUD, test run result actions, and onboarding (#1524)
  apps/frontend/tests/e2e/tests/metrics-crud.spec.ts
  apps/frontend/tests/e2e/tests/onboarding.spec.ts
  apps/frontend/tests/e2e/tests/playground-crud.spec.ts
  apps/frontend/tests/e2e/tests/test-run-result-actions.spec.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix: remove litellm ssl transport error filter
  sdk/src/rhesis/sdk/models/providers/litellm.py
  sdk/uv.lock
Due: sdk

fix: remove litellm ssl transport error filter (#1525)
  sdk/src/rhesis/sdk/models/providers/litellm.py
  sdk/uv.lock
Due: sdk
