Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, frontend-hardcoded-styles

sdk:
  name: format sdk
  language: system
  entry: make -C sdk format
  pass_filenames: false

backend:
  name: format backend
  language: system
  entry: make -C apps/backend format_diff
  pass_filenames: false

frontend-format:
  name: auto-fix frontend formatting
  language: system
  entry: cd apps/frontend && npm run format
  pass_filenames: false

frontend-lint:
  name: lint frontend
  language: system
  entry: cd apps/frontend && npm run lint
  pass_filenames: false

frontend-hardcoded-styles:
  name: check hardcoded styles in frontend
  language: system
  entry: node scripts/check-hardcoded-styles.js
  pass_filenames: false

refactor(backend): Improve _metric_model_to_dict using SDK utilities
  apps/backend/src/rhesis/backend/metrics/evaluator.py
Due: backend

style(backend): Format evaluator.py with ruff
  apps/backend/src/rhesis/backend/metrics/evaluator.py
Due: backend

fix: update migration order to follow main branch migrations
  apps/backend/src/rhesis/backend/alembic/versions/e9320c797e43_rename_provider_types_together_meta.py
Due: backend

fix: move description parameter to end of get_or_create_type_lookup for backward compatibility
  apps/backend/src/rhesis/backend/app/services/organization.py
  apps/backend/src/rhesis/backend/app/utils/crud_utils.py
  tests/backend/utils/test_crud_utils.py
Due: backend

fix(frontend): remove remaining document references and fix config generation error
  apps/frontend/src/app/(protected)/knowledge/components/UploadSourceDialog.tsx
  apps/frontend/src/app/(protected)/tests/new-generated/components/TestGenerationFlow.tsx
  apps/frontend/src/app/(protected)/tests/new-generated/components/TestGenerationInterface.tsx
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

feat(test-generation): replace document uploads with source_ids
  apps/backend/src/rhesis/backend/app/routers/services.py
  apps/backend/src/rhesis/backend/app/schemas/services.py
  apps/backend/src/rhesis/backend/app/services/generation.py
Due: backend

feat(frontend): update test generation to use sources instead of documents
  apps/frontend/src/app/(protected)/tests/new-generated/components/TestGenerationFlow.tsx
  apps/frontend/src/utils/api-client/services-client.ts
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

fix(frontend): remove remaining document references from test generation components
  apps/frontend/src/app/(protected)/tests/new-generated/components/TestConfigurationConfirmation.tsx
  apps/frontend/src/app/(protected)/tests/new-generated/components/TestGenerationFlow.tsx
  apps/frontend/src/app/(protected)/tests/new-generated/components/TestGenerationInterface.tsx
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

fix(frontend): remove undefined documents reference from TestConfigurationConfirmation
  apps/frontend/src/app/(protected)/tests/new-generated/components/TestConfigurationConfirmation.tsx
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

feat: add source indicators to test and test set grids
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/TestSetDetailsSection.tsx
  apps/frontend/src/app/(protected)/test-sets/components/TestSetsGrid.tsx
  apps/frontend/src/app/(protected)/tests/components/TestsGrid.tsx
  apps/frontend/src/app/(protected)/tests/new-generated/components/TestGenerationInterface.tsx
  apps/frontend/src/app/(protected)/tests/new-generated/components/TestInputScreen.tsx
  apps/frontend/src/app/(protected)/tests/new-generated/components/shared/ContextPreview.tsx
  apps/frontend/src/app/(protected)/tests/new-generated/components/shared/SourceSelector.tsx
  apps/frontend/src/app/(protected)/tests/new-generated/components/shared/types.ts
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

fix: resolve merge conflict and fix hardcoded styles
  apps/frontend/src/app/(protected)/tests/new-generated/components/TestGenerationInterface.tsx
  apps/frontend/src/app/(protected)/tests/new-generated/components/shared/ContextPreview.tsx
  apps/frontend/src/app/(protected)/tests/new-generated/components/shared/TestSampleCard.tsx
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

fix: add context sources to test generation and fix DocumentSynthesizer initialization
  apps/backend/src/rhesis/backend/app/routers/services.py
  apps/backend/src/rhesis/backend/app/services/generation.py
  apps/frontend/src/app/(protected)/tests/new-generated/components/TestGenerationFlow.tsx
Due: backend, frontend-format, frontend-lint, frontend-hardcoded-styles

feat(test-generation): display source context in test samples
  apps/backend/src/rhesis/backend/app/routers/services.py
  apps/backend/src/rhesis/backend/app/schemas/services.py
  apps/frontend/src/app/(protected)/tests/new-generated/components/TestGenerationFlow.tsx
  apps/frontend/src/app/(protected)/tests/new-generated/components/shared/ContextPreview.tsx
  apps/frontend/src/app/(protected)/tests/new-generated/components/shared/SourceSelector.tsx
  apps/frontend/src/app/(protected)/tests/new-generated/components/shared/TestSampleCard.tsx
  apps/frontend/src/app/(protected)/tests/new-generated/components/shared/types.ts
  apps/frontend/src/utils/api-client/services-client.ts
Due: backend, frontend-format, frontend-lint, frontend-hardcoded-styles

feat: Add source_id tracking to tests generated from documents
  apps/backend/src/rhesis/backend/app/routers/test_set.py
  apps/backend/src/rhesis/backend/app/services/test.py
  apps/backend/src/rhesis/backend/tasks/test_set.py
  sdk/src/rhesis/sdk/synthesizers/factory.py
  sdk/src/rhesis/sdk/synthesizers_v2/factory.py
Due: sdk, backend

fix: remove unused documents section and DescriptionIcon import
  apps/frontend/src/app/(protected)/tests/new-generated/components/TestGenerationInterface.tsx
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

fix: remove unused documents state and import
  apps/frontend/src/app/(protected)/tests/new-generated/components/TestGenerationFlow.tsx
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

feat(test-generation): pass source_ids to test set generation
  apps/backend/src/rhesis/backend/app/routers/test_set.py
  apps/frontend/src/app/(protected)/tests/new-generated/components/TestGenerationFlow.tsx
  apps/frontend/src/app/(protected)/tests/new-generated/components/shared/types.ts
  apps/frontend/src/utils/api-client/interfaces/test-set.ts
Due: backend, frontend-format, frontend-lint, frontend-hardcoded-styles

fix: Apply pre-commit formatting fix
  apps/backend/src/rhesis/backend/app/services/test.py
Due: backend

refactor: Change source_ids from UUID list to SourceData objects
  apps/backend/src/rhesis/backend/app/routers/services.py
  apps/backend/src/rhesis/backend/app/routers/test_set.py
  apps/backend/src/rhesis/backend/app/schemas/services.py
  apps/frontend/src/app/(protected)/tests/new-generated/components/TestGenerationFlow.tsx
  apps/frontend/src/app/(protected)/tests/new-generated/components/TestInputScreen.tsx
  apps/frontend/src/app/(protected)/tests/new-generated/components/shared/SourceSelector.tsx
  apps/frontend/src/utils/api-client/interfaces/test-set.ts
  apps/frontend/src/utils/api-client/services-client.ts
Due: backend, frontend-format, frontend-lint, frontend-hardcoded-styles

refactor: Rename source_ids to sources for better semantic clarity
  apps/backend/src/rhesis/backend/app/routers/services.py
  apps/backend/src/rhesis/backend/app/routers/test_set.py
  apps/backend/src/rhesis/backend/app/schemas/services.py
  apps/frontend/src/app/(protected)/tests/new-generated/components/TestGenerationFlow.tsx
  apps/frontend/src/utils/api-client/interfaces/test-set.ts
  apps/frontend/src/utils/api-client/services-client.ts
Due: backend, frontend-format, frontend-lint, frontend-hardcoded-styles

refactor(backend): make SourceData fields optional except id
  apps/backend/src/rhesis/backend/app/schemas/services.py
Due: backend

Path conditions:
  sdk: any of: ^sdk/
  backend: any of: ^apps/backend/
  frontend-format: any of: ^apps/frontend/
  frontend-lint: any of: ^apps/frontend/
  frontend-hardcoded-styles: any of: ^apps/frontend/
