Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend

sdk:
  name: format sdk
  language: system
  entry: make -C sdk format
  pass_filenames: false

backend:
  name: format backend
  language: system
  entry: make -C apps/backend format
  pass_filenames: false

docs: Update task docstring for DocumentSynthesizer integration
  apps/backend/src/rhesis/backend/tasks/test_set.py
Due: backend

fix: remove minimum size threshold from ContextGenerator
  sdk/src/rhesis/sdk/services/context_generator.py
Due: sdk

refactor: drop num_tests from ContextGenerator; DocSynth will handle test distribution
  sdk/src/rhesis/sdk/services/context_generator.py
Due: sdk

refactor: move chunking logic to ContextGenerator
  sdk/src/rhesis/sdk/services/context_generator.py
  sdk/src/rhesis/sdk/synthesizers/document_synthesizer.py
Due: sdk

feat(context): switch to true token-based limits with tiktoken; add binary search splitter
  sdk/src/rhesis/sdk/services/context_generator.py
Due: sdk

feat: add comprehensive user feedback for test generation plan
  sdk/src/rhesis/sdk/synthesizers/document_synthesizer.py
Due: sdk

feat: add DocumentSynthesizer for document text extraction and chunking
  sdk/src/rhesis/sdk/synthesizers/document_synthesizer.py
Due: sdk

refactor: accept PromptSynthesizer args directly, add test distribution logic, and token-based coverage
  sdk/src/rhesis/sdk/synthesizers/document_synthesizer.py
Due: sdk

update example notebooks for new DocumentSynthesizer API
  examples/generation_with_documents.ipynb
  examples/generation_with_documents_new.ipynb
Due: none

feat: add strategy parameter for sequential vs random context selection
  sdk/src/rhesis/sdk/synthesizers/document_synthesizer.py
Due: sdk

remove duplicate example notebook
  examples/generation_with_documents_new.ipynb
Due: none

feat: Auto-select DocumentSynthesizer in task system
  apps/backend/src/rhesis/backend/tasks/test_set.py
Due: backend

docs: Update and clean notebook with parameter explanations
  examples/generation_with_documents.ipynb
Due: none

refactor: replace ContextSynthesizer with ContextGenerator service
  sdk/src/rhesis/sdk/services/__init__.py
  sdk/src/rhesis/sdk/services/context_generator.py
  sdk/src/rhesis/sdk/synthesizers/context_synthesizer.py
  sdk/src/rhesis/sdk/synthesizers/document_synthesizer.py
Due: sdk

feat: Use DocumentSynthesizer for document-based test generation
  apps/backend/src/rhesis/backend/app/services/generation.py
Due: backend

refactor: integrate create_test_set and add context/document metadata
  sdk/src/rhesis/sdk/synthesizers/document_synthesizer.py
Due: sdk

refactor: remove document support from PromptSynthesizer and use context parameter
  sdk/src/rhesis/sdk/synthesizers/prompt_synthesizer.py
Due: sdk

refactor: remove chunk overlap and simplify synthesizer parameters
  sdk/src/rhesis/sdk/synthesizers/context_synthesizer.py
  sdk/src/rhesis/sdk/synthesizers/document_synthesizer.py
Due: sdk

refactor: override num_tests per context and merge context/doc metadata; remove generated_by from PromptSynthesizer
  sdk/src/rhesis/sdk/synthesizers/document_synthesizer.py
  sdk/src/rhesis/sdk/synthesizers/prompt_synthesizer.py
Due: sdk

refactor: revert prompt_synthesizer.py to its state in main branch
  sdk/src/rhesis/sdk/synthesizers/prompt_synthesizer.py
Due: sdk

feat: add ContextSynthesizer for chunk selection and context assembly
  sdk/src/rhesis/sdk/synthesizers/context_synthesizer.py
Due: sdk

fix: Fixing type script warnings
  apps/frontend/src/app/(protected)/test-runs/components/TestRunsGrid.tsx
  apps/frontend/src/hooks/useComments.ts
Due: none

fix: Display tooltip correctly for test runs
  apps/frontend/src/app/(protected)/test-results/components/LatestTestRunsChart.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestRunDetailCharts.tsx
Due: none

fix: Tooltip visibility for different theemes
  apps/frontend/src/app/(protected)/test-results/components/LatestTestRunsChart.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestRunDetailCharts.tsx
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/TestSetDetailCharts.tsx
  apps/frontend/src/components/common/BaseLineChart.tsx
  apps/frontend/src/components/common/BasePieChart.tsx
  apps/frontend/src/components/common/BaseScatterChart.tsx
Due: none

change the name of the warning
  sdk/src/rhesis/sdk/errors.py
  sdk/src/rhesis/sdk/models/providers/huggingface.py
Due: sdk

presentation
  sdk/src/rhesis/sdk/metrics/providers/deepeval/metrics.py
Due: sdk

ex-comments-j
  .gitignore
  apps/docs/app/docs/backend/page.mdx
  apps/docs/app/docs/coding-standards/page.mdx
  apps/docs/app/docs/contributing/page.mdx
  apps/docs/app/docs/development-setup/page.mdx
  apps/docs/app/docs/frontend/page.mdx
  apps/docs/app/docs/managing-docs/page.mdx
  apps/docs/app/docs/page.mdx
  apps/docs/app/layout.jsx
  apps/docs/app/page.mdx
  apps/docs/components/ThemeAwareLogo.jsx
  apps/docs/mdx-components.js
  apps/docs/next.config.mjs
  apps/docs/package-lock.json
  apps/docs/package.json
  apps/docs/public/rhesis-logo-white.png
  apps/docs/public/rhesis-logo.png
  apps/docs/start.sh
  apps/docs/theme.config.jsx
  rh
Due: none

ex-comments-j
  apps/docs/app/docs/managing-docs/page.mdx
Due: none

supress litellm messages
  sdk/src/rhesis/sdk/models/providers/gemini.py
Due: sdk

feat: Add Kubernetes deployment files and Helm chart for Rhesis application
  infrastructure/k8s/QUICK_REFERENCE.md
  infrastructure/k8s/README.md
  infrastructure/k8s/charts/rhesis/Chart.yaml
  infrastructure/k8s/charts/rhesis/README.md
  infrastructure/k8s/charts/rhesis/deploy-local.sh
  infrastructure/k8s/charts/rhesis/templates/NOTES.txt
  infrastructure/k8s/charts/rhesis/templates/_helpers.tpl
  infrastructure/k8s/charts/rhesis/templates/backend-deployment.yaml
  infrastructure/k8s/charts/rhesis/templates/frontend-deployment.yaml
  infrastructure/k8s/charts/rhesis/templates/postgresql-deployment.yaml
  infrastructure/k8s/charts/rhesis/templates/postgresql-pvc.yaml
  infrastructure/k8s/charts/rhesis/templates/postgresql-service.yaml
  infrastructure/k8s/charts/rhesis/templates/redis-deployment.yaml
  infrastructure/k8s/charts/rhesis/templates/redis-pvc.yaml
  infrastructure/k8s/charts/rhesis/templates/redis-service.yaml
  infrastructure/k8s/charts/rhesis/templates/services.yaml
  infrastructure/k8s/charts/rhesis/templates/worker-deployment.yaml
  infrastructure/k8s/charts/rhesis/test-chart.sh
  infrastructure/k8s/charts/rhesis/values-local.yaml
  infrastructure/k8s/charts/rhesis/values.yaml
  infrastructure/k8s/manifests/configmaps/postgres-init-config.yaml
  infrastructure/k8s/manifests/deployments/postgres/init-db.sql
  infrastructure/k8s/manifests/namespaces/rhesis-namespace.yaml
  infrastructure/k8s/scripts/deploy.sh
Due: none

fix link, add more information
  CONTRIBUTING.md
  apps/backend/CONTRIBUTING.md
Due: backend

Path conditions:
  sdk: any of: ^sdk/
  backend: any of: ^apps/backend/
