Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, docs-format, hardcoded-styles

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict

  - repo: local
    hooks:
        - id: trufflehog
          name: TruffleHog
          description: Detect secrets in your data.
          entry: bash -c 'trufflehog git file://. --since-commit HEAD --results=verified,unknown --fail'
          language: system
          stages: ["pre-commit", "pre-push"]

        - id: sdk
          name  : format sdk
          language: system
          entry: make -C sdk format
          files: ^sdk/
          pass_filenames: false

        - id: backend
          name  : format backend
          language: system
          entry: make -C apps/backend format_diff
          files: ^apps/backend/
          pass_filenames: false

        - id: frontend-format
          name: auto-fix frontend formatting
          language: system
          entry: bash -c "cd apps/frontend && npm run format"
          files: ^apps/frontend/
          pass_filenames: false

        - id: frontend-lint
          name: lint frontend
          language: system
          entry: bash -c "cd apps/frontend && npm run lint"
          files: ^apps/frontend/
          pass_filenames: false

        - id: docs-format
          name: auto-fix docs formatting
          language: system
          entry: bash -c "cd apps/documentation && npm run format"
          files: ^apps/documentation/
          pass_filenames: false

        - id: hardcoded-styles
          name: check hardcoded styles in frontend and docs
          language: system
          entry: node scripts/check-hardcoded-styles.js
          files: ^apps/(frontend|documentation)/
          pass_filenames: false


  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.8.0
  #   hooks:
  #     - id: mypy
  #       additional_dependencies: [
  #         "types-requests",
  #         "pandas-stubs",
  #         "pyarrow-stubs",
  #         "types-tqdm"
  #       ]

refactor(frontend): improve readability of test_configuration_id assignment
  apps/frontend/src/app/(protected)/test-sets/components/CreateTestRun.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

Allow test run rename (#1318)
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestRunFilterBar.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestRunMainView.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/ExecuteTestSetDrawer.tsx
  apps/frontend/src/app/(protected)/test-sets/components/CreateTestRun.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

Add SDK execution features: rescore, last_run, and metric management (#1316)
  apps/backend/src/rhesis/backend/app/routers/test_run.py
  apps/backend/src/rhesis/backend/app/services/test.py
  apps/backend/src/rhesis/backend/app/services/test_run.py
  apps/backend/src/rhesis/backend/tasks/execution/executors/output_providers.py
  apps/backend/src/rhesis/backend/tasks/execution/test.py
  docs/content/sdk/_meta.tsx
  docs/content/sdk/entities/test-runs.mdx
  docs/content/sdk/entities/test-sets.mdx
  docs/content/sdk/execution.mdx
  sdk/src/rhesis/sdk/__init__.py
  sdk/src/rhesis/sdk/entities/test_set.py
  sdk/src/rhesis/sdk/enums.py
  tests/backend/tasks/test_output_providers.py
  tests/backend/tasks/test_pipeline_wiring.py
  tests/sdk/connector/test_connection_errors.py
  tests/sdk/connector/test_manager.py
  tests/sdk/entities/test_test_set_execute.py
  tests/sdk/entities/test_test_set_last_run.py
  tests/sdk/entities/test_test_set_metrics.py
  tests/sdk/integration/test_test_set_execution.py
  tests/sdk/integration/test_test_set_metrics.py
Due: sdk, backend

feat: add file import for test sets
  apps/backend/pyproject.toml
  apps/backend/src/rhesis/backend/app/routers/__init__.py
  apps/backend/src/rhesis/backend/app/routers/file_import.py
  apps/backend/src/rhesis/backend/app/schemas/file_import.py
  apps/backend/src/rhesis/backend/app/services/file_import/__init__.py
  apps/backend/src/rhesis/backend/app/services/file_import/exceptions.py
  apps/backend/src/rhesis/backend/app/services/file_import/mapping.py
  apps/backend/src/rhesis/backend/app/services/file_import/mapping_prompt.jinja
  apps/backend/src/rhesis/backend/app/services/file_import/parsers.py
  apps/backend/src/rhesis/backend/app/services/file_import/service.py
  apps/backend/src/rhesis/backend/app/services/file_import/storage.py
  apps/backend/src/rhesis/backend/app/services/file_import/validators.py
  apps/backend/src/rhesis/backend/app/services/test.py
  apps/backend/uv.lock
  apps/frontend/src/app/(protected)/test-sets/components/FileImportDialog.tsx
  apps/frontend/src/app/(protected)/test-sets/components/TestSetsGrid.tsx
  apps/frontend/src/utils/api-client/client-factory.ts
  apps/frontend/src/utils/api-client/import-client.ts
  apps/frontend/src/utils/api-client/import-error-utils.ts
  apps/frontend/src/utils/api-client/interfaces/import.ts
  tests/backend/services/file_import/__init__.py
  tests/backend/services/file_import/test_mapping.py
  tests/backend/services/file_import/test_parsers.py
  tests/backend/services/file_import/test_service.py
  tests/backend/services/file_import/test_storage.py
  tests/backend/services/file_import/test_validators.py
Due: backend, frontend-format, frontend-lint, hardcoded-styles

fix(backend): pass test set type through file import flow
  apps/backend/src/rhesis/backend/app/services/file_import/service.py
  apps/backend/src/rhesis/backend/app/services/file_import/storage.py
  apps/backend/src/rhesis/backend/app/services/file_import/validators.py
Due: backend

feat(sdk): add flat convenience fields for multi-turn test config
  sdk/src/rhesis/sdk/entities/test.py
Due: sdk

test(tests): add tests for multi-turn flat config and SDK convenience fields
  tests/backend/services/file_import/test_service.py
  tests/backend/services/file_import/test_validators.py
  tests/sdk/entities/test_test.py
Due: none

fix(frontend): show Goal column header for multi-turn test sets
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/TestSetTestsGrid.tsx
  apps/frontend/src/app/(protected)/test-sets/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/test-sets/components/FileImportDialog.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

chore(frontend): update next-env and tsconfig paths
  apps/frontend/next-env.d.ts
  apps/frontend/tsconfig.json
Due: frontend-format, frontend-lint, hardcoded-styles

fix(backend): add session ownership, thread safety, and limits
  apps/backend/src/rhesis/backend/app/routers/file_import.py
  apps/backend/src/rhesis/backend/app/services/file_import/service.py
  apps/backend/src/rhesis/backend/app/services/file_import/storage.py
Due: backend

fix(frontend): add abort control, memoization, and a11y to import dialog
  apps/frontend/src/app/(protected)/test-sets/components/FileImportDialog.tsx
  apps/frontend/src/utils/api-client/import-client.ts
Due: frontend-format, frontend-lint, hardcoded-styles

test(tests): add ownership, concurrency, and row limit tests
  tests/backend/services/file_import/test_service.py
  tests/backend/services/file_import/test_storage.py
Due: none

fix(frontend): eliminate mapping UI flicker on auto-advance
  apps/frontend/src/app/(protected)/test-sets/components/FileImportDialog.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

style(backend): format test service with ruff
  apps/backend/src/rhesis/backend/app/services/test.py
Due: backend

fix(tests): align tests with bulk_create_tests return type
  tests/backend/services/test_test.py
  tests/backend/services/test_transaction_management.py
Due: none

feat(frontend): add server-side filtering to test sets grid
  apps/frontend/src/app/(protected)/test-sets/components/TestSetsGrid.tsx
  apps/frontend/src/utils/odata-filter.ts
Due: frontend-format, frontend-lint, hardcoded-styles

style(frontend): auto-format imports and array literals
  apps/frontend/src/app/(protected)/test-sets/components/TestSetsGrid.tsx
  apps/frontend/src/utils/odata-filter.ts
Due: frontend-format, frontend-lint, hardcoded-styles

feat(sdk): support flat multi-turn fields in file import/export
  sdk/src/rhesis/sdk/entities/test_set.py
  tests/sdk/entities/test_test_set.py
Due: sdk

Add file import for test sets (#1319)
  apps/backend/pyproject.toml
  apps/backend/src/rhesis/backend/app/routers/__init__.py
  apps/backend/src/rhesis/backend/app/routers/file_import.py
  apps/backend/src/rhesis/backend/app/schemas/file_import.py
  apps/backend/src/rhesis/backend/app/services/file_import/__init__.py
  apps/backend/src/rhesis/backend/app/services/file_import/exceptions.py
  apps/backend/src/rhesis/backend/app/services/file_import/mapping.py
  apps/backend/src/rhesis/backend/app/services/file_import/mapping_prompt.jinja
  apps/backend/src/rhesis/backend/app/services/file_import/parsers.py
  apps/backend/src/rhesis/backend/app/services/file_import/service.py
  apps/backend/src/rhesis/backend/app/services/file_import/storage.py
  apps/backend/src/rhesis/backend/app/services/file_import/validators.py
  apps/backend/src/rhesis/backend/app/services/test.py
  apps/backend/uv.lock
  apps/frontend/next-env.d.ts
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/TestSetTestsGrid.tsx
  apps/frontend/src/app/(protected)/test-sets/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/test-sets/components/FileImportDialog.tsx
  apps/frontend/src/app/(protected)/test-sets/components/TestSetsGrid.tsx
  apps/frontend/src/utils/api-client/client-factory.ts
  apps/frontend/src/utils/api-client/import-client.ts
  apps/frontend/src/utils/api-client/import-error-utils.ts
  apps/frontend/src/utils/api-client/interfaces/import.ts
  apps/frontend/src/utils/odata-filter.ts
  apps/frontend/tsconfig.json
  sdk/src/rhesis/sdk/entities/test.py
  sdk/src/rhesis/sdk/entities/test_set.py
  tests/backend/services/file_import/__init__.py
  tests/backend/services/file_import/test_mapping.py
  tests/backend/services/file_import/test_parsers.py
  tests/backend/services/file_import/test_service.py
  tests/backend/services/file_import/test_storage.py
  tests/backend/services/file_import/test_validators.py
  tests/backend/services/test_test.py
  tests/backend/services/test_transaction_management.py
  tests/sdk/entities/test_test.py
  tests/sdk/entities/test_test_set.py
Due: sdk, backend, frontend-format, frontend-lint, hardcoded-styles

perf(frontend): make websocket connections page-specific
  apps/frontend/src/app/(protected)/layout.tsx
  apps/frontend/src/app/(protected)/playground/layout.tsx
  apps/frontend/src/app/(protected)/playground/page.tsx
  apps/frontend/src/utils/websocket/client.ts
Due: frontend-format, frontend-lint, hardcoded-styles

docs: add user journey testing guide
  docs/content/guides/testing-user-journeys.mdx
  docs/src/public/diagrams/Flow-2.svg
  docs/src/public/diagrams/Flow.excalidraw
Due: none

docs: use theme-aware images in user journey guide
  docs/content/guides/testing-user-journeys.mdx
  docs/src/public/diagrams/Flow-2.svg
  docs/src/public/diagrams/Flow.excalidraw
  docs/src/public/diagrams/user-journey-dark.svg
  docs/src/public/diagrams/user-journey-light.svg
  docs/src/public/diagrams/user-journey.excalidraw
Due: none

docs: improve user journey testing guide
  docs/content/guides/testing-user-journeys.mdx
Due: none

fix(sdk): enforce newline-separated steps in synthesizer instructions
  sdk/src/rhesis/sdk/synthesizers/multi_turn/templates/base.jinja
Due: sdk

feat(backend): add test creation from conversation endpoints
  apps/backend/src/rhesis/backend/app/routers/test.py
  apps/backend/src/rhesis/backend/app/schemas/__init__.py
  apps/backend/src/rhesis/backend/app/schemas/test.py
  apps/backend/src/rhesis/backend/app/services/test.py
Due: backend

feat(frontend): add split-view playground and test creation drawer
  apps/frontend/src/app/(protected)/playground/components/CreateTestFromConversationDrawer.tsx
  apps/frontend/src/app/(protected)/playground/components/MessageBubble.tsx
  apps/frontend/src/app/(protected)/playground/components/PlaygroundChat.tsx
  apps/frontend/src/app/(protected)/playground/components/PlaygroundClient.tsx
  apps/frontend/src/app/(protected)/traces/components/TraceDrawer.tsx
  apps/frontend/src/utils/api-client/interfaces/tests.ts
  apps/frontend/src/utils/api-client/tests-client.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): restore copy button on assistant messages
  apps/backend/src/rhesis/backend/app/services/test.py
  apps/frontend/src/app/(protected)/playground/components/MessageBubble.tsx
Due: backend, frontend-format, frontend-lint, hardcoded-styles

test(frontend): add usePlaygroundChat hook tests
  apps/frontend/src/hooks/__tests__/usePlaygroundChat.test.ts
Due: frontend-format, frontend-lint, hardcoded-styles

ci(frontend): add test-coverage make target
  apps/frontend/Makefile
Due: frontend-format, frontend-lint, hardcoded-styles

Add split-view playground and test creation from conversations (#1321)
  apps/backend/src/rhesis/backend/app/routers/test.py
  apps/backend/src/rhesis/backend/app/schemas/__init__.py
  apps/backend/src/rhesis/backend/app/schemas/test.py
  apps/backend/src/rhesis/backend/app/services/test.py
  apps/frontend/Makefile
  apps/frontend/src/app/(protected)/layout.tsx
  apps/frontend/src/app/(protected)/playground/components/CreateTestFromConversationDrawer.tsx
  apps/frontend/src/app/(protected)/playground/components/MessageBubble.tsx
  apps/frontend/src/app/(protected)/playground/components/PlaygroundChat.tsx
  apps/frontend/src/app/(protected)/playground/components/PlaygroundClient.tsx
  apps/frontend/src/app/(protected)/playground/layout.tsx
  apps/frontend/src/app/(protected)/playground/page.tsx
  apps/frontend/src/app/(protected)/traces/components/TraceDrawer.tsx
  apps/frontend/src/hooks/__tests__/usePlaygroundChat.test.ts
  apps/frontend/src/utils/api-client/interfaces/tests.ts
  apps/frontend/src/utils/api-client/tests-client.ts
  apps/frontend/src/utils/websocket/client.ts
  sdk/src/rhesis/sdk/synthesizers/multi_turn/templates/base.jinja
Due: sdk, backend, frontend-format, frontend-lint, hardcoded-styles

docs: improve user journey testing guide (#1320)
  .pre-commit-config.yaml
  docs/content/guides/testing-user-journeys.mdx
  docs/src/public/diagrams/user-journey-dark.svg
  docs/src/public/diagrams/user-journey-light.svg
  docs/src/public/diagrams/user-journey.excalidraw
Due: none

docs: update outdated links
  docs/content/platform/mcp/index.mdx
  docs/src/app/layout.jsx
  docs/src/app/llms.txt/route.js
  docs/src/components/Footer.jsx
  docs/src/theme.config.jsx
Due: none

fix(frontend): resolve typescript errors, unused vars, and lint warnings
  apps/frontend/src/app/(protected)/models/components/ConnectionDialog.tsx
  apps/frontend/src/app/(protected)/tasks/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/RerunTestRunDrawer.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestRunHeader.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestRunMainView.tsx
  apps/frontend/src/app/(protected)/tests/[identifier]/components/MultiTurnConfigFields.tsx
  apps/frontend/src/app/(protected)/tests/[identifier]/components/TestDetailData.tsx
  apps/frontend/src/app/(protected)/tests/components/TrialDrawer.tsx
  apps/frontend/src/app/(protected)/tests/new-generated/components/TestGenerationFlow.tsx
  apps/frontend/src/app/(protected)/tests/new-generated/components/TestGenerationInterface.tsx
  apps/frontend/tsconfig.json
Due: frontend-format, frontend-lint, hardcoded-styles

fix(backend): remove stale camelCase fields from user_settings
  apps/backend/src/rhesis/backend/alembic/versions/f1a2b3c4d5e6_cleanup_stale_user_settings_fields.py
Due: backend

feat(backend): add email deliverability check on signup
  apps/backend/src/rhesis/backend/app/auth/providers/email.py
  apps/backend/src/rhesis/backend/app/auth/user_utils.py
  apps/backend/src/rhesis/backend/app/routers/user.py
  apps/backend/src/rhesis/backend/app/utils/validation.py
Due: backend

Fix onboarding validation error and add email deliverability check (#1327)
  apps/backend/src/rhesis/backend/alembic/versions/f1a2b3c4d5e6_cleanup_stale_user_settings_fields.py
  apps/backend/src/rhesis/backend/app/auth/providers/email.py
  apps/backend/src/rhesis/backend/app/auth/user_utils.py
  apps/backend/src/rhesis/backend/app/routers/user.py
  apps/backend/src/rhesis/backend/app/utils/validation.py
Due: backend

fix(backend): only check email deliverability on account creation
  apps/backend/src/rhesis/backend/app/auth/user_utils.py
Due: backend

feat(auth): add password visibility toggle to authentication forms
  apps/frontend/src/app/auth/reset-password/page.tsx
  apps/frontend/src/components/auth/AuthForm.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix: cursor losing focus
  apps/frontend/src/app/auth/reset-password/page.tsx
  apps/frontend/src/components/auth/AuthForm.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix: ensure trufflehog is found in PATH for pre-commit hook
  .pre-commit-config.yaml
Due: none
