Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, docs-format, hardcoded-styles

sdk:
  name: format sdk
  language: system
  entry: make -C sdk format
  pass_filenames: false

backend:
  name: format backend
  language: system
  entry: make -C apps/backend format_diff
  pass_filenames: false

frontend-format:
  name: auto-fix frontend formatting
  language: system
  entry: bash -c "cd apps/frontend && npm run format"
  pass_filenames: false

frontend-lint:
  name: lint frontend
  language: system
  entry: bash -c "cd apps/frontend && npm run lint"
  pass_filenames: false

docs-format:
  name: auto-fix docs formatting
  language: system
  entry: bash -c "cd apps/documentation && npm run format"
  pass_filenames: false

hardcoded-styles:
  name: check hardcoded styles in frontend and docs
  language: system
  entry: node scripts/check-hardcoded-styles.js
  pass_filenames: false

fix(backend): handle empty GUC in organization_member RLS policy (#2300)
  apps/backend/src/rhesis/backend/alembic/versions/c5d6e7f8a9b0_fix_organization_member_rls_empty_uuid.py
Due: backend

fix(tests): make type lookup long values test deterministic
  tests/backend/routes/fixtures/data_factories.py
Due: none

refactor(backend): split crud into a package with crud/explorer.py
  apps/backend/src/rhesis/backend/app/crud/__init__.py
  apps/backend/src/rhesis/backend/app/crud/explorer.py
Due: backend

refactor(backend): extract explorer endpoint invocation helper
  apps/backend/src/rhesis/backend/app/database.py
  apps/backend/src/rhesis/backend/app/services/explorer/evaluation.py
  apps/backend/src/rhesis/backend/app/services/explorer/invocation.py
  apps/backend/src/rhesis/backend/app/services/explorer/responses.py
  apps/backend/src/rhesis/backend/app/services/explorer/suggestions.py
  apps/backend/src/rhesis/backend/app/services/explorer/utils.py
  tests/backend/services/explorer/test_invocation.py
  tests/backend/services/explorer/test_suggestions.py
Due: backend

docs(dev): require absolute imports and record crud layout
  apps/backend/AGENTS.md
  sdk/AGENTS.md
Due: sdk, backend

refactor(backend): use absolute imports in explorer services
  apps/backend/src/rhesis/backend/app/services/explorer/__init__.py
  apps/backend/src/rhesis/backend/app/services/explorer/settings.py
  apps/backend/src/rhesis/backend/app/services/explorer/tests.py
  apps/backend/src/rhesis/backend/app/services/explorer/topics.py
Due: backend

fix(tests): make type lookup long values test deterministic (#2308)
  tests/backend/routes/fixtures/data_factories.py
Due: none

docs(AGENTS): clarify absolute import guidelines in SDK documentation
  sdk/AGENTS.md
Due: sdk

test(dev): add throwaway workflow to test ArgoCD revision pinning
  .github/workflows/test-promote-stg-config.yml
Due: none

fix(infra): address peqy's IPv6, prevent_destroy, and case-default notes
  .github/actions/tf-setup/action.yml
  terraform/infrastructure/envs/prd/main.tf
Due: none

refactor(AGENTS): standardize import formatting in documentation
  apps/backend/AGENTS.md
Due: backend

Deduplicate Explorer endpoint invocation and split crud into a package (#2309)
  apps/backend/AGENTS.md
  apps/backend/src/rhesis/backend/app/crud/__init__.py
  apps/backend/src/rhesis/backend/app/crud/explorer.py
  apps/backend/src/rhesis/backend/app/database.py
  apps/backend/src/rhesis/backend/app/services/explorer/__init__.py
  apps/backend/src/rhesis/backend/app/services/explorer/evaluation.py
  apps/backend/src/rhesis/backend/app/services/explorer/invocation.py
  apps/backend/src/rhesis/backend/app/services/explorer/responses.py
  apps/backend/src/rhesis/backend/app/services/explorer/settings.py
  apps/backend/src/rhesis/backend/app/services/explorer/suggestions.py
  apps/backend/src/rhesis/backend/app/services/explorer/tests.py
  apps/backend/src/rhesis/backend/app/services/explorer/topics.py
  apps/backend/src/rhesis/backend/app/services/explorer/utils.py
  sdk/AGENTS.md
  tests/backend/services/explorer/test_invocation.py
  tests/backend/services/explorer/test_suggestions.py
Due: sdk, backend

test(dev): add throwaway workflow to test ArgoCD revision pinning (#2310)
  .github/workflows/test-promote-stg-config.yml
Due: none

Fix terraform cloudflare provider wiring (dev/stg/prd) + stop persisting token in state (#2292)
  .github/actions/tf-setup/action.yml
  .github/workflows/terraform-infrastructure.yml
  terraform/infrastructure/envs/prd/main.tf
  terraform/infrastructure/modules/kubernetes/gcp/firewall.tf
  terraform/infrastructure/modules/kubernetes/gcp/main.tf
  terraform/infrastructure/modules/kubernetes/gcp/variables.tf
Due: none

fix(backend): harden all tenant_isolation RLS policies against missing GUC
  apps/backend/src/rhesis/backend/alembic/versions/d5e6f7a8b9c1_harden_all_tenant_isolation_rls.py
Due: backend

refactor(backend): trim dead fields from task and test-result schemas
  apps/backend/src/rhesis/backend/app/crud/__init__.py
  apps/backend/src/rhesis/backend/app/schemas/task_management.py
  apps/backend/src/rhesis/backend/app/schemas/test_result.py
  apps/frontend/src/utils/api-client/interfaces/test-results.ts
Due: backend, frontend-format, frontend-lint, hardcoded-styles

test(dev): add harmless annotation to verify stg pin holds
  kubernetes/clusters/stg/rhesis/namespace.yaml
Due: none

test(dev): add harmless annotation to verify stg pin holds (#2312)
  kubernetes/clusters/stg/rhesis/namespace.yaml
Due: none

fix(backend): set tenant GUCs in SSO callback
  ee/backend/src/rhesis/backend/ee/sso/router.py
Due: none

test(backend): cover SSO callback tenant GUC setup
  tests/backend/ee/sso/test_sso_router.py
Due: none

Revert "test(dev): add harmless annotation to verify stg pin holds (#2312)"
  kubernetes/clusters/stg/rhesis/namespace.yaml
Due: none

Revert "test(dev): add throwaway workflow to test ArgoCD revision pinning (#2310)"
  .github/workflows/test-promote-stg-config.yml
Due: none

Revert stg promotion-gate test artifacts (#2314)
  .github/workflows/test-promote-stg-config.yml
  kubernetes/clusters/stg/rhesis/namespace.yaml
Due: none

refactor(backend): move Explorer read queries into crud/explorer.py
  apps/backend/src/rhesis/backend/app/crud/__init__.py
  apps/backend/src/rhesis/backend/app/crud/explorer.py
  apps/backend/src/rhesis/backend/app/services/explorer/embeddings.py
  apps/backend/src/rhesis/backend/app/services/explorer/settings.py
  apps/backend/src/rhesis/backend/app/services/explorer/tests.py
  apps/backend/src/rhesis/backend/app/services/explorer/topics.py
  tests/backend/crud/test_explorer_crud.py
  tests/backend/services/explorer/test_tests.py
Due: backend

refactor(backend): move Explorer read queries into crud/explorer.py (#2315)
  apps/backend/src/rhesis/backend/app/crud/__init__.py
  apps/backend/src/rhesis/backend/app/crud/explorer.py
  apps/backend/src/rhesis/backend/app/services/explorer/embeddings.py
  apps/backend/src/rhesis/backend/app/services/explorer/settings.py
  apps/backend/src/rhesis/backend/app/services/explorer/tests.py
  apps/backend/src/rhesis/backend/app/services/explorer/topics.py
  tests/backend/crud/test_explorer_crud.py
  tests/backend/services/explorer/test_tests.py
Due: backend

refactor(backend): move Explorer writes into crud/explorer.py
  apps/backend/src/rhesis/backend/app/crud/explorer.py
  apps/backend/src/rhesis/backend/app/services/explorer/embeddings.py
  apps/backend/src/rhesis/backend/app/services/explorer/evaluation.py
  apps/backend/src/rhesis/backend/app/services/explorer/settings.py
  apps/backend/src/rhesis/backend/app/services/explorer/tests.py
  apps/backend/src/rhesis/backend/app/services/explorer/topics.py
  tests/backend/crud/test_explorer_crud.py
Due: backend

refactor(frontend): derive sidebar toggle offsets
  apps/frontend/src/components/navigation/Sidebar.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

Fix sidebar collapse toggle crowding the project name (#2302)
  apps/frontend/src/components/navigation/Sidebar.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

style(frontend): apply prettier to viewport scaling spec
  apps/frontend/tests/e2e/tests/viewport-scaling.spec.ts
Due: frontend-format, frontend-lint, hardcoded-styles

refactor(backend): move Explorer writes into crud/explorer.py (#2316)
  apps/backend/src/rhesis/backend/app/crud/explorer.py
  apps/backend/src/rhesis/backend/app/services/explorer/embeddings.py
  apps/backend/src/rhesis/backend/app/services/explorer/evaluation.py
  apps/backend/src/rhesis/backend/app/services/explorer/settings.py
  apps/backend/src/rhesis/backend/app/services/explorer/tests.py
  apps/backend/src/rhesis/backend/app/services/explorer/topics.py
  tests/backend/crud/test_explorer_crud.py
Due: backend

refactor(backend): merge explorer import/export copy loops
  apps/backend/src/rhesis/backend/app/services/explorer/tests.py
  tests/backend/services/explorer/test_tests.py
Due: backend

refactor(backend): merge explorer import/export copy loops (#2319)
  apps/backend/src/rhesis/backend/app/services/explorer/tests.py
  tests/backend/services/explorer/test_tests.py
Due: backend

fix(frontend): compact sidebar nav on short viewports
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/components/navigation/NavItem.tsx
  apps/frontend/src/components/navigation/NavSection.tsx
  apps/frontend/src/components/navigation/Sidebar.tsx
  apps/frontend/src/styles/nav-density.css
Due: frontend-format, frontend-lint, hardcoded-styles

refactor(backend): return typed schemas from Explorer services
  apps/backend/src/rhesis/backend/app/routers/explorer.py
  apps/backend/src/rhesis/backend/app/services/explorer/evaluation.py
  apps/backend/src/rhesis/backend/app/services/explorer/responses.py
  apps/backend/src/rhesis/backend/app/services/explorer/suggestions.py
  apps/backend/src/rhesis/backend/app/services/explorer/tests.py
  tests/backend/services/explorer/test_evaluation.py
  tests/backend/services/explorer/test_responses.py
  tests/backend/services/explorer/test_tests.py
Due: backend

Fix SSO login failing for first-time users (#2313)
  ee/backend/src/rhesis/backend/ee/sso/router.py
  tests/backend/ee/sso/test_sso_router.py
Due: none

feat(dev): add db-connect.sh for local pgAdmin access
  .gitignore
  infrastructure/scripts/db-connect.env.example
  infrastructure/scripts/db-connect.sh
Due: none

fix(frontend): gate the zoom ladder on zoom support
  apps/frontend/src/styles/viewport-scaling.css
  apps/frontend/tests/e2e/tests/viewport-scaling.spec.ts
Due: frontend-format, frontend-lint, hardcoded-styles

Scale desktop layout down on laptop widths (#2291)
  apps/frontend/src/app/(protected)/generation/page.tsx
  apps/frontend/src/app/(protected)/onboarding/components/OnboardingShell.tsx
  apps/frontend/src/app/(protected)/onboarding/components/OnboardingSidebar.tsx
  apps/frontend/src/app/(protected)/onboarding/layout.tsx
  apps/frontend/src/app/(protected)/playground/components/PlaygroundClient.tsx
  apps/frontend/src/app/(protected)/tasks/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/compare/page.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/ComparisonView.tsx
  apps/frontend/src/app/(protected)/test-sets/new-generated/components/TestGenerationFlow.tsx
  apps/frontend/src/app/(protected)/test-sets/new-generated/page.tsx
  apps/frontend/src/app/(protected)/traces/components/SpanGraphView.tsx
  apps/frontend/src/app/__link__/[...slug]/page.tsx
  apps/frontend/src/app/auth/reset-password/page.tsx
  apps/frontend/src/app/auth/signout/page.tsx
  apps/frontend/src/app/demo/page.tsx
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/app/not-found.tsx
  apps/frontend/src/app/page.tsx
  apps/frontend/src/components/auth/AuthPageShell.tsx
  apps/frontend/src/components/layout/AppShell.tsx
  apps/frontend/src/components/layout/LayoutContent.tsx
  apps/frontend/src/components/navigation/NavItem.tsx
  apps/frontend/src/components/navigation/NavSection.tsx
  apps/frontend/src/components/navigation/Sidebar.tsx
  apps/frontend/src/styles/nav-density.css
  apps/frontend/src/styles/viewport-scaling.css
  apps/frontend/src/styles/viewport-scaling.ts
  apps/frontend/tests/e2e/tests/viewport-scaling.spec.ts
Due: frontend-format, frontend-lint, hardcoded-styles

Path conditions:
  sdk: any of: ^sdk/
  backend: any of: ^apps/backend/
  frontend-format: any of: ^apps/frontend/
  frontend-lint: any of: ^apps/frontend/
  docs-format: any of: ^apps/documentation/
  hardcoded-styles: any of: ^apps/(frontend|documentation)/
