Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, docs-format, hardcoded-styles

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict

  - repo: local
    hooks:
        - id: trufflehog
          name: TruffleHog
          description: Detect secrets in your data.
          entry: bash -c 'PATH="$HOME/.local/bin:$PATH" trufflehog git file://. --since-commit HEAD --only-verified --fail --no-update'
          language: system
          stages: ["pre-commit", "pre-push"]

        - id: sdk
          name  : format sdk
          language: system
          entry: make -C sdk format
          files: ^sdk/
          pass_filenames: false

        - id: backend
          name  : format backend
          language: system
          entry: make -C apps/backend format_diff
          files: ^apps/backend/
          pass_filenames: false

        - id: frontend-format
          name: auto-fix frontend formatting
          language: system
          entry: bash -c "cd apps/frontend && npm run format"
          files: ^apps/frontend/
          pass_filenames: false

        - id: frontend-lint
          name: lint frontend
          language: system
          entry: bash -c "cd apps/frontend && npm run lint"
          files: ^apps/frontend/
          pass_filenames: false

        - id: docs-format
          name: auto-fix docs formatting
          language: system
          entry: bash -c "cd apps/documentation && npm run format"
          files: ^apps/documentation/
          pass_filenames: false

        - id: hardcoded-styles
          name: check hardcoded styles in frontend and docs
          language: system
          entry: node scripts/check-hardcoded-styles.js
          files: ^apps/(frontend|documentation)/
          pass_filenames: false


  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.8.0
  #   hooks:
  #     - id: mypy
  #       additional_dependencies: [
  #         "types-requests",
  #         "pandas-stubs",
  #         "pyarrow-stubs",
  #         "types-tqdm"
  #       ]

Add llmstxt.org compliance to docs (llms.txt, llms-full.txt, per-page .md) (#1733)
  docs/src/app/api/md/[...slug]/route.js
  docs/src/app/layout.jsx
  docs/src/app/llms-full.txt/route.js
  docs/src/app/llms.txt/route.js
  docs/src/app/robots.js
  docs/src/app/sitemap.js
  docs/src/lib/__tests__/content-index.test.js
  docs/src/lib/__tests__/llms-txt.test.js
  docs/src/lib/__tests__/md-route.test.js
  docs/src/lib/__tests__/mdx-to-markdown.test.js
  docs/src/lib/__tests__/metadata.test.js
  docs/src/lib/content-index.js
  docs/src/lib/llm-views.js
  docs/src/lib/mdx-to-markdown.js
  docs/src/lib/metadata.js
  docs/src/lib/package.json
  docs/src/middleware.js
  docs/src/package.json
Due: none

docs: add walkthrough videos for explorer and polyphemus
  docs/content/docs/adversarial-testing/polyphemus.mdx
  docs/content/docs/explorer/index.mdx
Due: none

docs: add architect walkthrough video and reorder explorer screenshot
  docs/content/docs/architect/index.mdx
  docs/content/docs/explorer/index.mdx
Due: none

docs: add walkthrough videos for Test Explorer, Polyphemus, and Architect (#1735)
  docs/content/docs/adversarial-testing/polyphemus.mdx
  docs/content/docs/architect/index.mdx
  docs/content/docs/explorer/index.mdx
Due: none

fix(backend): address peqy follow-up review comments
  apps/backend/src/rhesis/backend/app/main.py
  apps/backend/src/rhesis/backend/app/routers/auth.py
Due: backend

fix(rate-limit): correct get_real_ip index for X-Forwarded-For
  apps/backend/src/rhesis/backend/app/utils/rate_limit.py
Due: backend

style: fix ruff formatting and hardcoded borderRadius
  apps/backend/src/rhesis/backend/app/auth/token_utils.py
  apps/backend/src/rhesis/backend/app/main.py
  apps/backend/src/rhesis/backend/app/routers/__init__.py
  ee/frontend/src/sso/components/SSOConfigForm.tsx
Due: backend

fix(tracing): guard result.get() calls with isinstance dict check
  apps/backend/src/rhesis/backend/app/services/invokers/tracing.py
Due: backend

style(frontend): run prettier on 4 files flagged by format:check
  apps/frontend/scripts/check-ee-boundary.mjs
  apps/frontend/src/components/auth/AuthForm.tsx
  apps/frontend/src/config/test-templates.generated.ts
  apps/frontend/src/contexts/FeaturesContext.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(tracing): guard result.get() calls with isinstance dict check (#1737)
  apps/backend/src/rhesis/backend/app/services/invokers/tracing.py
Due: backend

fix(backend): resolve generate endpoint model string errors
  apps/backend/src/rhesis/backend/app/routers/services.py
Due: backend

fix(backend): resolve generate endpoint model string errors (#1738)
  apps/backend/src/rhesis/backend/app/routers/services.py
Due: backend

fix: address peqy review blockers and improvements
  .github/workflows/backend-test.yml
  apps/backend/src/rhesis/backend/app/auth/public_routes.py
  apps/backend/src/rhesis/backend/app/auth/session_utils.py
  apps/frontend/src/components/auth/AuthForm.tsx
  apps/frontend/src/utils/api-client/features-client.ts
  ee/backend/src/rhesis/backend/ee/sso/oidc.py
Due: backend, frontend-format, frontend-lint, hardcoded-styles

fix(profiling): use /tmp for log file and handle permission errors gracefully
  apps/backend/src/rhesis/backend/tasks/execution/batch/profiling.py
Due: backend

fix(profiling): remove file logger, use standard logger only
  apps/backend/src/rhesis/backend/tasks/execution/batch/profiling.py
Due: backend

Fix test runs failing due to profiling log permission error (#1739)
  apps/backend/src/rhesis/backend/tasks/execution/batch/profiling.py
Due: backend

fix(ci): run EE tests correctly and fix /features token auth
  .github/workflows/backend-test.yml
  apps/backend/src/rhesis/backend/app/auth/public_routes.py
Due: backend

docs: update v0.7.1 release docs
  docs/content/changelog.mdx
  docs/content/contribute/backend/architect-chat-system.mdx
  docs/content/contribute/frontend/architect-chat-ui.mdx
  docs/content/contribute/worker/architect-background-tasks.mdx
  docs/content/docs/agent-skill/index.mdx
  docs/content/docs/architect/chat-features.mdx
  docs/content/docs/endpoints/management.mdx
  docs/content/docs/explorer/building-and-evaluating.mdx
  docs/content/sdk/agents.mdx
Due: none

docs: label agent skill examples
  docs/content/docs/agent-skill/index.mdx
Due: none

fix(migrations): use raw SQL in ORM-based migrations to avoid column mismatch
  apps/backend/src/rhesis/backend/alembic/versions/41a9355b3991_add_polyphemus_model_to_existing_orgs.py
  apps/backend/src/rhesis/backend/alembic/versions/554e3e207a3f_add_default_rhesis_embedding_model.py
  apps/backend/src/rhesis/backend/alembic/versions/e8dd05d20cd0_add_default_rhesis_model_to_existing_.py
Due: backend

fix(sso): address peqy review - TLS pinning, redirect context, slug dedup
  apps/backend/src/rhesis/backend/app/schemas/organization.py
  ee/backend/src/rhesis/backend/ee/sso/http_client.py
  ee/backend/src/rhesis/backend/ee/sso/router.py
Due: backend

chore(deps): patch Dependabot security advisories across the monorepo
  agents/research-assistant/pyproject.toml
  agents/research-assistant/uv.lock
  apps/backend/pyproject.toml
  apps/backend/uv.lock
  apps/chatbot/pyproject.toml
  apps/chatbot/uv.lock
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/polyphemus/pyproject.toml
  apps/polyphemus/uv.lock
  apps/telemetry-processor/pyproject.toml
  apps/telemetry-processor/uv.lock
  docs/src/package-lock.json
  docs/src/package.json
  examples/telemetry/pyproject.toml
  examples/telemetry/uv.lock
  packages/rhesis/pyproject.toml
  packages/rhesis/uv.lock
  penelope/pyproject.toml
  penelope/uv.lock
  sdk/pyproject.toml
  sdk/uv.lock
Due: sdk, backend, frontend-format, frontend-lint, hardcoded-styles

chore(sdk): tighten transformers spec to >=5.0.0 (no pre-releases)
  sdk/pyproject.toml
  sdk/uv.lock
Due: sdk

feat(sdk): add image source type and extraction support
  sdk/src/rhesis/sdk/services/extractor.py
Due: sdk

feat(backend): add file extraction to test execution and direct invocation
  apps/backend/src/rhesis/backend/app/services/endpoint/service.py
  apps/backend/src/rhesis/backend/tasks/execution/batch/invocation.py
  apps/backend/src/rhesis/backend/tasks/execution/executors/output_providers.py
  apps/backend/src/rhesis/backend/tasks/execution/executors/runners.py
Due: backend

feat(chatbot): handle file extraction and set travel as default use case
  apps/chatbot/client.py
  apps/chatbot/endpoint.py
  apps/chatbot/example.py
  apps/chatbot/use_cases/baufinanzierung.md
  apps/chatbot/use_cases/finance.md
  apps/chatbot/use_cases/health.md
  apps/chatbot/use_cases/insurance.md
  apps/chatbot/use_cases/legal.md
  apps/chatbot/use_cases/travel.md
  apps/chatbot/uv.lock
Due: none

docs: add sprint review changelog
  sprint-review-akwasigroch-2026-05-11.md
Due: none

fix(embedding): derive persisted dimension from vector length
  apps/backend/src/rhesis/backend/app/services/embedding/generator.py
Due: backend

format: fix with ruff
  apps/backend/src/rhesis/backend/app/services/embedding/generator.py
Due: backend

Fix: embedding_None TypeError (#1749)
  apps/backend/src/rhesis/backend/app/services/embedding/generator.py
Due: backend

fix: only select id column in embedding model migration to avoid missing dimension column
  apps/backend/src/rhesis/backend/alembic/versions/554e3e207a3f_add_default_rhesis_embedding_model.py
Due: backend

fix: only select id column in embedding model migration to avoid missing dimension column (#1750)
  apps/backend/src/rhesis/backend/alembic/versions/554e3e207a3f_add_default_rhesis_embedding_model.py
Due: backend

refactor(sdk): consolidate file extraction into extract_with_vision_fallback
  apps/chatbot/client.py
  apps/chatbot/endpoint.py
  apps/chatbot/use_cases/baufinanzierung.md
  apps/chatbot/use_cases/finance.md
  apps/chatbot/use_cases/health.md
  apps/chatbot/use_cases/insurance.md
  apps/chatbot/use_cases/legal.md
  apps/chatbot/use_cases/travel.md
  apps/frontend/src/components/common/ConversationHistory.tsx
  apps/frontend/src/utils/api-client/interfaces/test-results.ts
  penelope/src/rhesis/penelope/agent.py
  penelope/src/rhesis/penelope/context.py
  penelope/src/rhesis/penelope/executor.py
  penelope/src/rhesis/penelope/schemas.py
  sdk/src/rhesis/sdk/services/extractor.py
  tests/penelope/test_file_attachments.py
  tests/sdk/services/test_extractor.py
Due: sdk, frontend-format, frontend-lint, hardcoded-styles

refactor(backend): fix architectural layering and eliminate duplicate logic
  apps/backend/src/rhesis/backend/app/services/endpoint/files.py
  apps/backend/src/rhesis/backend/app/services/endpoint/service.py
  apps/backend/src/rhesis/backend/app/services/endpoint/testing.py
  apps/backend/src/rhesis/backend/app/services/invokers/conversation/tracker.py
  apps/backend/src/rhesis/backend/app/services/model_resolution.py
  apps/backend/src/rhesis/backend/tasks/architect.py
  apps/backend/src/rhesis/backend/tasks/execution/executors/output_providers.py
Due: backend

test(backend): add and update tests for file handling refactoring
  tests/backend/services/test_endpoint_files.py
  tests/backend/services/test_endpoint_service.py
  tests/backend/services/test_file_execution.py
Due: none

style(sdk): apply ruff formatting to extractor.py
  sdk/src/rhesis/sdk/services/extractor.py
Due: sdk

feat(polyphemus): inject adversarial system primer on every request
  apps/polyphemus/src/rhesis/polyphemus/services/services.py
Due: none

feat(connector): add org-scoped metric dispatch for SDK
  apps/backend/src/rhesis/backend/app/services/connector/manager.py
  apps/backend/src/rhesis/backend/app/services/connector/rpc_client.py
  apps/backend/src/rhesis/backend/tasks/execution/batch/context.py
  apps/backend/src/rhesis/backend/tasks/execution/evaluation.py
  apps/backend/src/rhesis/backend/tasks/execution/executors/runners.py
Due: backend

fix: address review comments from peqy
  apps/backend/src/rhesis/backend/app/services/endpoint/files.py
  apps/backend/src/rhesis/backend/app/services/endpoint/service.py
  apps/chatbot/client.py
  penelope/src/rhesis/penelope/schemas.py
Due: backend
