Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend

sdk:
  name: format sdk
  language: system
  entry: make -C sdk format
  pass_filenames: false

backend:
  name: format backend
  language: system
  entry: make -C apps/backend format
  pass_filenames: false

Revert "Merge pull request #238 from rhesis-ai/revert-232-feature/core-prompt-synthesizer-implementation-208"
  sdk/src/rhesis/sdk/services/extractor.py
  sdk/src/rhesis/sdk/synthesizers/__init__.py
  sdk/src/rhesis/sdk/synthesizers/assets/prompt_synthesizer.md
  sdk/src/rhesis/sdk/synthesizers/base.py
  sdk/src/rhesis/sdk/synthesizers/paraphrasing_synthesizer.py
  sdk/src/rhesis/sdk/synthesizers/prompt_synthesizer.py
  sdk/src/rhesis/sdk/synthesizers/utils.py
  tests/sdk/synthesizers/prompt_synthesizer/test_document_extraction.py
Due: sdk

fix: clean up __init__.py imports after PR merge
  sdk/src/rhesis/sdk/synthesizers/__init__.py
Due: sdk

fix: remove user-level permission check from test run download endpoint
  apps/backend/src/rhesis/backend/app/routers/test_run.py
Due: backend

update start.sh to make both docker and local functional
  apps/backend/start.sh
Due: backend

Disable backend lint, turn on lint on pull_request
  .github/workflows/lint.yml
Due: none

remove if else logic for validate environment and run migration logic.
  apps/backend/start.sh
Due: backend

Adding codecov support with test analytics
  .github/workflows/backend-test.yml
Due: none

add gemini and openai
  sdk/src/rhesis/sdk/services/providers/gemini_provider.py
  sdk/src/rhesis/sdk/services/providers/openai_provider.py
Due: sdk

add litellm to pyproject
  sdk/pyproject.toml
  sdk/uv.lock
Due: sdk

introduce llm service
  sdk/src/rhesis/sdk/services/__init__.py
  sdk/src/rhesis/sdk/services/base.py
  sdk/src/rhesis/sdk/services/model_factory.py
  sdk/src/rhesis/sdk/services/providers/__init__.py
  sdk/src/rhesis/sdk/services/providers/rhesis_premium.py
  sdk/src/rhesis/sdk/services/providers/rhesis_provider.py
Due: sdk

next
  sdk/src/rhesis/sdk/services/__init__.py
  sdk/src/rhesis/sdk/services/model_factory.py
  sdk/src/rhesis/sdk/services/providers/gemini_provider.py
  sdk/src/rhesis/sdk/services/providers/rhesis_premium.py
  sdk/src/rhesis/sdk/services/providers/rhesis_provider.py
Due: sdk

cleaner gemini provider and openai provider
  sdk/src/rhesis/sdk/services/providers/gemini_provider.py
  sdk/src/rhesis/sdk/services/providers/openai_provider.py
Due: sdk

next
  sdk/src/rhesis/sdk/services/providers/gemini_provider.py
  sdk/src/rhesis/sdk/services/providers/rhesis_provider.py
Due: sdk

api keys handling
  sdk/src/rhesis/sdk/services/providers/gemini_provider.py
  sdk/src/rhesis/sdk/services/providers/rhesis_provider.py
Due: sdk

delete the test_comment.py
  tests/backend/routes/test_comment.py
Due: none

Add CommentEntityType Enum and update comment handling
  apps/backend/src/rhesis/backend/app/constants.py
  apps/backend/src/rhesis/backend/app/models/comment.py
  apps/backend/src/rhesis/backend/app/routers/comment.py
  apps/backend/src/rhesis/backend/app/schemas/comment.py
Due: backend

Add comment support with CRUD operations and API endpoints
  apps/backend/src/rhesis/backend/alembic/versions/17eaea1d50ed_adding_comment_support.py
  apps/backend/src/rhesis/backend/app/crud.py
  apps/backend/src/rhesis/backend/app/main.py
  apps/backend/src/rhesis/backend/app/models/__init__.py
  apps/backend/src/rhesis/backend/app/models/comment.py
  apps/backend/src/rhesis/backend/app/models/organization.py
  apps/backend/src/rhesis/backend/app/models/test.py
  apps/backend/src/rhesis/backend/app/models/user.py
  apps/backend/src/rhesis/backend/app/routers/__init__.py
  apps/backend/src/rhesis/backend/app/routers/comment.py
  apps/backend/src/rhesis/backend/app/schemas/__init__.py
  apps/backend/src/rhesis/backend/app/schemas/comment.py
  apps/backend/src/rhesis/backend/app/schemas/test.py
  tests/backend/routes/test_comment.py
Due: backend

Add emoji reaction functionality to comments
  apps/backend/src/rhesis/backend/app/crud.py
  apps/backend/src/rhesis/backend/app/routers/comment.py
  apps/backend/src/rhesis/backend/app/schemas/__init__.py
  apps/backend/src/rhesis/backend/app/schemas/comment.py
  apps/backend/src/rhesis/backend/app/schemas/emoji_reaction.py
Due: backend

add create_at and updated at
  apps/backend/src/rhesis/backend/app/schemas/comment.py
Due: backend

change incorrect diff command, clean makefile
  apps/backend/Makefile
  sdk/Makefile
Due: sdk, backend

Path conditions:
  sdk: any of: ^sdk/
  backend: any of: ^apps/backend/
