Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, docs-format, hardcoded-styles

sdk:
  name: format sdk
  language: system
  entry: make -C sdk format
  pass_filenames: false

backend:
  name: format backend
  language: system
  entry: make -C apps/backend format_diff
  pass_filenames: false

frontend-format:
  name: auto-fix frontend formatting
  language: system
  entry: bash -c "cd apps/frontend && npm run format"
  pass_filenames: false

frontend-lint:
  name: lint frontend
  language: system
  entry: bash -c "cd apps/frontend && npm run lint"
  pass_filenames: false

docs-format:
  name: auto-fix docs formatting
  language: system
  entry: bash -c "cd apps/documentation && npm run format"
  pass_filenames: false

hardcoded-styles:
  name: check hardcoded styles in frontend and docs
  language: system
  entry: node scripts/check-hardcoded-styles.js
  pass_filenames: false

fix: automatic create the database in the first run
  charts/rhesis/values-dev.yaml
  charts/rhesis/values-prd.yaml
  charts/rhesis/values-stg.yaml
  charts/rhesis/values.yaml
  kubernetes/clusters/prd/rhesis/cnpg-cluster.yaml
  kubernetes/clusters/stg/rhesis/cnpg-cluster.yaml
Due: none

ci(dev): add backend ghcr smoke build
  .github/workflows/backend-ghcr.yml
Due: none

ci: update backend GHCR workflow to use GitHub actor and secrets for authentication
  .github/workflows/backend-ghcr.yml
Due: none

Revert "ci(dev): add backend ghcr smoke build"
  .github/workflows/backend-ghcr.yml
Due: none

ci: add worker image build and push step to backend GHCR workflow
  .github/workflows/backend-ghcr.yml
Due: none

ci: remove unnecessary steps from backend GHCR workflow
  .github/workflows/backend-ghcr.yml
Due: none

Add backend GHCR smoke build (#1702)
  .github/workflows/backend-ghcr.yml
Due: none

ci: add checkout step to backend GHCR workflow
  .github/workflows/backend-ghcr.yml
Due: none

fix: prevent grafana operator to create the password, it is handled by the external secret operator
  kubernetes/base/grafana-resources/grafana-instance.yaml
Due: none

ci: update checkout action to v6 in backend GHCR workflow
  .github/workflows/backend-ghcr.yml
Due: none

ci: frontend build
  .github/workflows/backend-ghcr.yml
Due: none

Add docker-compose.ghcr.yml for using prebuilt images from GHCR
  docker-compose.ghcr.yml
  rh
Due: none

Enhance logging configuration to handle directory creation errors
  apps/backend/src/rhesis/backend/logging/logging_config.py
Due: backend

fix(grafana): fix authentication and update domain names
  kubernetes/base/grafana-operator/grafana-admin-secret.yaml
  kubernetes/base/grafana-resources/grafana-ingress.yaml
  kubernetes/clusters/dev/grafana-resources/kustomization.yaml
  kubernetes/clusters/prd/grafana-resources/kustomization.yaml
  kubernetes/clusters/stg/grafana-resources/kustomization.yaml
Due: none

fix(grafana): add mergePolicy to external secret template
  kubernetes/base/grafana-operator/grafana-admin-secret.yaml
Due: none

fix(alloy): fix comment syntax in config
  kubernetes/base/alloy/alloy-application.yaml
Due: none

fix(docs): repair broken links on sdk metrics overview
  docs/content/sdk/metrics/index.mdx
Due: none

fix(docs): repair broken links on sdk metrics overview (#1703)
  docs/content/sdk/metrics/index.mdx
Due: none

revert me after testing
  kubernetes/clusters/dev/alloy.yaml
  kubernetes/clusters/dev/loki.yaml
  kubernetes/clusters/stg/alloy.yaml
  kubernetes/clusters/stg/loki.yaml
Due: none

fix(grafana): set admin user via env var for operator auth
  kubernetes/base/grafana-operator/grafana-admin-secret.yaml
  kubernetes/base/grafana-resources/grafana-instance.yaml
Due: none

update alloy file system
  kubernetes/base/alloy/alloy-application.yaml
Due: none

docs: add v0.7.0 entry and slim v0.6.12 in docs changelog
  docs/content/changelog.mdx
Due: none

docs: add v0.7.0 entry and slim v0.6.12 in docs changelog (#1704)
  docs/content/changelog.mdx
Due: none

fix(sdk): always use background thread in run_sync to prevent event loop errors
  sdk/src/rhesis/sdk/async_utils.py
Due: sdk

fix: update stg-cnpg-operator targetRevision
  kubernetes/clusters/stg/cnpg-operator.yaml
Due: none

fix(stg): stabilize staging ArgoCD applications
  kubernetes/clusters/stg/cnpg-operator.yaml
  kubernetes/clusters/stg/kube-prometheus-stack.yaml
  kubernetes/clusters/stg/rhesis/cnpg-cluster.yaml
Due: none

Add .gitignore entries for Rhesis CLI quickstart compose mode
  .gitignore
Due: none

fix(cnpg): add automated syncPolicy to cnpg-operator Application
  kubernetes/base/cnpg-system/cnpg-operator-application.yaml
Due: none

fix(migrations): rebase SSO migration onto latest main head
  apps/backend/src/rhesis/backend/alembic/versions/a3b4c5d6e7f8_add_sso_config_to_organization.py
Due: backend

fix(migrations): make SSO migrations idempotent
  apps/backend/src/rhesis/backend/alembic/versions/a3b4c5d6e7f8_add_sso_config_to_organization.py
  apps/backend/src/rhesis/backend/alembic/versions/b4c5d6e7f8a9_add_slug_to_organization.py
Due: backend

fix(features): reset to loading state before each re-fetch in FeaturesProvider
  apps/frontend/src/contexts/FeaturesContext.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

refactor(WebSocket): simplify WebSocket URL retrieval logic
  apps/frontend/src/contexts/WebSocketContext.tsx
  docs/content/contribute/frontend/index.mdx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(features): use require_current_user_or_token and inject db session
  apps/backend/src/rhesis/backend/app/routers/features.py
Due: backend

fix(features): use get_tenant_db_session for proper RLS scoping
  apps/backend/src/rhesis/backend/app/routers/features.py
Due: backend

fix(features): harden GET /features against org-less callers
  apps/backend/src/rhesis/backend/app/routers/features.py
Due: backend

fix(frontend): update notifications.show calls to use options object
  apps/frontend/src/app/(protected)/organizations/settings/components/SSOConfigForm.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix: permission issue on vector creation
  kubernetes/clusters/prd/rhesis/cnpg-cluster.yaml
  kubernetes/clusters/stg/rhesis/cnpg-cluster.yaml
Due: none

fix: fix tag for the image in stg
  charts/rhesis/values-stg.yaml
Due: none

fix: global tag for the stg frontend
  charts/rhesis/values-stg.yaml
  charts/rhesis/values.yaml
Due: none

refactor: update API URL handling in frontend and logging configuration
  .github/workflows/frontend.yml
  apps/backend/src/rhesis/backend/logging/logging_config.py
  apps/frontend/Dockerfile
  apps/frontend/scripts/replace-runtime-env.sh
  docker-compose.yml
Due: backend, frontend-format, frontend-lint, hardcoded-styles

Path conditions:
  sdk: any of: ^sdk/
  backend: any of: ^apps/backend/
  frontend-format: any of: ^apps/frontend/
  frontend-lint: any of: ^apps/frontend/
  docs-format: any of: ^apps/documentation/
  hardcoded-styles: any of: ^apps/(frontend|documentation)/
