Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, docs-format, hardcoded-styles

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict

  - repo: local
    hooks:
        - id: trufflehog
          name: TruffleHog
          description: Detect secrets in your data.
          entry: bash -c 'PATH="$HOME/.local/bin:$PATH" trufflehog git file://. --since-commit HEAD --only-verified --fail --no-update'
          language: system
          stages: ["pre-commit", "pre-push"]

        - id: sdk
          name  : format sdk
          language: system
          entry: make -C sdk format
          files: ^sdk/
          pass_filenames: false

        - id: backend
          name  : format backend
          language: system
          entry: make -C apps/backend format_diff
          files: ^apps/backend/
          pass_filenames: false

        - id: frontend-format
          name: auto-fix frontend formatting
          language: system
          entry: bash -c "cd apps/frontend && npm run format"
          files: ^apps/frontend/
          pass_filenames: false

        - id: frontend-lint
          name: lint frontend
          language: system
          entry: bash -c "cd apps/frontend && npm run lint"
          files: ^apps/frontend/
          pass_filenames: false

        - id: docs-format
          name: auto-fix docs formatting
          language: system
          entry: bash -c "cd apps/documentation && npm run format"
          files: ^apps/documentation/
          pass_filenames: false

        - id: hardcoded-styles
          name: check hardcoded styles in frontend and docs
          language: system
          entry: node scripts/check-hardcoded-styles.js
          files: ^apps/(frontend|documentation)/
          pass_filenames: false


  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.8.0
  #   hooks:
  #     - id: mypy
  #       additional_dependencies: [
  #         "types-requests",
  #         "pandas-stubs",
  #         "pyarrow-stubs",
  #         "types-tqdm"
  #       ]

ci(dev): trim secret scanning permissions
  .github/workflows/secret-scanning.yml
Due: none

ci(dev): run lint checks as a matrix
  .github/workflows/lint.yml
Due: none

next
  .github/workflows/lint.yml
Due: none

ci(dev): clean up lint and penelope test workflows
  .github/workflows/lint.yml
  .github/workflows/penelope-test.yml
  AGENTS.md
Due: none

Fix HPA scaling for dev worker and prd backend (#2407)
  charts/rhesis/values-dev.yaml
  charts/rhesis/values-prd.yaml
Due: none

Clean up CI workflows and run linting as a matrix (#2408)
  .github/actions/setup-python-build/action.yml
  .github/actions/tf-setup/action.yml
  .github/workflows/backend-test.yml
  .github/workflows/create-release.yml
  .github/workflows/frontend-e2e-test.yml
  .github/workflows/lint.yml
  .github/workflows/publish-release.yml
  .github/workflows/secret-scanning.yml
  .github/workflows/terraform-infrastructure.yml
  AGENTS.md
Due: none

ci(dev): fold style check into lint workflow
  .github/workflows/check-hardcoded-styles.yml
  .github/workflows/lint.yml
Due: none

ci(dev): merge security scanning workflows
  .github/workflows/secret-scanning.yml
  .github/workflows/security-trivy.yml
  .github/workflows/security.yml
Due: none

ci: add migration checks to lint workflow
  .github/workflows/check-alembic-head.yml
  .github/workflows/lint.yml
  scripts/check-alembic-head.sh
Due: none

feat(sdk): create Insights class, mirroring stats structure
  sdk/src/rhesis/sdk/clients/api.py
  sdk/src/rhesis/sdk/entities/__init__.py
  sdk/src/rhesis/sdk/entities/insights.py
Due: sdk

gsm secret upsert script
  infrastructure/config/gsm-secrets-sync.sh
  infrastructure/config/gsm-secrets.json.example
Due: none

chore(dev): add gsm-secrets.json to .gitignore
  .gitignore
Due: none

fix(dev): fail alembic check on unreadable heads
  scripts/check-alembic-head.sh
Due: none

fix(dev): scope style check to frontend sources
  .github/workflows/lint.yml
Due: none

ci(dev): remove broken pr comment script
  scripts/check-hardcoded-styles.js
  scripts/create-pr-comment.js
Due: none

Consolidate CI workflows into lint and security (#2409)
  .github/workflows/check-alembic-head.yml
  .github/workflows/check-hardcoded-styles.yml
  .github/workflows/lint.yml
  .github/workflows/secret-scanning.yml
  .github/workflows/security-trivy.yml
  .github/workflows/security.yml
  scripts/check-alembic-head.sh
  scripts/check-hardcoded-styles.js
  scripts/create-pr-comment.js
Due: none

refactor(backend): extract trace crud into crud/telemetry.py
  apps/backend/src/rhesis/backend/app/crud/__init__.py
  apps/backend/src/rhesis/backend/app/crud/telemetry.py
Due: backend

refactor(backend): import trace crud directly, drop re-export shim
  apps/backend/src/rhesis/backend/app/crud/__init__.py
  apps/backend/src/rhesis/backend/app/routers/telemetry.py
  apps/backend/src/rhesis/backend/app/routers/test_run.py
  apps/backend/src/rhesis/backend/app/services/endpoint/service.py
  apps/backend/src/rhesis/backend/app/services/invokers/sdk_invoker.py
  apps/backend/src/rhesis/backend/app/services/invokers/tracing.py
  apps/backend/src/rhesis/backend/app/services/telemetry/conversation_linking.py
  apps/backend/src/rhesis/backend/app/services/telemetry/enrichment/processor.py
  apps/backend/src/rhesis/backend/app/services/telemetry/enrichment/service.py
  apps/backend/src/rhesis/backend/app/services/telemetry/linking_service.py
  apps/backend/src/rhesis/backend/tasks/execution/executors/output_providers.py
  apps/backend/src/rhesis/backend/tasks/execution/executors/runners.py
  apps/backend/src/rhesis/backend/tasks/telemetry/evaluate.py
  tests/backend/crud/test_trace_crud.py
  tests/backend/crud/test_trace_metrics_crud.py
  tests/backend/routes/test_telemetry_conversation.py
  tests/backend/routes/test_telemetry_query.py
  tests/backend/routes/test_trace_linking_timing.py
  tests/backend/services/telemetry/test_conversation_linking.py
  tests/backend/services/telemetry/test_enrichment_service.py
  tests/backend/services/telemetry/test_linking_service.py
  tests/backend/tasks/test_output_providers.py
  tests/backend/tasks/test_penelope_signal.py
  tests/backend/tasks/test_trace_metrics_evaluation.py
Due: backend

refactor(backend): extract metric crud into crud/metric.py
  apps/backend/src/rhesis/backend/app/crud/__init__.py
  apps/backend/src/rhesis/backend/app/crud/metric.py
Due: backend

refactor(backend): import metric crud directly, drop re-export shim
  apps/backend/src/rhesis/backend/alembic/versions/6a7b8c9d0e1f_fix_garak_metric_missing_fields.py
  apps/backend/src/rhesis/backend/app/crud/__init__.py
  apps/backend/src/rhesis/backend/app/routers/behavior.py
  apps/backend/src/rhesis/backend/app/routers/metric.py
  apps/backend/src/rhesis/backend/app/routers/test_set.py
  apps/backend/src/rhesis/backend/app/services/explorer/evaluation.py
  apps/backend/src/rhesis/backend/app/services/explorer/settings.py
  apps/backend/src/rhesis/backend/app/services/garak/importer.py
  apps/backend/src/rhesis/backend/app/services/test_run.py
  tests/backend/crud/test_behavior_metric_security.py
  tests/backend/crud/test_metric_crud.py
  tests/backend/metrics/fixtures/metric_fixtures.py
  tests/backend/metrics/test_database_integration.py
  tests/backend/metrics/test_e2e_flow.py
  tests/backend/metrics/test_task_execution.py
  tests/backend/security/test_organization_filtering.py
  tests/backend/utils/test_query_builder_load.py
Due: backend

refactor(backend): move project crud into its own module
  apps/backend/src/rhesis/backend/app/crud/__init__.py
  apps/backend/src/rhesis/backend/app/crud/project.py
Due: backend

refactor(backend): import project crud from its own module
  apps/backend/src/rhesis/backend/app/crud/__init__.py
  apps/backend/src/rhesis/backend/app/routers/experiments.py
  apps/backend/src/rhesis/backend/app/routers/parameters.py
  apps/backend/src/rhesis/backend/app/routers/project.py
  apps/backend/src/rhesis/backend/app/services/experiment.py
  apps/backend/src/rhesis/backend/app/services/test_config_generator.py
  apps/backend/src/rhesis/backend/app/services/test_generation_pipeline.py
  tests/backend/routes/fixtures/entities/projects.py
  tests/backend/routes/test_project_membership.py
  tests/backend/routes/test_telemetry_query.py
  tests/backend/services/test_experiment_service.py
  tests/backend/services/test_test_generation_pipeline.py
  tests/backend/test_secret_equality.py
Due: backend

fix(backend): make celery usage attribution actually work
  apps/backend/src/rhesis/backend/celery/signals.py
  tests/backend/app/test_usage_attribution_binding.py
Due: backend

fix(backend): attribute tests generated via run_in_executor
  apps/backend/src/rhesis/backend/app/services/generation.py
Due: backend

chore(dev): add agent skills config
  CLAUDE.md
  docs/agents/domain.md
  docs/agents/issue-tracker.md
  docs/agents/triage-labels.md
Due: none

chore(dev): add agent skills config (#2414)
  CLAUDE.md
  docs/agents/domain.md
  docs/agents/issue-tracker.md
  docs/agents/triage-labels.md
Due: none

Extract trace CRUD out of the crud/__init__.py monolith (#2410)
  apps/backend/src/rhesis/backend/app/crud/__init__.py
  apps/backend/src/rhesis/backend/app/crud/telemetry.py
  apps/backend/src/rhesis/backend/app/routers/telemetry.py
  apps/backend/src/rhesis/backend/app/routers/test_run.py
  apps/backend/src/rhesis/backend/app/services/endpoint/service.py
  apps/backend/src/rhesis/backend/app/services/invokers/sdk_invoker.py
  apps/backend/src/rhesis/backend/app/services/invokers/tracing.py
  apps/backend/src/rhesis/backend/app/services/telemetry/conversation_linking.py
  apps/backend/src/rhesis/backend/app/services/telemetry/enrichment/processor.py
  apps/backend/src/rhesis/backend/app/services/telemetry/enrichment/service.py
  apps/backend/src/rhesis/backend/app/services/telemetry/linking_service.py
  apps/backend/src/rhesis/backend/tasks/execution/executors/output_providers.py
  apps/backend/src/rhesis/backend/tasks/execution/executors/runners.py
  apps/backend/src/rhesis/backend/tasks/telemetry/evaluate.py
  tests/backend/crud/test_trace_crud.py
  tests/backend/crud/test_trace_metrics_crud.py
  tests/backend/routes/test_telemetry_conversation.py
  tests/backend/routes/test_telemetry_query.py
  tests/backend/routes/test_trace_linking_timing.py
  tests/backend/services/telemetry/test_conversation_linking.py
  tests/backend/services/telemetry/test_enrichment_service.py
  tests/backend/services/telemetry/test_linking_service.py
  tests/backend/tasks/test_output_providers.py
  tests/backend/tasks/test_penelope_signal.py
  tests/backend/tasks/test_trace_metrics_evaluation.py
Due: backend

Extract metric CRUD out of the crud/__init__.py monolith (#2411)
  apps/backend/src/rhesis/backend/alembic/versions/6a7b8c9d0e1f_fix_garak_metric_missing_fields.py
  apps/backend/src/rhesis/backend/app/crud/__init__.py
  apps/backend/src/rhesis/backend/app/crud/metric.py
  apps/backend/src/rhesis/backend/app/routers/behavior.py
  apps/backend/src/rhesis/backend/app/routers/metric.py
  apps/backend/src/rhesis/backend/app/routers/test_set.py
  apps/backend/src/rhesis/backend/app/services/explorer/evaluation.py
  apps/backend/src/rhesis/backend/app/services/explorer/settings.py
  apps/backend/src/rhesis/backend/app/services/garak/importer.py
  apps/backend/src/rhesis/backend/app/services/test_run.py
  tests/backend/crud/test_behavior_metric_security.py
  tests/backend/crud/test_metric_crud.py
  tests/backend/metrics/fixtures/metric_fixtures.py
  tests/backend/metrics/test_database_integration.py
  tests/backend/metrics/test_e2e_flow.py
  tests/backend/metrics/test_task_execution.py
  tests/backend/security/test_organization_filtering.py
  tests/backend/utils/test_query_builder_load.py
Due: backend

Extract project CRUD out of the crud/__init__.py monolith (#2412)
  apps/backend/src/rhesis/backend/app/crud/__init__.py
  apps/backend/src/rhesis/backend/app/crud/project.py
  apps/backend/src/rhesis/backend/app/routers/experiments.py
  apps/backend/src/rhesis/backend/app/routers/parameters.py
  apps/backend/src/rhesis/backend/app/routers/project.py
  apps/backend/src/rhesis/backend/app/services/experiment.py
  apps/backend/src/rhesis/backend/app/services/test_config_generator.py
  apps/backend/src/rhesis/backend/app/services/test_generation_pipeline.py
  tests/backend/routes/fixtures/entities/projects.py
  tests/backend/routes/test_project_membership.py
  tests/backend/routes/test_telemetry_query.py
  tests/backend/services/test_experiment_service.py
  tests/backend/services/test_test_generation_pipeline.py
  tests/backend/test_secret_equality.py
Due: backend

fix(dev): print port allocation errors to stderr
  scripts/rh/portalloc.sh
Due: none

fix(dev): reject empty sanitized worktree names
  scripts/rh/worktree.sh
Due: none

Give each worktree its own dev ports and containers (#2384)
  .claude/commands/worktree.md
  .gitignore
  AGENTS.md
  docs/content/contribute/development-setup/index.mdx
  rh
  scripts/rh/common.sh
  scripts/rh/dev.sh
  scripts/rh/help.sh
  scripts/rh/portalloc.sh
  scripts/rh/ports.sh
  scripts/rh/services.sh
  scripts/rh/worktree.sh
Due: none

fix(dev): avoid unbound var in gsm-sync usage()
  infrastructure/config/gsm-secrets-sync.sh
Due: none

Feat/Gsm Sync Script (#2383)
  .gitignore
  infrastructure/config/gsm-secrets-sync.sh
  infrastructure/config/gsm-secrets.json.example
Due: none

docs: move release guide to docs site
  RELEASING.md
  docs/content/contribute/_meta.tsx
  docs/content/contribute/releasing.mdx
Due: none

chore: remove stale handoff notes
  HANDOFF.md
Due: none
