Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, docs-format, hardcoded-styles

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict

  - repo: local
    hooks:
        - id: trufflehog
          name: TruffleHog
          description: Detect secrets in your data.
          entry: bash -c 'PATH="$HOME/.local/bin:$PATH" trufflehog git file://. --since-commit HEAD --only-verified --fail --no-update'
          language: system
          stages: ["pre-commit", "pre-push"]

        - id: sdk
          name  : format sdk
          language: system
          entry: make -C sdk format
          files: ^sdk/
          pass_filenames: false

        - id: backend
          name  : format backend
          language: system
          entry: make -C apps/backend format_diff
          files: ^apps/backend/
          pass_filenames: false

        - id: frontend-format
          name: auto-fix frontend formatting
          language: system
          entry: bash -c "cd apps/frontend && npm run format"
          files: ^apps/frontend/
          pass_filenames: false

        - id: frontend-lint
          name: lint frontend
          language: system
          entry: bash -c "cd apps/frontend && npm run lint"
          files: ^apps/frontend/
          pass_filenames: false

        - id: docs-format
          name: auto-fix docs formatting
          language: system
          entry: bash -c "cd apps/documentation && npm run format"
          files: ^apps/documentation/
          pass_filenames: false

        - id: hardcoded-styles
          name: check hardcoded styles in frontend and docs
          language: system
          entry: node scripts/check-hardcoded-styles.js
          files: ^apps/(frontend|documentation)/
          pass_filenames: false


  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.8.0
  #   hooks:
  #     - id: mypy
  #       additional_dependencies: [
  #         "types-requests",
  #         "pandas-stubs",
  #         "pyarrow-stubs",
  #         "types-tqdm"
  #       ]

docs: correct comment
  apps/backend/src/rhesis/backend/app/database.py
Due: backend

docs: correct comment for sessions's expire_on_commit
  apps/backend/src/rhesis/backend/app/database.py
Due: backend

style: fix formatting
  apps/backend/src/rhesis/backend/app/services/embedding/events.py
Due: backend

feat(embeddings): add searchable_text_changed() to EmbeddableMixin
  apps/backend/src/rhesis/backend/app/models/mixins.py
Due: backend

feat(embeddings): add SQLAlchemy session hooks for auto-embedding
  apps/backend/src/rhesis/backend/app/services/embedding/events.py
Due: backend

refactor(embedding): use mixin listeners
  apps/backend/src/rhesis/backend/app/models/mixins.py
  apps/backend/src/rhesis/backend/app/services/embedding/events.py
  apps/backend/src/rhesis/backend/app/services/embedding/generator.py
  apps/backend/src/rhesis/backend/app/services/embedding/services.py
  apps/backend/src/rhesis/backend/tasks/embedding/generate.py
Due: backend

fix remove reduntant model_type from get_embedding_model call
  apps/backend/src/rhesis/backend/app/services/embedding/generator.py
Due: backend

test(embedding): align tests with enqueue_embedding and listener commits
  tests/backend/services/test_embedding_service.py
Due: none

fix(embeddings): skip enqueue when embeddable has no user_id
  apps/backend/src/rhesis/backend/app/models/mixins.py
  tests/backend/models/test_embedding.py
  tests/backend/services/test_embedding_service.py
Due: backend

fix(alembic): add dimension to default rhesis embedding model
  apps/backend/src/rhesis/backend/alembic/versions/c2e4f8a91b0d_set_rhesis_default_embedding_model_dimension.py
Due: backend

format: linting
  apps/backend/src/rhesis/backend/alembic/versions/c2e4f8a91b0d_set_rhesis_default_embedding_model_dimension.py
Due: backend

fix: defer embedding jobs to after-commit to prevent nested flushes
  apps/backend/src/rhesis/backend/app/models/mixins.py
Due: backend

fix: tests
  tests/backend/models/test_embedding.py
Due: none

fix(test): add expunge to enqueue
  tests/backend/models/test_embedding.py
Due: none

fix(alembic): put migration on top
  apps/backend/src/rhesis/backend/alembic/versions/c2e4f8a91b0d_set_rhesis_default_embedding_model_dimension.py
Due: backend

fix(alembic): put alembic migration on top of last revision
  apps/backend/src/rhesis/backend/alembic/versions/c2e4f8a91b0d_set_rhesis_default_embedding_model_dimension.py
Due: backend

fix(tests): resolve EndpointEnvironment validation error in E2E tests (#1666)
  .github/workflows/frontend-e2e-test.yml
  apps/frontend/tests/e2e/tests/test-creation-manual.spec.ts
  tests/docker-compose.frontend.yml
Due: frontend-format, frontend-lint, hardcoded-styles

ci(dev): reuse cloud run job for db migrations
  .github/workflows/backend.yml
Due: none

ci(dev): reuse cloud run job for db migrations (#1682)
  .github/workflows/backend.yml
Due: none

Auto-generate embeddings on entity create/update (#1639)
  apps/backend/src/rhesis/backend/alembic/versions/c2e4f8a91b0d_set_rhesis_default_embedding_model_dimension.py
  apps/backend/src/rhesis/backend/app/database.py
  apps/backend/src/rhesis/backend/app/models/mixins.py
  apps/backend/src/rhesis/backend/app/services/embedding/generator.py
  apps/backend/src/rhesis/backend/app/services/embedding/services.py
  apps/backend/src/rhesis/backend/tasks/embedding/generate.py
  tests/backend/models/test_embedding.py
  tests/backend/services/test_embedding_service.py
Due: backend

refactor(ci): optimize Cloud Run migration job by removing VPC connector
  .github/workflows/backend.yml
Due: none

refactor(ci): remove VPC connector from Cloud Run migration job
  .github/workflows/backend.yml
Due: none

refactor(ci): adjust Cloud Run migration job region for performance
  .github/workflows/backend.yml
Due: none

refactor(migrations): enhance migration logging and performance
  .github/workflows/backend.yml
  apps/backend/migrate.sh
Due: backend

feat(ci): add regional image mirroring for migration job
  .github/workflows/backend.yml
Due: none

Revert "feat(ci): add regional image mirroring for migration job"
  .github/workflows/backend.yml
Due: none

refactor(ci): streamline Cloud Run migration job configuration
  .github/workflows/backend.yml
Due: none

refactor(ci): optimize Cloud Run migration job by removing VPC connector (#1683)
  .github/workflows/backend.yml
  apps/backend/migrate.sh
Due: backend

docs: add better indications to run backend tests
  apps/backend/CONTRIBUTING.md
Due: backend

perf(backend): skip embedding queue if text unchanged on update
  apps/backend/src/rhesis/backend/app/models/mixins.py
Due: backend

chore(print): remove noisy print statements in migration file
  apps/backend/src/rhesis/backend/alembic/versions/c2e4f8a91b0d_set_rhesis_default_embedding_model_dimension.py
Due: backend

docs: add better indications to run backend tests (#1684)
  apps/backend/CONTRIBUTING.md
Due: backend

refactor(backend): split deps into core and [all] extras
  .github/workflows/backend-test.yml
  .github/workflows/backend.yml
  apps/backend/Dockerfile
  apps/backend/Dockerfile.dev
  apps/backend/README.md
  apps/backend/pyproject.toml
  apps/backend/src/rhesis/backend/alembic/versions/c2d3e4f5a6b7_add_garak_v0_13_3_detector_metrics.py
  apps/backend/src/rhesis/backend/app/models/metric.py
  apps/backend/src/rhesis/backend/app/schemas/metric.py
  apps/backend/src/rhesis/backend/app/schemas/metric_types.py
  apps/backend/src/rhesis/backend/app/utils/database_exceptions.py
  apps/backend/src/rhesis/backend/app/utils/odata.py
  apps/backend/src/rhesis/backend/app/utils/query_validation.py
  apps/backend/src/rhesis/backend/metrics/__init__.py
  apps/backend/src/rhesis/backend/metrics/metric_config.py
  apps/backend/src/rhesis/backend/metrics/score_evaluator.py
  apps/backend/uv.lock
  apps/polyphemus/Dockerfile
  apps/polyphemus/pyproject.toml
  apps/polyphemus/uv.lock
Due: backend

refactor(backend): drop unused sdk/penelope from polyphemus image
  apps/polyphemus/Dockerfile
  apps/polyphemus/pyproject.toml
  apps/polyphemus/uv.lock
Due: none

chore: formating
  apps/backend/src/rhesis/backend/app/routers/endpoint.py
  apps/backend/src/rhesis/backend/app/routers/test.py
  apps/backend/src/rhesis/backend/app/routers/test_configuration.py
  apps/backend/src/rhesis/backend/app/utils/database_exceptions.py
  apps/backend/src/rhesis/backend/app/utils/odata.py
  apps/backend/src/rhesis/backend/metrics/score_evaluator.py
Due: backend

fix(Dockerfile): update paths in pyproject.toml for uv compatibility
  apps/backend/Dockerfile
Due: backend

fix(backend): avoid lazy-load in embedding update hook
  apps/backend/src/rhesis/backend/app/models/mixins.py
Due: backend

chore(ci): remove disk cleanup step from polyphemus workflow
  .github/workflows/polyphemus.yml
Due: none

refactor(backend): split deps into core and [all] extras (#1686)
  .github/workflows/backend-test.yml
  .github/workflows/backend.yml
  .github/workflows/polyphemus.yml
  apps/backend/Dockerfile
  apps/backend/Dockerfile.dev
  apps/backend/README.md
  apps/backend/pyproject.toml
  apps/backend/src/rhesis/backend/alembic/versions/c2d3e4f5a6b7_add_garak_v0_13_3_detector_metrics.py
  apps/backend/src/rhesis/backend/app/models/metric.py
  apps/backend/src/rhesis/backend/app/routers/endpoint.py
  apps/backend/src/rhesis/backend/app/routers/test.py
  apps/backend/src/rhesis/backend/app/routers/test_configuration.py
  apps/backend/src/rhesis/backend/app/schemas/metric.py
  apps/backend/src/rhesis/backend/app/schemas/metric_types.py
  apps/backend/src/rhesis/backend/app/utils/database_exceptions.py
  apps/backend/src/rhesis/backend/app/utils/odata.py
  apps/backend/src/rhesis/backend/app/utils/query_validation.py
  apps/backend/src/rhesis/backend/metrics/__init__.py
  apps/backend/src/rhesis/backend/metrics/metric_config.py
  apps/backend/src/rhesis/backend/metrics/score_evaluator.py
  apps/backend/uv.lock
  apps/polyphemus/Dockerfile
  apps/polyphemus/pyproject.toml
  apps/polyphemus/uv.lock
Due: backend

build(dev): remove rust from polyphemus dockerfile
  apps/polyphemus/Dockerfile
Due: none
