Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, docs-format, hardcoded-styles

sdk:
  name: format sdk
  language: system
  entry: make -C sdk format
  pass_filenames: false

backend:
  name: format backend
  language: system
  entry: make -C apps/backend format_diff
  pass_filenames: false

frontend-format:
  name: auto-fix frontend formatting
  language: system
  entry: bash -c "cd apps/frontend && npm run format"
  pass_filenames: false

frontend-lint:
  name: lint frontend
  language: system
  entry: bash -c "cd apps/frontend && npm run lint"
  pass_filenames: false

docs-format:
  name: auto-fix docs formatting
  language: system
  entry: bash -c "cd apps/documentation && npm run format"
  pass_filenames: false

hardcoded-styles:
  name: check hardcoded styles in frontend and docs
  language: system
  entry: node scripts/check-hardcoded-styles.js
  pass_filenames: false

feat(frontend): compact progress bar and live polling on jobs list
  apps/frontend/src/app/(protected)/jobs/components/JobsGrid.tsx
  apps/frontend/src/hooks/useGridQuery.ts
Due: frontend-format, frontend-lint, hardcoded-styles

feat(backend): wire progress tracking and enriched narration into jobs
  apps/backend/src/rhesis/backend/jobs/base.py
  apps/backend/src/rhesis/backend/jobs/execution/batch/__init__.py
  apps/backend/src/rhesis/backend/jobs/execution/orchestration.py
  apps/backend/src/rhesis/backend/jobs/execution/results.py
  apps/backend/src/rhesis/backend/jobs/execution/sequential.py
  apps/backend/src/rhesis/backend/jobs/test_configuration.py
  apps/backend/src/rhesis/backend/jobs/test_set.py
  tests/backend/jobs/test_progress_narration.py
Due: backend

feat(frontend): add jobs screen
  apps/frontend/src/app/(protected)/jobs/[identifier]/components/ActivityLogViewer.tsx
  apps/frontend/src/app/(protected)/jobs/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/jobs/components/JobFilterDrawer.tsx
  apps/frontend/src/app/(protected)/jobs/components/JobsGrid.tsx
  apps/frontend/src/app/(protected)/jobs/layout.tsx
  apps/frontend/src/app/(protected)/jobs/page.tsx
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/components/icons.ts
  apps/frontend/src/constants/capabilities.ts
  apps/frontend/src/constants/jobs.ts
  apps/frontend/src/constants/query-keys.ts
  apps/frontend/src/utils/api-client/client-factory.ts
  apps/frontend/src/utils/api-client/config.ts
  apps/frontend/src/utils/api-client/interfaces/job.ts
  apps/frontend/src/utils/api-client/jobs-client.ts
  apps/frontend/src/utils/odata-filter.ts
Due: frontend-format, frontend-lint, hardcoded-styles

feat(backend): add websocket sink for live job updates
  apps/backend/src/rhesis/backend/app/schemas/websocket.py
  apps/backend/src/rhesis/backend/app/services/websocket/authorization.py
  apps/backend/src/rhesis/backend/events/__init__.py
  apps/backend/src/rhesis/backend/events/rendering.py
  apps/backend/src/rhesis/backend/events/sinks/activity_log.py
  apps/backend/src/rhesis/backend/events/sinks/websocket.py
  tests/backend/events/test_websocket_sink.py
  tests/backend/services/websocket/test_sp11_channel_authz.py
Due: backend

feat(backend): add job retention sweep
  apps/backend/src/rhesis/backend/alembic/versions/f2b3c4d5e6a7_add_job_retention_indexes.py
  apps/backend/src/rhesis/backend/app/config/settings.py
  apps/backend/src/rhesis/backend/app/models/activity_log.py
  apps/backend/src/rhesis/backend/celery/config.py
  apps/backend/src/rhesis/backend/jobs/retention.py
  tests/backend/jobs/test_retention.py
Due: backend

refactor(backend): extract prompt crud module (#2590)
  apps/backend/src/rhesis/backend/app/crud/__init__.py
  apps/backend/src/rhesis/backend/app/crud/prompt.py
  apps/backend/src/rhesis/backend/app/routers/prompt.py
  apps/backend/src/rhesis/backend/app/routers/prompt_template.py
  apps/backend/src/rhesis/backend/app/services/test_run.py
  tests/backend/security/test_organization_filtering.py
Due: backend

refactor(frontend): add shared directory list-descriptor engine
  apps/frontend/src/hooks/useDirectoryAuthGate.tsx
  apps/frontend/src/hooks/useDirectoryList.ts
  apps/frontend/src/utils/directory/__tests__/directory-engine.test.ts
  apps/frontend/src/utils/directory/define.ts
  apps/frontend/src/utils/directory/index.ts
  apps/frontend/src/utils/directory/odata.ts
  apps/frontend/src/utils/directory/params.ts
Due: frontend-format, frontend-lint, hardcoded-styles

refactor(frontend): move metrics list onto the directory descriptor
  apps/frontend/src/app/(protected)/metrics/components/MetricsClient.tsx
  apps/frontend/src/app/(protected)/metrics/components/MetricsDirectoryTab.tsx
  apps/frontend/src/app/(protected)/metrics/components/__tests__/directory.test.ts
  apps/frontend/src/app/(protected)/metrics/components/directory.ts
  apps/frontend/src/app/(protected)/metrics/components/metrics-constants.ts
  apps/frontend/src/app/(protected)/metrics/page.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

refactor(frontend): move requirements list onto the directory descriptor
  apps/frontend/src/app/(protected)/requirements/components/RequirementsClient.tsx
  apps/frontend/src/app/(protected)/requirements/components/__tests__/directory.test.ts
  apps/frontend/src/app/(protected)/requirements/components/directory.ts
  apps/frontend/src/app/(protected)/requirements/components/requirements-constants.ts
  apps/frontend/src/app/(protected)/requirements/page.tsx
  apps/frontend/src/utils/odata-filter.ts
Due: frontend-format, frontend-lint, hardcoded-styles

Add list descriptors for metrics and requirements (#2594)
  apps/frontend/src/app/(protected)/metrics/components/MetricsClient.tsx
  apps/frontend/src/app/(protected)/metrics/components/MetricsDirectoryTab.tsx
  apps/frontend/src/app/(protected)/metrics/components/__tests__/directory.test.ts
  apps/frontend/src/app/(protected)/metrics/components/directory.ts
  apps/frontend/src/app/(protected)/metrics/components/metrics-constants.ts
  apps/frontend/src/app/(protected)/metrics/page.tsx
  apps/frontend/src/app/(protected)/requirements/components/RequirementsClient.tsx
  apps/frontend/src/app/(protected)/requirements/components/__tests__/directory.test.ts
  apps/frontend/src/app/(protected)/requirements/components/directory.ts
  apps/frontend/src/app/(protected)/requirements/components/requirements-constants.ts
  apps/frontend/src/app/(protected)/requirements/page.tsx
  apps/frontend/src/hooks/useDirectoryAuthGate.tsx
  apps/frontend/src/hooks/useDirectoryList.ts
  apps/frontend/src/utils/directory/__tests__/directory-engine.test.ts
  apps/frontend/src/utils/directory/define.ts
  apps/frontend/src/utils/directory/index.ts
  apps/frontend/src/utils/directory/odata.ts
  apps/frontend/src/utils/directory/params.ts
  apps/frontend/src/utils/odata-filter.ts
Due: frontend-format, frontend-lint, hardcoded-styles

refactor(frontend): extract the test run stat card
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestRunHeader.tsx
  apps/frontend/src/components/common/SummaryCard.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

feat(frontend): let a detail tab carry a badge
  apps/frontend/src/components/common/DetailTabNav.tsx
  apps/frontend/src/components/common/__tests__/DetailTabNav.test.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

feat(frontend): drop the metric tuning flag
  apps/frontend/src/app/(protected)/metrics/[identifier]/MetricDetailPageTabs.tsx
  apps/frontend/src/app/(protected)/metrics/[identifier]/tuning/useIsCustomMetric.ts
Due: frontend-format, frontend-lint, hardcoded-styles

feat(frontend): match the tuning tab to the rest of the app
  apps/frontend/src/app/(protected)/metrics/[identifier]/MetricDetailPageTabs.tsx
  apps/frontend/src/app/(protected)/metrics/[identifier]/tuning/MetricTuningTab.tsx
  apps/frontend/src/app/(protected)/metrics/[identifier]/tuning/__tests__/MetricTuningTab.test.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

refactor(backend): extract status/topic/category crud
  apps/backend/src/rhesis/backend/app/crud/__init__.py
  apps/backend/src/rhesis/backend/app/crud/category.py
  apps/backend/src/rhesis/backend/app/crud/status.py
  apps/backend/src/rhesis/backend/app/crud/topic.py
  apps/backend/src/rhesis/backend/app/routers/category.py
  apps/backend/src/rhesis/backend/app/routers/status.py
  apps/backend/src/rhesis/backend/app/routers/topic.py
  apps/backend/src/rhesis/backend/app/services/task_notification.py
  tests/backend/security/test_organization_filtering.py
Due: backend

Match the metric tuning tab to the rest of the app (#2598)
  apps/frontend/src/app/(protected)/metrics/[identifier]/MetricDetailPageTabs.tsx
  apps/frontend/src/app/(protected)/metrics/[identifier]/tuning/MetricTuningTab.tsx
  apps/frontend/src/app/(protected)/metrics/[identifier]/tuning/__tests__/MetricTuningTab.test.tsx
  apps/frontend/src/app/(protected)/metrics/[identifier]/tuning/useIsCustomMetric.ts
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestRunHeader.tsx
  apps/frontend/src/components/common/DetailTabNav.tsx
  apps/frontend/src/components/common/SummaryCard.tsx
  apps/frontend/src/components/common/__tests__/DetailTabNav.test.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

refactor(backend): extract status/topic/category crud (#2597)
  apps/backend/src/rhesis/backend/app/crud/__init__.py
  apps/backend/src/rhesis/backend/app/crud/category.py
  apps/backend/src/rhesis/backend/app/crud/status.py
  apps/backend/src/rhesis/backend/app/crud/topic.py
  apps/backend/src/rhesis/backend/app/routers/category.py
  apps/backend/src/rhesis/backend/app/routers/status.py
  apps/backend/src/rhesis/backend/app/routers/topic.py
  apps/backend/src/rhesis/backend/app/services/task_notification.py
  tests/backend/security/test_organization_filtering.py
Due: backend

refactor(backend): extract test configuration crud
  apps/backend/src/rhesis/backend/app/crud/__init__.py
  apps/backend/src/rhesis/backend/app/crud/test_configuration.py
  apps/backend/src/rhesis/backend/app/routers/test_configuration.py
  apps/backend/src/rhesis/backend/app/services/test_run.py
  apps/backend/src/rhesis/backend/app/services/test_set.py
  apps/backend/src/rhesis/backend/jobs/execution/config.py
  apps/backend/src/rhesis/backend/jobs/execution/modes.py
  tests/backend/routes/test_execute_dispatch_task_id.py
  tests/backend/services/test_rescore.py
Due: backend

refactor(backend): extract test configuration crud (#2599)
  apps/backend/src/rhesis/backend/app/crud/__init__.py
  apps/backend/src/rhesis/backend/app/crud/test_configuration.py
  apps/backend/src/rhesis/backend/app/routers/test_configuration.py
  apps/backend/src/rhesis/backend/app/services/test_run.py
  apps/backend/src/rhesis/backend/app/services/test_set.py
  apps/backend/src/rhesis/backend/jobs/execution/config.py
  apps/backend/src/rhesis/backend/jobs/execution/modes.py
  tests/backend/routes/test_execute_dispatch_task_id.py
  tests/backend/services/test_rescore.py
Due: backend

refactor(backend): extract tool and type lookup crud
  apps/backend/src/rhesis/backend/app/crud/__init__.py
  apps/backend/src/rhesis/backend/app/crud/tool.py
  apps/backend/src/rhesis/backend/app/crud/type_lookup.py
  apps/backend/src/rhesis/backend/app/routers/tools.py
  apps/backend/src/rhesis/backend/app/routers/type_lookup.py
  apps/backend/src/rhesis/backend/app/services/source.py
  apps/backend/src/rhesis/backend/app/services/task_notification.py
  apps/backend/src/rhesis/backend/app/services/tool/actions.py
  apps/backend/src/rhesis/backend/app/services/tool/mcp/config.py
  apps/backend/src/rhesis/backend/app/services/tool/rest/config.py
  apps/backend/src/rhesis/backend/app/services/tool/rest/health.py
  apps/backend/src/rhesis/backend/app/services/tool/rest/jira.py
  tests/backend/services/test_jira_rest.py
  tests/backend/services/test_mcp_service.py
  tests/backend/services/test_rest_config.py
  tests/backend/services/test_rest_health.py
Due: backend

refactor(backend): extract tool and type lookup crud (#2600)
  apps/backend/src/rhesis/backend/app/crud/__init__.py
  apps/backend/src/rhesis/backend/app/crud/tool.py
  apps/backend/src/rhesis/backend/app/crud/type_lookup.py
  apps/backend/src/rhesis/backend/app/routers/tools.py
  apps/backend/src/rhesis/backend/app/routers/type_lookup.py
  apps/backend/src/rhesis/backend/app/services/source.py
  apps/backend/src/rhesis/backend/app/services/task_notification.py
  apps/backend/src/rhesis/backend/app/services/tool/actions.py
  apps/backend/src/rhesis/backend/app/services/tool/mcp/config.py
  apps/backend/src/rhesis/backend/app/services/tool/rest/config.py
  apps/backend/src/rhesis/backend/app/services/tool/rest/health.py
  apps/backend/src/rhesis/backend/app/services/tool/rest/jira.py
  tests/backend/services/test_jira_rest.py
  tests/backend/services/test_mcp_service.py
  tests/backend/services/test_rest_config.py
  tests/backend/services/test_rest_health.py
Due: backend

docs: add changelog entries for v0.11.0-v0.13.0
  docs/content/changelog.mdx
Due: none

docs: attribute the OWASP Top 10 reports
  NOTICE
  docs/content/docs/acknowledgments.mdx
Due: none

docs: drop usage quota enforcement from v0.13.0 changelog
  docs/content/changelog.mdx
Due: none

docs: document OWASP test set generation
  docs/content/docs/test-sets/_meta.tsx
  docs/content/docs/test-sets/generate-owasp.mdx
  docs/content/docs/test-sets/index.mdx
  docs/src/public/screenshots/rhesis-ai-testsets-generate-owasp-dark.webp
  docs/src/public/screenshots/rhesis-ai-testsets-generate-owasp.webp
Due: none

docs: fix stale OWASPSynthesizer parameters
  docs/content/sdk/synthesizers.mdx
Due: none

refactor(backend): extract experiment crud module
  apps/backend/src/rhesis/backend/app/crud/__init__.py
  apps/backend/src/rhesis/backend/app/crud/experiment.py
  apps/backend/src/rhesis/backend/app/routers/experiments.py
Due: backend

refactor(backend): extract experiment crud module (#2601)
  apps/backend/src/rhesis/backend/app/crud/__init__.py
  apps/backend/src/rhesis/backend/app/crud/experiment.py
  apps/backend/src/rhesis/backend/app/routers/experiments.py
Due: backend

refactor(backend): extract endpoint crud module
  apps/backend/src/rhesis/backend/app/crud/__init__.py
  apps/backend/src/rhesis/backend/app/crud/endpoint.py
  apps/backend/src/rhesis/backend/app/routers/endpoint.py
  apps/backend/src/rhesis/backend/app/routers/test.py
  apps/backend/src/rhesis/backend/app/services/architect/runner.py
  apps/backend/src/rhesis/backend/app/services/endpoint/sdk_sync.py
  apps/backend/src/rhesis/backend/app/services/endpoint/service.py
  apps/backend/src/rhesis/backend/app/services/explorer/settings.py
  apps/backend/src/rhesis/backend/app/services/organization.py
  apps/backend/src/rhesis/backend/app/services/test_set.py
  apps/backend/src/rhesis/backend/jobs/execution/batch/context.py
  apps/backend/src/rhesis/backend/jobs/execution/penelope_target.py
  tests/backend/jobs/test_batch_per_test_metrics.py
  tests/backend/jobs/test_execution.py
  tests/backend/routes/test_endpoint_explore.py
  tests/backend/security/test_organization_filtering.py
  tests/backend/services/test_endpoint_service.py
  tests/backend/services/test_test_set.py
Due: backend

refactor(backend): extract endpoint crud module (#2602)
  apps/backend/src/rhesis/backend/app/crud/__init__.py
  apps/backend/src/rhesis/backend/app/crud/endpoint.py
  apps/backend/src/rhesis/backend/app/routers/endpoint.py
  apps/backend/src/rhesis/backend/app/routers/test.py
  apps/backend/src/rhesis/backend/app/services/architect/runner.py
  apps/backend/src/rhesis/backend/app/services/endpoint/sdk_sync.py
  apps/backend/src/rhesis/backend/app/services/endpoint/service.py
  apps/backend/src/rhesis/backend/app/services/explorer/settings.py
  apps/backend/src/rhesis/backend/app/services/organization.py
  apps/backend/src/rhesis/backend/app/services/test_set.py
  apps/backend/src/rhesis/backend/jobs/execution/batch/context.py
  apps/backend/src/rhesis/backend/jobs/execution/penelope_target.py
  tests/backend/jobs/test_batch_per_test_metrics.py
  tests/backend/jobs/test_execution.py
  tests/backend/routes/test_endpoint_explore.py
  tests/backend/security/test_organization_filtering.py
  tests/backend/services/test_endpoint_service.py
  tests/backend/services/test_test_set.py
Due: backend

docs: cut repeated facts from the OWASP page
  docs/content/docs/test-sets/generate-owasp.mdx
Due: none

Add v0.11.0-v0.13.0 changelog entries and OWASP documentation (#2595)
  NOTICE
  docs/content/changelog.mdx
  docs/content/docs/acknowledgments.mdx
  docs/content/docs/test-sets/_meta.tsx
  docs/content/docs/test-sets/generate-owasp.mdx
  docs/content/docs/test-sets/index.mdx
  docs/content/sdk/synthesizers.mdx
  docs/src/public/screenshots/rhesis-ai-testsets-generate-owasp-dark.webp
  docs/src/public/screenshots/rhesis-ai-testsets-generate-owasp.webp
Due: none

feat(backend): add test phase callbacks
  apps/backend/src/rhesis/backend/jobs/execution/batch/__init__.py
  apps/backend/src/rhesis/backend/jobs/execution/batch/runner.py
  apps/backend/src/rhesis/backend/jobs/execution/orchestration.py
  apps/backend/src/rhesis/backend/jobs/execution/sequential.py
  apps/backend/src/rhesis/backend/jobs/test_configuration.py
  tests/backend/jobs/test_test_phase_callbacks.py
Due: backend

perf(backend): drop per-metric activity log events
  apps/backend/src/rhesis/backend/jobs/execution/batch/evaluation.py
  tests/backend/jobs/test_progress_narration.py
Due: backend

feat(backend): add TestRunSink with coalesced publishes
  apps/backend/src/rhesis/backend/app/schemas/websocket.py
  apps/backend/src/rhesis/backend/events/__init__.py
  apps/backend/src/rhesis/backend/events/sinks/test_run.py
  tests/backend/events/test_test_run_sink.py
Due: backend

feat(backend): emit a final tick when a run finishes
  apps/backend/src/rhesis/backend/jobs/execution/results.py
  tests/backend/jobs/test_terminal_tick.py
Due: backend

feat(frontend): mirror test_run.progressed event type
  apps/frontend/src/utils/websocket/types.ts
Due: frontend-format, frontend-lint, hardcoded-styles

feat(backend): snapshot metric plan at dispatch
  apps/backend/src/rhesis/backend/jobs/execution/metric_plan.py
  apps/backend/src/rhesis/backend/jobs/execution/run.py
  tests/backend/jobs/test_metric_plan_dispatch.py
Due: backend

feat(backend): add verdict grid queries to test run crud
  apps/backend/src/rhesis/backend/app/crud/test_run.py
  apps/backend/src/rhesis/backend/app/models/__init__.py
Due: backend

Path conditions:
  sdk: any of: ^sdk/
  backend: any of: ^apps/backend/
  frontend-format: any of: ^apps/frontend/
  frontend-lint: any of: ^apps/frontend/
  docs-format: any of: ^apps/documentation/
  hardcoded-styles: any of: ^apps/(frontend|documentation)/
