Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, frontend-hardcoded-styles

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict

  - repo: local
    hooks:
        - id: sdk
          name  : format sdk
          language: system
          entry: make -C sdk format
          files: ^sdk/
          pass_filenames: false

        - id: backend
          name  : format backend
          language: system
          entry: make -C apps/backend format_diff
          files: ^apps/backend/
          pass_filenames: false

        - id: frontend-format
          name: auto-fix frontend formatting
          language: system
          entry: cd apps/frontend && npm run format
          files: ^apps/frontend/
          pass_filenames: false

        - id: frontend-lint
          name: lint frontend
          language: system
          entry: cd apps/frontend && npm run lint
          files: ^apps/frontend/
          pass_filenames: false

        - id: frontend-hardcoded-styles
          name: check hardcoded styles in frontend
          language: system
          entry: node scripts/check-hardcoded-styles.js
          files: ^apps/frontend/
          pass_filenames: false


  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.8.0
  #   hooks:
  #     - id: mypy
  #       additional_dependencies: [
  #         "types-requests",
  #         "pandas-stubs",
  #         "pyarrow-stubs",
  #         "types-tqdm"
  #       ]

fix: release message
  .github/workflows/create-release.yml
Due: none

fix: clean release action files
  .github/workflows/publish-sdk.yml
  release_config.json
Due: none

feat(docs): major documentation redesign with icon system and new components
  apps/documentation/app/layout.jsx
  apps/documentation/components/CommunitySupport.jsx
  apps/documentation/components/FeatureOverview.jsx
  apps/documentation/components/Footer.jsx
  apps/documentation/components/IndustryExamples.jsx
  apps/documentation/components/README.md
  apps/documentation/components/ThemeAwareLogo.jsx
  apps/documentation/content/development/contributing/development-setup/index.mdx
  apps/documentation/content/development/contributing/index.mdx
  apps/documentation/content/development/contributing/managing-docs/index.mdx
  apps/documentation/content/getting-started/index.mdx
  apps/documentation/content/index.mdx
  apps/documentation/mdx-components.js
  apps/documentation/package-lock.json
  apps/documentation/package.json
  apps/documentation/public/logo/rhesis-Logo-rgb-main-logo.png
  apps/documentation/public/logo/rhesis-logo-favicon-white.svg
  apps/documentation/public/logo/rhesis-logo-favicon.svg
  apps/documentation/public/logo/rhesis-logo-rgb-isotype.png
  apps/documentation/public/logo/rhesis-logo-website-white.png
  apps/documentation/public/logo/rhesis-logo-website.png
  apps/documentation/public/rhesis-logo-white.png
  apps/documentation/public/rhesis-logo.png
  apps/documentation/public/screenshots/rhesis-ai-dashboard.png
  apps/documentation/styles/globals.css
  apps/documentation/theme.config.jsx
Due: none

feat(docs): update logo system and fix MDX compilation issues
  apps/documentation/components/CommunitySupport.jsx
  apps/documentation/components/FeatureOverview.jsx
  apps/documentation/components/IndustryExamples.jsx
  apps/documentation/components/InfoCard.jsx
  apps/documentation/components/README.md
  apps/documentation/components/ThemeAwareLogo.jsx
  apps/documentation/content/getting-started/sdk.mdx
  apps/documentation/public/logo/rhesis_logo_dark_documentation.png
  apps/documentation/public/logo/rhesis_logo_documentation.png
  apps/documentation/public/shapes/water divider.svg
  apps/documentation/public/shapes/webbed feet-1.svg
  apps/documentation/public/shapes/webbed feet-2.svg
  apps/documentation/public/shapes/webbed feet-3.svg
  apps/documentation/public/shapes/webbed feet.svg
  apps/documentation/theme.config.jsx
Due: none

feat: add default model settings for generation and evaluation
  apps/frontend/src/app/(protected)/integrations/models/components/ConnectionDialog.tsx
  apps/frontend/src/app/(protected)/integrations/models/page.tsx
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

style: use subdued gray edit icon like metrics
  apps/frontend/src/app/(protected)/integrations/models/page.tsx
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

refactor: update model cards to match metrics styling and apply consistent width constraints
  apps/frontend/src/app/(protected)/integrations/applications/page.tsx
  apps/frontend/src/app/(protected)/integrations/models/components/ConnectionDialog.tsx
  apps/frontend/src/app/(protected)/integrations/models/components/ModelCard.tsx
  apps/frontend/src/app/(protected)/integrations/models/page.tsx
  apps/frontend/src/app/(protected)/integrations/tools/page.tsx
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

feat: add user settings API endpoints
  apps/backend/src/rhesis/backend/app/routers/user.py
Due: backend

feat(frontend): restrict model providers to SDK-supported ones
  apps/frontend/src/app/(protected)/integrations/models/page.tsx
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

refactor: extract models page into separate components
  apps/frontend/src/app/(protected)/integrations/models/components/ConnectionDialog.tsx
  apps/frontend/src/app/(protected)/integrations/models/components/ModelCard.tsx
  apps/frontend/src/app/(protected)/integrations/models/components/ProviderSelectionDialog.tsx
  apps/frontend/src/app/(protected)/integrations/models/components/index.ts
  apps/frontend/src/app/(protected)/integrations/models/page.tsx
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

refactor(frontend): reorder integrations menu - Models first
  apps/frontend/src/app/(protected)/integrations/layout.tsx
  apps/frontend/src/app/layout.tsx
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

feat: require successful connection test before model creation
  apps/frontend/src/app/(protected)/integrations/models/page.tsx
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

refactor(frontend): move test connection button next to API key field
  apps/frontend/src/app/(protected)/integrations/models/page.tsx
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

fix: fetch all provider types by adding limit parameter
  apps/frontend/src/app/(protected)/integrations/models/page.tsx
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

fix: reset loading state when dialog reopens
  apps/frontend/src/app/(protected)/integrations/models/components/ConnectionDialog.tsx
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

feat(frontend): add conditional endpoint field for self-hosted providers
  apps/frontend/src/app/(protected)/integrations/models/page.tsx
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

refactor(frontend): rename llm-providers to models for consistency
  apps/frontend/src/app/(protected)/integrations/layout.tsx
  apps/frontend/src/app/(protected)/integrations/models/page.tsx
  apps/frontend/src/app/layout.tsx
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

feat: constrain models page width to match metrics styling
  apps/frontend/src/app/(protected)/integrations/models/components/ModelCard.tsx
  apps/frontend/src/app/(protected)/integrations/models/page.tsx
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

style: Format alert message text in ConnectionDialog
  apps/frontend/src/app/(protected)/integrations/models/components/ConnectionDialog.tsx
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

feat(frontend): make API endpoint optional for known model providers
  apps/frontend/src/app/(protected)/integrations/models/page.tsx
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

feat: add user_settings column to User model
  apps/backend/src/rhesis/backend/alembic/versions/a1b2c3d4e5f6_add_user_settings_column.py
  apps/backend/src/rhesis/backend/app/models/user.py
  apps/backend/src/rhesis/backend/app/schemas/user.py
  docs/backend/user-settings.md
Due: backend

fix: use tenant db session and remove manual commit for settings endpoint
  apps/backend/src/rhesis/backend/app/routers/user.py
Due: backend

refactor(frontend): remove API endpoint field from model connection
  apps/frontend/src/app/(protected)/integrations/models/page.tsx
  apps/frontend/src/utils/api-client/interfaces/model.ts
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

fix: improve disabled button visibility and add connection test requirement alerts
  apps/frontend/src/app/(protected)/integrations/models/components/ConnectionDialog.tsx
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

fix: preserve natural error messages from all providers in connection test
  apps/backend/src/rhesis/backend/app/services/model_connection.py
  apps/frontend/src/app/(protected)/integrations/models/page.tsx
Due: backend, frontend-format, frontend-lint, frontend-hardcoded-styles

fix: always send endpoint field in test connection request
  apps/frontend/src/app/(protected)/integrations/models/page.tsx
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

feat: apply consistent width constraints to Applications and Tools pages
  apps/frontend/src/app/(protected)/integrations/applications/page.tsx
  apps/frontend/src/app/(protected)/integrations/tools/page.tsx
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

fix: prevent button text flicker in edit mode
  apps/frontend/src/app/(protected)/integrations/models/page.tsx
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

feat(frontend): add user settings API client and interfaces.
  apps/frontend/src/utils/api-client/interfaces/user.ts
  apps/frontend/src/utils/api-client/users-client.ts
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

refactor: centralize user settings with manager class and rename llm to models
  apps/backend/src/rhesis/backend/alembic/versions/a1b2c3d4e5f6_add_user_settings_column.py
  apps/backend/src/rhesis/backend/app/models/user.py
  apps/backend/src/rhesis/backend/app/models/user_settings.py
  apps/backend/src/rhesis/backend/app/schemas/user.py
  docs/backend/user-settings.md
Due: backend

fix: prevent button text flicker when closing dialog
  apps/frontend/src/app/(protected)/integrations/models/components/ConnectionDialog.tsx
  apps/frontend/src/app/(protected)/integrations/models/page.tsx
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

fix: Ensure consistent whitespace stripping in endpoint validators
  apps/backend/src/rhesis/backend/app/schemas/model.py
Due: backend
