Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, frontend-hardcoded-styles

sdk:
  name: format sdk
  language: system
  entry: make -C sdk format
  pass_filenames: false

backend:
  name: format backend
  language: system
  entry: make -C apps/backend format_diff
  pass_filenames: false

frontend-format:
  name: auto-fix frontend formatting
  language: system
  entry: cd apps/frontend && npm run format
  pass_filenames: false

frontend-lint:
  name: lint frontend
  language: system
  entry: cd apps/frontend && npm run lint
  pass_filenames: false

frontend-hardcoded-styles:
  name: check hardcoded styles in frontend
  language: system
  entry: node scripts/check-hardcoded-styles.js
  pass_filenames: false

style(table-view): align icon styles between Activity and Actions columns
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestsTableView.tsx
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

test
  sdk/src/rhesis/sdk/entities/__init__.py
Due: sdk

fix(comparison-view): replace hardcoded font sizes with theme values
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/ComparisonView.tsx
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

fix(lint): remove console statements to resolve CI warnings
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/ReviewJudgementDrawer.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestsTableView.tsx
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

ci(backend): prevent stale Docker cache in deployment builds
  .github/workflows/backend.yml
Due: none

feat(ui): implement reusable StatusChip component for consistent status display
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/ComparisonView.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/ReviewJudgementDrawer.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestDetailHistoryTab.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestDetailMetricsTab.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestDetailOverviewTab.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestDetailPanel.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestDetailReviewsTab.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestResultDrawer.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestRunMainView.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestsTableView.tsx
  apps/frontend/src/components/common/BaseDrawer.tsx
  apps/frontend/src/components/common/StatusChip.tsx
  apps/frontend/src/components/common/__tests__/BaseDrawer.test.tsx
  apps/frontend/src/components/common/__tests__/StatusChip.test.tsx
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

feat(frontend): optimize test result retrieval using nested data
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/ComparisonView.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/ReviewJudgementDrawer.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestDetailPanel.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestDetailReviewsTab.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestResultDrawer.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestRunFilterBar.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestRunMainView.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestsTableView.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/hooks/useTestRunData.ts
  apps/frontend/src/app/(protected)/test-runs/[identifier]/page.tsx
  apps/frontend/src/components/common/__tests__/BaseDrawer.test.tsx
  apps/frontend/src/components/common/__tests__/StatusChip.test.tsx
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

fix: remove hardcoded styles to comply with theme standards
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestsTableView.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/page.tsx
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

fix: use theme-based border radius values
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestsTableView.tsx
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

ci(release): add GitHub App token authentication to create-release workflow
  .github/workflows/create-release.yml
Due: none

ci(release): replace PR workflow with direct git operations in set-up-release
  .github/workflows/set-up-release.yml
Due: none

docs: restore missing 'Direct import' section to SDK documentation
  apps/documentation/content/getting-started/sdk.mdx
Due: none

test
  test
Due: none

feat(docs): add feature overview component to documentation homepage
  apps/documentation/components/FeatureOverview.jsx
  apps/documentation/components/README.md
  apps/documentation/content/index.mdx
  apps/documentation/mdx-components.js
  apps/documentation/next.config.mjs
  apps/documentation/tsconfig.json
Due: none

fix(docs): update feature overview with knowledge support and fix icon sizing
  apps/documentation/components/FeatureOverview.jsx
Due: none

fix(docs): set explicit icon dimensions to prevent scaling
  apps/documentation/components/FeatureOverview.jsx
Due: none

docs: rewrite core concepts with prose instead of bullets
  apps/documentation/content/getting-started/concepts.mdx
Due: none

fix(release): improve release PR message formatting and workflow
  .github/release_tools/processor.py
  .github/workflows/create-release.yml
Due: none

fix: delete unused files
  release_config.json
  test
Due: none

fix: fix the message causing errors
  .github/workflows/create-release.yml
Due: none

fix: release message
  .github/workflows/create-release.yml
Due: none

Path conditions:
  sdk: any of: ^sdk/
  backend: any of: ^apps/backend/
  frontend-format: any of: ^apps/frontend/
  frontend-lint: any of: ^apps/frontend/
  frontend-hardcoded-styles: any of: ^apps/frontend/
