Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, frontend-hardcoded-styles

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict

  - repo: local
    hooks:
        - id: sdk
          name  : format sdk
          language: system
          entry: make -C sdk format
          files: ^sdk/
          pass_filenames: false

        - id: backend
          name  : format backend
          language: system
          entry: make -C apps/backend format_diff
          files: ^apps/backend/
          pass_filenames: false

        - id: frontend-format
          name: auto-fix frontend formatting
          language: system
          entry: cd apps/frontend && npm run format
          files: ^apps/frontend/
          pass_filenames: false

        - id: frontend-lint
          name: lint frontend
          language: system
          entry: cd apps/frontend && npm run lint
          files: ^apps/frontend/
          pass_filenames: false

        - id: frontend-hardcoded-styles
          name: check hardcoded styles in frontend
          language: system
          entry: node scripts/check-hardcoded-styles.js
          files: ^apps/frontend/
          pass_filenames: false


  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.8.0
  #   hooks:
  #     - id: mypy
  #       additional_dependencies: [
  #         "types-requests",
  #         "pandas-stubs",
  #         "pyarrow-stubs",
  #         "types-tqdm"
  #       ]

refactor: Reorganize import statements across multiple Alembic migration files
  apps/backend/src/rhesis/backend/alembic/versions/10c4e8124417_add_is_protected_to_model.py
  apps/backend/src/rhesis/backend/alembic/versions/5ac5d119bda1_sync_schema_changes.py
  apps/backend/src/rhesis/backend/alembic/versions/d99dc2079c4d_add_rhesis_provider_type.py
  apps/backend/src/rhesis/backend/alembic/versions/e8dd05d20cd0_add_default_rhesis_model_to_existing_.py
  apps/backend/src/rhesis/backend/alembic/versions/fe5d9ca98fca_update_source_model_with_status_.py
  apps/backend/src/rhesis/backend/app/models/model.py
  apps/backend/src/rhesis/backend/app/utils/llm_utils.py
Due: backend

debug: add emergency logging to trace SIGKILL crash location
  apps/backend/src/rhesis/backend/tasks/test_configuration.py
Due: backend

Revert "refactor: Reorganize import statements across multiple Alembic migration files"
  apps/backend/src/rhesis/backend/alembic/versions/10c4e8124417_add_is_protected_to_model.py
  apps/backend/src/rhesis/backend/alembic/versions/5ac5d119bda1_sync_schema_changes.py
  apps/backend/src/rhesis/backend/alembic/versions/d99dc2079c4d_add_rhesis_provider_type.py
  apps/backend/src/rhesis/backend/alembic/versions/e8dd05d20cd0_add_default_rhesis_model_to_existing_.py
  apps/backend/src/rhesis/backend/alembic/versions/fe5d9ca98fca_update_source_model_with_status_.py
  apps/backend/src/rhesis/backend/app/models/model.py
  apps/backend/src/rhesis/backend/app/utils/llm_utils.py
Due: backend

feat(metrics): Add parameter introspection and fix categorical metric adapter
  apps/backend/src/rhesis/backend/metrics/adapters.py
  apps/backend/src/rhesis/backend/metrics/evaluator.py
  tests/backend/metrics/test_introspection.py
Due: backend

feat(sdk): Improve LLM error logging with full traceback
  sdk/src/rhesis/sdk/models/providers/native.py
  sdk/src/rhesis/sdk/services/llm.py
Due: sdk

debug: Add detailed request logging for RhesisLLM
  sdk/src/rhesis/sdk/models/providers/native.py
Due: sdk

feat(frontend): send project_id to test config generation endpoint
  apps/frontend/src/app/(protected)/tests/new-generated/components/TestGenerationFlow.tsx
  apps/frontend/src/utils/api-client/services-client.ts
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

feat: Add founder welcome email for new user sign-ups
  apps/backend/src/rhesis/backend/app/auth/user_utils.py
  apps/backend/src/rhesis/backend/notifications/email/service.py
  apps/backend/src/rhesis/backend/notifications/email/smtp.py
  apps/backend/src/rhesis/backend/notifications/email/template_service.py
  apps/backend/src/rhesis/backend/notifications/email/templates/founder_welcome.html.jinja2
Due: backend

fix: Use environment variable for founder email BCC instead of hardcoding
  apps/backend/src/rhesis/backend/app/auth/user_utils.py
  apps/backend/src/rhesis/backend/notifications/email/service.py
  apps/backend/src/rhesis/backend/notifications/email/smtp.py
Due: backend

refactor: Rename FOUNDER_EMAIL_BCC to AGENT_EMAIL_BCC
  .github/workflows/backend.yml
  apps/backend/src/rhesis/backend/notifications/email/service.py
Due: backend

refactor: Rename founder_welcome to welcome and make calendar link configurable
  .github/workflows/backend.yml
  apps/backend/src/rhesis/backend/alembic/versions/10c4e8124417_add_is_protected_to_model.py
  apps/backend/src/rhesis/backend/alembic/versions/5ac5d119bda1_sync_schema_changes.py
  apps/backend/src/rhesis/backend/alembic/versions/d99dc2079c4d_add_rhesis_provider_type.py
  apps/backend/src/rhesis/backend/alembic/versions/e8dd05d20cd0_add_default_rhesis_model_to_existing_.py
  apps/backend/src/rhesis/backend/alembic/versions/fe5d9ca98fca_update_source_model_with_status_.py
  apps/backend/src/rhesis/backend/app/auth/user_utils.py
  apps/backend/src/rhesis/backend/app/models/model.py
  apps/backend/src/rhesis/backend/app/utils/llm_utils.py
  apps/backend/src/rhesis/backend/notifications/email/service.py
  apps/backend/src/rhesis/backend/notifications/email/template_service.py
  apps/backend/src/rhesis/backend/notifications/email/templates/welcome.html.jinja2
Due: backend

fix(sdk): handle OpenAI-wrapped schemas in LLM providers
  sdk/src/rhesis/sdk/models/providers/litellm.py
  sdk/src/rhesis/sdk/models/providers/native.py
  sdk/src/rhesis/sdk/models/utils.py
Due: sdk

chore(dev): improve worker startup in rh script
  rh
Due: none

docs(api): clarify OpenAI-wrapped schema requirement
  apps/backend/src/rhesis/backend/app/routers/services.py
Due: backend

docs: infomration about frameworks
  docs/content/sdk/metrics.mdx
Due: none

feat(sdk): support both plain and OpenAI-wrapped JSON schemas
  apps/backend/src/rhesis/backend/app/routers/services.py
  sdk/src/rhesis/sdk/models/providers/native.py
  sdk/src/rhesis/sdk/models/utils.py
Due: sdk, backend

refactor(sdk): simplify schema wrapping logic in RhesisLLM
  sdk/src/rhesis/sdk/models/providers/native.py
Due: sdk

refactor(sdk): simplify to only support OpenAI-wrapped schemas
  apps/backend/src/rhesis/backend/app/routers/services.py
  sdk/src/rhesis/sdk/models/providers/litellm.py
  sdk/src/rhesis/sdk/models/providers/native.py
  sdk/src/rhesis/sdk/models/utils.py
  sdk/src/rhesis/sdk/services/llm.py
Due: sdk, backend

chore(backend): remove extensive debug logging
  apps/backend/src/rhesis/backend/metrics/adapters.py
  apps/backend/src/rhesis/backend/metrics/evaluator.py
  apps/backend/src/rhesis/backend/tasks/execution/test_execution.py
  apps/backend/src/rhesis/backend/tasks/test_configuration.py
Due: backend

fix: _create_ollama_llm init error
  sdk/src/rhesis/sdk/models/factory.py
Due: sdk
