Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, docs-format, hardcoded-styles

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict

  - repo: local
    hooks:
        - id: trufflehog
          name: TruffleHog
          description: Detect secrets in your data.
          entry: bash -c 'PATH="$HOME/.local/bin:$PATH" trufflehog git file://. --since-commit HEAD --only-verified --fail --no-update'
          language: system
          stages: ["pre-commit", "pre-push"]

        - id: sdk
          name  : format sdk
          language: system
          entry: make -C sdk format
          files: ^sdk/
          pass_filenames: false

        - id: backend
          name  : format backend
          language: system
          entry: make -C apps/backend format_diff
          files: ^apps/backend/
          pass_filenames: false

        - id: frontend-format
          name: auto-fix frontend formatting
          language: system
          entry: bash -c "cd apps/frontend && npm run format"
          files: ^apps/frontend/
          pass_filenames: false

        - id: frontend-lint
          name: lint frontend
          language: system
          entry: bash -c "cd apps/frontend && npm run lint"
          files: ^apps/frontend/
          pass_filenames: false

        - id: docs-format
          name: auto-fix docs formatting
          language: system
          entry: bash -c "cd apps/documentation && npm run format"
          files: ^apps/documentation/
          pass_filenames: false

        - id: hardcoded-styles
          name: check hardcoded styles in frontend and docs
          language: system
          entry: node scripts/check-hardcoded-styles.js
          files: ^apps/(frontend|documentation)/
          pass_filenames: false


  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.8.0
  #   hooks:
  #     - id: mypy
  #       additional_dependencies: [
  #         "types-requests",
  #         "pandas-stubs",
  #         "pyarrow-stubs",
  #         "types-tqdm"
  #       ]

fix(frontend): raise onboarding invite cap for unlimited tiers
  apps/frontend/src/app/(protected)/onboarding/components/InviteTeamStep.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): cap Assign Test Set drawer fetch at 100 (#2638)
  apps/frontend/src/components/tests/LinkedTestSetsSection.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): deduplicate metric selection and guard unnamed metrics
  apps/frontend/src/components/common/RunDrawer.tsx
  apps/frontend/src/components/common/SelectMetricsDialog.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

Harden onboarding invite limits and fix dark mode inputs (#2637)
  apps/backend/src/rhesis/backend/app/dependencies.py
  apps/backend/src/rhesis/backend/app/routers/features.py
  apps/frontend/src/app/(protected)/onboarding/components/InviteTeamStep.tsx
  apps/frontend/src/app/(protected)/onboarding/components/OnboardingPageClient.tsx
  apps/frontend/src/app/(protected)/onboarding/components/onboarding-steps.ts
  apps/frontend/src/contexts/FeaturesContext.tsx
  apps/frontend/src/styles/theme.ts
  apps/frontend/src/utils/api-client/features-client.ts
Due: backend, frontend-format, frontend-lint, hardcoded-styles

fix(frontend): deduplicate metric selection and guard unnamed metrics (#2641)
  apps/frontend/src/components/common/RunDrawer.tsx
  apps/frontend/src/components/common/SelectMetricsDialog.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

chore: scope agent context per Claude Code guidance
  .claude/settings.json
  .claude/skills/docs-design-tokens/SKILL.md
  .claude/skills/docs-social-images/SKILL.md
  .claude/skills/ee-feature/SKILL.md
  .claude/skills/update-branch/SKILL.md
  AGENTS.md
  apps/backend/AGENTS.md
  docs/AGENTS.md
Due: backend

Prune stale AGENTS.md content and scope agent context (#2640)
  .claude/settings.json
  .claude/skills/docs-design-tokens/SKILL.md
  .claude/skills/docs-social-images/SKILL.md
  .claude/skills/ee-feature/SKILL.md
  .claude/skills/update-branch/SKILL.md
  AGENTS.md
  CLAUDE.md
  apps/backend/AGENTS.md
  apps/frontend/AGENTS.md
  docs/AGENTS.md
  sdk/AGENTS.md
Due: sdk, backend, frontend-format, frontend-lint, hardcoded-styles

fix(dev): link new skills from .agents, not .claude
  .agents/skills/docs-design-tokens/SKILL.md
  .agents/skills/docs-social-images/SKILL.md
  .agents/skills/ee-feature/SKILL.md
  .agents/skills/update-branch/SKILL.md
  .claude/skills/docs-design-tokens
  .claude/skills/docs-social-images
  .claude/skills/ee-feature
  .claude/skills/update-branch
  .cursor/skills/docs-design-tokens
  .cursor/skills/docs-social-images
  .cursor/skills/ee-feature
  .cursor/skills/update-branch
Due: none

fix(dev): link new skills from .agents, not .claude (#2642)
  .agents/skills/docs-design-tokens/SKILL.md
  .agents/skills/docs-social-images/SKILL.md
  .agents/skills/ee-feature/SKILL.md
  .agents/skills/update-branch/SKILL.md
  .claude/skills/docs-design-tokens
  .claude/skills/docs-social-images
  .claude/skills/ee-feature
  .claude/skills/update-branch
  .cursor/skills/docs-design-tokens
  .cursor/skills/docs-social-images
  .cursor/skills/ee-feature
  .cursor/skills/update-branch
Due: none

refactor(backend): drop the extraction model wrapper
  apps/backend/src/rhesis/backend/app/services/endpoint/files.py
  apps/backend/src/rhesis/backend/app/services/model_resolution.py
  tests/backend/services/test_endpoint_files.py
  tests/backend/utils/test_model_override.py
Due: backend

fix(frontend): stop full re-fetch on detail tab switch
  apps/frontend/src/hooks/useDetailTabNav.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): prefetch test-run traces server-side
  apps/frontend/src/app/(protected)/test-runs/[identifier]/page.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): stop full re-fetch on test-run tab switch
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestRunMainView.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): seed traces empty state from server prefetch
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestRunTracesTab.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

Fix redundant server re-fetches and traces flash on detail tabs (#2644)
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestRunMainView.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestRunTracesTab.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/page.tsx
  apps/frontend/src/hooks/useDetailTabNav.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): widen Actions column and fill empty grid column gap
  apps/frontend/src/components/common/BaseDataGrid.tsx
  apps/frontend/src/components/common/__tests__/BaseDataGrid.test.tsx
  apps/frontend/src/components/common/createRowActionsColumn.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): widen Actions column and fill empty grid column gap (#2645)
  apps/frontend/src/components/common/BaseDataGrid.tsx
  apps/frontend/src/components/common/__tests__/BaseDataGrid.test.tsx
  apps/frontend/src/components/common/createRowActionsColumn.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

style(backend): clear ruff check violations
  apps/backend/src/rhesis/backend/alembic/versions/41a9355b3991_add_polyphemus_model_to_existing_orgs.py
  apps/backend/src/rhesis/backend/alembic/versions/4a5b6c7d8e9f_add_fk_project_membership_role_id.py
  apps/backend/src/rhesis/backend/alembic/versions/da9164715ec2_encrypt_existing_auth_tokens.py
  apps/backend/src/rhesis/backend/app/crud/test_run.py
  apps/backend/src/rhesis/backend/app/models/__init__.py
  apps/backend/src/rhesis/backend/app/models/test.py
  apps/backend/src/rhesis/backend/app/models/test_run.py
  apps/backend/src/rhesis/backend/app/models/test_set.py
  apps/backend/src/rhesis/backend/app/routers/__init__.py
  apps/backend/src/rhesis/backend/app/routers/architect.py
  apps/backend/src/rhesis/backend/app/routers/category.py
  apps/backend/src/rhesis/backend/app/routers/connector.py
  apps/backend/src/rhesis/backend/app/routers/feedback.py
  apps/backend/src/rhesis/backend/app/routers/file_import.py
  apps/backend/src/rhesis/backend/app/routers/insights.py
  apps/backend/src/rhesis/backend/app/routers/organization.py
  apps/backend/src/rhesis/backend/app/routers/preflight.py
  apps/backend/src/rhesis/backend/app/routers/prompt.py
  apps/backend/src/rhesis/backend/app/routers/prompt_template.py
  apps/backend/src/rhesis/backend/app/routers/test_result.py
  apps/backend/src/rhesis/backend/app/routers/tools.py
  apps/backend/src/rhesis/backend/app/routers/topic.py
  apps/backend/src/rhesis/backend/app/routers/type_lookup.py
  apps/backend/src/rhesis/backend/app/schemas/test.py
  apps/backend/src/rhesis/backend/app/schemas/test_result.py
  apps/backend/src/rhesis/backend/app/services/organization.py
  apps/backend/src/rhesis/backend/app/services/preflight/__init__.py
  apps/backend/src/rhesis/backend/app/services/preflight/checks.py
  apps/backend/src/rhesis/backend/app/services/preflight/orchestrator.py
  apps/backend/src/rhesis/backend/app/services/task_notification.py
  apps/backend/src/rhesis/backend/app/services/test_run.py
  apps/backend/src/rhesis/backend/app/services/tool/rest/config.py
  apps/backend/src/rhesis/backend/app/utils/crud_utils.py
  apps/backend/src/rhesis/backend/jobs/execution/constants.py
  apps/backend/src/rhesis/backend/jobs/execution/executors/data.py
  apps/backend/src/rhesis/backend/jobs/test_configuration.py
  apps/backend/src/rhesis/backend/metrics/strategies/base.py
  apps/backend/src/rhesis/backend/notifications/email/templates.py
  apps/backend/src/rhesis/backend/telemetry/middleware.py
  ruff.toml
Due: backend

ci(dev): enable ruff check for the backend
  .github/workflows/lint.yml
  apps/backend/Makefile
Due: backend

fix(frontend): let grid columns resize past their initial width
  apps/frontend/src/app/(protected)/annotations/components/AnnotationsGrid.tsx
  apps/frontend/src/app/(protected)/explorer/[identifier]/components/ExplorerDetail.tsx
  apps/frontend/src/app/(protected)/explorer/[identifier]/components/SuggestionsDialog.tsx
  apps/frontend/src/app/(protected)/metrics/[identifier]/tuning/MetricTuningTab.tsx
  apps/frontend/src/app/(protected)/organizations/team/components/TeamMembersGrid.tsx
  apps/frontend/src/app/(protected)/projects/[identifier]/components/ProjectEnvironments.tsx
  apps/frontend/src/app/(protected)/projects/[identifier]/components/ProjectMembers.tsx
  apps/frontend/src/app/(protected)/tasks/components/TasksGrid.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestsTableView.tsx
  apps/frontend/src/app/(protected)/test-sets/components/TestSetsGrid.tsx
  apps/frontend/src/app/(protected)/traces/components/TracesTable.tsx
  apps/frontend/src/components/common/BaseDataGrid.tsx
  apps/frontend/src/components/common/__tests__/BaseDataGrid.test.tsx
  apps/frontend/src/components/tasks/TasksSection.tsx
  apps/frontend/src/components/tests/LinkedTestSetsSection.tsx
  apps/frontend/src/components/tests/TestExecutionHistoryTable.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): remove row flash in assign tests drawer
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/AssignTestsDrawer.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): remove row flash in assign test set drawer
  apps/frontend/src/components/tests/LinkedTestSetsSection.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): address peqy review on assign-drawer flash fixes
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/AssignTestsDrawer.tsx
  apps/frontend/src/components/tests/LinkedTestSetsSection.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): explain owner-only delete on disabled checkboxes
  apps/frontend/src/components/common/BaseDataGrid.tsx
  apps/frontend/src/components/common/EntityGrid/EntityGrid.tsx
  apps/frontend/src/components/common/__tests__/BaseDataGrid.test.tsx
  apps/frontend/src/utils/list/define.ts
Due: frontend-format, frontend-lint, hardcoded-styles

style(frontend): format BaseDataGrid after rebase onto release/v0.14.0
  apps/frontend/src/components/common/BaseDataGrid.tsx
  apps/frontend/src/components/common/__tests__/BaseDataGrid.test.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): extend column resize fix to two more grids
  apps/frontend/src/app/(protected)/test-runs/components/TestRunsGrid.tsx
  apps/frontend/src/app/(protected)/tests/components/TestsGrid.tsx
  apps/frontend/src/hooks/__tests__/useGridStateStorage.test.ts
  apps/frontend/src/hooks/useGridStateStorage.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): remove row flash in assign drawers (#2647)
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/AssignTestsDrawer.tsx
  apps/frontend/src/components/common/BaseDataGrid.tsx
  apps/frontend/src/components/common/__tests__/BaseDataGrid.test.tsx
  apps/frontend/src/components/tests/LinkedTestSetsSection.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

refactor(frontend): key the checkbox tooltip off the public grid class
  apps/frontend/src/components/common/BaseDataGrid.tsx
  apps/frontend/src/components/common/__tests__/BaseDataGrid.test.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

Explain owner-only delete on disabled selection checkboxes (#2649)
  apps/frontend/src/components/common/BaseDataGrid.tsx
  apps/frontend/src/components/common/EntityGrid/EntityGrid.tsx
  apps/frontend/src/components/common/__tests__/BaseDataGrid.test.tsx
  apps/frontend/src/utils/list/define.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): scope test filters to actual values
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/TestSetTestsGrid.tsx
  apps/frontend/src/app/(protected)/tests/components/TestFilterDrawer.tsx
  apps/frontend/src/constants/query-keys.ts
  apps/frontend/src/hooks/useLookups.ts
  apps/frontend/src/utils/api-client/interfaces/tests.ts
  apps/frontend/src/utils/api-client/tests-client.ts
Due: frontend-format, frontend-lint, hardcoded-styles

style(frontend): apply prettier to BaseDataGrid
  apps/frontend/src/components/common/BaseDataGrid.tsx
  apps/frontend/src/components/common/__tests__/BaseDataGrid.test.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

test(tests): cover tests facets endpoint
  tests/backend/routes/test_test_facets.py
Due: none

fix(frontend): hide type chips when facets empty
  apps/frontend/src/app/(protected)/tests/components/TestFilterDrawer.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

feat(backend): add tests facets endpoint
  apps/backend/src/rhesis/backend/app/crud/test.py
  apps/backend/src/rhesis/backend/app/routers/test.py
  apps/backend/src/rhesis/backend/app/schemas/__init__.py
  apps/backend/src/rhesis/backend/app/schemas/test.py
Due: backend

fix(backend): scope facets association join by org
  apps/backend/src/rhesis/backend/app/crud/test.py
Due: backend
