Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, docs-format, hardcoded-styles

sdk:
  name: format sdk
  language: system
  entry: make -C sdk format
  pass_filenames: false

backend:
  name: format backend
  language: system
  entry: make -C apps/backend format_diff
  pass_filenames: false

frontend-format:
  name: auto-fix frontend formatting
  language: system
  entry: bash -c "cd apps/frontend && npm run format"
  pass_filenames: false

frontend-lint:
  name: lint frontend
  language: system
  entry: bash -c "cd apps/frontend && npm run lint"
  pass_filenames: false

docs-format:
  name: auto-fix docs formatting
  language: system
  entry: bash -c "cd apps/documentation && npm run format"
  pass_filenames: false

hardcoded-styles:
  name: check hardcoded styles in frontend and docs
  language: system
  entry: node scripts/check-hardcoded-styles.js
  pass_filenames: false

fix(frontend): require API_BASE_URL instead of localhost
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/utils/__tests__/url-resolver.test.ts
  apps/frontend/src/utils/url-resolver.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(backend): filter select() and relation loads
  apps/backend/AGENTS.md
  apps/backend/src/rhesis/backend/app/models/scope_events.py
  apps/backend/src/rhesis/backend/app/scope.py
  tests/backend/utils/test_scope_listeners.py
Due: backend

fix(dev): move prd root Application to bootstrap for reproducibility
  .github/workflows/publish-release.yml
  kubernetes/README.md
  kubernetes/bootstrap/prd-base.yaml
  kubernetes/clusters/prd/base.yaml
  kubernetes/clusters/prd/kustomization.yaml
  kubernetes/clusters/prd/rhesis/rhesis-application.yaml
Due: none

fix(dev): stop hex check flagging issue references (#2547)
  scripts/check-hardcoded-styles.js
Due: none

fix(frontend): require API_BASE_URL instead of localhost (#2548)
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/utils/__tests__/url-resolver.test.ts
  apps/frontend/src/utils/url-resolver.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): align project card edit layout
  apps/frontend/src/app/(protected)/projects/[identifier]/components/ProjectMetadataCard.tsx
  apps/frontend/src/components/common/ViewField.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): keep project card in edit on error
  apps/frontend/src/app/(protected)/projects/[identifier]/components/ProjectMetadataCard.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

Fix project metadata card edit mode layout and save handling (#2552)
  apps/frontend/src/app/(protected)/projects/[identifier]/components/ProjectMetadataCard.tsx
  apps/frontend/src/components/common/ViewField.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

Fix annotations list hiding every pre-project-scoping review (#2427)
  apps/backend/src/rhesis/backend/app/services/annotations.py
  sdk/src/rhesis/sdk/agents/architect/agent.py
  tests/backend/routes/test_annotations.py
  tests/sdk/agents/test_architect.py
Due: sdk, backend

fix(backend): filter select() and relation loads (#2549)
  apps/backend/AGENTS.md
  apps/backend/src/rhesis/backend/app/models/scope_events.py
  apps/backend/src/rhesis/backend/app/scope.py
  tests/backend/utils/test_scope_listeners.py
Due: backend

fix(dev): retry prd-base get and check error before create
  .github/workflows/publish-release.yml
Due: none

fix(frontend): gate OWASP generate button on valid input
  apps/frontend/src/app/(protected)/test-sets/components/OwaspGenerateForm.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): keep onboarding and not-found copy honest
  apps/frontend/src/components/common/DetailNotFoundState.tsx
  apps/frontend/src/contexts/OnboardingContext.tsx
  apps/frontend/src/utils/entity-error-handler.ts
Due: frontend-format, frontend-lint, hardcoded-styles

feat(frontend): dim the trash can on the active project
  apps/frontend/src/app/(protected)/projects/components/ProjectCard.tsx
  apps/frontend/src/app/(protected)/projects/components/ProjectsClientWrapper.tsx
  apps/frontend/src/app/(protected)/projects/constants.ts
  apps/frontend/src/components/common/EntityCard.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): land on the list after deleting a project
  apps/frontend/src/app/(protected)/projects/[identifier]/client-wrapper.tsx
  apps/frontend/src/app/(protected)/projects/[identifier]/page.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

test(frontend): cover the project delete guard and flow
  apps/frontend/src/app/(protected)/projects/[identifier]/__tests__/client-wrapper.test.tsx
  apps/frontend/src/app/(protected)/projects/components/__tests__/ProjectsClientWrapper.test.tsx
  apps/frontend/src/components/common/__tests__/EntityCard.test.tsx
  apps/frontend/src/utils/__tests__/entity-error-handler.test.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(backend): restrict metric detail access for non-Rhesis metrics
  apps/backend/src/rhesis/backend/app/routers/metric.py
  tests/backend/routes/test_metric.py
Due: backend

style(backend): fix ruff formatting in metric router
  apps/backend/src/rhesis/backend/app/routers/metric.py
Due: backend

fix(frontend): gate OWASP generate button on valid input (#2556)
  apps/frontend/src/app/(protected)/test-sets/components/OwaspGenerateForm.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(backend): restrict metric detail access for non-Rhesis metrics (#2558)
  apps/backend/src/rhesis/backend/app/routers/metric.py
  tests/backend/routes/test_metric.py
Due: backend

fix(dev): add VolumeSnapshotClass for prd PVC snapshots
  kubernetes/clusters/prd/kustomization.yaml
  kubernetes/clusters/prd/volumesnapshotclass.yaml
Due: none

fix(backend): reconnect dropped redis connections
  apps/backend/src/rhesis/backend/app/services/connector/redis_client.py
  tests/backend/services/connector/test_redis_client_retry.py
Due: backend

fix(tests): fix two broken backend tests on main
  tests/backend/services/test_test.py
  tests/backend/services/test_test_set.py
Due: none

fix(dev): don't make pd-retain the cluster default snapshot class
  kubernetes/clusters/prd/volumesnapshotclass.yaml
Due: none

fix(backend): reconnect dropped redis connections (#2562)
  apps/backend/src/rhesis/backend/app/services/connector/redis_client.py
  tests/backend/services/connector/test_redis_client_retry.py
Due: backend

test(backend): fix cross-org FK and multi-turn config expectation
  tests/backend/services/test_test.py
  tests/backend/services/test_test_set.py
Due: none

chore(dev): enforce disposable email screening
  charts/rhesis/values-dev.yaml
  charts/rhesis/values-prd.yaml
  charts/rhesis/values-stg.yaml
Due: none

chore(dev): enforce disposable email screening (#2564)
  charts/rhesis/values-dev.yaml
  charts/rhesis/values-prd.yaml
  charts/rhesis/values-stg.yaml
Due: none

fix(tests): skip tests that OOM via rollback_initial_data
  tests/backend/routes/test_organization.py
  tests/backend/services/test_transaction_management.py
Due: none

fix(dev): set content tracing before haystack import
  agents/visit-prep/src/visit_prep/__init__.py
  agents/visit-prep/src/visit_prep/_bootstrap.py
  agents/visit-prep/src/visit_prep/app.py
  agents/visit-prep/src/visit_prep/app_factory.py
  agents/visit-prep/src/visit_prep/app_upstream.py
Due: none

feat(backend): add owner filter to bulk delete
  apps/backend/src/rhesis/backend/app/utils/crud_utils.py
Due: backend

docs(dev): require --no-deps for rhesis-haystack
  agents/visit-prep/chat_terminal/chat_traced_upstream.py
  agents/visit-prep/src/visit_prep/app_upstream.py
Due: none

feat(backend): add bulk delete for test runs
  apps/backend/src/rhesis/backend/app/crud/test_run.py
  apps/backend/src/rhesis/backend/app/routers/test_run.py
  apps/backend/src/rhesis/backend/app/schemas/__init__.py
  apps/backend/src/rhesis/backend/app/schemas/test_run.py
  tests/backend/routes/test_test_run_bulk_delete.py
Due: backend

feat(backend): add bulk delete for test sets
  apps/backend/src/rhesis/backend/app/crud/test_set.py
  apps/backend/src/rhesis/backend/app/routers/test_set.py
  apps/backend/src/rhesis/backend/app/schemas/test_set.py
  tests/backend/routes/test_test_set_bulk_delete.py
Due: backend

fix(tests): fix two broken backend tests on main (#2561)
  tests/backend/routes/test_organization.py
  tests/backend/services/test_test.py
  tests/backend/services/test_test_set.py
  tests/backend/services/test_transaction_management.py
Due: none

fix(backend): drop successful health-probe access logs
  apps/backend/src/rhesis/backend/logging/logging_config.py
  tests/backend/app/test_access_log_filter.py
Due: backend

feat(backend): add bulk delete for endpoints
  apps/backend/src/rhesis/backend/app/crud/endpoint.py
  apps/backend/src/rhesis/backend/app/routers/endpoint.py
  apps/backend/src/rhesis/backend/app/schemas/__init__.py
  apps/backend/src/rhesis/backend/app/schemas/endpoint.py
  tests/backend/routes/test_endpoint_bulk_delete.py
Due: backend

fix(dev): make grafana google oidc config survive argocd resyncs
  kubernetes/base/grafana-resources/grafana-instance.yaml
  kubernetes/clusters/dev/external-secrets/rhesis-app-secrets.yaml
  kubernetes/clusters/dev/grafana-resources/grafana-google-oidc-credentials.yaml
  kubernetes/clusters/dev/grafana-resources/kustomization.yaml
  kubernetes/clusters/prd/external-secrets/rhesis-app-secrets.yaml
  kubernetes/clusters/prd/grafana-resources/grafana-google-oidc-credentials.yaml
  kubernetes/clusters/prd/grafana-resources/kustomization.yaml
  kubernetes/clusters/stg/external-secrets/rhesis-app-secrets.yaml
  kubernetes/clusters/stg/grafana-resources/grafana-google-oidc-credentials.yaml
  kubernetes/clusters/stg/grafana-resources/kustomization.yaml
Due: none

Path conditions:
  sdk: any of: ^sdk/
  backend: any of: ^apps/backend/
  frontend-format: any of: ^apps/frontend/
  frontend-lint: any of: ^apps/frontend/
  docs-format: any of: ^apps/documentation/
  hardcoded-styles: any of: ^apps/(frontend|documentation)/
