Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, docs-format, hardcoded-styles

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict

  - repo: local
    hooks:
        - id: trufflehog
          name: TruffleHog
          description: Detect secrets in your data.
          entry: bash -c 'PATH="$HOME/.local/bin:$PATH" trufflehog git file://. --since-commit HEAD --only-verified --fail --no-update'
          language: system
          stages: ["pre-commit", "pre-push"]

        - id: sdk
          name  : format sdk
          language: system
          entry: make -C sdk format
          files: ^sdk/
          pass_filenames: false

        - id: backend
          name  : format backend
          language: system
          entry: make -C apps/backend format_diff
          files: ^apps/backend/
          pass_filenames: false

        - id: frontend-format
          name: auto-fix frontend formatting
          language: system
          entry: bash -c "cd apps/frontend && npm run format"
          files: ^apps/frontend/
          pass_filenames: false

        - id: frontend-lint
          name: lint frontend
          language: system
          entry: bash -c "cd apps/frontend && npm run lint"
          files: ^apps/frontend/
          pass_filenames: false

        - id: docs-format
          name: auto-fix docs formatting
          language: system
          entry: bash -c "cd apps/documentation && npm run format"
          files: ^apps/documentation/
          pass_filenames: false

        - id: hardcoded-styles
          name: check hardcoded styles in frontend and docs
          language: system
          entry: node scripts/check-hardcoded-styles.js
          files: ^apps/(frontend|documentation)/
          pass_filenames: false


  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.8.0
  #   hooks:
  #     - id: mypy
  #       additional_dependencies: [
  #         "types-requests",
  #         "pandas-stubs",
  #         "pyarrow-stubs",
  #         "types-tqdm"
  #       ]

fix(frontend): recover when the endpoint check fails
  apps/frontend/src/hooks/__tests__/useProjectNeedsEndpoint.test.ts
  apps/frontend/src/hooks/useProjectNeedsEndpoint.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(dev): keep jest location shim working on newer jsdom
  apps/frontend/jest.setup.js
Due: frontend-format, frontend-lint, hardcoded-styles

Guide users to connect an endpoint before testing (#2454)
  apps/frontend/jest.setup.js
  apps/frontend/src/app/(protected)/architect/components/ArchitectHelpSection.tsx
  apps/frontend/src/app/(protected)/architect/components/ArchitectWelcome.tsx
  apps/frontend/src/app/(protected)/architect/components/__tests__/ArchitectHelpSection.test.tsx
  apps/frontend/src/app/(protected)/architect/components/__tests__/ArchitectWelcome.test.tsx
  apps/frontend/src/app/api/architect-help/__tests__/route.test.ts
  apps/frontend/src/app/api/architect-help/route.ts
  apps/frontend/src/constants/entity-empty-state-env.ts
  apps/frontend/src/constants/query-keys.ts
  apps/frontend/src/hooks/__tests__/useProjectNeedsEndpoint.test.ts
  apps/frontend/src/hooks/useArchitectHelpArticles.ts
  apps/frontend/src/hooks/useProjectNeedsEndpoint.ts
  kubernetes/clusters/dev/external-secrets/rhesis-app-secrets.yaml
  kubernetes/clusters/prd/external-secrets/rhesis-app-secrets.yaml
  kubernetes/clusters/stg/external-secrets/rhesis-app-secrets.yaml
  scripts/rh/dev.sh
  sdk/src/rhesis/sdk/agents/architect/prompt_templates/telemachus-guidelines.j2
  skills/rhesis/references/phases/discovery.md
  tests/sdk/agents/test_architect.py
  tests/sdk/agents/test_architect_prompt_loader.py
Due: sdk, frontend-format, frontend-lint, hardcoded-styles

fix(backend): guard owasp pre-warm, meter it, isolate post-save
  apps/backend/src/rhesis/backend/app/main.py
  apps/backend/src/rhesis/backend/tasks/test_set.py
  tests/backend/tasks/test_owasp_test_set_task.py
Due: backend

fix(backend): broaden owasp cache errors, version cache key
  apps/backend/src/rhesis/backend/app/routers/owasp.py
  apps/backend/src/rhesis/backend/app/services/owasp.py
  apps/backend/src/rhesis/backend/app/services/storage_service.py
Due: backend

refactor(sdk): reuse multi-turn synthesizer machinery in owasp
  sdk/src/rhesis/sdk/synthesizers/owasp_synthesizer.py
  sdk/src/rhesis/sdk/synthesizers/utils.py
  tests/sdk/synthesizers/test_owasp_synthesizer.py
Due: sdk

fix(sdk): treat a cached empty owasp section list as a miss
  sdk/src/rhesis/sdk/services/owasp_extractor.py
  tests/sdk/services/test_owasp_extractor.py
Due: sdk

refactor(backend): tag owasp entities via crud.assign_tag
  apps/backend/src/rhesis/backend/app/services/organization.py
Due: backend

refactor(backend): dedupe org listing, drop dead param
  apps/backend/src/rhesis/backend/alembic/utils/metric_sync.py
  apps/backend/src/rhesis/backend/alembic/versions/b857edcac3c0_tag_owasp_metrics_and_behaviors.py
Due: backend

fix(frontend): gate owasp fab on owasp:create capability
  apps/frontend/src/app/(protected)/test-sets/page.tsx
  apps/frontend/src/constants/capabilities.ts
Due: frontend-format, frontend-lint, hardcoded-styles

chore(backend): silence pdfminer via the parent logger only
  apps/backend/src/rhesis/backend/logging/logging_config.py
Due: backend

style: tighten comments added in the review-feedback fixes
  apps/backend/src/rhesis/backend/app/main.py
  apps/backend/src/rhesis/backend/app/services/owasp.py
  apps/backend/src/rhesis/backend/tasks/test_set.py
  sdk/src/rhesis/sdk/synthesizers/owasp_synthesizer.py
Due: sdk, backend

fix(telemetry): succeed when every span in a batch is dropped
  packages/rhesis/src/rhesis/telemetry/exporter.py
  tests/sdk/telemetry/test_exporter.py
Due: none

refactor(sdk): dedupe multi-turn stamping in the base synthesizer
  sdk/src/rhesis/sdk/synthesizers/multi_turn/base.py
Due: sdk

feat(ee): add owasp to the custom-role editor's capability groups
  ee/frontend/src/rbac/capability-groups.ts
Due: none

refactor(telemetry): move telemetry primitives into the light package (#2462)
  packages/rhesis/src/rhesis/telemetry/__init__.py
  packages/rhesis/src/rhesis/telemetry/attributes.py
  packages/rhesis/src/rhesis/telemetry/context.py
  packages/rhesis/src/rhesis/telemetry/exporter.py
  packages/rhesis/src/rhesis/telemetry/provider.py
  packages/rhesis/src/rhesis/telemetry/token_extraction.py
  sdk/src/rhesis/sdk/telemetry/attributes.py
  sdk/src/rhesis/sdk/telemetry/context.py
  sdk/src/rhesis/sdk/telemetry/utils/token_extraction.py
  tests/sdk/telemetry/test_exporter.py
Due: sdk

fix: report specialist results across handoffs
  agents/travel-agent/src/travel_agent/agents/destination_finder.py
  agents/travel-agent/src/travel_agent/agents/logistics_planner.py
  agents/travel-agent/src/travel_agent/agents/sightseeing_scout.py
Due: none

fix: serve only coordinator text to the user
  agents/travel-agent/src/travel_agent/utils.py
  agents/travel-agent/src/travel_agent/workflow.py
Due: none

fix(backend): import assign_tag directly in organization.py
  apps/backend/src/rhesis/backend/app/services/organization.py
Due: backend

Fix travel-agent handoffs losing specialist results (#2463)
  agents/travel-agent/src/travel_agent/agents/destination_finder.py
  agents/travel-agent/src/travel_agent/agents/logistics_planner.py
  agents/travel-agent/src/travel_agent/agents/sightseeing_scout.py
  agents/travel-agent/src/travel_agent/utils.py
  agents/travel-agent/src/travel_agent/workflow.py
Due: none

fix: stop mdx internals leaking into page descriptions
  docs/src/lib/content-index.js
  docs/src/lib/metadata.js
Due: none

feat: generate a social preview image per docs page
  docs/AGENTS.md
  docs/scripts/generate-og-fonts.py
  docs/src/app/api/og/route.jsx
  docs/src/app/layout.jsx
  docs/src/lib/__tests__/og.test.js
  docs/src/lib/metadata.js
  docs/src/lib/og-page.js
  docs/src/lib/og-theme.js
  docs/src/next.config.mjs
  docs/src/public/fonts/og/Geist-400.ttf
  docs/src/public/fonts/og/Geist-500.ttf
  docs/src/public/fonts/og/GeistMono-500.ttf
  docs/src/public/fonts/og/Sora-700.ttf
  docs/src/public/logo/rhesis-mark-og.png
Due: none

fix(dev): make docs npm test run on current node
  docs/src/package.json
Due: none

fix: silence the no-console warning on the og fallback
  docs/src/app/api/og/route.jsx
Due: none

docs: verify rename inventory against current main
  docs/proposals/rename-behaviors-to-requirements.md
Due: none

fix(backend): stop tenant rows borrowing our keys
  apps/backend/src/rhesis/backend/app/crud/model.py
  apps/backend/src/rhesis/backend/app/routers/model.py
  apps/backend/src/rhesis/backend/app/utils/user_model_utils.py
  apps/backend/src/rhesis/backend/metrics/strategies/local.py
  tests/backend/app/test_usage_tracking.py
  tests/backend/crud/test_model_credential_guard.py
Due: backend

fix(backend): honour batch per-metric judges (#2460)
  apps/backend/src/rhesis/backend/metrics/evaluator.py
  apps/backend/src/rhesis/backend/metrics/strategies/local.py
  apps/backend/src/rhesis/backend/tasks/execution/batch/context.py
  apps/backend/src/rhesis/backend/tasks/execution/batch/runner.py
  tests/backend/metrics/test_metric_judge_model_selection.py
  tests/backend/tasks/test_batch_metric_judge_prefetch.py
Due: backend

fix(backend): stop tenant rows borrowing our keys (#2461)
  apps/backend/src/rhesis/backend/app/crud/model.py
  apps/backend/src/rhesis/backend/app/routers/model.py
  apps/backend/src/rhesis/backend/app/utils/user_model_utils.py
  apps/backend/src/rhesis/backend/metrics/strategies/local.py
  tests/backend/app/test_usage_tracking.py
  tests/backend/crud/test_model_credential_guard.py
Due: backend

fix: keep quotes and emphasis intact in page descriptions
  docs/src/lib/__tests__/metadata.test.js
  docs/src/lib/content-index.js
  docs/src/lib/metadata.js
Due: none

fix: make og card failures and edits actually reachable
  docs/AGENTS.md
  docs/src/app/api/og/route.jsx
  docs/src/lib/__tests__/og.test.js
  docs/src/lib/og-theme.js
Due: none

docs(sdk): document insights, trim deprecated stats() docs
  docs/content/sdk/statistics.mdx
Due: none

refactor(sdk): rebuild test stats on top of insights endpoint
  sdk/src/rhesis/sdk/clients/api.py
  sdk/src/rhesis/sdk/entities/insights.py
  sdk/src/rhesis/sdk/entities/stats.py
  sdk/src/rhesis/sdk/entities/test_result.py
  sdk/src/rhesis/sdk/entities/test_run.py
  tests/sdk/entities/test_stats.py
  tests/sdk/integration/test_stats.py
Due: sdk

feat(sdk): restore metrics/ids modes on TestResults.stats()
  docs/content/sdk/statistics.mdx
  sdk/src/rhesis/sdk/entities/stats.py
  sdk/src/rhesis/sdk/entities/test_result.py
  tests/sdk/entities/test_stats.py
Due: sdk

fix(insights): apply peqy's concerns
  sdk/src/rhesis/sdk/entities/__init__.py
  sdk/src/rhesis/sdk/entities/stats.py
  tests/sdk/entities/test_stats.py
Due: sdk

fix(insights): peqy. docs example and renamed to other on result_breakdown
  docs/content/sdk/statistics.mdx
  sdk/src/rhesis/sdk/entities/stats.py
  tests/sdk/entities/test_stats.py
Due: sdk

fix: _tr_metric() filter
  docs/content/sdk/statistics.mdx
  sdk/src/rhesis/sdk/entities/stats.py
  tests/sdk/entities/test_stats.py
Due: sdk

refactor(sdk): drop Insights-rebuild of stats(), raise instead
  docs/content/sdk/statistics.mdx
  sdk/src/rhesis/sdk/entities/__init__.py
  sdk/src/rhesis/sdk/entities/stats.py
  sdk/src/rhesis/sdk/entities/test_result.py
  sdk/src/rhesis/sdk/entities/test_run.py
  tests/sdk/entities/test_stats.py
Due: sdk

chore(insights): remove unnecessary docstring
  docs/content/sdk/insights.mdx
  sdk/src/rhesis/sdk/entities/test_result.py
  sdk/src/rhesis/sdk/entities/test_run.py
Due: sdk

docs(insights): rename page statistics->insights
  docs/content/sdk/_meta.tsx
  docs/content/sdk/insights.mdx
Due: none
