Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, docs-format, hardcoded-styles

sdk:
  name: format sdk
  language: system
  entry: make -C sdk format
  pass_filenames: false

backend:
  name: format backend
  language: system
  entry: make -C apps/backend format_diff
  pass_filenames: false

frontend-format:
  name: auto-fix frontend formatting
  language: system
  entry: bash -c "cd apps/frontend && npm run format"
  pass_filenames: false

frontend-lint:
  name: lint frontend
  language: system
  entry: bash -c "cd apps/frontend && npm run lint"
  pass_filenames: false

docs-format:
  name: auto-fix docs formatting
  language: system
  entry: bash -c "cd apps/documentation && npm run format"
  pass_filenames: false

hardcoded-styles:
  name: check hardcoded styles in frontend and docs
  language: system
  entry: node scripts/check-hardcoded-styles.js
  pass_filenames: false

fix(sdk): resolve linting issues in conversational metrics
  sdk/examples/native_conversational_demo.py
  sdk/src/rhesis/sdk/metrics/__init__.py
  sdk/src/rhesis/sdk/metrics/providers/native/conversational_judge.py
  sdk/src/rhesis/sdk/metrics/providers/native/goal_achievement_judge.py
Due: sdk

cleanup(sdk): remove development example files
  sdk/examples/conversational_judge_demo.py
  sdk/examples/conversational_metrics_demo.py
  sdk/examples/deepeval_conversational_demo.py
  sdk/examples/native_conversational_demo.py
Due: sdk

refactor(penelope): clean up multi_metric_evaluation example
  penelope/examples/multi_metric_evaluation.py
Due: none

style(sdk): apply ruff formatting to conversational metrics files
  sdk/src/rhesis/sdk/metrics/providers/deepeval/conversational_base.py
  sdk/src/rhesis/sdk/metrics/providers/deepeval/conversational_metrics.py
  sdk/src/rhesis/sdk/metrics/providers/native/configs.py
  sdk/src/rhesis/sdk/metrics/providers/native/evaluation_patterns.py
  sdk/src/rhesis/sdk/metrics/providers/native/shared_utils.py
Due: sdk

fix(penelope): resolve remaining linting issues
  penelope/examples/multi_metric_evaluation.py
  penelope/src/rhesis/penelope/schemas.py
Due: none

fix(penelope): resolve pytest-asyncio compatibility issues
  penelope/pyproject.toml
Due: none

fix(sdk): resolve relative import issues in entity tests
  tests/sdk/entities/test_behavior.py
  tests/sdk/entities/test_topic.py
Due: none

feat: Add Test Set Type field to test sets
  apps/backend/src/rhesis/backend/alembic/versions/6fe8376f15b7_add_test_set_type_id_field_to_test_set_.py
  apps/backend/src/rhesis/backend/app/models/test_set.py
  apps/backend/src/rhesis/backend/app/models/type_lookup.py
  apps/backend/src/rhesis/backend/app/schemas/test_set.py
  apps/backend/src/rhesis/backend/app/services/initial_data.json
  apps/frontend/src/utils/api-client/interfaces/test-set.ts
Due: backend, frontend-format, frontend-lint, hardcoded-styles

feat: Display test set type in frontend views and fix backend API
  apps/backend/src/rhesis/backend/app/routers/test_run.py
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/TestSetDetailsSection.tsx
  apps/frontend/src/app/(protected)/test-sets/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/test-sets/components/TestSetsGrid.tsx
  apps/frontend/src/app/(protected)/test-sets/page.tsx
Due: backend, frontend-format, frontend-lint, hardcoded-styles

feat: Move test set type column after Categories in grid
  apps/frontend/src/app/(protected)/test-sets/components/TestSetsGrid.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix: Apply ruff formatting to backend files
  apps/backend/src/rhesis/backend/alembic/versions/6fe8376f15b7_add_test_set_type_id_field_to_test_set_.py
  apps/backend/src/rhesis/backend/app/routers/test_run.py
Due: backend

fix: Update TestSetType interface to match TypeLookup structure
  apps/frontend/src/utils/api-client/interfaces/test-set.ts
Due: frontend-format, frontend-lint, hardcoded-styles

chore: Update uv.lock with pytest-asyncio dependency
  apps/backend/uv.lock
Due: backend

fix: Resolve ESLint prefer-const error in test-sets page
  apps/frontend/src/app/(protected)/test-sets/page.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

refactor(tests): standardize test documentation formatting
  tests/backend/routes/fixtures/entities/behaviors.py
  tests/backend/routes/fixtures/entities/categories.py
  tests/backend/routes/fixtures/entities/endpoints.py
  tests/backend/routes/fixtures/entities/metrics.py
  tests/backend/routes/fixtures/entities/organizations.py
  tests/backend/routes/fixtures/entities/projects.py
  tests/backend/routes/fixtures/entities/statuses.py
  tests/backend/routes/fixtures/entities/users.py
  tests/backend/routes/fixtures/factory_fixtures.py
  tests/backend/routes/fixtures/relationships/__init__.py
  tests/backend/routes/fixtures/relationships/associations.py
  tests/backend/routes/test_auth.py
  tests/backend/routes/test_base/authentication.py
  tests/backend/routes/test_base/crud.py
  tests/backend/routes/test_base/list_operations.py
  tests/backend/routes/test_base/user_relationships.py
  tests/backend/routes/test_behavior.py
  tests/backend/routes/test_category.py
  tests/backend/routes/test_comment.py
  tests/backend/routes/test_demographic.py
  tests/backend/routes/test_dimension.py
  tests/backend/routes/test_endpoint.py
  tests/backend/routes/test_metric.py
  tests/backend/routes/test_model.py
  tests/backend/routes/test_organization.py
Due: none

refactor(mcp): restructure agents into dedicated directory
  sdk/src/rhesis/sdk/services/mcp/__init__.py
  sdk/src/rhesis/sdk/services/mcp/agents/README.md
  sdk/src/rhesis/sdk/services/mcp/agents/__init__.py
  sdk/src/rhesis/sdk/services/mcp/agents/base_agent.py
  sdk/src/rhesis/sdk/services/mcp/agents/extract_agent.py
  sdk/src/rhesis/sdk/services/mcp/agents/search_agent.py
Due: sdk

feat(mcp): add schemas for search and extraction results
  sdk/src/rhesis/sdk/services/mcp/schemas.py
Due: sdk

feat(mcp): add example workflow demonstrating agent usage
  sdk/src/rhesis/sdk/services/mcp/example_workflow.py
Due: sdk

chore(mcp): remove old files after restructure
  sdk/src/rhesis/sdk/services/mcp/README.md
  sdk/src/rhesis/sdk/services/mcp/agent.py
  sdk/src/rhesis/sdk/services/mcp/example.py
Due: sdk

refactor(mcp): consolidate agent ReAct loop into BaseMCPAgent
  sdk/src/rhesis/sdk/services/mcp/__init__.py
  sdk/src/rhesis/sdk/services/mcp/agents/__init__.py
  sdk/src/rhesis/sdk/services/mcp/agents/base_agent.py
  sdk/src/rhesis/sdk/services/mcp/agents/extract_agent.py
  sdk/src/rhesis/sdk/services/mcp/agents/search_agent.py
Due: sdk

Path conditions:
  sdk: any of: ^sdk/
  backend: any of: ^apps/backend/
  frontend-format: any of: ^apps/frontend/
  frontend-lint: any of: ^apps/frontend/
  docs-format: any of: ^apps/documentation/
  hardcoded-styles: any of: ^apps/(frontend|documentation)/
