Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, docs-format, hardcoded-styles

sdk:
  name: format sdk
  language: system
  entry: make -C sdk format
  pass_filenames: false

backend:
  name: format backend
  language: system
  entry: make -C apps/backend format_diff
  pass_filenames: false

frontend-format:
  name: auto-fix frontend formatting
  language: system
  entry: bash -c "cd apps/frontend && npm run format"
  pass_filenames: false

frontend-lint:
  name: lint frontend
  language: system
  entry: bash -c "cd apps/frontend && npm run lint"
  pass_filenames: false

docs-format:
  name: auto-fix docs formatting
  language: system
  entry: bash -c "cd apps/documentation && npm run format"
  pass_filenames: false

hardcoded-styles:
  name: check hardcoded styles in frontend and docs
  language: system
  entry: node scripts/check-hardcoded-styles.js
  pass_filenames: false

docs(sdk): enhance entities documentation with detailed descriptions and examples
  docs/content/sdk/entities/index.mdx
Due: none

docs(sdk): add SDK Reference link to documentation
  docs/content/_meta.tsx
  docs/content/sdk/installation.mdx
Due: none

Add comprehensive SDK entities documentation (#1105)
  docs/content/_meta.tsx
  docs/content/sdk/_meta.tsx
  docs/content/sdk/entities/_meta.tsx
  docs/content/sdk/entities/endpoints.mdx
  docs/content/sdk/entities/index.mdx
  docs/content/sdk/entities/status.mdx
  docs/content/sdk/entities/test-attributes.mdx
  docs/content/sdk/entities/test-runs.mdx
  docs/content/sdk/entities/test-sets.mdx
  docs/content/sdk/installation.mdx
Due: none

feat(sdk): serialize Pydantic models as JSON in traces
  sdk/src/rhesis/sdk/telemetry/tracer.py
  tests/sdk/telemetry/test_tracer.py
Due: sdk

refactor(sdk,frontend): simplify @observe decorator and enhance I/O display
  apps/frontend/src/app/(protected)/traces/components/SpanDetailsPanel.tsx
  sdk/src/rhesis/sdk/decorators.py
  tests/sdk/telemetry/test_convenience_decorators.py
  tests/sdk/telemetry/test_observe_otel.py
  tests/sdk/test_observe_decorator.py
Due: sdk, frontend-format, frontend-lint, hardcoded-styles

feat(sdk): add async support to @endpoint decorator
  sdk/src/rhesis/sdk/connector/manager.py
  sdk/src/rhesis/sdk/decorators.py
Due: sdk

test(sdk): add comprehensive async/sync endpoint tests
  tests/sdk/connector/test_async_sync_endpoints.py
Due: none

feat(chatbot): convert chat endpoint to async with metadata
  apps/chatbot/client.py
Due: none

test(sdk): fix async coroutine warnings in test suite
  tests/sdk/connector/test_manager.py
  tests/sdk/telemetry/test_custom_observers.py
  tests/sdk/telemetry/test_decorator_otel.py
Due: none

fix(frontend): replace hardcoded styles with theme values in SpanDetailsPanel
  apps/frontend/src/app/(protected)/traces/components/SpanDetailsPanel.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

chore(frontend): update auto-generated Next.js types and format styles
  apps/frontend/next-env.d.ts
  apps/frontend/src/app/(protected)/traces/components/SpanDetailsPanel.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

ci(backend): fix workflow name display when inputs undefined
  .github/workflows/backend-test.yml
Due: none

Enhance SDK tracing with async support, smart serialization, and improved I/O display (#1111)
  .github/workflows/backend-test.yml
  apps/chatbot/client.py
  apps/chatbot/endpoint.py
  apps/frontend/next-env.d.ts
  apps/frontend/src/app/(protected)/traces/components/SpanDetailsPanel.tsx
  sdk/src/rhesis/sdk/connector/manager.py
  sdk/src/rhesis/sdk/decorators.py
  sdk/src/rhesis/sdk/telemetry/attributes.py
  sdk/src/rhesis/sdk/telemetry/tracer.py
  tests/sdk/connector/test_async_sync_endpoints.py
  tests/sdk/connector/test_manager.py
  tests/sdk/telemetry/test_convenience_decorators.py
  tests/sdk/telemetry/test_custom_observers.py
  tests/sdk/telemetry/test_decorator_otel.py
  tests/sdk/telemetry/test_observe_otel.py
  tests/sdk/telemetry/test_tracer.py
  tests/sdk/test_observe_decorator.py
Due: sdk, frontend-format, frontend-lint, hardcoded-styles

feat(sdk): add bind parameter to endpoint decorator
  docs/content/sdk/connector.mdx
  sdk/src/rhesis/sdk/connector/registry.py
  sdk/src/rhesis/sdk/decorators.py
  tests/sdk/connector/test_bind_params.py
Due: sdk

test(sdk): add realistic tests for bind parameter
  tests/sdk/connector/test_bind_params_realistic.py
Due: none

refactor(sdk): reorganize decorators module into subdirectory structure
  sdk/src/rhesis/sdk/decorators.py
  sdk/src/rhesis/sdk/decorators/__init__.py
  sdk/src/rhesis/sdk/decorators/_state.py
  sdk/src/rhesis/sdk/decorators/builders.py
  sdk/src/rhesis/sdk/decorators/endpoint.py
  sdk/src/rhesis/sdk/decorators/observe.py
  tests/sdk/connector/test_bind_params.py
  tests/sdk/connector/test_bind_params_realistic.py
Due: sdk

fix(tests): update test fixtures for new decorators module structure
  tests/sdk/connector/test_async_sync_endpoints.py
  tests/sdk/telemetry/test_convenience_decorators.py
  tests/sdk/telemetry/test_custom_observers.py
  tests/sdk/telemetry/test_observe_otel.py
  tests/sdk/test_observe_decorator.py
Due: none

style: apply ruff import sorting to apps, scripts, and docs
  .github/release_tools/changelog.py
  .github/release_tools/cli.py
  .github/release_tools/git_ops.py
  .github/release_tools/publish.py
  .github/release_tools/utils.py
  .github/release_tools/version.py
  apps/chatbot/notifications.py
  apps/polyphemus/src/rhesis/polyphemus/benchmarking/models/judge.py
  apps/polyphemus/src/rhesis/polyphemus/benchmarking/scripts/generate_human_readable_samples.py
  apps/polyphemus/src/rhesis/polyphemus/services/services.py
  apps/polyphemus/src/rhesis/polyphemus/utils/middleware.py
  apps/worker/health_server.py
  apps/worker/runner.py
  apps/worker/stop_retries.py
  apps/worker/task_manager.py
  docs/sphinx/source/_ext/fix_entity_docs.py
  docs/sphinx/source/_ext/resolve_types.py
  docs/sphinx/source/_ext/rhesis_pygments_style.py
  docs/sphinx/source/conf.py
  scripts/check_organization_filtering.py
Due: none

style: apply formatting to example notebooks
  examples/config-synthesizer.ipynb
  examples/end-to-end.ipynb
  examples/metrics.ipynb
  examples/penelope/endpoint-testing.ipynb
  examples/penelope/langchain-integration.ipynb
  examples/penelope/langchain-with-metrics.ipynb
  examples/penelope/langgraph-integration.ipynb
Due: none

fix(tests): add explicit import for behavior_with_metrics fixture
  tests/backend/routes/conftest.py
Due: none

fix(tests): add missing project_factory and prompt_factory to __all__ exports
  tests/backend/routes/fixtures/factory_fixtures.py
Due: none

add model bucket and model path
  infrastructure/config/service-secrets-create.sh
Due: none

exclude rhesis-user from the rate limit
  apps/polyphemus/src/rhesis/polyphemus/routers/services.py
  apps/polyphemus/src/rhesis/polyphemus/utils/rate_limit.py
Due: none

update ci-cd guideline steps
  docs/content/guides/ci-cd-integration.mdx
  examples/README.md
  examples/ci-cd/README.md
  examples/ci-cd/rhesis-tests.yml
  examples/ci-cd/run_rhesis_tests.py
Due: none

update the integration guide link
  examples/ci-cd/README.md
Due: none

ci: add Peqy code review workflow
  .github/workflows/peqy-review.yml
Due: none

fix: correct typo in Peqy code review workflow name
  .github/workflows/peqy-review.yml
Due: none

update vpc connector for europe west3
  .github/workflows/backend.yml
  .github/workflows/otel-collector.yml
  .github/workflows/telemetry-processor.yml
Due: none

update vpc connector for europe west3 (#1116)
  .github/workflows/backend.yml
  .github/workflows/otel-collector.yml
  .github/workflows/telemetry-processor.yml
Due: none

update workflow for the vpc connector
  .github/workflows/backend.yml
  .github/workflows/otel-collector.yml
  .github/workflows/telemetry-processor.yml
  infrastructure/config/service-secrets-config.sh.example
  infrastructure/config/service-secrets-create.sh
Due: none

feat(models): integrate Polyphemus as default model
  apps/backend/src/rhesis/backend/alembic/versions/41a9355b3991_add_polyphemus_model_to_existing_orgs.py
  apps/backend/src/rhesis/backend/app/services/organization.py
  apps/backend/src/rhesis/backend/app/utils/model_utils.py
  apps/frontend/next-env.d.ts
  apps/frontend/public/logos/polyphemus-logo-favicon-transparent.svg
  apps/frontend/src/config/model-providers.tsx
  sdk/src/rhesis/sdk/models/factory.py
Due: sdk, backend, frontend-format, frontend-lint, hardcoded-styles

feat(auth): add service delegation tokens for Polyphemus
  .github/workflows/polyphemus.yml
  apps/backend/README.md
  apps/backend/src/rhesis/backend/app/auth/token_utils.py
  apps/backend/src/rhesis/backend/app/utils/llm_utils.py
  apps/polyphemus/README.md
  apps/polyphemus/src/rhesis/polyphemus/services/auth.py
  apps/polyphemus/src/rhesis/polyphemus/services/token_validator.py
  tests/backend/auth/test_delegation_tokens.py
  tests/backend/utils/test_llm_delegation.py
Due: backend

update workflow for the vpc connector (#1117)
  .github/workflows/backend.yml
  .github/workflows/otel-collector.yml
  .github/workflows/telemetry-processor.yml
  infrastructure/config/service-secrets-config.sh.example
  infrastructure/config/service-secrets-create.sh
Due: none

Path conditions:
  sdk: any of: ^sdk/
  backend: any of: ^apps/backend/
  frontend-format: any of: ^apps/frontend/
  frontend-lint: any of: ^apps/frontend/
  docs-format: any of: ^apps/documentation/
  hardcoded-styles: any of: ^apps/(frontend|documentation)/
