Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, docs-format, hardcoded-styles

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict

  - repo: local
    hooks:
        - id: trufflehog
          name: TruffleHog
          description: Detect secrets in your data.
          entry: bash -c 'PATH="$HOME/.local/bin:$PATH" trufflehog git file://. --since-commit HEAD --only-verified --fail --no-update'
          language: system
          stages: ["pre-commit", "pre-push"]

        - id: sdk
          name  : format sdk
          language: system
          entry: make -C sdk format
          files: ^sdk/
          pass_filenames: false

        - id: backend
          name  : format backend
          language: system
          entry: make -C apps/backend format_diff
          files: ^apps/backend/
          pass_filenames: false

        - id: frontend-format
          name: auto-fix frontend formatting
          language: system
          entry: bash -c "cd apps/frontend && npm run format"
          files: ^apps/frontend/
          pass_filenames: false

        - id: frontend-lint
          name: lint frontend
          language: system
          entry: bash -c "cd apps/frontend && npm run lint"
          files: ^apps/frontend/
          pass_filenames: false

        - id: docs-format
          name: auto-fix docs formatting
          language: system
          entry: bash -c "cd apps/documentation && npm run format"
          files: ^apps/documentation/
          pass_filenames: false

        - id: hardcoded-styles
          name: check hardcoded styles in frontend and docs
          language: system
          entry: node scripts/check-hardcoded-styles.js
          files: ^apps/(frontend|documentation)/
          pass_filenames: false


  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.8.0
  #   hooks:
  #     - id: mypy
  #       additional_dependencies: [
  #         "types-requests",
  #         "pandas-stubs",
  #         "pyarrow-stubs",
  #         "types-tqdm"
  #       ]

fix(polyphemus): inject primer before schema instructions, not after
  apps/polyphemus/src/rhesis/polyphemus/services/services.py
  sdk/src/rhesis/sdk/synthesizers/assets/base.jinja
Due: sdk

fix(backend): make file storage migrations idempotent
  apps/backend/src/rhesis/backend/alembic/versions/9b25f353e9c8_add_file_storage_columns.py
  apps/backend/src/rhesis/backend/alembic/versions/f1e2d3c4b5a6_drop_file_content_column.py
Due: backend

style(backend): format cache files with ruff
  apps/backend/src/rhesis/backend/app/services/cache.py
  apps/backend/src/rhesis/backend/app/services/garak/cache.py
Due: backend

feat(backend): route cache reads to Redis read replica via BROKER_READ_URL
  apps/backend/src/rhesis/backend/app/services/cache.py
  apps/backend/src/rhesis/backend/app/services/garak/cache.py
  apps/backend/src/rhesis/backend/app/services/redis_constants.py
  tests/backend/services/test_cache.py
Due: backend

fix(backend): address peqy review on Redis read replica PR
  .github/workflows/backend.yml
  .github/workflows/worker.yml
  apps/backend/src/rhesis/backend/alembic/versions/9b25f353e9c8_add_file_storage_columns.py
  apps/backend/src/rhesis/backend/alembic/versions/f1e2d3c4b5a6_drop_file_content_column.py
  apps/backend/src/rhesis/backend/app/services/cache.py
  apps/backend/src/rhesis/backend/app/services/garak/cache.py
  infrastructure/config/service-secrets-create.sh
  infrastructure/k8s/charts/rhesis/templates/backend-deployment.yaml
  infrastructure/k8s/charts/rhesis/templates/worker-deployment.yaml
Due: backend

fix(tests): reset _redis_read in trace metrics cache test fixture
  tests/backend/services/telemetry/test_trace_metrics_cache.py
Due: none

feature(polyphemus): "harmful" mode for synthesizer
  examples/polyphemus.ipynb
  sdk/src/rhesis/sdk/synthesizers/assets/base.jinja
  sdk/src/rhesis/sdk/synthesizers/base.py
  sdk/src/rhesis/sdk/synthesizers/config_synthesizer.py
  sdk/src/rhesis/sdk/synthesizers/context_synthesizer.py
  sdk/src/rhesis/sdk/synthesizers/multi_turn/base.py
  sdk/src/rhesis/sdk/synthesizers/multi_turn/templates/base.jinja
  sdk/src/rhesis/sdk/synthesizers/prompt_synthesizer.py
  sdk/src/rhesis/sdk/synthesizers/synthesizer.py
Due: sdk

fix(backend): retry primary on GarakProbeCache read replica failure
  apps/backend/src/rhesis/backend/app/services/garak/cache.py
  tests/backend/services/garak/test_cache.py
  tests/backend/services/test_cache.py
Due: backend

chore: replace log arguments with single parent_name string
  apps/backend/src/rhesis/backend/tasks/embedding/graph.py
Due: backend

fix(test): set ENVIRONMENT=test for SDK integration backend
  tests/docker-compose.test.yml
Due: none

update dns flowl in the user utils
  apps/backend/src/rhesis/backend/app/auth/user_utils.py
Due: backend

align with all values.yaml
  charts/rhesis/values-dev.yaml
Due: none

update target revision to main for stg and prd
  kubernetes/clusters/stg/argocd/argocd-application.yaml
  kubernetes/clusters/stg/base.yaml
  kubernetes/clusters/stg/cert-manager.yaml
  kubernetes/clusters/stg/cnpg-cluster-application.yaml
  kubernetes/clusters/stg/cnpg-operator.yaml
  kubernetes/clusters/stg/external-dns.yaml
  kubernetes/clusters/stg/external-secrets.yaml
  kubernetes/clusters/stg/grafana-operator.yaml
  kubernetes/clusters/stg/grafana-resources.yaml
  kubernetes/clusters/stg/ingress-nginx-external.yaml
  kubernetes/clusters/stg/ingress-nginx-internal.yaml
  kubernetes/clusters/stg/internal-dns.yaml
  kubernetes/clusters/stg/kube-prometheus-stack.yaml
  kubernetes/clusters/stg/loki.yaml
  kubernetes/clusters/stg/rhesis/rhesis-application.yaml
Due: none

update prod db name
  kubernetes/clusters/prd/cnpg-cluster/cnpg-cluster.yaml
Due: none

- SA JSON key → Workload Identity - TSIG update-policy - imageTag fail guard - ScheduledBackup - GCS lifecycle rule - ZONE hardcoded fix - Duplicate role creation - Vertex AI playground
  charts/rhesis/templates/_helpers.tpl
  charts/rhesis/values-prd.yaml
  charts/rhesis/values.yaml
  kubernetes/clusters/prd/cnpg-cluster/cnpg-cluster.yaml
  kubernetes/clusters/prd/cnpg-cluster/cnpg-scheduled-backup.yaml
  kubernetes/clusters/prd/cnpg-cluster/kustomization.yaml
  kubernetes/clusters/prd/external-secrets/cnpg-gcs-externalsecret.yaml
  kubernetes/clusters/prd/external-secrets/kustomization.yaml
  kubernetes/clusters/stg/cnpg-cluster/cnpg-cluster.yaml
  kubernetes/clusters/stg/external-secrets/cnpg-gcs-externalsecret.yaml
  kubernetes/clusters/stg/external-secrets/kustomization.yaml
  terraform/infrastructure/main.tf
  terraform/infrastructure/modules/cnpg-barman-sa-gcp/main.tf
  terraform/infrastructure/modules/cnpg-barman-sa-gcp/outputs.tf
  terraform/infrastructure/modules/cnpg-barman-sa-gcp/variables.tf
  terraform/infrastructure/modules/storage-buckets/gcp/main.tf
  terraform/infrastructure/modules/wireguard/gcp/bind9-update.tf
  terraform/infrastructure/modules/wireguard/gcp/cloud-init.tf
  terraform/infrastructure/modules/wireguard/gcp/templates/named.conf.tpl
  terraform/infrastructure/modules/wireguard/gcp/update.tf
  terraform/infrastructure/modules/wireguard/gcp/variables.tf
Due: none

added hpa, fine tune resources for all services
  charts/rhesis/templates/backend/deployment.yaml
  charts/rhesis/templates/backend/hpa.yaml
  charts/rhesis/templates/chatbot/deployment.yaml
  charts/rhesis/templates/chatbot/hpa.yaml
  charts/rhesis/templates/docs/deployment.yaml
  charts/rhesis/templates/docs/hpa.yaml
  charts/rhesis/templates/frontend/deployment.yaml
  charts/rhesis/templates/frontend/hpa.yaml
  charts/rhesis/templates/polyphemus/deployment.yaml
  charts/rhesis/templates/polyphemus/hpa.yaml
  charts/rhesis/templates/worker/deployment.yaml
  charts/rhesis/templates/worker/hpa.yaml
  charts/rhesis/values-prd.yaml
  charts/rhesis/values-stg.yaml
  charts/rhesis/values.yaml
Due: none

fix(polyphemus): restored missing system prompt case
  apps/polyphemus/src/rhesis/polyphemus/services/services.py
Due: none

Opentel collector, processor
  charts/rhesis/Chart.yaml
  charts/rhesis/templates/_helpers.tpl
  charts/rhesis/templates/configmap.yaml
  charts/rhesis/templates/otel-collector/deployment.yaml
  charts/rhesis/templates/otel-collector/ingress.yaml
  charts/rhesis/templates/otel-collector/service.yaml
  charts/rhesis/templates/telemetry-processor/deployment.yaml
  charts/rhesis/templates/telemetry-processor/service.yaml
  charts/rhesis/values-dev.yaml
  charts/rhesis/values-prd.yaml
  charts/rhesis/values-stg.yaml
  charts/rhesis/values.yaml
  kubernetes/clusters/dev/external-secrets/rhesis-app-secrets.yaml
  kubernetes/clusters/prd/external-secrets/rhesis-app-secrets.yaml
  kubernetes/clusters/stg/external-secrets/rhesis-app-secrets.yaml
Due: none

feat: added the otel processor endpoint
  kubernetes/clusters/dev/external-secrets/rhesis-app-secrets.yaml
  kubernetes/clusters/prd/external-secrets/rhesis-app-secrets.yaml
  kubernetes/clusters/stg/external-secrets/rhesis-app-secrets.yaml
Due: none

fix: internal dns external dns sync issue in the start up
  terraform/infrastructure/modules/wireguard/gcp/bind9-update.tf
Due: none

fix race condition in the bind9 server startup
  terraform/infrastructure/modules/wireguard/gcp/bind9-update.tf
  terraform/infrastructure/modules/wireguard/gcp/templates/cloud-init.yaml.tpl
Due: none

update deployment type to cloud
  charts/rhesis/values.yaml
Due: none

update output.tf, remove secret manager id as it will bind with iam
  terraform/infrastructure/outputs.tf
Due: none

Revert "fix race condition in the bind9 server startup"
  terraform/infrastructure/modules/wireguard/gcp/bind9-update.tf
  terraform/infrastructure/modules/wireguard/gcp/templates/cloud-init.yaml.tpl
Due: none

update staging project name
  charts/rhesis/values-stg.yaml
  kubernetes/clusters/stg/cnpg-cluster/cnpg-cluster.yaml
  kubernetes/clusters/stg/external-secrets/kustomization.yaml
  kubernetes/clusters/stg/external-secrets/rhesis-app-secrets.yaml
  terraform/infrastructure/main.tf
Due: none

Reapply "fix race condition in the bind9 server startup"
  terraform/infrastructure/modules/wireguard/gcp/bind9-update.tf
  terraform/infrastructure/modules/wireguard/gcp/templates/cloud-init.yaml.tpl
Due: none

fix cnpg service account name
  terraform/infrastructure/main.tf
Due: none

update secret keywords
  kubernetes/clusters/dev/external-secrets/rhesis-app-secrets.yaml
  kubernetes/clusters/prd/cnpg-cluster/cnpg-cluster.yaml
  kubernetes/clusters/prd/external-secrets/rhesis-app-secrets.yaml
  kubernetes/clusters/stg/cnpg-cluster/cnpg-cluster.yaml
  kubernetes/clusters/stg/external-secrets/rhesis-app-secrets.yaml
Due: none

added argocd, grafana, and telemetry in the bind9
  terraform/infrastructure/main.tf
Due: none

update bind9 update
  terraform/infrastructure/modules/wireguard/gcp/cloud-init.tf
  terraform/infrastructure/modules/wireguard/gcp/templates/cloud-init.yaml.tpl
  terraform/infrastructure/modules/wireguard/gcp/templates/named.conf.tpl
Due: none

add schema permission for the rhesis-admin
  kubernetes/clusters/prd/cnpg-cluster/cnpg-cluster.yaml
  kubernetes/clusters/stg/cnpg-cluster/cnpg-cluster.yaml
Due: none

force migrate.sh to use rhesis-admin for schema creation
  apps/backend/migrate.sh
Due: backend

fix: OOM issue in the backend and permission issue in the frontend
  apps/frontend/Dockerfile
  charts/rhesis/values-stg.yaml
Due: frontend-format, frontend-lint, hardcoded-styles

fix OOM issue, permission issue for the backend and FE for dev, stg, and prod
  apps/frontend/scripts/replace-runtime-env.sh
  charts/rhesis/values-dev.yaml
  charts/rhesis/values-stg.yaml
Due: frontend-format, frontend-lint, hardcoded-styles

fix: resolve dns inside kubernetes cluster
  apps/frontend/Dockerfile
  kubernetes/clusters/dev/cluster-dns-application.yaml
  kubernetes/clusters/dev/cluster-dns/kube-dns.yaml
  kubernetes/clusters/dev/cluster-dns/patch-job.yaml
  kubernetes/clusters/dev/cluster-dns/rbac.yaml
  kubernetes/clusters/prd/cluster-dns-application.yaml
  kubernetes/clusters/prd/cluster-dns/kube-dns.yaml
  kubernetes/clusters/prd/cluster-dns/patch-job.yaml
  kubernetes/clusters/prd/cluster-dns/rbac.yaml
  kubernetes/clusters/stg/cluster-dns-application.yaml
  kubernetes/clusters/stg/cluster-dns/kube-dns.yaml
  kubernetes/clusters/stg/cluster-dns/patch-job.yaml
  kubernetes/clusters/stg/cluster-dns/rbac.yaml
Due: frontend-format, frontend-lint, hardcoded-styles

fix(embedding): harden graph build and lighten test set ID lookup
  apps/backend/src/rhesis/backend/app/services/embedding/graph_builder.py
  apps/backend/src/rhesis/backend/tasks/embedding/graph.py
Due: backend

fix: - CNPG Cluster manifests had Helm placeholders in SQL. Remove helm placeholder - cluster-dns patch Jobs assume python3 in bitnami/kubectl:latest, replace image with alpine/k8s:1.30.12
  kubernetes/clusters/dev/cluster-dns/patch-job.yaml
  kubernetes/clusters/prd/cluster-dns/patch-job.yaml
  kubernetes/clusters/prd/cnpg-cluster/cnpg-cluster.yaml
  kubernetes/clusters/stg/cluster-dns/patch-job.yaml
  kubernetes/clusters/stg/cnpg-cluster/cnpg-cluster.yaml
Due: none
