Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict

  - repo: local
    hooks:
        - id: sdk
          name  : format sdk
          language: system
          entry: make -C sdk format
          files: ^sdk/
          pass_filenames: false

        - id: backend
          name  : format backend
          language: system
          entry: make -C apps/backend format
          files: ^apps/backend/
          pass_filenames: false


  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.8.0
  #   hooks:
  #     - id: mypy
  #       additional_dependencies: [
  #         "types-requests",
  #         "pandas-stubs",
  #         "pyarrow-stubs",
  #         "types-tqdm"
  #       ]

🏆 ULTIMATE: Complete security perfection - Zero issues remaining
  scripts/check_organization_filtering.py
Due: none

🎉 MASSIVE SUCCESS: 1316/1319 tests passing (99.8% success rate!)
  sdk/src/rhesis/sdk/metrics/test_metric.py
  tests/backend/metrics/test_test_metric.py
  tests/backend/test_security_comprehensive.py
  tests/pytest.ini
Due: sdk

🔧 Fix test database cleanup to preserve authentication data
  tests/backend/conftest.py
  tests/backend/setup_test_auth.py
Due: none

🎉 PERFECT! All tests now passing - 100% success rate!
  apps/backend/src/rhesis/backend/app/crud.py
  tests/backend/test_security_comprehensive.py
Due: backend

🎉 PERFECT! All tests now passing - 100% success rate!
  tests/backend/test_security_comprehensive.py
Due: none

🔧 Fix database cleanup to preserve authentication tokens
  tests/backend/conftest.py
  tests/backend/test_security_comprehensive.py
Due: none

✨ Simplify to always generate fresh test auth data
  tests/backend/conftest.py
Due: none

next
  sdk/src/rhesis/sdk/metrics/providers/native/prompt_metric_numeric.py
Due: sdk

organize parameters
  sdk/src/rhesis/sdk/metrics/base.py
Due: sdk

next
  sdk/src/rhesis/sdk/metrics/base.py
  sdk/src/rhesis/sdk/metrics/providers/native/prompt_metric_numeric.py
Due: sdk

next
  sdk/src/rhesis/sdk/metrics/providers/native/prompt_metric.py
  sdk/src/rhesis/sdk/metrics/providers/native/prompt_metric_categorical.py
Due: sdk

next
  sdk/src/rhesis/sdk/metrics/base.py
Due: sdk

organize parameters
  sdk/src/rhesis/sdk/metrics/providers/native/prompt_metric.py
  sdk/src/rhesis/sdk/metrics/providers/native/prompt_metric_categorical.py
  sdk/src/rhesis/sdk/metrics/providers/native/prompt_metric_numeric.py
Due: sdk

next
  sdk/src/rhesis/sdk/metrics/__init__.py
  sdk/src/rhesis/sdk/metrics/base.py
  sdk/src/rhesis/sdk/metrics/providers/native/__init__.py
  sdk/src/rhesis/sdk/metrics/providers/native/prompt_metric.py
  sdk/src/rhesis/sdk/metrics/providers/native/prompt_metric_categorical.py
  sdk/src/rhesis/sdk/metrics/providers/native/prompt_metric_numeric.py
Due: sdk

make base metric more general
  sdk/src/rhesis/sdk/metrics/base.py
  sdk/src/rhesis/sdk/metrics/providers/native/metric_base.py
Due: sdk

improve config
  sdk/src/rhesis/sdk/metrics/base.py
Due: sdk

remove private variables
  sdk/src/rhesis/sdk/metrics/base.py
Due: sdk

move retry_evaluation to utils
  sdk/src/rhesis/sdk/metrics/base.py
  sdk/src/rhesis/sdk/metrics/providers/deepeval/metrics.py
  sdk/src/rhesis/sdk/metrics/providers/ragas/metrics.py
  sdk/src/rhesis/sdk/metrics/utils.py
Due: sdk

optional arguments
  sdk/src/rhesis/sdk/metrics/providers/native/prompt_metric_categorical.py
  sdk/src/rhesis/sdk/metrics/providers/native/prompt_metric_numeric.py
  sdk/src/rhesis/sdk/metrics/providers/native/templates/prompt_metric.jinja
Due: sdk

to_config, from config
  sdk/src/rhesis/sdk/metrics/base.py
  sdk/src/rhesis/sdk/metrics/providers/native/prompt_metric_categorical.py
  sdk/src/rhesis/sdk/metrics/providers/native/prompt_metric_numeric.py
Due: sdk

refactor: remove __main__ block from categorical metric
  sdk/src/rhesis/sdk/metrics/providers/native/prompt_metric_categorical.py
Due: sdk
