Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict

  - repo: local
    hooks:
        - id: sdk
          name  : format sdk
          language: system
          entry: make -C sdk format
          files: ^sdk/
          pass_filenames: false

        - id: backend
          name  : format backend
          language: system
          entry: make -C apps/backend format
          files: ^apps/backend/
          pass_filenames: false


  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.8.0
  #   hooks:
  #     - id: mypy
  #       additional_dependencies: [
  #         "types-requests",
  #         "pandas-stubs",
  #         "pyarrow-stubs",
  #         "types-tqdm"
  #       ]

fix: test client tests
  tests/sdk/test_client.py
Due: none

fix: lacking nanoid in the sdk
  sdk/pyproject.toml
  sdk/uv.lock
Due: sdk

feat: __repr__ for entities
  sdk/src/rhesis/sdk/entities/base_entity.py
Due: sdk

feat: add from_id
  sdk/src/rhesis/sdk/entities/base_entity.py
  tests/sdk/entities/test_base_entity.py
Due: sdk

refactor: remove unused _validate_update
  sdk/src/rhesis/sdk/entities/base_entity.py
Due: sdk

refactor: remove client from base entity
  sdk/src/rhesis/sdk/entities/base_entity.py
Due: sdk

refactor: remove unused to record function
  sdk/src/rhesis/sdk/entities/base_entity.py
Due: sdk

refactor: remove update function that doesn't have the functionality
  sdk/src/rhesis/sdk/entities/base_entity.py
Due: sdk

refactor: remove get by id, that has no functionality
  sdk/src/rhesis/sdk/entities/base_entity.py
Due: sdk

refactor: remove handle http errors, remove id function
  sdk/src/rhesis/sdk/entities/base_entity.py
Due: sdk

refactor: move delete from base_entity to base_collection
  sdk/src/rhesis/sdk/entities/base_collection.py
Due: sdk

move delete to collection
  sdk/src/rhesis/sdk/entities/base_collection.py
  sdk/src/rhesis/sdk/entities/base_entity.py
Due: sdk

refactor: move delete test to collection
  tests/sdk/entities/test_base_collection.py
  tests/sdk/entities/test_base_entity.py
Due: none

feat: add comments and tasks count columns to entity DataGrids
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestRunTestsGrid.tsx
  apps/frontend/src/app/(protected)/test-runs/components/TestRunsGrid.tsx
  apps/frontend/src/app/(protected)/test-sets/components/TestSetsGrid.tsx
  apps/frontend/src/app/(protected)/tests/components/TestsGrid.tsx
  apps/frontend/src/utils/api-client/interfaces/test-results.ts
  apps/frontend/src/utils/api-client/interfaces/test-run.ts
  apps/frontend/src/utils/api-client/interfaces/test-set.ts
  apps/frontend/src/utils/api-client/interfaces/tests.ts
Due: none

refactor: test base collection
  sdk/src/rhesis/sdk/entities/base_collection.py
  tests/sdk/entities/test_base_collection.py
Due: sdk

refactor(model): remove unused imports from Source model
  apps/backend/src/rhesis/backend/alembic/versions/de50496b2a9c_add_file_management_fields_to_source_.py
  apps/backend/src/rhesis/backend/app/models/source.py
Due: backend

refactor(storage): update DocumentHandler for persistent storage
  apps/backend/src/rhesis/backend/app/services/document_handler.py
Due: backend

feat(source): add file management and content processing fields
  apps/backend/src/rhesis/backend/app/models/source.py
Due: backend

feat(storage): add StorageService for multi-environment file storage
  apps/backend/src/rhesis/backend/app/services/storage_service.py
Due: backend

feat(database): create migration for source file management fields
  apps/backend/src/rhesis/backend/alembic/versions/de50496b2a9c_add_file_management_fields_to_source_.py
Due: backend

feat(api): update document endpoints for persistent storage
  apps/backend/src/rhesis/backend/app/routers/services.py
  apps/backend/src/rhesis/backend/app/routers/test_set.py
Due: backend

feat(backend): add database session dependency and fix context manager handling
  apps/backend/src/rhesis/backend/app/dependencies.py
  apps/backend/src/rhesis/backend/app/utils/decorators.py
Due: backend

feat(crud): add tenant context support to all CRUD functions
  apps/backend/src/rhesis/backend/app/crud.py
Due: backend

feat(api): update all routes to use proper database sessions and tenant context
  apps/backend/src/rhesis/backend/app/routers/__init__.py
  apps/backend/src/rhesis/backend/app/routers/auth.py
  apps/backend/src/rhesis/backend/app/routers/base.py
  apps/backend/src/rhesis/backend/app/routers/behavior.py
  apps/backend/src/rhesis/backend/app/routers/category.py
  apps/backend/src/rhesis/backend/app/routers/comment.py
  apps/backend/src/rhesis/backend/app/routers/demographic.py
  apps/backend/src/rhesis/backend/app/routers/dimension.py
  apps/backend/src/rhesis/backend/app/routers/endpoint.py
  apps/backend/src/rhesis/backend/app/routers/job.py
  apps/backend/src/rhesis/backend/app/routers/metric.py
  apps/backend/src/rhesis/backend/app/routers/model.py
  apps/backend/src/rhesis/backend/app/routers/organization.py
  apps/backend/src/rhesis/backend/app/routers/project.py
  apps/backend/src/rhesis/backend/app/routers/prompt.py
  apps/backend/src/rhesis/backend/app/routers/prompt_template.py
  apps/backend/src/rhesis/backend/app/routers/response_pattern.py
  apps/backend/src/rhesis/backend/app/routers/risk.py
  apps/backend/src/rhesis/backend/app/routers/services.py
  apps/backend/src/rhesis/backend/app/routers/source.py
  apps/backend/src/rhesis/backend/app/routers/status.py
  apps/backend/src/rhesis/backend/app/routers/tag.py
  apps/backend/src/rhesis/backend/app/routers/task_management.py
  apps/backend/src/rhesis/backend/app/routers/test.py
  apps/backend/src/rhesis/backend/app/routers/test_configuration.py
  apps/backend/src/rhesis/backend/app/routers/test_context.py
  apps/backend/src/rhesis/backend/app/routers/test_result.py
  apps/backend/src/rhesis/backend/app/routers/test_run.py
  apps/backend/src/rhesis/backend/app/routers/test_set.py
  apps/backend/src/rhesis/backend/app/routers/token.py
  apps/backend/src/rhesis/backend/app/routers/topic.py
  apps/backend/src/rhesis/backend/app/routers/type_lookup.py
  apps/backend/src/rhesis/backend/app/routers/use_case.py
  apps/backend/src/rhesis/backend/app/routers/user.py
Due: backend

fix(stats): handle both UUID and string organization_id inputs
  apps/backend/src/rhesis/backend/app/services/stats/calculator.py
Due: backend

chore(deps): update dependency lock file
  apps/backend/uv.lock
Due: backend

feat: delete_by_id
  sdk/src/rhesis/sdk/entities/base_collection.py
  sdk/src/rhesis/sdk/entities/base_entity.py
  tests/sdk/entities/test_base_collection.py
  tests/sdk/entities/test_base_entity.py
Due: sdk

feat(source): update source model and schema with comments support
  apps/backend/src/rhesis/backend/app/models/source.py
  apps/backend/src/rhesis/backend/app/schemas/source.py
Due: backend

feat: add Source support to comment and task models
  apps/backend/src/rhesis/backend/app/models/comment.py
  apps/backend/src/rhesis/backend/app/models/test.py
  apps/backend/src/rhesis/backend/app/models/type_lookup.py
Due: backend

feat: add Source entity type support to comments system
  apps/backend/src/rhesis/backend/app/constants.py
  apps/backend/src/rhesis/backend/app/routers/comment.py
  apps/backend/src/rhesis/backend/app/schemas/comment.py
Due: backend
