Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, docs-format, hardcoded-styles

sdk:
  name: format sdk
  language: system
  entry: make -C sdk format
  pass_filenames: false

backend:
  name: format backend
  language: system
  entry: make -C apps/backend format_diff
  pass_filenames: false

frontend-format:
  name: auto-fix frontend formatting
  language: system
  entry: bash -c "cd apps/frontend && npm run format"
  pass_filenames: false

frontend-lint:
  name: lint frontend
  language: system
  entry: bash -c "cd apps/frontend && npm run lint"
  pass_filenames: false

docs-format:
  name: auto-fix docs formatting
  language: system
  entry: bash -c "cd apps/documentation && npm run format"
  pass_filenames: false

hardcoded-styles:
  name: check hardcoded styles in frontend and docs
  language: system
  entry: node scripts/check-hardcoded-styles.js
  pass_filenames: false

refactor(backend): lift the OAuth primitives out of ee
  apps/backend/src/rhesis/backend/app/auth/oauth_state.py
  apps/backend/src/rhesis/backend/app/auth/pkce.py
  apps/backend/src/rhesis/backend/app/utils/ssrf_http_client.py
  ee/backend/src/rhesis/backend/ee/sso/oidc.py
  ee/backend/src/rhesis/backend/ee/sso/router.py
  ee/backend/src/rhesis/backend/ee/sso/schemas.py
  ee/backend/src/rhesis/backend/ee/sso/token_exchange/exchange.py
  tests/backend/auth/test_oauth_primitives.py
  tests/backend/ee/sso/test_sso_router.py
  tests/backend/utils/test_ssrf_http_client.py
Due: backend

docs(backend): correct the SafeHttpClient docstring
  apps/backend/src/rhesis/backend/app/utils/ssrf_http_client.py
Due: backend

docs(backend): stop claiming HTTPS requests are IP-pinned
  apps/backend/src/rhesis/backend/app/utils/ssrf_http_client.py
Due: backend

test(tests): stop the SSRF client tests resolving real hostnames
  tests/backend/utils/test_ssrf_http_client.py
Due: none

Lift the OAuth primitives out of ee into core (#2800)
  apps/backend/src/rhesis/backend/app/auth/oauth_state.py
  apps/backend/src/rhesis/backend/app/auth/pkce.py
  apps/backend/src/rhesis/backend/app/utils/ssrf_http_client.py
  ee/backend/src/rhesis/backend/ee/sso/oidc.py
  ee/backend/src/rhesis/backend/ee/sso/router.py
  ee/backend/src/rhesis/backend/ee/sso/schemas.py
  ee/backend/src/rhesis/backend/ee/sso/token_exchange/exchange.py
  tests/backend/auth/test_oauth_primitives.py
  tests/backend/ee/sso/test_sso_router.py
  tests/backend/utils/test_ssrf_http_client.py
Due: backend

fix(sdk): read every provider's token counts
  packages/rhesis/src/rhesis/telemetry/token_extraction.py
Due: none

refactor(sdk): drop langchain token whitelists
  sdk/src/rhesis/sdk/telemetry/integrations/langchain/llm_processing.py
Due: sdk

build(sdk): declare provider clients for tests
  apps/backend/uv.lock
  sdk/pyproject.toml
  sdk/uv.lock
Due: sdk, backend

test(sdk): cover token extraction per provider
  tests/sdk/telemetry/integrations/test_langchain_tokens.py
  tests/sdk/telemetry/test_token_extraction.py
Due: none

fix(sdk): never raise out of token extraction
  packages/rhesis/src/rhesis/telemetry/token_extraction.py
  tests/sdk/telemetry/test_token_extraction.py
Due: none

Read every provider's token counts, and test that we do (#2804)
  apps/backend/uv.lock
  packages/rhesis/src/rhesis/telemetry/token_extraction.py
  sdk/pyproject.toml
  sdk/src/rhesis/sdk/telemetry/integrations/langchain/llm_processing.py
  sdk/uv.lock
  tests/sdk/telemetry/integrations/test_langchain_tokens.py
  tests/sdk/telemetry/test_token_extraction.py
Due: sdk, backend

fix(backend): stop pricing spans with no tokens
  apps/backend/src/rhesis/backend/app/services/telemetry/enrichment/core.py
Due: backend

test(backend): cover spans that reported no tokens
  tests/backend/crud/test_trace_metrics_aggregated.py
  tests/backend/services/telemetry/test_enrichment.py
Due: none

docs: explain a call that reported no tokens
  docs/content/docs/tracing/costs.mdx
Due: none

Stop a call we could not read from looking like a free one (#2805)
  apps/backend/src/rhesis/backend/app/services/telemetry/enrichment/core.py
  docs/content/docs/tracing/costs.mdx
  tests/backend/crud/test_trace_metrics_aggregated.py
  tests/backend/services/telemetry/test_enrichment.py
Due: backend

fix(sdk): stop langchain stamping unknown as a provider
  sdk/src/rhesis/sdk/telemetry/integrations/langchain/extractors.py
Due: sdk

fix(sdk): stamp the provider on haystack spans
  sdk/src/rhesis/sdk/telemetry/integrations/haystack/tracer.py
Due: sdk

fix(backend): fold a provider's two names into one
  apps/backend/src/rhesis/backend/app/services/telemetry/providers.py
Due: backend

test(sdk,backend): cover how a call gets attributed
  tests/backend/services/telemetry/test_providers.py
  tests/sdk/telemetry/integrations/haystack_integration/test_emitted_spans.py
  tests/sdk/telemetry/integrations/test_langchain_extractors.py
Due: none

docs: correct what sets the provider attribute
  docs/content/docs/tracing/costs.mdx
Due: none

Give every provider one name, and stop guessing unknown (#2806)
  apps/backend/src/rhesis/backend/app/services/telemetry/providers.py
  docs/content/docs/tracing/costs.mdx
  sdk/src/rhesis/sdk/telemetry/integrations/haystack/tracer.py
  sdk/src/rhesis/sdk/telemetry/integrations/langchain/extractors.py
  tests/backend/services/telemetry/test_providers.py
  tests/sdk/telemetry/integrations/haystack_integration/test_emitted_spans.py
  tests/sdk/telemetry/integrations/test_langchain_extractors.py
Due: sdk, backend

feat(sdk,backend): add cache token span attributes
  apps/backend/src/rhesis/backend/app/constants.py
  packages/rhesis/src/rhesis/telemetry/attributes.py
Due: backend

feat(sdk): read cached prompt tokens out of a usage payload
  packages/rhesis/src/rhesis/telemetry/__init__.py
  packages/rhesis/src/rhesis/telemetry/token_extraction.py
  sdk/src/rhesis/sdk/telemetry/utils/__init__.py
  sdk/src/rhesis/sdk/telemetry/utils/token_extraction.py
Due: sdk

feat(sdk): record cached tokens on llm spans
  sdk/src/rhesis/sdk/telemetry/integrations/google_adk/mapping.py
  sdk/src/rhesis/sdk/telemetry/integrations/langchain/llm_processing.py
Due: sdk

fix(backend): price cached prompt tokens
  apps/backend/src/rhesis/backend/app/services/telemetry/enrichment/core.py
Due: backend

test(sdk,backend): cover cached prompt token pricing
  tests/backend/services/telemetry/test_enrichment.py
  tests/sdk/telemetry/integrations/test_google_adk.py
  tests/sdk/telemetry/integrations/test_langchain_tokens.py
  tests/sdk/telemetry/test_token_extraction.py
Due: none

docs: explain how cached prompts are priced
  docs/content/docs/tracing/costs.mdx
  docs/content/docs/tracing/semantic-conventions.mdx
Due: none

style(tests): wrap a long line in the enrichment tests
  tests/backend/services/telemetry/test_enrichment.py
Due: none

fix(backend): only price cache tokens at published rates
  apps/backend/src/rhesis/backend/app/services/telemetry/enrichment/core.py
  tests/backend/services/telemetry/test_enrichment.py
Due: backend

Charge for cached prompt tokens instead of counting them for free (#2807)
  apps/backend/src/rhesis/backend/app/constants.py
  apps/backend/src/rhesis/backend/app/services/telemetry/enrichment/core.py
  docs/content/docs/tracing/costs.mdx
  docs/content/docs/tracing/semantic-conventions.mdx
  packages/rhesis/src/rhesis/telemetry/__init__.py
  packages/rhesis/src/rhesis/telemetry/attributes.py
  packages/rhesis/src/rhesis/telemetry/token_extraction.py
  sdk/src/rhesis/sdk/telemetry/integrations/google_adk/mapping.py
  sdk/src/rhesis/sdk/telemetry/integrations/langchain/llm_processing.py
  sdk/src/rhesis/sdk/telemetry/utils/__init__.py
  sdk/src/rhesis/sdk/telemetry/utils/token_extraction.py
  tests/backend/services/telemetry/test_enrichment.py
  tests/sdk/telemetry/integrations/test_google_adk.py
  tests/sdk/telemetry/integrations/test_langchain_tokens.py
  tests/sdk/telemetry/test_token_extraction.py
Due: sdk, backend

test(sdk): pin the openai cached token gap
  tests/sdk/telemetry/test_token_extraction.py
Due: none

test(backend): tolerate rounding in the linearity check
  tests/backend/services/telemetry/test_model_pricing.py
Due: none

docs: list the providers and how each reports tokens
  docs/content/docs/tracing/semantic-conventions.mdx
Due: none

test(backend): guard every provider staying priceable
  tests/backend/services/telemetry/test_model_pricing.py
Due: none

test(backend): catch a swap between the two halves of a call
  tests/backend/services/telemetry/test_model_pricing.py
Due: none

Catch it when a provider stops being priceable (#2808)
  docs/content/docs/tracing/semantic-conventions.mdx
  tests/backend/services/telemetry/test_model_pricing.py
  tests/sdk/telemetry/test_token_extraction.py
Due: none

refactor(sdk): define workflow intents as structured data
  sdk/src/rhesis/sdk/agents/architect/intents.py
  sdk/src/rhesis/sdk/agents/architect/prompt_loader.py
  sdk/src/rhesis/sdk/agents/architect/prompt_templates/workflow-routing.j2
  sdk/src/rhesis/sdk/agents/architect/workflow.py
  skills/rhesis/SKILL.md
  skills/rhesis/references/intents.yaml
  skills/rhesis/references/workflow-index.md
  tests/sdk/agents/test_architect_intents.py
Due: sdk

refactor(sdk): extract skill reference lookup
  sdk/src/rhesis/sdk/agents/architect/prompt_loader.py
  sdk/src/rhesis/sdk/agents/architect/references.py
Due: sdk

fix(sdk): reject a malformed intents.yaml with a clear error
  sdk/src/rhesis/sdk/agents/architect/intents.py
  tests/sdk/agents/test_architect_intents.py
Due: sdk

Define workflow intents as structured data (#2803)
  sdk/src/rhesis/sdk/agents/architect/intents.py
  sdk/src/rhesis/sdk/agents/architect/prompt_loader.py
  sdk/src/rhesis/sdk/agents/architect/prompt_templates/workflow-routing.j2
  sdk/src/rhesis/sdk/agents/architect/references.py
  sdk/src/rhesis/sdk/agents/architect/workflow.py
  skills/rhesis/SKILL.md
  skills/rhesis/references/intents.yaml
  skills/rhesis/references/workflow-index.md
  tests/sdk/agents/test_architect_intents.py
Due: sdk

Path conditions:
  sdk: any of: ^sdk/
  backend: any of: ^apps/backend/
  frontend-format: any of: ^apps/frontend/
  frontend-lint: any of: ^apps/frontend/
  docs-format: any of: ^apps/documentation/
  hardcoded-styles: any of: ^apps/(frontend|documentation)/
