Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, frontend-hardcoded-styles

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict

  - repo: local
    hooks:
        - id: sdk
          name  : format sdk
          language: system
          entry: make -C sdk format
          files: ^sdk/
          pass_filenames: false

        - id: backend
          name  : format backend
          language: system
          entry: make -C apps/backend format_diff
          files: ^apps/backend/
          pass_filenames: false

        - id: frontend-format
          name: auto-fix frontend formatting
          language: system
          entry: cd apps/frontend && npm run format
          files: ^apps/frontend/
          pass_filenames: false

        - id: frontend-lint
          name: lint frontend
          language: system
          entry: cd apps/frontend && npm run lint
          files: ^apps/frontend/
          pass_filenames: false

        - id: frontend-hardcoded-styles
          name: check hardcoded styles in frontend
          language: system
          entry: node scripts/check-hardcoded-styles.js
          files: ^apps/frontend/
          pass_filenames: false


  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.8.0
  #   hooks:
  #     - id: mypy
  #       additional_dependencies: [
  #         "types-requests",
  #         "pandas-stubs",
  #         "pyarrow-stubs",
  #         "types-tqdm"
  #       ]

feat(infra): add Vertex AI and default LLM config to all environments
  .github/workflows/backend.yml
  .github/workflows/worker.yml
  infrastructure/config/service-secrets-config.sh.example
  infrastructure/config/service-secrets-create.sh
Due: none

feat(backend): use default generation model constant in test_config_generator
  apps/backend/src/rhesis/backend/app/services/test_config_generator.py
Due: backend

feat(docker-compose): add Vertex AI config for local development
  docker-compose.yml
Due: none

fix(k8s): update worker deployment for new Vertex AI variables
  apps/worker/k8s/deployment.yaml
Due: none

ci: update GitHub workflows for new Vertex AI variables
  .github/workflows/backend.yml
  .github/workflows/worker.yml
Due: none

refactor: migrate chatbot to use SDK providers approach
  apps/chatbot/Dockerfile
  apps/chatbot/README.md
  apps/chatbot/endpoint.py
  apps/chatbot/pyproject.toml
Due: none

perf(vertex-ai): optimize model and region defaults
  .github/workflows/chatbot.yml
  apps/backend/src/rhesis/backend/app/constants.py
  apps/chatbot/README.md
  docker-compose.yml
  infrastructure/config/service-secrets-config.sh.example
  infrastructure/config/service-secrets-create.sh
  sdk/src/rhesis/sdk/models/factory.py
  sdk/src/rhesis/sdk/models/providers/vertex_ai.py
Due: sdk, backend

chore: update chatbot workflow with Vertex AI configuration
  .github/workflows/chatbot.yml
Due: none

refactor(infra): update Vertex AI environment variables
  docker-compose.yml
  infrastructure/config/service-secrets-config.sh.example
  infrastructure/config/service-secrets-create.sh
Due: none

refactor: simplify /generate/content endpoint to use OpenAI schema directly
  apps/backend/src/rhesis/backend/app/routers/services.py
  apps/backend/src/rhesis/backend/app/schemas/services.py
Due: backend

style(sdk): format vertex_ai provider
  sdk/src/rhesis/sdk/models/providers/vertex_ai.py
Due: sdk

style(backend): format services files
  apps/backend/src/rhesis/backend/app/routers/services.py
  apps/backend/src/rhesis/backend/app/schemas/services.py
Due: backend

test(sdk): update default model test to gemini-2.0-flash
  tests/sdk/models/providers/test_vertex_ai.py
Due: none

refactor(frontend): remove scenarios from test generation flow
  apps/frontend/src/app/(protected)/tests/new-generated/components/TestConfigurationConfirmation.tsx
  apps/frontend/src/app/(protected)/tests/new-generated/components/TestGenerationFlow.tsx
  apps/frontend/src/app/(protected)/tests/new-generated/components/TestGenerationInterface.tsx
  apps/frontend/src/app/(protected)/tests/new-generated/components/shared/types.ts
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

refactor(frontend): remove scenarios from test templates config
  apps/frontend/src/config/test-templates.ts
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

fix(notifications): correct email button text and enable test set generation emails
  apps/backend/src/rhesis/backend/notifications/email/templates/task_completion.html.jinja2
  apps/backend/src/rhesis/backend/notifications/email/templates/test_execution_summary.html.jinja2
  apps/backend/src/rhesis/backend/tasks/test_set.py
Due: backend

fix(notifications): prevent N/A values in task completion emails
  apps/backend/src/rhesis/backend/notifications/email/template_service.py
  apps/backend/src/rhesis/backend/notifications/email/templates/task_completion.html.jinja2
Due: backend

fix(tasks): calculate and display accurate execution time in emails
  apps/backend/src/rhesis/backend/tasks/base.py
Due: backend

style(backend): format tasks/base.py
  apps/backend/src/rhesis/backend/tasks/base.py
Due: backend

feat(db): add rhesis provider type and model protection flag
  apps/backend/src/rhesis/backend/alembic/versions/10c4e8124417_add_is_protected_to_model.py
  apps/backend/src/rhesis/backend/alembic/versions/d99dc2079c4d_add_rhesis_provider_type.py
Due: backend

feat(models): add is_protected field to Model schema
  apps/backend/src/rhesis/backend/app/models/model.py
  apps/backend/src/rhesis/backend/app/schemas/model.py
Due: backend
