Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, docs-format, hardcoded-styles

sdk:
  name: format sdk
  language: system
  entry: make -C sdk format
  pass_filenames: false

backend:
  name: format backend
  language: system
  entry: make -C apps/backend format_diff
  pass_filenames: false

frontend-format:
  name: auto-fix frontend formatting
  language: system
  entry: bash -c "cd apps/frontend && npm run format"
  pass_filenames: false

frontend-lint:
  name: lint frontend
  language: system
  entry: bash -c "cd apps/frontend && npm run lint"
  pass_filenames: false

docs-format:
  name: auto-fix docs formatting
  language: system
  entry: bash -c "cd apps/documentation && npm run format"
  pass_filenames: false

hardcoded-styles:
  name: check hardcoded styles in frontend and docs
  language: system
  entry: node scripts/check-hardcoded-styles.js
  pass_filenames: false

feat(frontend): compensate viewport units for zoom
  apps/frontend/src/app/(protected)/generation/page.tsx
  apps/frontend/src/app/(protected)/onboarding/components/OnboardingShell.tsx
  apps/frontend/src/app/(protected)/onboarding/components/OnboardingSidebar.tsx
  apps/frontend/src/app/(protected)/onboarding/layout.tsx
  apps/frontend/src/app/(protected)/playground/components/PlaygroundClient.tsx
  apps/frontend/src/app/(protected)/tasks/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/compare/page.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/ComparisonView.tsx
  apps/frontend/src/app/(protected)/test-sets/new-generated/components/TestGenerationFlow.tsx
  apps/frontend/src/app/(protected)/test-sets/new-generated/page.tsx
  apps/frontend/src/app/(protected)/traces/components/SpanGraphView.tsx
  apps/frontend/src/app/__link__/[...slug]/page.tsx
  apps/frontend/src/app/auth/reset-password/page.tsx
  apps/frontend/src/app/auth/signout/page.tsx
  apps/frontend/src/app/demo/page.tsx
  apps/frontend/src/app/not-found.tsx
  apps/frontend/src/app/page.tsx
  apps/frontend/src/components/auth/AuthPageShell.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

test(frontend): guard the viewport scaling ladder
  apps/frontend/tests/e2e/tests/viewport-scaling.spec.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(infra): wire cloudflare provider credentials for dev/stg/prd
  terraform/infrastructure/envs/dev/main.tf
  terraform/infrastructure/envs/prd/main.tf
  terraform/infrastructure/envs/stg/main.tf
Due: none

fix(infra): use a literal placeholder for dev/stg cloudflare provider
  terraform/infrastructure/envs/dev/main.tf
  terraform/infrastructure/envs/stg/main.tf
Due: none

fix(infra): stop persisting the cloudflare token in terraform state
  .github/workflows/terraform-infrastructure.yml
  terraform/infrastructure/envs/prd/main.tf
Due: none

fix(infra): grant terraform-prd secretAccessor on the cloudflare token
  terraform/infrastructure/envs/prd/main.tf
Due: none

docs(infra): note the terraform-prd/TF_SA_PRD coupling explicitly
  terraform/infrastructure/envs/prd/main.tf
Due: none

fix(infra): hoist cloudflare_ip_ranges into envs/prd only
  terraform/infrastructure/envs/dev/main.tf
  terraform/infrastructure/envs/prd/main.tf
  terraform/infrastructure/envs/stg/main.tf
  terraform/infrastructure/modules/kubernetes/gcp/firewall.tf
  terraform/infrastructure/modules/kubernetes/gcp/main.tf
  terraform/infrastructure/modules/kubernetes/gcp/variables.tf
Due: none

fix(infra): protect prd's bootstrap secret grant from deletion
  terraform/infrastructure/envs/prd/main.tf
Due: none

refactor(ci): dedupe terraform-infrastructure.yml, auto-plan stg/prd
  .github/actions/tf-setup/action.yml
  .github/workflows/terraform-infrastructure.yml
Due: none

fix(frontend): stop metrics filter options from collapsing on select
  apps/frontend/src/app/(protected)/metrics/components/MetricsClient.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

refactor(frontend): extract usePaginatedList/prefetchList primitives
  apps/frontend/src/app/(protected)/behaviors/components/BehaviorsClient.tsx
  apps/frontend/src/app/(protected)/behaviors/page.tsx
  apps/frontend/src/app/(protected)/metrics/components/MetricsClient.tsx
  apps/frontend/src/app/(protected)/metrics/page.tsx
  apps/frontend/src/hooks/usePaginatedList.ts
  apps/frontend/src/utils/server-prefetch.ts
Due: frontend-format, frontend-lint, hardcoded-styles

perf(frontend): server-driven pagination and initial fetch for metrics/behaviors
  apps/frontend/src/app/(protected)/behaviors/components/BehaviorsClient.tsx
  apps/frontend/src/app/(protected)/behaviors/components/behaviors-constants.ts
  apps/frontend/src/app/(protected)/behaviors/page.tsx
  apps/frontend/src/app/(protected)/metrics/components/MetricsClient.tsx
  apps/frontend/src/app/(protected)/metrics/components/MetricsDirectoryTab.tsx
  apps/frontend/src/app/(protected)/metrics/components/metrics-constants.ts
  apps/frontend/src/app/(protected)/metrics/page.tsx
  apps/frontend/src/utils/api-client/behavior-client.ts
  apps/frontend/src/utils/api-client/interfaces/behavior.ts
  apps/frontend/src/utils/api-client/interfaces/metric.ts
  apps/frontend/src/utils/odata-filter.ts
Due: frontend-format, frontend-lint, hardcoded-styles

test(backend): add regression coverage for OData any() nav filter
  tests/backend/utils/test_query_builder_load.py
Due: none

fix(frontend): restore read gating removed by server prefetch
  apps/frontend/src/app/(protected)/behaviors/components/BehaviorsClient.tsx
  apps/frontend/src/app/(protected)/behaviors/page.tsx
  apps/frontend/src/app/(protected)/metrics/components/MetricsClient.tsx
  apps/frontend/src/app/(protected)/metrics/page.tsx
  apps/frontend/src/utils/server-permissions.ts
Due: frontend-format, frontend-lint, hardcoded-styles

refactor(backend): extract shared metric_scope filter helper
  apps/backend/src/rhesis/backend/app/crud.py
  apps/backend/src/rhesis/backend/app/routers/metric.py
Due: backend

style(frontend): fix prettier formatting
  apps/frontend/src/app/(protected)/behaviors/components/BehaviorsClient.tsx
  apps/frontend/src/app/(protected)/metrics/components/MetricsClient.tsx
  apps/frontend/src/app/(protected)/metrics/components/MetricsDirectoryTab.tsx
  apps/frontend/src/app/(protected)/metrics/page.tsx
  apps/frontend/src/utils/odata-filter.ts
  apps/frontend/src/utils/server-permissions.ts
Due: frontend-format, frontend-lint, hardcoded-styles

test(backend): scope any() regression test to authenticated user
  tests/backend/utils/test_query_builder_load.py
Due: none

fix(frontend): wire RBAC gate into metrics/behaviors fetches
  apps/frontend/src/app/(protected)/behaviors/components/BehaviorsClient.tsx
  apps/frontend/src/app/(protected)/metrics/components/MetricsClient.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

style(backend): fix ruff formatting in crud.py
  apps/backend/src/rhesis/backend/app/crud.py
Due: backend

fix(frontend): gate usePaginatedList fetches behind RBAC
  apps/frontend/src/hooks/usePaginatedList.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): drop grid dimming during metrics/behaviors reload
  apps/frontend/src/app/(protected)/behaviors/components/BehaviorsClient.tsx
  apps/frontend/src/app/(protected)/metrics/components/MetricsDirectoryTab.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): cap optimistic behavior insert to rowsPerPage/page 0
  apps/frontend/src/app/(protected)/behaviors/components/BehaviorsClient.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

perf(frontend): dedupe server-side features/permissions with React.cache
  apps/frontend/src/app/(protected)/layout.tsx
  apps/frontend/src/utils/api-client/server-factory.ts
  apps/frontend/src/utils/server-permissions.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): unify server/client capability checks on can()
  apps/frontend/src/utils/server-permissions.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): share read capability between server/client gates
  apps/frontend/src/app/(protected)/behaviors/components/BehaviorsClient.tsx
  apps/frontend/src/app/(protected)/behaviors/components/behaviors-constants.ts
  apps/frontend/src/app/(protected)/behaviors/page.tsx
  apps/frontend/src/app/(protected)/metrics/components/MetricsClient.tsx
  apps/frontend/src/app/(protected)/metrics/components/metrics-constants.ts
  apps/frontend/src/app/(protected)/metrics/page.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

Revert "fix(frontend): share read capability between server/client gates"
  apps/frontend/src/app/(protected)/behaviors/components/BehaviorsClient.tsx
  apps/frontend/src/app/(protected)/behaviors/components/behaviors-constants.ts
  apps/frontend/src/app/(protected)/behaviors/page.tsx
  apps/frontend/src/app/(protected)/metrics/components/MetricsClient.tsx
  apps/frontend/src/app/(protected)/metrics/components/metrics-constants.ts
  apps/frontend/src/app/(protected)/metrics/page.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

Add server-driven pagination and initial fetch for metrics/behaviors (#2267)
  apps/backend/src/rhesis/backend/app/crud.py
  apps/backend/src/rhesis/backend/app/routers/metric.py
  apps/frontend/src/app/(protected)/behaviors/components/BehaviorsClient.tsx
  apps/frontend/src/app/(protected)/behaviors/components/behaviors-constants.ts
  apps/frontend/src/app/(protected)/behaviors/page.tsx
  apps/frontend/src/app/(protected)/layout.tsx
  apps/frontend/src/app/(protected)/metrics/components/MetricsClient.tsx
  apps/frontend/src/app/(protected)/metrics/components/MetricsDirectoryTab.tsx
  apps/frontend/src/app/(protected)/metrics/components/metrics-constants.ts
  apps/frontend/src/app/(protected)/metrics/page.tsx
  apps/frontend/src/hooks/usePaginatedList.ts
  apps/frontend/src/utils/api-client/behavior-client.ts
  apps/frontend/src/utils/api-client/interfaces/behavior.ts
  apps/frontend/src/utils/api-client/interfaces/metric.ts
  apps/frontend/src/utils/api-client/server-factory.ts
  apps/frontend/src/utils/odata-filter.ts
  apps/frontend/src/utils/server-permissions.ts
  apps/frontend/src/utils/server-prefetch.ts
  tests/backend/utils/test_query_builder_load.py
Due: backend, frontend-format, frontend-lint, hardcoded-styles

fix(backend): await async build_redirect_url in SSO callback
  ee/backend/src/rhesis/backend/ee/sso/router.py
Due: none

fix(backend): await async build_redirect_url in SSO callback (#2295)
  ee/backend/src/rhesis/backend/ee/sso/router.py
Due: none

refactor(backend): own explorer tree types instead of sdk
  apps/backend/src/rhesis/backend/app/routers/explorer.py
  apps/backend/src/rhesis/backend/app/schemas/explorer.py
  apps/backend/src/rhesis/backend/app/services/explorer/tests.py
  apps/backend/src/rhesis/backend/app/services/explorer/topics.py
  apps/backend/src/rhesis/backend/app/services/explorer/tree.py
  apps/backend/src/rhesis/backend/app/services/explorer/utils.py
  tests/backend/services/explorer/test_tests.py
  tests/backend/services/explorer/test_topics.py
  tests/backend/services/explorer/test_tree.py
Due: backend

fix(frontend): allow 'error' label on explorer tree nodes
  apps/frontend/src/utils/api-client/interfaces/explorer.ts
  tests/backend/routes/test_explorer.py
Due: frontend-format, frontend-lint, hardcoded-styles

test(tests): stop reusing deprecated event loops
  tests/backend/routes/test_websocket.py
  tests/backend/services/garak/test_probes.py
Due: none

fix(backend): add catch-all error handling to SSO callback
  ee/backend/src/rhesis/backend/ee/sso/router.py
Due: none

fix(backend): add catch-all error handling to SSO callback (#2296)
  ee/backend/src/rhesis/backend/ee/sso/router.py
Due: none

fix(auth): trigger Redis reconnect from token store functions (closes review gap)
  apps/backend/src/rhesis/backend/app/auth/used_token_store.py
  tests/backend/auth/test_used_token_store.py
Due: backend

fix: restore the dark code block surface in light mode
  docs/AGENTS.md
  docs/src/components/CodeBlock.jsx
  docs/src/components/CopyButton.jsx
  docs/src/components/FileTree.jsx
  docs/src/styles/tokens.css
Due: none

docs: align landing page and SEO copy with new positioning
  docs/content/docs/getting-started/index.mdx
  docs/content/docs/index.mdx
  docs/content/index.mdx
  docs/src/lib/site-config.js
Due: none

style: satisfy prettier in Table.jsx
  docs/src/components/Table.jsx
Due: none

Path conditions:
  sdk: any of: ^sdk/
  backend: any of: ^apps/backend/
  frontend-format: any of: ^apps/frontend/
  frontend-lint: any of: ^apps/frontend/
  docs-format: any of: ^apps/documentation/
  hardcoded-styles: any of: ^apps/(frontend|documentation)/
