Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, docs-format, hardcoded-styles

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict

  - repo: local
    hooks:
        - id: trufflehog
          name: TruffleHog
          description: Detect secrets in your data.
          entry: bash -c 'PATH="$HOME/.local/bin:$PATH" trufflehog git file://. --since-commit HEAD --only-verified --fail --no-update'
          language: system
          stages: ["pre-commit", "pre-push"]

        - id: sdk
          name  : format sdk
          language: system
          entry: make -C sdk format
          files: ^sdk/
          pass_filenames: false

        - id: backend
          name  : format backend
          language: system
          entry: make -C apps/backend format_diff
          files: ^apps/backend/
          pass_filenames: false

        - id: frontend-format
          name: auto-fix frontend formatting
          language: system
          entry: bash -c "cd apps/frontend && npm run format"
          files: ^apps/frontend/
          pass_filenames: false

        - id: frontend-lint
          name: lint frontend
          language: system
          entry: bash -c "cd apps/frontend && npm run lint"
          files: ^apps/frontend/
          pass_filenames: false

        - id: docs-format
          name: auto-fix docs formatting
          language: system
          entry: bash -c "cd apps/documentation && npm run format"
          files: ^apps/documentation/
          pass_filenames: false

        - id: hardcoded-styles
          name: check hardcoded styles in frontend and docs
          language: system
          entry: node scripts/check-hardcoded-styles.js
          files: ^apps/(frontend|documentation)/
          pass_filenames: false


  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.8.0
  #   hooks:
  #     - id: mypy
  #       additional_dependencies: [
  #         "types-requests",
  #         "pandas-stubs",
  #         "pyarrow-stubs",
  #         "types-tqdm"
  #       ]

style(backend): apply ruff formatting to 16 files
  apps/backend/scripts/sim_cloud_migration.py
  apps/backend/src/rhesis/backend/alembic/versions/d9e0f1a2b3c4_add_rbac_catalog_tables.py
  apps/backend/src/rhesis/backend/app/auth/capabilities.py
  apps/backend/src/rhesis/backend/app/auth/rbac.py
  apps/backend/src/rhesis/backend/app/crud.py
  apps/backend/src/rhesis/backend/app/management/recover_org_owner.py
  apps/backend/src/rhesis/backend/app/routers/metric.py
  apps/backend/src/rhesis/backend/app/routers/organization.py
  apps/backend/src/rhesis/backend/app/routers/project.py
  apps/backend/src/rhesis/backend/app/routers/test.py
  apps/backend/src/rhesis/backend/app/routers/test_context.py
  apps/backend/src/rhesis/backend/app/routers/test_result.py
  apps/backend/src/rhesis/backend/app/routers/test_run.py
  apps/backend/src/rhesis/backend/app/routers/test_set.py
  apps/backend/src/rhesis/backend/app/routers/token.py
  apps/backend/src/rhesis/backend/app/routers/user.py
Due: backend

test(frontend): fix failing unit test suite
  apps/frontend/jest.config.js
  apps/frontend/src/__mocks__/test-utils.tsx
  apps/frontend/src/__tests__/components/navigation/Sidebar.test.tsx
  apps/frontend/src/__tests__/theme-wrapper.test.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/__tests__/TestRunHeader.test.tsx
  apps/frontend/src/app/(protected)/test-sets/components/__tests__/TestSetsGrid.test.tsx
  apps/frontend/src/app/(protected)/tests/components/__tests__/TestsGrid.test.tsx
  apps/frontend/src/components/common/__tests__/MultiFileUpload.test.tsx
  apps/frontend/src/components/tasks/__tests__/TaskCreationDrawer.test.tsx
  apps/frontend/src/components/tasks/__tests__/TasksAndCommentsWrapper.test.tsx
  apps/frontend/src/components/tasks/__tests__/TasksSection.test.tsx
  apps/frontend/src/test/testing-library-react.tsx
  apps/frontend/src/utils/__tests__/task-lookup.test.ts
  apps/frontend/src/utils/api-client/__tests__/client-factory.test.ts
Due: frontend-format, frontend-lint, hardcoded-styles

Align project trace metrics grid and reorganize org menu (#1914)
  apps/frontend/src/__tests__/components/navigation/Sidebar.test.tsx
  apps/frontend/src/app/(protected)/projects/[identifier]/components/ProjectTraceMetrics.tsx
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/components/navigation/Sidebar.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): resolve test RTL alias for type-check
  apps/frontend/src/__mocks__/test-utils.tsx
  apps/frontend/tsconfig.json
Due: frontend-format, frontend-lint, hardcoded-styles

test(frontend): fix Sidebar Switch project assertion
  apps/frontend/src/__tests__/components/navigation/Sidebar.test.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): use themed render from test-utils re-exports
  apps/frontend/src/__mocks__/test-utils.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

Fix failing frontend unit tests (#1918)
  apps/frontend/jest.config.js
  apps/frontend/src/__mocks__/test-utils.tsx
  apps/frontend/src/__tests__/components/navigation/Sidebar.test.tsx
  apps/frontend/src/__tests__/theme-wrapper.test.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/__tests__/TestRunHeader.test.tsx
  apps/frontend/src/app/(protected)/test-sets/components/__tests__/TestSetsGrid.test.tsx
  apps/frontend/src/app/(protected)/tests/components/__tests__/TestsGrid.test.tsx
  apps/frontend/src/components/common/__tests__/MultiFileUpload.test.tsx
  apps/frontend/src/components/tasks/__tests__/TaskCreationDrawer.test.tsx
  apps/frontend/src/components/tasks/__tests__/TasksAndCommentsWrapper.test.tsx
  apps/frontend/src/components/tasks/__tests__/TasksSection.test.tsx
  apps/frontend/src/test/testing-library-react.tsx
  apps/frontend/src/utils/__tests__/task-lookup.test.ts
  apps/frontend/src/utils/api-client/__tests__/client-factory.test.ts
  apps/frontend/tsconfig.json
Due: frontend-format, frontend-lint, hardcoded-styles

test(frontend): fix mocked e2e for ui updates
  apps/frontend/.gitignore
  apps/frontend/CONTRIBUTING.md
  apps/frontend/Makefile
  apps/frontend/eslint.config.mjs
  apps/frontend/next.config.mjs
  apps/frontend/playwright.config.ts
  apps/frontend/src/proxy.ts
  apps/frontend/tests/e2e/auth.setup.ts
  apps/frontend/tests/e2e/fixtures/e2e-user.json
  apps/frontend/tests/e2e/fixtures/endpoint-detail.json
  apps/frontend/tests/e2e/helpers/MockApiHelper.ts
  apps/frontend/tests/e2e/helpers/seed-auth.ts
  apps/frontend/tests/e2e/mock-backend.mjs
  apps/frontend/tests/e2e/pages/EndpointDetailPage.ts
  apps/frontend/tests/e2e/pages/KnowledgeDetailPage.ts
  apps/frontend/tests/e2e/pages/ProjectDetailPage.ts
  apps/frontend/tests/e2e/pages/TestDetailPage.ts
  apps/frontend/tests/e2e/tests/endpoint-detail.spec.ts
  apps/frontend/tests/e2e/tests/knowledge-detail.spec.ts
  apps/frontend/tests/e2e/tests/mocked-states.spec.ts
  apps/frontend/tests/e2e/tests/project-detail.spec.ts
  apps/frontend/tests/e2e/tests/test-detail.spec.ts
  apps/frontend/tests/e2e/tests/test-run-detail.spec.ts
  apps/frontend/tests/e2e/tests/test-set-detail.spec.ts
Due: frontend-format, frontend-lint, hardcoded-styles

ci(frontend): fix e2e browser install hang in actions
  .github/workflows/frontend-e2e-test.yml
  apps/frontend/Makefile
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): address e2e pr review feedback
  .github/workflows/frontend-e2e-test.yml
  apps/frontend/.prettierignore
  apps/frontend/CONTRIBUTING.md
  apps/frontend/src/proxy.ts
  apps/frontend/tests/e2e/helpers/MockApiHelper.ts
  apps/frontend/tests/e2e/helpers/seed-auth.ts
Due: frontend-format, frontend-lint, hardcoded-styles

ci(e2e): pin Node.js to 24.15 for Playwright install
  .github/workflows/frontend-e2e-test.yml
Due: none

ci: upgrade setup-node, cache, and artifact actions to Node 24
  .github/workflows/backend-test.yml
  .github/workflows/check-hardcoded-styles.yml
  .github/workflows/create-release.yml
  .github/workflows/frontend-e2e-test.yml
  .github/workflows/frontend-test.yml
  .github/workflows/infrastructure.yml
  .github/workflows/lint.yml
  .github/workflows/publish-ghcr-images.yml
  .github/workflows/terraform-infrastructure.yml
  examples/ci-cd/rhesis-tests.yml
Due: none

fix(ci): update Node.js version format in frontend E2E test workflow
  .github/workflows/frontend-e2e-test.yml
Due: none

Pin Node.js version in frontend E2E workflow (#1921)
  .github/workflows/backend-test.yml
  .github/workflows/check-hardcoded-styles.yml
  .github/workflows/create-release.yml
  .github/workflows/frontend-e2e-test.yml
  .github/workflows/frontend-test.yml
  .github/workflows/infrastructure.yml
  .github/workflows/lint.yml
  .github/workflows/publish-ghcr-images.yml
  .github/workflows/terraform-infrastructure.yml
  examples/ci-cd/rhesis-tests.yml
Due: none

fix(tests): set FRONTEND_URL in frontend E2E compose
  tests/docker-compose.frontend.yml
Due: none

fix(tests): set FRONTEND_URL in frontend E2E compose (#1922)
  tests/docker-compose.frontend.yml
Due: none

fix(e2e): set FRONTEND_URL in frontend test compose
  tests/docker-compose.frontend.yml
Due: none

fix(e2e): remove duplicate FRONTEND_URL in compose file
  tests/docker-compose.frontend.yml
Due: none

fix(e2e): stabilize CI runs against live backend
  .github/workflows/frontend-e2e-test.yml
  apps/frontend/Makefile
  apps/frontend/tests/e2e/helpers/CrudHelper.ts
  apps/frontend/tests/e2e/helpers/MockApiHelper.ts
  apps/frontend/tests/e2e/pages/BehaviorsPage.ts
  apps/frontend/tests/e2e/pages/InsightsPage.ts
  apps/frontend/tests/e2e/pages/KnowledgePage.ts
  apps/frontend/tests/e2e/pages/TasksPage.ts
  apps/frontend/tests/e2e/tests/behaviors-crud.spec.ts
  apps/frontend/tests/e2e/tests/knowledge-crud.spec.ts
  apps/frontend/tests/e2e/tests/tasks-crud.spec.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(ci): load docker image into daemon before save
  .github/workflows/frontend-e2e-test.yml
Due: none

fix(ci): pin explicit tag for E2E backend image artifact
  .github/workflows/frontend-e2e-test.yml
  tests/docker-compose.frontend.yml
Due: none

fix(ci): load E2E backend image from repo root path
  .github/workflows/frontend-e2e-test.yml
Due: none

fix(backend): resolve metric evaluation failures for single-turn tests
  apps/backend/src/rhesis/backend/metrics/metric_config.py
  apps/backend/src/rhesis/backend/notifications/email/templates/test_execution_summary.html.jinja2
  apps/backend/src/rhesis/backend/tasks/execution/batch/evaluation.py
  apps/backend/src/rhesis/backend/tasks/execution/evaluation.py
  apps/backend/src/rhesis/backend/tasks/execution/shared.py
  sdk/src/rhesis/sdk/metrics/conversational/base.py
  sdk/src/rhesis/sdk/metrics/providers/deepeval/conversational_base.py
  sdk/src/rhesis/sdk/metrics/providers/native/conversational_judge.py
Due: sdk, backend

fix(e2e): align CRUD tests with current UI patterns
  apps/frontend/src/app/(protected)/test-sets/page.tsx
  apps/frontend/tests/e2e/helpers/CrudHelper.ts
  apps/frontend/tests/e2e/pages/BehaviorsPage.ts
  apps/frontend/tests/e2e/pages/KnowledgePage.ts
  apps/frontend/tests/e2e/pages/TasksPage.ts
  apps/frontend/tests/e2e/pages/TestSetsPage.ts
  apps/frontend/tests/e2e/pages/TokensPage.ts
  apps/frontend/tests/e2e/tests/behaviors-crud.spec.ts
  apps/frontend/tests/e2e/tests/knowledge-crud.spec.ts
  apps/frontend/tests/e2e/tests/tasks-crud.spec.ts
  apps/frontend/tests/e2e/tests/test-run-detail.spec.ts
  apps/frontend/tests/e2e/tests/test-runs-extended.spec.ts
  apps/frontend/tests/e2e/tests/test-sets-crud.spec.ts
  apps/frontend/tests/e2e/tests/tokens-crud.spec.ts
  apps/frontend/tests/e2e/tests/traces.spec.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(e2e): target BaseDrawer by text not heading role
  apps/frontend/tests/e2e/helpers/CrudHelper.ts
  apps/frontend/tests/e2e/pages/KnowledgePage.ts
  apps/frontend/tests/e2e/pages/TestSetsPage.ts
  apps/frontend/tests/e2e/pages/TokensPage.ts
  apps/frontend/tests/e2e/tests/behaviors-crud.spec.ts
  apps/frontend/tests/e2e/tests/knowledge-crud.spec.ts
  apps/frontend/tests/e2e/tests/tasks-crud.spec.ts
  apps/frontend/tests/e2e/tests/test-sets-crud.spec.ts
  apps/frontend/tests/e2e/tests/tokens-crud.spec.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(e2e): address Peqy review on auth seeding and CI artifacts
  .github/workflows/frontend-e2e-test.yml
  apps/frontend/playwright.config.ts
  apps/frontend/src/proxy.ts
  apps/frontend/tests/e2e/helpers/seed-auth.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(e2e): resolve TypeScript errors in E2E test files
  apps/frontend/tests/e2e/pages/TokensPage.ts
  apps/frontend/tests/e2e/tests/behaviors-crud.spec.ts
  apps/frontend/tests/e2e/tests/tasks-crud.spec.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(e2e): stabilize CRUD tests for current UI flows
  apps/frontend/src/app/(protected)/behaviors/[identifier]/page.tsx
  apps/frontend/tests/e2e/helpers/CrudHelper.ts
  apps/frontend/tests/e2e/pages/BehaviorsPage.ts
  apps/frontend/tests/e2e/pages/KnowledgePage.ts
  apps/frontend/tests/e2e/pages/TasksPage.ts
  apps/frontend/tests/e2e/pages/TestSetsPage.ts
  apps/frontend/tests/e2e/pages/TokensPage.ts
  apps/frontend/tests/e2e/tests/behaviors-crud.spec.ts
  apps/frontend/tests/e2e/tests/knowledge-crud.spec.ts
  apps/frontend/tests/e2e/tests/tasks-crud.spec.ts
  apps/frontend/tests/e2e/tests/test-sets-crud.spec.ts
  apps/frontend/tests/e2e/tests/tokens-crud.spec.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(e2e): resolve strict mode and row-action delete selectors
  apps/frontend/tests/e2e/helpers/CrudHelper.ts
  apps/frontend/tests/e2e/pages/BehaviorsPage.ts
  apps/frontend/tests/e2e/pages/KnowledgePage.ts
Due: frontend-format, frontend-lint, hardcoded-styles

test(backend): add regression tests for metric_scope and task header propagation
  tests/backend/metrics/test_metric_model_to_config.py
  tests/backend/tasks/test_results_collection.py
Due: none

test(backend): fix broken test and cover three additional execution seams
  apps/backend/src/rhesis/backend/tasks/execution/evaluation.py
  tests/backend/metrics/test_introspection.py
  tests/backend/tasks/test_metrics_evaluation.py
Due: backend

fix(e2e): force-click grid delete and simplify task create wait
  apps/frontend/tests/e2e/helpers/CrudHelper.ts
  apps/frontend/tests/e2e/tests/tasks-crud.spec.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(tests): remove is_superuser references after SP8 column drop
  tests/backend/auth/test_sp3_superuser.py
  tests/backend/auth/test_sp6_membership_hardening.py
  tests/backend/ee/sso/test_sso_user_utils.py
  tests/backend/fixtures/client.py
  tests/backend/fixtures/test_setup.py
  tests/backend/routes/fixtures/entities/users.py
  tests/backend/routes/test_project_membership.py
  tests/backend/routes/test_recycle.py
  tests/backend/utils/test_user_utils.py
Due: none

style(tests): apply ruff format and fix lint errors in touched files
  tests/backend/auth/test_sp3_superuser.py
  tests/backend/auth/test_sp6_membership_hardening.py
  tests/backend/ee/sso/test_sso_user_utils.py
  tests/backend/routes/test_project_membership.py
  tests/backend/routes/test_recycle.py
Due: none

test(e2e): skip flaky CRUD tests pending fixes
  apps/frontend/tests/e2e/tests/knowledge-crud.spec.ts
  apps/frontend/tests/e2e/tests/tasks-crud.spec.ts
  apps/frontend/tests/e2e/tests/test-sets-crud.spec.ts
Due: frontend-format, frontend-lint, hardcoded-styles

style(backend): apply ruff format to metric_config.py
  apps/backend/src/rhesis/backend/metrics/metric_config.py
Due: backend

fix(frontend): persist default project on switch
  apps/frontend/src/contexts/ActiveProjectContext.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

test(e2e): skip task status change and row-action delete
  apps/frontend/tests/e2e/tests/tasks-crud.spec.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): cast project id to UUID for settings
  apps/frontend/src/contexts/ActiveProjectContext.tsx
Due: frontend-format, frontend-lint, hardcoded-styles
