Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict

  - repo: local
    hooks:
        - id: sdk
          name  : format sdk
          language: system
          entry: make -C sdk format
          files: ^sdk/
          pass_filenames: false

        - id: backend
          name  : format backend
          language: system
          entry: make -C apps/backend format
          files: ^apps/backend/
          pass_filenames: false


  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.8.0
  #   hooks:
  #     - id: mypy
  #       additional_dependencies: [
  #         "types-requests",
  #         "pandas-stubs",
  #         "pyarrow-stubs",
  #         "types-tqdm"
  #       ]

feat: add Source entity type support to comments system
  apps/backend/src/rhesis/backend/app/constants.py
  apps/backend/src/rhesis/backend/app/routers/comment.py
  apps/backend/src/rhesis/backend/app/schemas/comment.py
Due: backend

feat(database): implement optimized PostgreSQL session variables for RLS
  apps/backend/src/rhesis/backend/app/database.py
Due: backend

feat(dependencies): enhance get_db_with_tenant_context with automatic session variables
  apps/backend/src/rhesis/backend/app/dependencies.py
Due: backend

perf(decorators): optimize with_count_header to reuse existing database session
  apps/backend/src/rhesis/backend/app/utils/decorators.py
Due: backend

refactor(routers): update behavior router to use optimized db_context dependency
  apps/backend/src/rhesis/backend/app/routers/behavior.py
Due: backend

feat: add migration for Source model updates
  apps/backend/src/rhesis/backend/alembic/versions/bffb5364a019_update_source_model_with_comments_and_.py
Due: backend

refactor: change naming
  tests/sdk/entities/test_base_entity.py
Due: none

refactor: rename
  sdk/src/rhesis/sdk/entities/base_entity.py
  sdk/src/rhesis/sdk/entities/behavior.py
Due: sdk

feat(dependencies): add get_tenant_db_session as drop-in replacement for get_db_session
  apps/backend/src/rhesis/backend/app/dependencies.py
Due: backend

feat(decorators): enhance with_count_header to support multiple dependency patterns
  apps/backend/src/rhesis/backend/app/utils/decorators.py
Due: backend

refactor(routers): migrate behavior router to get_tenant_db_session pattern
  apps/backend/src/rhesis/backend/app/routers/behavior.py
Due: backend

refactor(routers): migrate category router to get_tenant_db_session pattern
  apps/backend/src/rhesis/backend/app/routers/category.py
Due: backend

feat(scripts): add migration script for get_tenant_db_session adoption
  migrate_to_tenant_db_session.py
Due: none

refactor: tests
  sdk/src/rhesis/sdk/entities/base_entity.py
  sdk/src/rhesis/sdk/entities/behavior.py
  tests/sdk/entities/test_base_entity.py
Due: sdk

feat(database): add centralized session variable management for RLS
  apps/backend/src/rhesis/backend/app/database.py
Due: backend

feat(dependencies): add get_tenant_db_session drop-in replacement
  apps/backend/src/rhesis/backend/app/dependencies.py
Due: backend

feat(tasks): integrate centralized session variable management
  apps/backend/src/rhesis/backend/tasks/base.py
  apps/backend/src/rhesis/backend/tasks/example_task.py
Due: backend

refactor(decorators): clean up with_count_header for production
  apps/backend/src/rhesis/backend/app/utils/decorators.py
Due: backend

feat(routers): migrate all routes to get_tenant_db_session
  apps/backend/src/rhesis/backend/app/routers/auth.py
  apps/backend/src/rhesis/backend/app/routers/base.py
  apps/backend/src/rhesis/backend/app/routers/behavior.py
  apps/backend/src/rhesis/backend/app/routers/category.py
  apps/backend/src/rhesis/backend/app/routers/comment.py
  apps/backend/src/rhesis/backend/app/routers/demographic.py
  apps/backend/src/rhesis/backend/app/routers/dimension.py
  apps/backend/src/rhesis/backend/app/routers/endpoint.py
  apps/backend/src/rhesis/backend/app/routers/job.py
  apps/backend/src/rhesis/backend/app/routers/metric.py
  apps/backend/src/rhesis/backend/app/routers/model.py
  apps/backend/src/rhesis/backend/app/routers/organization.py
  apps/backend/src/rhesis/backend/app/routers/project.py
  apps/backend/src/rhesis/backend/app/routers/prompt.py
  apps/backend/src/rhesis/backend/app/routers/prompt_template.py
  apps/backend/src/rhesis/backend/app/routers/response_pattern.py
  apps/backend/src/rhesis/backend/app/routers/risk.py
  apps/backend/src/rhesis/backend/app/routers/services.py
  apps/backend/src/rhesis/backend/app/routers/source.py
  apps/backend/src/rhesis/backend/app/routers/status.py
  apps/backend/src/rhesis/backend/app/routers/tag.py
  apps/backend/src/rhesis/backend/app/routers/task_management.py
  apps/backend/src/rhesis/backend/app/routers/test.py
  apps/backend/src/rhesis/backend/app/routers/test_configuration.py
  apps/backend/src/rhesis/backend/app/routers/test_context.py
  apps/backend/src/rhesis/backend/app/routers/test_result.py
  apps/backend/src/rhesis/backend/app/routers/test_run.py
  apps/backend/src/rhesis/backend/app/routers/test_set.py
  apps/backend/src/rhesis/backend/app/routers/token.py
  apps/backend/src/rhesis/backend/app/routers/topic.py
  apps/backend/src/rhesis/backend/app/routers/type_lookup.py
  apps/backend/src/rhesis/backend/app/routers/use_case.py
  apps/backend/src/rhesis/backend/app/routers/user.py
Due: backend

fix: resolve 'Not authenticated' error in auth/callback route
  apps/backend/src/rhesis/backend/app/routers/auth.py
Due: backend

refactor(alembic): consolidate source model migrations
  apps/backend/src/rhesis/backend/alembic/versions/bffb5364a019_update_source_model_with_comments_and_.py
  apps/backend/src/rhesis/backend/alembic/versions/de50496b2a9c_add_file_management_fields_to_source_.py
Due: backend

chore: remove temporary migration script
  migrate_to_tenant_db_session.py
Due: none
