Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, docs-format, hardcoded-styles

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict

  - repo: local
    hooks:
        - id: trufflehog
          name: TruffleHog
          description: Detect secrets in your data.
          entry: bash -c 'PATH="$HOME/.local/bin:$PATH" trufflehog git file://. --since-commit HEAD --only-verified --fail --no-update'
          language: system
          stages: ["pre-commit", "pre-push"]

        - id: sdk
          name  : format sdk
          language: system
          entry: make -C sdk format
          files: ^sdk/
          pass_filenames: false

        - id: backend
          name  : format backend
          language: system
          entry: make -C apps/backend format_diff
          files: ^apps/backend/
          pass_filenames: false

        - id: frontend-format
          name: auto-fix frontend formatting
          language: system
          entry: bash -c "cd apps/frontend && npm run format"
          files: ^apps/frontend/
          pass_filenames: false

        - id: frontend-lint
          name: lint frontend
          language: system
          entry: bash -c "cd apps/frontend && npm run lint"
          files: ^apps/frontend/
          pass_filenames: false

        - id: docs-format
          name: auto-fix docs formatting
          language: system
          entry: bash -c "cd apps/documentation && npm run format"
          files: ^apps/documentation/
          pass_filenames: false

        - id: hardcoded-styles
          name: check hardcoded styles in frontend and docs
          language: system
          entry: node scripts/check-hardcoded-styles.js
          files: ^apps/(frontend|documentation)/
          pass_filenames: false


  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.8.0
  #   hooks:
  #     - id: mypy
  #       additional_dependencies: [
  #         "types-requests",
  #         "pandas-stubs",
  #         "pyarrow-stubs",
  #         "types-tqdm"
  #       ]

refactor(frontend): narrow MetricDetail.behaviors to reference objects
  apps/frontend/src/app/(protected)/metrics/components/MetricsDirectoryTab.tsx
  apps/frontend/src/components/common/SelectRequirementsDialog.tsx
  apps/frontend/src/utils/api-client/interfaces/metric.ts
Due: frontend-format, frontend-lint, hardcoded-styles

perf(frontend): fetch only id and name for behavior lookups
  apps/frontend/src/app/(protected)/metrics/components/MetricsClient.tsx
  apps/frontend/src/app/(protected)/metrics/components/MetricsDirectoryTab.tsx
  apps/frontend/src/hooks/useLookups.ts
  apps/frontend/src/utils/api-client/interfaces/requirement.ts
  apps/frontend/src/utils/api-client/requirement-client.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): update test for onSelect signature and fix query key
  apps/frontend/src/components/common/__tests__/SelectRequirementsDialog.test.tsx
  apps/frontend/src/hooks/useLookups.ts
Due: frontend-format, frontend-lint, hardcoded-styles

Fix metrics grid sorting and filter options (#2413)
  apps/frontend/src/app/(protected)/metrics/components/MetricsClient.tsx
  apps/frontend/src/app/(protected)/metrics/components/MetricsDirectoryTab.tsx
  apps/frontend/src/app/(protected)/metrics/components/metrics-constants.ts
  apps/frontend/src/app/(protected)/metrics/page.tsx
  apps/frontend/src/components/common/SelectRequirementsDialog.tsx
  apps/frontend/src/components/common/__tests__/SelectRequirementsDialog.test.tsx
  apps/frontend/src/hooks/useLookups.ts
  apps/frontend/src/utils/api-client/interfaces/metric.ts
  apps/frontend/src/utils/api-client/interfaces/requirement.ts
  apps/frontend/src/utils/api-client/requirement-client.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(backend): fix escaped quotes in organization.py and update migration down_revision
  apps/backend/src/rhesis/backend/alembic/versions/b7e3a1c9d2f6_rename_rhesis_default_model_to_rhesis.py
  apps/backend/src/rhesis/backend/app/services/organization.py
Due: backend

rename Rhesis Default model to Rhesis
  .env.example
  apps/backend/src/rhesis/backend/alembic/versions/b7e3a1c9d2f6_rename_rhesis_default_model_to_rhesis.py
  apps/backend/src/rhesis/backend/app/config/settings.py
  apps/backend/src/rhesis/backend/app/crud/explorer.py
  apps/backend/src/rhesis/backend/app/routers/services.py
  apps/backend/src/rhesis/backend/app/services/initial_data.json
  apps/backend/src/rhesis/backend/app/services/organization.py
  apps/backend/src/rhesis/backend/app/utils/crud_utils.py
  apps/backend/src/rhesis/backend/app/utils/user_model_utils.py
  apps/chatbot/endpoint.py
  apps/chatbot/parameters_bootstrap.py
  charts/rhesis/values-dev.yaml
  charts/rhesis/values.yaml
  sdk/src/rhesis/sdk/models/defaults.py
  tests/backend/app/test_settings.py
  tests/backend/routes/test_explorer.py
  tests/backend/services/explorer/conftest.py
  tests/backend/services/test_organization.py
  tests/sdk/connector/test_serializer_integration.py
  tests/sdk/models/test_model_factory.py
Due: sdk, backend

address peqy review: tighten model lookup filters
  apps/backend/src/rhesis/backend/alembic/versions/b7e3a1c9d2f6_rename_rhesis_default_model_to_rhesis.py
  apps/backend/src/rhesis/backend/app/crud/explorer.py
Due: backend

chore: rename model to rhesis/rhesis and drop API key copy
  .env.example
  apps/backend/src/rhesis/backend/alembic/versions/41a9355b3991_add_polyphemus_model_to_existing_orgs.py
  apps/backend/src/rhesis/backend/alembic/versions/b7e3a1c9d2f6_rename_rhesis_default_model_to_rhesis.py
  apps/backend/src/rhesis/backend/app/config/settings.py
  apps/backend/src/rhesis/backend/app/services/initial_data.json
  apps/backend/src/rhesis/backend/app/services/model_connection.py
  apps/backend/src/rhesis/backend/app/services/organization.py
  apps/chatbot/endpoint.py
  apps/chatbot/parameters_bootstrap.py
  charts/rhesis/values-dev.yaml
  charts/rhesis/values.yaml
  sdk/src/rhesis/sdk/models/defaults.py
  tests/backend/app/test_settings.py
  tests/sdk/connector/test_serializer_integration.py
  tests/sdk/models/test_model_factory.py
Due: sdk, backend

style(backend): fix formatting in polyphemus migration
  apps/backend/src/rhesis/backend/alembic/versions/41a9355b3991_add_polyphemus_model_to_existing_orgs.py
Due: backend

Rename Rhesis Default model to Rhesis (#2385)
  .env.example
  apps/backend/src/rhesis/backend/alembic/versions/41a9355b3991_add_polyphemus_model_to_existing_orgs.py
  apps/backend/src/rhesis/backend/alembic/versions/b7e3a1c9d2f6_rename_rhesis_default_model_to_rhesis.py
  apps/backend/src/rhesis/backend/app/config/settings.py
  apps/backend/src/rhesis/backend/app/crud/explorer.py
  apps/backend/src/rhesis/backend/app/routers/services.py
  apps/backend/src/rhesis/backend/app/services/initial_data.json
  apps/backend/src/rhesis/backend/app/services/model_connection.py
  apps/backend/src/rhesis/backend/app/services/organization.py
  apps/backend/src/rhesis/backend/app/utils/crud_utils.py
  apps/backend/src/rhesis/backend/app/utils/user_model_utils.py
  apps/chatbot/endpoint.py
  apps/chatbot/parameters_bootstrap.py
  charts/rhesis/values-dev.yaml
  charts/rhesis/values.yaml
  sdk/src/rhesis/sdk/models/defaults.py
  tests/backend/app/test_settings.py
  tests/backend/routes/test_explorer.py
  tests/backend/services/explorer/conftest.py
  tests/backend/services/test_organization.py
  tests/sdk/connector/test_serializer_integration.py
  tests/sdk/models/test_model_factory.py
Due: sdk, backend

fix(backend): allow sorting tests by prompt content
  apps/backend/src/rhesis/backend/app/utils/relationship_sort.py
  tests/backend/utils/test_relationship_sort.py
Due: backend

fix(backend): allow sorting tests by prompt content (#2495)
  apps/backend/src/rhesis/backend/app/utils/relationship_sort.py
  tests/backend/utils/test_relationship_sort.py
Due: backend

fix(dev): fail CI on ConfigMap and ExternalSecret key overlap
  .github/workflows/lint.yml
  scripts/check-env-overlap.py
Due: none

fix(dev): drop unused provider API keys from deployment secrets
  charts/rhesis/values-dev.yaml
  infrastructure/k8s/manifests/secrets/rhesis-secrets.yaml.example
  kubernetes/clusters/dev/external-secrets/rhesis-app-secrets.yaml
  kubernetes/clusters/prd/external-secrets/rhesis-app-secrets.yaml
  kubernetes/clusters/stg/external-secrets/rhesis-app-secrets.yaml
Due: none

fix(dev): restrict overlap gate to app config and secret keys
  .github/workflows/lint.yml
  scripts/check-env-overlap.py
Due: none

fix(backend): collect per-turn context for metrics
  apps/backend/src/rhesis/backend/tasks/execution/batch/evaluation.py
  apps/backend/src/rhesis/backend/tasks/execution/evaluation.py
Due: backend

fix(backend): calibrate owasp judge rubric text
  apps/backend/src/rhesis/backend/app/services/initial_data.json
Due: backend

fix(backend): enforce test set/test type consistency
  apps/backend/src/rhesis/backend/app/schemas/test_set.py
  apps/backend/src/rhesis/backend/app/schemas/validators.py
  apps/backend/src/rhesis/backend/app/services/test.py
  tests/backend/services/test_test_set.py
Due: backend

fix(sdk): reject mixed turn types when inferring test set type
  sdk/src/rhesis/sdk/entities/test_set.py
  tests/sdk/entities/test_test_set.py
Due: sdk

fix(backend): enforce target test set type in direct bulk creation
  apps/backend/src/rhesis/backend/app/services/test.py
Due: backend

fix(sdk): infer Multi-Turn from goal-only imports
  sdk/src/rhesis/sdk/entities/test_set.py
  tests/sdk/entities/test_test_set.py
Due: sdk

test(backend): cover direct bulk test set type enforcement
  tests/backend/services/test_test.py
Due: none

fix(backend): prefer persisted test set type over caller fallback
  apps/backend/src/rhesis/backend/app/services/test.py
Due: backend

fix(frontend): make disabled rerun fields legible in dark mode
  apps/frontend/src/components/common/drawerFormFieldSx.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(backend): validate test types against the set type
  apps/backend/src/rhesis/backend/app/schemas/test_set.py
  apps/backend/src/rhesis/backend/app/services/test.py
  apps/backend/src/rhesis/backend/app/utils/test_type_resolution.py
  sdk/src/rhesis/sdk/entities/test_set.py
  tests/backend/schemas/test_test_set.py
  tests/backend/utils/test_test_type_resolution.py
  tests/sdk/entities/test_test_set.py
Due: sdk, backend

fix(frontend): refresh endpoints grid after save
  apps/frontend/src/app/(protected)/endpoints/[identifier]/components/__tests__/useEndpointDetail.test.tsx
  apps/frontend/src/app/(protected)/endpoints/[identifier]/components/useEndpointDetail.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(backend): scope test set lookup and propagate type errors
  apps/backend/src/rhesis/backend/app/services/test.py
  tests/backend/services/test_test.py
Due: backend

test(backend): pin enum-typed bulk create inputs to plain-string resolution
  tests/backend/services/test_test_set.py
Due: none

fix(backend): fail fast on inaccessible test_set_id in bulk test creation
  apps/backend/src/rhesis/backend/app/services/test.py
  tests/backend/services/test_test.py
Due: backend

test(sdk): pin the shim surface against a declared __all__
  packages/rhesis/src/rhesis/telemetry/attributes.py
  packages/rhesis/src/rhesis/telemetry/context.py
  packages/rhesis/src/rhesis/telemetry/token_extraction.py
  tests/sdk/telemetry/test_legacy_import_paths.py
Due: none

chore(agents): finish the telemetry import migration in travel-agent
  agents/travel-agent/src/travel_agent/session.py
Due: none

fix(backend): count each metric by its own outcome
  apps/backend/src/rhesis/backend/alembic/versions/d52329dc7e4e_fix_metric_stats_view_effective_success.py
  apps/backend/src/rhesis/backend/app/models/stats_views.py
  apps/backend/src/rhesis/backend/app/services/stats/common.py
  tests/backend/services/stats/test_automated_metric_success.py
  tests/backend/services/stats/test_effective_metric_success.py
  tests/backend/services/stats/test_metric_stats_view.py
Due: backend

fix(sdk): stop multi-turn generation crashing on a failed batch
  sdk/src/rhesis/sdk/synthesizers/base.py
  sdk/src/rhesis/sdk/synthesizers/multi_turn/base.py
  tests/sdk/synthesizers/test_multi_turn_synthesizer.py
Due: sdk

fix(backend): rebase metric-stats migration onto main's head
  apps/backend/src/rhesis/backend/alembic/versions/d52329dc7e4e_fix_metric_stats_view_effective_success.py
Due: backend

fix(sdk): surface polyphemus scale-to-zero hints in error messages
  sdk/src/rhesis/sdk/models/providers/polyphemus.py
  tests/sdk/models/providers/test_polyphemus.py
Due: sdk

feat(backend): migrate calibrated owasp rubrics to existing orgs
  apps/backend/src/rhesis/backend/alembic/versions/3f5954f6c374_calibrate_owasp_metric_rubrics.py
Due: backend

fix(frontend): mirror metric stats outcome fix
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/__tests__/test-run-summary-utils.test.ts
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/test-run-summary-utils.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(sdk): prefix owasp-generated topics with their risk code
  sdk/src/rhesis/sdk/synthesizers/owasp_synthesizer.py
  tests/sdk/synthesizers/test_owasp_synthesizer.py
Due: sdk

feat(frontend): filter results by metric outcome
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestRunDetailFilterDrawer.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestRunFilterBar.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestRunMainView.tsx
Due: frontend-format, frontend-lint, hardcoded-styles
