Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, docs-format, hardcoded-styles

sdk:
  name: format sdk
  language: system
  entry: make -C sdk format
  pass_filenames: false

backend:
  name: format backend
  language: system
  entry: make -C apps/backend format_diff
  pass_filenames: false

frontend-format:
  name: auto-fix frontend formatting
  language: system
  entry: bash -c "cd apps/frontend && npm run format"
  pass_filenames: false

frontend-lint:
  name: lint frontend
  language: system
  entry: bash -c "cd apps/frontend && npm run lint"
  pass_filenames: false

docs-format:
  name: auto-fix docs formatting
  language: system
  entry: bash -c "cd apps/documentation && npm run format"
  pass_filenames: false

hardcoded-styles:
  name: check hardcoded styles in frontend and docs
  language: system
  entry: node scripts/check-hardcoded-styles.js
  pass_filenames: false

refactor(sdk): remove profanity filter from LLMGenerator
  sdk/src/rhesis/sdk/adaptive_testing/generators.py
Due: sdk

fix(tests): update topic formatting and assertions in test cases
  tests/sdk/adaptive_testing/test_test_tree.py
  tests/sdk/integration/test_adaptive_testing.py
Due: none

feat(test-explorer): add AdaptiveTestSetDrawer for creating and editing test sets
  apps/frontend/src/app/(protected)/test-explorer/components/AdaptiveTestSetDrawer.tsx
  apps/frontend/src/app/(protected)/test-explorer/components/TestExplorerGrid.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

feat: add create test endpoint and UI
  apps/backend/src/rhesis/backend/app/routers/adaptive_testing.py
  apps/backend/src/rhesis/backend/app/services/adaptive_testing.py
  apps/frontend/src/app/(protected)/adaptive-testing/[identifier]/components/AdaptiveTestingDetail.tsx
  tests/backend/routes/test_adaptive_testing.py
  tests/backend/services/test_adaptive_testing.py
Due: backend, frontend-format, frontend-lint, hardcoded-styles

feat: add update topic endpoint with rename support
  apps/backend/src/rhesis/backend/app/routers/adaptive_testing.py
  apps/backend/src/rhesis/backend/app/services/adaptive_testing.py
  apps/frontend/src/app/(protected)/adaptive-testing/[identifier]/components/AdaptiveTestingDetail.tsx
  tests/backend/routes/test_adaptive_testing.py
  tests/backend/services/test_adaptive_testing.py
Due: backend, frontend-format, frontend-lint, hardcoded-styles

feat(backend): add topic and include_subtopics to generate outputs
  apps/backend/src/rhesis/backend/app/routers/adaptive_testing.py
  apps/backend/src/rhesis/backend/app/schemas/adaptive_testing.py
  apps/backend/src/rhesis/backend/app/services/adaptive_testing.py
  tests/backend/routes/test_adaptive_testing.py
  tests/backend/services/test_adaptive_testing.py
Due: backend

feat(backend): implement create_topic_node service
  apps/backend/src/rhesis/backend/app/services/adaptive_testing.py
  tests/backend/services/test_adaptive_testing.py
Due: backend

test(adaptive-testing): add tests for generate outputs
  tests/backend/routes/test_adaptive_testing.py
  tests/backend/services/test_adaptive_testing.py
Due: none

fix(frontend): simplify test filtering logic in AdaptiveTestingDetail component
  apps/frontend/src/app/(protected)/adaptive-testing/[identifier]/components/AdaptiveTestingDetail.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

chore(backend): reduce log noise during tests
  apps/backend/src/rhesis/backend/app/models/soft_delete_events.py
  tests/backend/conftest.py
Due: backend

feat(adaptive-testing): add generate outputs backend
  apps/backend/src/rhesis/backend/app/routers/adaptive_testing.py
  apps/backend/src/rhesis/backend/app/schemas/adaptive_testing.py
  apps/backend/src/rhesis/backend/app/services/adaptive_testing.py
Due: backend

feat(adaptive-testing): add create adaptive test set endpoint and UI
  apps/backend/src/rhesis/backend/app/routers/adaptive_testing.py
  apps/backend/src/rhesis/backend/app/schemas/__init__.py
  apps/backend/src/rhesis/backend/app/schemas/test_set.py
  apps/backend/src/rhesis/backend/app/services/adaptive_testing.py
  apps/frontend/src/app/(protected)/adaptive-testing/components/AdaptiveTestingGrid.tsx
  apps/frontend/src/utils/api-client/adaptive-testing-client.ts
  tests/backend/routes/test_adaptive_testing.py
  tests/backend/services/test_adaptive_testing.py
Due: backend, frontend-format, frontend-lint, hardcoded-styles

fix(frontend): allow creating topic when no topics in adaptive testing
  apps/frontend/src/app/(protected)/adaptive-testing/[identifier]/components/AdaptiveTestingDetail.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(sdk): fix get_all_parents returning strings instead of TopicNodes
  sdk/src/rhesis/sdk/adaptive_testing/schemas.py
  sdk/uv.lock
  tests/sdk/adaptive_testing/test_schemas.py
Due: sdk

feat(frontend): add drag-and-drop tests to topics
  apps/frontend/src/app/(protected)/adaptive-testing/[identifier]/components/AdaptiveTestingDetail.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

test(backend): add adaptive testing integration tests
  tests/backend/routes/test_adaptive_testing.py
  tests/backend/services/test_adaptive_testing.py
Due: none

fix(backend): add adaptive testing to token-enabled routes
  apps/backend/src/rhesis/backend/app/main.py
Due: backend

feat(frontend): add adaptive testing pages and navigation
  apps/frontend/src/app/(protected)/adaptive-testing/[identifier]/components/AdaptiveTestingDetail.tsx
  apps/frontend/src/app/(protected)/adaptive-testing/[identifier]/layout.tsx
  apps/frontend/src/app/(protected)/adaptive-testing/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/adaptive-testing/components/AdaptiveTestingGrid.tsx
  apps/frontend/src/app/(protected)/adaptive-testing/layout.tsx
  apps/frontend/src/app/(protected)/adaptive-testing/page.tsx
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/utils/api-client/adaptive-testing-client.ts
  apps/frontend/src/utils/api-client/config.ts
  apps/frontend/src/utils/api-client/interfaces/adaptive-testing.ts
Due: frontend-format, frontend-lint, hardcoded-styles

refactor(frontend): remove test explorer feature
  apps/frontend/src/app/(protected)/test-explorer/[identifier]/BACKEND_REQUIREMENTS.md
  apps/frontend/src/app/(protected)/test-explorer/[identifier]/components/AdaptiveTestsExplorer.tsx
  apps/frontend/src/app/(protected)/test-explorer/[identifier]/components/AdaptiveTestsGrid.tsx
  apps/frontend/src/app/(protected)/test-explorer/[identifier]/components/AddTestDialog.tsx
  apps/frontend/src/app/(protected)/test-explorer/[identifier]/components/DeleteTopicDialog.tsx
  apps/frontend/src/app/(protected)/test-explorer/[identifier]/components/TopicDialog.tsx
  apps/frontend/src/app/(protected)/test-explorer/[identifier]/components/TopicTreeView.tsx
  apps/frontend/src/app/(protected)/test-explorer/[identifier]/layout.tsx
  apps/frontend/src/app/(protected)/test-explorer/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/test-explorer/components/AdaptiveTestSetDrawer.tsx
  apps/frontend/src/app/(protected)/test-explorer/components/TestExplorerGrid.tsx
  apps/frontend/src/app/(protected)/test-explorer/layout.tsx
  apps/frontend/src/app/(protected)/test-explorer/page.tsx
  apps/frontend/src/app/layout.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

feat(backend): add adaptive testing endpoints and service
  apps/backend/src/rhesis/backend/app/routers/__init__.py
  apps/backend/src/rhesis/backend/app/routers/adaptive_testing.py
  apps/backend/src/rhesis/backend/app/services/adaptive_testing.py
  apps/backend/uv.lock
Due: backend

feat: add create topic endpoint and UI button
  apps/backend/src/rhesis/backend/app/routers/adaptive_testing.py
  apps/frontend/src/app/(protected)/adaptive-testing/[identifier]/components/AdaptiveTestingDetail.tsx
  tests/backend/routes/test_adaptive_testing.py
Due: backend, frontend-format, frontend-lint, hardcoded-styles

feat: add delete test endpoint and confirmation dialog
  apps/backend/src/rhesis/backend/app/routers/adaptive_testing.py
  apps/backend/src/rhesis/backend/app/services/adaptive_testing.py
  apps/frontend/src/app/(protected)/adaptive-testing/[identifier]/components/AdaptiveTestingDetail.tsx
  tests/backend/routes/test_adaptive_testing.py
  tests/backend/services/test_adaptive_testing.py
Due: backend, frontend-format, frontend-lint, hardcoded-styles

feat: add update test endpoint and edit dialog
  apps/backend/src/rhesis/backend/app/routers/adaptive_testing.py
  apps/backend/src/rhesis/backend/app/services/adaptive_testing.py
  apps/frontend/src/app/(protected)/adaptive-testing/[identifier]/components/AdaptiveTestingDetail.tsx
  tests/backend/routes/test_adaptive_testing.py
  tests/backend/services/test_adaptive_testing.py
Due: backend, frontend-format, frontend-lint, hardcoded-styles

feat(adaptive-testing): add Generate outputs UI and improve Add/Edit test form
  apps/frontend/src/app/(protected)/adaptive-testing/[identifier]/components/AdaptiveTestingDetail.tsx
  apps/frontend/src/utils/api-client/adaptive-testing-client.ts
  apps/frontend/src/utils/api-client/interfaces/adaptive-testing.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(adaptive-testing): allow adding test without topic
  apps/backend/src/rhesis/backend/app/routers/adaptive_testing.py
  apps/backend/src/rhesis/backend/app/services/adaptive_testing.py
  apps/frontend/src/app/(protected)/adaptive-testing/[identifier]/components/AdaptiveTestingDetail.tsx
Due: backend, frontend-format, frontend-lint, hardcoded-styles

feat(frontend): add topic selection and generate outputs button next to table
  apps/frontend/src/app/(protected)/adaptive-testing/[identifier]/components/AdaptiveTestingDetail.tsx
  apps/frontend/src/utils/api-client/interfaces/adaptive-testing.ts
Due: frontend-format, frontend-lint, hardcoded-styles

refactor(tests): update endpoint tests to use httpx.AsyncClient
  tests/backend/routes/test_endpoint.py
Due: none

feat(adaptive-testing): enhance output generation with concurrent endpoint invocations
  apps/backend/src/rhesis/backend/app/services/adaptive_testing.py
Due: backend

fix(frontend): ensure InputLabel shrinks for topic selection in AdaptiveTestingDetail component
  apps/frontend/src/app/(protected)/adaptive-testing/[identifier]/components/AdaptiveTestingDetail.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

chore(license): add MIT License and attribution for adaptive-testing module
  NOTICE
  sdk/src/rhesis/sdk/adaptive_testing/LICENSE
  sdk/src/rhesis/sdk/adaptive_testing/__init__.py
Due: sdk

refactor(frontend): improve styling consistency in AdaptiveTestingDetail and TopicTreePanel components
  apps/frontend/src/app/(protected)/adaptive-testing/[identifier]/components/AdaptiveTestingDetail.tsx
  sdk/src/rhesis/sdk/adaptive_testing/client/src/row.jsx
Due: sdk, frontend-format, frontend-lint, hardcoded-styles

chore(workflows): rename backend test job for clarity
  .github/workflows/backend-test.yml
Due: none

refactor(frontend): remove Generate outputs button from AdaptiveTestingDetail component
  apps/frontend/src/app/(protected)/adaptive-testing/[identifier]/components/AdaptiveTestingDetail.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

feat(adaptive-testing): implement delete topic functionality
  apps/backend/src/rhesis/backend/app/routers/adaptive_testing.py
  apps/backend/src/rhesis/backend/app/services/adaptive_testing.py
  apps/frontend/src/app/(protected)/adaptive-testing/[identifier]/components/AdaptiveTestingDetail.tsx
  apps/frontend/src/utils/api-client/adaptive-testing-client.ts
  apps/frontend/src/utils/api-client/interfaces/adaptive-testing.ts
  tests/backend/routes/test_adaptive_testing.py
  tests/backend/services/test_adaptive_testing.py
Due: backend, frontend-format, frontend-lint, hardcoded-styles

sdfsdf
  apps/frontend/src/app/(protected)/adaptive-testing/[identifier]/components/AdaptiveTestingDetail.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(backend): use per-task db sessions in generate_outputs_for_tests
  apps/backend/src/rhesis/backend/app/services/adaptive_testing.py
  tests/backend/services/test_adaptive_testing.py
Due: backend

refactor(frontend): clean up code formatting in adaptive testing components
  apps/frontend/src/app/(protected)/adaptive-testing/[identifier]/components/AdaptiveTestingDetail.tsx
  apps/frontend/src/app/(protected)/adaptive-testing/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/adaptive-testing/components/AdaptiveTestingGrid.tsx
  apps/frontend/src/app/(protected)/adaptive-testing/page.tsx
  apps/frontend/src/utils/api-client/adaptive-testing-client.ts
Due: frontend-format, frontend-lint, hardcoded-styles

refactor(frontend): improve code formatting in AdaptiveTestingDetail component
  apps/frontend/src/app/(protected)/adaptive-testing/[identifier]/components/AdaptiveTestingDetail.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

feat(telemetry): implement caching for worker availability checks
  apps/backend/src/rhesis/backend/app/services/telemetry/enrichment/service.py
Due: backend

feat(frontend): add endpoint selection for output generation in AdaptiveTestingDetail component
  apps/frontend/src/app/(protected)/adaptive-testing/[identifier]/components/AdaptiveTestingDetail.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

Path conditions:
  sdk: any of: ^sdk/
  backend: any of: ^apps/backend/
  frontend-format: any of: ^apps/frontend/
  frontend-lint: any of: ^apps/frontend/
  docs-format: any of: ^apps/documentation/
  hardcoded-styles: any of: ^apps/(frontend|documentation)/
