Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend

sdk:
  name: format sdk
  language: system
  entry: make -C sdk format
  pass_filenames: false

backend:
  name: format backend
  language: system
  entry: make -C apps/backend format
  pass_filenames: false

fix(frontend): resolve infinite loading in tasks section
  apps/frontend/src/components/tasks/TasksSection.tsx
  apps/frontend/src/hooks/useComments.ts
  apps/frontend/src/hooks/useTasks.ts
Due: none

test(frontend): add focused tests for infinite loading fix
  apps/frontend/next-env.d.ts
  apps/frontend/src/components/tasks/__tests__/TasksSection.test.tsx
  apps/frontend/src/hooks/__tests__/useComments.dependency-stability.test.ts
  apps/frontend/src/hooks/__tests__/useTasks.dependency-stability.test.ts
Due: none

style: fix prettier formatting in TasksSection
  apps/frontend/src/components/tasks/TasksSection.tsx
Due: none

docs (encryption) adding docs describing our approach for encrypting sensitive data in the database
  docs/backend/database-field-encryption.md
Due: none

feat: add editable test set title functionality
  apps/frontend/next-env.d.ts
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/TestSetDetailsSection.tsx
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/TestSetTags.tsx
  apps/frontend/src/app/(protected)/test-sets/[identifier]/page.tsx
  apps/frontend/src/components/tasks/TasksAndCommentsWrapper.tsx
Due: none

Fix contrast and scrolling issues in test generation wizard
  apps/frontend/src/app/(protected)/tests/components/TestGenerationModal.tsx
  apps/frontend/src/app/(protected)/tests/generate/components/TestGenerationLanding.tsx
  apps/frontend/src/app/(protected)/tests/generate/configure/components/TestConfiguration.tsx
  apps/frontend/src/app/(protected)/tests/generate/confirm/components/ConfirmTestGeneration.tsx
  apps/frontend/src/app/(protected)/tests/generate/describe/components/DescribeTestRequirements.tsx
Due: none

style: fix prettier formatting issues
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/TestSetDetailsSection.tsx
Due: none

fix: change field label from 'Title' to 'Name'
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/TestSetDetailsSection.tsx
Due: none

refactor: optimize lint workflow with conditional execution and single checkout
  .github/workflows/lint.yml
Due: none

style(sdk): fix line length violations in synthesizer factory
  sdk/src/rhesis/sdk/synthesizers/factory.py
Due: sdk

fix(sdk): handle missing main branch in Makefile git diff
  sdk/Makefile
Due: sdk

feat: implement core encryption infrastructure (#497)
  apps/backend/pyproject.toml
  apps/backend/src/rhesis/backend/app/utils/encryption.py
  apps/backend/uv.lock
  tests/backend/test_encryption.py
Due: backend

feat: add DB_ENCRYPTION_KEY to backend configuration
  .github/workflows/backend.yml
  infrastructure/config/service-secrets-config.sh.example
  infrastructure/config/service-secrets-create.sh
Due: none

feat: add encryption to Endpoint model authentication fields (#498)
  apps/backend/src/rhesis/backend/app/models/endpoint.py
  tests/backend/utils/test_endpoint_encryption.py
Due: backend

feat: add encryption to Model and Token tables (#499, #498)
  apps/backend/src/rhesis/backend/app/models/model.py
  apps/backend/src/rhesis/backend/app/models/token.py
  tests/backend/utils/test_model_encryption.py
  tests/backend/utils/test_token_encryption.py
Due: backend

feat: add Alembic migration to encrypt existing sensitive data (#500)
  apps/backend/src/rhesis/backend/alembic/versions/da9164715ec2_encrypt_existing_auth_tokens.py
Due: backend

feat: remove validate.sh from frontend pre-commit hook
  .pre-commit-config.yaml
Due: none

docs: add encryption documentation and update worker deployment (#501)
  apps/worker/k8s/deployment.yaml
  docs/backend/encryption-troubleshooting.md
  docs/backend/environment-config.md
  docs/backend/security.md
Due: none

fix(worker): add missing DB_ENCRYPTION_KEY to worker deployment secrets
  .github/workflows/worker.yml
Due: none

fix(users): implement soft delete to resolve 500 error on user removal
  apps/backend/src/rhesis/backend/app/crud.py
  apps/backend/src/rhesis/backend/app/routers/user.py
Due: backend

feat(users): support re-inviting users who left organizations
  apps/backend/src/rhesis/backend/app/routers/user.py
Due: backend

Path conditions:
  sdk: any of: ^sdk/
  backend: any of: ^apps/backend/
