Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, docs-format, hardcoded-styles

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict

  - repo: local
    hooks:
        - id: trufflehog
          name: TruffleHog
          description: Detect secrets in your data.
          entry: bash -c 'PATH="$HOME/.local/bin:$PATH" trufflehog git file://. --since-commit HEAD --only-verified --fail --no-update'
          language: system
          stages: ["pre-commit", "pre-push"]

        - id: sdk
          name  : format sdk
          language: system
          entry: make -C sdk format
          files: ^sdk/
          pass_filenames: false

        - id: backend
          name  : format backend
          language: system
          entry: make -C apps/backend format_diff
          files: ^apps/backend/
          pass_filenames: false

        - id: frontend-format
          name: auto-fix frontend formatting
          language: system
          entry: bash -c "cd apps/frontend && npm run format"
          files: ^apps/frontend/
          pass_filenames: false

        - id: frontend-lint
          name: lint frontend
          language: system
          entry: bash -c "cd apps/frontend && npm run lint"
          files: ^apps/frontend/
          pass_filenames: false

        - id: docs-format
          name: auto-fix docs formatting
          language: system
          entry: bash -c "cd apps/documentation && npm run format"
          files: ^apps/documentation/
          pass_filenames: false

        - id: hardcoded-styles
          name: check hardcoded styles in frontend and docs
          language: system
          entry: node scripts/check-hardcoded-styles.js
          files: ^apps/(frontend|documentation)/
          pass_filenames: false


  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.8.0
  #   hooks:
  #     - id: mypy
  #       additional_dependencies: [
  #         "types-requests",
  #         "pandas-stubs",
  #         "pyarrow-stubs",
  #         "types-tqdm"
  #       ]

fix: timeout issues
  terraform/infrastructure/main.tf
Due: none

fix:destination_ranges on an ingress firewall rule
  terraform/infrastructure/modules/kubernetes/gcp/firewall.tf
Due: none

fix: WireGuard tunnel CIDR overlaps the VM’s VPC subnet
  terraform/infrastructure/modules/wireguard/gcp/templates/wg0.conf.tpl
Due: none

fix: M1: CIDR values hardcoded in 5+ locations
  terraform/infrastructure/cidrs.tf
  terraform/infrastructure/envs/dev/cidrs.tf
  terraform/infrastructure/envs/dev/main.tf
  terraform/infrastructure/envs/dev/variables.tf
  terraform/infrastructure/envs/prd/cidrs.tf
  terraform/infrastructure/envs/prd/main.tf
  terraform/infrastructure/envs/prd/variables.tf
  terraform/infrastructure/envs/stg/cidrs.tf
  terraform/infrastructure/envs/stg/main.tf
  terraform/infrastructure/envs/stg/variables.tf
  terraform/infrastructure/main.tf
  terraform/infrastructure/modules/wireguard/gcp/variables.tf
  terraform/infrastructure/variables.tf
Due: none

peering example
  terraform/infrastructure/terraform.tfvars.example
Due: none

fix: update wireguard vm new peer information
  terraform/infrastructure/modules/wireguard/gcp/update.tf
Due: none

fix: remove ssh and add GCP IAP
  terraform/infrastructure/envs/prd/main.tf
  terraform/infrastructure/main.tf
  terraform/infrastructure/modules/wireguard/gcp/firewall.tf
  terraform/infrastructure/modules/wireguard/gcp/variables.tf
  terraform/infrastructure/modules/wireguard/gcp/vm.tf
  terraform/infrastructure/terraform.tfvars.example
  terraform/infrastructure/variables.tf
Due: none

implemen-state-management-using-gcs-bucket
  terraform/infrastructure/main.tf
  terraform/infrastructure/modules/wireguard/gcp/variables.tf
  terraform/infrastructure/modules/wireguard/gcp/vm.tf
  terraform/infrastructure/terraform.tfvars.example
  terraform/infrastructure/variables.tf
Due: none

fix: manual fix work in this stage
  terraform/infrastructure/main.tf
  terraform/infrastructure/modules/kubernetes/gcp/cluster.tf
  terraform/infrastructure/modules/kubernetes/gcp/variables.tf
  terraform/infrastructure/modules/wireguard/gcp/cloud-init.tf
  terraform/infrastructure/modules/wireguard/gcp/templates/cloud-init.yaml.tpl
  terraform/infrastructure/modules/wireguard/gcp/variables.tf
  terraform/infrastructure/modules/wireguard/gcp/vm.tf
Due: none

kubernetes private cluster
  terraform/infrastructure/envs/dev/main.tf
  terraform/infrastructure/envs/dev/outputs.tf
  terraform/infrastructure/envs/dev/variables.tf
  terraform/infrastructure/envs/prd/main.tf
  terraform/infrastructure/envs/prd/outputs.tf
  terraform/infrastructure/envs/prd/variables.tf
  terraform/infrastructure/envs/stg/main.tf
  terraform/infrastructure/envs/stg/outputs.tf
  terraform/infrastructure/envs/stg/variables.tf
  terraform/infrastructure/main.tf
  terraform/infrastructure/modules/kubernetes/azure/main.tf
  terraform/infrastructure/modules/kubernetes/azure/outputs.tf
  terraform/infrastructure/modules/kubernetes/azure/variables.tf
  terraform/infrastructure/modules/kubernetes/gcp/cluster.tf
  terraform/infrastructure/modules/kubernetes/gcp/firewall.tf
  terraform/infrastructure/modules/kubernetes/gcp/main.tf
  terraform/infrastructure/modules/kubernetes/gcp/node_pool.tf
  terraform/infrastructure/modules/kubernetes/gcp/outputs.tf
  terraform/infrastructure/modules/kubernetes/gcp/service_account.tf
  terraform/infrastructure/modules/kubernetes/gcp/variables.tf
  terraform/infrastructure/modules/network/gcp/firewall.tf
  terraform/infrastructure/modules/network/gcp/outputs.tf
  terraform/infrastructure/outputs.tf
Due: none

fix: include tfplan into the gitignore.
  .gitignore
Due: none

autometic key managment & added routing to reach gke private route
  terraform/infrastructure/modules/wireguard/gcp/cloud-init.tf
  terraform/infrastructure/modules/wireguard/gcp/keys.tf
  terraform/infrastructure/modules/wireguard/gcp/main.tf
  terraform/infrastructure/modules/wireguard/gcp/outputs.tf
Due: none

added vm for routhe the managed gke
  terraform/infrastructure/main.tf
  terraform/infrastructure/modules/gateway/gcp/main.tf
  terraform/infrastructure/modules/gateway/gcp/outputs.tf
  terraform/infrastructure/modules/gateway/gcp/variables.tf
Due: none

fix: terraform_state_bucket variable declared but never used
  .gitignore
  terraform/infrastructure/backend.conf.example
  terraform/infrastructure/main.tf
  terraform/infrastructure/terraform.tfvars.example
  terraform/infrastructure/variables.tf
Due: none

fix: All cluster resources were brought up, but: only 0 nodes out of 3 have registered.
  terraform/infrastructure/modules/network/gcp/firewall.tf
  terraform/infrastructure/modules/network/gcp/nat.tf
  terraform/infrastructure/modules/network/gcp/outputs.tf
  terraform/infrastructure/modules/network/gcp/subnets.tf
Due: none

fix: update version, minor bug
  terraform/infrastructure/envs/dev/main.tf
  terraform/infrastructure/envs/prd/main.tf
  terraform/infrastructure/envs/stg/main.tf
  terraform/infrastructure/envs/wireguard/main.tf
  terraform/infrastructure/main.tf
Due: none

Fix Polyphemus configuration and add synthesizer debug logging (#1408)
  apps/backend/src/rhesis/backend/app/services/model_connection.py
  apps/backend/src/rhesis/backend/tasks/test_set.py
  docs/content/development/environment-variables.mdx
  docs/content/getting-started/running-locally.mdx
  docs/content/getting-started/self-hosting.mdx
  docs/content/guides/quick-start-guide.mdx
  sdk/src/rhesis/sdk/entities/test_set.py
  sdk/src/rhesis/sdk/models/base.py
  sdk/src/rhesis/sdk/models/providers/native.py
  sdk/src/rhesis/sdk/models/providers/polyphemus.py
  sdk/src/rhesis/sdk/models/utils.py
  sdk/src/rhesis/sdk/synthesizers/base.py
Due: sdk, backend

implement rate limit
  apps/polyphemus/src/rhesis/polyphemus/services/services.py
  apps/polyphemus/src/rhesis/polyphemus/utils/rate_limit.py
Due: none

fix: update the rate limiter
  apps/polyphemus/src/rhesis/polyphemus/services/services.py
  apps/polyphemus/src/rhesis/polyphemus/utils/rate_limit.py
Due: none

update the rate limit funciton
  apps/polyphemus/src/rhesis/polyphemus/utils/rate_limit.py
Due: none

fix: rate limiter and model alias issue
  apps/polyphemus/src/rhesis/polyphemus/routers/services.py
  apps/polyphemus/src/rhesis/polyphemus/services/services.py
  apps/polyphemus/src/rhesis/polyphemus/utils/rate_limit.py
Due: none

fix: Non-idempotent key generation
  terraform/infrastructure/modules/wireguard/gcp/cloud-init.tf
  terraform/infrastructure/modules/wireguard/gcp/keys.tf
  terraform/infrastructure/modules/wireguard/gcp/main.tf
  terraform/infrastructure/modules/wireguard/gcp/outputs.tf
Due: none

Feat/Add Rate Limiting To Polyphemus Service (#1398)
  apps/polyphemus/src/rhesis/polyphemus/routers/services.py
  apps/polyphemus/src/rhesis/polyphemus/services/services.py
  apps/polyphemus/src/rhesis/polyphemus/utils/rate_limit.py
Due: none

fix(auth): prevent OAuth callback URL host header poisoning
  apps/backend/src/rhesis/backend/app/routers/auth.py
  tests/backend/routes/test_auth.py
Due: backend

docs: note RHESIS_BASE_URL is required for production
  docs/content/development/environment-variables.mdx
Due: none

fix(auth): use urlparse for RHESIS_BASE_URL hostname check
  apps/backend/src/rhesis/backend/app/routers/auth.py
Due: backend

Fix OAuth callback URL host header poisoning (#1409)
  apps/backend/src/rhesis/backend/app/routers/auth.py
  docs/content/development/environment-variables.mdx
  tests/backend/routes/test_auth.py
Due: backend

feat(backend): add scheduled Day 1 and Day 2 onboarding emails
  .env.example
  apps/backend/src/rhesis/backend/app/routers/organization.py
  apps/backend/src/rhesis/backend/notifications/email/service.py
Due: backend

feat(backend): inform users about upcoming email sequence in welcome email
  apps/backend/src/rhesis/backend/notifications/email/templates/welcome.html.jinja2
Due: backend

feat(backend): add Day 3 scheduled email (71h 59min after onboarding)
  .env.example
  apps/backend/src/rhesis/backend/app/routers/organization.py
  apps/backend/src/rhesis/backend/notifications/email/service.py
Due: backend

fix: remove unreliable worker availability pre-flight check
  apps/backend/src/rhesis/backend/app/routers/test_configuration.py
  apps/backend/src/rhesis/backend/app/routers/test_set.py
  apps/backend/src/rhesis/backend/app/utils/execution_validation.py
  apps/backend/src/rhesis/backend/tasks/__init__.py
  tests/backend/routes/test_execution_validation.py
Due: backend

fix: load dotenv in constants before reading env vars
  apps/backend/src/rhesis/backend/app/constants.py
Due: backend

Fix intermittent worker unavailable errors (#1412)
  apps/backend/src/rhesis/backend/app/constants.py
  apps/backend/src/rhesis/backend/app/routers/test_configuration.py
  apps/backend/src/rhesis/backend/app/routers/test_set.py
  apps/backend/src/rhesis/backend/app/utils/execution_validation.py
  apps/backend/src/rhesis/backend/tasks/__init__.py
  tests/backend/routes/test_execution_validation.py
Due: backend

fix(frontend): use stable key for invite email fields
  apps/frontend/src/app/(protected)/organizations/team/components/TeamInviteForm.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): use stable key for invite email fields (#1413)
  apps/frontend/src/app/(protected)/organizations/team/components/TeamInviteForm.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(worker): increase prd replicas to min 4 max 8
  .github/workflows/worker.yml
Due: none

feat: add queued status for test runs and show error details
  apps/backend/src/rhesis/backend/app/routers/test_configuration.py
  apps/backend/src/rhesis/backend/app/services/test_set.py
  apps/backend/src/rhesis/backend/tasks/enums.py
  apps/backend/src/rhesis/backend/tasks/execution/run.py
  apps/backend/src/rhesis/backend/tasks/test_configuration.py
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/RerunTestRunDrawer.tsx
  apps/frontend/src/app/(protected)/test-runs/components/TestRunDrawer.tsx
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/ExecuteTestSetDrawer.tsx
  apps/frontend/src/app/(protected)/test-sets/components/CreateTestRun.tsx
  apps/frontend/src/app/(protected)/tests/new-generated/components/TestGenerationFlow.tsx
  apps/frontend/src/components/common/TestRunStatus.tsx
  apps/frontend/src/components/common/__tests__/TestRunStatus.test.tsx
  apps/frontend/src/utils/error-utils.ts
  tests/backend/routes/test_execute_with_reuse.py
  tests/backend/services/test_test_set.py
  tests/backend/tasks/test_run_status.py
Due: backend, frontend-format, frontend-lint, hardcoded-styles

fix: populate total_tests when creating queued test run
  apps/backend/src/rhesis/backend/tasks/execution/run.py
  tests/backend/tasks/test_run_status.py
Due: backend

fix(worker): increase prd replicas to min 4 max 8 (#1414)
  .github/workflows/worker.yml
Due: none
