Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict

  - repo: local
    hooks:
        - id: sdk
          name  : format sdk
          language: system
          entry: make -C sdk format
          files: ^sdk/
          pass_filenames: false

        - id: backend
          name  : format backend
          language: system
          entry: make -C apps/backend format
          files: ^apps/backend/
          pass_filenames: false


  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.8.0
  #   hooks:
  #     - id: mypy
  #       additional_dependencies: [
  #         "types-requests",
  #         "pandas-stubs",
  #         "pyarrow-stubs",
  #         "types-tqdm"
  #       ]

fix: apply prettier formatting and resolve linting warnings
  apps/frontend/src/app/(protected)/tests/components/TestSetSelectionDialog.tsx
Due: none

style: remove trailing whitespace in test_metric.py
  sdk/src/rhesis/sdk/metrics/test_metric.py
Due: sdk

fix: sync package-lock.json with testing dependencies
  .github/workflows/frontend.yml
  apps/frontend/jest.config.js
  apps/frontend/package-lock.json
  apps/frontend/package.json
Due: none

fix: add --legacy-peer-deps to GitHub Actions
  .github/workflows/frontend.yml
Due: none

fix: add --legacy-peer-deps to lint workflow npm ci
  .github/workflows/lint.yml
Due: none

fix: temporarily disable coverage thresholds for initial testing setup
  apps/frontend/jest.config.js
Due: none

fix(services): improve DocumentHandler validation and MIME type support
  apps/backend/src/rhesis/backend/app/services/document_handler.py
Due: backend

feat(storage): add StorageService for multi-environment file storage
  apps/backend/src/rhesis/backend/app/services/storage_service.py
Due: backend

refactor(storage): update DocumentHandler for persistent storage
  apps/backend/src/rhesis/backend/app/services/document_handler.py
Due: backend

test: add @pytest.mark.asyncio decorators to async test functions
  tests/backend/services/fixtures/storage_fixtures.py
  tests/backend/services/test_document_handler.py
  tests/backend/services/test_storage_integration.py
  tests/backend/services/test_storage_service.py
Due: none

fix(storage): move env suffix to end of bucket name
  apps/backend/src/rhesis/backend/app/services/storage_service.py
Due: backend

feat(document-handler): include file_path in metadata and simplify save_document return type
  apps/backend/src/rhesis/backend/app/services/document_handler.py
Due: backend

fix(tests): resolve storage service test import errors and async test issues
  apps/backend/src/rhesis/backend/app/services/document_handler.py
  tests/backend/services/base.py
  tests/backend/services/fixtures/__init__.py
  tests/backend/services/fixtures/storage_fixtures.py
  tests/backend/services/test_document_handler.py
  tests/backend/services/test_storage_integration.py
  tests/backend/services/test_storage_service.py
Due: backend

feat(api): update document endpoints for persistent storage
  apps/backend/src/rhesis/backend/app/routers/services.py
  apps/backend/src/rhesis/backend/app/routers/test_set.py
Due: backend

fix(tests): update DocumentHandler tests to match implementation
  tests/backend/services/test_document_handler.py
  tests/backend/services/test_storage_integration.py
Due: none

feat(sources): add sources routes to token_enabled_routes
  apps/backend/src/rhesis/backend/app/main.py
Due: backend

feat(sources): add document upload, extract, and content endpoints
  apps/backend/src/rhesis/backend/app/routers/source.py
Due: backend

fix(tests): update source tests to match current schema
  tests/backend/routes/fixtures/data_factories.py
  tests/backend/routes/test_source.py
Due: none

feat(tasks): improve error handling and prevent flickering
  apps/frontend/src/app/(protected)/tasks/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/tasks/components/TasksGrid.tsx
Due: none

fix(frontend): resolve TypeScript error in TestSetSelectionDialog useRef initialization
  apps/frontend/src/app/(protected)/tests/components/TestSetSelectionDialog.tsx
Due: none

style(tasks): remove hardcoded fontSize and align with design system
  apps/frontend/src/app/(protected)/tasks/[identifier]/page.tsx
Due: none

fix(tests): fix generate_content_endpoint test to use proper schema
  tests/backend/routes/test_services.py
Due: none
