Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, docs-format, hardcoded-styles

sdk:
  name: format sdk
  language: system
  entry: make -C sdk format
  pass_filenames: false

backend:
  name: format backend
  language: system
  entry: make -C apps/backend format_diff
  pass_filenames: false

frontend-format:
  name: auto-fix frontend formatting
  language: system
  entry: bash -c "cd apps/frontend && npm run format"
  pass_filenames: false

frontend-lint:
  name: lint frontend
  language: system
  entry: bash -c "cd apps/frontend && npm run lint"
  pass_filenames: false

docs-format:
  name: auto-fix docs formatting
  language: system
  entry: bash -c "cd apps/documentation && npm run format"
  pass_filenames: false

hardcoded-styles:
  name: check hardcoded styles in frontend and docs
  language: system
  entry: node scripts/check-hardcoded-styles.js
  pass_filenames: false

feat(alembic): add missing joins and removed unused dimensions and filters
  apps/backend/src/rhesis/backend/alembic/versions/90104949ab99_add_test_stats_view.py
  apps/backend/src/rhesis/backend/alembic/versions/d3f8a91c5b02_add_metric_stats_view.py
Due: backend

feat(insights): add missing dimensions and filters
  apps/backend/src/rhesis/backend/app/models/stats_views.py
Due: backend

feat(frontend): add typed client for insights batch endpoint
  apps/frontend/src/utils/api-client/client-factory.ts
  apps/frontend/src/utils/api-client/config.ts
  apps/frontend/src/utils/api-client/insights-client.ts
  apps/frontend/src/utils/api-client/interfaces/insights.ts
Due: frontend-format, frontend-lint, hardcoded-styles

feat(frontend): drive insights hook from batch endpoint
  apps/frontend/src/app/(protected)/insights/components/__tests__/InsightsSummaryBar.test.tsx
  apps/frontend/src/app/(protected)/insights/hooks/__tests__/useBehaviorInsightsData.test.ts
  apps/frontend/src/app/(protected)/insights/hooks/useBehaviorInsightsData.ts
  apps/frontend/src/app/(protected)/insights/utils/__tests__/behavior-insights-utils.test.ts
  apps/frontend/src/app/(protected)/insights/utils/__tests__/insights-failed-tests.test.ts
  apps/frontend/src/app/(protected)/insights/utils/behavior-insights-utils.ts
  apps/frontend/src/app/(protected)/insights/utils/insights-failed-tests.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(backend): split secrets RBAC rule so create verb works
  kubernetes/clusters/dev/rhesis/license-issuer-rbac.yaml
  kubernetes/clusters/prd/rhesis/license-issuer-rbac.yaml
  kubernetes/clusters/stg/rhesis/license-issuer-rbac.yaml
Due: none

feat(infra): add read-only postgres datasource for grafana (prd)
  kubernetes/clusters/prd/cnpg-cluster/cnpg-cluster.yaml
  kubernetes/clusters/prd/external-secrets/grafana-viewer-credentials.yaml
  kubernetes/clusters/prd/external-secrets/kustomization.yaml
  kubernetes/clusters/prd/grafana-resources/grafana-viewer-credentials.yaml
  kubernetes/clusters/prd/grafana-resources/kustomization.yaml
  kubernetes/clusters/prd/grafana-resources/postgres-prd-datasource.yaml
Due: none

feat(infra): add read-only postgres datasource for grafana (stg)
  kubernetes/clusters/stg/cnpg-cluster/cnpg-cluster.yaml
  kubernetes/clusters/stg/external-secrets/grafana-viewer-credentials.yaml
  kubernetes/clusters/stg/external-secrets/kustomization.yaml
  kubernetes/clusters/stg/grafana-resources/grafana-viewer-credentials.yaml
  kubernetes/clusters/stg/grafana-resources/kustomization.yaml
  kubernetes/clusters/stg/grafana-resources/postgres-stg-datasource.yaml
Due: none

update stg grafana pass
  kubernetes/clusters/stg/external-secrets/rhesis-app-secrets.yaml
Due: none

added grafana viewr password
  kubernetes/clusters/prd/external-secrets/rhesis-app-secrets.yaml
Due: none

fix(backend): upgrade Connect Gateway role from Reader to Editor
  terraform/infrastructure/modules/connect-gateway/gcp/main.tf
Due: none

Fix license-issuer RBAC: split secrets rule so create verb works (#2347)
  kubernetes/clusters/dev/rhesis/license-issuer-rbac.yaml
  kubernetes/clusters/prd/rhesis/license-issuer-rbac.yaml
  kubernetes/clusters/stg/rhesis/license-issuer-rbac.yaml
  terraform/infrastructure/modules/connect-gateway/gcp/main.tf
Due: none

fix(infra): document grafana-viewer grant gap, drop unused secret key
  kubernetes/clusters/prd/cnpg-cluster/cnpg-cluster.yaml
  kubernetes/clusters/prd/external-secrets/rhesis-app-secrets.yaml
  kubernetes/clusters/stg/cnpg-cluster/cnpg-cluster.yaml
  kubernetes/clusters/stg/external-secrets/rhesis-app-secrets.yaml
Due: none

fix(dev): include base.yaml in kustomize so root Application self-heals
  kubernetes/clusters/dev/kustomization.yaml
  kubernetes/clusters/prd/kustomization.yaml
  kubernetes/clusters/stg/kustomization.yaml
Due: none

docs: use themed screenshots on the tracing pages
  docs/content/docs/tracing/conversation-tracing.mdx
  docs/content/docs/tracing/index.mdx
  docs/content/docs/tracing/multi-agent.mdx
  docs/src/public/screenshots/rhesis-ai-test-sets-dark.webp
  docs/src/public/screenshots/rhesis-ai-test-sets.webp
  docs/src/public/screenshots/rhesis-ai-tracing-conversation-dark.webp
  docs/src/public/screenshots/rhesis-ai-tracing-conversation.webp
  docs/src/public/screenshots/rhesis-ai-tracing-detail-dark.webp
  docs/src/public/screenshots/rhesis-ai-tracing-detail.png
  docs/src/public/screenshots/rhesis-ai-tracing-detail.webp
  docs/src/public/screenshots/rhesis-ai-tracing-graph-view-dark.webp
  docs/src/public/screenshots/rhesis-ai-tracing-graph-view.png
  docs/src/public/screenshots/rhesis-ai-tracing-graph-view.webp
  docs/src/public/screenshots/rhesis-ai-tracing-overview-dark.webp
  docs/src/public/screenshots/rhesis-ai-tracing-overview.png
  docs/src/public/screenshots/rhesis-ai-tracing-overview.webp
Due: none

docs: use themed screenshots on the tracing pages (#2351)
  docs/content/docs/tracing/conversation-tracing.mdx
  docs/content/docs/tracing/index.mdx
  docs/content/docs/tracing/multi-agent.mdx
  docs/src/public/screenshots/rhesis-ai-test-sets-dark.webp
  docs/src/public/screenshots/rhesis-ai-test-sets.webp
  docs/src/public/screenshots/rhesis-ai-tracing-conversation-dark.webp
  docs/src/public/screenshots/rhesis-ai-tracing-conversation.webp
  docs/src/public/screenshots/rhesis-ai-tracing-detail-dark.webp
  docs/src/public/screenshots/rhesis-ai-tracing-detail.png
  docs/src/public/screenshots/rhesis-ai-tracing-detail.webp
  docs/src/public/screenshots/rhesis-ai-tracing-graph-view-dark.webp
  docs/src/public/screenshots/rhesis-ai-tracing-graph-view.png
  docs/src/public/screenshots/rhesis-ai-tracing-graph-view.webp
  docs/src/public/screenshots/rhesis-ai-tracing-overview-dark.webp
  docs/src/public/screenshots/rhesis-ai-tracing-overview.png
  docs/src/public/screenshots/rhesis-ai-tracing-overview.webp
Due: none

docs: drop "product" from the tour and rewrite it
  docs/AGENTS.md
  docs/README.md
  docs/content/docs/_meta.tsx
  docs/content/docs/getting-started/index.mdx
  docs/content/docs/getting-started/run-evaluations.mdx
  docs/content/docs/product-tour.mdx
  docs/content/docs/tour.mdx
  docs/content/index.mdx
  docs/content/sdk/installation.mdx
  docs/src/components/FeatureOverview.jsx
  docs/src/components/IndustryExamples.jsx
  docs/src/components/NextStepCard.jsx
  docs/src/mdx-components.js
  docs/src/next.config.mjs
  docs/src/styles/globals.css
Due: none

style: match screenshot elevation across both themes
  docs/src/components/ThemeAwareImage.jsx
Due: none

fix(backend): make adding a license tier fail loud if half-done
  ee/backend/src/rhesis/backend/ee/licensing/entitlements.py
  ee/backend/src/rhesis/backend/ee/licensing/tiers.py
  tests/backend/ee/licensing/test_tiers.py
Due: none

feat(backend): load license tiers from YAML config
  ee/backend/src/rhesis/backend/ee/__init__.py
  ee/backend/src/rhesis/backend/ee/licensing/entitlements.py
  ee/backend/src/rhesis/backend/ee/licensing/quota_provider.py
  ee/backend/src/rhesis/backend/ee/licensing/tier_config.yaml
  ee/backend/src/rhesis/backend/ee/licensing/tiers.py
Due: none

fix(backend): skip malformed tier config entries, don't crash
  ee/backend/src/rhesis/backend/ee/licensing/tiers.py
  tests/backend/ee/licensing/test_tiers.py
Due: none

test(backend): cover quota registry and updated tier catalog
  tests/backend/app/test_quota_registry.py
  tests/backend/ee/licensing/test_mint.py
  tests/backend/ee/licensing/test_tiers.py
Due: none

fix(backend): validate tier config limit values, require community entry
  ee/backend/src/rhesis/backend/ee/licensing/tiers.py
  tests/backend/ee/licensing/test_tiers.py
Due: none

feat(backend): add QuotaResource enum and QuotaProvider registry
  apps/backend/src/rhesis/backend/app/quota/__init__.py
Due: backend

fix(tests): update /features tests for limits field
  tests/backend/routes/test_features.py
Due: none

feat(backend): expose quota limits via GET /features
  apps/backend/src/rhesis/backend/app/routers/features.py
Due: backend

Rename the product tour and rewrite it around the feedback loop (#2352)
  docs/AGENTS.md
  docs/README.md
  docs/content/docs/_meta.tsx
  docs/content/docs/getting-started/index.mdx
  docs/content/docs/getting-started/run-evaluations.mdx
  docs/content/docs/product-tour.mdx
  docs/content/docs/tour.mdx
  docs/content/index.mdx
  docs/content/sdk/installation.mdx
  docs/src/components/FeatureOverview.jsx
  docs/src/components/IndustryExamples.jsx
  docs/src/components/NextStepCard.jsx
  docs/src/components/ThemeAwareImage.jsx
  docs/src/mdx-components.js
  docs/src/next.config.mjs
  docs/src/styles/globals.css
Due: none

Add YAML-driven tier config and quota registry (#2350)
  apps/backend/src/rhesis/backend/app/quota/__init__.py
  apps/backend/src/rhesis/backend/app/routers/features.py
  ee/backend/src/rhesis/backend/ee/__init__.py
  ee/backend/src/rhesis/backend/ee/licensing/entitlements.py
  ee/backend/src/rhesis/backend/ee/licensing/quota_provider.py
  ee/backend/src/rhesis/backend/ee/licensing/tier_config.yaml
  ee/backend/src/rhesis/backend/ee/licensing/tiers.py
  tests/backend/app/test_quota_registry.py
  tests/backend/ee/licensing/test_mint.py
  tests/backend/ee/licensing/test_tiers.py
  tests/backend/routes/test_features.py
Due: backend

feat(backend): align transactional emails with the new brand
  apps/backend/scripts/preview_emails.py
  apps/backend/src/rhesis/backend/app/config/settings.py
  apps/backend/src/rhesis/backend/notifications/email/brand.py
  apps/backend/src/rhesis/backend/notifications/email/template_service.py
  apps/backend/src/rhesis/backend/notifications/email/templates/_base.html.jinja2
  apps/backend/src/rhesis/backend/notifications/email/templates/_components.html.jinja2
  apps/backend/src/rhesis/backend/notifications/email/templates/_imprint.html.jinja2
  apps/backend/src/rhesis/backend/notifications/email/templates/email_verification.html.jinja2
  apps/backend/src/rhesis/backend/notifications/email/templates/feedback.html.jinja2
  apps/backend/src/rhesis/backend/notifications/email/templates/magic_link.html.jinja2
  apps/backend/src/rhesis/backend/notifications/email/templates/migration_password_setup.html.jinja2
  apps/backend/src/rhesis/backend/notifications/email/templates/password_reset.html.jinja2
  apps/backend/src/rhesis/backend/notifications/email/templates/polyphemus_access_request.html.jinja2
  apps/backend/src/rhesis/backend/notifications/email/templates/task_assignment.html.jinja2
  apps/backend/src/rhesis/backend/notifications/email/templates/task_completion.html.jinja2
  apps/backend/src/rhesis/backend/notifications/email/templates/team_invitation.html.jinja2
  apps/backend/src/rhesis/backend/notifications/email/templates/test_execution_summary.html.jinja2
  apps/backend/src/rhesis/backend/notifications/email/templates/welcome.html.jinja2
  tests/notifications/email_fixtures.py
  tests/notifications/test_email_brand.py
Due: backend

fix(backend): enable Jinja autoescaping for email templates
  apps/backend/src/rhesis/backend/notifications/email/brand.py
  apps/backend/src/rhesis/backend/notifications/email/template_service.py
  tests/notifications/test_email_brand.py
Due: backend

Align transactional emails with the new brand (#2353)
  apps/backend/scripts/preview_emails.py
  apps/backend/src/rhesis/backend/app/config/settings.py
  apps/backend/src/rhesis/backend/notifications/email/brand.py
  apps/backend/src/rhesis/backend/notifications/email/template_service.py
  apps/backend/src/rhesis/backend/notifications/email/templates/_base.html.jinja2
  apps/backend/src/rhesis/backend/notifications/email/templates/_components.html.jinja2
  apps/backend/src/rhesis/backend/notifications/email/templates/_imprint.html.jinja2
  apps/backend/src/rhesis/backend/notifications/email/templates/email_verification.html.jinja2
  apps/backend/src/rhesis/backend/notifications/email/templates/feedback.html.jinja2
  apps/backend/src/rhesis/backend/notifications/email/templates/magic_link.html.jinja2
  apps/backend/src/rhesis/backend/notifications/email/templates/migration_password_setup.html.jinja2
  apps/backend/src/rhesis/backend/notifications/email/templates/password_reset.html.jinja2
  apps/backend/src/rhesis/backend/notifications/email/templates/polyphemus_access_request.html.jinja2
  apps/backend/src/rhesis/backend/notifications/email/templates/task_assignment.html.jinja2
  apps/backend/src/rhesis/backend/notifications/email/templates/task_completion.html.jinja2
  apps/backend/src/rhesis/backend/notifications/email/templates/team_invitation.html.jinja2
  apps/backend/src/rhesis/backend/notifications/email/templates/test_execution_summary.html.jinja2
  apps/backend/src/rhesis/backend/notifications/email/templates/welcome.html.jinja2
  tests/notifications/email_fixtures.py
  tests/notifications/test_email_brand.py
Due: backend

docs: move task-specific AGENTS.md sections into skills
  .claude/skills/backend-debug/SKILL.md
  .claude/skills/backend-testing/SKILL.md
  .claude/skills/github-issue/SKILL.md
  .claude/skills/playground-script/SKILL.md
  .claude/skills/pull-request/SKILL.md
  AGENTS.md
  apps/backend/AGENTS.md
Due: backend

docs: point to python-linting skill after removing Ruff section
  AGENTS.md
Due: none

docs: move new skills into .agents/skills convention
  .agents/skills/backend-debug/SKILL.md
  .agents/skills/backend-testing/SKILL.md
  .agents/skills/github-issue/SKILL.md
  .agents/skills/playground-script/SKILL.md
  .agents/skills/pull-request/SKILL.md
  .claude/skills/backend-debug
  .claude/skills/backend-testing
  .claude/skills/github-issue
  .claude/skills/playground-script
  .claude/skills/pull-request
  .cursor/skills/backend-debug
  .cursor/skills/backend-testing
  .cursor/skills/github-issue
  .cursor/skills/playground-script
  .cursor/skills/pull-request
Due: none

refactor(backend): extract get_current_organization dependency
  apps/backend/src/rhesis/backend/app/dependencies.py
  apps/backend/src/rhesis/backend/app/routers/features.py
Due: backend

feat(backend): add usage accounting service
  apps/backend/src/rhesis/backend/app/services/usage.py
  tests/backend/services/test_usage.py
Due: backend

refactor(backend): rename quota resource to model tokens
  apps/backend/src/rhesis/backend/app/quota/__init__.py
  ee/backend/src/rhesis/backend/ee/licensing/tier_config.yaml
Due: backend

feat(sdk): report token usage through an on_usage callback
  sdk/src/rhesis/sdk/models/base.py
  sdk/src/rhesis/sdk/models/providers/native.py
  sdk/src/rhesis/sdk/models/providers/polyphemus.py
  tests/sdk/models/providers/test_polyphemus.py
  tests/sdk/models/providers/test_rhesis.py
  tests/sdk/models/test_base_usage.py
Due: sdk

feat(backend): accrue model tokens for hosted models
  apps/backend/src/rhesis/backend/app/routers/services.py
  apps/backend/src/rhesis/backend/app/services/test_config_generator.py
  apps/backend/src/rhesis/backend/app/services/test_generation_pipeline.py
  apps/backend/src/rhesis/backend/app/utils/usage_tracking.py
  apps/backend/src/rhesis/backend/app/utils/user_model_utils.py
  apps/backend/src/rhesis/backend/metrics/strategies/local.py
  apps/backend/src/rhesis/backend/tasks/__init__.py
  apps/backend/src/rhesis/backend/tasks/usage.py
  tests/backend/app/test_usage_tracking.py
  tests/backend/routes/test_services.py
  tests/backend/tasks/test_usage_accrual_task.py
  tests/backend/utils/test_llm_delegation.py
Due: backend

feat(backend): add usage table model and migration
  apps/backend/src/rhesis/backend/alembic/versions/77df3dbea77d_add_usage_table.py
  apps/backend/src/rhesis/backend/app/models/__init__.py
  apps/backend/src/rhesis/backend/app/models/usage.py
  apps/backend/src/rhesis/backend/app/routers/recycle.py
Due: backend

feat(backend): add GET /usage endpoint
  apps/backend/src/rhesis/backend/app/routers/__init__.py
  apps/backend/src/rhesis/backend/app/routers/usage.py
  tests/backend/routes/test_usage.py
Due: backend

Path conditions:
  sdk: any of: ^sdk/
  backend: any of: ^apps/backend/
  frontend-format: any of: ^apps/frontend/
  frontend-lint: any of: ^apps/frontend/
  docs-format: any of: ^apps/documentation/
  hardcoded-styles: any of: ^apps/(frontend|documentation)/
