Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, docs-format, hardcoded-styles

sdk:
  name: format sdk
  language: system
  entry: make -C sdk format
  pass_filenames: false

backend:
  name: format backend
  language: system
  entry: make -C apps/backend format_diff
  pass_filenames: false

frontend-format:
  name: auto-fix frontend formatting
  language: system
  entry: bash -c "cd apps/frontend && npm run format"
  pass_filenames: false

frontend-lint:
  name: lint frontend
  language: system
  entry: bash -c "cd apps/frontend && npm run lint"
  pass_filenames: false

docs-format:
  name: auto-fix docs formatting
  language: system
  entry: bash -c "cd apps/documentation && npm run format"
  pass_filenames: false

hardcoded-styles:
  name: check hardcoded styles in frontend and docs
  language: system
  entry: node scripts/check-hardcoded-styles.js
  pass_filenames: false

fix(backend): stop explorer routes masking ValidationError as 404
  apps/backend/src/rhesis/backend/app/routers/explorer.py
Due: backend

fix(dev): validate --port and fix stale filenames in db-connect
  infrastructure/scripts/db-connect.env.example
  infrastructure/scripts/db-connect.sh
Due: none

refactor(backend): return typed schemas from Explorer services (#2321)
  apps/backend/src/rhesis/backend/app/routers/explorer.py
  apps/backend/src/rhesis/backend/app/services/explorer/evaluation.py
  apps/backend/src/rhesis/backend/app/services/explorer/responses.py
  apps/backend/src/rhesis/backend/app/services/explorer/suggestions.py
  apps/backend/src/rhesis/backend/app/services/explorer/tests.py
  tests/backend/services/explorer/test_evaluation.py
  tests/backend/services/explorer/test_responses.py
  tests/backend/services/explorer/test_tests.py
Due: backend

Feat/Database Connection Script Locally (#2322)
  .gitignore
  infrastructure/scripts/db-connect.env.example
  infrastructure/scripts/db-connect.sh
Due: none

refactor(backend): settle Explorer vocabulary on "explorer"
  apps/backend/src/rhesis/backend/app/constants.py
  apps/backend/src/rhesis/backend/app/crud/__init__.py
  apps/backend/src/rhesis/backend/app/crud/explorer.py
  apps/backend/src/rhesis/backend/app/services/explorer/tests.py
  tests/backend/crud/test_explorer_crud.py
  tests/backend/crud/test_test_crud.py
  tests/backend/routes/test_explorer.py
  tests/backend/services/test_test_set.py
Due: backend

refactor(backend): settle Explorer vocabulary on "explorer" (#2324)
  apps/backend/src/rhesis/backend/app/constants.py
  apps/backend/src/rhesis/backend/app/crud/__init__.py
  apps/backend/src/rhesis/backend/app/crud/explorer.py
  apps/backend/src/rhesis/backend/app/services/explorer/tests.py
  tests/backend/crud/test_explorer_crud.py
  tests/backend/crud/test_test_crud.py
  tests/backend/routes/test_explorer.py
  tests/backend/services/test_test_set.py
Due: backend

fix(frontend): gate create-project on capability
  apps/frontend/src/app/(protected)/endpoints/components/TabOverview.tsx
  apps/frontend/src/app/(protected)/projects/create-new/components/CreateProjectClient.tsx
  apps/frontend/src/components/common/NoProjectAccess.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

test(frontend): cover NoProjectAccess create gating
  apps/frontend/src/components/common/__tests__/NoProjectAccess.test.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): correct access-denied wording on create page
  apps/frontend/src/app/(protected)/projects/create-new/components/CreateProjectClient.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(infra): create a dedicated, minimally-scoped license-ci-<env> SA
  kubernetes/README.md
  kubernetes/clusters/dev/rhesis/license-issuer-rbac.yaml
  kubernetes/clusters/prd/rhesis/license-issuer-rbac.yaml
  kubernetes/clusters/stg/rhesis/license-issuer-rbac.yaml
  terraform/infrastructure/envs/dev/main.tf
  terraform/infrastructure/envs/prd/main.tf
  terraform/infrastructure/envs/stg/main.tf
  terraform/infrastructure/modules/connect-gateway/gcp/main.tf
  terraform/infrastructure/modules/connect-gateway/gcp/outputs.tf
  terraform/infrastructure/modules/connect-gateway/gcp/variables.tf
  terraform/infrastructure/scripts/rotate-license-ci-key.sh
Due: none

feat(infra): add GKE Connect Gateway for cross-repo CI cluster access
  kubernetes/README.md
  kubernetes/clusters/dev/rhesis/license-issuer-rbac.yaml
  kubernetes/clusters/prd/rhesis/license-issuer-rbac.yaml
  kubernetes/clusters/stg/rhesis/license-issuer-rbac.yaml
  terraform/infrastructure/envs/dev/main.tf
  terraform/infrastructure/envs/prd/main.tf
  terraform/infrastructure/envs/stg/main.tf
  terraform/infrastructure/modules/connect-gateway/gcp/main.tf
  terraform/infrastructure/modules/connect-gateway/gcp/outputs.tf
  terraform/infrastructure/modules/connect-gateway/gcp/variables.tf
Due: none

refactor(backend): thin explorer router's test-create embedding step
  apps/backend/src/rhesis/backend/app/routers/explorer.py
  apps/backend/src/rhesis/backend/app/services/explorer/tests.py
  tests/backend/routes/test_explorer.py
  tests/backend/services/explorer/conftest.py
  tests/backend/services/explorer/test_tests.py
Due: backend

fix(infra): scope license-ci-<env> to per-secret IAM, not project-wide
  terraform/infrastructure/modules/connect-gateway/gcp/main.tf
Due: none

refactor(backend): thin explorer router's test-create embedding step (#2326)
  apps/backend/src/rhesis/backend/app/routers/explorer.py
  apps/backend/src/rhesis/backend/app/services/explorer/tests.py
  tests/backend/routes/test_explorer.py
  tests/backend/services/explorer/conftest.py
  tests/backend/services/explorer/test_tests.py
Due: backend

docs: no hard-wrapping inside PR body paragraphs
  AGENTS.md
Due: none

docs: no hard-wrapping inside PR body paragraphs (#2327)
  AGENTS.md
Due: none

Add GKE Connect Gateway for cross-repo CI cluster access (#2290)
  kubernetes/README.md
  kubernetes/clusters/dev/rhesis/license-issuer-rbac.yaml
  kubernetes/clusters/prd/rhesis/license-issuer-rbac.yaml
  kubernetes/clusters/stg/rhesis/license-issuer-rbac.yaml
  terraform/infrastructure/envs/dev/main.tf
  terraform/infrastructure/envs/prd/main.tf
  terraform/infrastructure/envs/stg/main.tf
  terraform/infrastructure/modules/connect-gateway/gcp/main.tf
  terraform/infrastructure/modules/connect-gateway/gcp/outputs.tf
  terraform/infrastructure/modules/connect-gateway/gcp/variables.tf
  terraform/infrastructure/scripts/rotate-license-ci-key.sh
Due: none

feat(backend): point SSO orgs at their sign-in page in invites
  apps/backend/src/rhesis/backend/app/routers/user.py
  apps/backend/src/rhesis/backend/notifications/email/service.py
  apps/backend/src/rhesis/backend/notifications/email/templates/team_invitation.html.jinja2
Due: backend

test(backend): cover SSO-aware invitation emails
  tests/notifications/test_team_invitation_sso.py
Due: none

refactor(backend): extract fan-out helper for NDJSON streams
  apps/backend/src/rhesis/backend/app/services/explorer/suggestions.py
  apps/backend/src/rhesis/backend/app/services/streaming_utils.py
  tests/backend/services/explorer/test_suggestions.py
  tests/backend/services/test_streaming_utils.py
Due: backend

Add SSO sign-in link to team invitation emails (#2328)
  apps/backend/src/rhesis/backend/app/routers/user.py
  apps/backend/src/rhesis/backend/notifications/email/service.py
  apps/backend/src/rhesis/backend/notifications/email/templates/team_invitation.html.jinja2
  tests/notifications/test_team_invitation_sso.py
Due: backend

Hide create-project actions from users without permission (#2325)
  apps/frontend/src/app/(protected)/endpoints/components/TabOverview.tsx
  apps/frontend/src/app/(protected)/projects/create-new/components/CreateProjectClient.tsx
  apps/frontend/src/components/common/NoProjectAccess.tsx
  apps/frontend/src/components/common/__tests__/NoProjectAccess.test.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(backend): handle exceptions in EventFanout task completion
  apps/backend/src/rhesis/backend/app/services/streaming_utils.py
Due: backend

Extract fan-out helper for Explorer NDJSON streams (#2329)
  apps/backend/src/rhesis/backend/app/services/explorer/suggestions.py
  apps/backend/src/rhesis/backend/app/services/streaming_utils.py
  tests/backend/services/explorer/test_suggestions.py
  tests/backend/services/test_streaming_utils.py
Due: backend

fix(backend): link invites to / instead of /auth/signin
  apps/backend/src/rhesis/backend/notifications/email/service.py
  tests/notifications/test_team_invitation_sso.py
Due: backend

fix(backend): link invites to / instead of /auth/signin (#2330)
  apps/backend/src/rhesis/backend/notifications/email/service.py
  tests/notifications/test_team_invitation_sso.py
Due: backend

fix(frontend): fix Explorer streaming timeouts and stuck loading state
  apps/frontend/src/app/(protected)/explorer/[identifier]/components/SuggestionsDialog.tsx
  apps/frontend/src/utils/api-client/explorer-client.ts
  apps/frontend/src/utils/backend-proxy.ts
Due: frontend-format, frontend-lint, hardcoded-styles

chore(tests): use neutral fixtures in SSO tests
  tests/backend/ee/sso/test_sso_router.py
  tests/notifications/test_team_invitation_sso.py
Due: none

chore(tests): use neutral fixtures in SSO tests (#2332)
  tests/backend/ee/sso/test_sso_router.py
  tests/notifications/test_team_invitation_sso.py
Due: none

chore(backend): remove unused schemas and schema fields
  apps/backend/src/rhesis/backend/app/crud/__init__.py
  apps/backend/src/rhesis/backend/app/routers/job.py
  apps/backend/src/rhesis/backend/app/routers/model.py
  apps/backend/src/rhesis/backend/app/routers/test.py
  apps/backend/src/rhesis/backend/app/schemas/__init__.py
  apps/backend/src/rhesis/backend/app/schemas/architect.py
  apps/backend/src/rhesis/backend/app/schemas/behavior.py
  apps/backend/src/rhesis/backend/app/schemas/category.py
  apps/backend/src/rhesis/backend/app/schemas/comment.py
  apps/backend/src/rhesis/backend/app/schemas/embedding.py
  apps/backend/src/rhesis/backend/app/schemas/endpoint.py
  apps/backend/src/rhesis/backend/app/schemas/file.py
  apps/backend/src/rhesis/backend/app/schemas/garak.py
  apps/backend/src/rhesis/backend/app/schemas/metric.py
  apps/backend/src/rhesis/backend/app/schemas/model.py
  apps/backend/src/rhesis/backend/app/schemas/organization.py
  apps/backend/src/rhesis/backend/app/schemas/parameters.py
  apps/backend/src/rhesis/backend/app/schemas/project_membership.py
  apps/backend/src/rhesis/backend/app/schemas/prompt.py
  apps/backend/src/rhesis/backend/app/schemas/source.py
  apps/backend/src/rhesis/backend/app/schemas/tag.py
  apps/backend/src/rhesis/backend/app/schemas/task.py
  apps/backend/src/rhesis/backend/app/schemas/telemetry.py
  apps/backend/src/rhesis/backend/app/schemas/test.py
  apps/backend/src/rhesis/backend/app/schemas/test_configuration.py
  apps/backend/src/rhesis/backend/app/schemas/test_result.py
  apps/backend/src/rhesis/backend/app/schemas/test_run.py
  apps/backend/src/rhesis/backend/app/schemas/test_set.py
  apps/backend/src/rhesis/backend/app/schemas/token.py
  apps/backend/src/rhesis/backend/app/schemas/tool.py
  apps/backend/src/rhesis/backend/app/schemas/topic.py
  apps/backend/src/rhesis/backend/app/schemas/type_lookup.py
  apps/backend/src/rhesis/backend/app/schemas/user.py
  apps/backend/src/rhesis/backend/app/services/test.py
Due: backend

chore(frontend): remove unused types to match BE changes
  apps/frontend/src/types/comments.ts
  apps/frontend/src/utils/api-client/interfaces/tests.ts
  apps/frontend/src/utils/api-client/tests-client.ts
Due: frontend-format, frontend-lint, hardcoded-styles

chore(tests): switch backend tests to testcontainers
  .github/workflows/backend-test.yml
  apps/backend/AGENTS.md
  apps/backend/Makefile
  apps/backend/pyproject.toml
  apps/backend/uv.lock
  docs/content/contribute/backend/development-workflow.mdx
  tests/README.md
  tests/backend/conftest.py
  tests/backend/testcontainers_setup.py
  tests/docker-compose.test.yml
Due: backend

chore(test): remove test for unused schema
  tests/backend/schemas/test_garak.py
Due: none

perf(backend): lazy-load ragas metrics, disable deepeval plugin
  apps/backend/pyproject.toml
  apps/backend/src/rhesis/backend/metrics/__init__.py
Due: backend

perf(backend): lazy-load ragas metrics, disable deepeval plugin (#2335)
  apps/backend/pyproject.toml
  apps/backend/src/rhesis/backend/metrics/__init__.py
Due: backend

chore(tests): switch backend tests to testcontainers (#2333)
  .github/workflows/backend-test.yml
  apps/backend/AGENTS.md
  apps/backend/Makefile
  apps/backend/pyproject.toml
  apps/backend/uv.lock
  docs/content/contribute/backend/development-workflow.mdx
  tests/README.md
  tests/backend/conftest.py
  tests/backend/testcontainers_setup.py
  tests/docker-compose.test.yml
Due: backend

docs: use CodeBlock component in getting-started quick install
  docs/content/docs/getting-started/index.mdx
Due: none

applied decluttering
  docs/content/docs/deployment/kubernetes-helm.mdx
Due: none

Path conditions:
  sdk: any of: ^sdk/
  backend: any of: ^apps/backend/
  frontend-format: any of: ^apps/frontend/
  frontend-lint: any of: ^apps/frontend/
  docs-format: any of: ^apps/documentation/
  hardcoded-styles: any of: ^apps/(frontend|documentation)/
