Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, docs-format, hardcoded-styles

sdk:
  name: format sdk
  language: system
  entry: make -C sdk format
  pass_filenames: false

backend:
  name: format backend
  language: system
  entry: make -C apps/backend format_diff
  pass_filenames: false

frontend-format:
  name: auto-fix frontend formatting
  language: system
  entry: bash -c "cd apps/frontend && npm run format"
  pass_filenames: false

frontend-lint:
  name: lint frontend
  language: system
  entry: bash -c "cd apps/frontend && npm run lint"
  pass_filenames: false

docs-format:
  name: auto-fix docs formatting
  language: system
  entry: bash -c "cd apps/documentation && npm run format"
  pass_filenames: false

hardcoded-styles:
  name: check hardcoded styles in frontend and docs
  language: system
  entry: node scripts/check-hardcoded-styles.js
  pass_filenames: false

fix(frontend): resolve lint errors in traces, add BaseDataGrid tests
  apps/frontend/e2e/pages/EndpointsPage.ts
  apps/frontend/e2e/pages/TestRunsPage.ts
  apps/frontend/e2e/pages/TestsPage.ts
  apps/frontend/e2e/tests/endpoints-extended.spec.ts
  apps/frontend/e2e/tests/test-runs-extended.spec.ts
  apps/frontend/e2e/tests/tests.spec.ts
  apps/frontend/src/app/(protected)/traces/components/ConversationTraceView.tsx
  apps/frontend/src/app/(protected)/traces/components/SpanGraphView.tsx
  apps/frontend/src/app/(protected)/traces/components/SpanSequenceView.tsx
  apps/frontend/src/components/common/__tests__/BaseDataGrid.test.tsx
  apps/frontend/src/utils/api-client/__tests__/base-client.test.ts
  apps/frontend/src/utils/api-client/__tests__/endpoints-client.test.ts
  apps/frontend/src/utils/api-client/__tests__/test-runs-client.test.ts
  apps/frontend/src/utils/api-client/__tests__/tests-client.test.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(penelope): address PR review feedback
  penelope/src/rhesis/penelope/agent.py
  penelope/src/rhesis/penelope/config.py
  penelope/src/rhesis/penelope/utils.py
  tests/penelope/test_agent.py
  tests/penelope/test_config.py
Due: none

refactor(penelope): remove StopCategory, use ExecutionStatus directly
  penelope/src/rhesis/penelope/agent.py
  penelope/src/rhesis/penelope/utils.py
  tests/penelope/test_agent.py
  tests/penelope/test_utils.py
Due: none

refactor(penelope): reduce redundancy in config, stopping conditions, and agent loop
  penelope/src/rhesis/penelope/agent.py
  penelope/src/rhesis/penelope/config.py
  penelope/src/rhesis/penelope/utils.py
  tests/penelope/test_infinite_loop_prevention.py
  tests/penelope/test_utils.py
Due: none

Add 16 missing glossary terms from changelog analysis (#1424)
  docs/content/glossary/_meta.tsx
  docs/content/glossary/adaptive-testing/index.mdx
  docs/content/glossary/agent/index.mdx
  docs/content/glossary/auto-configure/index.mdx
  docs/content/glossary/connector/index.mdx
  docs/content/glossary/garak/index.mdx
  docs/content/glossary/glossary-terms.jsonl
  docs/content/glossary/goal-achievement/index.mdx
  docs/content/glossary/jailbreak/index.mdx
  docs/content/glossary/opentelemetry/index.mdx
  docs/content/glossary/playground/index.mdx
  docs/content/glossary/polyphemus/index.mdx
  docs/content/glossary/rescoring/index.mdx
  docs/content/glossary/source/index.mdx
  docs/content/glossary/synthesizer/index.mdx
  docs/content/glossary/test-set-type/index.mdx
  docs/content/glossary/test-type/index.mdx
  docs/content/glossary/trace/index.mdx
Due: none

test(frontend): add page-level integration tests for grid components
  apps/frontend/src/app/(protected)/test-runs/components/__tests__/TestRunsGrid.test.tsx
  apps/frontend/src/app/(protected)/test-sets/components/__tests__/TestSetsGrid.test.tsx
  apps/frontend/src/app/(protected)/tests/components/__tests__/TestsGrid.test.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

refactor(penelope): reduce code duplication and fix PR review items
  penelope/src/rhesis/penelope/agent.py
  penelope/src/rhesis/penelope/config.py
  penelope/src/rhesis/penelope/context.py
  penelope/src/rhesis/penelope/schemas.py
  penelope/src/rhesis/penelope/utils.py
  tests/penelope/conftest.py
  tests/penelope/helpers.py
  tests/penelope/test_config.py
  tests/penelope/test_evaluation.py
  tests/penelope/test_infinite_loop_prevention.py
  tests/penelope/test_multi_tool_execution.py
  tests/penelope/test_utils.py
Due: none

test(frontend): raise thresholds and add detail page tests
  apps/frontend/jest.config.js
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/__tests__/TestRunHeader.test.tsx
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/__tests__/TestSetDetailsSection.test.tsx
  apps/frontend/src/app/(protected)/tests/[identifier]/components/__tests__/TestDetailData.test.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): prevent input focus loss from inline component definitions
  apps/frontend/src/app/(protected)/knowledge/[identifier]/components/SourcePreviewClientWrapper.tsx
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/__tests__/TestSetDetailsSection.test.tsx
  apps/frontend/src/components/common/BaseDataGrid.tsx
  apps/frontend/src/components/common/__tests__/SearchAndFilterBar.test.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

Refactor Penelope: configurable thresholds, structured stopping, reduced duplication (#1427)
  penelope/src/rhesis/penelope/agent.py
  penelope/src/rhesis/penelope/config.py
  penelope/src/rhesis/penelope/context.py
  penelope/src/rhesis/penelope/schemas.py
  penelope/src/rhesis/penelope/utils.py
  tests/penelope/conftest.py
  tests/penelope/helpers.py
  tests/penelope/test_agent.py
  tests/penelope/test_config.py
  tests/penelope/test_evaluation.py
  tests/penelope/test_infinite_loop_prevention.py
  tests/penelope/test_multi_tool_execution.py
  tests/penelope/test_utils.py
Due: none

fix(frontend): resolve EndpointFormAutoConfigure test timeouts
  apps/frontend/src/app/(protected)/endpoints/components/__tests__/EndpointFormAutoConfigure.test.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): lower branch coverage threshold to match CI measurement
  apps/frontend/jest.config.js
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): resolve TypeScript type errors in test fixtures
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/__tests__/TestRunHeader.test.tsx
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/__tests__/TestSetDetailsSection.test.tsx
  apps/frontend/src/app/(protected)/test-sets/components/__tests__/TestSetsGrid.test.tsx
  apps/frontend/src/app/(protected)/tests/[identifier]/components/__tests__/TestDetailData.test.tsx
  apps/frontend/src/components/common/__tests__/DeletedEntityAlert.test.tsx
  apps/frontend/src/utils/api-client/__tests__/base-client.test.ts
  apps/frontend/src/utils/api-client/__tests__/tests-client.test.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): handle invalid test run id gracefully with notFound()
  apps/frontend/src/app/(protected)/test-runs/[identifier]/page.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

test(frontend): address review improvements from Peqy
  apps/frontend/e2e/pages/EndpointsPage.ts
  apps/frontend/e2e/pages/TestRunsPage.ts
  apps/frontend/e2e/pages/TestsPage.ts
  apps/frontend/src/app/(protected)/endpoints/components/__tests__/EndpointFormAutoConfigure.test.tsx
  apps/frontend/src/components/common/__tests__/BaseDataGrid.test.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): use main content locator in POM waitForContent instead of grid
  apps/frontend/e2e/pages/EndpointsPage.ts
  apps/frontend/e2e/pages/TestRunsPage.ts
  apps/frontend/e2e/pages/TestsPage.ts
Due: frontend-format, frontend-lint, hardcoded-styles

test(sdk): add factory tests for vertex ai and extra providers
  tests/sdk/models/test_model_factory.py
Due: none

refactor(sdk): replace factory boilerplate with registry-driven creation
  sdk/src/rhesis/sdk/models/factory.py
  tests/sdk/metrics/providers/garak/test_detector_metric.py
Due: sdk

refactor(sdk): add kwargs support to OpenAI and OpenRouter initializers
  sdk/src/rhesis/sdk/models/providers/openai.py
  sdk/src/rhesis/sdk/models/providers/openrouter.py
Due: sdk

Refactor SDK model factory with registry-driven creation (#1429)
  sdk/src/rhesis/sdk/models/factory.py
  sdk/src/rhesis/sdk/models/providers/openai.py
  sdk/src/rhesis/sdk/models/providers/openrouter.py
  tests/sdk/metrics/providers/garak/test_detector_metric.py
  tests/sdk/models/test_model_factory.py
Due: sdk

feat(sdk): add run_connector() blocking API for connector-only scripts
  docs/content/sdk/connector/index.mdx
  sdk/src/rhesis/sdk/clients/rhesis.py
  tests/sdk/test_client.py
Due: sdk

feat(k8s): switch external-secrets to kustomize base/overlay pattern
  kubernetes/README.md
  kubernetes/base/external-secrets/cluster-secret-store-gcp.yaml
  kubernetes/base/external-secrets/external-secrets-application.yaml
  kubernetes/base/external-secrets/kustomization.yaml
  kubernetes/base/external-secrets/namespace.yaml
  kubernetes/clusters/dev/base.yaml
  kubernetes/clusters/dev/external-secrets.yaml
  kubernetes/clusters/dev/external-secrets/.gitkeep
  kubernetes/clusters/dev/external-secrets/kustomization.yaml
  kubernetes/clusters/prd/base.yaml
  kubernetes/clusters/prd/external-secrets.yaml
  kubernetes/clusters/prd/external-secrets/.gitkeep
  kubernetes/clusters/prd/external-secrets/kustomization.yaml
  kubernetes/clusters/stg/external-secrets.yaml
  kubernetes/clusters/stg/external-secrets/.gitkeep
  kubernetes/clusters/stg/external-secrets/kustomization.yaml
  terraform/infrastructure/envs/dev/main.tf
  terraform/infrastructure/envs/dev/outputs.tf
  terraform/infrastructure/envs/prd/main.tf
  terraform/infrastructure/envs/prd/outputs.tf
  terraform/infrastructure/envs/stg/main.tf
  terraform/infrastructure/envs/stg/outputs.tf
  terraform/infrastructure/main.tf
  terraform/infrastructure/modules/external-secrets/azure/main.tf
  terraform/infrastructure/modules/external-secrets/gcp/main.tf
  terraform/infrastructure/modules/external-secrets/gcp/outputs.tf
  terraform/infrastructure/modules/external-secrets/gcp/service_account.tf
  terraform/infrastructure/modules/external-secrets/gcp/variables.tf
  terraform/infrastructure/outputs.tf
Due: none

fix(api): remove invalid test_set_id from TestBase and guard None relationships
  apps/backend/src/rhesis/backend/app/schemas/test.py
  apps/backend/src/rhesis/backend/app/services/test_set.py
Due: backend

refactor(sdk): rename run_connector to connect
  docs/content/sdk/connector/index.mdx
  sdk/src/rhesis/sdk/clients/rhesis.py
  tests/sdk/test_client.py
Due: sdk

fix(api): remove invalid test_set_id from TestBase and guard None relationships (#1430)
  apps/backend/src/rhesis/backend/app/schemas/test.py
  apps/backend/src/rhesis/backend/app/services/test_set.py
Due: backend

fix(sdk): improve connector run feedback and handle keyboard interrupt
  sdk/src/rhesis/sdk/clients/rhesis.py
Due: sdk

Add connect() blocking API for connector-only scripts (#1431)
  docs/content/sdk/connector/index.mdx
  sdk/src/rhesis/sdk/clients/rhesis.py
  tests/sdk/test_client.py
Due: sdk

fix(api): add name-resolution to single POST /tests/ and SDK exclude_none
  apps/backend/src/rhesis/backend/app/routers/test.py
  apps/backend/src/rhesis/backend/app/schemas/test.py
  apps/backend/src/rhesis/backend/app/services/test.py
  sdk/src/rhesis/sdk/entities/base_entity.py
  tests/sdk/entities/test_base_entity.py
Due: sdk, backend

style(api): format routers/test.py with ruff
  apps/backend/src/rhesis/backend/app/routers/test.py
Due: backend

fix(api): prevent test_type_id overwrite on update
  apps/backend/src/rhesis/backend/app/routers/test.py
  apps/backend/src/rhesis/backend/app/services/test.py
Due: backend

docs: add 0.6.7 release and 0.6.6 video to changelog
  docs/content/development/changelog.mdx
Due: none

docs: add 0.6.7 release and 0.6.6 video to changelog (#1433)
  docs/content/development/changelog.mdx
Due: none

Fix: add name-resolution to single POST /tests/ and SDK exclude_none (#1432)
  apps/backend/src/rhesis/backend/app/routers/test.py
  apps/backend/src/rhesis/backend/app/schemas/test.py
  apps/backend/src/rhesis/backend/app/services/test.py
  sdk/src/rhesis/sdk/entities/base_entity.py
  tests/sdk/entities/test_base_entity.py
Due: sdk, backend

feat(docs): block dev-docs from search indexing
  docker-compose.yml
  docs/src/app/layout.jsx
  docs/src/app/robots.js
Due: none

fix(docs): ensure ROBOTS_NOINDEX works at build and runtime
  docker-compose.yml
  docs/src/Dockerfile
  docs/src/app/robots.js
Due: none

feat(docs): block dev-docs.rhesis.ai from search indexing (#1434)
  docker-compose.yml
  docs/src/Dockerfile
  docs/src/app/layout.jsx
  docs/src/app/robots.js
Due: none

fix: wireguard server cleanup
  terraform/infrastructure/modules/wireguard/gcp/update.tf
Due: none

refactor(frontend): move e2e tests to tests/e2e/ and drop coverage threshold
  apps/frontend/.gitignore
  apps/frontend/jest.config.js
  apps/frontend/playwright.config.ts
  apps/frontend/tests/e2e/auth.setup.ts
  apps/frontend/tests/e2e/pages/DashboardPage.ts
  apps/frontend/tests/e2e/pages/EndpointsPage.ts
  apps/frontend/tests/e2e/pages/LoginPage.ts
  apps/frontend/tests/e2e/pages/ProjectsPage.ts
  apps/frontend/tests/e2e/pages/TestRunsPage.ts
  apps/frontend/tests/e2e/pages/TestsPage.ts
  apps/frontend/tests/e2e/tests/endpoints-extended.spec.ts
  apps/frontend/tests/e2e/tests/endpoints.spec.ts
  apps/frontend/tests/e2e/tests/health.spec.ts
  apps/frontend/tests/e2e/tests/knowledge.spec.ts
  apps/frontend/tests/e2e/tests/navigation.spec.ts
  apps/frontend/tests/e2e/tests/page-smoke.spec.ts
  apps/frontend/tests/e2e/tests/projects.spec.ts
  apps/frontend/tests/e2e/tests/tasks.spec.ts
  apps/frontend/tests/e2e/tests/test-runs-extended.spec.ts
  apps/frontend/tests/e2e/tests/test-runs.spec.ts
  apps/frontend/tests/e2e/tests/test-sets.spec.ts
  apps/frontend/tests/e2e/tests/tests.spec.ts
  apps/frontend/tests/e2e/tests/tokens.spec.ts
  apps/frontend/tests/e2e/tests/traces.spec.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): update auth.setup.ts storageState path to tests/e2e/.auth/
  apps/frontend/tests/e2e/auth.setup.ts
Due: frontend-format, frontend-lint, hardcoded-styles

Path conditions:
  sdk: any of: ^sdk/
  backend: any of: ^apps/backend/
  frontend-format: any of: ^apps/frontend/
  frontend-lint: any of: ^apps/frontend/
  docs-format: any of: ^apps/documentation/
  hardcoded-styles: any of: ^apps/(frontend|documentation)/
