Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, docs-format, hardcoded-styles

sdk:
  name: format sdk
  language: system
  entry: make -C sdk format
  pass_filenames: false

backend:
  name: format backend
  language: system
  entry: make -C apps/backend format_diff
  pass_filenames: false

frontend-format:
  name: auto-fix frontend formatting
  language: system
  entry: bash -c "cd apps/frontend && npm run format"
  pass_filenames: false

frontend-lint:
  name: lint frontend
  language: system
  entry: bash -c "cd apps/frontend && npm run lint"
  pass_filenames: false

docs-format:
  name: auto-fix docs formatting
  language: system
  entry: bash -c "cd apps/documentation && npm run format"
  pass_filenames: false

hardcoded-styles:
  name: check hardcoded styles in frontend and docs
  language: system
  entry: node scripts/check-hardcoded-styles.js
  pass_filenames: false

feat(infra): wire NEXT_PUBLIC_ONBOARDING_VIDEO_URL to k8s and cloud run
  .github/workflows/frontend.yml
  charts/rhesis/templates/configmap.yaml
  charts/rhesis/values-dev.yaml
  charts/rhesis/values-prd.yaml
  charts/rhesis/values-stg.yaml
  charts/rhesis/values.yaml
  infrastructure/config/service-secrets-config.sh.example
  infrastructure/config/service-secrets-create.sh
Due: none

test(backend): exhaustive role×capability PDP matrix
  tests/backend/ee/rbac/_rbac_helpers.py
  tests/backend/security/test_role_capability_matrix.py
Due: none

test(backend): per-role http enforcement (EE)
  tests/backend/security/test_authz_http_enforcement.py
Due: none

test(backend): escalation guard unit tests
  tests/backend/ee/rbac/test_sp8_access_control.py
  tests/backend/security/test_role_capability_matrix.py
Due: none

test(frontend): rbac client tests + shared mocks
  CLAUDE.md
  ee/frontend/src/rbac/__mocks__/_mocks.tsx
  ee/frontend/src/rbac/api/__tests__/rbac-client.test.ts
Due: none

fix: disable telemetry by default in local dev and tests
  rh
  tests/backend/conftest.py
  tests/docker-compose.test.yml
Due: none

test(frontend): rbac component unit tests
  ee/frontend/src/rbac/__mocks__/_mocks.tsx
  ee/frontend/src/rbac/components/__tests__/OrgRoleChip.test.tsx
  ee/frontend/src/rbac/components/__tests__/PermissionGroupControl.test.tsx
  ee/frontend/src/rbac/components/__tests__/RoleEditorDrawer.test.tsx
  ee/frontend/src/rbac/components/__tests__/RolesTab.test.tsx
  ee/frontend/src/types/jest-dom.d.ts
  ee/frontend/tsconfig.json
Due: none

fix: disable telemetry by default in local dev and tests (#2097)
  rh
  tests/backend/conftest.py
  tests/docker-compose.test.yml
Due: none

feat(infra): wire NEXT_PUBLIC_ONBOARDING_VIDEO_URL to k8s and cloud run (#2095)
  .github/workflows/frontend.yml
  charts/rhesis/templates/configmap.yaml
  charts/rhesis/values-dev.yaml
  charts/rhesis/values-prd.yaml
  charts/rhesis/values-stg.yaml
  charts/rhesis/values.yaml
  infrastructure/config/service-secrets-config.sh.example
  infrastructure/config/service-secrets-create.sh
Due: none

test(e2e): mock-backend rbac mode + roles specs
  apps/frontend/tests/e2e/fixtures/org-members.json
  apps/frontend/tests/e2e/fixtures/roles.json
  apps/frontend/tests/e2e/helpers/RbacMockHelper.ts
  apps/frontend/tests/e2e/mock-backend.mjs
  apps/frontend/tests/e2e/pages/OrgSettingsPage.ts
  apps/frontend/tests/e2e/pages/OrgTeamPage.ts
  apps/frontend/tests/e2e/pages/TokensPage.ts
  apps/frontend/tests/e2e/tests/roles-crud.spec.ts
  apps/frontend/tests/e2e/tests/roles-unlicensed.spec.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): satisfy hardcoded styles check on verify-email
  apps/frontend/src/app/auth/verify-email/page.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

test(e2e): org role assignment via chip + token scope field
  apps/frontend/tests/e2e/fixtures/roles.json
  apps/frontend/tests/e2e/helpers/RbacMockHelper.ts
  apps/frontend/tests/e2e/tests/org-role-assignment.spec.ts
  apps/frontend/tests/e2e/tests/roles-crud.spec.ts
  apps/frontend/tests/e2e/tests/token-scope-field.spec.ts
Due: frontend-format, frontend-lint, hardcoded-styles

Fix navbar project name sync and verify-email CTA (#2094)
  apps/frontend/src/app/(protected)/projects/[identifier]/client-wrapper.tsx
  apps/frontend/src/app/auth/verify-email/page.tsx
  apps/frontend/src/contexts/ActiveProjectContext.tsx
  apps/frontend/src/contexts/__tests__/ActiveProjectContext.test.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(e2e): stop mockList/mockDetail from hijacking page navigation
  apps/frontend/tests/e2e/helpers/MockApiHelper.ts
  apps/frontend/tests/e2e/tests/token-scope-field.spec.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(backend): refresh test set attrs on update
  apps/backend/src/rhesis/backend/app/crud.py
  tests/backend/crud/test_test_crud.py
Due: backend

refactor(frontend): remove dead onRefresh prop threading
  apps/frontend/src/app/(protected)/metrics/components/MetricsClient.tsx
  apps/frontend/src/app/(protected)/metrics/components/MetricsDirectoryTab.tsx
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/TestSetTestsGrid.tsx
  apps/frontend/src/app/(protected)/tests/components/TestsGrid.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

refactor(frontend): migrate TracesClient to React Query
  apps/frontend/src/app/(protected)/traces/components/TracesClient.tsx
  apps/frontend/src/app/(protected)/traces/components/TracesClientWrapper.tsx
  apps/frontend/src/constants/query-keys.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): avoid 307 redirects on collection endpoints
  apps/frontend/src/utils/api-client/behavior-client.ts
  apps/frontend/src/utils/api-client/category-client.ts
  apps/frontend/src/utils/api-client/comments-client.ts
  apps/frontend/src/utils/api-client/endpoints-client.ts
  apps/frontend/src/utils/api-client/explorer-client.ts
  apps/frontend/src/utils/api-client/metrics-client.ts
  apps/frontend/src/utils/api-client/models-client.ts
  apps/frontend/src/utils/api-client/organizations-client.ts
  apps/frontend/src/utils/api-client/projects-client.ts
  apps/frontend/src/utils/api-client/prompts-client.ts
  apps/frontend/src/utils/api-client/sources-client.ts
  apps/frontend/src/utils/api-client/status-client.ts
  apps/frontend/src/utils/api-client/tags-client.ts
  apps/frontend/src/utils/api-client/tasks-client.ts
  apps/frontend/src/utils/api-client/test-configurations-client.ts
  apps/frontend/src/utils/api-client/test-results-client.ts
  apps/frontend/src/utils/api-client/test-runs-client.ts
  apps/frontend/src/utils/api-client/test-sets-client.ts
  apps/frontend/src/utils/api-client/tests-client.ts
  apps/frontend/src/utils/api-client/tokens-client.ts
  apps/frontend/src/utils/api-client/tools-client.ts
  apps/frontend/src/utils/api-client/topic-client.ts
  apps/frontend/src/utils/api-client/type-lookup-client.ts
  apps/frontend/src/utils/api-client/users-client.ts
Due: frontend-format, frontend-lint, hardcoded-styles

refactor(frontend): dedupe user-settings/model fetches
  apps/frontend/src/app/(protected)/layout.tsx
  apps/frontend/src/app/(protected)/models/components/ConnectionForm.tsx
  apps/frontend/src/app/(protected)/models/page.tsx
  apps/frontend/src/components/common/ModelSelector.tsx
  apps/frontend/src/components/layout/LayoutContent.tsx
  apps/frontend/src/constants/query-keys.ts
  apps/frontend/src/contexts/ActiveProjectContext.tsx
  apps/frontend/src/contexts/OnboardingContext.tsx
  apps/frontend/src/hooks/useModels.ts
  apps/frontend/src/hooks/useUserSettings.ts
  apps/frontend/src/utils/onboarding-service.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): cache and gate filter drawer lookup fetches
  apps/frontend/src/app/(protected)/endpoints/components/EndpointFilterDrawer.tsx
  apps/frontend/src/app/(protected)/tasks/components/TaskFilterDrawer.tsx
  apps/frontend/src/app/(protected)/test-sets/components/TestSetDrawer.tsx
  apps/frontend/src/app/(protected)/test-sets/components/TestSetFilterDrawer.tsx
  apps/frontend/src/app/(protected)/tests/components/TestFilterDrawer.tsx
  apps/frontend/src/constants/query-keys.ts
  apps/frontend/src/hooks/useLookups.ts
Due: frontend-format, frontend-lint, hardcoded-styles

refactor(frontend): migrate useTasks and useFiles to React Query
  apps/frontend/src/app/(protected)/tasks/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/tasks/components/TaskDrawer.tsx
  apps/frontend/src/components/tasks/TasksAndCommentsWrapper.tsx
  apps/frontend/src/components/tasks/TasksWrapper.tsx
  apps/frontend/src/constants/query-keys.ts
  apps/frontend/src/hooks/__tests__/useFiles.test.ts
  apps/frontend/src/hooks/__tests__/useTasks.dependency-stability.test.ts
  apps/frontend/src/hooks/__tests__/useTasks.test.ts
  apps/frontend/src/hooks/useFiles.ts
  apps/frontend/src/hooks/useTasks.ts
Due: frontend-format, frontend-lint, hardcoded-styles

refactor(frontend): dedupe remaining type_lookups fetches
  apps/frontend/src/app/(protected)/knowledge/components/ToolImportPanel.tsx
  apps/frontend/src/app/(protected)/metrics/new/page.tsx
  apps/frontend/src/app/(protected)/tests/components/TestSetSelectionDialog.tsx
  apps/frontend/src/app/(protected)/tests/new-manual/components/ManualTestWriter.tsx
  apps/frontend/src/app/(protected)/tools/page.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): transpile next-auth so Jest can parse it
  apps/frontend/next.config.mjs
Due: frontend-format, frontend-lint, hardcoded-styles

refactor(frontend): migrate Endpoints resource to shared hooks
  apps/frontend/src/app/(protected)/endpoints/[identifier]/components/EndpointHeaderActions.tsx
  apps/frontend/src/app/(protected)/endpoints/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/endpoints/components/EndpointForm.tsx
  apps/frontend/src/app/(protected)/explorer/[identifier]/components/ExplorerDetail.tsx
  apps/frontend/src/app/(protected)/insights/components/InsightsPage.tsx
  apps/frontend/src/app/(protected)/playground/components/PlaygroundClient.tsx
  apps/frontend/src/app/(protected)/playground/components/playgroundEndpointUtils.ts
  apps/frontend/src/app/(protected)/projects/[identifier]/endpoints/[endpointId]/page.tsx
  apps/frontend/src/app/(protected)/test-sets/new-generated/components/TestGenerationInterface.tsx
  apps/frontend/src/app/(protected)/test-sets/new-generated/components/shared/EndpointSelector.tsx
  apps/frontend/src/app/(protected)/tests/components/TrialDrawer.tsx
  apps/frontend/src/app/(protected)/tests/page.tsx
  apps/frontend/src/app/(protected)/traces/components/TraceFilterDrawer.tsx
  apps/frontend/src/components/common/RunDrawer.tsx
  apps/frontend/src/hooks/useEndpoints.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix: hardcoded colors
  apps/frontend/src/app/(protected)/models/components/ConnectionForm.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): gate drawer-only fetches on open state
  apps/frontend/src/app/(protected)/test-sets/new-generated/components/TestGenerationInterface.tsx
  apps/frontend/src/app/(protected)/test-sets/new-generated/components/shared/EndpointSelector.tsx
  apps/frontend/src/app/(protected)/traces/components/TraceReviewDrawer.tsx
  apps/frontend/src/components/common/ModelSelector.tsx
  apps/frontend/src/components/common/RunDrawer.tsx
  apps/frontend/src/hooks/useUserSettings.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): guard endpoint mutations against empty token
  apps/frontend/src/hooks/useEndpoints.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): surface real errors in grid fetch failures
  apps/frontend/src/app/(protected)/endpoints/components/EndpointsGrid.tsx
  apps/frontend/src/app/(protected)/knowledge/components/SourcesGrid.tsx
  apps/frontend/src/app/(protected)/tasks/components/TasksGrid.tsx
  apps/frontend/src/app/(protected)/test-runs/components/TestRunsGrid.tsx
  apps/frontend/src/app/(protected)/test-runs/components/__tests__/TestRunsGrid.test.tsx
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/TestSetTestsGrid.tsx
  apps/frontend/src/app/(protected)/test-sets/components/TestSetsGrid.tsx
  apps/frontend/src/app/(protected)/tests/components/TestsGrid.tsx
  apps/frontend/src/app/(protected)/tests/components/__tests__/TestsGrid.test.tsx
  apps/frontend/src/app/(protected)/traces/components/TracesClient.tsx
  apps/frontend/src/hooks/useGridQuery.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(backend): address PR review feedback
  apps/backend/src/rhesis/backend/app/crud.py
  tests/backend/crud/test_test_crud.py
Due: backend

feat(frontend): add execution history tab on test detail page
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestDetailHistoryTab.tsx
  apps/frontend/src/app/(protected)/tests/[identifier]/components/TestDetailTabs.tsx
  apps/frontend/src/components/tests/TestExecutionHistorySection.tsx
  apps/frontend/src/components/tests/TestExecutionHistoryTable.tsx
  apps/frontend/src/components/tests/__tests__/test-execution-history.test.ts
  apps/frontend/src/components/tests/test-execution-history.ts
  apps/frontend/src/components/tests/useTestExecutionHistory.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(e2e): match fetchPaginated's trailing-slash list URLs
  apps/frontend/tests/e2e/helpers/MockApiHelper.ts
  apps/frontend/tests/e2e/tests/mocked-states.spec.ts
Due: frontend-format, frontend-lint, hardcoded-styles

perf(backend): index comment/task/tagged_item entity lookups
  apps/backend/src/rhesis/backend/alembic/versions/a49cd5bee3d0_index_polymorphic_entity_lookups.py
Due: backend

fix(frontend): cap execution history fetch at 100
  apps/frontend/src/components/tests/useTestExecutionHistory.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): replace hardcoded styles in execution history
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestDetailHistoryTab.tsx
  apps/frontend/src/components/tests/TestExecutionHistoryTable.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): address execution history review feedback
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestDetailHistoryTab.tsx
  apps/frontend/src/components/tests/TestExecutionHistorySection.tsx
  apps/frontend/src/components/tests/TestExecutionHistoryTable.tsx
  apps/frontend/src/components/tests/__tests__/test-execution-history.test.ts
  apps/frontend/src/components/tests/test-execution-history.ts
  apps/frontend/src/components/tests/useTestExecutionHistory.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(e2e): correct source fixture field name to title
  apps/frontend/tests/e2e/fixtures/knowledge-detail.json
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): align execution history layout with linked test sets
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestDetailHistoryTab.tsx
  apps/frontend/src/components/tests/TestExecutionHistorySection.tsx
  apps/frontend/src/components/tests/TestExecutionHistoryTable.tsx
  apps/frontend/src/components/tests/__tests__/test-execution-history.test.ts
  apps/frontend/tests/e2e/tests/tokens.spec.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(backend): flush test set attrs after regeneration
  apps/backend/src/rhesis/backend/app/services/test_set.py
  tests/backend/crud/test_test_crud.py
Due: backend

perf(backend): index comment/task/tagged_item entity lookups (#2100)
  apps/backend/src/rhesis/backend/alembic/versions/a49cd5bee3d0_index_polymorphic_entity_lookups.py
Due: backend

Path conditions:
  sdk: any of: ^sdk/
  backend: any of: ^apps/backend/
  frontend-format: any of: ^apps/frontend/
  frontend-lint: any of: ^apps/frontend/
  docs-format: any of: ^apps/documentation/
  hardcoded-styles: any of: ^apps/(frontend|documentation)/
