Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, docs-format, hardcoded-styles

sdk:
  name: format sdk
  language: system
  entry: make -C sdk format
  pass_filenames: false

backend:
  name: format backend
  language: system
  entry: make -C apps/backend format_diff
  pass_filenames: false

frontend-format:
  name: auto-fix frontend formatting
  language: system
  entry: bash -c "cd apps/frontend && npm run format"
  pass_filenames: false

frontend-lint:
  name: lint frontend
  language: system
  entry: bash -c "cd apps/frontend && npm run lint"
  pass_filenames: false

docs-format:
  name: auto-fix docs formatting
  language: system
  entry: bash -c "cd apps/documentation && npm run format"
  pass_filenames: false

hardcoded-styles:
  name: check hardcoded styles in frontend and docs
  language: system
  entry: node scripts/check-hardcoded-styles.js
  pass_filenames: false

fix(wireguard): fix bind9_config_update retry failures on fresh VM
  terraform/infrastructure/modules/wireguard/gcp/bind9-update.tf
Due: none

patch argocd accounts cm
  kubernetes/bootstrap/argocd/kustomization.yaml
  kubernetes/bootstrap/argocd/patches/argocd-accounts-cm.yaml
Due: none

fix(prd): wire cluster-dns app and fix cert-manager email
  kubernetes/clusters/prd/kustomization.yaml
Due: none

test(prd): use internal ingress class for VPN-only testing
  charts/rhesis/values-prd.yaml
Due: none

allow insecure to skip tls certificate verification as the connection stays within the cluster
  .github/workflows/k8s-deploy.yml
Due: none

fix(prd): raise backend memory to 4Gi limit / 2Gi request
  charts/rhesis/values-prd.yaml
Due: none

chore(prd): point ArgoCD apps to feature branch for testing
  kubernetes/clusters/prd/alloy.yaml
  kubernetes/clusters/prd/argocd/argocd-application.yaml
  kubernetes/clusters/prd/base.yaml
  kubernetes/clusters/prd/cert-manager.yaml
  kubernetes/clusters/prd/cluster-dns-application.yaml
  kubernetes/clusters/prd/cnpg-cluster-application.yaml
  kubernetes/clusters/prd/external-dns.yaml
  kubernetes/clusters/prd/external-secrets.yaml
  kubernetes/clusters/prd/grafana-operator.yaml
  kubernetes/clusters/prd/grafana-resources.yaml
  kubernetes/clusters/prd/ingress-nginx-external.yaml
  kubernetes/clusters/prd/ingress-nginx-internal.yaml
  kubernetes/clusters/prd/internal-dns.yaml
  kubernetes/clusters/prd/kube-prometheus-stack.yaml
  kubernetes/clusters/prd/loki.yaml
  kubernetes/clusters/prd/rhesis/rhesis-application.yaml
Due: none

fix(prd): use wireguard server IP 10.0.0.10 for bind9
  kubernetes/clusters/prd/cluster-dns/kube-dns.yaml
  kubernetes/clusters/prd/cluster-dns/patch-job.yaml
  kubernetes/clusters/prd/internal-dns/kustomization.yaml
Due: none

fix(prd): point cnpg-operator to feature branch
  kubernetes/clusters/prd/cnpg-operator.yaml
Due: none

fix: remove grafana hpa to prevent looping in the grafana login
  kubernetes/clusters/prd/grafana-resources/grafana-replicas.yaml
  kubernetes/clusters/prd/grafana-resources/kustomization.yaml
Due: none

revertme: update target revision for test
  kubernetes/clusters/prd/arc.yaml
Due: none

chore(prd): pin global.imageTag for initial deploy
  charts/rhesis/values-prd.yaml
Due: none

fix(prd): use wireguard prd NIC IP 10.6.1.10 for node-sourced DNS
  kubernetes/clusters/prd/cluster-dns/kube-dns.yaml
  kubernetes/clusters/prd/cluster-dns/patch-job.yaml
Due: none

fix(test): remove duplicate joined_at in sso user utils test
  tests/backend/ee/sso/test_sso_user_utils.py
Due: none

test-polyphemus domain
  charts/rhesis/values-prd.yaml
Due: none

fix(e2e): avoid strict mode violation on insights page
  apps/frontend/tests/e2e/pages/InsightsPage.ts
Due: frontend-format, frontend-lint, hardcoded-styles

style(frontend): format InsightsPage e2e helper
  apps/frontend/tests/e2e/pages/InsightsPage.ts
Due: frontend-format, frontend-lint, hardcoded-styles

Store T&C acceptance in user_settings.terms (#2144)
  apps/backend/src/rhesis/backend/app/auth/public_routes.py
  apps/backend/src/rhesis/backend/app/auth/terms.py
  apps/backend/src/rhesis/backend/app/routers/auth.py
  apps/backend/src/rhesis/backend/app/schemas/user.py
  apps/backend/src/rhesis/backend/app/utils/rate_limit.py
  apps/backend/src/rhesis/backend/local_init.py
  apps/frontend/src/app/(protected)/ProtectedLayoutClient.tsx
  apps/frontend/src/app/(protected)/onboarding/components/OnboardingPageClient.tsx
  apps/frontend/src/app/(protected)/onboarding/components/OrganizationDetailsStep.tsx
  apps/frontend/src/app/(protected)/projects/[identifier]/__tests__/client-wrapper.test.tsx
  apps/frontend/src/components/auth/AuthForm.tsx
  apps/frontend/src/components/auth/TermsAcceptanceField.tsx
  apps/frontend/src/components/auth/TermsAcceptanceGate.tsx
  apps/frontend/src/components/auth/__tests__/AuthForm.test.tsx
  apps/frontend/src/utils/api-client/auth-client.ts
  apps/frontend/tests/e2e/auth.setup.ts
  apps/frontend/tests/e2e/helpers/TermsHelper.ts
  apps/frontend/tests/e2e/mock-backend.mjs
  apps/frontend/tests/e2e/pages/InsightsPage.ts
  apps/frontend/tests/e2e/tests/onboarding.spec.ts
  tests/backend/auth/test_terms.py
  tests/backend/ee/rbac/test_sp8_access_control.py
  tests/backend/ee/sso/test_sso_user_utils.py
  tests/backend/routes/test_auth.py
Due: backend, frontend-format, frontend-lint, hardcoded-styles

Update environment configuration and enhance Docker setup
  .env.example
  docker-compose.yml
  rh
Due: none

Update .env.example with default values for encryption and secret keys
  .env.example
Due: none

fix(frontend): AND-combine multiple test drawer filters
  apps/frontend/src/app/(protected)/tests/components/TestFilterDrawer.tsx
  apps/frontend/src/app/(protected)/tests/components/test-filter-model.ts
  apps/frontend/src/hooks/__tests__/useGridState.test.ts
  apps/frontend/src/hooks/useGridState.ts
Due: frontend-format, frontend-lint, hardcoded-styles

style(frontend): merge duplicate mui data-grid imports
  apps/frontend/src/hooks/__tests__/useGridState.test.ts
  apps/frontend/src/hooks/useGridState.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(architect): bundle skill refs and address review feedback
  sdk/pyproject.toml
  sdk/src/rhesis/sdk/agents/architect/agent.py
  sdk/src/rhesis/sdk/agents/architect/prompt_loader.py
  sdk/src/rhesis/sdk/agents/architect/prompt_templates/system_prompt.j2
  sdk/src/rhesis/sdk/agents/architect/prompt_templates/telemachus-creation-order.j2
  sdk/src/rhesis/sdk/agents/architect/workflow.py
  skills/rhesis/references/phases/creation.md
  skills/rhesis/references/phases/reuse.md
  skills/rhesis/references/telemachus-parity.md
  tests/backend/routes/test_tag.py
  tests/backend/services/test_mcp_tools_yaml.py
  tests/sdk/agents/test_architect_prompt_loader.py
Due: sdk

fix(ci): format SDK tests and relax system prompt size bound
  sdk/src/rhesis/sdk/agents/architect/workflow.py
  tests/sdk/agents/test_architect.py
  tests/sdk/agents/test_architect_prompt_loader.py
Due: sdk

feat(owasp): metrics based on the reports
  apps/backend/src/rhesis/backend/alembic/utils/metric_sync.py
  apps/backend/src/rhesis/backend/alembic/versions/38ed899b9f41_add_owasp_behaviors_and_metrics_to_.py
  apps/backend/src/rhesis/backend/app/services/initial_data.json
Due: backend

feat(frontend): add OWASP API client
  apps/frontend/src/utils/api-client/client-factory.ts
  apps/frontend/src/utils/api-client/owasp-client.ts
Due: frontend-format, frontend-lint, hardcoded-styles

feat(backend): add OWASP report API, service, and cache
  apps/backend/src/rhesis/backend/alembic/versions/30877432d102_add_owasp_capabilities.py
  apps/backend/src/rhesis/backend/app/main.py
  apps/backend/src/rhesis/backend/app/routers/__init__.py
  apps/backend/src/rhesis/backend/app/routers/owasp.py
  apps/backend/src/rhesis/backend/app/schemas/owasp.py
  apps/backend/src/rhesis/backend/app/services/owasp.py
  apps/backend/src/rhesis/backend/app/services/redis_constants.py
Due: backend

feat(frontend): add OWASP icon
  apps/frontend/src/components/OwaspIcon.tsx
  apps/frontend/src/components/icons.ts
Due: frontend-format, frontend-lint, hardcoded-styles

feat(backend): add celery task for OWASP test set generation
  apps/backend/src/rhesis/backend/tasks/test_set.py
Due: backend

feat(frontend): add OWASP generate drawer to test sets page
  apps/frontend/src/app/(protected)/test-sets/components/OwaspGenerateDrawer.tsx
  apps/frontend/src/app/(protected)/test-sets/page.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

docs: add environment variables reference page
  .env.example
  docs/content/docs/deployment/_meta.tsx
  docs/content/docs/deployment/docker-compose.mdx
  docs/content/docs/deployment/environment-variables.mdx
Due: none

Update environment configuration to include DEFAULT_EXECUTION_MODEL
  .env.example
  docker-compose.yml
  docs/content/docs/deployment/docker-compose.mdx
Due: none

fix(backend): rebase owasp migration onto joined_at head
  apps/backend/src/rhesis/backend/alembic/versions/38ed899b9f41_add_owasp_behaviors_and_metrics_to_.py
Due: backend

added firewal roles to accept cloudflare token
  terraform/infrastructure/envs/prd/main.tf
  terraform/infrastructure/modules/kubernetes/gcp/firewall.tf
  terraform/infrastructure/modules/kubernetes/gcp/main.tf
  terraform/infrastructure/modules/kubernetes/gcp/variables.tf
Due: none

docs: rename PRD workflow to requirements
  docs/content/docs/agent-skill/_meta.tsx
  docs/content/docs/agent-skill/for-agents.mdx
  docs/content/docs/agent-skill/index.mdx
  docs/content/docs/agent-skill/platform.mdx
  docs/content/docs/agent-skill/requirements.mdx
  docs/content/docs/getting-started/run-evaluations.mdx
  docs/content/docs/metrics/metric-scope.mdx
  docs/content/glossary/glossary-terms.jsonl
  docs/src/lib/llm-views.js
  sdk/src/rhesis/sdk/agents/architect/prompt_loader.py
  sdk/src/rhesis/sdk/agents/architect/prompt_templates/workflow-routing.j2
  skills/rhesis/.claude-plugin/plugin.json
  skills/rhesis/README.md
  skills/rhesis/SKILL.md
  skills/rhesis/references/definitions.md
  skills/rhesis/references/phases/planning.md
  skills/rhesis/references/requirements-workflow.md
  skills/rhesis/references/use-case-bracketfeld.md
  skills/rhesis/references/workflow-index.md
  tests/sdk/agents/test_architect.py
  tests/sdk/agents/test_architect_prompt_loader.py
Due: sdk

refactor(backend): remove env-name-based gating
  apps/backend/src/rhesis/backend/app/auth/url_utils.py
  apps/backend/src/rhesis/backend/app/config/settings.py
  apps/backend/src/rhesis/backend/app/main.py
  apps/backend/src/rhesis/backend/app/utils/git_utils.py
  tests/backend/app/test_settings.py
  tests/backend/auth/test_url_utils.py
Due: backend

refactor(backend): remove env-name-based gating (#2171)
  apps/backend/src/rhesis/backend/app/auth/url_utils.py
  apps/backend/src/rhesis/backend/app/config/settings.py
  apps/backend/src/rhesis/backend/app/main.py
  apps/backend/src/rhesis/backend/app/utils/git_utils.py
  tests/backend/app/test_settings.py
  tests/backend/auth/test_url_utils.py
Due: backend

Revert "test-polyphemus domain"
  charts/rhesis/values-prd.yaml
Due: none

Path conditions:
  sdk: any of: ^sdk/
  backend: any of: ^apps/backend/
  frontend-format: any of: ^apps/frontend/
  frontend-lint: any of: ^apps/frontend/
  docs-format: any of: ^apps/documentation/
  hardcoded-styles: any of: ^apps/(frontend|documentation)/
