Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, docs-format, hardcoded-styles

sdk:
  name: format sdk
  language: system
  entry: make -C sdk format
  pass_filenames: false

backend:
  name: format backend
  language: system
  entry: make -C apps/backend format_diff
  pass_filenames: false

frontend-format:
  name: auto-fix frontend formatting
  language: system
  entry: bash -c "cd apps/frontend && npm run format"
  pass_filenames: false

frontend-lint:
  name: lint frontend
  language: system
  entry: bash -c "cd apps/frontend && npm run lint"
  pass_filenames: false

docs-format:
  name: auto-fix docs formatting
  language: system
  entry: bash -c "cd apps/documentation && npm run format"
  pass_filenames: false

hardcoded-styles:
  name: check hardcoded styles in frontend and docs
  language: system
  entry: node scripts/check-hardcoded-styles.js
  pass_filenames: false

docs: streamline integrations list
  README.md
Due: none

fix(frontend): resolve no-non-null-assertion warnings
  apps/frontend/src/app/(protected)/mcp/components/MCPConnectionDialog.tsx
  apps/frontend/src/app/(protected)/metrics/components/MetricsDirectoryTab.tsx
  apps/frontend/src/app/(protected)/models/components/ConnectionDialog.tsx
  apps/frontend/src/app/(protected)/playground/components/MessageBubble.tsx
  apps/frontend/src/app/(protected)/playground/components/PlaygroundClient.tsx
  apps/frontend/src/app/(protected)/test-results/components/TestResultsSummary.tsx
  apps/frontend/src/app/(protected)/test-results/components/timelineUtils.ts
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/ComparisonView.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestDetailHistoryTab.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestDetailReviewsTab.tsx
  apps/frontend/src/app/(protected)/test-sets/components/TestSetsGrid.tsx
  apps/frontend/src/app/(protected)/tests/new-generated/components/shared/ChatPreview.tsx
  apps/frontend/src/app/(protected)/tests/new-generated/components/shared/ChipGroup.tsx
  apps/frontend/src/app/(protected)/tests/new-generated/components/shared/EndpointSelector.tsx
  apps/frontend/src/app/(protected)/traces/components/SpanGraphView.tsx
  apps/frontend/src/components/common/BaseWorkflowSection.tsx
  apps/frontend/src/components/common/ConversationHistory.tsx
  apps/frontend/src/components/tasks/TaskCreationDrawer.tsx
  apps/frontend/src/utils/websocket/client.ts
Due: frontend-format, frontend-lint, hardcoded-styles

docs: add integrations section and remove unnecessary image readme
  .github/images/README.md
  README.md
Due: none

docs: add integrations section and remove unnecessary image readme (#1305)
  .github/images/README.md
  README.md
Due: none

fix: correct API docs URL to api.rhesis.ai
  README.md
Due: none

fix: update integration docs link to development page
  README.md
Due: none

fix: correct integration documentation links
  README.md
Due: none

fix: correct integration documentation links (#1306)
  README.md
Due: none

build: add passlib to worker dependencies
  apps/worker/pyproject.toml
  apps/worker/uv.lock
Due: none

build: add passlib to worker dependencies (#1307)
  apps/worker/pyproject.toml
  apps/worker/uv.lock
Due: none

feat(backend): add last-run endpoint and output reuse in execution
  apps/backend/src/rhesis/backend/app/routers/test_set.py
  apps/backend/src/rhesis/backend/app/schemas/test_set.py
  apps/backend/src/rhesis/backend/app/services/test_set.py
Due: backend

feat(frontend): add scoring target and execution mode to drawers
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/RerunTestRunDrawer.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestRunMainView.tsx
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/ExecuteTestSetDrawer.tsx
  apps/frontend/src/utils/api-client/interfaces/test-set.ts
  apps/frontend/src/utils/api-client/test-sets-client.ts
Due: frontend-format, frontend-lint, hardcoded-styles

test(tests): add integration tests for output reuse endpoints
  tests/backend/routes/test_execute_with_reuse.py
Due: none

docs: add scoring target documentation to test execution guide
  docs/content/platform/test-execution/index.mdx
Due: none

fix(dev): resolve Python security vulnerabilities
  apps/backend/uv.lock
  apps/chatbot/uv.lock
  apps/polyphemus/uv.lock
  apps/worker/uv.lock
  examples/telemetry/uv.lock
  penelope/uv.lock
  sdk/uv.lock
Due: sdk, backend

fix(dev): resolve Python security vulnerabilities (#1308)
  apps/backend/uv.lock
  apps/chatbot/uv.lock
  apps/polyphemus/uv.lock
  apps/worker/uv.lock
  examples/telemetry/uv.lock
  penelope/uv.lock
  sdk/uv.lock
Due: sdk, backend

fix(frontend): resolve react-hooks/exhaustive-deps warnings
  apps/frontend/src/app/(protected)/dashboard/components/ActivityTimeline.tsx
  apps/frontend/src/app/(protected)/dashboard/components/DashboardKPIs.tsx
  apps/frontend/src/app/(protected)/dashboard/components/TestRunPerformance.tsx
  apps/frontend/src/app/(protected)/knowledge/components/MCPToolSelectorDialog.tsx
  apps/frontend/src/app/(protected)/playground/components/MessageBubble.tsx
  apps/frontend/src/app/(protected)/playground/components/PlaygroundClient.tsx
  apps/frontend/src/app/(protected)/tasks/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/tasks/components/TasksGrid.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/ReviewJudgementDrawer.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestResultTags.tsx
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/TestSetMetrics.tsx
  apps/frontend/src/app/(protected)/test-sets/components/GarakImportDialog.tsx
  apps/frontend/src/app/(protected)/tests/new-generated/components/TestGenerationFlow.tsx
  apps/frontend/src/app/(protected)/tests/new-generated/components/TestGenerationInterface.tsx
  apps/frontend/src/app/(protected)/tests/new-generated/components/shared/ChipGroup.tsx
  apps/frontend/src/app/(protected)/tests/new-generated/components/shared/EndpointSelector.tsx
  apps/frontend/src/app/(protected)/tests/new-generated/components/shared/ProjectSelector.tsx
  apps/frontend/src/app/(protected)/tests/new-generated/components/shared/SourceSelector.tsx
  apps/frontend/src/app/(protected)/traces/components/SpanSequenceView.tsx
  apps/frontend/src/app/(protected)/traces/components/TestResultTab.tsx
  apps/frontend/src/app/(protected)/traces/components/TraceDrawer.tsx
  apps/frontend/src/components/common/DragAndDropUpload.tsx
  apps/frontend/src/components/common/SelectBehaviorsDialog.tsx
  apps/frontend/src/components/common/SelectMetricsDialog.tsx
  apps/frontend/src/components/tasks/TasksSection.tsx
  apps/frontend/src/hooks/useComments.ts
  apps/frontend/src/hooks/useTasks.ts
  apps/frontend/src/hooks/useWebSocket.ts
Due: frontend-format, frontend-lint, hardcoded-styles

Enhance backend testing setup with new Makefile targets and integration test configurations
  apps/backend/Makefile
  tests/backend/conftest.py
  tests/backend/integration/docker-compose.yml
Due: backend

refactor(frontend): simplify make test command to match SDK pattern
  apps/frontend/Makefile
Due: frontend-format, frontend-lint, hardcoded-styles

testing: Update integration test configurations to use new ports for PostgreSQL and Redis
  tests/backend/conftest.py
  tests/backend/integration/docker-compose.yml
  tests/sdk/integration/docker-compose.yml
Due: none

Add local-style backend test workflow
  .github/workflows/backend-test-local.yml
Due: none

next
  .github/workflows/backend-test-local.yml
  tests/backend/db/test_config.py
Due: none

Update Docker images and tmpfs configurations in integration tests
  tests/backend/integration/docker-compose.yml
Due: none

reafactor(tests) Makefile test commands for clarity
  apps/backend/Makefile
Due: backend

chore(test): Update backend test workflow to include additional CPU resources during dependency installation
  .github/workflows/backend-test-local.yml
Due: none

chore(test): Enhance unit test commands
  apps/backend/Makefile
Due: backend

refactor(tests): Improve database migration handling in test setup
  tests/backend/conftest.py
Due: none

refactor(test): Remove local-style backend test workflow file
  .github/workflows/backend-test-local.yml
  .github/workflows/backend-test.yml
Due: none

refactor(workflow): Simplify backend test workflow by removing local development instructions
  .github/workflows/backend-test.yml
Due: none

Add local backend testing infrastructure (#1170)
  .github/workflows/backend-test-local.yml
  .github/workflows/backend-test.yml
  apps/backend/Makefile
  tests/backend/conftest.py
  tests/backend/db/test_config.py
  tests/backend/integration/docker-compose.yml
  tests/sdk/integration/docker-compose.yml
Due: backend

feat(backend): add missing model provider types
  apps/backend/src/rhesis/backend/alembic/versions/c0974af513a6_add_vertex_ai_provider_type.py
  apps/backend/src/rhesis/backend/app/services/initial_data.json
Due: backend

fix(frontend): change from meta to meta_llama
  apps/frontend/src/config/model-providers.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

chore: fix long line
  apps/frontend/src/config/model-providers.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

chore: reformat file
  apps/backend/src/rhesis/backend/alembic/versions/c0974af513a6_add_vertex_ai_provider_type.py
Due: backend

fix(alembic) correct downrevision
  apps/backend/src/rhesis/backend/alembic/versions/c0974af513a6_add_vertex_ai_provider_type.py
Due: backend

Add missing model provider types for vertex_ai, polyphemus, and lmformatenforcer (#1310)
  apps/backend/src/rhesis/backend/alembic/versions/c0974af513a6_add_vertex_ai_provider_type.py
  apps/backend/src/rhesis/backend/app/services/initial_data.json
  apps/frontend/src/config/model-providers.tsx
Due: backend, frontend-format, frontend-lint, hardcoded-styles

refactor(sdk): use flat schema for batch generation and repack to nested
  sdk/src/rhesis/sdk/synthesizers/base.py
  tests/sdk/synthesizers/test_prompt_synthesizer.py
Due: sdk

refactor(frontend): simplify make test command to match SDK pattern (#1309)
  apps/frontend/Makefile
Due: frontend-format, frontend-lint, hardcoded-styles

Add Playwright E2E smoke tests (#1299)
  .github/workflows/frontend-e2e-test.yml
  apps/frontend/.gitignore
  apps/frontend/e2e/.auth/.gitkeep
  apps/frontend/e2e/auth.setup.ts
  apps/frontend/e2e/pages/DashboardPage.ts
  apps/frontend/e2e/pages/LoginPage.ts
  apps/frontend/e2e/pages/ProjectsPage.ts
  apps/frontend/e2e/tests/endpoints.spec.ts
  apps/frontend/e2e/tests/health.spec.ts
  apps/frontend/e2e/tests/knowledge.spec.ts
  apps/frontend/e2e/tests/navigation.spec.ts
  apps/frontend/e2e/tests/page-smoke.spec.ts
  apps/frontend/e2e/tests/projects.spec.ts
  apps/frontend/e2e/tests/tasks.spec.ts
  apps/frontend/e2e/tests/test-runs.spec.ts
  apps/frontend/e2e/tests/test-sets.spec.ts
  apps/frontend/e2e/tests/tokens.spec.ts
  apps/frontend/e2e/tests/traces.spec.ts
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/playwright.config.ts
Due: frontend-format, frontend-lint, hardcoded-styles

Path conditions:
  sdk: any of: ^sdk/
  backend: any of: ^apps/backend/
  frontend-format: any of: ^apps/frontend/
  frontend-lint: any of: ^apps/frontend/
  docs-format: any of: ^apps/documentation/
  hardcoded-styles: any of: ^apps/(frontend|documentation)/
