Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, docs-format, hardcoded-styles

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict

  - repo: local
    hooks:
        - id: trufflehog
          name: TruffleHog
          description: Detect secrets in your data.
          entry: bash -c 'PATH="$HOME/.local/bin:$PATH" trufflehog git file://. --since-commit HEAD --only-verified --fail --no-update'
          language: system
          stages: ["pre-commit", "pre-push"]

        - id: sdk
          name  : format sdk
          language: system
          entry: make -C sdk format
          files: ^sdk/
          pass_filenames: false

        - id: backend
          name  : format backend
          language: system
          entry: make -C apps/backend format_diff
          files: ^apps/backend/
          pass_filenames: false

        - id: frontend-format
          name: auto-fix frontend formatting
          language: system
          entry: bash -c "cd apps/frontend && npm run format"
          files: ^apps/frontend/
          pass_filenames: false

        - id: frontend-lint
          name: lint frontend
          language: system
          entry: bash -c "cd apps/frontend && npm run lint"
          files: ^apps/frontend/
          pass_filenames: false

        - id: docs-format
          name: auto-fix docs formatting
          language: system
          entry: bash -c "cd apps/documentation && npm run format"
          files: ^apps/documentation/
          pass_filenames: false

        - id: hardcoded-styles
          name: check hardcoded styles in frontend and docs
          language: system
          entry: node scripts/check-hardcoded-styles.js
          files: ^apps/(frontend|documentation)/
          pass_filenames: false


  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.8.0
  #   hooks:
  #     - id: mypy
  #       additional_dependencies: [
  #         "types-requests",
  #         "pandas-stubs",
  #         "pyarrow-stubs",
  #         "types-tqdm"
  #       ]

feat(dev): add pod disruption budgets
  charts/rhesis/templates/backend/pdb.yaml
  charts/rhesis/templates/frontend/pdb.yaml
Due: none

feat(dev): alert on postgres connection use
  kubernetes/base/grafana-resources/basic-alerts.yaml
  kubernetes/base/grafana-resources/kustomization.yaml
  kubernetes/base/grafana-resources/postgres-alerts.yaml
Due: none

chore(backend): name db connections by role
  apps/backend/src/rhesis/backend/app/database.py
  apps/backend/start.sh
  apps/worker/start.sh
Due: backend

fix(dev): align worker and api process settings
  .env.example
  apps/worker/start.sh
  charts/rhesis/templates/worker/hpa.yaml
  charts/rhesis/values-prd.yaml
  charts/rhesis/values.yaml
  docker-compose.yml
  scripts/rh/services.sh
Due: none

fix(dev): keep scale-down off the stg worker node
  charts/rhesis/templates/worker/deployment.yaml
  charts/rhesis/values-stg.yaml
  charts/rhesis/values.yaml
Due: none

feat(dev): run migrations as a presync job
  charts/rhesis/templates/backend/deployment.yaml
  charts/rhesis/templates/backend/migrate-job.yaml
  charts/rhesis/values-prd.yaml
  charts/rhesis/values.yaml
  docs/content/contribute/backend/deployment.mdx
  docs/content/contribute/backend/index.mdx
Due: none

fix(backend): enqueue embedding generation
  apps/backend/src/rhesis/backend/app/services/embedding/services.py
  tests/backend/services/test_embedding_service.py
Due: backend

fix(backend): run auth lookups in the threadpool
  apps/backend/src/rhesis/backend/app/auth/user_utils.py
  apps/backend/src/rhesis/backend/app/dependencies.py
  apps/backend/src/rhesis/backend/app/routers/websocket.py
  apps/backend/src/rhesis/backend/app/services/websocket/authorization.py
  apps/backend/src/rhesis/backend/app/services/websocket/manager.py
Due: backend

feat(dev): scrape cnpg metrics
  kubernetes/clusters/prd/cnpg-cluster/cnpg-cluster.yaml
  kubernetes/clusters/prd/cnpg-cluster/cnpg-podmonitor.yaml
  kubernetes/clusters/prd/cnpg-cluster/kustomization.yaml
  kubernetes/clusters/stg/cnpg-cluster/cnpg-cluster.yaml
  kubernetes/clusters/stg/cnpg-cluster/cnpg-podmonitor.yaml
  kubernetes/clusters/stg/cnpg-cluster/kustomization.yaml
Due: none

fix(dev): run two backend and frontend pods in stg
  charts/rhesis/values-stg.yaml
Due: none

test(tests): forbid sync sessions on the loop
  tests/backend/test_no_sync_db_on_loop.py
Due: none

refactor(backend): take explorer work off loop
  apps/backend/src/rhesis/backend/app/routers/explorer.py
  apps/backend/src/rhesis/backend/app/routers/preflight.py
  apps/backend/src/rhesis/backend/app/services/explorer/evaluation.py
  apps/backend/src/rhesis/backend/app/services/explorer/responses.py
  apps/backend/src/rhesis/backend/app/services/explorer/suggestions.py
  apps/backend/src/rhesis/backend/app/services/preflight/checks.py
  apps/backend/src/rhesis/backend/app/services/preflight/orchestrator.py
  apps/backend/src/rhesis/backend/app/services/preflight/utils.py
  tests/backend/routes/test_preflight.py
  tests/backend/services/test_preflight.py
Due: backend

refactor(backend): take endpoint service off loop
  apps/backend/src/rhesis/backend/app/services/endpoint/off_loop.py
  apps/backend/src/rhesis/backend/app/services/endpoint/service.py
  apps/backend/src/rhesis/backend/app/services/endpoint/testing.py
  tests/backend/routes/test_endpoint.py
Due: backend

refactor(backend): take source and tool work off loop
  apps/backend/src/rhesis/backend/app/routers/source.py
  apps/backend/src/rhesis/backend/app/services/source.py
  apps/backend/src/rhesis/backend/app/services/tool/rest/health.py
  apps/backend/src/rhesis/backend/app/services/tool/rest/jira.py
  tests/backend/services/test_source_off_loop.py
  tests/backend/services/test_tool_off_loop.py
Due: backend

fix(backend): size the redis cache pool
  apps/backend/src/rhesis/backend/app/services/cache.py
  tests/backend/services/telemetry/test_conversation_linking.py
  tests/backend/services/test_cache.py
  tests/backend/services/test_run_timing.py
Due: backend

perf(backend): cut per-session round trips
  apps/backend/src/rhesis/backend/app/auth/token_validation.py
  apps/backend/src/rhesis/backend/app/database.py
  tests/backend/auth/test_token_usage_debounce.py
  tests/backend/db/test_session_overhead.py
Due: backend

refactor(backend): take login work off the loop
  apps/backend/src/rhesis/backend/app/auth/providers/email.py
  ee/backend/src/rhesis/backend/ee/sso/token_exchange/exchange.py
  ee/backend/src/rhesis/backend/ee/sso/token_exchange/router.py
  tests/backend/auth/test_email_provider_off_loop.py
  tests/backend/ee/sso/token_exchange/test_exchange_off_loop.py
  tests/backend/routes/test_auth.py
Due: backend

feat(backend): add a readiness probe
  apps/backend/src/rhesis/backend/app/auth/capabilities.py
  apps/backend/src/rhesis/backend/app/auth/public_routes.py
  apps/backend/src/rhesis/backend/app/main.py
  apps/backend/src/rhesis/backend/logging/logging_config.py
  charts/rhesis/values-dev.yaml
  charts/rhesis/values-prd.yaml
  charts/rhesis/values-stg.yaml
  charts/rhesis/values.yaml
  tests/backend/app/test_access_log_filter.py
  tests/backend/app/test_readiness.py
  tests/backend/security/test_authz_coverage.py
  tests/backend/test_auth_backstop.py
Due: backend

refactor(backend): take route handlers off the loop
  apps/backend/src/rhesis/backend/app/routers/auth.py
  apps/backend/src/rhesis/backend/app/routers/endpoint.py
  apps/backend/src/rhesis/backend/app/routers/file_import.py
  apps/backend/src/rhesis/backend/app/routers/garak.py
  apps/backend/src/rhesis/backend/app/routers/model.py
  apps/backend/src/rhesis/backend/app/routers/owasp.py
  apps/backend/src/rhesis/backend/app/routers/tools.py
  apps/backend/src/rhesis/backend/app/utils/decorators.py
  ee/backend/src/rhesis/backend/ee/api_clients/router.py
  ee/backend/src/rhesis/backend/ee/sso/router.py
  tests/backend/routes/test_owasp_async_dispatch.py
Due: backend

refactor(backend): carry job_id on events
  apps/backend/src/rhesis/backend/events/dispatcher.py
  apps/backend/src/rhesis/backend/events/sinks/activity_log.py
  apps/backend/src/rhesis/backend/events/sinks/websocket.py
  apps/backend/src/rhesis/backend/events/types.py
  apps/backend/src/rhesis/backend/jobs/__init__.py
  apps/backend/src/rhesis/backend/jobs/base.py
  apps/backend/src/rhesis/backend/jobs/tracking.py
  tests/backend/events/test_sinks_job_id.py
  tests/backend/jobs/test_base_job_job_id.py
Due: backend

refactor(backend): take generation work off loop
  apps/backend/src/rhesis/backend/app/routers/services.py
  apps/backend/src/rhesis/backend/app/routers/test.py
  apps/backend/src/rhesis/backend/app/services/generation.py
  apps/backend/src/rhesis/backend/app/services/test_config_generator.py
  apps/backend/src/rhesis/backend/app/services/test_execution.py
  apps/backend/src/rhesis/backend/app/services/tool/mcp/operations.py
  tests/backend/routes/test_services.py
  tests/backend/services/test_generation.py
  tests/backend/services/test_test_config_generator.py
  tests/backend/services/test_test_execution.py
Due: backend

test(tests): make the new tests able to fail
  tests/backend/_helpers.py
  tests/backend/ee/sso/token_exchange/_helpers.py
  tests/backend/ee/sso/token_exchange/test_exchange_off_loop.py
  tests/backend/ee/sso/token_exchange/test_feature_gating.py
  tests/backend/events/_helpers.py
  tests/backend/events/test_sinks_job_id.py
  tests/backend/jobs/test_batch_progress_in_persist.py
  tests/backend/routes/test_services.py
  tests/backend/services/test_cache.py
  tests/backend/services/test_endpoint_token_off_loop.py
  tests/backend/services/test_generation.py
  tests/backend/services/test_source_off_loop.py
  tests/backend/services/test_test_config_generator.py
  tests/backend/services/test_tool_off_loop.py
  tests/backend/services/websocket/test_authorization.py
  tests/backend/services/websocket/test_sp11_channel_authz.py
  tests/backend/test_no_sync_db_on_loop.py
  tests/benchmarks/README.md
  tests/benchmarks/backend/support.py
Due: none

refactor(backend): one shape for the off-loop helpers
  apps/backend/src/rhesis/backend/app/database.py
  apps/backend/src/rhesis/backend/app/routers/auth.py
  apps/backend/src/rhesis/backend/app/routers/file_import.py
  apps/backend/src/rhesis/backend/app/routers/garak.py
  apps/backend/src/rhesis/backend/app/routers/services.py
  apps/backend/src/rhesis/backend/app/routers/tools.py
  apps/backend/src/rhesis/backend/app/routers/websocket.py
  apps/backend/src/rhesis/backend/app/services/generation.py
  apps/backend/src/rhesis/backend/app/services/source.py
  apps/backend/src/rhesis/backend/app/services/test_execution.py
  apps/backend/src/rhesis/backend/app/services/tool/mcp/operations.py
  apps/backend/src/rhesis/backend/app/services/tool/rest/jira.py
  apps/backend/src/rhesis/backend/app/services/websocket/authorization.py
  apps/backend/src/rhesis/backend/app/services/websocket/manager.py
  apps/backend/src/rhesis/backend/events/sinks/activity_log.py
  apps/backend/src/rhesis/backend/jobs/execution/batch/persist.py
  apps/backend/src/rhesis/backend/jobs/tracking.py
  ee/backend/src/rhesis/backend/ee/api_clients/router.py
  ee/backend/src/rhesis/backend/ee/sso/router.py
  ee/backend/src/rhesis/backend/ee/sso/token_exchange/exchange.py
Due: backend

test(tests): add backend performance benchmarks
  tests/benchmarks/README.md
  tests/benchmarks/__init__.py
  tests/benchmarks/backend/__init__.py
  tests/benchmarks/backend/conftest.py
  tests/benchmarks/backend/results/.gitignore
  tests/benchmarks/backend/support.py
  tests/benchmarks/backend/test_list_queries.py
  tests/benchmarks/backend/test_request_path.py
  tests/benchmarks/backend/test_worker_batch.py
  tests/benchmarks/compare.py
Due: none

fix(backend): read the job id header under its own name
  apps/backend/src/rhesis/backend/jobs/base.py
Due: backend

perf(backend): hoist rls policy lookups
  apps/backend/src/rhesis/backend/alembic/versions/b8d2f3e4a5c6_evaluate_rls_policies_once.py
Due: backend

perf(backend): rate-limit job progress writes
  apps/backend/src/rhesis/backend/jobs/base.py
  apps/backend/src/rhesis/backend/jobs/execution/sequential.py
  tests/backend/jobs/test_sequential_commit_before_test.py
  tests/backend/jobs/test_set_progress_coalescing.py
Due: backend

perf(backend): index organization_id columns
  apps/backend/src/rhesis/backend/alembic/versions/a7c1e2d3f4b5_index_tenant_filters.py
  apps/backend/src/rhesis/backend/app/models/category.py
  apps/backend/src/rhesis/backend/app/models/comment.py
  apps/backend/src/rhesis/backend/app/models/endpoint.py
  apps/backend/src/rhesis/backend/app/models/metric.py
  apps/backend/src/rhesis/backend/app/models/mixins.py
  apps/backend/src/rhesis/backend/app/models/prompt.py
  apps/backend/src/rhesis/backend/app/models/requirement.py
  apps/backend/src/rhesis/backend/app/models/tag.py
  apps/backend/src/rhesis/backend/app/models/task.py
  apps/backend/src/rhesis/backend/app/models/test.py
  apps/backend/src/rhesis/backend/app/models/test_run.py
  apps/backend/src/rhesis/backend/app/models/test_set.py
  apps/backend/src/rhesis/backend/app/models/topic.py
Due: backend

fix(backend): keep oauth token fetches off the loop
  apps/backend/src/rhesis/backend/app/routers/endpoint.py
  apps/backend/src/rhesis/backend/app/services/endpoint/off_loop.py
  apps/backend/src/rhesis/backend/app/services/invokers/auth/manager.py
  tests/backend/services/invokers/test_auth_manager.py
Due: backend

fix(backend): contain a failed test to its own run
  apps/backend/src/rhesis/backend/jobs/execution/sequential.py
  tests/backend/jobs/test_sequential_commit_before_test.py
Due: backend

fix(dev): size boot probes for the migration job
  .env.example
  charts/rhesis/values-dev.yaml
  charts/rhesis/values-stg.yaml
  charts/rhesis/values.yaml
Due: none

fix(backend): take preflight connectivity off the loop
  apps/backend/src/rhesis/backend/app/routers/preflight.py
  apps/backend/src/rhesis/backend/app/services/preflight/checks.py
  apps/backend/src/rhesis/backend/app/services/preflight/orchestrator.py
  apps/backend/src/rhesis/backend/app/services/preflight/utils.py
  tests/backend/routes/test_preflight.py
  tests/backend/services/test_preflight.py
Due: backend

fix(backend): let readiness tolerate a slow database
  apps/backend/src/rhesis/backend/app/main.py
  tests/backend/app/test_readiness.py
Due: backend

perf(backend): write test progress with the result
  apps/backend/src/rhesis/backend/events/sinks/activity_log.py
  apps/backend/src/rhesis/backend/jobs/base.py
  apps/backend/src/rhesis/backend/jobs/execution/batch/__init__.py
  apps/backend/src/rhesis/backend/jobs/execution/batch/persist.py
  apps/backend/src/rhesis/backend/jobs/execution/batch/runner.py
  tests/backend/jobs/test_batch_progress_in_persist.py
  tests/backend/jobs/test_progress_narration.py
Due: backend

fix(backend): chain trello migration onto the current head
  apps/backend/src/rhesis/backend/alembic/versions/b6723e65f233_add_trello_tool_provider_type.py
Due: backend

feat: add test_parameters for per-test context in endpoint mappings
  CHANGELOG.md
  apps/backend/CHANGELOG.md
  apps/backend/src/rhesis/backend/alembic/versions/c3a4b5d6e7f8_add_test_parameters_column.py
  apps/backend/src/rhesis/backend/app/models/test.py
  apps/backend/src/rhesis/backend/app/schemas/test.py
  apps/backend/src/rhesis/backend/app/services/connector/manager.py
  apps/backend/src/rhesis/backend/app/services/connector/schemas.py
  apps/backend/src/rhesis/backend/app/services/invokers/sdk_invoker.py
  apps/backend/src/rhesis/backend/app/services/invokers/templating/renderer.py
  apps/backend/src/rhesis/backend/jobs/execution/batch/invocation.py
  apps/backend/src/rhesis/backend/jobs/execution/executors/output_providers.py
  apps/backend/src/rhesis/backend/jobs/execution/penelope_target.py
  apps/frontend/CHANGELOG.md
  apps/frontend/src/app/(protected)/tests/[identifier]/components/TestParametersBlock.tsx
  apps/frontend/src/app/(protected)/tests/[identifier]/components/TestTechnicalCard.tsx
  apps/frontend/src/utils/api-client/interfaces/tests.ts
  docs/content/docs/endpoints/request-mapping.mdx
  docs/content/docs/experiments/connector-injection.mdx
  docs/content/docs/tests/index.mdx
  docs/content/sdk/connector/mapping.mdx
  docs/content/sdk/parameters.mdx
  sdk/CHANGELOG.md
  sdk/src/rhesis/sdk/__init__.py
  sdk/src/rhesis/sdk/connector/manager.py
  sdk/src/rhesis/sdk/connector/schemas.py
  sdk/src/rhesis/sdk/decorators/_state.py
  sdk/src/rhesis/sdk/entities/test.py
Due: sdk, backend, frontend-format, frontend-lint, hardcoded-styles

fix(tests): repair test failures from test_parameters additions
  tests/backend/jobs/test_http_error_skip_metrics.py
  tests/backend/services/test_file_integration.py
  tests/backend/test_secret_equality.py
Due: none
