Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, docs-format, hardcoded-styles

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict

  - repo: local
    hooks:
        - id: trufflehog
          name: TruffleHog
          description: Detect secrets in your data.
          entry: bash -c 'PATH="$HOME/.local/bin:$PATH" trufflehog git file://. --since-commit HEAD --only-verified --fail --no-update'
          language: system
          stages: ["pre-commit", "pre-push"]

        - id: sdk
          name  : format sdk
          language: system
          entry: make -C sdk format
          files: ^sdk/
          pass_filenames: false

        - id: backend
          name  : format backend
          language: system
          entry: make -C apps/backend format_diff
          files: ^apps/backend/
          pass_filenames: false

        - id: frontend-format
          name: auto-fix frontend formatting
          language: system
          entry: bash -c "cd apps/frontend && npm run format"
          files: ^apps/frontend/
          pass_filenames: false

        - id: frontend-lint
          name: lint frontend
          language: system
          entry: bash -c "cd apps/frontend && npm run lint"
          files: ^apps/frontend/
          pass_filenames: false

        - id: docs-format
          name: auto-fix docs formatting
          language: system
          entry: bash -c "cd apps/documentation && npm run format"
          files: ^apps/documentation/
          pass_filenames: false

        - id: hardcoded-styles
          name: check hardcoded styles in frontend and docs
          language: system
          entry: node scripts/check-hardcoded-styles.js
          files: ^apps/(frontend|documentation)/
          pass_filenames: false


  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.8.0
  #   hooks:
  #     - id: mypy
  #       additional_dependencies: [
  #         "types-requests",
  #         "pandas-stubs",
  #         "pyarrow-stubs",
  #         "types-tqdm"
  #       ]

fix(auth): address review feedback and migration conflict
  apps/backend/src/rhesis/backend/alembic/versions/c9e8f7a6b5d4_add_terms_acceptance_to_user.py
  apps/backend/src/rhesis/backend/app/auth/terms.py
  apps/backend/src/rhesis/backend/app/models/user.py
  apps/backend/src/rhesis/backend/app/routers/auth.py
  apps/frontend/src/components/auth/AuthForm.tsx
  tests/backend/auth/test_terms.py
Due: backend, frontend-format, frontend-lint, hardcoded-styles

added sso encryption key (#2145)
  kubernetes/clusters/dev/external-secrets/rhesis-app-secrets.yaml
  kubernetes/clusters/prd/external-secrets/rhesis-app-secrets.yaml
  kubernetes/clusters/stg/external-secrets/rhesis-app-secrets.yaml
Due: none

feat(frontend): add cross-project entity resolution
  apps/backend/src/rhesis/backend/app/routers/__init__.py
  apps/backend/src/rhesis/backend/app/routers/resolve.py
  apps/frontend/src/app/(protected)/behaviors/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/endpoints/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/error.tsx
  apps/frontend/src/app/(protected)/experiments/[identifier]/components/ExperimentDetailClient.tsx
  apps/frontend/src/app/(protected)/explorer/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/knowledge/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/metrics/[identifier]/MetricDetailView.tsx
  apps/frontend/src/app/(protected)/not-found.tsx
  apps/frontend/src/app/(protected)/projects/[identifier]/endpoints/[endpointId]/page.tsx
  apps/frontend/src/app/(protected)/tasks/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/compare/page.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/test-sets/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/tests/[identifier]/page.tsx
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/components/common/CrossProjectAlert.tsx
  apps/frontend/src/components/common/DetailNotFoundState.tsx
  apps/frontend/src/hooks/useCrossProjectResolve.ts
  apps/frontend/src/utils/__tests__/entity-error-handler.test.ts
  apps/frontend/src/utils/api-client/client-factory.ts
  apps/frontend/src/utils/api-client/resolve-client.ts
  apps/frontend/src/utils/entity-error-handler.ts
  apps/frontend/src/utils/entity-not-found-server.ts
  tests/backend/routes/test_resolve.py
Due: backend, frontend-format, frontend-lint, hardcoded-styles

style(frontend): fix AuthForm indentation for prettier
  apps/frontend/src/components/auth/AuthForm.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

refactor(frontend): align not-found UI with empty state styling
  apps/frontend/src/app/(protected)/not-found.tsx
  apps/frontend/src/components/common/CrossProjectAlert.tsx
  apps/frontend/src/components/common/DetailNotFoundState.tsx
  apps/frontend/src/components/common/EntityEmptyState.tsx
  apps/frontend/src/components/common/EntityEmptyStateEnrichmentParts.tsx
  apps/frontend/src/components/common/EntityMessageState.tsx
  apps/frontend/src/components/common/SectionEmptyState.tsx
  apps/frontend/src/components/common/entityEmptyStateSx.ts
  apps/frontend/src/utils/entity-detail-icons.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(auth): expose terms-status as public route
  apps/backend/src/rhesis/backend/app/auth/public_routes.py
  tests/backend/routes/test_auth.py
Due: backend

style(frontend): apply prettier formatting
  apps/frontend/src/components/common/DetailNotFoundState.tsx
  apps/frontend/src/components/common/EntityEmptyState.tsx
  apps/frontend/src/components/common/EntityMessageState.tsx
  apps/frontend/src/components/common/entityEmptyStateSx.ts
  apps/frontend/src/hooks/useCrossProjectResolve.ts
  apps/frontend/src/utils/entity-detail-icons.ts
  apps/frontend/src/utils/entity-error-handler.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): address peqy review on cross-project resolve
  apps/backend/src/rhesis/backend/app/routers/resolve.py
  apps/frontend/src/app/(protected)/endpoints/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/experiments/[identifier]/components/ExperimentDetailClient.tsx
  apps/frontend/src/app/(protected)/metrics/[identifier]/MetricDetailView.tsx
  apps/frontend/src/app/(protected)/projects/[identifier]/endpoints/[endpointId]/page.tsx
  apps/frontend/src/app/(protected)/tasks/[identifier]/page.tsx
  apps/frontend/src/components/common/DetailEntityMissingState.tsx
  apps/frontend/src/components/common/DetailNotFoundState.tsx
  apps/frontend/src/hooks/useCrossProjectResolve.ts
  apps/frontend/src/utils/api-client/is-not-found-error.ts
  apps/frontend/src/utils/api-client/resolve-client.ts
  apps/frontend/src/utils/entity-not-found-server.ts
  tests/backend/routes/test_resolve.py
Due: backend, frontend-format, frontend-lint, hardcoded-styles

fix(auth): keep magic-link endpoint enumeration-safe
  apps/backend/src/rhesis/backend/app/routers/auth.py
  tests/backend/routes/test_auth.py
Due: backend

refactor(backend): normalize test type strings
  apps/backend/src/rhesis/backend/app/constants.py
  apps/backend/src/rhesis/backend/app/routers/telemetry.py
  apps/backend/src/rhesis/backend/app/schemas/services.py
  apps/backend/src/rhesis/backend/app/schemas/telemetry.py
  apps/backend/src/rhesis/backend/app/services/test_generation_pipeline.py
  tests/backend/services/test_test_generation_pipeline.py
  tests/backend/test_constants.py
Due: backend

refactor(frontend): normalize test type strings
  apps/frontend/src/app/(protected)/test-sets/new-generated/components/SelectTestCreationMethod.tsx
  apps/frontend/src/app/(protected)/test-sets/new-generated/components/TestConfigurationConfirmation.tsx
  apps/frontend/src/app/(protected)/test-sets/new-generated/components/TestGenerationFlow.tsx
  apps/frontend/src/app/(protected)/test-sets/new-generated/components/TestGenerationInterface.tsx
  apps/frontend/src/app/(protected)/test-sets/new-generated/components/TestInputScreen.tsx
  apps/frontend/src/app/(protected)/test-sets/new-generated/components/TestTypeSelectionScreen.tsx
  apps/frontend/src/app/(protected)/test-sets/new-generated/components/shared/TestSampleCard.tsx
  apps/frontend/src/app/(protected)/test-sets/new-generated/components/shared/types.ts
  apps/frontend/src/app/(protected)/tests/components/TrialDrawer.tsx
  apps/frontend/src/app/(protected)/tests/new-manual/components/ManualTestWriter.tsx
  apps/frontend/src/app/(protected)/traces/components/TracesTable.tsx
  apps/frontend/src/app/(protected)/traces/components/__tests__/trace-filter-params.test.ts
  apps/frontend/src/constants/__tests__/test-types.test.ts
  apps/frontend/src/constants/test-types.ts
  apps/frontend/src/utils/api-client/interfaces/multi-turn-test-config.ts
  apps/frontend/src/utils/api-client/interfaces/telemetry.ts
  apps/frontend/src/utils/api-client/interfaces/test-set.ts
Due: frontend-format, frontend-lint, hardcoded-styles

style: fix ruff formatting in test_result.py
  apps/backend/src/rhesis/backend/app/routers/test_result.py
Due: backend

refactor(frontend): unify test type filter labels
  apps/frontend/src/app/(protected)/test-sets/components/TestSetFilterDrawer.tsx
  apps/frontend/src/app/(protected)/test-sets/components/TestSetsGrid.tsx
  apps/frontend/src/app/(protected)/tests/components/TestFilterDrawer.tsx
  apps/frontend/src/app/(protected)/tests/components/TestsGrid.tsx
  apps/frontend/src/app/(protected)/traces/components/TracesTable.tsx
  apps/frontend/src/constants/__tests__/test-types.test.ts
  apps/frontend/src/constants/test-types.ts
Due: frontend-format, frontend-lint, hardcoded-styles

Fix review indicators and conflicting-review detection (#2148)
  apps/backend/src/rhesis/backend/app/models/mixins.py
  apps/backend/src/rhesis/backend/app/routers/test_result.py
  apps/backend/src/rhesis/backend/app/services/review.py
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/ReviewJudgementDrawer.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestsList.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestsTableView.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/test-run-results-grid-utils.ts
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/test-run-summary-utils.ts
Due: backend, frontend-format, frontend-lint, hardcoded-styles

fix(frontend): resolve eslint warnings in cross-project UI
  apps/frontend/src/components/common/CrossProjectAlert.tsx
  apps/frontend/src/components/common/EntityEmptyState.tsx
  apps/frontend/src/utils/entity-detail-icons.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): temporarily disable test set cluster view
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/EmbeddingTestsPanel.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): fix SxProps spread type error in entityEmptyStateSx
  apps/frontend/src/components/common/entityEmptyStateSx.ts
Due: frontend-format, frontend-lint, hardcoded-styles

style: fix lint formatting for test type changes
  apps/frontend/src/app/(protected)/test-sets/new-generated/components/TestGenerationFlow.tsx
  apps/frontend/src/app/(protected)/tests/new-manual/components/ManualTestWriter.tsx
  tests/backend/test_constants.py
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): make test type pill tabs mutable for tsc
  apps/frontend/src/constants/test-types.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): gate clustersActive on CLUSTER_VIEW_ENABLED
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/EmbeddingTestsPanel.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

Temporarily disable Cluster View tab on test sets (#2151)
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/EmbeddingTestsPanel.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): read onboarding video url server-side at runtime
  .env.example
  .github/workflows/frontend.yml
  apps/frontend/src/app/(protected)/onboarding/page.tsx
  apps/frontend/src/utils/onboarding-video.ts
  charts/rhesis/templates/configmap.yaml
  charts/rhesis/values-dev.yaml
  charts/rhesis/values-prd.yaml
  charts/rhesis/values-stg.yaml
  charts/rhesis/values.yaml
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): read onboarding video url server-side at runtime (#2150)
  .env.example
  .github/workflows/frontend.yml
  apps/frontend/src/app/(protected)/onboarding/page.tsx
  apps/frontend/src/utils/onboarding-video.ts
  charts/rhesis/templates/configmap.yaml
  charts/rhesis/values-dev.yaml
  charts/rhesis/values-prd.yaml
  charts/rhesis/values-stg.yaml
  charts/rhesis/values.yaml
Due: frontend-format, frontend-lint, hardcoded-styles

Normalize test type terminology to Single-Turn/Multi-Turn (#2149)
  apps/backend/src/rhesis/backend/app/constants.py
  apps/backend/src/rhesis/backend/app/routers/telemetry.py
  apps/backend/src/rhesis/backend/app/schemas/services.py
  apps/backend/src/rhesis/backend/app/schemas/telemetry.py
  apps/backend/src/rhesis/backend/app/services/test_generation_pipeline.py
  apps/frontend/src/app/(protected)/test-sets/components/TestSetFilterDrawer.tsx
  apps/frontend/src/app/(protected)/test-sets/components/TestSetsGrid.tsx
  apps/frontend/src/app/(protected)/test-sets/new-generated/components/SelectTestCreationMethod.tsx
  apps/frontend/src/app/(protected)/test-sets/new-generated/components/TestConfigurationConfirmation.tsx
  apps/frontend/src/app/(protected)/test-sets/new-generated/components/TestGenerationFlow.tsx
  apps/frontend/src/app/(protected)/test-sets/new-generated/components/TestGenerationInterface.tsx
  apps/frontend/src/app/(protected)/test-sets/new-generated/components/TestInputScreen.tsx
  apps/frontend/src/app/(protected)/test-sets/new-generated/components/TestTypeSelectionScreen.tsx
  apps/frontend/src/app/(protected)/test-sets/new-generated/components/shared/TestSampleCard.tsx
  apps/frontend/src/app/(protected)/test-sets/new-generated/components/shared/types.ts
  apps/frontend/src/app/(protected)/tests/components/TestFilterDrawer.tsx
  apps/frontend/src/app/(protected)/tests/components/TestsGrid.tsx
  apps/frontend/src/app/(protected)/tests/components/TrialDrawer.tsx
  apps/frontend/src/app/(protected)/tests/new-manual/components/ManualTestWriter.tsx
  apps/frontend/src/app/(protected)/traces/components/TracesTable.tsx
  apps/frontend/src/app/(protected)/traces/components/__tests__/trace-filter-params.test.ts
  apps/frontend/src/constants/__tests__/test-types.test.ts
  apps/frontend/src/constants/test-types.ts
  apps/frontend/src/utils/api-client/interfaces/multi-turn-test-config.ts
  apps/frontend/src/utils/api-client/interfaces/telemetry.ts
  apps/frontend/src/utils/api-client/interfaces/test-set.ts
  tests/backend/services/test_test_generation_pipeline.py
  tests/backend/test_constants.py
Due: backend, frontend-format, frontend-lint, hardcoded-styles

fix(frontend): read onboarding video url server-side at runtime
  .env.example
  .github/workflows/frontend.yml
  apps/frontend/src/app/(protected)/onboarding/components/OnboardingPageClient.tsx
  apps/frontend/src/app/(protected)/onboarding/components/WelcomeVideoStep.tsx
  apps/frontend/src/app/(protected)/onboarding/page.tsx
  apps/frontend/src/utils/onboarding-video.ts
  charts/rhesis/templates/configmap.yaml
  charts/rhesis/values-dev.yaml
  charts/rhesis/values-prd.yaml
  charts/rhesis/values-stg.yaml
  charts/rhesis/values.yaml
Due: frontend-format, frontend-lint, hardcoded-styles

fix(backend): normalize test_type in generation pipeline
  apps/backend/src/rhesis/backend/app/services/test_generation_pipeline.py
  tests/backend/services/test_test_generation_pipeline.py
Due: backend

Add cross-project entity resolution for detail pages (#2147)
  apps/backend/src/rhesis/backend/app/routers/__init__.py
  apps/backend/src/rhesis/backend/app/routers/resolve.py
  apps/frontend/src/app/(protected)/behaviors/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/endpoints/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/error.tsx
  apps/frontend/src/app/(protected)/experiments/[identifier]/components/ExperimentDetailClient.tsx
  apps/frontend/src/app/(protected)/explorer/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/knowledge/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/metrics/[identifier]/MetricDetailView.tsx
  apps/frontend/src/app/(protected)/not-found.tsx
  apps/frontend/src/app/(protected)/projects/[identifier]/endpoints/[endpointId]/page.tsx
  apps/frontend/src/app/(protected)/tasks/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/compare/page.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/test-sets/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/tests/[identifier]/page.tsx
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/components/common/CrossProjectAlert.tsx
  apps/frontend/src/components/common/DetailEntityMissingState.tsx
  apps/frontend/src/components/common/DetailNotFoundState.tsx
  apps/frontend/src/components/common/EntityEmptyState.tsx
  apps/frontend/src/components/common/EntityEmptyStateEnrichmentParts.tsx
  apps/frontend/src/components/common/EntityMessageState.tsx
  apps/frontend/src/components/common/SectionEmptyState.tsx
  apps/frontend/src/components/common/entityEmptyStateSx.ts
  apps/frontend/src/hooks/useCrossProjectResolve.ts
  apps/frontend/src/utils/__tests__/entity-error-handler.test.ts
  apps/frontend/src/utils/api-client/client-factory.ts
  apps/frontend/src/utils/api-client/is-not-found-error.ts
  apps/frontend/src/utils/api-client/resolve-client.ts
  apps/frontend/src/utils/entity-detail-icons.ts
  apps/frontend/src/utils/entity-error-handler.ts
  apps/frontend/src/utils/entity-not-found-server.ts
  tests/backend/routes/test_resolve.py
Due: backend, frontend-format, frontend-lint, hardcoded-styles

fix(backend): normalize test_type in generation pipeline (#2153)
  apps/backend/src/rhesis/backend/app/services/test_generation_pipeline.py
  tests/backend/services/test_test_generation_pipeline.py
Due: backend

fix(frontend): read onboarding video url server-side at runtime (#2150)
  .github/workflows/frontend.yml
  apps/frontend/src/app/(protected)/onboarding/page.tsx
  apps/frontend/src/utils/onboarding-video.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(backend): backfill project membership roles from org role
  apps/backend/src/rhesis/backend/alembic/versions/f9e8d7c6b5a4_backfill_project_membership_role_catchup.py
  apps/backend/src/rhesis/backend/local_init.py
  ee/backend/src/rhesis/backend/ee/rbac/default_role.py
  ee/backend/src/rhesis/backend/ee/rbac/router.py
  tests/backend/ee/rbac/test_default_org_role.py
  tests/backend/ee/rbac/test_project_members_authz.py
Due: backend

fix(backend): backfill project membership roles from org role (#2154)
  apps/backend/src/rhesis/backend/alembic/versions/f9e8d7c6b5a4_backfill_project_membership_role_catchup.py
  apps/backend/src/rhesis/backend/local_init.py
  ee/backend/src/rhesis/backend/ee/rbac/default_role.py
  ee/backend/src/rhesis/backend/ee/rbac/router.py
  tests/backend/ee/rbac/test_default_org_role.py
  tests/backend/ee/rbac/test_project_members_authz.py
Due: backend

fix(backend): drop redundant EE import in local_init
  apps/backend/src/rhesis/backend/local_init.py
Due: backend

Fix: Onboarding Video Url (#2152)
  .env.example
  .github/workflows/frontend.yml
  apps/frontend/src/app/(protected)/onboarding/components/OnboardingPageClient.tsx
  apps/frontend/src/app/(protected)/onboarding/components/WelcomeVideoStep.tsx
  apps/frontend/src/app/(protected)/onboarding/page.tsx
  apps/frontend/src/utils/onboarding-video.ts
  charts/rhesis/templates/configmap.yaml
  charts/rhesis/values-dev.yaml
  charts/rhesis/values-prd.yaml
  charts/rhesis/values-stg.yaml
  charts/rhesis/values.yaml
Due: frontend-format, frontend-lint, hardcoded-styles

fix(backend): exempt /resolve from PEP capability mapping
  apps/backend/src/rhesis/backend/app/auth/public_routes.py
Due: backend

Fix EE boundary and authz coverage CI failures (#2155)
  apps/backend/src/rhesis/backend/app/auth/public_routes.py
  apps/backend/src/rhesis/backend/local_init.py
Due: backend

fix(projects): close delete confirmation modal after successful deletion
  apps/frontend/src/app/(protected)/projects/[identifier]/client-wrapper.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

feat(frontend): move playground endpoint select to drawer
  apps/frontend/src/app/(protected)/playground/components/PlaygroundClient.tsx
  apps/frontend/src/app/(protected)/playground/components/PlaygroundEndpointDrawer.tsx
  apps/frontend/src/app/(protected)/playground/components/PlaygroundEndpointSelect.tsx
  apps/frontend/tests/e2e/pages/PlaygroundPage.ts
  apps/frontend/tests/e2e/tests/file-attachments.spec.ts
  apps/frontend/tests/e2e/tests/playground-crud.spec.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): address playground drawer review feedback
  apps/frontend/src/app/(protected)/playground/components/PlaygroundClient.tsx
  apps/frontend/src/app/(protected)/playground/components/PlaygroundEndpointDrawer.tsx
  apps/frontend/tests/e2e/tests/playground-crud.spec.ts
Due: frontend-format, frontend-lint, hardcoded-styles

test(frontend): fix playground drawer e2e selectors
  apps/frontend/tests/e2e/pages/PlaygroundPage.ts
Due: frontend-format, frontend-lint, hardcoded-styles
