Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, docs-format, hardcoded-styles

sdk:
  name: format sdk
  language: system
  entry: make -C sdk format
  pass_filenames: false

backend:
  name: format backend
  language: system
  entry: make -C apps/backend format_diff
  pass_filenames: false

frontend-format:
  name: auto-fix frontend formatting
  language: system
  entry: bash -c "cd apps/frontend && npm run format"
  pass_filenames: false

frontend-lint:
  name: lint frontend
  language: system
  entry: bash -c "cd apps/frontend && npm run lint"
  pass_filenames: false

docs-format:
  name: auto-fix docs formatting
  language: system
  entry: bash -c "cd apps/documentation && npm run format"
  pass_filenames: false

hardcoded-styles:
  name: check hardcoded styles in frontend and docs
  language: system
  entry: node scripts/check-hardcoded-styles.js
  pass_filenames: false

fix(auth): restore token project boundary for org-scoped caps (#2131)
  apps/backend/src/rhesis/backend/app/auth/rbac.py
  ee/backend/src/rhesis/backend/ee/rbac/provider.py
  ee/backend/src/rhesis/backend/ee/rbac/router.py
  tests/backend/ee/rbac/test_sp9_token_scoping.py
Due: backend

feat(sdk): align haystack integration with ai.* schema
  examples/telemetry/haystack_example.py
  examples/telemetry/pyproject.toml
  penelope/examples/haystack_minimal.py
  penelope/src/rhesis/penelope/__init__.py
  penelope/src/rhesis/penelope/targets/haystack.py
  sdk/src/rhesis/sdk/telemetry/integrations/haystack.py
  sdk/src/rhesis/sdk/telemetry/integrations/haystack/__init__.py
  sdk/src/rhesis/sdk/telemetry/integrations/haystack/integration.py
  sdk/src/rhesis/sdk/telemetry/integrations/haystack/mapping.py
  sdk/src/rhesis/sdk/telemetry/integrations/haystack/translator.py
  sdk/src/rhesis/sdk/telemetry/integrations/tracing_helpers.py
  sdk/uv.lock
  tests/penelope/targets/test_haystack.py
  tests/sdk/telemetry/integrations/test_haystack_integration.py
Due: sdk

fix(sdk): document haystack setup order and fail closed
  docs/content/docs/tracing/auto-instrumentation.mdx
  examples/telemetry/haystack_example.py
  sdk/src/rhesis/sdk/telemetry/integrations/haystack/__init__.py
  sdk/src/rhesis/sdk/telemetry/integrations/haystack/integration.py
  tests/sdk/telemetry/integrations/test_haystack_integration.py
Due: sdk

docs: rename MCP page to Tools and expand provider coverage
  docs/content/docs/_meta.tsx
  docs/content/docs/integrations.mdx
  docs/content/docs/knowledge/index.mdx
  docs/content/docs/mcp/index.mdx
  docs/content/docs/tasks/index.mdx
  docs/content/docs/tools/index.mdx
  docs/content/sdk/agents.mdx
  docs/src/components/FrameworkIntegrationsShowcase.jsx
  docs/src/components/IntegrationsHub.jsx
  docs/src/components/PlatformFeatures.jsx
  docs/src/components/ToolPurposeChip.jsx
  docs/src/lib/mdx-to-markdown.js
  docs/src/mdx-components.js
  docs/src/next.config.mjs
  docs/src/public/integrations/providers/asana.svg
  docs/src/public/integrations/providers/azure-devops.svg
  docs/src/public/integrations/providers/confluence.svg
  docs/src/public/integrations/providers/gitlab.svg
  docs/src/public/integrations/providers/linear.svg
  docs/src/public/integrations/providers/shortcut.svg
Due: none

docs: rename MCP page to Tools and expand provider coverage (#2132)
  docs/content/docs/_meta.tsx
  docs/content/docs/integrations.mdx
  docs/content/docs/knowledge/index.mdx
  docs/content/docs/mcp/index.mdx
  docs/content/docs/tasks/index.mdx
  docs/content/docs/tools/index.mdx
  docs/content/sdk/agents.mdx
  docs/src/components/FrameworkIntegrationsShowcase.jsx
  docs/src/components/IntegrationsHub.jsx
  docs/src/components/PlatformFeatures.jsx
  docs/src/components/ToolPurposeChip.jsx
  docs/src/lib/mdx-to-markdown.js
  docs/src/mdx-components.js
  docs/src/next.config.mjs
  docs/src/public/integrations/providers/asana.svg
  docs/src/public/integrations/providers/azure-devops.svg
  docs/src/public/integrations/providers/confluence.svg
  docs/src/public/integrations/providers/gitlab.svg
  docs/src/public/integrations/providers/linear.svg
  docs/src/public/integrations/providers/shortcut.svg
Due: none

fix(frontend): invalidate test run list cache after review
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestRunMainView.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): narrow test run cache invalidation to list queries
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestRunMainView.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

Fix review icon not appearing in test run list after review (#2134)
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestRunMainView.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): v0.10.0 ui polish and onboarding build
  .github/workflows/frontend-k8s.yml
  apps/frontend/Dockerfile
  apps/frontend/src/app/(protected)/architect/components/ArchitectChat.tsx
  apps/frontend/src/app/(protected)/architect/components/ArchitectClient.tsx
  apps/frontend/src/app/(protected)/knowledge/[identifier]/components/SourcePreviewClientWrapper.tsx
  apps/frontend/src/app/(protected)/onboarding/components/OnboardingSidebar.tsx
  apps/frontend/src/components/common/EndpointSelectField.tsx
  apps/frontend/src/utils/__tests__/architect-resume.test.ts
  apps/frontend/src/utils/architect-resume.ts
  ee/frontend/src/rbac/components/TokenScopeField.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

style(frontend): format architect-resume files
  apps/frontend/src/utils/__tests__/architect-resume.test.ts
  apps/frontend/src/utils/architect-resume.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): address architect and token scope review
  apps/frontend/src/app/(protected)/architect/components/ArchitectClient.tsx
  ee/frontend/src/rbac/components/TokenScopeField.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

Fix v0.10.0 UI polish and onboarding video build (#2136)
  .github/workflows/frontend-k8s.yml
  apps/frontend/Dockerfile
  apps/frontend/src/app/(protected)/architect/components/ArchitectChat.tsx
  apps/frontend/src/app/(protected)/architect/components/ArchitectClient.tsx
  apps/frontend/src/app/(protected)/knowledge/[identifier]/components/SourcePreviewClientWrapper.tsx
  apps/frontend/src/app/(protected)/onboarding/components/OnboardingSidebar.tsx
  apps/frontend/src/components/common/EndpointSelectField.tsx
  apps/frontend/src/utils/__tests__/architect-resume.test.ts
  apps/frontend/src/utils/architect-resume.ts
  ee/frontend/src/rbac/components/TokenScopeField.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(dev): pass onboarding video url via workflow secret
  .github/workflows/frontend-k8s.yml
  .github/workflows/k8s-build-push.yml
Due: none

fix(dev): rely on secrets inherit for k8s build
  .github/workflows/k8s-build-push.yml
Due: none

Fix K8s frontend build secret for onboarding video URL (#2137)
  .github/workflows/frontend-k8s.yml
  .github/workflows/k8s-build-push.yml
Due: none

fix(dev): bake onboarding video url in k8s frontend build
  .github/workflows/frontend-k8s.yml
Due: none

fix(frontend): load onboarding video url from server env
  .github/workflows/frontend-k8s.yml
  apps/frontend/src/app/(protected)/onboarding/components/OnboardingPageClient.tsx
  apps/frontend/src/app/(protected)/onboarding/components/WelcomeVideoStep.tsx
  apps/frontend/src/app/(protected)/onboarding/page.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

Fix onboarding welcome video via server-side env (#2138)
  apps/frontend/src/app/(protected)/onboarding/components/OnboardingPageClient.tsx
  apps/frontend/src/app/(protected)/onboarding/components/WelcomeVideoStep.tsx
  apps/frontend/src/app/(protected)/onboarding/page.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(sdk): address haystack review - wrap SimpleSpanProcessor, gate content capture, reuse TranslatedSpan
  examples/telemetry/haystack_example.py
  penelope/src/rhesis/penelope/targets/haystack.py
  sdk/src/rhesis/sdk/telemetry/integrations/haystack/integration.py
  sdk/src/rhesis/sdk/telemetry/integrations/haystack/translator.py
  sdk/src/rhesis/sdk/telemetry/integrations/tracing_helpers.py
  tests/penelope/targets/test_optional_imports.py
Due: sdk

fix(sdk): fail-closed haystack enable + wire dr-rhesis consumer
  agents/dr-rhesis/docs/architecture.md
  agents/dr-rhesis/examples/serve_playground.py
  agents/dr-rhesis/src/dr_rhesis/app.py
  sdk/src/rhesis/sdk/telemetry/integrations/haystack/integration.py
  sdk/src/rhesis/sdk/telemetry/integrations/haystack/mapping.py
  sdk/src/rhesis/sdk/telemetry/integrations/haystack/translator.py
Due: sdk

fix(sdk): address remaining haystack review nits - drop env leak, fix token fallback, align translator
  agents/dr-rhesis/src/dr_rhesis/app.py
  examples/telemetry/haystack_example.py
  sdk/src/rhesis/sdk/telemetry/integrations/haystack/mapping.py
  sdk/src/rhesis/sdk/telemetry/integrations/haystack/translator.py
Due: sdk

fix(sdk): harden sanitize_for_tracing with depth limit and cycle detection
  sdk/src/rhesis/sdk/telemetry/integrations/tracing_helpers.py
Due: sdk

fix(backend): prevent ee owner lockout without org_member row
  apps/backend/src/rhesis/backend/alembic/versions/f8e9a0b1c2d4_backfill_organization_member_catchup.py
  ee/backend/src/rhesis/backend/ee/rbac/default_role.py
  ee/backend/src/rhesis/backend/ee/rbac/provider.py
  tests/backend/ee/rbac/test_default_org_role.py
  tests/backend/ee/rbac/test_sp8_provider.py
Due: backend

fix(backend): degrade stale ambient X-Project-Id to org scope
  apps/backend/src/rhesis/backend/app/dependencies.py
  tests/backend/auth/test_project_context_owner_exception.py
Due: backend

Fix EE RBAC owner lockout when organization_member row is missing (#2139)
  apps/backend/src/rhesis/backend/alembic/versions/f8e9a0b1c2d4_backfill_organization_member_catchup.py
  apps/backend/src/rhesis/backend/app/dependencies.py
  ee/backend/src/rhesis/backend/ee/rbac/default_role.py
  ee/backend/src/rhesis/backend/ee/rbac/provider.py
  tests/backend/auth/test_project_context_owner_exception.py
  tests/backend/ee/rbac/test_default_org_role.py
  tests/backend/ee/rbac/test_sp8_provider.py
Due: backend

fix: enable EE features in quick start by separating license from runtime checks
  apps/backend/src/rhesis/backend/app/features/__init__.py
  apps/backend/src/rhesis/backend/app/routers/features.py
  apps/backend/src/rhesis/backend/local_init.py
  apps/frontend/src/contexts/FeaturesContext.tsx
  apps/frontend/src/utils/api-client/features-client.ts
  ee/backend/src/rhesis/backend/ee/__init__.py
  ee/frontend/src/api-clients/register.tsx
  ee/frontend/src/sso/register.tsx
  tests/backend/app/test_feature_registry.py
  tests/backend/routes/test_features.py
Due: backend, frontend-format, frontend-lint, hardcoded-styles

fix: address peqy review comments on quick start feature gating
  apps/backend/src/rhesis/backend/app/routers/features.py
  apps/backend/src/rhesis/backend/local_init.py
Due: backend

fix: restore SSO runtime check for org-less early bailout
  ee/backend/src/rhesis/backend/ee/sso/router.py
Due: none

fix(sdk,penelope): wrap long lines to satisfy ruff E501 in haystack integrations
  penelope/src/rhesis/penelope/targets/haystack.py
  sdk/src/rhesis/sdk/telemetry/integrations/haystack/mapping.py
  sdk/src/rhesis/sdk/telemetry/integrations/haystack/translator.py
  sdk/src/rhesis/sdk/telemetry/integrations/tracing_helpers.py
Due: sdk

Fix quick start EE feature gating and local admin role (#2140)
  apps/backend/src/rhesis/backend/app/features/__init__.py
  apps/backend/src/rhesis/backend/app/routers/features.py
  apps/backend/src/rhesis/backend/local_init.py
  apps/frontend/src/contexts/FeaturesContext.tsx
  apps/frontend/src/utils/api-client/features-client.ts
  ee/backend/src/rhesis/backend/ee/__init__.py
  ee/backend/src/rhesis/backend/ee/sso/router.py
  ee/frontend/src/api-clients/register.tsx
  ee/frontend/src/sso/register.tsx
  tests/backend/app/test_feature_registry.py
  tests/backend/routes/test_features.py
Due: backend, frontend-format, frontend-lint, hardcoded-styles

fix: stop forced logout on 403 and gate nav on RBAC read caps
  apps/frontend/src/app/(protected)/architect/components/ArchitectClient.tsx
  apps/frontend/src/app/(protected)/explorer/ExplorerClient.tsx
  apps/frontend/src/app/(protected)/insights/components/InsightsPage.tsx
  apps/frontend/src/app/(protected)/insights/hooks/__tests__/useBehaviorInsightsData.test.ts
  apps/frontend/src/app/(protected)/insights/hooks/useBehaviorInsightsData.ts
  apps/frontend/src/app/(protected)/playground/components/PlaygroundClient.tsx
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/components/navigation/NavItem.tsx
  apps/frontend/src/components/navigation/NavSection.tsx
  apps/frontend/src/components/navigation/NavSkeleton.tsx
  apps/frontend/src/components/navigation/Sidebar.tsx
  apps/frontend/src/components/navigation/__tests__/NavSection.test.tsx
  apps/frontend/src/types/navigation.ts
  apps/frontend/src/utils/api-client/base-client.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(helm): increase nginx ingress file size limit
  charts/rhesis/values-dev.yaml
  charts/rhesis/values-prd.yaml
  charts/rhesis/values-stg.yaml
  charts/rhesis/values.yaml
Due: none

fix: resolve nav-gating capabilities server-side to kill load flash
  apps/frontend/src/app/(protected)/ProtectedLayoutClient.tsx
  apps/frontend/src/app/(protected)/layout.tsx
  apps/frontend/src/components/navigation/NavSkeleton.tsx
  apps/frontend/src/components/navigation/Sidebar.tsx
  apps/frontend/src/contexts/FeaturesContext.tsx
  apps/frontend/src/contexts/PermissionsContext.tsx
  apps/frontend/src/contexts/__tests__/FeaturesContext.test.tsx
  apps/frontend/src/contexts/__tests__/PermissionsContext.test.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

style: fix Prettier formatting flagged by CI
  apps/frontend/src/app/(protected)/insights/hooks/__tests__/useBehaviorInsightsData.test.ts
  apps/frontend/src/app/(protected)/playground/components/PlaygroundClient.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(helm): increase nginx ingress file size limit (#2142)
  charts/rhesis/values-dev.yaml
  charts/rhesis/values-prd.yaml
  charts/rhesis/values-stg.yaml
  charts/rhesis/values.yaml
Due: none

Fix forced logout on nav click for view-scoped roles (#2141)
  apps/frontend/src/app/(protected)/ProtectedLayoutClient.tsx
  apps/frontend/src/app/(protected)/architect/components/ArchitectClient.tsx
  apps/frontend/src/app/(protected)/explorer/ExplorerClient.tsx
  apps/frontend/src/app/(protected)/insights/components/InsightsPage.tsx
  apps/frontend/src/app/(protected)/insights/hooks/__tests__/useBehaviorInsightsData.test.ts
  apps/frontend/src/app/(protected)/insights/hooks/useBehaviorInsightsData.ts
  apps/frontend/src/app/(protected)/layout.tsx
  apps/frontend/src/app/(protected)/playground/components/PlaygroundClient.tsx
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/components/navigation/NavItem.tsx
  apps/frontend/src/components/navigation/NavSection.tsx
  apps/frontend/src/components/navigation/__tests__/NavSection.test.tsx
  apps/frontend/src/contexts/FeaturesContext.tsx
  apps/frontend/src/contexts/PermissionsContext.tsx
  apps/frontend/src/contexts/__tests__/FeaturesContext.test.tsx
  apps/frontend/src/contexts/__tests__/PermissionsContext.test.tsx
  apps/frontend/src/types/navigation.ts
  apps/frontend/src/utils/api-client/base-client.ts
Due: frontend-format, frontend-lint, hardcoded-styles

added sso encryption key
  kubernetes/clusters/dev/external-secrets/rhesis-app-secrets.yaml
  kubernetes/clusters/prd/external-secrets/rhesis-app-secrets.yaml
  kubernetes/clusters/stg/external-secrets/rhesis-app-secrets.yaml
Due: none

added sso encryption key (#2143)
  kubernetes/clusters/dev/external-secrets/rhesis-app-secrets.yaml
  kubernetes/clusters/prd/external-secrets/rhesis-app-secrets.yaml
  kubernetes/clusters/stg/external-secrets/rhesis-app-secrets.yaml
Due: none

feat(auth): persist terms acceptance on user record
  apps/backend/src/rhesis/backend/alembic/versions/b8c9d0e1f2a3_add_terms_acceptance_to_user.py
  apps/backend/src/rhesis/backend/app/auth/terms.py
  apps/backend/src/rhesis/backend/app/auth/token_utils.py
  apps/backend/src/rhesis/backend/app/models/user.py
  apps/backend/src/rhesis/backend/app/routers/auth.py
  apps/backend/src/rhesis/backend/app/schemas/user.py
  apps/backend/src/rhesis/backend/app/utils/rate_limit.py
  apps/frontend/src/components/auth/AuthForm.tsx
  apps/frontend/src/components/auth/__tests__/AuthForm.test.tsx
  tests/backend/auth/test_terms.py
  tests/backend/routes/test_auth.py
Due: backend, frontend-format, frontend-lint, hardcoded-styles

Path conditions:
  sdk: any of: ^sdk/
  backend: any of: ^apps/backend/
  frontend-format: any of: ^apps/frontend/
  frontend-lint: any of: ^apps/frontend/
  docs-format: any of: ^apps/documentation/
  hardcoded-styles: any of: ^apps/(frontend|documentation)/
