Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, docs-format, hardcoded-styles

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict

  - repo: local
    hooks:
        - id: trufflehog
          name: TruffleHog
          description: Detect secrets in your data.
          entry: bash -c 'PATH="$HOME/.local/bin:$PATH" trufflehog git file://. --since-commit HEAD --only-verified --fail --no-update'
          language: system
          stages: ["pre-commit", "pre-push"]

        - id: sdk
          name  : format sdk
          language: system
          entry: make -C sdk format
          files: ^sdk/
          pass_filenames: false

        - id: backend
          name  : format backend
          language: system
          entry: make -C apps/backend format_diff
          files: ^apps/backend/
          pass_filenames: false

        - id: frontend-format
          name: auto-fix frontend formatting
          language: system
          entry: bash -c "cd apps/frontend && npm run format"
          files: ^apps/frontend/
          pass_filenames: false

        - id: frontend-lint
          name: lint frontend
          language: system
          entry: bash -c "cd apps/frontend && npm run lint"
          files: ^apps/frontend/
          pass_filenames: false

        - id: docs-format
          name: auto-fix docs formatting
          language: system
          entry: bash -c "cd apps/documentation && npm run format"
          files: ^apps/documentation/
          pass_filenames: false

        - id: hardcoded-styles
          name: check hardcoded styles in frontend and docs
          language: system
          entry: node scripts/check-hardcoded-styles.js
          files: ^apps/(frontend|documentation)/
          pass_filenames: false


  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.8.0
  #   hooks:
  #     - id: mypy
  #       additional_dependencies: [
  #         "types-requests",
  #         "pandas-stubs",
  #         "pyarrow-stubs",
  #         "types-tqdm"
  #       ]

fix(sdk): handle generator results in garak detector evaluation
  sdk/src/rhesis/sdk/metrics/providers/garak/detector_metric.py
  tests/sdk/metrics/providers/garak/test_detector_metric.py
Due: sdk

fix(backend): stop leaking garak detectors into hand-authored tests
  apps/backend/src/rhesis/backend/alembic/versions/d4e7f2a9c1b8_detach_garak_metrics_from_behaviors.py
  apps/backend/src/rhesis/backend/app/routers/garak.py
  apps/backend/src/rhesis/backend/app/services/garak/dynamic.py
  apps/backend/src/rhesis/backend/app/services/garak/importer.py
  apps/backend/src/rhesis/backend/app/services/garak/sync.py
  apps/backend/src/rhesis/backend/app/services/garak/taxonomy.py
  sdk/src/rhesis/sdk/metrics/providers/garak/detectors.yaml
  tests/backend/services/garak/test_garak_live.py
  tests/backend/services/garak/test_importer.py
  tests/backend/services/garak/test_taxonomy.py
Due: sdk, backend

fix(sdk): tolerate scalar results in garak detector evaluation
  sdk/src/rhesis/sdk/metrics/providers/garak/detector_metric.py
  tests/sdk/metrics/providers/garak/test_detector_metric.py
Due: sdk

fix(backend): make garak behavior tagging idempotent, widen migration match
  apps/backend/src/rhesis/backend/alembic/versions/d4e7f2a9c1b8_detach_garak_metrics_from_behaviors.py
  apps/backend/src/rhesis/backend/app/services/garak/importer.py
  tests/backend/services/garak/test_importer.py
Due: backend

docs: update SDK documentation for clarity and completeness
  docs/content/sdk/agents.mdx
  docs/content/sdk/client.mdx
  docs/content/sdk/connector/binding.mdx
  docs/content/sdk/connector/examples.mdx
  docs/content/sdk/connector/index.mdx
  docs/content/sdk/connector/mapping.mdx
  docs/content/sdk/connector/serializers.mdx
  docs/content/sdk/entities/endpoints.mdx
  docs/content/sdk/entities/experiments.mdx
  docs/content/sdk/entities/files.mdx
  docs/content/sdk/entities/index.mdx
  docs/content/sdk/entities/models.mdx
  docs/content/sdk/entities/projects.mdx
  docs/content/sdk/entities/status.mdx
  docs/content/sdk/entities/test-attributes.mdx
  docs/content/sdk/entities/test-runs.mdx
  docs/content/sdk/entities/test-sets.mdx
  docs/content/sdk/execution.mdx
  docs/content/sdk/installation.mdx
  docs/content/sdk/metrics/conversational.mdx
  docs/content/sdk/metrics/index.mdx
  docs/content/sdk/metrics/single-turn.mdx
  docs/content/sdk/models.mdx
  docs/content/sdk/parameters.mdx
  docs/content/sdk/statistics.mdx
  docs/content/sdk/synthesizers.mdx
  docs/decluttering-rules.md
Due: none

fix(backend): use terms-aware schema for PATCH /users/settings
  apps/backend/src/rhesis/backend/app/routers/user.py
  tests/backend/routes/test_user_settings.py
Due: backend

Fix garak detector metrics leaking into hand-authored tests (#2204)
  apps/backend/src/rhesis/backend/alembic/versions/d4e7f2a9c1b8_detach_garak_metrics_from_behaviors.py
  apps/backend/src/rhesis/backend/app/routers/garak.py
  apps/backend/src/rhesis/backend/app/services/garak/dynamic.py
  apps/backend/src/rhesis/backend/app/services/garak/importer.py
  apps/backend/src/rhesis/backend/app/services/garak/sync.py
  apps/backend/src/rhesis/backend/app/services/garak/taxonomy.py
  sdk/src/rhesis/sdk/metrics/providers/garak/detector_metric.py
  sdk/src/rhesis/sdk/metrics/providers/garak/detectors.yaml
  tests/backend/services/garak/test_garak_live.py
  tests/backend/services/garak/test_importer.py
  tests/backend/services/garak/test_taxonomy.py
  tests/sdk/metrics/providers/garak/test_detector_metric.py
Due: sdk, backend

Fix 500 on GET /users/ for orgs with terms-accepted members (#2205)
  apps/backend/src/rhesis/backend/app/routers/user.py
  apps/backend/src/rhesis/backend/app/schemas/user.py
  tests/backend/routes/test_user_settings.py
Due: backend

fix(alembic): retire dimension/demographic capabilities in permission table
  apps/backend/src/rhesis/backend/alembic/versions/6867d319c0a5_drop_dimension_and_demographic_tables.py
Due: backend

docs: update links for Test Execution and related sections
  docs/content/docs/api-tokens/index.mdx
  docs/content/docs/metrics/index.mdx
  docs/content/docs/models/index.mdx
  docs/content/guides/testing-user-journeys.mdx
  docs/src/components/PlatformFeatures.jsx
  docs/src/next.config.mjs
Due: none

docs: declutter Contribute overview and guides
  docs/content/contribute/coding-standards/index.mdx
  docs/content/contribute/development-setup/index.mdx
  docs/content/contribute/index.mdx
  docs/content/contribute/managing-docs/index.mdx
  docs/decluttering-rules.md
Due: none

docs: dedup Environment Variables against deployment reference
  docs/content/contribute/backend/authentication.mdx
  docs/content/contribute/backend/environment-config.mdx
  docs/content/contribute/backend/index.mdx
  docs/content/contribute/environment-variables.mdx
Due: none

fix(dev): revert .env.example to main state
  .env.example
Due: none

docs: enhance telemetry documentation for clarity and completeness
  docs/content/contribute/telemetry/index.mdx
Due: none

docs: declutter SDK contribute getting-started guide
  docs/content/contribute/sdk/getting-started.mdx
Due: none

docs: mark SDK and Telemetry contribute pages decluttered
  docs/decluttering-rules.md
Due: none

fix(sdk): drop undefined type-check target from make all
  sdk/Makefile
Due: sdk

docs: correct telemetry ports, dev-init secrets, sdk make targets
  docs/content/contribute/environment-variables.mdx
  docs/content/contribute/sdk/getting-started.mdx
  docs/content/contribute/telemetry/index.mdx
Due: none

Declutter Contribute docs: telemetry, SDK, setup guides (#2206)
  docs/content/contribute/backend/authentication.mdx
  docs/content/contribute/backend/environment-config.mdx
  docs/content/contribute/backend/index.mdx
  docs/content/contribute/coding-standards/index.mdx
  docs/content/contribute/development-setup/index.mdx
  docs/content/contribute/environment-variables.mdx
  docs/content/contribute/index.mdx
  docs/content/contribute/managing-docs/index.mdx
  docs/content/contribute/sdk/getting-started.mdx
  docs/content/contribute/telemetry/index.mdx
  docs/decluttering-rules.md
  sdk/Makefile
Due: sdk

fix(frontend): adapt merged Insights summarize feature to BFF auth pattern
  apps/frontend/src/app/(protected)/insights/components/InsightsPage.tsx
  apps/frontend/src/app/(protected)/insights/components/InsightsSummarizeFab.tsx
  apps/frontend/src/app/(protected)/metrics/[identifier]/__tests__/MetricDetailView.test.tsx
  apps/frontend/src/utils/__tests__/architect-handoff.test.ts
  apps/frontend/src/utils/architect-handoff.ts
Due: frontend-format, frontend-lint, hardcoded-styles

style: fix prettier formatting in insights summarize files
  apps/frontend/src/app/(protected)/insights/components/InsightsSummarizeFab.tsx
  apps/frontend/src/utils/__tests__/architect-handoff.test.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(test): match forged-terms assertion to new UserSettingsOutput shape
  tests/backend/routes/test_auth.py
Due: none

docs(frontend): document the BFF auth pattern in AGENTS.md
  apps/frontend/AGENTS.md
Due: frontend-format, frontend-lint, hardcoded-styles

feat(backend): expose owasp category descriptions
  apps/backend/src/rhesis/backend/app/main.py
  apps/backend/src/rhesis/backend/app/routers/owasp.py
  apps/backend/src/rhesis/backend/app/schemas/owasp.py
  apps/backend/src/rhesis/backend/app/services/owasp.py
  apps/backend/src/rhesis/backend/logging/logging_config.py
Due: backend

feat(frontend): unify garak and owasp drawers
  apps/frontend/src/app/(protected)/test-sets/components/GarakImportDrawer.tsx
  apps/frontend/src/app/(protected)/test-sets/components/OwaspGenerateDrawer.tsx
  apps/frontend/src/app/(protected)/test-sets/components/OwaspGenerateForm.tsx
  apps/frontend/src/app/(protected)/test-sets/page.tsx
  apps/frontend/src/components/OwaspIcon.tsx
  apps/frontend/src/components/common/drawerFormFieldSx.ts
  apps/frontend/src/components/icons.ts
  apps/frontend/src/utils/api-client/owasp-client.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(backend): preserve dicts in response mapping
  apps/backend/src/rhesis/backend/app/services/invokers/templating/response_mapper.py
  tests/backend/services/invokers/test_response_mapper.py
Due: backend

feat: add custom json schema for chatbot json mode
  apps/chatbot/client.py
  apps/chatbot/endpoint.py
Due: none

Add custom JSON schema support for chatbot JSON mode (#2207)
  apps/backend/src/rhesis/backend/app/services/invokers/templating/response_mapper.py
  apps/chatbot/client.py
  apps/chatbot/endpoint.py
  tests/backend/services/invokers/test_response_mapper.py
Due: backend

style(backend): format owasp migration and service
  apps/backend/src/rhesis/backend/alembic/versions/38ed899b9f41_add_owasp_behaviors_and_metrics_to_.py
  apps/backend/src/rhesis/backend/app/services/owasp.py
Due: backend

fix: repair owasp migration chain and frontend ci
  apps/backend/src/rhesis/backend/alembic/versions/38ed899b9f41_add_owasp_behaviors_and_metrics_to_.py
  apps/frontend/src/app/(protected)/metrics/components/MetricsDirectoryTab.tsx
  apps/frontend/src/app/(protected)/test-sets/components/GarakImportDrawer.tsx
  apps/frontend/src/app/(protected)/test-sets/components/OwaspGenerateForm.tsx
  apps/frontend/src/app/(protected)/test-sets/page.tsx
  apps/frontend/src/components/common/drawerFormFieldSx.ts
Due: backend, frontend-format, frontend-lint, hardcoded-styles

feat(frontend): add json-aware rendering in test result drawer
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestDetailOverviewTab.tsx
  apps/frontend/src/components/common/ConversationHistory.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): address peqy review on test drawer rendering
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestDetailOverviewTab.tsx
  apps/frontend/src/components/common/ConversationHistory.tsx
  apps/frontend/src/utils/message-content.ts
Due: frontend-format, frontend-lint, hardcoded-styles

ci(dev): publish ghcr images on platform tag with version labels
  .github/workflows/publish-ghcr-images.yml
Due: none

ci(dev): publish ghcr images on platform tag with version labels (#2209)
  .github/workflows/publish-ghcr-images.yml
Due: none

docs: document GHCR image option for docker compose
  docs/content/docs/deployment/docker-compose.mdx
Due: none

chore: remove redundant comments from docker-compose.yml
  docker-compose.yml
Due: none

Document GHCR image option for docker compose (#2211)
  docker-compose.yml
  docs/content/docs/deployment/docker-compose.mdx
Due: none

style(frontend): fix prettier formatting in test drawer files
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestDetailOverviewTab.tsx
  apps/frontend/src/components/common/ConversationHistory.tsx
Due: frontend-format, frontend-lint, hardcoded-styles
