Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, docs-format, hardcoded-styles

sdk:
  name: format sdk
  language: system
  entry: make -C sdk format
  pass_filenames: false

backend:
  name: format backend
  language: system
  entry: make -C apps/backend format_diff
  pass_filenames: false

frontend-format:
  name: auto-fix frontend formatting
  language: system
  entry: bash -c "cd apps/frontend && npm run format"
  pass_filenames: false

frontend-lint:
  name: lint frontend
  language: system
  entry: bash -c "cd apps/frontend && npm run lint"
  pass_filenames: false

docs-format:
  name: auto-fix docs formatting
  language: system
  entry: bash -c "cd apps/documentation && npm run format"
  pass_filenames: false

hardcoded-styles:
  name: check hardcoded styles in frontend and docs
  language: system
  entry: node scripts/check-hardcoded-styles.js
  pass_filenames: false

fix(frontend): deduplicate org fetch and settings PATCH
  apps/frontend/src/app/(protected)/models/page.tsx
  apps/frontend/src/app/(protected)/organizations/settings/page.tsx
  apps/frontend/src/contexts/OnboardingContext.tsx
  apps/frontend/src/utils/api-client/organization-cache.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(rbac): render built-in role permissions and selected level label
  ee/backend/src/rhesis/backend/ee/rbac/router.py
  ee/frontend/src/rbac/components/PermissionGroupControl.tsx
Due: none

feat(backend): hybrid project-role binding with built-in support
  apps/backend/src/rhesis/backend/alembic/versions/671d10bef526_add_description_to_role.py
  apps/backend/src/rhesis/backend/alembic/versions/f1a2b3c5d6e7_merge_trace_reviews_and_rbac_caps_heads.py
  apps/backend/src/rhesis/backend/app/features/__init__.py
  ee/backend/src/rhesis/backend/ee/rbac/models.py
  ee/backend/src/rhesis/backend/ee/rbac/provider.py
  ee/backend/src/rhesis/backend/ee/rbac/router.py
  ee/backend/src/rhesis/backend/ee/rbac/schemas.py
Due: backend

fix(backend): bust permission cache on logout
  apps/backend/src/rhesis/backend/app/routers/auth.py
Due: backend

refactor(backend): extend capability deriver skip-list
  apps/backend/src/rhesis/backend/app/auth/capabilities.py
Due: backend

test(tests): update RBAC tests for hybrid project-role binding
  tests/backend/ee/rbac/test_sp8_access_control.py
  tests/backend/ee/rbac/test_sp8_roles.py
Due: none

feat(frontend): add OrganizationContext, remove org cache module
  apps/frontend/src/app/(protected)/models/page.tsx
  apps/frontend/src/app/(protected)/organizations/settings/page.tsx
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/components/layout/LayoutContent.tsx
  apps/frontend/src/contexts/OrganizationContext.tsx
  apps/frontend/src/types/navigation.ts
  apps/frontend/src/utils/api-client/organization-cache.ts
Due: frontend-format, frontend-lint, hardcoded-styles

feat(frontend): RBAC UI improvements
  ee/frontend/src/rbac/components/OrgRoleChip.tsx
  ee/frontend/src/rbac/components/ProjectRoleChip.tsx
  ee/frontend/src/rbac/components/RoleEditorDrawer.tsx
  ee/frontend/src/rbac/components/RoleSelectField.tsx
  ee/frontend/src/rbac/components/RolesTab.tsx
  ee/frontend/src/rbac/components/TokenScopeField.tsx
  ee/frontend/src/rbac/role-display.ts
  ee/frontend/src/rbac/types.ts
Due: none

fix: harden Microsoft Agent Framework target
  penelope/src/rhesis/penelope/targets/microsoft_agent_framework.py
Due: none

test: cover MAF target serialization and state
  tests/penelope/targets/test_microsoft_agent_framework.py
Due: none

docs: run MAF Penelope example on Gemini
  penelope/examples/microsoft_agent_framework_minimal.py
Due: none

refactor: shorten Penelope MAF target names
  docs/content/changelog.mdx
  docs/content/docs/tests/conversation-simulation/extending.mdx
  penelope/README.md
  penelope/examples/maf_minimal.py
  penelope/src/rhesis/penelope/__init__.py
  penelope/src/rhesis/penelope/targets/__init__.py
  penelope/src/rhesis/penelope/targets/maf.py
  tests/penelope/targets/test_maf.py
Due: none

style: apply ruff formatting to maf target
  penelope/src/rhesis/penelope/targets/maf.py
Due: none

fix: prefer explicit run state kwarg over kwargs
  penelope/src/rhesis/penelope/targets/maf.py
  tests/penelope/targets/test_maf.py
Due: none

feat: deprecate MicrosoftAgentFrameworkTarget alias
  penelope/src/rhesis/penelope/__init__.py
  penelope/src/rhesis/penelope/targets/__init__.py
  penelope/src/rhesis/penelope/targets/microsoft_agent_framework.py
  tests/penelope/targets/test_maf.py
Due: none

Harden Penelope Microsoft Agent Framework target (#2088)
  docs/content/changelog.mdx
  docs/content/docs/tests/conversation-simulation/extending.mdx
  penelope/README.md
  penelope/examples/maf_minimal.py
  penelope/examples/microsoft_agent_framework_minimal.py
  penelope/src/rhesis/penelope/__init__.py
  penelope/src/rhesis/penelope/targets/__init__.py
  penelope/src/rhesis/penelope/targets/maf.py
  penelope/src/rhesis/penelope/targets/microsoft_agent_framework.py
  tests/penelope/targets/test_maf.py
  tests/penelope/targets/test_microsoft_agent_framework.py
Due: none

feat(backend): tiered project access policy with owner delegation
  apps/backend/src/rhesis/backend/alembic/versions/e3f4a5b6c7d8_backfill_project_role_from_org_role.py
  apps/backend/src/rhesis/backend/app/routers/websocket.py
  ee/backend/src/rhesis/backend/ee/rbac/provider.py
  ee/backend/src/rhesis/backend/ee/rbac/router.py
  tests/backend/ee/rbac/test_sp8_provider.py
Due: backend

feat(frontend): role chips, member access drawer, authority guard
  apps/frontend/src/app/(protected)/organizations/team/components/MemberAccessDrawer.tsx
  apps/frontend/src/app/(protected)/organizations/team/components/TeamMembersGrid.tsx
  ee/frontend/src/rbac/api/org-members-cache.ts
  ee/frontend/src/rbac/api/project-members-cache.ts
  ee/frontend/src/rbac/components/OrgRoleChip.tsx
  ee/frontend/src/rbac/components/ProjectRoleChip.tsx
  ee/frontend/src/rbac/components/RoleEditorDrawer.tsx
  ee/frontend/src/rbac/hooks/useActorAuthority.ts
  ee/frontend/src/rbac/role-display.ts
Due: frontend-format, frontend-lint, hardcoded-styles

refactor(frontend): extract project card sx to shared module
  apps/frontend/src/app/(protected)/organizations/team/components/MemberAccessDrawer.tsx
  apps/frontend/src/app/(protected)/organizations/team/components/TeamInviteForm.tsx
  apps/frontend/src/app/(protected)/organizations/team/components/memberCardSx.ts
  apps/frontend/src/lib/extension-registries/member-role-extensions.ts
  ee/frontend/src/rbac/components/RoleSelectField.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): fix invite project row hover contrast
  apps/frontend/src/app/(protected)/organizations/team/components/TeamInviteForm.tsx
  apps/frontend/src/app/(protected)/organizations/team/components/memberCardSx.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(tokens): scope token listing to active project (#2087)
  apps/backend/src/rhesis/backend/app/crud.py
  apps/backend/src/rhesis/backend/app/routers/token.py
  apps/frontend/src/app/(protected)/tokens/components/CreateTokenDrawer.tsx
  apps/frontend/src/app/(protected)/tokens/components/__tests__/CreateTokenDrawer.test.tsx
Due: backend, frontend-format, frontend-lint, hardcoded-styles

fix(frontend): show not-found UI after project switch on detail pages
  apps/frontend/src/app/(protected)/endpoints/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/projects/[identifier]/endpoints/[endpointId]/page.tsx
  apps/frontend/src/app/(protected)/tasks/[identifier]/page.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(traces): correct span detail code block corner radius
  apps/frontend/src/app/(protected)/traces/components/SpanDetailsPanel.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

feat(backend): guard + atomic role_id on project member add
  apps/backend/src/rhesis/backend/app/auth/role_assignment_hook.py
  apps/backend/src/rhesis/backend/app/routers/project.py
  ee/backend/src/rhesis/backend/ee/__init__.py
  ee/backend/src/rhesis/backend/ee/rbac/router.py
Due: backend

fix(frontend): use card empty state on knowledge page
  apps/frontend/src/app/(protected)/knowledge/components/KnowledgeClientWrapper.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(explorer): stabilize explorer test set pagination
  apps/backend/src/rhesis/backend/app/services/explorer/tests.py
Due: backend

fix(backend): architect errors and event loop
  apps/backend/src/rhesis/backend/app/services/architect/event_handler.py
  apps/backend/src/rhesis/backend/app/services/architect/runner.py
  apps/backend/src/rhesis/backend/app/services/websocket/handlers/architect.py
  apps/backend/src/rhesis/backend/tasks/architect/chat.py
  apps/backend/src/rhesis/backend/tasks/endpoint/explore.py
  apps/frontend/src/hooks/__tests__/useArchitectChat.test.ts
  apps/frontend/src/hooks/useArchitectChat.ts
  sdk/src/rhesis/sdk/agents/base.py
  sdk/src/rhesis/sdk/agents/errors.py
  sdk/src/rhesis/sdk/async_utils.py
  tests/backend/tasks/architect/test_event_handler.py
  tests/backend/tasks/architect/test_progress.py
  tests/backend/tasks/test_explore.py
  tests/sdk/agents/test_errors.py
  tests/sdk/test_async_utils.py
Due: sdk, backend, frontend-format, frontend-lint, hardcoded-styles

test(architect): expect sanitized error in stream end test
  tests/backend/tasks/architect/test_event_handler.py
Due: none

Fix: scope token listing to active project (#2089)
  apps/backend/src/rhesis/backend/app/crud.py
  apps/backend/src/rhesis/backend/app/routers/token.py
  apps/backend/src/rhesis/backend/app/services/explorer/tests.py
  apps/frontend/src/app/(protected)/tokens/components/CreateTokenDrawer.tsx
  apps/frontend/src/app/(protected)/tokens/components/__tests__/CreateTokenDrawer.test.tsx
Due: backend, frontend-format, frontend-lint, hardcoded-styles

fix: scope onboarding demo data and collect first project
  apps/backend/src/rhesis/backend/alembic/versions/b3c4d5e6f7a8_scope_onboarding_data_to_example_project.py
  apps/backend/src/rhesis/backend/app/services/organization.py
  apps/frontend/src/app/(protected)/onboarding/components/FinishStep.tsx
  apps/frontend/src/app/(protected)/onboarding/components/OnboardingPageClient.tsx
  apps/frontend/src/app/(protected)/onboarding/components/OrganizationDetailsStep.tsx
  apps/frontend/src/app/(protected)/onboarding/components/WelcomeVideoStep.tsx
  apps/frontend/src/utils/validation.ts
  apps/frontend/tests/e2e/tests/onboarding.spec.ts
  tests/backend/services/test_organization.py
Due: backend, frontend-format, frontend-lint, hardcoded-styles

feat(rbac): polish role editor and extend role API
  ee/backend/src/rhesis/backend/ee/rbac/router.py
  ee/backend/src/rhesis/backend/ee/rbac/schemas.py
  ee/frontend/src/rbac/components/RoleEditorDrawer.tsx
Due: none

fix: delete project-scoped demo rows before project on rollback
  apps/backend/src/rhesis/backend/app/services/organization.py
Due: backend

fix: address peqy review on RLS scope and invite client
  apps/backend/src/rhesis/backend/app/services/organization.py
  apps/frontend/src/app/(protected)/onboarding/components/OnboardingPageClient.tsx
Due: backend, frontend-format, frontend-lint, hardcoded-styles

fix: bypass project filter during onboarding data rollback
  apps/backend/src/rhesis/backend/app/services/organization.py
Due: backend

fix: include garak metrics in onboarding rollback map
  apps/backend/src/rhesis/backend/app/services/organization.py
Due: backend

fix(sdk): harden pydantic ai span extraction
  sdk/src/rhesis/sdk/telemetry/attributes.py
  sdk/src/rhesis/sdk/telemetry/integrations/langchain/extractors.py
  sdk/src/rhesis/sdk/telemetry/integrations/pydantic_ai.py
Due: sdk

feat(penelope): export PydanticAITarget from package root
  penelope/src/rhesis/penelope/__init__.py
Due: none

docs(examples): showcase pydantic ai auto-instrumentation
  examples/telemetry/pydantic_ai_example.py
  penelope/examples/pydantic_ai_minimal.py
Due: none

fix(sdk,penelope): close bare-attachment leak, document sync blocking
  penelope/src/rhesis/penelope/targets/pydantic_ai.py
  sdk/src/rhesis/sdk/telemetry/integrations/pydantic_ai.py
  tests/sdk/telemetry/integrations/test_pydantic_ai_integration.py
Due: sdk

fix(penelope): keep real binaries for OCR-extracted media
  penelope/src/rhesis/penelope/_file_compat.py
  tests/penelope/targets/test_content_blocks.py
  tests/penelope/targets/test_pydantic_ai.py
  tests/penelope/test_file_compat.py
Due: none

Path conditions:
  sdk: any of: ^sdk/
  backend: any of: ^apps/backend/
  frontend-format: any of: ^apps/frontend/
  frontend-lint: any of: ^apps/frontend/
  docs-format: any of: ^apps/documentation/
  hardcoded-styles: any of: ^apps/(frontend|documentation)/
