Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, docs-format, hardcoded-styles

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict

  - repo: local
    hooks:
        - id: trufflehog
          name: TruffleHog
          description: Detect secrets in your data.
          entry: bash -c 'PATH="$HOME/.local/bin:$PATH" trufflehog git file://. --since-commit HEAD --only-verified --fail --no-update'
          language: system
          stages: ["pre-commit", "pre-push"]

        - id: sdk
          name  : format sdk
          language: system
          entry: make -C sdk format
          files: ^sdk/
          pass_filenames: false

        - id: backend
          name  : format backend
          language: system
          entry: make -C apps/backend format_diff
          files: ^apps/backend/
          pass_filenames: false

        - id: frontend-format
          name: auto-fix frontend formatting
          language: system
          entry: bash -c "cd apps/frontend && npm run format"
          files: ^apps/frontend/
          pass_filenames: false

        - id: frontend-lint
          name: lint frontend
          language: system
          entry: bash -c "cd apps/frontend && npm run lint"
          files: ^apps/frontend/
          pass_filenames: false

        - id: docs-format
          name: auto-fix docs formatting
          language: system
          entry: bash -c "cd apps/documentation && npm run format"
          files: ^apps/documentation/
          pass_filenames: false

        - id: hardcoded-styles
          name: check hardcoded styles in frontend and docs
          language: system
          entry: node scripts/check-hardcoded-styles.js
          files: ^apps/(frontend|documentation)/
          pass_filenames: false


  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.8.0
  #   hooks:
  #     - id: mypy
  #       additional_dependencies: [
  #         "types-requests",
  #         "pandas-stubs",
  #         "pyarrow-stubs",
  #         "types-tqdm"
  #       ]

test(frontend): fix insights e2e for empty states
  apps/frontend/tests/e2e/pages/InsightsPage.ts
Due: frontend-format, frontend-lint, hardcoded-styles

Fix trace listing when active project scope differs from query (#2055)
  apps/backend/src/rhesis/backend/app/dependencies.py
  apps/backend/src/rhesis/backend/app/routers/telemetry.py
  apps/frontend/src/app/(protected)/traces/components/TracesClient.tsx
  apps/frontend/tests/e2e/pages/InsightsPage.ts
  tests/backend/routes/test_telemetry_query.py
Due: backend, frontend-format, frontend-lint, hardcoded-styles

refactor(auth): enhance logout cookie domain logic and update documentation
  apps/backend/src/rhesis/backend/app/auth/url_utils.py
  docs/content/contribute/environment-variables.mdx
  tests/backend/auth/test_url_utils.py
Due: backend

feat(backend): enforce object-level auth on test_result routes; add affordances to test_result/test_run schemas
  apps/backend/src/rhesis/backend/app/auth/capabilities.py
  apps/backend/src/rhesis/backend/app/routers/test_result.py
  apps/backend/src/rhesis/backend/app/schemas/test_result.py
  apps/backend/src/rhesis/backend/app/schemas/test_run.py
  tests/backend/auth/test_affordance_context.py
  tests/backend/auth/test_object_level_auth.py
Due: backend

feat(frontend): complete affordance consumption across all resource types
  apps/frontend/src/app/(protected)/experiments/[identifier]/components/ExperimentOverviewTab.tsx
  apps/frontend/src/app/(protected)/experiments/components/ExperimentsClientWrapper.tsx
  apps/frontend/src/app/(protected)/tasks/[identifier]/components/TaskDetailsCard.tsx
  apps/frontend/src/app/(protected)/tasks/components/TasksGrid.tsx
  apps/frontend/src/app/(protected)/tasks/page.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestDetailReviewsTab.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestRunDetailHeader.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestRunMainView.tsx
  apps/frontend/src/app/(protected)/test-runs/components/TestRunsGrid.tsx
  apps/frontend/src/app/(protected)/test-runs/page.tsx
  apps/frontend/src/app/(protected)/traces/components/TraceReviewsTab.tsx
  apps/frontend/src/components/comments/CommentItem.tsx
  apps/frontend/src/components/comments/CommentsSection.tsx
  apps/frontend/src/components/common/EditableSection.tsx
  apps/frontend/src/components/common/createRowActionsColumn.tsx
  apps/frontend/src/components/tasks/TasksSection.tsx
  apps/frontend/src/constants/capabilities.ts
  apps/frontend/src/utils/api-client/interfaces/parameters.ts
  apps/frontend/src/utils/api-client/interfaces/test-results.ts
  apps/frontend/src/utils/api-client/interfaces/test-run.ts
Due: frontend-format, frontend-lint, hardcoded-styles

feat(rbac): gate remaining mutation UI with affordance checks
  apps/frontend/src/app/(protected)/architect/components/ArchitectSidebar.tsx
  apps/frontend/src/app/(protected)/behaviors/[identifier]/components/BehaviorDetailTabs.tsx
  apps/frontend/src/app/(protected)/behaviors/components/BehaviorCard.tsx
  apps/frontend/src/app/(protected)/behaviors/components/BehaviorsClient.tsx
  apps/frontend/src/app/(protected)/experiments/[identifier]/components/ExperimentDetailClient.tsx
  apps/frontend/src/app/(protected)/experiments/components/ExperimentsClientWrapper.tsx
  apps/frontend/src/app/(protected)/explorer/ExplorerClient.tsx
  apps/frontend/src/app/(protected)/metrics/[identifier]/MetricDetailPageTabs.tsx
  apps/frontend/src/app/(protected)/metrics/[identifier]/MetricDetailView.tsx
  apps/frontend/src/app/(protected)/metrics/components/MetricsDirectoryTab.tsx
  apps/frontend/src/app/(protected)/models/page.tsx
  apps/frontend/src/app/(protected)/organizations/settings/components/ContactInformationForm.tsx
  apps/frontend/src/app/(protected)/organizations/settings/components/OrganizationDetailsForm.tsx
  apps/frontend/src/app/(protected)/projects/[identifier]/client-wrapper.tsx
  apps/frontend/src/app/(protected)/projects/[identifier]/components/ProjectConfigurationTab.tsx
  apps/frontend/src/app/(protected)/projects/[identifier]/components/ProjectEnvironments.tsx
  apps/frontend/src/app/(protected)/projects/[identifier]/components/ProjectTraceMetrics.tsx
  apps/frontend/src/constants/capabilities.ts
Due: frontend-format, frontend-lint, hardcoded-styles

feat(rbac): gate remaining frontend surfaces with affordance checks
  apps/frontend/src/app/(protected)/behaviors/[identifier]/components/BehaviorDetailClient.tsx
  apps/frontend/src/app/(protected)/endpoints/[identifier]/components/EndpointTestTab.tsx
  apps/frontend/src/app/(protected)/metrics/[identifier]/MetricDetailPageTabs.tsx
  apps/frontend/src/app/(protected)/organizations/settings/page.tsx
  apps/frontend/src/app/(protected)/projects/[identifier]/components/ProjectMetadataCard.tsx
  apps/frontend/src/app/(protected)/projects/[identifier]/components/ProjectOverviewTab.tsx
  apps/frontend/src/app/(protected)/projects/[identifier]/components/ProjectParameters.tsx
  apps/frontend/src/app/(protected)/projects/[identifier]/components/ProjectTagsCard.tsx
  apps/frontend/src/app/(protected)/projects/components/ProjectsClientWrapper.tsx
  apps/frontend/src/app/(protected)/tasks/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/traces/components/TracesClientWrapper.tsx
  apps/frontend/src/constants/capabilities.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(rbac): enforce qualified caps on review sub-resource routes; precompute affordances
  apps/backend/src/rhesis/backend/app/auth/affordances.py
  apps/backend/src/rhesis/backend/app/dependencies.py
  apps/backend/src/rhesis/backend/app/routers/telemetry.py
  apps/backend/src/rhesis/backend/app/routers/test_result.py
Due: backend

fix(ci): resolve TypeScript errors, ruff formatting, and hardcoded style violations
  apps/backend/src/rhesis/backend/app/auth/capabilities.py
  apps/backend/src/rhesis/backend/app/models/experiment.py
  apps/frontend/src/app/(protected)/models/components/ModelCard.tsx
  apps/frontend/src/app/(protected)/projects/[identifier]/components/parameter-schema-shared.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestDetailReviewsTab.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestResultDrawer.tsx
  apps/frontend/src/app/(protected)/tests/new-manual/components/ManualTestWriter.tsx
Due: backend, frontend-format, frontend-lint, hardcoded-styles

fix(ci): resolve prettier formatting and jest test failures
  apps/frontend/src/app/(protected)/behaviors/[identifier]/components/BehaviorDetailTabs.tsx
  apps/frontend/src/app/(protected)/behaviors/components/__tests__/BehaviorCard.test.tsx
  apps/frontend/src/app/(protected)/experiments/[identifier]/components/ExperimentDetailClient.tsx
  apps/frontend/src/app/(protected)/experiments/components/ExperimentsClientWrapper.tsx
  apps/frontend/src/app/(protected)/explorer/ExplorerClient.tsx
  apps/frontend/src/app/(protected)/metrics/components/MetricsDirectoryTab.tsx
  apps/frontend/src/app/(protected)/models/components/ModelCard.tsx
  apps/frontend/src/app/(protected)/models/page.tsx
  apps/frontend/src/app/(protected)/projects/[identifier]/components/ProjectEnvironments.tsx
  apps/frontend/src/app/(protected)/projects/[identifier]/components/ProjectMembers.tsx
  apps/frontend/src/app/(protected)/projects/[identifier]/components/ProjectParameters.tsx
  apps/frontend/src/app/(protected)/projects/components/ProjectsClientWrapper.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestDetailReviewsTab.tsx
  apps/frontend/src/app/(protected)/test-runs/components/TestRunsGrid.tsx
  apps/frontend/src/app/(protected)/test-runs/components/__tests__/TestRunsGrid.test.tsx
  apps/frontend/src/app/(protected)/test-runs/page.tsx
  apps/frontend/src/components/comments/CommentItem.tsx
  apps/frontend/src/components/comments/CommentsSection.tsx
  apps/frontend/src/components/comments/__tests__/CommentItem.test.tsx
  apps/frontend/src/components/comments/__tests__/CommentsSection.test.tsx
  apps/frontend/src/components/common/AccessDenied.tsx
  apps/frontend/src/components/tasks/TaskItem.tsx
  apps/frontend/src/components/tasks/__tests__/TaskItem.test.tsx
  apps/frontend/src/components/tasks/__tests__/TasksSection.test.tsx
  apps/frontend/src/utils/__tests__/entity-helpers.test.ts
  apps/frontend/src/utils/__tests__/task-lookup.test.ts
  apps/frontend/src/utils/api-client/__tests__/files-client.test.ts
  apps/frontend/src/utils/entity-helpers.ts
  apps/frontend/src/utils/task-lookup.ts
Due: frontend-format, frontend-lint, hardcoded-styles

perf(frontend): remove redundant limit:1 count fetches on test-runs, test-sets, tests
  apps/frontend/src/app/(protected)/test-runs/page.tsx
  apps/frontend/src/app/(protected)/test-sets/components/TestSetsGrid.tsx
  apps/frontend/src/app/(protected)/test-sets/page.tsx
  apps/frontend/src/app/(protected)/tests/components/TestsGrid.tsx
  apps/frontend/src/app/(protected)/tests/page.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(ci): fix backend capabilities test and flaky e2e tests
  apps/frontend/tests/e2e/tests/test-run-creation.spec.ts
  apps/frontend/tests/e2e/tests/traces.spec.ts
  tests/backend/auth/test_rbac.py
Due: frontend-format, frontend-lint, hardcoded-styles

style(ci): run prettier on traces e2e spec
  apps/frontend/tests/e2e/tests/traces.spec.ts
Due: frontend-format, frontend-lint, hardcoded-styles

feat(dev): add worker queue monitor and trace stress test
  apps/developer-tools/pyproject.toml
  apps/developer-tools/trace_stress/main.py
  apps/developer-tools/trace_stress/start.sh
  apps/developer-tools/uv.lock
  apps/worker/queue_monitor.py
  rh
Due: none

feat(dev): add worker queue monitor and trace stress test (#2061)
  apps/developer-tools/pyproject.toml
  apps/developer-tools/trace_stress/main.py
  apps/developer-tools/trace_stress/start.sh
  apps/developer-tools/uv.lock
  apps/worker/queue_monitor.py
  rh
Due: none

perf(frontend): remove redundant limit:1 to remaining pages
  apps/frontend/src/app/(protected)/endpoints/components/EndpointsGrid.tsx
  apps/frontend/src/app/(protected)/endpoints/page.tsx
  apps/frontend/src/app/(protected)/explorer/ExplorerClient.tsx
  apps/frontend/src/app/(protected)/explorer/components/ExplorerGrid.tsx
  apps/frontend/src/app/(protected)/knowledge/components/KnowledgeClientWrapper.tsx
  apps/frontend/src/app/(protected)/knowledge/components/SourcesGrid.tsx
  apps/frontend/src/app/(protected)/tasks/components/TasksGrid.tsx
  apps/frontend/src/app/(protected)/tasks/page.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

ci(k8s): move nightly deploy schedule to k8s workflow
  .github/workflows/deploy-all-k8s.yml
  .github/workflows/deploy_all.yml
Due: none

ci(k8s): move nightly deploy schedule to k8s workflow (#2062)
  .github/workflows/deploy-all-k8s.yml
  .github/workflows/deploy_all.yml
Due: none

fix(ci): fix e2e strict-mode violations in test-run-creation and traces specs
  apps/frontend/tests/e2e/tests/test-run-creation.spec.ts
  apps/frontend/tests/e2e/tests/traces.spec.ts
Due: frontend-format, frontend-lint, hardcoded-styles

perf(frontend): parallelize independent api calls on experiements and model pages
  apps/frontend/src/app/(protected)/experiments/[identifier]/components/ExperimentDetailClient.tsx
  apps/frontend/src/app/(protected)/models/page.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

feat(rbac): gate remaining frontend surfaces and fix rerun capability check
  apps/frontend/src/app/(protected)/endpoints/[identifier]/components/EndpointConnectionTab.tsx
  apps/frontend/src/app/(protected)/endpoints/[identifier]/components/EndpointHeaderActions.tsx
  apps/frontend/src/app/(protected)/endpoints/[identifier]/components/EndpointMappingTab.tsx
  apps/frontend/src/app/(protected)/endpoints/[identifier]/components/EndpointOverviewTab.tsx
  apps/frontend/src/app/(protected)/endpoints/components/EndpointsGrid.tsx
  apps/frontend/src/app/(protected)/endpoints/page.tsx
  apps/frontend/src/app/(protected)/knowledge/components/KnowledgeClientWrapper.tsx
  apps/frontend/src/app/(protected)/knowledge/components/SourcesGrid.tsx
  apps/frontend/src/app/(protected)/tasks/page.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestRunMainView.tsx
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/TestSetDetailsCard.tsx
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/TestSetHeaderActions.tsx
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/TestSetTagsMetricsCard.tsx
  apps/frontend/src/app/(protected)/test-sets/components/TestSetsGrid.tsx
  apps/frontend/src/app/(protected)/test-sets/page.tsx
  apps/frontend/src/app/(protected)/tests/[identifier]/components/TestFormElementsCard.tsx
  apps/frontend/src/app/(protected)/tests/[identifier]/components/TestMetadataCard.tsx
  apps/frontend/src/app/(protected)/tests/[identifier]/components/TestTechnicalCard.tsx
  apps/frontend/src/app/(protected)/tests/[identifier]/components/TestToTestSet.tsx
  apps/frontend/src/app/(protected)/tests/components/TestsGrid.tsx
  apps/frontend/src/app/(protected)/tests/page.tsx
  apps/frontend/src/app/(protected)/tools/page.tsx
  apps/frontend/src/app/(protected)/traces/components/TraceReviewsTab.tsx
  tests/backend/auth/test_object_level_auth.py
Due: frontend-format, frontend-lint, hardcoded-styles

refactor(tests): remove outdated logout cookie domain test
  tests/backend/routes/test_auth.py
Due: none

fix(rbac): add unrestricted admin bypass to task update/delete routes
  apps/backend/src/rhesis/backend/app/routers/task_management.py
Due: backend

refactor(auth): remove logout cookie domain handling and simplify logout logic
  apps/backend/src/rhesis/backend/app/auth/url_utils.py
  apps/backend/src/rhesis/backend/app/routers/auth.py
  tests/backend/auth/test_url_utils.py
  tests/backend/routes/test_auth.py
Due: backend

fix(ci): fix hardcoded style, missing import, and prettier violations
  apps/frontend/src/app/(protected)/knowledge/components/KnowledgeClientWrapper.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestRunMainView.tsx
  apps/frontend/src/app/(protected)/tests/[identifier]/components/TestTechnicalCard.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

refactor(auth): remove unnecessary blank line in url_utils.py
  apps/backend/src/rhesis/backend/app/auth/url_utils.py
Due: backend

Remove ENVIRONMENT var and fix auth cookie/logout handling (#2058)
  .env.example
  .github/workflows/backend.yml
  apps/backend/Dockerfile.dev
  apps/backend/migrate.sh
  apps/backend/src/rhesis/backend/app/config/settings.py
  apps/backend/src/rhesis/backend/app/routers/auth.py
  apps/backend/start.sh
  charts/rhesis/templates/configmap.yaml
  docker-compose.yml
  docs/content/contribute/backend/index.mdx
  docs/content/contribute/environment-variables.mdx
  infrastructure/k8s/manifests/configmaps/rhesis-config.yaml.example
  rh
  tests/backend/conftest.py
  tests/backend/routes/test_auth.py
  tests/backend/services/fixtures/storage_fixtures.py
  tests/docker-compose.test.yml
Due: backend

fix(frontend): scope test-run compare page to project
  apps/frontend/src/app/(protected)/test-runs/[identifier]/compare/page.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(e2e): target page-level elements in traces empty-state test
  apps/frontend/tests/e2e/tests/traces.spec.ts
Due: frontend-format, frontend-lint, hardcoded-styles

perf(frontend): prevent redundant settings fetches on navigation
  apps/frontend/src/contexts/ActiveProjectContext.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

perf(frontend): defer dropdown fetches until test drawer is opened
  apps/frontend/src/app/(protected)/tests/components/TestDrawer.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

perf(frontend): skip no-op filter state updates on tests grid mount
  apps/frontend/src/app/(protected)/tests/components/TestsGrid.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

docs: add affordances pattern rules to CLAUDE.md and cursor rules
  .cursor/rules/affordances.mdc
  CLAUDE.md
Due: none

fix(frontend): scope test-run compare page to project (#2063)
  apps/frontend/src/app/(protected)/test-runs/[identifier]/compare/page.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

feat: add unlimited rate-limit tier for rh- api keys
  apps/chatbot/client.py
Due: none

feat: add unlimited rate-limit tier for rh- api keys (#2064)
  apps/chatbot/client.py
Due: none

feat(backend): expose user_email in token introspection endpoint
  apps/backend/src/rhesis/backend/app/routers/token.py
  apps/backend/src/rhesis/backend/app/schemas/token.py
Due: backend

fix: bound token introspection cache and skip transient errors
  apps/chatbot/client.py
Due: none

fix(backend): remove task admin bypass; extract review helpers
  apps/backend/src/rhesis/backend/app/routers/task_management.py
  apps/backend/src/rhesis/backend/app/routers/telemetry.py
  apps/backend/src/rhesis/backend/app/routers/test_result.py
  apps/backend/src/rhesis/backend/app/services/review.py
Due: backend

test(tests): add task object-level auth coverage
  tests/backend/auth/test_object_level_auth.py
Due: none
