Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, docs-format, hardcoded-styles

sdk:
  name: format sdk
  language: system
  entry: make -C sdk format
  pass_filenames: false

backend:
  name: format backend
  language: system
  entry: make -C apps/backend format_diff
  pass_filenames: false

frontend-format:
  name: auto-fix frontend formatting
  language: system
  entry: bash -c "cd apps/frontend && npm run format"
  pass_filenames: false

frontend-lint:
  name: lint frontend
  language: system
  entry: bash -c "cd apps/frontend && npm run lint"
  pass_filenames: false

docs-format:
  name: auto-fix docs formatting
  language: system
  entry: bash -c "cd apps/documentation && npm run format"
  pass_filenames: false

hardcoded-styles:
  name: check hardcoded styles in frontend and docs
  language: system
  entry: node scripts/check-hardcoded-styles.js
  pass_filenames: false

enhance: improve runtime environment variable logging in replace-runtime-env.sh
  apps/frontend/scripts/replace-runtime-env.sh
Due: frontend-format, frontend-lint, hardcoded-styles

chore(infra): wire SSO_ENCRYPTION_KEY into backend deployment
  .github/workflows/backend.yml
  infrastructure/config/service-secrets-config.sh.example
  infrastructure/k8s/manifests/secrets/rhesis-secrets.yaml.example
Due: none

chore(infra): add SSO_ENCRYPTION_KEY to service secrets create script
  infrastructure/config/service-secrets-create.sh
Due: none

chore(frontend): bump package-lock version to 0.6.12
  apps/frontend/package-lock.json
Due: frontend-format, frontend-lint, hardcoded-styles

fix: cnpg bucket access permission
  terraform/infrastructure/modules/cnpg-barman-sa-gcp/main.tf
  terraform/infrastructure/terraform.tfvars.example
Due: none

fix(sso): handle self-signed certs and return friendly error on provider failure
  apps/backend/src/rhesis/backend/app/auth/providers/oidc.py
  apps/backend/src/rhesis/backend/app/auth/sso_http_client.py
  apps/backend/src/rhesis/backend/app/routers/sso.py
  apps/backend/src/rhesis/backend/app/schemas/sso_config.py
  apps/frontend/src/app/(protected)/organizations/settings/components/SSOConfigForm.tsx
  apps/frontend/src/utils/api-client/interfaces/organization.ts
Due: backend, frontend-format, frontend-lint, hardcoded-styles

fix(sso): thread allow_insecure_tls through SSOConfig constructor on update
  apps/backend/src/rhesis/backend/app/routers/sso.py
Due: backend

fix(sso): log token exchange HTTP response body on failure
  apps/backend/src/rhesis/backend/app/auth/providers/oidc.py
Due: backend

update service secret example
  infrastructure/config/service-secrets-config.sh.example
  infrastructure/config/service-secrets-create.sh
Due: none

fix(sso): add detailed logging for missing email claim and userinfo fallback
  apps/backend/src/rhesis/backend/app/auth/providers/oidc.py
Due: backend

docs: update v0.7.0 release docs
  docs/content/contribute/backend/odata-guide.mdx
  docs/content/contribute/environment-variables.mdx
  docs/content/contribute/polyphemus/index.mdx
  docs/content/docs/_meta.tsx
  docs/content/docs/architect/_meta.tsx
  docs/content/docs/architect/index.mdx
  docs/content/docs/metrics/index.mdx
  docs/content/docs/test-sets/adaptive-testing.mdx
  docs/content/sdk/_meta.tsx
  docs/content/sdk/agents.mdx
  docs/content/sdk/metrics/index.mdx
  docs/content/sdk/models.mdx
Due: none

feat: enhance logging for placeholder replacement in replace-runtime-env.sh
  apps/frontend/scripts/replace-runtime-env.sh
Due: frontend-format, frontend-lint, hardcoded-styles

feat: add new allowed origin for CORS in main.py
  apps/backend/src/rhesis/backend/app/main.py
Due: backend

docs: add video walkthrough to agent skill page
  docs/content/docs/agent-skill/index.mdx
Due: none

docs: add video walkthrough to agent skill page (#1710)
  docs/content/docs/agent-skill/index.mdx
Due: none

docs: add agent skill cross-references and fix video spacing
  docs/content/docs/getting-started/index.mdx
  docs/content/docs/getting-started/run-evaluations.mdx
  docs/content/docs/mcp/index.mdx
  docs/src/components/YouTubeEmbed.jsx
Due: none

docs: add agent skill cross-references and fix video spacing (#1711)
  docs/content/docs/getting-started/index.mdx
  docs/content/docs/getting-started/run-evaluations.mdx
  docs/content/docs/mcp/index.mdx
  docs/src/components/YouTubeEmbed.jsx
Due: none

docs: add multi-page Architect (Telemachus) documentation
  docs/content/contribute/_meta.tsx
  docs/content/contribute/backend/architect-chat-system.mdx
  docs/content/contribute/sdk/_meta.tsx
  docs/content/contribute/sdk/architect-agent.mdx
  docs/content/docs/agent-skill/index.mdx
  docs/content/docs/architect/_meta.tsx
  docs/content/docs/architect/chat-features.mdx
  docs/content/docs/architect/execution-and-analysis.mdx
  docs/content/docs/architect/exploration.mdx
  docs/content/docs/architect/index.mdx
  docs/content/docs/architect/planning.mdx
  docs/content/docs/architect/scenarios.mdx
  docs/content/docs/architect/workflow.mdx
  docs/content/sdk/agents.mdx
  docs/src/public/screenshots/rhesis-ai-architect-chat.png
Due: none

feat: add ChatExchange component for conversation examples
  docs/src/components/ChatExchange.jsx
  docs/src/mdx-components.js
Due: none

fix: update the service secrets create
  infrastructure/config/service-secrets-create.sh
Due: none

docs: fix accuracy issues flagged in review
  docs/content/sdk/agents.mdx
  docs/content/sdk/models.mdx
Due: none

docs: revert incorrect RHESIS_API_TOKEN distinction
  docs/content/sdk/agents.mdx
Due: none

ci: update polyphemus vertex ai workflow
  .github/workflows/polyphemus-vertex-ai.yml
Due: none

ci: update polyphemus vertex ai workflow (#1712)
  .github/workflows/polyphemus-vertex-ai.yml
Due: none

feat(frontend): explorer copy and sidebar placement
  apps/frontend/src/app/(protected)/adaptive-testing/[identifier]/components/AdaptiveTestingDetail.tsx
  apps/frontend/src/app/(protected)/adaptive-testing/[identifier]/components/SuggestionsDialog.tsx
  apps/frontend/src/app/(protected)/adaptive-testing/[identifier]/layout.tsx
  apps/frontend/src/app/(protected)/adaptive-testing/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/adaptive-testing/components/AdaptiveTestingGrid.tsx
  apps/frontend/src/app/(protected)/adaptive-testing/layout.tsx
  apps/frontend/src/app/(protected)/adaptive-testing/page.tsx
  apps/frontend/src/app/layout.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

feat(explorer): add adaptive testing tree endpoints and schemas
  apps/backend/src/rhesis/backend/app/routers/explorer.py
  apps/backend/src/rhesis/backend/app/schemas/explorer.py
  apps/backend/src/rhesis/backend/app/services/explorer/__init__.py
  apps/backend/src/rhesis/backend/app/services/explorer/diversity_strategies.py
  apps/backend/src/rhesis/backend/app/services/explorer/embeddings.py
  apps/backend/src/rhesis/backend/app/services/explorer/evaluation.py
  apps/backend/src/rhesis/backend/app/services/explorer/responses.py
  apps/backend/src/rhesis/backend/app/services/explorer/settings.py
  apps/backend/src/rhesis/backend/app/services/explorer/suggestions.py
  apps/backend/src/rhesis/backend/app/services/explorer/tests.py
  apps/backend/src/rhesis/backend/app/services/explorer/topics.py
  apps/backend/src/rhesis/backend/app/services/explorer/utils.py
  apps/frontend/src/app/(protected)/explorer/[identifier]/components/ExplorerDetail.tsx
  apps/frontend/src/app/(protected)/explorer/[identifier]/components/SuggestionsDialog.tsx
  apps/frontend/src/app/(protected)/explorer/[identifier]/components/scoreMetricsTooltip.tsx
  apps/frontend/src/app/(protected)/explorer/[identifier]/layout.tsx
  apps/frontend/src/app/(protected)/explorer/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/explorer/components/ExplorerGrid.tsx
  apps/frontend/src/app/(protected)/explorer/components/ImportExplorerTestSetDialog.tsx
  apps/frontend/src/app/(protected)/explorer/layout.tsx
  apps/frontend/src/app/(protected)/explorer/page.tsx
  apps/frontend/src/utils/api-client/__tests__/explorer-client.test.ts
  apps/frontend/src/utils/api-client/explorer-client.ts
  apps/frontend/src/utils/api-client/interfaces/explorer.ts
  docs/content/docs/test-sets/explorer.mdx
  tests/backend/routes/test_explorer.py
  tests/backend/services/explorer/__init__.py
  tests/backend/services/explorer/conftest.py
  tests/backend/services/explorer/test_diversity_strategies.py
  tests/backend/services/explorer/test_evaluation.py
  tests/backend/services/explorer/test_responses.py
  tests/backend/services/explorer/test_settings.py
  tests/backend/services/explorer/test_tests.py
  tests/backend/services/explorer/test_topics.py
Due: backend, frontend-format, frontend-lint, hardcoded-styles

refactor: rename adaptive testing to explorer and update related endpoints
  docs/content/docs/test-sets/_meta.tsx
  docs/content/docs/test-sets/explorer.mdx
  docs/content/docs/test-sets/index.mdx
Due: none

fix(explorer): update endpoint paths to include trailing slashes
  apps/backend/src/rhesis/backend/app/routers/explorer.py
Due: backend

docs(glossary): enhance definitions and examples for Trace, Connector, and Playground terms
  docs/content/glossary/glossary-terms.jsonl
Due: none

fix(architect): prevent streaming output bleed across sessions
  apps/frontend/src/hooks/useArchitectChat.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix: update service-secrets-create.sh
  infrastructure/config/service-secrets-create.sh
Due: none

test(architect): add unsubscribeFromChannel to useWebSocket mock
  apps/frontend/src/hooks/__tests__/useArchitectChat.test.ts
Due: frontend-format, frontend-lint, hardcoded-styles

refactor: rename adaptive identifiers to explorer
  .cursor/rules/testing.mdc
  apps/backend/src/rhesis/backend/app/constants.py
  apps/backend/src/rhesis/backend/app/crud.py
  apps/backend/src/rhesis/backend/app/routers/explorer.py
  apps/backend/src/rhesis/backend/app/routers/test_set.py
  apps/backend/src/rhesis/backend/app/schemas/__init__.py
  apps/backend/src/rhesis/backend/app/schemas/explorer.py
  apps/backend/src/rhesis/backend/app/schemas/test_set.py
  apps/backend/src/rhesis/backend/app/services/explorer/__init__.py
  apps/backend/src/rhesis/backend/app/services/explorer/embeddings.py
  apps/backend/src/rhesis/backend/app/services/explorer/evaluation.py
  apps/backend/src/rhesis/backend/app/services/explorer/responses.py
  apps/backend/src/rhesis/backend/app/services/explorer/settings.py
  apps/backend/src/rhesis/backend/app/services/explorer/tests.py
  apps/backend/src/rhesis/backend/app/services/explorer/topics.py
  apps/backend/src/rhesis/backend/app/services/explorer/utils.py
  apps/backend/src/rhesis/backend/app/services/test_set.py
  apps/frontend/src/app/(protected)/explorer/[identifier]/components/ExplorerDetail.tsx
  apps/frontend/src/app/(protected)/explorer/[identifier]/components/SuggestionsDialog.tsx
  apps/frontend/src/app/(protected)/explorer/[identifier]/components/scoreMetricsTooltip.tsx
  apps/frontend/src/app/(protected)/explorer/components/ExplorerGrid.tsx
  apps/frontend/src/app/(protected)/explorer/components/ImportExplorerTestSetDialog.tsx
  apps/frontend/src/app/(protected)/explorer/page.tsx
  apps/frontend/src/utils/api-client/__tests__/explorer-client.test.ts
  apps/frontend/src/utils/api-client/explorer-client.ts
  apps/frontend/src/utils/api-client/interfaces/explorer.ts
  tests/backend/routes/test_explorer.py
  tests/backend/services/explorer/conftest.py
  tests/backend/services/explorer/test_diversity_strategies.py
  tests/backend/services/explorer/test_evaluation.py
  tests/backend/services/explorer/test_responses.py
  tests/backend/services/explorer/test_settings.py
  tests/backend/services/explorer/test_tests.py
  tests/backend/services/explorer/test_topics.py
  tests/backend/services/test_test_set.py
Due: backend, frontend-format, frontend-lint, hardcoded-styles

fix/prevent-empty-token-name
  apps/frontend/src/app/(protected)/tokens/components/CreateTokenModal.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

lint
  apps/frontend/src/app/(protected)/tokens/components/CreateTokenModal.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(backend): resolve PermissionError on logs dir during e2e startup
  apps/backend/Dockerfile
  apps/backend/src/rhesis/backend/logging/logging_config.py
Due: backend

refactor: streamline test set filtering in ImportExplorerTestSetDialog
  apps/frontend/src/app/(protected)/explorer/components/ImportExplorerTestSetDialog.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

Path conditions:
  sdk: any of: ^sdk/
  backend: any of: ^apps/backend/
  frontend-format: any of: ^apps/frontend/
  frontend-lint: any of: ^apps/frontend/
  docs-format: any of: ^apps/documentation/
  hardcoded-styles: any of: ^apps/(frontend|documentation)/
