Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, docs-format, hardcoded-styles

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict

  - repo: local
    hooks:
        - id: trufflehog
          name: TruffleHog
          description: Detect secrets in your data.
          entry: bash -c 'PATH="$HOME/.local/bin:$PATH" trufflehog git file://. --since-commit HEAD --only-verified --fail --no-update'
          language: system
          stages: ["pre-commit", "pre-push"]

        - id: sdk
          name  : format sdk
          language: system
          entry: make -C sdk format
          files: ^sdk/
          pass_filenames: false

        - id: backend
          name  : format backend
          language: system
          entry: make -C apps/backend format_diff
          files: ^apps/backend/
          pass_filenames: false

        - id: frontend-format
          name: auto-fix frontend formatting
          language: system
          entry: bash -c "cd apps/frontend && npm run format"
          files: ^apps/frontend/
          pass_filenames: false

        - id: frontend-lint
          name: lint frontend
          language: system
          entry: bash -c "cd apps/frontend && npm run lint"
          files: ^apps/frontend/
          pass_filenames: false

        - id: docs-format
          name: auto-fix docs formatting
          language: system
          entry: bash -c "cd apps/documentation && npm run format"
          files: ^apps/documentation/
          pass_filenames: false

        - id: hardcoded-styles
          name: check hardcoded styles in frontend and docs
          language: system
          entry: node scripts/check-hardcoded-styles.js
          files: ^apps/(frontend|documentation)/
          pass_filenames: false


  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.8.0
  #   hooks:
  #     - id: mypy
  #       additional_dependencies: [
  #         "types-requests",
  #         "pandas-stubs",
  #         "pyarrow-stubs",
  #         "types-tqdm"
  #       ]

fix(backend): address remaining review notes from peqy
  apps/backend/src/rhesis/backend/alembic/versions/77df3dbea77d_add_usage_table.py
  apps/backend/src/rhesis/backend/app/utils/user_model_utils.py
Due: backend

feat(backend): accrue usage from celery tasks
  apps/backend/src/rhesis/backend/tasks/telemetry/post_ingest.py
  apps/backend/src/rhesis/backend/tasks/test_configuration.py
  apps/backend/src/rhesis/backend/tasks/test_set.py
Due: backend

fix(backend): restore on_usage and sum captured usage in relay
  apps/backend/src/rhesis/backend/app/routers/services.py
  tests/backend/routes/test_services.py
Due: backend

fix(backend): exempt GET /usage from the authz coverage check
  apps/backend/src/rhesis/backend/app/auth/public_routes.py
Due: backend

docs: clarify commit approval process for pull requests
  .agents/skills/pull-request/SKILL.md
  AGENTS.md
Due: none

Move task-specific AGENTS.md sections into skills (#2357)
  .agents/skills/backend-debug/SKILL.md
  .agents/skills/backend-testing/SKILL.md
  .agents/skills/github-issue/SKILL.md
  .agents/skills/playground-script/SKILL.md
  .agents/skills/pull-request/SKILL.md
  .claude/skills/backend-debug
  .claude/skills/backend-testing
  .claude/skills/github-issue
  .claude/skills/playground-script
  .claude/skills/pull-request
  .cursor/skills/backend-debug
  .cursor/skills/backend-testing
  .cursor/skills/github-issue
  .cursor/skills/playground-script
  .cursor/skills/pull-request
  AGENTS.md
  apps/backend/AGENTS.md
Due: backend

feat(insights): remove /stats id prefetch and make page about failed test results, not tests
  apps/frontend/src/app/(protected)/insights/components/BehaviorInsightsView.tsx
  apps/frontend/src/app/(protected)/insights/components/InsightsFailedTestsFab.tsx
  apps/frontend/src/app/(protected)/insights/components/InsightsPage.tsx
  apps/frontend/src/app/(protected)/insights/components/InsightsSummaryBar.tsx
  apps/frontend/src/app/(protected)/insights/components/__tests__/BehaviorInsightsView.test.tsx
  apps/frontend/src/app/(protected)/insights/components/__tests__/InsightsSummaryBar.test.tsx
  apps/frontend/src/app/(protected)/insights/hooks/__tests__/useBehaviorInsightsData.test.ts
  apps/frontend/src/app/(protected)/insights/hooks/useBehaviorInsightsData.ts
  apps/frontend/src/app/(protected)/insights/utils/__tests__/insights-failed-tests.test.ts
  apps/frontend/src/app/(protected)/insights/utils/insights-failed-tests.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(tests): update mockup to use existing function
  apps/frontend/src/app/(protected)/insights/hooks/__tests__/useBehaviorInsightsData.test.ts
Due: frontend-format, frontend-lint, hardcoded-styles

Add usage accounting for metered resources (#2354)
  apps/backend/src/rhesis/backend/alembic/versions/77df3dbea77d_add_usage_table.py
  apps/backend/src/rhesis/backend/app/auth/public_routes.py
  apps/backend/src/rhesis/backend/app/dependencies.py
  apps/backend/src/rhesis/backend/app/models/__init__.py
  apps/backend/src/rhesis/backend/app/models/usage.py
  apps/backend/src/rhesis/backend/app/quota/__init__.py
  apps/backend/src/rhesis/backend/app/routers/__init__.py
  apps/backend/src/rhesis/backend/app/routers/features.py
  apps/backend/src/rhesis/backend/app/routers/recycle.py
  apps/backend/src/rhesis/backend/app/routers/services.py
  apps/backend/src/rhesis/backend/app/routers/usage.py
  apps/backend/src/rhesis/backend/app/services/test_config_generator.py
  apps/backend/src/rhesis/backend/app/services/test_generation_pipeline.py
  apps/backend/src/rhesis/backend/app/services/usage.py
  apps/backend/src/rhesis/backend/app/utils/usage_tracking.py
  apps/backend/src/rhesis/backend/app/utils/user_model_utils.py
  apps/backend/src/rhesis/backend/metrics/strategies/local.py
  apps/backend/src/rhesis/backend/tasks/__init__.py
  apps/backend/src/rhesis/backend/tasks/telemetry/post_ingest.py
  apps/backend/src/rhesis/backend/tasks/test_configuration.py
  apps/backend/src/rhesis/backend/tasks/test_set.py
  apps/backend/src/rhesis/backend/tasks/usage.py
  ee/backend/src/rhesis/backend/ee/licensing/tier_config.yaml
  sdk/src/rhesis/sdk/models/base.py
  sdk/src/rhesis/sdk/models/providers/native.py
  sdk/src/rhesis/sdk/models/providers/polyphemus.py
  tests/backend/app/test_usage_tracking.py
  tests/backend/routes/test_services.py
  tests/backend/routes/test_usage.py
  tests/backend/services/test_usage.py
  tests/backend/tasks/test_usage_accrual_task.py
  tests/backend/utils/test_llm_delegation.py
  tests/sdk/models/providers/test_polyphemus.py
  tests/sdk/models/providers/test_rhesis.py
  tests/sdk/models/test_base_usage.py
Due: sdk, backend

Drive Insights page from the new /insights/batch endpoint (#2346)
  apps/frontend/src/app/(protected)/insights/components/BehaviorInsightsView.tsx
  apps/frontend/src/app/(protected)/insights/components/InsightsFailedTestsFab.tsx
  apps/frontend/src/app/(protected)/insights/components/InsightsPage.tsx
  apps/frontend/src/app/(protected)/insights/components/InsightsSummaryBar.tsx
  apps/frontend/src/app/(protected)/insights/components/__tests__/BehaviorInsightsView.test.tsx
  apps/frontend/src/app/(protected)/insights/components/__tests__/InsightsSummaryBar.test.tsx
  apps/frontend/src/app/(protected)/insights/hooks/__tests__/useBehaviorInsightsData.test.ts
  apps/frontend/src/app/(protected)/insights/hooks/useBehaviorInsightsData.ts
  apps/frontend/src/app/(protected)/insights/utils/__tests__/behavior-insights-utils.test.ts
  apps/frontend/src/app/(protected)/insights/utils/__tests__/insights-failed-tests.test.ts
  apps/frontend/src/app/(protected)/insights/utils/behavior-insights-utils.ts
  apps/frontend/src/app/(protected)/insights/utils/insights-failed-tests.ts
  apps/frontend/src/utils/api-client/client-factory.ts
  apps/frontend/src/utils/api-client/config.ts
  apps/frontend/src/utils/api-client/insights-client.ts
  apps/frontend/src/utils/api-client/interfaces/insights.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): give load-initial-data the long-running proxy timeout
  apps/frontend/src/utils/backend-proxy.ts
Due: frontend-format, frontend-lint, hardcoded-styles

feat(backend): backfill usage from pre-launch activity
  apps/backend/src/rhesis/backend/alembic/versions/91607f0dd412_backfill_usage_from_pre_launch_activity.py
Due: backend

feat(backend): accrue Garak-generated tests toward TEST_GENERATION
  apps/backend/src/rhesis/backend/tasks/garak.py
  tests/backend/tasks/test_garak.py
Due: backend

fix(frontend): give load-initial-data the long-running proxy timeout (#2358)
  apps/frontend/src/utils/backend-proxy.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(backend): compare backfill counts against UTC, not session tz
  apps/backend/src/rhesis/backend/alembic/versions/91607f0dd412_backfill_usage_from_pre_launch_activity.py
Due: backend

feat(backend): accrue Garak-generated tests toward TEST_GENERATION (#2360)
  apps/backend/src/rhesis/backend/tasks/garak.py
  tests/backend/tasks/test_garak.py
Due: backend

Backfill usage table from pre-launch activity (#2359)
  apps/backend/src/rhesis/backend/alembic/versions/91607f0dd412_backfill_usage_from_pre_launch_activity.py
Due: backend

feat(backend): validate explorer test metadata
  apps/backend/src/rhesis/backend/app/crud/explorer.py
  apps/backend/src/rhesis/backend/app/schemas/explorer.py
  apps/backend/src/rhesis/backend/app/schemas/explorer_metadata.py
  apps/backend/src/rhesis/backend/app/services/explorer/evaluation.py
  apps/backend/src/rhesis/backend/app/services/explorer/settings.py
  apps/backend/src/rhesis/backend/app/services/explorer/tests.py
  apps/backend/src/rhesis/backend/app/services/explorer/topics.py
  apps/backend/src/rhesis/backend/app/services/explorer/utils.py
  apps/backend/src/rhesis/backend/app/services/test_set.py
  tests/backend/crud/test_explorer_crud.py
  tests/backend/schemas/test_explorer_metadata.py
  tests/backend/services/explorer/test_tests.py
  tests/backend/services/explorer/test_tree.py
Due: backend

feat(backend): validate explorer test metadata (#2361)
  apps/backend/src/rhesis/backend/app/crud/explorer.py
  apps/backend/src/rhesis/backend/app/schemas/explorer.py
  apps/backend/src/rhesis/backend/app/schemas/explorer_metadata.py
  apps/backend/src/rhesis/backend/app/services/explorer/evaluation.py
  apps/backend/src/rhesis/backend/app/services/explorer/settings.py
  apps/backend/src/rhesis/backend/app/services/explorer/tests.py
  apps/backend/src/rhesis/backend/app/services/explorer/topics.py
  apps/backend/src/rhesis/backend/app/services/explorer/utils.py
  apps/backend/src/rhesis/backend/app/services/test_set.py
  tests/backend/crud/test_explorer_crud.py
  tests/backend/schemas/test_explorer_metadata.py
  tests/backend/services/explorer/test_tests.py
  tests/backend/services/explorer/test_tree.py
Due: backend

fix(backend): support relationship field sorting (#2269)
  apps/backend/src/rhesis/backend/app/utils/query_utils.py
  apps/backend/src/rhesis/backend/app/utils/query_validation.py
  apps/backend/src/rhesis/backend/app/utils/relationship_sort.py
  tests/backend/utils/test_relationship_sort.py
Due: backend

fix(backend): extend usage backfill to trailing 12 months
  apps/backend/src/rhesis/backend/alembic/versions/9550c62e80a5_extend_usage_backfill_to_trailing_12_.py
Due: backend

fix(backend): exclude current month from multi-month backfill
  apps/backend/src/rhesis/backend/alembic/versions/9550c62e80a5_extend_usage_backfill_to_trailing_12_.py
Due: backend

Extend usage backfill to trailing 12 months (#2363)
  apps/backend/src/rhesis/backend/alembic/versions/9550c62e80a5_extend_usage_backfill_to_trailing_12_.py
Due: backend

fix(backend): use public DNS for email deliverability check
  apps/backend/src/rhesis/backend/app/utils/validation.py
Due: backend

fix(backend): bound DNS timeout and offload deliverability check
  apps/backend/src/rhesis/backend/app/auth/providers/email.py
  apps/backend/src/rhesis/backend/app/utils/validation.py
Due: backend

Fix: Email Invitation Failed (#2362)
  apps/backend/src/rhesis/backend/app/auth/providers/email.py
  apps/backend/src/rhesis/backend/app/utils/validation.py
Due: backend

fix(backend): harden explorer_row migration for production
  apps/backend/src/rhesis/backend/alembic/versions/7dd69fe35db5_add_explorer_row_to_test_set_and_test.py
  apps/backend/src/rhesis/backend/app/models/test.py
  apps/backend/src/rhesis/backend/app/models/test_set.py
  tests/backend/alembic/test_explorer_row_migration.py
Due: backend

next
  apps/backend/src/rhesis/backend/alembic/versions/7dd69fe35db5_add_explorer_row_to_test_set_and_test.py
  tests/backend/alembic/test_explorer_row_migration.py
Due: backend

refactor(backend): add explorer_row column
  apps/backend/src/rhesis/backend/alembic/versions/7dd69fe35db5_add_explorer_row_to_test_set_and_test.py
  apps/backend/src/rhesis/backend/app/crud/__init__.py
  apps/backend/src/rhesis/backend/app/crud/explorer.py
  apps/backend/src/rhesis/backend/app/models/test.py
  apps/backend/src/rhesis/backend/app/models/test_set.py
  apps/backend/src/rhesis/backend/app/routers/explorer.py
  apps/backend/src/rhesis/backend/app/routers/test_set.py
  apps/backend/src/rhesis/backend/app/schemas/explorer_metadata.py
  apps/backend/src/rhesis/backend/app/schemas/test_set.py
  apps/backend/src/rhesis/backend/app/services/explorer/settings.py
  apps/backend/src/rhesis/backend/app/services/explorer/tests.py
  apps/backend/src/rhesis/backend/app/services/explorer/topics.py
  apps/backend/src/rhesis/backend/app/services/test_set.py
  apps/frontend/src/app/(protected)/explorer/components/ImportExplorerTestSetDialog.tsx
  apps/frontend/src/utils/api-client/explorer-client.ts
  apps/frontend/src/utils/api-client/interfaces/test-set.ts
  tests/backend/alembic/test_explorer_row_migration.py
  tests/backend/crud/test_test_crud.py
  tests/backend/routes/test_explorer.py
  tests/backend/schemas/test_explorer_metadata.py
  tests/backend/services/explorer/test_tests.py
  tests/backend/services/test_test_set.py
Due: backend, frontend-format, frontend-lint, hardcoded-styles

fix(backend): guard downgrade() jsonb_set against non-object metadata
  apps/backend/src/rhesis/backend/alembic/versions/7dd69fe35db5_add_explorer_row_to_test_set_and_test.py
  tests/backend/alembic/test_explorer_row_migration.py
Due: backend

fix: address peqy's concerns
  apps/backend/src/rhesis/backend/app/schemas/behavior.py
  apps/frontend/src/utils/api-client/interfaces/model.ts
  apps/frontend/src/utils/api-client/interfaces/source.ts
Due: backend, frontend-format, frontend-lint, hardcoded-styles

fix(dev): include base.yaml in kustomize so root Application self-heals (#2349)
  kubernetes/clusters/dev/kustomization.yaml
  kubernetes/clusters/prd/kustomization.yaml
  kubernetes/clusters/stg/kustomization.yaml
Due: none

fix(behaviors): use minimal TagRead for consistency with other entities
  apps/backend/src/rhesis/backend/app/routers/behavior.py
Due: backend

Trim unused backend schema fields and matching frontend types (#2334)
  apps/backend/src/rhesis/backend/app/crud/__init__.py
  apps/backend/src/rhesis/backend/app/routers/behavior.py
  apps/backend/src/rhesis/backend/app/routers/job.py
  apps/backend/src/rhesis/backend/app/routers/model.py
  apps/backend/src/rhesis/backend/app/routers/test.py
  apps/backend/src/rhesis/backend/app/schemas/__init__.py
  apps/backend/src/rhesis/backend/app/schemas/architect.py
  apps/backend/src/rhesis/backend/app/schemas/behavior.py
  apps/backend/src/rhesis/backend/app/schemas/comment.py
  apps/backend/src/rhesis/backend/app/schemas/endpoint.py
  apps/backend/src/rhesis/backend/app/schemas/garak.py
  apps/backend/src/rhesis/backend/app/schemas/metric.py
  apps/backend/src/rhesis/backend/app/schemas/model.py
  apps/backend/src/rhesis/backend/app/schemas/parameters.py
  apps/backend/src/rhesis/backend/app/schemas/project_membership.py
  apps/backend/src/rhesis/backend/app/schemas/prompt.py
  apps/backend/src/rhesis/backend/app/schemas/source.py
  apps/backend/src/rhesis/backend/app/schemas/tag.py
  apps/backend/src/rhesis/backend/app/schemas/task.py
  apps/backend/src/rhesis/backend/app/schemas/task_management.py
  apps/backend/src/rhesis/backend/app/schemas/telemetry.py
  apps/backend/src/rhesis/backend/app/schemas/test.py
  apps/backend/src/rhesis/backend/app/schemas/test_configuration.py
  apps/backend/src/rhesis/backend/app/schemas/test_result.py
  apps/backend/src/rhesis/backend/app/schemas/test_run.py
  apps/backend/src/rhesis/backend/app/schemas/test_set.py
  apps/backend/src/rhesis/backend/app/schemas/token.py
  apps/backend/src/rhesis/backend/app/schemas/tool.py
  apps/backend/src/rhesis/backend/app/schemas/user.py
  apps/backend/src/rhesis/backend/app/services/test.py
  apps/frontend/src/types/comments.ts
  apps/frontend/src/utils/api-client/interfaces/model.ts
  apps/frontend/src/utils/api-client/interfaces/source.ts
  tests/backend/routes/test_model.py
  tests/backend/routes/test_prompt.py
  tests/backend/routes/test_source.py
  tests/backend/schemas/test_garak.py
Due: backend, frontend-format, frontend-lint, hardcoded-styles

fix(backend): rebase explorer_row migration onto usage backfill
  apps/backend/src/rhesis/backend/alembic/versions/7dd69fe35db5_add_explorer_row_to_test_set_and_test.py
Due: backend

Replace Explorer marker with explorer_row column (#2364)
  apps/backend/src/rhesis/backend/alembic/versions/7dd69fe35db5_add_explorer_row_to_test_set_and_test.py
  apps/backend/src/rhesis/backend/app/crud/__init__.py
  apps/backend/src/rhesis/backend/app/crud/explorer.py
  apps/backend/src/rhesis/backend/app/models/test.py
  apps/backend/src/rhesis/backend/app/models/test_set.py
  apps/backend/src/rhesis/backend/app/routers/explorer.py
  apps/backend/src/rhesis/backend/app/routers/test_set.py
  apps/backend/src/rhesis/backend/app/schemas/explorer_metadata.py
  apps/backend/src/rhesis/backend/app/schemas/test_set.py
  apps/backend/src/rhesis/backend/app/services/explorer/settings.py
  apps/backend/src/rhesis/backend/app/services/explorer/tests.py
  apps/backend/src/rhesis/backend/app/services/explorer/topics.py
  apps/backend/src/rhesis/backend/app/services/test_set.py
  apps/frontend/src/app/(protected)/explorer/components/ImportExplorerTestSetDialog.tsx
  apps/frontend/src/utils/api-client/explorer-client.ts
  apps/frontend/src/utils/api-client/interfaces/test-set.ts
  tests/backend/alembic/test_explorer_row_migration.py
  tests/backend/crud/test_test_crud.py
  tests/backend/routes/test_explorer.py
  tests/backend/schemas/test_explorer_metadata.py
  tests/backend/services/explorer/test_tests.py
  tests/backend/services/test_test_set.py
Due: backend, frontend-format, frontend-lint, hardcoded-styles

fix(infra): auto-grant grafana-viewer SELECT on fresh cluster bootstrap
  kubernetes/clusters/prd/cnpg-cluster/cnpg-cluster.yaml
  kubernetes/clusters/stg/cnpg-cluster/cnpg-cluster.yaml
Due: none
