Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, docs-format, hardcoded-styles

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict

  - repo: local
    hooks:
        - id: trufflehog
          name: TruffleHog
          description: Detect secrets in your data.
          entry: bash -c 'PATH="$HOME/.local/bin:$PATH" trufflehog git file://. --since-commit HEAD --only-verified --fail --no-update'
          language: system
          stages: ["pre-commit", "pre-push"]

        - id: sdk
          name  : format sdk
          language: system
          entry: make -C sdk format
          files: ^sdk/
          pass_filenames: false

        - id: backend
          name  : format backend
          language: system
          entry: make -C apps/backend format_diff
          files: ^apps/backend/
          pass_filenames: false

        - id: frontend-format
          name: auto-fix frontend formatting
          language: system
          entry: bash -c "cd apps/frontend && npm run format"
          files: ^apps/frontend/
          pass_filenames: false

        - id: frontend-lint
          name: lint frontend
          language: system
          entry: bash -c "cd apps/frontend && npm run lint"
          files: ^apps/frontend/
          pass_filenames: false

        - id: docs-format
          name: auto-fix docs formatting
          language: system
          entry: bash -c "cd apps/documentation && npm run format"
          files: ^apps/documentation/
          pass_filenames: false

        - id: hardcoded-styles
          name: check hardcoded styles in frontend and docs
          language: system
          entry: node scripts/check-hardcoded-styles.js
          files: ^apps/(frontend|documentation)/
          pass_filenames: false


  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.8.0
  #   hooks:
  #     - id: mypy
  #       additional_dependencies: [
  #         "types-requests",
  #         "pandas-stubs",
  #         "pyarrow-stubs",
  #         "types-tqdm"
  #       ]

fix(frontend): fix focus loss and stale save button in metric editor
  apps/frontend/src/app/(protected)/metrics/[identifier]/page.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

feat(penelope): add explicit min_turns parameter for early stop control
  docs/content/penelope/configuration.mdx
  penelope/src/rhesis/penelope/agent.py
  penelope/src/rhesis/penelope/context.py
  penelope/src/rhesis/penelope/utils.py
  tests/penelope/test_infinite_loop_prevention.py
  tests/penelope/test_utils.py
Due: none

chore(penelope): update uv.lock
  penelope/uv.lock
Due: none

test(sdk): add integration tests for TestSet test association
  tests/sdk/integration/test_test_set_tests.py
Due: none

test(sdk): add unit tests for TestSet test association methods
  tests/sdk/entities/test_test_set_tests.py
Due: none

feat(backend,sdk): add min_turns to test configuration
  apps/backend/src/rhesis/backend/app/routers/test.py
  apps/backend/src/rhesis/backend/app/schemas/multi_turn_test_config.py
  apps/backend/src/rhesis/backend/tasks/execution/executors/output_providers.py
  sdk/src/rhesis/sdk/entities/test.py
Due: sdk, backend

fix(sdk,backend): handle None turn params in test configuration
  apps/backend/src/rhesis/backend/tasks/execution/executors/output_providers.py
  sdk/src/rhesis/sdk/entities/test.py
Due: sdk, backend

feat(frontend): replace max turns input with turn configuration range slider
  apps/frontend/src/app/(protected)/tests/[identifier]/components/MultiTurnConfigFields.tsx
  apps/frontend/src/app/(protected)/tests/components/TrialDrawer.tsx
  apps/frontend/src/app/(protected)/tests/new-manual/components/ManualTestWriter.tsx
  apps/frontend/src/utils/api-client/interfaces/multi-turn-test-config.ts
Due: frontend-format, frontend-lint, hardcoded-styles

test(penelope): update basic example to verify min_turns and max_turns
  penelope/examples/basic_example.py
Due: none

feat(sdk,backend): add min_turns/max_turns to import/export and synthesizer
  apps/backend/src/rhesis/backend/app/services/file_import/mapping.py
  apps/backend/src/rhesis/backend/app/services/file_import/service.py
  sdk/src/rhesis/sdk/entities/test_set.py
  sdk/src/rhesis/sdk/synthesizers/multi_turn/base.py
  sdk/src/rhesis/sdk/synthesizers/multi_turn/templates/base.jinja
  tests/sdk/entities/test_test_set.py
Due: sdk, backend

test(backend,sdk): add unit tests for min_turns/max_turns support
  tests/backend/services/file_import/test_mapping.py
  tests/backend/services/file_import/test_service.py
  tests/sdk/synthesizers/test_multi_turn_synthesizer.py
Due: none

test(sdk): add integration tests for TestSet update and empty creation
  tests/sdk/integration/test_test_set_tests.py
Due: none

style(sdk): fix formatting in test entity
  sdk/src/rhesis/sdk/entities/test.py
Due: sdk

docs: add metric scopes and test set types documentation
  apps/backend/src/rhesis/backend/app/crud.py
  docs/content/platform/test-sets/index.mdx
  docs/content/sdk/metrics/index.mdx
Due: backend

fix(penelope,frontend): address PR review feedback
  apps/frontend/src/app/(protected)/tests/new-manual/components/ManualTestWriter.tsx
  apps/frontend/src/utils/api-client/interfaces/multi-turn-test-config.ts
  penelope/src/rhesis/penelope/agent.py
  penelope/src/rhesis/penelope/utils.py
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): use 80% default for min_turns in test detail slider
  apps/frontend/src/app/(protected)/tests/[identifier]/components/MultiTurnConfigFields.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

docs(sdk): clarify _push_update scope in TestSet docstring
  sdk/src/rhesis/sdk/entities/test_set.py
Due: sdk

fix(frontend): allow undefined in updateTestCase for optional minTurns
  apps/frontend/src/app/(protected)/tests/new-manual/components/ManualTestWriter.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

style(frontend): format MultiTurnConfigFields line length
  apps/frontend/src/app/(protected)/tests/[identifier]/components/MultiTurnConfigFields.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(penelope): add turn-aware prompts and deepening strategies
  penelope/src/rhesis/penelope/agent.py
  penelope/src/rhesis/penelope/executor.py
  penelope/src/rhesis/penelope/prompts/agent/turn_prompts.py
  penelope/src/rhesis/penelope/prompts/system/system_assembly.py
  penelope/src/rhesis/penelope/prompts/system/system_assembly_jinja.py
  penelope/src/rhesis/penelope/prompts/templates/system_prompt.j2
Due: none

fix(penelope): decouple goal-impossible from min_turns, clarify turn budget
  penelope/src/rhesis/penelope/agent.py
  penelope/src/rhesis/penelope/prompts/agent/turn_prompts.py
  penelope/src/rhesis/penelope/prompts/templates/system_prompt.j2
  penelope/src/rhesis/penelope/utils.py
Due: none

fix(penelope): stop leaking turn budget into goal judge instructions
  penelope/src/rhesis/penelope/agent.py
Due: none

fix(sdk): stop goal judge from creating spurious turn count criterion
  sdk/src/rhesis/sdk/metrics/providers/native/templates/goal_achievement_prompt.jinja
Due: sdk

test(penelope): add turn budget validation example
  penelope/examples/turn_budget_validation.py
Due: none

fix(penelope): demote verbose executor logs to DEBUG, remove content leaks
  apps/backend/src/rhesis/backend/tasks/execution/penelope_target.py
  penelope/src/rhesis/penelope/executor.py
  penelope/src/rhesis/penelope/targets/endpoint.py
Due: backend

refactor(penelope): simplify orchestration and fix evaluator voice
  penelope/src/rhesis/penelope/agent.py
  penelope/src/rhesis/penelope/evaluation.py
  penelope/src/rhesis/penelope/executor.py
  penelope/src/rhesis/penelope/prompts/__init__.py
  penelope/src/rhesis/penelope/prompts/agent/turn_prompts.py
  penelope/src/rhesis/penelope/prompts/system/__init__.py
  penelope/src/rhesis/penelope/prompts/system/system_assembly.py
  penelope/src/rhesis/penelope/prompts/system/system_assembly_jinja.py
  penelope/src/rhesis/penelope/prompts/templates/system_prompt.j2
  tests/penelope/prompts/test_system_assembly.py
  tests/penelope/test_agent.py
  tests/penelope/test_evaluation.py
  tests/penelope/test_response_parser.py
Due: none

fix(ci): pin trivy to v0.69.2 after v0.69.1 was removed
  .github/workflows/security-trivy.yml
Due: none

fix(penelope): address PR review feedback
  penelope/src/rhesis/penelope/agent.py
  penelope/src/rhesis/penelope/executor.py
  penelope/src/rhesis/penelope/utils.py
Due: none

docs(glossary): add 16 missing terms identified from changelog
  docs/content/glossary/_meta.tsx
  docs/content/glossary/adaptive-testing/index.mdx
  docs/content/glossary/agent/index.mdx
  docs/content/glossary/auto-configure/index.mdx
  docs/content/glossary/connector/index.mdx
  docs/content/glossary/delegation-token/index.mdx
  docs/content/glossary/garak/index.mdx
  docs/content/glossary/glossary-terms.jsonl
  docs/content/glossary/goal-achievement/index.mdx
  docs/content/glossary/jailbreak/index.mdx
  docs/content/glossary/opentelemetry/index.mdx
  docs/content/glossary/playground/index.mdx
  docs/content/glossary/polyphemus/index.mdx
  docs/content/glossary/rescoring/index.mdx
  docs/content/glossary/source/index.mdx
  docs/content/glossary/synthesizer/index.mdx
  docs/content/glossary/test-set-type/index.mdx
  docs/content/glossary/trace/index.mdx
Due: none

docs(glossary): align new terms with existing style conventions
  docs/content/glossary/adaptive-testing/index.mdx
  docs/content/glossary/agent/index.mdx
  docs/content/glossary/auto-configure/index.mdx
  docs/content/glossary/connector/index.mdx
  docs/content/glossary/delegation-token/index.mdx
  docs/content/glossary/garak/index.mdx
  docs/content/glossary/glossary-terms.jsonl
  docs/content/glossary/goal-achievement/index.mdx
  docs/content/glossary/jailbreak/index.mdx
  docs/content/glossary/opentelemetry/index.mdx
  docs/content/glossary/playground/index.mdx
  docs/content/glossary/polyphemus/index.mdx
  docs/content/glossary/rescoring/index.mdx
  docs/content/glossary/source/index.mdx
  docs/content/glossary/synthesizer/index.mdx
  docs/content/glossary/test-set-type/index.mdx
  docs/content/glossary/trace/index.mdx
Due: none

fix(penelope): add turn-aware prompts and simplify orchestration (#1423)
  .github/workflows/security-trivy.yml
  apps/backend/src/rhesis/backend/tasks/execution/penelope_target.py
  penelope/examples/turn_budget_validation.py
  penelope/src/rhesis/penelope/agent.py
  penelope/src/rhesis/penelope/evaluation.py
  penelope/src/rhesis/penelope/executor.py
  penelope/src/rhesis/penelope/prompts/__init__.py
  penelope/src/rhesis/penelope/prompts/agent/turn_prompts.py
  penelope/src/rhesis/penelope/prompts/system/__init__.py
  penelope/src/rhesis/penelope/prompts/system/system_assembly.py
  penelope/src/rhesis/penelope/prompts/system/system_assembly_jinja.py
  penelope/src/rhesis/penelope/prompts/templates/system_prompt.j2
  penelope/src/rhesis/penelope/targets/endpoint.py
  penelope/src/rhesis/penelope/utils.py
  sdk/src/rhesis/sdk/metrics/providers/native/templates/goal_achievement_prompt.jinja
  tests/penelope/prompts/test_system_assembly.py
  tests/penelope/test_agent.py
  tests/penelope/test_evaluation.py
  tests/penelope/test_response_parser.py
Due: sdk, backend

docs(glossary): remove delegation-token term
  docs/content/glossary/_meta.tsx
  docs/content/glossary/delegation-token/index.mdx
  docs/content/glossary/glossary-terms.jsonl
Due: none

test(frontend): add hook and component tests, expand MSW infrastructure
  apps/frontend/jest.config.js
  apps/frontend/jest.polyfills.js
  apps/frontend/src/__mocks__/msw/handlers.ts
  apps/frontend/src/__mocks__/test-utils.tsx
  apps/frontend/src/components/common/__tests__/DeleteButton.test.tsx
  apps/frontend/src/components/common/__tests__/DeletedEntityAlert.test.tsx
  apps/frontend/src/components/common/__tests__/EntityCard.test.tsx
  apps/frontend/src/hooks/__tests__/useGridStateStorage.test.ts
  apps/frontend/src/hooks/__tests__/useOnboardingTour.test.ts
  apps/frontend/src/hooks/__tests__/useWebSocket.test.ts
Due: frontend-format, frontend-lint, hardcoded-styles

test(frontend): add API client integration tests — Phase 4
  apps/frontend/jest.config.js
  apps/frontend/src/utils/api-client/__tests__/base-client.test.ts
  apps/frontend/src/utils/api-client/__tests__/endpoints-client.test.ts
  apps/frontend/src/utils/api-client/__tests__/test-runs-client.test.ts
  apps/frontend/src/utils/api-client/__tests__/tests-client.test.ts
Due: frontend-format, frontend-lint, hardcoded-styles

test(frontend): add E2E Page Objects, user flow specs, PR CI trigger
  .github/workflows/frontend-e2e-test.yml
  apps/frontend/e2e/pages/EndpointsPage.ts
  apps/frontend/e2e/pages/TestRunsPage.ts
  apps/frontend/e2e/pages/TestsPage.ts
  apps/frontend/e2e/tests/endpoints-extended.spec.ts
  apps/frontend/e2e/tests/test-runs-extended.spec.ts
  apps/frontend/e2e/tests/tests.spec.ts
Due: frontend-format, frontend-lint, hardcoded-styles

test(penelope): add coverage for threshold getters and StopResult
  tests/penelope/test_agent.py
  tests/penelope/test_config.py
Due: none

docs(glossary): add test-type term
  docs/content/glossary/_meta.tsx
  docs/content/glossary/glossary-terms.jsonl
  docs/content/glossary/test-type/index.mdx
Due: none

fix(penelope): replace hardcoded thresholds with configurable getters
  penelope/src/rhesis/penelope/agent.py
  penelope/src/rhesis/penelope/config.py
  penelope/src/rhesis/penelope/utils.py
  tests/penelope/test_utils.py
Due: none

fix(penelope): replace hardcoded thresholds with configurable getters
  penelope/src/rhesis/penelope/agent.py
  penelope/src/rhesis/penelope/config.py
  penelope/src/rhesis/penelope/utils.py
  tests/penelope/test_agent.py
  tests/penelope/test_config.py
  tests/penelope/test_utils.py
Due: none
