Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, docs-format, hardcoded-styles

sdk:
  name: format sdk
  language: system
  entry: make -C sdk format
  pass_filenames: false

backend:
  name: format backend
  language: system
  entry: make -C apps/backend format_diff
  pass_filenames: false

frontend-format:
  name: auto-fix frontend formatting
  language: system
  entry: bash -c "cd apps/frontend && npm run format"
  pass_filenames: false

frontend-lint:
  name: lint frontend
  language: system
  entry: bash -c "cd apps/frontend && npm run lint"
  pass_filenames: false

docs-format:
  name: auto-fix docs formatting
  language: system
  entry: bash -c "cd apps/documentation && npm run format"
  pass_filenames: false

hardcoded-styles:
  name: check hardcoded styles in frontend and docs
  language: system
  entry: node scripts/check-hardcoded-styles.js
  pass_filenames: false

refactor(sdk): streamline TestTreeBrowser and enhance type safety
  sdk/src/rhesis/sdk/adaptive_testing/schemas.py
  sdk/src/rhesis/sdk/adaptive_testing/tree_data_ops.py
  tests/sdk/adaptive_testing/test_schemas.py
  tests/sdk/adaptive_testing/test_tree_data_ops.py
Due: sdk

refactor(sdk): enhance metadata handling in TestTree
  sdk/src/rhesis/sdk/adaptive_testing/_test_tree.py
Due: sdk

next
  tests/sdk/integration/conftest.py
Due: none

refactor(sdk): enhance TestTreeBrowser and TestTree integration
  sdk/src/rhesis/sdk/adaptive_testing/_test_tree.py
  sdk/src/rhesis/sdk/adaptive_testing/_test_tree_browser.py
  sdk/src/rhesis/sdk/adaptive_testing/schemas.py
  sdk/src/rhesis/sdk/adaptive_testing/tree_data_ops.py
  tests/sdk/adaptive_testing/test_schemas.py
  tests/sdk/adaptive_testing/test_tree_data_ops.py
Due: sdk

refactor(sdk): enhance topic creation and management in TestTreeBrowser
  sdk/src/rhesis/sdk/adaptive_testing/_test_tree_browser.py
Due: sdk

next
  sdk/src/rhesis/sdk/adaptive_testing/_prompt_builder.py
  sdk/src/rhesis/sdk/adaptive_testing/_test_tree_browser.py
  sdk/src/rhesis/sdk/adaptive_testing/schemas.py
Due: sdk

refactor(sdk): simplify child topic handling in TestTreeBrowser
  sdk/src/rhesis/sdk/adaptive_testing/_test_tree_browser.py
Due: sdk

refactor(sdk): streamline TestTreeBrowser and enhance TestTreeData methods
  sdk/src/rhesis/sdk/adaptive_testing/_test_tree_browser.py
  sdk/src/rhesis/sdk/adaptive_testing/schemas.py
Due: sdk

next
  sdk/src/rhesis/sdk/adaptive_testing/_test_tree.py
  tests/sdk/adaptive_testing/test_schemas.py
  tests/sdk/adaptive_testing/test_test_tree.py
Due: sdk

refactor(sdk): optimize TestTreeBrowser for node management and topic updates
  sdk/src/rhesis/sdk/adaptive_testing/_test_tree_browser.py
Due: sdk

feat(sdk): add TestSet.pull() with tests and fetch_tests() method
  sdk/src/rhesis/sdk/entities/test.py
  sdk/src/rhesis/sdk/entities/test_set.py
  tests/sdk/integration/test_entities.py
Due: sdk

feat(sdk): add model_validator to Test for metadata mapping
  sdk/src/rhesis/sdk/entities/test.py
Due: sdk

feat(test-explorer): pass testSetId and derive topics from test set
  apps/frontend/src/app/(protected)/test-explorer/[identifier]/page.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

feat(test-explorer): add DeleteTopicDialog with impact summary
  apps/frontend/src/app/(protected)/test-explorer/[identifier]/components/DeleteTopicDialog.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

feat(test-explorer): add TopicDialog component for creating/renaming topics
  apps/frontend/src/app/(protected)/test-explorer/[identifier]/components/TopicDialog.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

feat(test-explorer): show direct and children test counts as two chips
  apps/frontend/src/app/(protected)/test-explorer/[identifier]/components/TopicTreeView.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

feat(sdk): add validation method to TestTree for topic marker checks
  sdk/src/rhesis/sdk/adaptive_testing/_test_tree.py
  tests/sdk/adaptive_testing/test_test_tree.py
Due: sdk

feat(test-explorer): add drag-and-drop to move tests between topics
  apps/frontend/src/app/(protected)/test-explorer/[identifier]/components/AdaptiveTestsExplorer.tsx
  apps/frontend/src/app/(protected)/test-explorer/[identifier]/components/AdaptiveTestsGrid.tsx
  apps/frontend/src/app/(protected)/test-explorer/[identifier]/components/TopicTreeView.tsx
  apps/frontend/src/utils/api-client/topic-client.ts
Due: frontend-format, frontend-lint, hardcoded-styles

refactor(sdk): update TestTree to include topic markers in test sets
  sdk/src/rhesis/sdk/adaptive_testing/_test_tree.py
  tests/sdk/integration/test_adaptive_testing.py
Due: sdk

feat(test-explorer): implement full CRUD for tests and topics
  apps/frontend/src/app/(protected)/test-explorer/[identifier]/components/AdaptiveTestsExplorer.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

docs(test-explorer): add backend requirements for topic operations
  apps/frontend/src/app/(protected)/test-explorer/[identifier]/BACKEND_REQUIREMENTS.md
Due: frontend-format, frontend-lint, hardcoded-styles

fix(test-explorer): filter tests by exact topic match only
  apps/frontend/src/app/(protected)/test-explorer/[identifier]/components/AdaptiveTestsExplorer.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

refactor(sdk): move validate method from TestTree to TestTreeData
  sdk/src/rhesis/sdk/adaptive_testing/_test_tree.py
  sdk/src/rhesis/sdk/adaptive_testing/schemas.py
  tests/sdk/adaptive_testing/test_test_tree.py
Due: sdk

feat(test-explorer): add edit and delete actions to tests grid
  apps/frontend/src/app/(protected)/test-explorer/[identifier]/components/AdaptiveTestsGrid.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

feat(test-explorer): add AddTestDialog component for creating/editing tests
  apps/frontend/src/app/(protected)/test-explorer/[identifier]/components/AddTestDialog.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

feat(test-explorer): add topic CRUD actions to tree view
  apps/frontend/src/app/(protected)/test-explorer/[identifier]/components/TopicTreeView.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

feat(test-explorer): add Test Explorer feature with adaptive testing support
  apps/frontend/src/app/(protected)/test-explorer/[identifier]/components/AdaptiveTestsExplorer.tsx
  apps/frontend/src/app/(protected)/test-explorer/[identifier]/components/AdaptiveTestsGrid.tsx
  apps/frontend/src/app/(protected)/test-explorer/[identifier]/components/TopicTreeView.tsx
  apps/frontend/src/app/(protected)/test-explorer/[identifier]/layout.tsx
  apps/frontend/src/app/(protected)/test-explorer/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/test-explorer/components/TestExplorerGrid.tsx
  apps/frontend/src/app/(protected)/test-explorer/layout.tsx
  apps/frontend/src/app/(protected)/test-explorer/page.tsx
  apps/frontend/src/app/layout.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

feat(test-explorer): add clickable breadcrumb navigation for topics
  apps/frontend/src/app/(protected)/test-explorer/[identifier]/components/AdaptiveTestsExplorer.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

feat(sdk): update package dependencies and remove obsolete tests
  tests/sdk/integration/test_adaptive_testing.py
Due: none

feat(sdk): simplify adaptive testing topics and test tree id handling
  sdk/src/rhesis/sdk/adaptive_testing/_prompt_builder.py
  sdk/src/rhesis/sdk/adaptive_testing/_test_tree.py
  sdk/src/rhesis/sdk/adaptive_testing/_test_tree_browser.py
  sdk/src/rhesis/sdk/adaptive_testing/generators.py
  sdk/src/rhesis/sdk/adaptive_testing/schemas.py
  tests/sdk/adaptive_testing/test_schemas.py
  tests/sdk/adaptive_testing/test_test_tree.py
  tests/sdk/integration/test_adaptive_testing.py
Due: sdk

refactor(schemas): rename create method to add_topic for clarity
  sdk/src/rhesis/sdk/adaptive_testing/schemas.py
Due: sdk

feat(sdk): add CRUD operations for tests and improve topic deletion
  sdk/src/rhesis/sdk/adaptive_testing/_test_tree.py
  sdk/src/rhesis/sdk/adaptive_testing/_test_tree_browser.py
  sdk/src/rhesis/sdk/adaptive_testing/schemas.py
Due: sdk

refactor(sdk): remove profanity dependency from adaptive testing
  sdk/pyproject.toml
Due: sdk

fix(sdk): preserve test tree order in TestSet round-trip
  sdk/src/rhesis/sdk/adaptive_testing/_test_tree.py
Due: sdk

refactor(backend): remove adaptive testing router, schemas, and service
  apps/backend/src/rhesis/backend/app/routers/__init__.py
  apps/backend/src/rhesis/backend/app/routers/adaptive_testing.py
  apps/backend/src/rhesis/backend/app/schemas/adaptive_testing.py
  apps/backend/src/rhesis/backend/app/services/adaptive_testing.py
Due: backend

refactor(sdk): improve node kwargs construction in TestTree
  sdk/src/rhesis/sdk/adaptive_testing/_test_tree.py
Due: sdk

refactor(frontend): remove unused columns from test explorer grid
  apps/frontend/src/app/(protected)/test-explorer/components/TestExplorerGrid.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

refactor(sdk): simplify test tree processing in TestTree
  sdk/src/rhesis/sdk/adaptive_testing/_test_tree.py
Due: sdk

refactor(schemas): rename Topic to TopicNode for clarity
  sdk/src/rhesis/sdk/adaptive_testing/_prompt_builder.py
  sdk/src/rhesis/sdk/adaptive_testing/_test_tree.py
  sdk/src/rhesis/sdk/adaptive_testing/_test_tree_browser.py
  sdk/src/rhesis/sdk/adaptive_testing/schemas.py
  tests/sdk/adaptive_testing/test_schemas.py
Due: sdk

feat(backend): add adaptive testing API endpoints and service
  apps/backend/src/rhesis/backend/app/routers/__init__.py
  apps/backend/src/rhesis/backend/app/routers/adaptive_testing.py
  apps/backend/src/rhesis/backend/app/schemas/adaptive_testing.py
  apps/backend/src/rhesis/backend/app/services/adaptive_testing.py
  apps/frontend/src/app/(protected)/test-explorer/[identifier]/components/AdaptiveTestsExplorer.tsx
  apps/frontend/src/utils/api-client/adaptive-testing-client.ts
  apps/frontend/src/utils/api-client/client-factory.ts
  apps/frontend/src/utils/api-client/config.ts
  apps/frontend/src/utils/api-client/interfaces/adaptive-testing.ts
Due: backend, frontend-format, frontend-lint, hardcoded-styles

Path conditions:
  sdk: any of: ^sdk/
  backend: any of: ^apps/backend/
  frontend-format: any of: ^apps/frontend/
  frontend-lint: any of: ^apps/frontend/
  docs-format: any of: ^apps/documentation/
  hardcoded-styles: any of: ^apps/(frontend|documentation)/
