Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, docs-format, hardcoded-styles

sdk:
  name: format sdk
  language: system
  entry: make -C sdk format
  pass_filenames: false

backend:
  name: format backend
  language: system
  entry: make -C apps/backend format_diff
  pass_filenames: false

frontend-format:
  name: auto-fix frontend formatting
  language: system
  entry: bash -c "cd apps/frontend && npm run format"
  pass_filenames: false

frontend-lint:
  name: lint frontend
  language: system
  entry: bash -c "cd apps/frontend && npm run lint"
  pass_filenames: false

docs-format:
  name: auto-fix docs formatting
  language: system
  entry: bash -c "cd apps/documentation && npm run format"
  pass_filenames: false

hardcoded-styles:
  name: check hardcoded styles in frontend and docs
  language: system
  entry: node scripts/check-hardcoded-styles.js
  pass_filenames: false

update the variables and remove the HF_TOKEN and HF_MODEL
  .github/workflows/polyphemus.yml
  apps/polyphemus/Dockerfile
  docker-compose.yml
Due: none

remove cuda related comment
  apps/polyphemus/Dockerfile
Due: none

update logic for the correct returned model name if it picked the default
  apps/polyphemus/src/rhesis/polyphemus/services/services.py
Due: none

extract model like the sdk
  apps/polyphemus/Dockerfile
Due: none

update cursorignor and services.py to use userdefined model
  .cursor/.cursorignore
  apps/polyphemus/src/rhesis/polyphemus/services/services.py
Due: none

implement the authentication for the polyphemus service
  apps/polyphemus/Dockerfile
  apps/polyphemus/pyproject.toml
  apps/polyphemus/src/rhesis/polyphemus/auth.py
  apps/polyphemus/src/rhesis/polyphemus/database.py
  apps/polyphemus/src/rhesis/polyphemus/main.py
  apps/polyphemus/src/rhesis/polyphemus/routers/services.py
  apps/polyphemus/src/rhesis/polyphemus/utils/__init__.py
  docker-compose.yml
  rh
Due: none

refactor code for the authentication
  apps/polyphemus/src/rhesis/polyphemus/main.py
  apps/polyphemus/src/rhesis/polyphemus/routers/services.py
  apps/polyphemus/src/rhesis/polyphemus/services/auth.py
  apps/polyphemus/src/rhesis/polyphemus/services/database.py
Due: none

import backend module for the authentication
  apps/polyphemus/src/rhesis/polyphemus/services/auth.py
  apps/polyphemus/src/rhesis/polyphemus/services/database.py
Due: none

introduce the rate limit to the polyphemus service
  apps/polyphemus/src/rhesis/polyphemus/main.py
  apps/polyphemus/src/rhesis/polyphemus/routers/services.py
  apps/polyphemus/src/rhesis/polyphemus/services/auth.py
  apps/polyphemus/src/rhesis/polyphemus/utils/rate_limit.py
  ruff.toml
Due: none

fix: Handler tests for ErrorResponse
  apps/chatbot/uv.lock
  tests/backend/services/invokers/test_rest_invoker.py
Due: none

fix: Handler tests for ErrorResponse
  tests/backend/services/invokers/test_rest_invoker.py
  tests/backend/services/invokers/test_websocket_invoker.py
Due: none

update the rh file for the new library
  apps/polyphemus/uv.lock
  rh
Due: none

fix: Handler tests for ErrorResponse
  tests/backend/services/test_endpoint_service.py
  tests/backend/services/test_test_execution.py
Due: none

refactor(penelope): remove sensitive prompt content from logs
  penelope/src/rhesis/penelope/agent.py
  penelope/src/rhesis/penelope/executor.py
  penelope/src/rhesis/penelope/prompts/system/system_assembly_jinja.py
Due: none

add the env in the github workflow
  .github/workflows/polyphemus.yml
Due: none

fix(sdk-connector): resolve race condition in multi-worker RPC
  apps/backend/src/rhesis/backend/app/services/connector/manager.py
  apps/backend/src/rhesis/backend/app/services/connector/rpc_client.py
  apps/backend/src/rhesis/backend/app/services/endpoint/service.py
  apps/backend/src/rhesis/backend/app/services/invokers/sdk_invoker.py
  apps/backend/src/rhesis/backend/tasks/execution/executors/runners.py
  apps/backend/src/rhesis/backend/tasks/execution/executors/single_turn.py
  tests/backend/tasks/test_execution.py
Due: backend

add the cloud run instance
  .github/workflows/polyphemus.yml
Due: none

added the database env to the polyphemus workflow
  .github/workflows/polyphemus.yml
Due: none

Implement multi-turn conversation preview & improve generation flow (#914)
  apps/backend/src/rhesis/backend/app/services/test_config_generator.py
  apps/frontend/.nvmrc
  apps/frontend/src/app/(protected)/test-sets/components/TestSetsGrid.tsx
  apps/frontend/src/app/(protected)/tests/components/TestsGrid.tsx
  apps/frontend/src/app/(protected)/tests/new-generated/components/TestGenerationInterface.tsx
  apps/frontend/src/app/(protected)/tests/new-generated/components/TestInputScreen.tsx
  apps/frontend/src/app/(protected)/tests/new-generated/components/shared/ConversationHistoryModal.tsx
  apps/frontend/src/app/(protected)/tests/new-generated/components/shared/SelectionModal.tsx
  apps/frontend/src/app/(protected)/tests/new-generated/components/shared/TestSampleCard.tsx
  apps/frontend/src/app/(protected)/tests/new-generated/components/shared/types.ts
  apps/frontend/src/app/(protected)/tests/new-generated/page.tsx
  apps/frontend/src/app/(protected)/tests/page.tsx
  apps/frontend/src/components/common/BaseDataGrid.tsx
  apps/frontend/src/components/common/ConversationHistory.tsx
Due: backend, frontend-format, frontend-lint, hardcoded-styles

update the documentation for polyphemus
  rh
Due: none

fix: resolve async/await issues in backend conversation context tests
  apps/backend/src/rhesis/backend/alembic/versions/ee42160dfacf_merge_tool_table_and_endpoint_url_.py
  penelope/src/rhesis/penelope/agent.py
Due: backend

fix: resolve line length linting issue in penelope agent
  penelope/src/rhesis/penelope/agent.py
Due: none

Fix: Migration Backend Tests (#922)
  .vscode/settings.json
  apps/backend/src/rhesis/backend/alembic/versions/ee42160dfacf_merge_tool_table_and_endpoint_url_.py
  apps/backend/src/rhesis/backend/app/services/connector/manager.py
  apps/backend/src/rhesis/backend/app/services/connector/rpc_client.py
  apps/backend/src/rhesis/backend/app/services/endpoint/service.py
  apps/backend/src/rhesis/backend/app/services/invokers/common/schemas.py
  apps/backend/src/rhesis/backend/app/services/invokers/sdk_invoker.py
  apps/backend/src/rhesis/backend/tasks/execution/executors/runners.py
  apps/backend/src/rhesis/backend/tasks/execution/executors/single_turn.py
  apps/backend/uv.lock
  apps/chatbot/uv.lock
  penelope/src/rhesis/penelope/agent.py
  penelope/src/rhesis/penelope/executor.py
  penelope/src/rhesis/penelope/prompts/system/system_assembly_jinja.py
  tests/backend/routes/test_services.py
  tests/backend/services/connector/mapping/test_integration.py
  tests/backend/services/connector/test_handler.py
  tests/backend/services/invokers/test_common_utilities.py
  tests/backend/services/invokers/test_rest_invoker.py
  tests/backend/services/invokers/test_websocket_invoker.py
  tests/backend/services/test_endpoint_service.py
  tests/backend/services/test_test_execution.py
  tests/backend/tasks/test_execution.py
Due: backend

feat: added openrouter to models innit. This allows an easier import of the provider
  sdk/src/rhesis/sdk/models/__init__.py
Due: sdk

feat(frontend): reorganize navigation with sections and external links
  apps/frontend/src/app/(protected)/behaviors/page.tsx
  apps/frontend/src/app/(protected)/layout.tsx
  apps/frontend/src/app/(protected)/tests/page.tsx
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/components/icons.ts
  apps/frontend/src/components/navigation/NavigationProvider.tsx
  apps/frontend/src/components/navigation/SidebarFooter.tsx
  apps/frontend/src/types/navigation.ts
Due: frontend-format, frontend-lint, hardcoded-styles

style(ui): update navbar logo to white font variant
  apps/frontend/src/components/common/ThemeAwareLogo.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): remove 404 flash when clicking Generation nav item
  apps/frontend/src/app/(protected)/generation/page.tsx
  apps/frontend/src/app/(protected)/tests/new-generated/components/TestTypeSelectionScreen.tsx
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/components/navigation/NavigationProvider.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

feat(frontend): make Star Rhesis button more inviting
  apps/frontend/src/app/(protected)/layout.tsx
  apps/frontend/src/app/layout.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

chore: cursor rules
  .cursor/rules/local-development.mdc
  .cursor/rules/testing.mdc
Due: none

fix: push test sets
  apps/backend/src/rhesis/backend/app/schemas/test_set.py
  sdk/src/rhesis/sdk/entities/test_set.py
Due: sdk, backend

fix: push tests
  .cursor/rules/testing.mdc
  tests/sdk/integration/test_entities.py
Due: none

fix: fix generate multiturn tests
  apps/backend/src/rhesis/backend/app/routers/services.py
  sdk/src/rhesis/sdk/entities/test.py
  sdk/src/rhesis/sdk/entities/test_set.py
  sdk/src/rhesis/sdk/synthesizers/multi_turn/base.py
  sdk/uv.lock
Due: sdk, backend

chore: cursor rules
  .cursor/rules/local-development.mdc
  .cursor/rules/tech-stack.mdc
Due: none

fix: failing tests
  sdk/Makefile
  sdk/pyproject.toml
  tests/sdk/connector/conftest.py
  tests/sdk/entities/test_base_collection.py
  tests/sdk/entities/test_base_entity.py
Due: sdk

fix(nav): enable external links using renderPageItem
  apps/frontend/src/app/(protected)/layout.tsx
  apps/frontend/src/components/navigation/NavigationProvider.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix: doc string
  sdk/src/rhesis/sdk/entities/test_set.py
Due: sdk

fix: github workflow sdk tests
  .github/workflows/sdk-test.yml
Due: none

refactor(nav): move models from /integrations to /models
  apps/frontend/src/app/(protected)/models/components/ConnectionDialog.tsx
  apps/frontend/src/app/(protected)/models/components/ModelCard.tsx
  apps/frontend/src/app/(protected)/models/components/ProviderSelectionDialog.tsx
  apps/frontend/src/app/(protected)/models/components/index.ts
  apps/frontend/src/app/(protected)/models/page.tsx
  apps/frontend/src/app/layout.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

Path conditions:
  sdk: any of: ^sdk/
  backend: any of: ^apps/backend/
  frontend-format: any of: ^apps/frontend/
  frontend-lint: any of: ^apps/frontend/
  docs-format: any of: ^apps/documentation/
  hardcoded-styles: any of: ^apps/(frontend|documentation)/
