Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, frontend-hardcoded-styles

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict

  - repo: local
    hooks:
        - id: sdk
          name  : format sdk
          language: system
          entry: make -C sdk format
          files: ^sdk/
          pass_filenames: false

        - id: backend
          name  : format backend
          language: system
          entry: make -C apps/backend format_diff
          files: ^apps/backend/
          pass_filenames: false

        - id: frontend-format
          name: auto-fix frontend formatting
          language: system
          entry: cd apps/frontend && npm run format
          files: ^apps/frontend/
          pass_filenames: false

        - id: frontend-lint
          name: lint frontend
          language: system
          entry: cd apps/frontend && npm run lint
          files: ^apps/frontend/
          pass_filenames: false

        - id: frontend-hardcoded-styles
          name: check hardcoded styles in frontend
          language: system
          entry: node scripts/check-hardcoded-styles.js
          files: ^apps/frontend/
          pass_filenames: false


  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.8.0
  #   hooks:
  #     - id: mypy
  #       additional_dependencies: [
  #         "types-requests",
  #         "pandas-stubs",
  #         "pyarrow-stubs",
  #         "types-tqdm"
  #       ]

polish grid columns in Dashboard
  apps/frontend/src/app/(protected)/dashboard/components/LatestTestRunsGrid.tsx
  apps/frontend/src/app/(protected)/dashboard/components/RecentActivitiesGrid.tsx
  apps/frontend/src/app/(protected)/dashboard/components/RecentTestSetsGrid.tsx
  apps/frontend/src/app/(protected)/dashboard/components/RecentTestsGrid.tsx
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

fix(sdk): handle missing DeepEval metrics in older versions
  apps/backend/uv.lock
  sdk/src/rhesis/sdk/metrics/providers/deepeval/metrics.py
Due: sdk, backend

feat(backend): add SDK metrics adapter layer for backend-to-SDK integration
  apps/backend/src/rhesis/backend/metrics/adapters.py
  apps/backend/src/rhesis/backend/metrics/evaluator.py
  tests/backend/metrics/test_adapters.py
  tests/backend/metrics/test_evaluator_sdk_integration.py
Due: backend

fix(backend): handle categorical metrics in SDK adapter and legacy tests
  apps/backend/src/rhesis/backend/metrics/adapters.py
  tests/backend/metrics/test_adapters.py
  tests/backend/metrics/test_current_evaluator_behavior.py
  tests/backend/metrics/test_current_task_execution.py
Due: backend

refactor(metrics): remove duplicate implementations and use SDK exclusively
  apps/backend/src/rhesis/backend/metrics/__init__.py
  apps/backend/src/rhesis/backend/metrics/base.py
  apps/backend/src/rhesis/backend/metrics/config/__init__.py
  apps/backend/src/rhesis/backend/metrics/config/backends.yml
  apps/backend/src/rhesis/backend/metrics/config/defaults.yml
  apps/backend/src/rhesis/backend/metrics/config/loader.py
  apps/backend/src/rhesis/backend/metrics/deepeval/__init__.py
  apps/backend/src/rhesis/backend/metrics/deepeval/examples.py
  apps/backend/src/rhesis/backend/metrics/deepeval/factory.py
  apps/backend/src/rhesis/backend/metrics/deepeval/metric_base.py
  apps/backend/src/rhesis/backend/metrics/deepeval/metrics.py
  apps/backend/src/rhesis/backend/metrics/deepeval/model_factory.py
  apps/backend/src/rhesis/backend/metrics/evaluator.py
  apps/backend/src/rhesis/backend/metrics/factory.py
  apps/backend/src/rhesis/backend/metrics/ragas/__init__.py
  apps/backend/src/rhesis/backend/metrics/ragas/factory.py
  apps/backend/src/rhesis/backend/metrics/ragas/metric_base.py
  apps/backend/src/rhesis/backend/metrics/ragas/metrics.py
  apps/backend/src/rhesis/backend/metrics/rhesis/README.md
  apps/backend/src/rhesis/backend/metrics/rhesis/__init__.py
  apps/backend/src/rhesis/backend/metrics/rhesis/factory.py
  apps/backend/src/rhesis/backend/metrics/rhesis/metric_base.py
  apps/backend/src/rhesis/backend/metrics/rhesis/prompt_metric.py
  apps/backend/src/rhesis/backend/metrics/templates/prompt_metric.jinja
  apps/backend/src/rhesis/backend/metrics/test_metric.py
  apps/backend/src/rhesis/backend/metrics/tests/__init__.py
  apps/backend/src/rhesis/backend/metrics/tests/test_deepeval.py
  apps/backend/src/rhesis/backend/metrics/tests/test_ragas.py
  apps/backend/src/rhesis/backend/metrics/tests/test_rhesis.py
  apps/backend/src/rhesis/backend/metrics/utils.py
  apps/backend/src/rhesis/backend/tasks/execution/evaluation.py
  apps/backend/src/rhesis/backend/tasks/execution/test_execution.py
  tests/backend/metrics/test_current_e2e_flow.py
  tests/backend/metrics/test_current_evaluator_behavior.py
  tests/backend/metrics/test_current_factory_behavior.py
  tests/backend/metrics/test_current_metric_behavior.py
  tests/backend/metrics/test_current_task_execution.py
  tests/backend/metrics/test_evaluator_sdk_integration.py
Due: backend

style(metrics): apply ruff formatting to metrics modules
  apps/backend/src/rhesis/backend/metrics/__init__.py
  apps/backend/src/rhesis/backend/metrics/adapters.py
  apps/backend/src/rhesis/backend/metrics/evaluator.py
Due: backend

Implement deferred loading for source content to improve performance
  apps/backend/src/rhesis/backend/app/models/source.py
  apps/backend/src/rhesis/backend/app/routers/source.py
  apps/backend/src/rhesis/backend/app/schemas/source.py
  apps/backend/src/rhesis/backend/app/utils/model_utils.py
Due: backend

fix(crud): pass column attributes to undefer instead of strings
  apps/backend/src/rhesis/backend/app/crud.py
  apps/backend/src/rhesis/backend/app/utils/crud_utils.py
  apps/frontend/src/utils/api-client/interfaces/source.ts
Due: backend, frontend-format, frontend-lint, frontend-hardcoded-styles

refactor(sources): replace include parameter with dedicated endpoint for content
  apps/backend/src/rhesis/backend/app/crud.py
  apps/backend/src/rhesis/backend/app/routers/source.py
  apps/backend/src/rhesis/backend/app/schemas/__init__.py
  apps/backend/src/rhesis/backend/app/schemas/source.py
  apps/backend/src/rhesis/backend/app/utils/crud_utils.py
Due: backend

feat(frontend): use dedicated content endpoint for source detail page
  apps/frontend/src/app/(protected)/knowledge/[id]/components/SourcePreviewClientWrapper.tsx
  apps/frontend/src/app/(protected)/knowledge/[id]/page.tsx
  apps/frontend/src/utils/api-client/sources-client.ts
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

feat(sources): add include parameter for field selection
  apps/backend/src/rhesis/backend/app/crud.py
  apps/backend/src/rhesis/backend/app/routers/source.py
  apps/backend/src/rhesis/backend/app/utils/crud_utils.py
  apps/backend/src/rhesis/backend/app/utils/model_utils.py
Due: backend

docs: sdk, metrics
  docs/content/sdk/_meta.tsx
  docs/content/sdk/installation.mdx
  docs/content/sdk/metrics.mdx
  docs/content/sdk/models.mdx
Due: none

docs: clean grammar
  docs/content/sdk/metrics.mdx
Due: none

docs: reorganization of the sections
  docs/content/sdk/metrics.mdx
Due: none

fix(metrics): provide default values for required SDK parameters
  apps/backend/src/rhesis/backend/metrics/adapters.py
  tests/backend/metrics/test_adapters.py
Due: backend

docs: remove integration part
  docs/content/sdk/_meta.tsx
  docs/content/sdk/index.mdx
Due: none

fix(metrics): remove invalid MetricConfig.from_dict() calls
  apps/backend/src/rhesis/backend/metrics/adapters.py
  apps/backend/src/rhesis/backend/metrics/evaluator.py
  apps/backend/src/rhesis/backend/metrics/test_metric.py
  apps/backend/src/rhesis/backend/tasks/execution/test_execution.py
Due: backend

test(metrics): add regression tests for prepare_metric_configs
  tests/backend/metrics/test_current_task_execution.py
Due: none

test(metrics): add critical execute_test() integration test
  tests/backend/metrics/test_current_e2e_flow.py
Due: none

feat: Enhance test configuration generation with project context
  apps/backend/src/rhesis/backend/app/routers/services.py
  apps/backend/src/rhesis/backend/app/schemas/services.py
  apps/backend/src/rhesis/backend/app/services/test_config_generator.py
  apps/backend/src/rhesis/backend/app/templates/test_config_generator.jinja2
Due: backend
