Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, docs-format, hardcoded-styles

sdk:
  name: format sdk
  language: system
  entry: make -C sdk format
  pass_filenames: false

backend:
  name: format backend
  language: system
  entry: make -C apps/backend format_diff
  pass_filenames: false

frontend-format:
  name: auto-fix frontend formatting
  language: system
  entry: bash -c "cd apps/frontend && npm run format"
  pass_filenames: false

frontend-lint:
  name: lint frontend
  language: system
  entry: bash -c "cd apps/frontend && npm run lint"
  pass_filenames: false

docs-format:
  name: auto-fix docs formatting
  language: system
  entry: bash -c "cd apps/documentation && npm run format"
  pass_filenames: false

hardcoded-styles:
  name: check hardcoded styles in frontend and docs
  language: system
  entry: node scripts/check-hardcoded-styles.js
  pass_filenames: false

feat(frontend): unify tests list and clusters in tabbed panel
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/EmbeddingAtlasView.tsx
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/EmbeddingTestsPanel.tsx
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/TestSetTestsGrid.tsx
  apps/frontend/src/app/(protected)/test-sets/[identifier]/page.tsx
  apps/frontend/src/hooks/useEmbeddingGraph.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix: lint checks and tests
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/EmbeddingAtlasView.tsx
  apps/frontend/src/utils/embedding/__tests__/graphToEmbeddingViewData.test.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix: keep computing state when switching tabs
  apps/frontend/src/hooks/__tests__/useEmbeddingGraph.test.ts
  apps/frontend/src/hooks/useEmbeddingGraph.ts
Due: frontend-format, frontend-lint, hardcoded-styles

chore(backend): align apps/backend with main
  apps/backend/src/rhesis/backend/app/services/embedding/graph_builder.py
  apps/backend/src/rhesis/backend/tasks/embedding/graph.py
Due: backend

fix(test-sets): show goal in embedding clusters list for multi-turn tests
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/EmbeddingTestsPanel.tsx
  apps/frontend/src/app/(protected)/tests/components/test-grid-helpers.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

feat: add color-by control for topic, category, behavior
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/EmbeddingAtlasView.tsx
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/EmbeddingColorLegend.tsx
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/EmbeddingTestsPanel.tsx
  apps/frontend/src/utils/embedding/__tests__/embeddingColorBy.test.ts
  apps/frontend/src/utils/embedding/embeddingColorBy.ts
Due: frontend-format, frontend-lint, hardcoded-styles

feat: move Last Computed to the right
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/EmbeddingTestsPanel.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

chore(frontend): fix hardcoded colors and linting errors
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/EmbeddingColorLegend.tsx
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/EmbeddingTestsPanel.tsx
  apps/frontend/src/styles/theme.ts
  apps/frontend/src/utils/embedding/__tests__/embeddingColorBy.test.ts
  apps/frontend/src/utils/embedding/embeddingColorBy.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): resolve webpack asset generator conflict with embedding-atlas
  apps/frontend/next.config.mjs
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): cancel in-flight polls when enabled is false
  apps/frontend/src/hooks/__tests__/useEmbeddingGraph.test.ts
  apps/frontend/src/hooks/useEmbeddingGraph.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): always shrink tags field label to top border
  apps/frontend/src/components/common/BaseTag.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

Add embedding scatter map to test set detail (#1781)
  apps/frontend/next.config.mjs
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/EmbeddingAtlasView.tsx
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/EmbeddingColorLegend.tsx
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/EmbeddingTestsPanel.tsx
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/TestSetTestsGrid.tsx
  apps/frontend/src/app/(protected)/test-sets/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/tests/components/test-grid-helpers.tsx
  apps/frontend/src/hooks/__tests__/useEmbeddingGraph.test.ts
  apps/frontend/src/hooks/useEmbeddingGraph.ts
  apps/frontend/src/styles/theme.ts
  apps/frontend/src/utils/api-client/base-client.ts
  apps/frontend/src/utils/api-client/interfaces/embedding.ts
  apps/frontend/src/utils/api-client/test-sets-client.ts
  apps/frontend/src/utils/embedding/__tests__/embeddingColorBy.test.ts
  apps/frontend/src/utils/embedding/__tests__/embeddingGraphPolling.test.ts
  apps/frontend/src/utils/embedding/__tests__/graphToEmbeddingViewData.test.ts
  apps/frontend/src/utils/embedding/embeddingColorBy.ts
  apps/frontend/src/utils/embedding/embeddingGraphPolling.ts
  apps/frontend/src/utils/embedding/graphToEmbeddingViewData.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(embeddings): backfill test embeddings when computing graph
  apps/backend/src/rhesis/backend/app/routers/test_set.py
  apps/backend/src/rhesis/backend/tasks/embedding/graph.py
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/EmbeddingTestsPanel.tsx
  apps/frontend/src/hooks/__tests__/useEmbeddingGraph.test.ts
  apps/frontend/src/hooks/useEmbeddingGraph.ts
  tests/backend/tasks/test_embedding_graph_task.py
Due: backend, frontend-format, frontend-lint, hardcoded-styles

feat(sdk): add experiment= and parameters= to execute and run
  docs/content/docs/experiments/sdk-usage.mdx
  docs/content/sdk/entities/experiments.mdx
  docs/content/sdk/execution.mdx
  docs/content/sdk/parameters.mdx
  sdk/src/rhesis/sdk/entities/experiment.py
  sdk/src/rhesis/sdk/entities/test_set.py
  tests/sdk/integration/test_parameters.py
Due: sdk

rename _resolve_model_id to public resolve_model_id
  apps/backend/src/rhesis/backend/app/services/embedding/services.py
  apps/backend/src/rhesis/backend/tasks/embedding/graph.py
  tests/backend/services/test_embedding_service.py
  tests/backend/tasks/test_embedding_graph_task.py
Due: backend

fix(backend): backfill chatbot parameter schema
  apps/backend/src/rhesis/backend/alembic/versions/f3a4b5c6d7e8_add_parameters_to_chatbot_request_mapping.py
  apps/backend/src/rhesis/backend/app/services/initial_data.json
Due: backend

fix(frontend): preserve experiment schema tab state
  apps/frontend/src/app/(protected)/experiments/[identifier]/components/ExperimentDetailClient.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

Fix Vertex AI credentials and Turbopack CPU bug (#1779)
  apps/frontend/package.json
  sdk/src/rhesis/sdk/models/providers/vertex_ai.py
  tests/sdk/models/providers/test_vertex_ai.py
Due: sdk, frontend-format, frontend-lint, hardcoded-styles

fix(backend): tolerate missing config attributes
  apps/backend/src/rhesis/backend/tasks/execution/run.py
Due: backend

fix(frontend): show experiments in comparison dialog
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/ComparisonView.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(sdk): preserve defaults for none params
  apps/backend/src/rhesis/backend/app/services/invokers/templating/renderer.py
  apps/chatbot/client.py
  sdk/src/rhesis/sdk/connector/executor.py
  tests/backend/services/invokers/test_template_renderer.py
  tests/sdk/connector/test_serializer_integration.py
Due: sdk, backend

feat(frontend): deep link experiment versions
  apps/frontend/src/app/(protected)/experiments/[identifier]/components/ExperimentDetailClient.tsx
  apps/frontend/src/app/(protected)/experiments/[identifier]/components/LatestResultsPanel.tsx
  apps/frontend/src/app/(protected)/experiments/[identifier]/components/RunExperimentDrawer.tsx
  apps/frontend/src/app/(protected)/experiments/[identifier]/components/VersionHistory.tsx
  apps/frontend/src/app/(protected)/projects/[identifier]/components/ProjectEnvironments.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/ComparisonView.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestRunHeader.tsx
  apps/frontend/src/app/(protected)/traces/components/TraceDrawer.tsx
  apps/frontend/src/components/common/SelectExperimentsDialog.tsx
  apps/frontend/src/utils/experiment-links.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): restore embedding graph poll cancellation
  apps/frontend/src/hooks/__tests__/useEmbeddingGraph.test.ts
  apps/frontend/src/hooks/useEmbeddingGraph.ts
Due: frontend-format, frontend-lint, hardcoded-styles

feat(frontend): reorganize sidebar navigation
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/components/navigation/Sidebar.tsx
  apps/frontend/tests/e2e/tests/navigation.spec.ts
Due: frontend-format, frontend-lint, hardcoded-styles

Backfill test embeddings when computing test set cluster graph (#1789)
  apps/backend/src/rhesis/backend/app/routers/test_set.py
  apps/backend/src/rhesis/backend/app/services/embedding/services.py
  apps/backend/src/rhesis/backend/tasks/embedding/graph.py
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/EmbeddingTestsPanel.tsx
  apps/frontend/src/hooks/__tests__/useEmbeddingGraph.test.ts
  apps/frontend/src/hooks/useEmbeddingGraph.ts
  tests/backend/services/test_embedding_service.py
  tests/backend/tasks/test_embedding_graph_task.py
Due: backend, frontend-format, frontend-lint, hardcoded-styles

refactor(frontend): unify 5 execution drawers into single RunDrawer
  apps/frontend/src/app/(protected)/experiments/[identifier]/components/LatestResultsPanel.tsx
  apps/frontend/src/app/(protected)/experiments/[identifier]/components/RunExperimentDrawer.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/RerunTestRunDrawer.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestRunMainView.tsx
  apps/frontend/src/app/(protected)/test-runs/components/TestRunDrawer.tsx
  apps/frontend/src/app/(protected)/test-runs/components/TestRunsGrid.tsx
  apps/frontend/src/app/(protected)/test-runs/components/__tests__/TestRunsGrid.test.tsx
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/ExecuteTestSetDrawer.tsx
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/TestSetDetailsSection.tsx
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/__tests__/TestSetDetailsSection.test.tsx
  apps/frontend/src/app/(protected)/test-sets/components/CreateTestRun.tsx
  apps/frontend/src/app/(protected)/test-sets/components/TestRunDrawer.tsx
  apps/frontend/src/app/(protected)/test-sets/components/TestSetsGrid.tsx
  apps/frontend/src/app/(protected)/test-sets/components/__tests__/TestSetsGrid.test.tsx
  apps/frontend/src/components/common/RunDrawer.tsx
  apps/frontend/src/utils/test-run-batch.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): use turbopack for E2E dev server
  apps/frontend/package.json
  apps/frontend/playwright.config.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): use turbopack for E2E dev server (#1790)
  apps/frontend/package.json
  apps/frontend/playwright.config.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): stabilize experiment run views
  apps/frontend/src/app/(protected)/experiments/[identifier]/components/LatestResultsPanel.tsx
  apps/frontend/src/app/(protected)/experiments/[identifier]/components/VersionHistory.tsx
  apps/frontend/src/app/(protected)/traces/components/TraceDrawer.tsx
  apps/frontend/src/components/common/RunDrawer.tsx
  apps/frontend/src/utils/test-run-batch.ts
  ee/frontend/tsconfig.tsbuildinfo
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): resolve lint annotations
  apps/frontend/src/app/(protected)/behaviors/components/BehaviorsClient.tsx
  apps/frontend/src/app/(protected)/dashboard/components/TestRunPerformance.tsx
  apps/frontend/src/app/(protected)/dashboard/components/__tests__/TestRunPerformance.test.tsx
  apps/frontend/src/app/(protected)/dashboard/page.tsx
  apps/frontend/src/app/(protected)/experiments/[identifier]/components/VersionHistory.tsx
  apps/frontend/src/app/(protected)/explorer/[identifier]/components/ExplorerDetail.tsx
  apps/frontend/src/app/(protected)/explorer/[identifier]/components/SuggestionsDialog.tsx
  apps/frontend/src/app/(protected)/metrics/[identifier]/MetricDetailView.tsx
  apps/frontend/src/app/(protected)/models/components/ModelCard.tsx
  apps/frontend/src/components/common/RunDrawer.tsx
  apps/frontend/src/config/test-templates.generated.ts
  apps/frontend/src/utils/test-run-batch.ts
Due: frontend-format, frontend-lint, hardcoded-styles

feat(frontend): add Figma sidebar icons with 24x24 viewport
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/components/BehaviorsIcon.tsx
  apps/frontend/src/components/EndpointsIcon.tsx
  apps/frontend/src/components/KidStarIcon.tsx
  apps/frontend/src/components/KnowledgeIcon.tsx
  apps/frontend/src/components/PlaygroundIcon.tsx
  apps/frontend/src/components/TasksIcon.tsx
  apps/frontend/src/components/TestRunsIcon.tsx
  apps/frontend/src/components/TracesIcon.tsx
  apps/frontend/src/components/icons.ts
  apps/frontend/src/components/navIconViewport.ts
Due: frontend-format, frontend-lint, hardcoded-styles

feat(backend,sdk): use sequential version IDs (v1, v2, v3)
  apps/backend/src/rhesis/backend/app/routers/experiments.py
  apps/backend/src/rhesis/backend/app/schemas/parameters.py
  apps/backend/src/rhesis/backend/app/services/experiment.py
  apps/chatbot/chatbot.py
  sdk/src/rhesis/sdk/entities/experiment.py
  sdk/src/rhesis/sdk/models/parameters.py
  sdk/src/rhesis/sdk/parameters/_facade.py
  tests/backend/routes/test_experiments.py
  tests/sdk/integration/test_parameters.py
  tests/sdk/test_parameters_models.py
Due: sdk, backend

feat(frontend): show experiment name in labels and add empty state
  apps/frontend/src/app/(protected)/experiments/components/ExperimentsClientWrapper.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/ComparisonView.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestRunHeader.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestRunMainView.tsx
  apps/frontend/src/app/(protected)/test-runs/components/TestRunsGrid.tsx
  apps/frontend/src/app/(protected)/traces/components/TraceDrawer.tsx
  apps/frontend/src/components/common/SelectExperimentsDialog.tsx
  apps/frontend/src/utils/api-client/interfaces/parameters.ts
Due: frontend-format, frontend-lint, hardcoded-styles

docs: update version references for sequential IDs
  docs/content/docs/concepts.mdx
  docs/content/docs/experiments/connector-injection.mdx
  docs/content/docs/experiments/index.mdx
  docs/content/docs/experiments/sdk-usage.mdx
  docs/content/docs/test-runs/index.mdx
Due: none

fix(test): allow content_hash equality in secret guard
  tests/backend/test_secret_equality.py
Due: none

fix(frontend): address formatting checks
  apps/frontend/src/app/(protected)/experiments/components/ExperimentsClientWrapper.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestRunHeader.tsx
  apps/frontend/src/app/(protected)/test-runs/components/TestRunsGrid.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

chore(deps): fix security vulnerabilities across all projects
  agents/research-assistant/pyproject.toml
  agents/research-assistant/uv.lock
  apps/backend/pyproject.toml
  apps/backend/uv.lock
  apps/chatbot/pyproject.toml
  apps/chatbot/uv.lock
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/polyphemus/pyproject.toml
  apps/polyphemus/uv.lock
  docs/src/package-lock.json
  docs/src/package.json
  examples/telemetry/pyproject.toml
  examples/telemetry/uv.lock
  packages/rhesis/pyproject.toml
  packages/rhesis/uv.lock
  penelope/pyproject.toml
  penelope/uv.lock
  sdk/pyproject.toml
  sdk/uv.lock
Due: sdk, backend, frontend-format, frontend-lint, hardcoded-styles

fix(frontend): move insights nav under improve above test runs
  apps/frontend/src/app/layout.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

Path conditions:
  sdk: any of: ^sdk/
  backend: any of: ^apps/backend/
  frontend-format: any of: ^apps/frontend/
  frontend-lint: any of: ^apps/frontend/
  docs-format: any of: ^apps/documentation/
  hardcoded-styles: any of: ^apps/(frontend|documentation)/
