Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend

sdk:
  name: format sdk
  language: system
  entry: make -C sdk format
  pass_filenames: false

backend:
  name: format backend
  language: system
  entry: make -C apps/backend format
  pass_filenames: false

refactor: remove __main__ block from categorical metric
  sdk/src/rhesis/sdk/metrics/providers/native/prompt_metric_categorical.py
Due: sdk

fix: reference to env.example in docs
  .env.example
  apps/documentation/content/development/backend/index.mdx
  apps/documentation/content/development/contributing/development-setup/index.mdx
  apps/documentation/content/development/contributing/index.mdx
  apps/documentation/content/development/frontend/index.mdx
  apps/documentation/content/getting-started/index.mdx
  docs/self-hosting.md
Due: none

refactor: Remove get_items_detail_with_comments function and update usages
  apps/backend/src/rhesis/backend/app/crud.py
  apps/backend/src/rhesis/backend/app/utils/crud_utils.py
Due: backend

fix: resolve merge conflicts and hardcoded style violations
  apps/frontend/src/app/(protected)/endpoints/components/EndpointDetail.tsx
  apps/frontend/src/app/(protected)/integrations/applications/page.tsx
  apps/frontend/src/app/(protected)/integrations/llm-providers/page.tsx
  apps/frontend/src/app/(protected)/integrations/tools/page.tsx
  apps/frontend/src/app/(protected)/metrics/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/metrics/components/MetricTypeDialog.tsx
  apps/frontend/src/app/(protected)/metrics/components/SelectedMetricsTab.tsx
  apps/frontend/src/app/(protected)/metrics/new/page.tsx
  apps/frontend/src/app/(protected)/projects/components/ProjectCard.tsx
  apps/frontend/src/app/(protected)/test-results/components/BaseTimelineChart.tsx
  apps/frontend/src/app/(protected)/test-results/components/DimensionRadarChart.tsx
  apps/frontend/src/app/(protected)/test-results/components/LatestResultsPieChart.tsx
  apps/frontend/src/app/(protected)/test-results/components/LatestTestRunsChart.tsx
  apps/frontend/src/app/(protected)/test-results/components/MetricTimelineChart.tsx
  apps/frontend/src/app/(protected)/test-results/components/TestResultsSummary.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestRunDetailCharts.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestRunDetailsSection.tsx
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/TestSetDetailsSection.tsx
  apps/frontend/src/app/(protected)/tests/[identifier]/components/TestDetailData.tsx
  apps/frontend/src/app/(protected)/tests/[identifier]/components/TestExecutableField.tsx
  apps/frontend/src/app/(protected)/tests/new-generated/components/GenerateTestsStepper.tsx
  apps/frontend/src/app/(protected)/tokens/components/TokensGrid.tsx
  apps/frontend/src/app/page.tsx
  apps/frontend/src/components/comments/CommentItem.tsx
  apps/frontend/src/components/common/BaseDataGrid.tsx
  apps/frontend/src/components/common/BaseLineChart.tsx
  apps/frontend/src/components/common/BasePieChart.tsx
  apps/frontend/src/components/common/BaseScatterChart.tsx
  apps/frontend/src/components/common/ErrorBoundary.tsx
Due: none

feat(crud): add description parameter support to get_or_create_status
  apps/backend/src/rhesis/backend/app/utils/crud_utils.py
Due: backend

fix(organization): pass description from initial data to status creation
  apps/backend/src/rhesis/backend/app/services/organization.py
Due: backend

refactor(test): replace mock-based test with real database operations
  tests/backend/services/test_organization.py
Due: none

refactor(test): make test fixtures self-contained and function-scoped
  tests/backend/conftest.py
  tests/backend/routes/test_base/user_relationships.py
Due: none

chore(test): remove obsolete setup_test_auth.py script
  tests/backend/setup_test_auth.py
Due: none

refactor(test): restructure security tests into organized module
  tests/backend/security/__init__.py
  tests/backend/security/conftest.py
  tests/backend/security/test_cross_tenant_isolation.py
  tests/backend/security/test_organization_filtering.py
  tests/backend/security/test_service_security.py
  tests/backend/security/test_token_management.py
  tests/backend/test_additional_security_fixes.py
  tests/backend/test_security_comprehensive.py
  tests/backend/test_security_fixes.py
Due: none

fix: replace conditional and hardcoded rgba colors with theme values
  apps/frontend/src/app/(protected)/endpoints/components/EndpointDetail.tsx
  apps/frontend/src/app/(protected)/endpoints/components/EndpointForm.tsx
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/TestSetDetailsSection.tsx
  apps/frontend/src/app/(protected)/tests/[identifier]/components/TestExecutableField.tsx
  apps/frontend/src/app/page.tsx
  apps/frontend/src/components/common/BaseDataGrid.tsx
  apps/frontend/src/components/layout/ToolbarActions.tsx
Due: none

fix(test): remove redundant security conftest and use existing fixtures
  tests/backend/security/conftest.py
  tests/backend/security/test_cross_tenant_isolation.py
Due: none

feat: Add task relationship and count properties to multiple models
  apps/backend/src/rhesis/backend/app/models/behavior.py
  apps/backend/src/rhesis/backend/app/models/category.py
  apps/backend/src/rhesis/backend/app/models/metric.py
  apps/backend/src/rhesis/backend/app/models/model.py
  apps/backend/src/rhesis/backend/app/models/prompt.py
  apps/backend/src/rhesis/backend/app/models/test.py
  apps/backend/src/rhesis/backend/app/models/test_result.py
  apps/backend/src/rhesis/backend/app/models/test_run.py
  apps/backend/src/rhesis/backend/app/models/test_set.py
  apps/backend/src/rhesis/backend/app/utils/schema_factory.py
Due: backend

fix(test): restore working security tests with correct function signatures
  tests/backend/security/test_cross_tenant_isolation.py
Due: none

fix: remaining style violations
  apps/frontend/src/app/(protected)/endpoints/components/EndpointForm.tsx
  apps/frontend/src/components/layout/ToolbarActions.tsx
Due: none

fix: resolve typescript and linting errors in frontend
  apps/frontend/src/app/(protected)/endpoints/components/EndpointDetail.tsx
  apps/frontend/src/app/(protected)/metrics/new/page.tsx
  apps/frontend/src/app/(protected)/projects/components/ProjectCard.tsx
  apps/frontend/src/app/(protected)/test-results/components/DimensionRadarChart.tsx
  apps/frontend/src/app/(protected)/test-results/components/LatestTestRunsChart.tsx
  apps/frontend/src/app/(protected)/test-results/components/MetricTimelineChart.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestRunDetailCharts.tsx
  apps/frontend/src/app/(protected)/tests/new-generated/components/GenerateTestsStepper.tsx
  apps/frontend/src/components/common/BasePieChart.tsx
  apps/frontend/src/components/common/BaseScatterChart.tsx
Due: none

feat: send request function in Client
  sdk/src/rhesis/sdk/client.py
Due: sdk

refactor: Replace get_items_detail with get_items for improved efficiency
  apps/backend/src/rhesis/backend/app/crud.py
Due: backend

fix(security): refactor organization filtering tests to use real database interactions
  apps/backend/src/rhesis/backend/app/crud.py
  tests/backend/security/test_organization_filtering.py
Due: backend

refactor(test): use existing fixtures and CRUD functions in security tests
  tests/backend/security/test_organization_filtering.py
Due: none

fix: resolve all validation issues and hardcoded styles
  apps/frontend/src/app/(protected)/metrics/new/page.tsx
  apps/frontend/src/app/(protected)/tasks/[id]/page.tsx
  apps/frontend/src/app/(protected)/tasks/components/TasksGrid.tsx
  apps/frontend/src/app/(protected)/tasks/create/page.tsx
  apps/frontend/src/app/(protected)/tests/new-generated/components/GenerateTestsStepper.tsx
  apps/frontend/src/components/comments/CommentItem.tsx
  apps/frontend/src/components/tasks/TasksSection.tsx
  apps/frontend/src/hooks/useComments.ts
Due: none

fix(security): continue refactoring security tests with correct schema imports and real database interactions
  tests/backend/security/test_organization_filtering.py
Due: none

Path conditions:
  sdk: any of: ^sdk/
  backend: any of: ^apps/backend/
