Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, docs-format, hardcoded-styles

sdk:
  name: format sdk
  language: system
  entry: make -C sdk format
  pass_filenames: false

backend:
  name: format backend
  language: system
  entry: make -C apps/backend format_diff
  pass_filenames: false

frontend-format:
  name: auto-fix frontend formatting
  language: system
  entry: bash -c "cd apps/frontend && npm run format"
  pass_filenames: false

frontend-lint:
  name: lint frontend
  language: system
  entry: bash -c "cd apps/frontend && npm run lint"
  pass_filenames: false

docs-format:
  name: auto-fix docs formatting
  language: system
  entry: bash -c "cd apps/documentation && npm run format"
  pass_filenames: false

hardcoded-styles:
  name: check hardcoded styles in frontend and docs
  language: system
  entry: node scripts/check-hardcoded-styles.js
  pass_filenames: false

feat(frontend): adjust trace detail view split to 70:30
  apps/frontend/src/app/(protected)/traces/components/TraceDrawer.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix: add client method to create-ticket-from-task service
  apps/frontend/src/app/(protected)/tasks/components/CreateJiraIssueButton.tsx
  apps/frontend/src/utils/api-client/services-client.ts
Due: frontend-format, frontend-lint, hardcoded-styles

feat(telemetry): add CompiledGraph patching for LangGraph auto-instrumentation
  examples/telemetry/langgraph_example.py
  sdk/src/rhesis/sdk/telemetry/integrations/langchain/integration.py
  sdk/src/rhesis/sdk/telemetry/integrations/langgraph.py
Due: sdk

style(frontend): use theme borderRadius instead of hardcoded values
  apps/frontend/src/app/(protected)/traces/components/SpanSequenceView.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

test(backend): update span name validation test for agent domain
  tests/backend/routes/test_telemetry_sdk_integration.py
Due: none

fix: overwriting of passed kwargs
  sdk/src/rhesis/sdk/models/providers/polyphemus.py
Due: sdk

fix: respecting environment variable for Polyphemus URL
  sdk/src/rhesis/sdk/models/providers/polyphemus.py
Due: sdk

feat: make github repository and jira spaces required
  apps/backend/src/rhesis/backend/app/routers/tools.py
  apps/frontend/src/app/(protected)/mcp/components/MCPConnectionDialog.tsx
Due: backend, frontend-format, frontend-lint, hardcoded-styles

test: testing new initialization without parameters
  tests/sdk/models/providers/test_polyphemus.py
Due: none

feat: Enhance trace visualization and LangGraph integration (#1258)
  apps/frontend/next-env.d.ts
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/app/(protected)/traces/components/SpanDetailsPanel.tsx
  apps/frontend/src/app/(protected)/traces/components/SpanGraphView.tsx
  apps/frontend/src/app/(protected)/traces/components/SpanSequenceView.tsx
  apps/frontend/src/app/(protected)/traces/components/SpanTreeView.tsx
  apps/frontend/src/app/(protected)/traces/components/TraceDrawer.tsx
  apps/frontend/src/constants/semantic-layer-icons.tsx
  examples/telemetry/langchain_example.py
  examples/telemetry/langgraph_example.py
  sdk/src/rhesis/sdk/decorators/observe.py
  sdk/src/rhesis/sdk/telemetry/attributes.py
  sdk/src/rhesis/sdk/telemetry/context.py
  sdk/src/rhesis/sdk/telemetry/integrations/langchain.py
  sdk/src/rhesis/sdk/telemetry/integrations/langchain/__init__.py
  sdk/src/rhesis/sdk/telemetry/integrations/langchain/callback.py
  sdk/src/rhesis/sdk/telemetry/integrations/langchain/extractors.py
  sdk/src/rhesis/sdk/telemetry/integrations/langchain/integration.py
  sdk/src/rhesis/sdk/telemetry/integrations/langchain/llm_processing.py
  sdk/src/rhesis/sdk/telemetry/integrations/langchain/utils.py
  sdk/src/rhesis/sdk/telemetry/integrations/langgraph.py
  sdk/src/rhesis/sdk/telemetry/schemas.py
  sdk/src/rhesis/sdk/telemetry/utils/token_extraction.py
  tests/backend/routes/test_telemetry_sdk_integration.py
  tests/sdk/telemetry/test_attributes.py
  tests/sdk/telemetry/test_custom_observers.py
  tests/sdk/telemetry/test_semantic_layer_constants.py
Due: sdk, frontend-format, frontend-lint, hardcoded-styles

feat: enforce required metadata for GitHub and Jira tool connections
  apps/backend/src/rhesis/backend/app/routers/tools.py
Due: backend

feat(frontend): show disabled Jira button when no workspace connected
  apps/frontend/src/app/(protected)/tasks/components/CreateJiraIssueButton.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

Jira Issue From Task (#1210)
  apps/backend/src/rhesis/backend/app/routers/services.py
  apps/backend/src/rhesis/backend/app/routers/tools.py
  apps/backend/src/rhesis/backend/app/schemas/services.py
  apps/backend/src/rhesis/backend/app/services/mcp_service.py
  apps/backend/src/rhesis/backend/app/templates/mcp_jira_create_issue_prompt.jinja2
  apps/backend/src/rhesis/backend/app/templates/mcp_test_auth_prompt.jinja2
  apps/frontend/src/app/(protected)/mcp/components/MCPConnectionDialog.tsx
  apps/frontend/src/app/(protected)/mcp/components/MCPProviderSelectionDialog.tsx
  apps/frontend/src/app/(protected)/mcp/components/ToolCard.tsx
  apps/frontend/src/app/(protected)/tasks/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/tasks/components/CreateJiraIssueButton.tsx
  apps/frontend/src/utils/api-client/services-client.ts
  docs/content/platform/mcp/index.mdx
  docs/content/platform/tasks/index.mdx
  tests/backend/services/test_mcp_service.py
Due: backend, frontend-format, frontend-lint, hardcoded-styles

chore: add claude code settings
  .claude/settings.json
  .gitignore
Due: none

chore: add claude code settings (#1261)
  .claude/settings.json
  .gitignore
Due: none

feat: add WebSocket infrastructure with security hardening
  apps/backend/src/rhesis/backend/app/main.py
  apps/backend/src/rhesis/backend/app/routers/__init__.py
  apps/backend/src/rhesis/backend/app/routers/websocket.py
  apps/backend/src/rhesis/backend/app/schemas/websocket.py
  apps/backend/src/rhesis/backend/app/services/websocket/__init__.py
  apps/backend/src/rhesis/backend/app/services/websocket/authorization.py
  apps/backend/src/rhesis/backend/app/services/websocket/manager.py
  apps/backend/src/rhesis/backend/app/services/websocket/publisher.py
  apps/backend/src/rhesis/backend/app/services/websocket/rate_limiter.py
  apps/backend/src/rhesis/backend/app/services/websocket/redis_pubsub.py
  apps/backend/src/rhesis/backend/app/services/websocket/registry.py
  apps/backend/src/rhesis/backend/app/services/websocket/token_service.py
  apps/frontend/src/contexts/WebSocketContext.tsx
  apps/frontend/src/hooks/useWebSocket.ts
  apps/frontend/src/utils/websocket/client.ts
  apps/frontend/src/utils/websocket/index.ts
  apps/frontend/src/utils/websocket/types.ts
  tests/backend/routes/test_websocket.py
  tests/backend/schemas/test_websocket.py
  tests/backend/services/websocket/__init__.py
  tests/backend/services/websocket/test_authorization.py
  tests/backend/services/websocket/test_manager.py
  tests/backend/services/websocket/test_publisher.py
  tests/backend/services/websocket/test_rate_limiter.py
  tests/backend/services/websocket/test_token_service.py
Due: backend, frontend-format, frontend-lint, hardcoded-styles

chore: add simulations/ to gitignore and fix prettier formatting
  .gitignore
  apps/frontend/src/contexts/WebSocketContext.tsx
  apps/frontend/src/hooks/useWebSocket.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix: overwriting of passed kwargs (#1260)
  sdk/src/rhesis/sdk/models/providers/polyphemus.py
  tests/sdk/models/providers/test_polyphemus.py
Due: sdk

fix: respecting environment variable for Polyphemus URL (#1257)
  sdk/src/rhesis/sdk/models/providers/polyphemus.py
Due: sdk

style: fix prettier formatting in websocket client
  apps/frontend/src/utils/websocket/client.ts
Due: frontend-format, frontend-lint, hardcoded-styles

Add WebSocket infrastructure with security hardening (#1262)
  .gitignore
  apps/backend/src/rhesis/backend/app/main.py
  apps/backend/src/rhesis/backend/app/routers/__init__.py
  apps/backend/src/rhesis/backend/app/routers/websocket.py
  apps/backend/src/rhesis/backend/app/schemas/websocket.py
  apps/backend/src/rhesis/backend/app/services/websocket/__init__.py
  apps/backend/src/rhesis/backend/app/services/websocket/authorization.py
  apps/backend/src/rhesis/backend/app/services/websocket/manager.py
  apps/backend/src/rhesis/backend/app/services/websocket/publisher.py
  apps/backend/src/rhesis/backend/app/services/websocket/rate_limiter.py
  apps/backend/src/rhesis/backend/app/services/websocket/redis_pubsub.py
  apps/backend/src/rhesis/backend/app/services/websocket/registry.py
  apps/backend/src/rhesis/backend/app/services/websocket/token_service.py
  apps/frontend/src/contexts/WebSocketContext.tsx
  apps/frontend/src/hooks/useWebSocket.ts
  apps/frontend/src/utils/websocket/client.ts
  apps/frontend/src/utils/websocket/index.ts
  apps/frontend/src/utils/websocket/types.ts
  tests/backend/routes/test_websocket.py
  tests/backend/schemas/test_websocket.py
  tests/backend/services/websocket/__init__.py
  tests/backend/services/websocket/test_authorization.py
  tests/backend/services/websocket/test_manager.py
  tests/backend/services/websocket/test_publisher.py
  tests/backend/services/websocket/test_rate_limiter.py
  tests/backend/services/websocket/test_token_service.py
Due: backend, frontend-format, frontend-lint, hardcoded-styles

feat: add playground for interactive endpoint chat via WebSocket
  apps/backend/src/rhesis/backend/app/schemas/websocket.py
  apps/backend/src/rhesis/backend/app/services/invokers/sdk_invoker.py
  apps/backend/src/rhesis/backend/app/services/websocket/handlers/__init__.py
  apps/backend/src/rhesis/backend/app/services/websocket/handlers/chat.py
  apps/backend/src/rhesis/backend/app/services/websocket/manager.py
  apps/backend/src/rhesis/backend/app/services/websocket/publisher.py
  apps/backend/src/rhesis/backend/app/services/websocket/redis_pubsub.py
  apps/frontend/src/app/(protected)/layout.tsx
  apps/frontend/src/app/(protected)/playground/components/MessageBubble.tsx
  apps/frontend/src/app/(protected)/playground/components/PlaygroundChat.tsx
  apps/frontend/src/app/(protected)/playground/components/PlaygroundClient.tsx
  apps/frontend/src/app/(protected)/playground/layout.tsx
  apps/frontend/src/app/(protected)/playground/page.tsx
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/hooks/usePlaygroundChat.ts
  apps/frontend/src/utils/websocket/types.ts
  sdk/src/rhesis/sdk/connector/types.py
  tests/backend/schemas/test_websocket.py
  tests/backend/services/websocket/test_chat_handler.py
  tests/backend/services/websocket/test_publisher.py
Due: sdk, backend, frontend-format, frontend-lint, hardcoded-styles

fix: run sync functions in thread pool to prevent WebSocket ping timeout
  sdk/src/rhesis/sdk/connector/executor.py
Due: sdk

feat: standardize session_id as canonical name for conversation tracking
  apps/backend/src/rhesis/backend/app/services/invokers/conversation/__init__.py
  apps/backend/src/rhesis/backend/app/services/websocket/handlers/chat.py
  apps/frontend/src/hooks/usePlaygroundChat.ts
  apps/frontend/src/utils/websocket/types.ts
  tests/backend/routes/test_websocket.py
  tests/backend/services/websocket/test_authorization.py
  tests/backend/services/websocket/test_rate_limiter.py
Due: backend, frontend-format, frontend-lint, hardcoded-styles

fix: export chat payload types and fix PageContainer slotProps
  apps/frontend/src/app/(protected)/playground/components/PlaygroundClient.tsx
  apps/frontend/src/utils/websocket/index.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix: reset entire conversation when endpoint changes
  apps/frontend/src/hooks/usePlaygroundChat.ts
Due: frontend-format, frontend-lint, hardcoded-styles

feat(playground): add trace linking and fix soft delete filtering
  apps/backend/src/rhesis/backend/app/services/connector/handlers/test_result.py
  apps/backend/src/rhesis/backend/app/services/connector/mapping/endpoint_validator.py
  apps/backend/src/rhesis/backend/app/services/endpoint/sdk_sync.py
  apps/backend/src/rhesis/backend/app/services/invokers/sdk_invoker.py
  apps/backend/src/rhesis/backend/app/services/invokers/tracing.py
  apps/backend/src/rhesis/backend/app/services/websocket/handlers/chat.py
  apps/frontend/src/app/(protected)/playground/components/MessageBubble.tsx
  apps/frontend/src/hooks/usePlaygroundChat.ts
  sdk/src/rhesis/sdk/connector/executor.py
  sdk/src/rhesis/sdk/connector/manager.py
  sdk/src/rhesis/sdk/connector/schemas.py
  sdk/src/rhesis/sdk/telemetry/context.py
  sdk/src/rhesis/sdk/telemetry/tracer.py
Due: sdk, backend, frontend-format, frontend-lint, hardcoded-styles

fix(sdk): propagate trace_id from SDK to frontend for trace linking
  sdk/src/rhesis/sdk/connector/executor.py
  sdk/src/rhesis/sdk/telemetry/tracer.py
  tests/sdk/connector/test_executor.py
Due: sdk

feat: enhance WebSocket retry mechanism for robustness
  apps/frontend/src/contexts/WebSocketContext.tsx
  apps/frontend/src/hooks/useWebSocket.ts
  apps/frontend/src/utils/websocket/client.ts
  apps/frontend/src/utils/websocket/types.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(sdk): resolve connector test isolation issues
  sdk/src/rhesis/sdk/connector/executor.py
  tests/sdk/connector/test_async_sync_endpoints.py
  tests/sdk/connector/test_bind_params_realistic.py
  tests/sdk/connector/test_manager.py
Due: sdk

feat(frontend): add markdown rendering to playground chat bubbles
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/app/(protected)/playground/components/MessageBubble.tsx
  apps/frontend/src/components/common/MarkdownContent.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

chore(frontend): remove obsolete eslint-disable comment
  apps/frontend/src/app/(protected)/tests/components/TestSetSelectionDialog.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

feat(frontend): add playground button to endpoint detail page
  apps/frontend/src/app/(protected)/endpoints/components/EndpointDetail.tsx
  apps/frontend/src/app/(protected)/playground/components/PlaygroundClient.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

style(backend): format websocket handler and publisher files
  apps/backend/src/rhesis/backend/app/services/websocket/handlers/chat.py
  apps/backend/src/rhesis/backend/app/services/websocket/publisher.py
Due: backend

style(frontend): replace hardcoded borderRadius and fontSize with theme values
  apps/frontend/src/app/(protected)/playground/components/MessageBubble.tsx
  apps/frontend/src/app/(protected)/playground/components/PlaygroundChat.tsx
  apps/frontend/src/app/(protected)/playground/components/PlaygroundClient.tsx
  apps/frontend/src/components/common/MarkdownContent.tsx
  apps/frontend/src/styles/theme.ts
Due: frontend-format, frontend-lint, hardcoded-styles

feat(frontend): add copy button to playground message bubbles
  apps/frontend/src/app/(protected)/playground/components/MessageBubble.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

refactor(frontend): move copy button inline next to trace icon
  apps/frontend/src/app/(protected)/playground/components/MessageBubble.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(backend): update chat handler tests to use session_id
  tests/backend/services/websocket/test_chat_handler.py
Due: none

style(frontend): format MessageBubble imports
  apps/frontend/src/app/(protected)/playground/components/MessageBubble.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

Path conditions:
  sdk: any of: ^sdk/
  backend: any of: ^apps/backend/
  frontend-format: any of: ^apps/frontend/
  frontend-lint: any of: ^apps/frontend/
  docs-format: any of: ^apps/documentation/
  hardcoded-styles: any of: ^apps/(frontend|documentation)/
