Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, docs-format, hardcoded-styles

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict

  - repo: local
    hooks:
        - id: trufflehog
          name: TruffleHog
          description: Detect secrets in your data.
          entry: bash -c 'PATH="$HOME/.local/bin:$PATH" trufflehog git file://. --since-commit HEAD --only-verified --fail --no-update'
          language: system
          stages: ["pre-commit", "pre-push"]

        - id: sdk
          name  : format sdk
          language: system
          entry: make -C sdk format
          files: ^sdk/
          pass_filenames: false

        - id: backend
          name  : format backend
          language: system
          entry: make -C apps/backend format_diff
          files: ^apps/backend/
          pass_filenames: false

        - id: frontend-format
          name: auto-fix frontend formatting
          language: system
          entry: bash -c "cd apps/frontend && npm run format"
          files: ^apps/frontend/
          pass_filenames: false

        - id: frontend-lint
          name: lint frontend
          language: system
          entry: bash -c "cd apps/frontend && npm run lint"
          files: ^apps/frontend/
          pass_filenames: false

        - id: docs-format
          name: auto-fix docs formatting
          language: system
          entry: bash -c "cd apps/documentation && npm run format"
          files: ^apps/documentation/
          pass_filenames: false

        - id: hardcoded-styles
          name: check hardcoded styles in frontend and docs
          language: system
          entry: node scripts/check-hardcoded-styles.js
          files: ^apps/(frontend|documentation)/
          pass_filenames: false


  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.8.0
  #   hooks:
  #     - id: mypy
  #       additional_dependencies: [
  #         "types-requests",
  #         "pandas-stubs",
  #         "pyarrow-stubs",
  #         "types-tqdm"
  #       ]

fix: address PR #1364 review comments
  apps/backend/src/rhesis/backend/app/schemas/endpoint.py
  apps/backend/src/rhesis/backend/app/services/endpoint/auto_configure.py
  apps/backend/src/rhesis/backend/app/templates/auto_configure.jinja2
  apps/backend/src/rhesis/backend/app/templates/auto_configure_correct.jinja2
  apps/frontend/src/app/(protected)/behaviors/components/BehaviorsClient.tsx
  apps/frontend/src/app/(protected)/endpoints/components/EndpointForm.tsx
Due: backend, frontend-format, frontend-lint, hardcoded-styles

Add AI-powered auto-configure for endpoint mappings (#1364)
  .github/workflows/sdk-test.yml
  apps/backend/src/rhesis/backend/app/routers/endpoint.py
  apps/backend/src/rhesis/backend/app/schemas/endpoint.py
  apps/backend/src/rhesis/backend/app/services/endpoint/auto_configure.py
  apps/backend/src/rhesis/backend/app/templates/auto_configure.jinja2
  apps/backend/src/rhesis/backend/app/templates/auto_configure_correct.jinja2
  apps/chatbot/uv.lock
  apps/frontend/src/actions/endpoints/auto-configure.ts
  apps/frontend/src/app/(protected)/endpoints/components/AutoConfigureModal.tsx
  apps/frontend/src/app/(protected)/endpoints/components/EndpointDetail.tsx
  apps/frontend/src/app/(protected)/endpoints/components/EndpointForm.tsx
  apps/frontend/src/app/(protected)/endpoints/components/SwaggerEndpointForm.tsx
  apps/frontend/src/app/(protected)/endpoints/components/__tests__/AutoConfigureModal.test.tsx
  apps/frontend/src/app/(protected)/endpoints/components/__tests__/EndpointFormAutoConfigure.test.tsx
  apps/frontend/src/app/(protected)/test-results/components/__tests__/timelineUtils.test.ts
  apps/frontend/src/utils/api-client/endpoints-client.ts
  apps/frontend/src/utils/api-client/interfaces/endpoint.ts
  docs/content/platform/endpoints/_meta.tsx
  docs/content/platform/endpoints/auto-configure.mdx
  docs/content/platform/endpoints/index.mdx
  docs/content/platform/endpoints/mapping-examples.mdx
  docs/content/platform/endpoints/multi-turn-conversations.mdx
  docs/content/platform/endpoints/single-turn.mdx
  sdk/src/rhesis/sdk/entities/endpoint.py
  tests/backend/routes/test_auto_configure_route.py
  tests/backend/routes/test_base/user_detection.py
  tests/backend/services/test_auto_configure.py
  tests/sdk/entities/test_endpoint_auto_configure.py
Due: sdk, backend, frontend-format, frontend-lint, hardcoded-styles

fix(e2e): fix projects content test selectors
  apps/frontend/e2e/tests/projects.spec.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(e2e): use resilient selectors in projects content test
  apps/frontend/e2e/tests/projects.spec.ts
Due: frontend-format, frontend-lint, hardcoded-styles

Fix e2e projects content test selectors (#1365)
  apps/frontend/e2e/tests/projects.spec.ts
Due: frontend-format, frontend-lint, hardcoded-styles

feat: evaluate three-tier metrics during live multi-turn execution
  apps/backend/src/rhesis/backend/tasks/execution/evaluation.py
  apps/backend/src/rhesis/backend/tasks/execution/executors/runners.py
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestDetailMetricsTab.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestsTableView.tsx
Due: backend, frontend-format, frontend-lint, hardcoded-styles

fix(test): update multi-turn runner tests for additional metrics evaluation
  tests/backend/tasks/test_runners_with_provider.py
Due: none

Evaluate three-tier metrics during live multi-turn execution (#1366)
  apps/backend/src/rhesis/backend/tasks/execution/evaluation.py
  apps/backend/src/rhesis/backend/tasks/execution/executors/runners.py
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestDetailMetricsTab.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestsTableView.tsx
  tests/backend/tasks/test_runners_with_provider.py
Due: backend, frontend-format, frontend-lint, hardcoded-styles

feat(sdk): add agents framework with MCP migration
  sdk/src/rhesis/sdk/agents/__init__.py
  sdk/src/rhesis/sdk/agents/architect/__init__.py
  sdk/src/rhesis/sdk/agents/architect/agent.py
  sdk/src/rhesis/sdk/agents/architect/plan.py
  sdk/src/rhesis/sdk/agents/architect/prompt_templates/iteration_prompt.j2
  sdk/src/rhesis/sdk/agents/architect/prompt_templates/system_prompt.j2
  sdk/src/rhesis/sdk/agents/base.py
  sdk/src/rhesis/sdk/agents/events.py
  sdk/src/rhesis/sdk/agents/mcp/__init__.py
  sdk/src/rhesis/sdk/agents/mcp/agent.py
  sdk/src/rhesis/sdk/agents/mcp/client.py
  sdk/src/rhesis/sdk/agents/mcp/exceptions.py
  sdk/src/rhesis/sdk/agents/mcp/executor.py
  sdk/src/rhesis/sdk/agents/mcp/observable_agent.py
  sdk/src/rhesis/sdk/agents/mcp/prompt_templates/iteration_prompt.j2
  sdk/src/rhesis/sdk/agents/mcp/prompt_templates/system_prompt.j2
  sdk/src/rhesis/sdk/agents/mcp/provider_templates/confluence.json.j2
  sdk/src/rhesis/sdk/agents/mcp/provider_templates/github.json.j2
  sdk/src/rhesis/sdk/agents/mcp/provider_templates/jira.json.j2
  sdk/src/rhesis/sdk/agents/mcp/provider_templates/notion.json.j2
  sdk/src/rhesis/sdk/agents/mcp/schemas.py
  sdk/src/rhesis/sdk/agents/schemas.py
  sdk/src/rhesis/sdk/services/__init__.py
Due: sdk

feat(sdk): add ExploreEndpointTool for endpoint capability discovery
  sdk/src/rhesis/sdk/agents/__init__.py
  sdk/src/rhesis/sdk/agents/tools.py
Due: sdk

feat(backend): add MCP server endpoint for agent tool access
  apps/backend/pyproject.toml
  apps/backend/src/rhesis/backend/app/main.py
  apps/backend/src/rhesis/backend/app/mcp_server.py
  apps/backend/src/rhesis/backend/app/mcp_tools.yaml
  apps/backend/uv.lock
Due: backend

fix(backend,sdk): fix MCP server lifespan and client reconnect
  apps/backend/src/rhesis/backend/app/main.py
  apps/backend/src/rhesis/backend/app/mcp_server.py
  sdk/src/rhesis/sdk/agents/base.py
Due: sdk, backend

fix(backend): enrich MCP tool descriptions with required fields
  apps/backend/src/rhesis/backend/app/mcp_tools.yaml
Due: backend

fix(backend): require metric_scope in create_metric description
  apps/backend/src/rhesis/backend/app/mcp_tools.yaml
Due: backend

fix(backend): use create_test_set_bulk as primary tool for test sets
  apps/backend/src/rhesis/backend/app/mcp_tools.yaml
Due: backend

fix(backend): accept MCP tool body fields as top-level arguments
  apps/backend/src/rhesis/backend/app/mcp_server.py
Due: backend

added-vertex-ai-deployment-workflow
  .github/workflows/polyphemus-vertex-ai.yml
  apps/polyphemus/pyproject.toml
  apps/polyphemus/uv.lock
  apps/polyphemus/vertex_ai/__init__.py
  apps/polyphemus/vertex_ai/config.py
  apps/polyphemus/vertex_ai/deploy.py
  apps/polyphemus/vertex_ai/utils.py
Due: none

add requirements.txt
  apps/polyphemus/vertex_ai/requirements.txt
Due: none

update-env-config-file
  apps/polyphemus/vertex_ai/.env.example
  apps/polyphemus/vertex_ai/config.py
  apps/polyphemus/vertex_ai/requirements.txt
Due: none

refactor code to align with the existing implementation
  .github/workflows/model-deployment.yml
  apps/polyphemus/model-deployment/.env.example
  apps/polyphemus/model-deployment/README.md
  apps/polyphemus/model-deployment/__init__.py
  apps/polyphemus/model-deployment/config.py
  apps/polyphemus/model-deployment/deploy.py
  apps/polyphemus/model-deployment/utils.py
  apps/polyphemus/pyproject.toml
  apps/polyphemus/vertex_ai/__init__.py
  apps/polyphemus/vertex_ai/requirements.txt
Due: none

delete model loader from the polyphemus
  apps/polyphemus/src/rhesis/polyphemus/models/__init__.py
  apps/polyphemus/src/rhesis/polyphemus/models/model_loader.py
Due: none

optimized docker file
  apps/polyphemus/Dockerfile
Due: none

call vertex ai endpoint from the polyphemus service
  .github/workflows/polyphemus.yml
  apps/polyphemus/pyproject.toml
  apps/polyphemus/src/rhesis/polyphemus/routers/services.py
  apps/polyphemus/src/rhesis/polyphemus/schemas/schemas.py
  apps/polyphemus/src/rhesis/polyphemus/services/__init__.py
  apps/polyphemus/src/rhesis/polyphemus/services/services.py
Due: none

update workflow name
  .github/workflows/polyphemus-vertex-ai.yml
Due: none

update workflow
  apps/polyphemus/Dockerfile
  apps/polyphemus/pyproject.toml
  apps/polyphemus/src/rhesis/polyphemus/main.py
  apps/polyphemus/src/rhesis/polyphemus/services/__init__.py
  apps/polyphemus/src/rhesis/polyphemus/services/services.py
Due: none

update endpoint naming logic
  .github/workflows/polyphemus-vertex-ai.yml
  apps/polyphemus/model-deployment/config.py
  apps/polyphemus/model-deployment/deploy.py
Due: none

refactor(backend): split mcp_server.py into a package
  apps/backend/src/rhesis/backend/app/mcp_server.py
  apps/backend/src/rhesis/backend/app/mcp_server/__init__.py
  apps/backend/src/rhesis/backend/app/mcp_server/mcp_tools.yaml
  apps/backend/src/rhesis/backend/app/mcp_server/schema.py
  apps/backend/src/rhesis/backend/app/mcp_server/server.py
  apps/backend/src/rhesis/backend/app/mcp_server/tools.py
Due: backend

fix(backend,sdk): fix MCP server setup and client reconnect
  apps/backend/src/rhesis/backend/app/main.py
  sdk/pyproject.toml
  sdk/src/rhesis/sdk/agents/architect/agent.py
  sdk/src/rhesis/sdk/agents/base.py
  sdk/src/rhesis/sdk/agents/mcp/client.py
  sdk/uv.lock
Due: sdk, backend

added json schema to the request body
  apps/polyphemus/src/rhesis/polyphemus/routers/services.py
  apps/polyphemus/src/rhesis/polyphemus/schemas/schemas.py
  apps/polyphemus/src/rhesis/polyphemus/services/services.py
Due: none

refactor(sdk): consolidate agent hierarchy, fix ToolCall.arguments type
  sdk/src/rhesis/sdk/agents/architect/agent.py
  sdk/src/rhesis/sdk/agents/base.py
  sdk/src/rhesis/sdk/agents/mcp/observable_agent.py
  sdk/src/rhesis/sdk/agents/schemas.py
  tests/sdk/agents/test_architect.py
  tests/sdk/agents/test_base.py
  tests/sdk/services/mcp/test_agent.py
Due: sdk

docs(playground): refine MCP tool descriptions with exact parameter specs
  playground/telemachus/02-mcp-tool-descriptions.md
Due: none

fix(backend): add MCP auth and fix session manager lifecycle
  apps/backend/src/rhesis/backend/app/main.py
  apps/backend/src/rhesis/backend/app/mcp_server/server.py
Due: backend

fix(sdk): fix MCPAgent type annotation, deduplicate content extraction
  sdk/src/rhesis/sdk/agents/mcp/agent.py
  sdk/src/rhesis/sdk/agents/mcp/executor.py
  tests/sdk/agents/__init__.py
Due: sdk

fix(frontend): use Record<string, any> and remove unused interfaces
  apps/frontend/src/utils/api-client/interfaces/tests.ts
Due: frontend-format, frontend-lint, hardcoded-styles

chore(chatbot): add rhesis-penelope to dev dependencies
  apps/chatbot/uv.lock
Due: none

feat: add conversation-based tracing across SDK and backend
  apps/backend/src/rhesis/backend/alembic/versions/33e3f87f44aa_add_conversation_id_to_trace.py
  apps/backend/src/rhesis/backend/app/crud.py
  apps/backend/src/rhesis/backend/app/models/trace.py
  apps/backend/src/rhesis/backend/app/routers/telemetry.py
  apps/backend/src/rhesis/backend/app/schemas/telemetry.py
  apps/backend/src/rhesis/backend/app/services/endpoint/service.py
  apps/backend/src/rhesis/backend/app/services/invokers/sdk_invoker.py
  apps/backend/src/rhesis/backend/app/services/invokers/tracing.py
  sdk/src/rhesis/sdk/connector/executor.py
  sdk/src/rhesis/sdk/telemetry/constants.py
  sdk/src/rhesis/sdk/telemetry/context.py
  sdk/src/rhesis/sdk/telemetry/exporter.py
  sdk/src/rhesis/sdk/telemetry/schemas.py
  sdk/src/rhesis/sdk/telemetry/tracer.py
  tests/backend/routes/test_telemetry_conversation.py
  tests/sdk/telemetry/test_conversation_tracing.py
Due: sdk, backend

fix: deduplicate traces by trace_id in list endpoint
  apps/backend/src/rhesis/backend/app/crud.py
Due: backend

perf: eliminate count_traces DB round trip with window function
  apps/backend/src/rhesis/backend/app/crud.py
  apps/backend/src/rhesis/backend/app/routers/telemetry.py
  apps/backend/src/rhesis/backend/app/routers/test_run.py
Due: backend
