Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, docs-format, hardcoded-styles

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict

  - repo: local
    hooks:
        - id: trufflehog
          name: TruffleHog
          description: Detect secrets in your data.
          entry: bash -c 'trufflehog git file://. --since-commit HEAD --results=verified,unknown --fail'
          language: system
          stages: ["pre-commit", "pre-push"]

        - id: sdk
          name  : format sdk
          language: system
          entry: make -C sdk format
          files: ^sdk/
          pass_filenames: false

        - id: backend
          name  : format backend
          language: system
          entry: make -C apps/backend format_diff
          files: ^apps/backend/
          pass_filenames: false

        - id: frontend-format
          name: auto-fix frontend formatting
          language: system
          entry: bash -c "cd apps/frontend && npm run format"
          files: ^apps/frontend/
          pass_filenames: false

        - id: frontend-lint
          name: lint frontend
          language: system
          entry: bash -c "cd apps/frontend && npm run lint"
          files: ^apps/frontend/
          pass_filenames: false

        - id: docs-format
          name: auto-fix docs formatting
          language: system
          entry: bash -c "cd apps/documentation && npm run format"
          files: ^apps/documentation/
          pass_filenames: false

        - id: hardcoded-styles
          name: check hardcoded styles in frontend and docs
          language: system
          entry: node scripts/check-hardcoded-styles.js
          files: ^apps/(frontend|documentation)/
          pass_filenames: false


  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.8.0
  #   hooks:
  #     - id: mypy
  #       additional_dependencies: [
  #         "types-requests",
  #         "pandas-stubs",
  #         "pyarrow-stubs",
  #         "types-tqdm"
  #       ]

chore: minor changes
  sdk/src/rhesis/sdk/entities/test.py
Due: sdk

refactor: change naming
  tests/sdk/entities/test_base_entity.py
Due: none

feat: add and remove behavior metric
  apps/backend/src/rhesis/backend/app/routers/behavior.py
  sdk/src/rhesis/sdk/entities/behavior.py
Due: sdk, backend

refactor: rename
  sdk/src/rhesis/sdk/entities/base_entity.py
  sdk/src/rhesis/sdk/entities/behavior.py
Due: sdk

feat: execute test from the endpoint
  apps/backend/src/rhesis/backend/app/routers/test.py
  sdk/src/rhesis/sdk/entities/test.py
Due: sdk, backend

feat: add test run and test results endpoint
  sdk/src/rhesis/sdk/client.py
  sdk/src/rhesis/sdk/entities/__init__.py
  sdk/src/rhesis/sdk/entities/test_result.py
  sdk/src/rhesis/sdk/entities/test_run.py
Due: sdk

feat: test set and test schema
  sdk/src/rhesis/sdk/entities/test.py
  sdk/src/rhesis/sdk/entities/test_set.py
Due: sdk

refactor: change push pull behavior
  sdk/src/rhesis/sdk/entities/base_collection.py
  sdk/src/rhesis/sdk/entities/behavior.py
  sdk/src/rhesis/sdk/entities/category.py
  sdk/src/rhesis/sdk/entities/endpoint.py
  sdk/src/rhesis/sdk/entities/prompt.py
  sdk/src/rhesis/sdk/entities/status.py
  sdk/src/rhesis/sdk/entities/test.py
  sdk/src/rhesis/sdk/entities/test_set.py
  sdk/src/rhesis/sdk/entities/topic.py
Due: sdk

chore: tests
  tests/sdk/integration/conftest.py
  tests/sdk/integration/test_entities.py
Due: none

fix: add endpoint entity
  sdk/src/rhesis/sdk/entities/__init__.py
Due: sdk

chore: test set fixes
  sdk/src/rhesis/sdk/entities/endpoint.py
Due: sdk

fix: remove paths
  sdk/src/rhesis/sdk/entities/__init__.py
  sdk/src/rhesis/sdk/entities/test_result.py
  sdk/src/rhesis/sdk/entities/test_set.py
Due: sdk

tests: add tests for missing entities
  sdk/src/rhesis/sdk/client.py
  sdk/src/rhesis/sdk/entities/endpoint.py
  sdk/src/rhesis/sdk/entities/status.py
  sdk/src/rhesis/sdk/entities/test_configuration.py
  tests/sdk/integration/test_entities.py
Due: sdk

refactor: introduce pydantic schema
  sdk/src/rhesis/sdk/entities/__init__.py
  sdk/src/rhesis/sdk/entities/base_collection.py
  sdk/src/rhesis/sdk/entities/base_entity.py
  sdk/src/rhesis/sdk/entities/behavior.py
  sdk/src/rhesis/sdk/entities/category.py
  sdk/src/rhesis/sdk/entities/prompt.py
  sdk/src/rhesis/sdk/entities/status.py
  sdk/src/rhesis/sdk/entities/topic.py
  sdk/src/rhesis/sdk/utils.py
Due: sdk

refactor: test set
  sdk/src/rhesis/sdk/entities/test_set.py
Due: sdk

chore: test set gixes
  sdk/src/rhesis/sdk/entities/test_set.py
  sdk/src/rhesis/sdk/synthesizers/utils.py
Due: sdk

feat: inplace and return instance for entities
  sdk/src/rhesis/sdk/entities/base_entity.py
Due: sdk

chore: add entities
  sdk/src/rhesis/sdk/client.py
  sdk/src/rhesis/sdk/entities/base_entity.py
  sdk/src/rhesis/sdk/entities/endpoint.py
  sdk/src/rhesis/sdk/entities/test_set.py
  tests/sdk/entities/test_base_entity.py
Due: sdk

tests: test entities
  tests/sdk/integration/test_entities.py
Due: none

tests: fixing failing tests
  sdk/pyproject.toml
  tests/sdk/entities/test_base_collection.py
  tests/sdk/entities/test_base_entity.py
  tests/sdk/entities/test_behavior.py
  tests/sdk/entities/test_topic.py
Due: sdk

fix: test generation after new entities
  apps/backend/src/rhesis/backend/app/services/generation.py
Due: backend

test
  sdk/src/rhesis/sdk/entities/__init__.py
Due: sdk

feat: add test set behavior
  sdk/src/rhesis/sdk/entities/test_set.py
Due: sdk

fix: classmethod in the base collection
  sdk/src/rhesis/sdk/entities/base_collection.py
Due: sdk

Task/Refactor Base Entity (#427)
  apps/backend/src/rhesis/backend/app/routers/behavior.py
  apps/backend/src/rhesis/backend/app/routers/test.py
  apps/backend/src/rhesis/backend/app/services/generation.py
  sdk/Makefile
  sdk/pyproject.toml
  sdk/src/rhesis/sdk/client.py
  sdk/src/rhesis/sdk/entities/__init__.py
  sdk/src/rhesis/sdk/entities/base_collection.py
  sdk/src/rhesis/sdk/entities/base_entity.py
  sdk/src/rhesis/sdk/entities/behavior.py
  sdk/src/rhesis/sdk/entities/category.py
  sdk/src/rhesis/sdk/entities/endpoint.py
  sdk/src/rhesis/sdk/entities/prompt.py
  sdk/src/rhesis/sdk/entities/status.py
  sdk/src/rhesis/sdk/entities/test.py
  sdk/src/rhesis/sdk/entities/test_configuration.py
  sdk/src/rhesis/sdk/entities/test_result.py
  sdk/src/rhesis/sdk/entities/test_run.py
  sdk/src/rhesis/sdk/entities/test_set.py
  sdk/src/rhesis/sdk/entities/topic.py
  sdk/src/rhesis/sdk/synthesizers/utils.py
  sdk/src/rhesis/sdk/utils.py
  tests/sdk/entities/base_entity_test.py
  tests/sdk/entities/test_base_collection.py
  tests/sdk/entities/test_base_entity.py
  tests/sdk/entities/test_behavior.py
  tests/sdk/entities/test_test_set_type.py
  tests/sdk/entities/test_topic.py
  tests/sdk/integration/test_entities.py
  tests/sdk/test_client.py
Due: sdk, backend

docs(mcp): clarify tojson filter requirement for credential placeholders
  apps/backend/src/rhesis/backend/app/routers/tools.py
  sdk/src/rhesis/sdk/services/mcp/client.py
Due: sdk, backend

fix(tests): updated mock test with the correct path
  tests/backend/tasks/test_validation.py
Due: none

fix(models): remove duplicate relationships from Tool model
  apps/backend/src/rhesis/backend/app/models/tool.py
Due: backend

Mcp Tool Database (#825)
  apps/backend/src/rhesis/backend/alembic/versions/dc03001dbf24_add_tool_table.py
  apps/backend/src/rhesis/backend/app/crud.py
  apps/backend/src/rhesis/backend/app/models/__init__.py
  apps/backend/src/rhesis/backend/app/models/organization.py
  apps/backend/src/rhesis/backend/app/models/status.py
  apps/backend/src/rhesis/backend/app/models/tool.py
  apps/backend/src/rhesis/backend/app/models/type_lookup.py
  apps/backend/src/rhesis/backend/app/models/user.py
  apps/backend/src/rhesis/backend/app/routers/__init__.py
  apps/backend/src/rhesis/backend/app/routers/services.py
  apps/backend/src/rhesis/backend/app/routers/tools.py
  apps/backend/src/rhesis/backend/app/schemas/__init__.py
  apps/backend/src/rhesis/backend/app/schemas/services.py
  apps/backend/src/rhesis/backend/app/schemas/tool.py
  apps/backend/src/rhesis/backend/app/services/initial_data.json
  apps/backend/src/rhesis/backend/app/services/mcp_service.py
  sdk/src/rhesis/sdk/services/mcp/client.py
  sdk/src/rhesis/sdk/services/mcp/provider_templates/atlassian.json.j2
  sdk/src/rhesis/sdk/services/mcp/provider_templates/github.json.j2
  sdk/src/rhesis/sdk/services/mcp/provider_templates/notion.json.j2
  tests/backend/tasks/test_validation.py
Due: sdk, backend

feat: implemented provider for OpenRouter using LiteLLM
  sdk/src/rhesis/sdk/models/providers/openrouter.py
Due: sdk

fix(frontend): prevent card shadow clipping in selection modal
  apps/frontend/src/app/(protected)/tests/new-generated/components/shared/SelectionModal.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

Updating next-env
  apps/frontend/next-env.d.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): improve grid column styling and visibility
  apps/frontend/src/app/(protected)/test-sets/components/TestSetsGrid.tsx
  apps/frontend/src/app/(protected)/tests/components/TestsGrid.tsx
  apps/frontend/src/components/common/BaseDataGrid.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

feat(test-input): add scaffold chips for prompt building
  apps/frontend/src/app/(protected)/tests/new-generated/components/TestInputScreen.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

style(frontend): apply prettier formatting
  apps/frontend/src/app/(protected)/tests/new-generated/components/TestGenerationInterface.tsx
  apps/frontend/src/app/(protected)/tests/new-generated/components/shared/ConversationHistoryModal.tsx
  apps/frontend/src/app/(protected)/tests/new-generated/components/shared/TestSampleCard.tsx
  apps/frontend/src/components/common/ConversationHistory.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

Add @mui/x-charts dependency for dashboard components
  apps/frontend/next-env.d.ts
  apps/frontend/package-lock.json
  apps/frontend/package.json
Due: frontend-format, frontend-lint, hardcoded-styles

refactor(backend): reduce test config chips from 10 to 6
  apps/backend/src/rhesis/backend/app/services/test_config_generator.py
Due: backend

fix(connector): resolve race conditions and memory leaks
  apps/backend/src/rhesis/backend/app/main.py
  apps/backend/src/rhesis/backend/app/services/connector/manager.py
  apps/backend/src/rhesis/backend/app/services/connector/mapping/mapping_validator.py
Due: backend
