Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict

  - repo: local
    hooks:
        - id: sdk
          name  : format sdk
          language: system
          entry: make -C sdk format
          files: ^sdk/
          pass_filenames: false

        - id: backend
          name  : format backend
          language: system
          entry: make -C apps/backend format
          files: ^apps/backend/
          pass_filenames: false


  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.8.0
  #   hooks:
  #     - id: mypy
  #       additional_dependencies: [
  #         "types-requests",
  #         "pandas-stubs",
  #         "pyarrow-stubs",
  #         "types-tqdm"
  #       ]

ci(deploy): improve deployment summaries with environment-specific URLs and terminology
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
  .github/workflows/preview-deployment.yml
Due: none

fix: passing categories
  sdk/src/rhesis/sdk/metrics/utils.py
Due: sdk

fix: raise for status error
  sdk/src/rhesis/sdk/metrics/providers/native/prompt_metric_numeric.py
Due: sdk

feat: pull for prompt metric categorical
  sdk/src/rhesis/sdk/metrics/providers/native/prompt_metric_categorical.py
Due: sdk

refactor(deploy): improve URL handling with SERVICE_URL variable and environment secrets
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
Due: none

refactor: Replace CommentTaskMixin with CountMixin across multiple models
  apps/backend/src/rhesis/backend/app/models/behavior.py
  apps/backend/src/rhesis/backend/app/models/category.py
  apps/backend/src/rhesis/backend/app/models/metric.py
  apps/backend/src/rhesis/backend/app/models/mixins.py
  apps/backend/src/rhesis/backend/app/models/model.py
  apps/backend/src/rhesis/backend/app/models/prompt.py
  apps/backend/src/rhesis/backend/app/models/test.py
  apps/backend/src/rhesis/backend/app/models/test_result.py
  apps/backend/src/rhesis/backend/app/models/test_run.py
  apps/backend/src/rhesis/backend/app/models/test_set.py
Due: backend

fix: backend to config
  sdk/src/rhesis/sdk/metrics/utils.py
Due: sdk

feat: complete security test suite refactoring and organization_id parameter standardization
  apps/backend/src/rhesis/backend/app/crud.py
  apps/backend/src/rhesis/backend/app/services/test_set.py
  tests/backend/security/test_organization_filtering.py
  tests/backend/security/test_service_security.py
  tests/backend/security/test_token_management.py
Due: backend

fix: resolve pytest warnings and improve test reliability
  tests/backend/db/__init__.py
  tests/backend/db/test_config.py
  tests/backend/db/utils.py
  tests/backend/routes/fixtures/data_factories.py
  tests/pytest.ini
Due: none

feat(ci): implement composite actions and refactor backend workflow
  .github/actions/generate-deployment-summary/action.yml
  .github/actions/setup-service-env/action.yml
  .github/actions/validate-environment/action.yml
  .github/workflows/backend.yml
Due: none

feat(ci): refactor frontend workflow with composite actions
  .github/workflows/frontend.yml
Due: none

refactor: reorganize CRUD tests to mirror application structure
  tests/backend/crud/__init__.py
  tests/backend/crud/conftest.py
  tests/backend/crud/test_behavior_metric_security.py
  tests/backend/crud/test_metric_crud.py
  tests/backend/crud/test_tag_crud.py
  tests/backend/crud/test_test_crud.py
  tests/backend/crud/test_token_crud.py
  tests/backend/test_crud.py
Due: none

fix(infrastructure): update terraform backend to use correct project
  infrastructure/environments/dev/main.tf
Due: none

feat(infrastructure): add sources bucket for document storage
  infrastructure/modules/environment/main.tf
  infrastructure/modules/environment/outputs.tf
  infrastructure/modules/storage/main.tf
  infrastructure/modules/storage/variables.tf
Due: none

feat: add common delete modal and unify all delete dialogs
  apps/frontend/src/app/(protected)/endpoints/components/EndpointsGrid.tsx
  apps/frontend/src/app/(protected)/integrations/llm-providers/page.tsx
  apps/frontend/src/app/(protected)/metrics/components/MetricsDirectoryTab.tsx
  apps/frontend/src/app/(protected)/organizations/team/components/TeamMembersGrid.tsx
  apps/frontend/src/app/(protected)/projects/[identifier]/client-wrapper.tsx
  apps/frontend/src/app/(protected)/tasks/components/TasksGrid.tsx
  apps/frontend/src/app/(protected)/test-sets/components/TestSetsGrid.tsx
  apps/frontend/src/app/(protected)/tests/components/TestsGrid.tsx
  apps/frontend/src/app/(protected)/tokens/components/TokensPageClient.tsx
  apps/frontend/src/components/comments/CommentItem.tsx
  apps/frontend/src/components/comments/DeleteCommentModal.tsx
  apps/frontend/src/components/common/DeleteModal.tsx
Due: none

fix(frontend): resolve typescript compilation and build errors
  apps/frontend/src/app/(protected)/metrics/components/MetricsDirectoryTab.tsx
  apps/frontend/src/app/(protected)/test-sets/components/TestSetsGrid.tsx
Due: none

fix(ui): resolve double elevation and improve theme compliance
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/TestSetDetailsSection.tsx
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/TestSetTestsGrid.tsx
  scripts/check-hardcoded-styles.js
Due: none

fix(tasks): remove emoji from console.log to comply with linting rules
  apps/frontend/src/app/(protected)/tasks/components/TasksGrid.tsx
Due: none

feat(dashboard): integrate test results API for execution trend chart
  apps/frontend/src/app/(protected)/dashboard/components/DashboardCharts.tsx
Due: none

fix(dashboard): replace hardcoded colors with theme palette values
  apps/frontend/src/app/(protected)/dashboard/components/DashboardCharts.tsx
Due: none

fix(dashboard): correct chronological sorting of timeline months
  apps/frontend/src/app/(protected)/dashboard/components/DashboardCharts.tsx
Due: none

feat(dashboard): fix total tests chart to show cumulative data correctly
  apps/frontend/src/app/(protected)/dashboard/components/DashboardCharts.tsx
Due: none

refactor: Enhance mixin structure for comment and task relationships
  apps/backend/src/rhesis/backend/app/models/behavior.py
  apps/backend/src/rhesis/backend/app/models/category.py
  apps/backend/src/rhesis/backend/app/models/metric.py
  apps/backend/src/rhesis/backend/app/models/mixins.py
  apps/backend/src/rhesis/backend/app/models/model.py
  apps/backend/src/rhesis/backend/app/models/prompt.py
  apps/backend/src/rhesis/backend/app/models/test.py
  apps/backend/src/rhesis/backend/app/models/test_result.py
  apps/backend/src/rhesis/backend/app/models/test_run.py
  apps/backend/src/rhesis/backend/app/models/test_set.py
Due: backend

fix(dashboard): improve dashboard charts with real data and cumulative totals (#408)
  apps/frontend/src/app/(protected)/dashboard/components/DashboardCharts.tsx
Due: none
