Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, docs-format, hardcoded-styles

sdk:
  name: format sdk
  language: system
  entry: make -C sdk format
  pass_filenames: false

backend:
  name: format backend
  language: system
  entry: make -C apps/backend format_diff
  pass_filenames: false

frontend-format:
  name: auto-fix frontend formatting
  language: system
  entry: bash -c "cd apps/frontend && npm run format"
  pass_filenames: false

frontend-lint:
  name: lint frontend
  language: system
  entry: bash -c "cd apps/frontend && npm run lint"
  pass_filenames: false

docs-format:
  name: auto-fix docs formatting
  language: system
  entry: bash -c "cd apps/documentation && npm run format"
  pass_filenames: false

hardcoded-styles:
  name: check hardcoded styles in frontend and docs
  language: system
  entry: node scripts/check-hardcoded-styles.js
  pass_filenames: false

feat(frontend): revamp metrics page UI to match behaviors
  apps/frontend/src/app/(protected)/metrics/components/MetricCard.tsx
  apps/frontend/src/app/(protected)/metrics/components/MetricFilterDrawer.tsx
  apps/frontend/src/app/(protected)/metrics/components/MetricsClient.tsx
  apps/frontend/src/app/(protected)/metrics/components/MetricsDirectoryTab.tsx
  apps/frontend/src/app/(protected)/metrics/page.tsx
  apps/frontend/src/components/common/EntityCard.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

feat(models): align /models layout with metrics and behaviors
  apps/frontend/src/app/(protected)/metrics/components/MetricsDirectoryTab.tsx
  apps/frontend/src/app/(protected)/models/components/ModelCard.tsx
  apps/frontend/src/app/(protected)/models/components/index.ts
  apps/frontend/src/app/(protected)/models/page.tsx
  apps/frontend/src/components/common/EntityCard.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

feat(models): align /models layout with metrics and behaviors
  .pre-commit-config.yaml
Due: none

feat(mcp): align /mcp layout with models, metrics, and behaviors
  apps/frontend/src/app/(protected)/mcp/components/ToolCard.tsx
  apps/frontend/src/app/(protected)/mcp/components/index.ts
  apps/frontend/src/app/(protected)/mcp/page.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

feat(mcp): remove edit button and add filter drawer with provider filter
  apps/frontend/src/app/(protected)/mcp/components/MCPFilterDrawer.tsx
  apps/frontend/src/app/(protected)/mcp/components/ToolCard.tsx
  apps/frontend/src/app/(protected)/mcp/components/index.ts
  apps/frontend/src/app/(protected)/mcp/page.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

feat(frontend): redesign test detail page with tabbed layout
  apps/backend/src/rhesis/backend/app/crud.py
  apps/backend/src/rhesis/backend/app/routers/test.py
  apps/frontend/public/fonts/sometype-mono/sometype-mono-regular.ttf
  apps/frontend/src/app/(protected)/tests/[identifier]/components/TestDetailTabs.tsx
  apps/frontend/src/app/(protected)/tests/[identifier]/components/TestFormElementsCard.tsx
  apps/frontend/src/app/(protected)/tests/[identifier]/components/TestMetadataCard.tsx
  apps/frontend/src/app/(protected)/tests/[identifier]/components/TestTechnicalCard.tsx
  apps/frontend/src/app/(protected)/tests/[identifier]/components/TestToTestSet.tsx
  apps/frontend/src/app/(protected)/tests/[identifier]/page.tsx
  apps/frontend/src/components/comments/CommentItem.tsx
  apps/frontend/src/components/comments/CommentsSection.tsx
  apps/frontend/src/components/common/EditableSection.tsx
  apps/frontend/src/components/common/FileAttachmentList.tsx
  apps/frontend/src/components/common/MultiFileUpload.tsx
  apps/frontend/src/components/common/ViewField.tsx
  apps/frontend/src/components/layout/PageLayout.tsx
  apps/frontend/src/components/tasks/TasksAndCommentsWrapper.tsx
  apps/frontend/src/components/tasks/TasksSection.tsx
  apps/frontend/src/components/tests/LinkedTestSetsSection.tsx
  apps/frontend/src/styles/fonts.css
  apps/frontend/src/styles/theme-constants.ts
  apps/frontend/src/styles/theme.ts
  apps/frontend/src/utils/api-client/tests-client.ts
  tests/backend/routes/test_test_test_sets.py
Due: backend, frontend-format, frontend-lint, hardcoded-styles

feat(tokens): align api tokens page with shared list-page layout
  apps/frontend/src/app/(protected)/tokens/components/TokenFilterDrawer.tsx
  apps/frontend/src/app/(protected)/tokens/components/TokensGrid.tsx
  apps/frontend/src/app/(protected)/tokens/components/TokensPageClient.tsx
  apps/frontend/src/app/(protected)/tokens/components/__tests__/TokensGrid.test.tsx
  apps/frontend/src/app/(protected)/tokens/page.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

feat(frontend): align multi-turn test config form with Figma design
  apps/frontend/src/app/(protected)/tests/[identifier]/components/MultiTurnConfigFields.tsx
  apps/frontend/src/app/(protected)/tests/[identifier]/components/TestDetailData.tsx
  apps/frontend/src/app/(protected)/tests/[identifier]/components/TestTechnicalCard.tsx
  apps/frontend/src/app/(protected)/tests/[identifier]/components/__tests__/TestDetailData.test.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

chore(frontend): remove internal figma audit doc from PR
  apps/frontend/README.md
  apps/frontend/docs/ui-revamp/figma-audit.md
Due: frontend-format, frontend-lint, hardcoded-styles

feat(docs): improve SEO across docs site
  docs/content/docs/concepts.mdx
  docs/content/docs/endpoints/index.mdx
  docs/content/docs/getting-started/connecting-application.mdx
  docs/content/docs/getting-started/index.mdx
  docs/content/docs/index.mdx
  docs/content/docs/test-execution/index.mdx
  docs/content/docs/tracing/index.mdx
  docs/content/guides/index.mdx
  docs/content/sdk/client.mdx
  docs/content/sdk/installation.mdx
  docs/src/app/sitemap.js
  docs/src/lib/metadata.js
Due: none

style(docs): fix prettier formatting in metadata.js
  docs/src/lib/metadata.js
Due: none

style(docs): format sitemap.js with prettier
  docs/src/app/sitemap.js
Due: none

feat(docs): improve SEO across docs site (#1561)
  docs/content/docs/concepts.mdx
  docs/content/docs/endpoints/index.mdx
  docs/content/docs/getting-started/connecting-application.mdx
  docs/content/docs/getting-started/index.mdx
  docs/content/docs/index.mdx
  docs/content/docs/test-execution/index.mdx
  docs/content/docs/tracing/index.mdx
  docs/content/guides/index.mdx
  docs/content/sdk/client.mdx
  docs/content/sdk/installation.mdx
  docs/src/app/sitemap.js
  docs/src/lib/metadata.js
Due: none

feat(parameters): standardize project & experiment UI patterns
  apps/backend/src/rhesis/backend/alembic/versions/f2a3b4c5d6e7_add_test_run_experiment_fk.py
  apps/backend/src/rhesis/backend/app/crud.py
  apps/backend/src/rhesis/backend/app/models/experiment.py
  apps/backend/src/rhesis/backend/app/models/test_run.py
  apps/backend/src/rhesis/backend/app/routers/parameters.py
  apps/backend/src/rhesis/backend/app/routers/test_run.py
  apps/backend/src/rhesis/backend/app/schemas/__init__.py
  apps/backend/src/rhesis/backend/app/schemas/parameters.py
  apps/backend/src/rhesis/backend/app/schemas/test_run.py
  apps/backend/src/rhesis/backend/app/services/experiment.py
  apps/backend/src/rhesis/backend/tasks/execution/run.py
  apps/frontend/src/app/(protected)/experiments/[identifier]/components/ExperimentDetailClient.tsx
  apps/frontend/src/app/(protected)/experiments/[identifier]/components/LatestResultsPanel.tsx
  apps/frontend/src/app/(protected)/experiments/[identifier]/components/PromoteEnvironmentDialog.tsx
  apps/frontend/src/app/(protected)/experiments/[identifier]/components/VersionHistory.tsx
  apps/frontend/src/app/(protected)/experiments/components/CreateExperimentDialog.tsx
  apps/frontend/src/app/(protected)/projects/[identifier]/client-wrapper.tsx
  apps/frontend/src/app/(protected)/projects/[identifier]/components/ProjectEnvironments.tsx
  apps/frontend/src/app/(protected)/projects/[identifier]/components/ProjectParameters.tsx
  apps/frontend/src/app/(protected)/projects/[identifier]/components/ProjectTraceMetrics.tsx
  apps/frontend/src/app/(protected)/projects/[identifier]/components/parameter-schema-shared.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/ComparisonView.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestRunHeader.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestRunMainView.tsx
  apps/frontend/src/app/(protected)/test-runs/components/TestRunsGrid.tsx
  apps/frontend/src/app/(protected)/traces/components/TraceDrawer.tsx
  apps/frontend/src/components/common/BaseDataGrid.tsx
  apps/frontend/src/components/icons.ts
  apps/frontend/src/utils/api-client/interfaces/parameters.ts
  apps/frontend/src/utils/api-client/interfaces/test-run.ts
  apps/frontend/src/utils/api-client/parameters-client.ts
  apps/frontend/src/utils/api-client/test-runs-client.ts
  docs/content/docs/experiments/index.mdx
  sdk/src/rhesis/sdk/models/parameters.py
  sdk/src/rhesis/sdk/parameters/__init__.py
  sdk/src/rhesis/sdk/parameters/_facade.py
  tests/backend/routes/test_experiments.py
  tests/backend/services/test_experiment_service.py
Due: sdk, backend, frontend-format, frontend-lint, hardcoded-styles

feat(frontend): link experiment chip in test run comparison view
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/ComparisonView.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

feat(frontend): support multi-version experiment selection for test runs
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/RerunTestRunDrawer.tsx
  apps/frontend/src/app/(protected)/test-runs/components/TestRunDrawer.tsx
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/ExecuteTestSetDrawer.tsx
  apps/frontend/src/app/(protected)/test-sets/components/CreateTestRun.tsx
  apps/frontend/src/components/common/SelectExperimentsDialog.tsx
  apps/frontend/src/utils/test-run-batch.ts
Due: frontend-format, frontend-lint, hardcoded-styles

feat(parameters): add Parameters tab to experiment detail and enhance experiment management
  apps/backend/src/rhesis/backend/app/routers/experiments.py
  apps/backend/src/rhesis/backend/app/schemas/parameters.py
  apps/backend/src/rhesis/backend/app/services/experiment.py
  apps/backend/src/rhesis/backend/tasks/execution/result_processor.py
  apps/backend/src/rhesis/backend/tasks/execution/run.py
  apps/frontend/src/app/(protected)/experiments/[identifier]/components/ExperimentDetailClient.tsx
  apps/frontend/src/app/(protected)/experiments/[identifier]/components/LatestResultsPanel.tsx
  apps/frontend/src/app/(protected)/experiments/[identifier]/components/TypedValueEditor.tsx
  apps/frontend/src/app/(protected)/experiments/[identifier]/components/VersionHistory.tsx
  apps/frontend/src/app/(protected)/experiments/components/CreateExperimentDialog.tsx
  apps/frontend/src/app/(protected)/projects/[identifier]/client-wrapper.tsx
  apps/frontend/src/app/(protected)/projects/[identifier]/components/ProjectParameters.tsx
  apps/frontend/src/app/(protected)/projects/[identifier]/components/parameter-schema-shared.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestRunHeader.tsx
  apps/frontend/src/utils/api-client/interfaces/parameters.ts
  apps/frontend/src/utils/api-client/parameters-client.ts
Due: backend, frontend-format, frontend-lint, hardcoded-styles

feat(frontend): rename Overview tab to Experiment
  apps/frontend/src/app/(protected)/experiments/[identifier]/components/ExperimentDetailClient.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(backend): harden experiment service and router
  apps/backend/src/rhesis/backend/app/routers/experiments.py
  apps/backend/src/rhesis/backend/app/services/experiment.py
Due: backend

feat(frontend): revamp test-set detail page with tabbed layout
  apps/frontend/src/app/(protected)/projects/components/ProjectsClientWrapper.tsx
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/CodeBlock.tsx
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/TestSelectionDialog.tsx
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/TestSetDetailCharts.tsx
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/TestSetDetailTabs.tsx
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/TestSetDetailsCard.tsx
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/TestSetDetailsSection.tsx
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/TestSetHeaderActions.tsx
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/TestSetLinkedTestsSection.tsx
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/TestSetTagsMetricsCard.tsx
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/TestSetWorkflowSection.tsx
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/__tests__/TestSetDetailsSection.test.tsx
  apps/frontend/src/app/(protected)/test-sets/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/test-sets/components/TestSetDrawer.tsx
  apps/frontend/src/app/(protected)/test-sets/components/TestSetFilterDrawer.tsx
  apps/frontend/src/app/(protected)/test-sets/components/TestSetsCharts.tsx
  apps/frontend/src/app/(protected)/test-sets/components/TestSetsGrid.tsx
  apps/frontend/src/app/(protected)/test-sets/components/__tests__/TestSetsGrid.test.tsx
  apps/frontend/src/app/(protected)/test-sets/page.tsx
  apps/frontend/src/app/(protected)/tests/[identifier]/components/TestToTestSet.tsx
  apps/frontend/src/components/common/DeleteModal.tsx
  apps/frontend/src/components/common/EntityEmptyState.tsx
  apps/frontend/src/components/common/FilterDrawer.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

feat(parameters): improve SDK schema workflow
  apps/backend/src/rhesis/backend/app/routers/experiments.py
  apps/frontend/src/app/(protected)/experiments/[identifier]/components/ExperimentDetailClient.tsx
  apps/frontend/src/utils/api-client/parameters-client.ts
  docs/content/docs/_meta.tsx
  docs/content/docs/concepts.mdx
  docs/content/docs/endpoints/default-chatbot.mdx
  docs/content/docs/endpoints/sdk-endpoints.mdx
  docs/content/docs/experiments/_meta.tsx
  docs/content/docs/experiments/connector-injection.mdx
  docs/content/docs/experiments/index.mdx
  docs/content/docs/experiments/parameter-schema.mdx
  docs/content/docs/experiments/sdk-usage.mdx
  docs/content/docs/parameters/index.mdx
  docs/content/docs/projects/index.mdx
  docs/content/sdk/entities/experiments.mdx
  docs/content/sdk/parameters.mdx
  docs/src/public/screenshots/rhesis-ai-project-parameters.png
  sdk/src/rhesis/sdk/entities/experiment.py
  sdk/src/rhesis/sdk/entities/project.py
  sdk/src/rhesis/sdk/models/parameters.py
  sdk/src/rhesis/sdk/parameters/__init__.py
  sdk/src/rhesis/sdk/parameters/_facade.py
  tests/backend/routes/test_experiments.py
  tests/sdk/integration/test_parameters.py
Due: sdk, backend, frontend-format, frontend-lint, hardcoded-styles

fix(parameters): resolve lint failures
  apps/frontend/src/components/common/SelectExperimentsDialog.tsx
  sdk/src/rhesis/sdk/decorators/_state.py
Due: sdk, frontend-format, frontend-lint, hardcoded-styles

fix(sdk): route experiment creation to project-scoped endpoint
  sdk/src/rhesis/sdk/entities/experiment.py
Due: sdk

feat(frontend): revamp test-runs overview page
  apps/frontend/src/app/(protected)/test-runs/components/TestRunFilterDrawer.tsx
  apps/frontend/src/app/(protected)/test-runs/components/TestRunsGrid.tsx
  apps/frontend/src/app/(protected)/test-runs/components/__tests__/TestRunsGrid.test.tsx
  apps/frontend/src/app/(protected)/test-runs/page.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

refactor(frontend): extract BadgeChip as shared grid component
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/TestSetTestsGrid.tsx
  apps/frontend/src/app/(protected)/test-sets/components/TestSetsGrid.tsx
  apps/frontend/src/app/(protected)/tests/components/TestsGrid.tsx
  apps/frontend/src/components/common/BadgeChip.tsx
  apps/frontend/src/components/tests/LinkedTestSetsSection.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

feat(backend): wire chatbot parameters
  apps/backend/src/rhesis/backend/alembic/versions/f3a4b5c6d7e8_add_parameters_to_chatbot_request_mapping.py
  apps/backend/src/rhesis/backend/app/services/initial_data.json
  apps/backend/src/rhesis/backend/app/services/organization.py
  apps/chatbot/chatbot.py
  apps/chatbot/client.py
  apps/chatbot/endpoint.py
  apps/chatbot/example.py
  apps/chatbot/parameters_bootstrap.py
  docs/content/docs/endpoints/default-chatbot.mdx
Due: backend

fix(ci): resolve type and format checks
  apps/frontend/src/app/(protected)/endpoints/components/SwaggerEndpointForm.tsx
  apps/frontend/src/components/common/BaseDataGrid.tsx
  sdk/src/rhesis/sdk/connector/manager.py
  sdk/src/rhesis/sdk/connector/schemas.py
  sdk/src/rhesis/sdk/decorators/_state.py
  sdk/src/rhesis/sdk/entities/experiment.py
  sdk/src/rhesis/sdk/entities/test_run.py
  sdk/src/rhesis/sdk/models/parameters.py
  sdk/src/rhesis/sdk/parameters/_cache.py
  sdk/src/rhesis/sdk/parameters/_facade.py
Due: sdk, frontend-format, frontend-lint, hardcoded-styles

fix(backend): set X-Total-Count after visibility filtering
  apps/backend/src/rhesis/backend/app/routers/experiments.py
Due: backend

fix(backend): format parameter management files
  apps/backend/src/rhesis/backend/alembic/versions/e1a2b3c4d5e6_add_parameter_management.py
  apps/backend/src/rhesis/backend/alembic/versions/f2a3b4c5d6e7_add_test_run_experiment_fk.py
  apps/backend/src/rhesis/backend/app/crud.py
  apps/backend/src/rhesis/backend/app/models/pydantic_column.py
  apps/backend/src/rhesis/backend/app/routers/parameters.py
  apps/backend/src/rhesis/backend/app/schemas/parameters.py
  apps/backend/src/rhesis/backend/app/services/connector/schemas.py
  apps/backend/src/rhesis/backend/app/services/experiment.py
  apps/backend/src/rhesis/backend/app/services/invokers/rest_invoker.py
  apps/backend/src/rhesis/backend/app/services/invokers/sdk_invoker.py
  apps/backend/src/rhesis/backend/app/services/invokers/templating/renderer.py
  apps/backend/src/rhesis/backend/tasks/execution/executors/output_providers.py
Due: backend

fix(frontend): format parameter management files
  apps/frontend/src/app/(protected)/endpoints/components/EndpointDetail.tsx
  apps/frontend/src/app/(protected)/experiments/[identifier]/components/ExperimentDetailClient.tsx
  apps/frontend/src/app/(protected)/experiments/[identifier]/components/LatestResultsPanel.tsx
  apps/frontend/src/app/(protected)/experiments/[identifier]/components/PromoteEnvironmentDialog.tsx
  apps/frontend/src/app/(protected)/experiments/[identifier]/components/TypedValueEditor.tsx
  apps/frontend/src/app/(protected)/experiments/[identifier]/components/VersionHistory.tsx
  apps/frontend/src/app/(protected)/experiments/components/CreateExperimentDialog.tsx
  apps/frontend/src/app/(protected)/experiments/components/ExperimentsClientWrapper.tsx
  apps/frontend/src/app/(protected)/projects/[identifier]/components/ProjectEnvironments.tsx
  apps/frontend/src/app/(protected)/projects/[identifier]/components/ProjectParameters.tsx
  apps/frontend/src/app/(protected)/projects/[identifier]/components/parameter-schema-shared.tsx
  apps/frontend/src/app/(protected)/projects/components/ProjectEditDrawer.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/RerunTestRunDrawer.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestRunHeader.tsx
  apps/frontend/src/app/(protected)/test-runs/components/TestRunDrawer.tsx
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/ExecuteTestSetDrawer.tsx
  apps/frontend/src/app/(protected)/test-sets/components/CreateTestRun.tsx
  apps/frontend/src/app/(protected)/traces/components/TraceDrawer.tsx
  apps/frontend/src/components/common/SelectExperimentsDialog.tsx
  apps/frontend/src/utils/api-client/interfaces/parameters.ts
  apps/frontend/src/utils/api-client/test-runs-client.ts
  apps/frontend/src/utils/odata-filter.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): remove duplicate environment imports
  apps/frontend/src/app/(protected)/projects/[identifier]/components/ProjectEnvironments.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(variable): honor BACKEND_ENV in audit bootstrap dev check
  ee/backend/src/rhesis/backend/ee/__init__.py
Due: none

1727 differing results using polyphemus between sdk and platform (#1773)
  apps/polyphemus/src/rhesis/polyphemus/services/services.py
  examples/polyphemus.ipynb
  sdk/src/rhesis/sdk/synthesizers/assets/base.jinja
  sdk/src/rhesis/sdk/synthesizers/base.py
  sdk/src/rhesis/sdk/synthesizers/config_synthesizer.py
  sdk/src/rhesis/sdk/synthesizers/context_synthesizer.py
  sdk/src/rhesis/sdk/synthesizers/multi_turn/base.py
  sdk/src/rhesis/sdk/synthesizers/multi_turn/templates/base.jinja
  sdk/src/rhesis/sdk/synthesizers/prompt_synthesizer.py
  sdk/src/rhesis/sdk/synthesizers/synthesizer.py
Due: sdk

fix(variable): honor BACKEND_ENV in audit bootstrap dev check (#1784)
  ee/backend/src/rhesis/backend/ee/__init__.py
Due: none

feat: create crud function to fetch embeddings belonging to a certain entity type
  apps/backend/src/rhesis/backend/app/crud.py
Due: backend

style: add missing spaces
  apps/backend/src/rhesis/backend/app/schemas/embedding.py
Due: backend

feat(graphs): add schemas for 2D embedding graphs
  apps/backend/src/rhesis/backend/app/schemas/embedding.py
Due: backend

feat: query active embeddings at crud level
  apps/backend/src/rhesis/backend/app/crud.py
Due: backend

fix(imports): import EmbeddingStatus from enums
  apps/backend/src/rhesis/backend/app/crud.py
Due: backend

format: fix formatting with ruff
  apps/backend/src/rhesis/backend/app/services/embedding/graph_builder.py
Due: backend

Path conditions:
  sdk: any of: ^sdk/
  backend: any of: ^apps/backend/
  frontend-format: any of: ^apps/frontend/
  frontend-lint: any of: ^apps/frontend/
  docs-format: any of: ^apps/documentation/
  hardcoded-styles: any of: ^apps/(frontend|documentation)/
