Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, docs-format, hardcoded-styles

sdk:
  name: format sdk
  language: system
  entry: make -C sdk format
  pass_filenames: false

backend:
  name: format backend
  language: system
  entry: make -C apps/backend format_diff
  pass_filenames: false

frontend-format:
  name: auto-fix frontend formatting
  language: system
  entry: bash -c "cd apps/frontend && npm run format"
  pass_filenames: false

frontend-lint:
  name: lint frontend
  language: system
  entry: bash -c "cd apps/frontend && npm run lint"
  pass_filenames: false

docs-format:
  name: auto-fix docs formatting
  language: system
  entry: bash -c "cd apps/documentation && npm run format"
  pass_filenames: false

hardcoded-styles:
  name: check hardcoded styles in frontend and docs
  language: system
  entry: node scripts/check-hardcoded-styles.js
  pass_filenames: false

Remove mock LLM configuration files and update start script
  apps/developer-tools/mock_chatbot/README.md
  apps/developer-tools/mock_chatbot/main.py
  apps/developer-tools/mock_chatbot/start.sh
  apps/developer-tools/mock_llm/start.sh
  apps/developer-tools/pyproject.toml
  apps/developer-tools/uv.lock
Due: none

Update README for mock chatbot usage example
  apps/developer-tools/mock_chatbot/README.md
Due: none

Add local dev tools: mock LLM, mock chatbot, and resource seeding (#2000)
  apps/developer-tools/mock_chatbot/README.md
  apps/developer-tools/mock_chatbot/main.py
  apps/developer-tools/mock_chatbot/start.sh
  apps/developer-tools/mock_llm/README.md
  apps/developer-tools/mock_llm/main.py
  apps/developer-tools/mock_llm/start.sh
  apps/developer-tools/pyproject.toml
  apps/developer-tools/seed_dev_resources.sh
  apps/developer-tools/uv.lock
  rh
Due: none

refactor(datetime): replace utcnow() with now(timezone.utc)
  apps/backend/src/rhesis/backend/app/crud.py
  apps/backend/src/rhesis/backend/app/routers/test_result.py
  apps/backend/src/rhesis/backend/app/services/cascade.py
  apps/backend/src/rhesis/backend/app/services/connector/handlers/metric_sync.py
  apps/backend/src/rhesis/backend/app/services/connector/handlers/test_result.py
  apps/backend/src/rhesis/backend/app/services/endpoint/mapper.py
  apps/backend/src/rhesis/backend/app/services/endpoint/sdk_sync.py
  apps/backend/src/rhesis/backend/app/services/endpoint/validation.py
  apps/backend/src/rhesis/backend/app/services/exchange_rate.py
  apps/backend/src/rhesis/backend/app/services/garak/cache.py
  apps/backend/src/rhesis/backend/app/services/garak/importer.py
  apps/backend/src/rhesis/backend/app/services/garak/sync.py
  apps/backend/src/rhesis/backend/app/services/invokers/auth/manager.py
  apps/backend/src/rhesis/backend/app/services/review_override.py
  apps/backend/src/rhesis/backend/app/services/stats/calculator.py
  apps/backend/src/rhesis/backend/app/services/stats/common.py
  apps/backend/src/rhesis/backend/app/services/stats/test.py
  apps/backend/src/rhesis/backend/app/services/stats/test_result.py
  apps/backend/src/rhesis/backend/app/services/test_execution.py
  apps/backend/src/rhesis/backend/app/services/tool/rest/jira.py
  apps/backend/src/rhesis/backend/notifications/email/template_service.py
  apps/backend/src/rhesis/backend/notifications/email/templates.py
  apps/backend/src/rhesis/backend/tasks/base.py
  apps/backend/src/rhesis/backend/tasks/example_task.py
  apps/backend/src/rhesis/backend/tasks/execution/results.py
  apps/backend/src/rhesis/backend/tasks/execution/run.py
  apps/backend/src/rhesis/backend/tasks/execution/sequential.py
  apps/backend/src/rhesis/backend/tasks/execution/shared.py
  apps/backend/src/rhesis/backend/tasks/utils.py
  tests/backend/services/invokers/conftest.py
  tests/backend/services/invokers/test_auth_manager.py
  tests/backend/services/telemetry/test_tree_builder.py
  tests/backend/services/test_exchange_rate.py
  tests/backend/services/test_test_execution.py
  tests/backend/tasks/test_transaction_management.py
Due: backend

format: import formatting
  apps/backend/src/rhesis/backend/app/services/cascade.py
  apps/backend/src/rhesis/backend/tasks/base.py
Due: backend

fix(sdk): clamp multi-turn turn bounds in synthesizer schema
  apps/developer-tools/mock_llm/main.py
  sdk/src/rhesis/sdk/synthesizers/multi_turn/base.py
Due: sdk

fix(sdk): clamp multi-turn turn bounds in synthesizer schema (#2002)
  apps/developer-tools/mock_llm/main.py
  sdk/src/rhesis/sdk/synthesizers/multi_turn/base.py
Due: sdk

feat(frontend): add cloud-only enriched entity empty states
  .env.example
  apps/frontend/src/app/(protected)/behaviors/components/BehaviorsClient.tsx
  apps/frontend/src/app/(protected)/endpoints/page.tsx
  apps/frontend/src/app/(protected)/experiments/components/ExperimentsClientWrapper.tsx
  apps/frontend/src/app/(protected)/metrics/components/MetricsDirectoryTab.tsx
  apps/frontend/src/app/(protected)/projects/components/ProjectsClientWrapper.tsx
  apps/frontend/src/app/(protected)/test-runs/page.tsx
  apps/frontend/src/app/(protected)/test-sets/page.tsx
  apps/frontend/src/app/(protected)/tests/page.tsx
  apps/frontend/src/app/api/og-metadata/route.ts
  apps/frontend/src/components/common/EntityEmptyState.tsx
  apps/frontend/src/components/common/EntityEmptyStateEnrichmentParts.tsx
  apps/frontend/src/components/common/__tests__/EntityEmptyState.test.tsx
  apps/frontend/src/constants/__tests__/entity-empty-state-env.test.ts
  apps/frontend/src/constants/entity-empty-state-env.ts
  apps/frontend/src/constants/entity-empty-state-types.ts
  apps/frontend/src/utils/__tests__/onboarding-video.test.ts
  apps/frontend/src/utils/onboarding-video.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): use theme border radius in empty state enrichment
  apps/frontend/src/components/common/EntityEmptyStateEnrichmentParts.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): use static env access for empty state enrichment
  apps/frontend/src/constants/entity-empty-state-env.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): block SSRF redirects in og-metadata API
  apps/frontend/src/app/api/og-metadata/__tests__/og-metadata-utils.test.ts
  apps/frontend/src/app/api/og-metadata/og-metadata-utils.ts
  apps/frontend/src/app/api/og-metadata/route.ts
Due: frontend-format, frontend-lint, hardcoded-styles

Add cloud-only enriched entity empty states (#2003)
  .env.example
  apps/frontend/src/app/(protected)/behaviors/components/BehaviorsClient.tsx
  apps/frontend/src/app/(protected)/endpoints/page.tsx
  apps/frontend/src/app/(protected)/experiments/components/ExperimentsClientWrapper.tsx
  apps/frontend/src/app/(protected)/metrics/components/MetricsDirectoryTab.tsx
  apps/frontend/src/app/(protected)/projects/components/ProjectsClientWrapper.tsx
  apps/frontend/src/app/(protected)/test-runs/page.tsx
  apps/frontend/src/app/(protected)/test-sets/page.tsx
  apps/frontend/src/app/(protected)/tests/page.tsx
  apps/frontend/src/app/api/og-metadata/__tests__/og-metadata-utils.test.ts
  apps/frontend/src/app/api/og-metadata/og-metadata-utils.ts
  apps/frontend/src/app/api/og-metadata/route.ts
  apps/frontend/src/components/common/EntityEmptyState.tsx
  apps/frontend/src/components/common/EntityEmptyStateEnrichmentParts.tsx
  apps/frontend/src/components/common/__tests__/EntityEmptyState.test.tsx
  apps/frontend/src/constants/__tests__/entity-empty-state-env.test.ts
  apps/frontend/src/constants/entity-empty-state-env.ts
  apps/frontend/src/constants/entity-empty-state-types.ts
  apps/frontend/src/utils/__tests__/onboarding-video.test.ts
  apps/frontend/src/utils/onboarding-video.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(test): mock test missing kwarg
  tests/backend/tasks/test_transaction_management.py
Due: none

feat(backend): add azure devops mcp tool integration
  apps/backend/src/rhesis/backend/alembic/versions/ad0c2e7f9b14_add_azure_devops_tool_provider_type.py
  apps/backend/src/rhesis/backend/app/routers/tools.py
  apps/backend/src/rhesis/backend/app/services/initial_data.json
  apps/backend/src/rhesis/backend/app/services/tool/actions.py
  apps/backend/src/rhesis/backend/app/services/tool/mcp/config.py
  apps/backend/src/rhesis/backend/app/services/tool/mcp/operations.py
  apps/backend/src/rhesis/backend/app/templates/mcp_default_query_prompt.jinja2
  apps/backend/src/rhesis/backend/app/templates/mcp_extract_prompt.jinja2
  apps/backend/src/rhesis/backend/app/templates/mcp_test_auth_prompt.jinja2
  apps/frontend/src/app/(protected)/tools/components/ToolConnectionDrawer.tsx
  apps/frontend/src/config/tool-providers.tsx
  apps/frontend/src/utils/api-client/interfaces/tool.ts
  sdk/src/rhesis/sdk/agents/mcp/provider_templates/azure_devops.json.j2
  tests/backend/routes/test_tools_azure_devops.py
  tests/backend/routes/test_tools_test_connection.py
  tests/backend/services/test_tool_actions.py
  tests/sdk/agents/mcp/test_azure_devops_provider_template.py
Due: sdk, backend, frontend-format, frontend-lint, hardcoded-styles

feat(backend): add linear mcp tool integration
  apps/backend/src/rhesis/backend/alembic/versions/c9d0e1f2a3b4_add_linear_tool_provider_type.py
  apps/backend/src/rhesis/backend/app/routers/tools.py
  apps/backend/src/rhesis/backend/app/services/initial_data.json
  apps/backend/src/rhesis/backend/app/services/tool/actions.py
  apps/backend/src/rhesis/backend/app/services/tool/mcp/config.py
  apps/backend/src/rhesis/backend/app/services/tool/mcp/operations.py
  apps/backend/src/rhesis/backend/app/templates/mcp_default_query_prompt.jinja2
  apps/backend/src/rhesis/backend/app/templates/mcp_extract_prompt.jinja2
  apps/backend/src/rhesis/backend/app/templates/mcp_test_auth_prompt.jinja2
  apps/frontend/src/app/(protected)/tools/components/ToolConnectionDrawer.tsx
  apps/frontend/src/config/tool-providers.tsx
  apps/frontend/src/utils/api-client/interfaces/tool.ts
  sdk/src/rhesis/sdk/agents/mcp/provider_templates/linear.json.j2
  tests/backend/routes/test_tools_linear.py
  tests/backend/routes/test_tools_test_connection.py
  tests/backend/services/test_tool_actions.py
  tests/sdk/agents/mcp/test_linear_provider_template.py
Due: sdk, backend, frontend-format, frontend-lint, hardcoded-styles

feat(alembic): convert TIMESTAMP to TIMESTAMPZ at UTC time
  apps/backend/src/rhesis/backend/alembic/versions/a033c0a601a3_convert_to_timestamptz.py
Due: backend

format(alembic): parenthesis
  apps/backend/src/rhesis/backend/alembic/versions/a033c0a601a3_convert_to_timestamptz.py
Due: backend

fix(frontend): merge saved azure devops creds on pat retest
  apps/backend/src/rhesis/backend/app/routers/tools.py
  apps/backend/src/rhesis/backend/app/schemas/services.py
  apps/backend/src/rhesis/backend/app/services/tool/credential_merge.py
  apps/frontend/src/app/(protected)/tools/components/ToolConnectionDrawer.tsx
  tests/backend/routes/test_tools_azure_devops.py
  tests/backend/routes/test_tools_test_connection_schema.py
Due: backend, frontend-format, frontend-lint, hardcoded-styles

feat(mcp): add create_endpoint tool for agent registration
  apps/backend/src/rhesis/backend/app/mcp_server/mcp_tools.yaml
  skills/rhesis/SKILL.md
  skills/rhesis/references/tool-catalog.md
Due: backend

fix(sqlalchemy): update to DateTime(timezone=True) to match DB
  apps/backend/src/rhesis/backend/app/models/base.py
  apps/backend/src/rhesis/backend/app/models/endpoint.py
  apps/backend/src/rhesis/backend/app/models/organization.py
  apps/backend/src/rhesis/backend/app/models/task.py
  apps/backend/src/rhesis/backend/app/models/token.py
  apps/backend/src/rhesis/backend/app/models/trace.py
  apps/backend/src/rhesis/backend/app/models/user.py
Due: backend

feat(mcp): add create_endpoint tool for agent registration (#2006)
  apps/backend/src/rhesis/backend/app/mcp_server/mcp_tools.yaml
  skills/rhesis/SKILL.md
  skills/rhesis/references/tool-catalog.md
Due: backend

feat(alembic): add logging and filter by public schema
  apps/backend/src/rhesis/backend/alembic/versions/a033c0a601a3_convert_to_timestamptz.py
Due: backend

fix(backend): address peqy lint cleanup on azure devops pr
  apps/backend/src/rhesis/backend/app/routers/tools.py
  apps/backend/src/rhesis/backend/app/schemas/services.py
Due: backend

fix: address peqy review on linear mcp integration
  apps/backend/src/rhesis/backend/alembic/versions/c9d0e1f2a3b4_add_linear_tool_provider_type.py
  apps/frontend/src/app/(protected)/tools/components/ToolConnectionDrawer.tsx
Due: backend, frontend-format, frontend-lint, hardcoded-styles

fix(mcp): sanitize $-prefixed tool param names
  apps/backend/src/rhesis/backend/app/mcp_server/local_tools.py
  apps/backend/src/rhesis/backend/app/mcp_server/mcp_tools.yaml
  apps/backend/src/rhesis/backend/app/mcp_server/schema.py
  apps/backend/src/rhesis/backend/app/mcp_server/server.py
  tests/backend/services/test_mcp_tools_yaml.py
Due: backend

fix(mcp): sanitize $-prefixed tool param names (#2007)
  apps/backend/src/rhesis/backend/app/mcp_server/local_tools.py
  apps/backend/src/rhesis/backend/app/mcp_server/mcp_tools.yaml
  apps/backend/src/rhesis/backend/app/mcp_server/schema.py
  apps/backend/src/rhesis/backend/app/mcp_server/server.py
  tests/backend/services/test_mcp_tools_yaml.py
Due: backend

feat(sdk): add autogen integration and penelope target
  penelope/pyproject.toml
  penelope/src/rhesis/penelope/targets/__init__.py
  penelope/src/rhesis/penelope/targets/autogen.py
  sdk/src/rhesis/sdk/telemetry/integrations/autogen.py
  sdk/src/rhesis/sdk/telemetry/integrations/tracing_helpers.py
  tests/penelope/targets/test_autogen.py
  tests/sdk/telemetry/integrations/test_autogen_integration.py
Due: sdk

feat(sdk): add haystack integration and penelope target
  penelope/pyproject.toml
  penelope/src/rhesis/penelope/targets/__init__.py
  penelope/src/rhesis/penelope/targets/haystack.py
  sdk/pyproject.toml
  sdk/src/rhesis/sdk/telemetry/integrations/__init__.py
  sdk/src/rhesis/sdk/telemetry/integrations/haystack.py
  sdk/src/rhesis/sdk/telemetry/integrations/tracing_helpers.py
  tests/penelope/targets/test_haystack.py
  tests/sdk/telemetry/integrations/test_haystack_integration.py
Due: sdk

feat(sdk): add google adk integration and penelope target
  penelope/pyproject.toml
  penelope/src/rhesis/penelope/targets/__init__.py
  penelope/src/rhesis/penelope/targets/google_adk.py
  sdk/pyproject.toml
  sdk/src/rhesis/sdk/telemetry/integrations/__init__.py
  sdk/src/rhesis/sdk/telemetry/integrations/google_adk.py
  sdk/src/rhesis/sdk/telemetry/integrations/tracing_helpers.py
  tests/penelope/targets/test_google_adk.py
  tests/sdk/telemetry/integrations/test_google_adk_integration.py
Due: sdk

fix: address peqy review on autogen integration pr
  penelope/pyproject.toml
  penelope/src/rhesis/penelope/targets/autogen.py
  sdk/src/rhesis/sdk/telemetry/integrations/tracing_helpers.py
  tests/penelope/targets/test_autogen.py
  tests/sdk/telemetry/integrations/test_autogen_integration.py
Due: sdk

fix(frontend): unify date formatting to browser locale and timezone
  apps/frontend/src/app/(protected)/endpoints/[identifier]/components/EndpointSdkConnectionPanel.tsx
  apps/frontend/src/app/(protected)/experiments/[identifier]/components/ExperimentOverviewTab.tsx
  apps/frontend/src/app/(protected)/experiments/[identifier]/components/ExperimentRunsTab.tsx
  apps/frontend/src/app/(protected)/experiments/[identifier]/components/ExperimentVersionsGrid.tsx
  apps/frontend/src/app/(protected)/experiments/[identifier]/components/VersionHistory.tsx
  apps/frontend/src/app/(protected)/insights/components/TestResultsSummary.tsx
  apps/frontend/src/app/(protected)/organizations/settings/components/SubscriptionInfo.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/ComparisonView.tsx
  apps/frontend/src/app/(protected)/tests/[identifier]/components/TestDetailCharts.tsx
  apps/frontend/src/app/(protected)/traces/components/TraceReviewsTab.tsx
  apps/frontend/src/app/(protected)/traces/components/TracesTable.tsx
  apps/frontend/src/components/comments/CommentItem.tsx
  apps/frontend/src/constants/knowledge.ts
  apps/frontend/src/utils/date.ts
  apps/frontend/src/utils/trace-utils.ts
Due: frontend-format, frontend-lint, hardcoded-styles

refactor(frontend): replace date-fns hardcoded format with formatDate utility
  apps/frontend/src/app/(protected)/architect/components/ArchitectSidebar.tsx
  apps/frontend/src/app/(protected)/experiments/[identifier]/components/ExperimentDetailClient.tsx
  apps/frontend/src/app/(protected)/explorer/components/ExplorerGrid.tsx
  apps/frontend/src/app/(protected)/projects/[identifier]/client-components.tsx
  apps/frontend/src/app/(protected)/tokens/components/TokenDisplay.tsx
  apps/frontend/src/components/common/RunDrawer.tsx
  apps/frontend/src/utils/__tests__/date-utils.test.ts
  apps/frontend/src/utils/date-utils.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix: address peqy review on haystack integration pr
  sdk/src/rhesis/sdk/telemetry/integrations/haystack.py
  sdk/src/rhesis/sdk/telemetry/integrations/tracing_helpers.py
  tests/sdk/telemetry/integrations/test_haystack_integration.py
Due: sdk

feat(mcp): add update_endpoint tool and project scope
  apps/backend/src/rhesis/backend/app/mcp_server/mcp_tools.yaml
  apps/backend/src/rhesis/backend/app/mcp_server/server.py
  sdk/src/rhesis/sdk/agents/architect/prompt_templates/system_prompt.j2
Due: sdk, backend

feat(mcp): add update_endpoint tool and project scope (#2011)
  apps/backend/src/rhesis/backend/app/mcp_server/mcp_tools.yaml
  apps/backend/src/rhesis/backend/app/mcp_server/server.py
  sdk/src/rhesis/sdk/agents/architect/prompt_templates/system_prompt.j2
Due: sdk, backend

fix: address peqy review on google adk integration pr
  penelope/src/rhesis/penelope/targets/google_adk.py
  sdk/src/rhesis/sdk/telemetry/integrations/google_adk.py
  tests/penelope/targets/test_google_adk.py
Due: sdk

test(rbac): end-to-end HTTP PEP enforcement over TestClient
  tests/backend/security/test_authz_http_enforcement.py
Due: none

fix(views): convert datetime cols to timezone-aware
  apps/backend/src/rhesis/backend/alembic/versions/a033c0a601a3_convert_to_timestamptz.py
  apps/backend/src/rhesis/backend/app/models/stats_views.py
Due: backend

fix(frontend): replace hardcoded styles with theme tokens and move formatDate out of knowledge
  apps/frontend/src/app/(protected)/knowledge/[identifier]/components/SourcePreviewClientWrapper.tsx
  apps/frontend/src/app/(protected)/knowledge/components/SourcesGrid.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/ComparisonView.tsx
  apps/frontend/src/components/comments/CommentItem.tsx
  apps/frontend/src/constants/__tests__/knowledge.test.ts
  apps/frontend/src/constants/knowledge.ts
Due: frontend-format, frontend-lint, hardcoded-styles

Path conditions:
  sdk: any of: ^sdk/
  backend: any of: ^apps/backend/
  frontend-format: any of: ^apps/frontend/
  frontend-lint: any of: ^apps/frontend/
  docs-format: any of: ^apps/documentation/
  hardcoded-styles: any of: ^apps/(frontend|documentation)/
