Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, frontend-hardcoded-styles

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict

  - repo: local
    hooks:
        - id: sdk
          name  : format sdk
          language: system
          entry: make -C sdk format
          files: ^sdk/
          pass_filenames: false

        - id: backend
          name  : format backend
          language: system
          entry: make -C apps/backend format_diff
          files: ^apps/backend/
          pass_filenames: false

        - id: frontend-format
          name: auto-fix frontend formatting
          language: system
          entry: cd apps/frontend && npm run format
          files: ^apps/frontend/
          pass_filenames: false

        - id: frontend-lint
          name: lint frontend
          language: system
          entry: cd apps/frontend && npm run lint
          files: ^apps/frontend/
          pass_filenames: false

        - id: frontend-hardcoded-styles
          name: check hardcoded styles in frontend
          language: system
          entry: node scripts/check-hardcoded-styles.js
          files: ^apps/frontend/
          pass_filenames: false


  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.8.0
  #   hooks:
  #     - id: mypy
  #       additional_dependencies: [
  #         "types-requests",
  #         "pandas-stubs",
  #         "pyarrow-stubs",
  #         "types-tqdm"
  #       ]

fix(frontend): change upload button style during upload
  apps/frontend/src/app/(protected)/knowledge/components/UploadSourceDialog.tsx
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

refactor(frontend): consolidate knowledge section CSS
  apps/frontend/src/app/(protected)/knowledge/[id]/components/SourcePreviewClientWrapper.tsx
  apps/frontend/src/app/(protected)/knowledge/components/KnowledgeClientWrapper.tsx
  apps/frontend/src/app/(protected)/knowledge/components/SourcesGrid.tsx
  apps/frontend/src/app/(protected)/knowledge/page.tsx
  apps/frontend/src/styles/Knowledge.module.css
  apps/frontend/src/styles/KnowledgeClientWrapper.module.css
  apps/frontend/src/styles/KnowledgePage.module.css
  apps/frontend/src/styles/SourcePreview.module.css
  apps/frontend/src/styles/SourcesGrid.module.css
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

fix(api): resolve custom title not overriding filename in source upload
  apps/backend/src/rhesis/backend/app/routers/source.py
Due: backend

fix(frontend): correct upload endpoint URL and use theme colors
  apps/frontend/src/components/common/DragAndDropUpload.tsx
  apps/frontend/src/utils/api-client/sources-client.ts
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

refactor(frontend): remove file extension normalization in knowledge components
  apps/frontend/src/app/(protected)/knowledge/[id]/components/SourcePreviewClientWrapper.tsx
  apps/frontend/src/app/(protected)/knowledge/components/SourcesGrid.tsx
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

fix(frontend): remove automatic content extraction
  apps/frontend/src/app/(protected)/knowledge/[id]/components/SourcePreviewClientWrapper.tsx
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

fix: update supported file types for source extraction
  apps/backend/src/rhesis/backend/app/services/handlers/document.py
  apps/frontend/src/components/common/DragAndDropUpload.tsx
  apps/frontend/src/constants/knowledge.ts
  sdk/src/rhesis/sdk/services/extractor.py
Due: sdk, backend, frontend-format, frontend-lint, frontend-hardcoded-styles

refactor(frontend): simplify knowledge constants and follow platform patterns
  apps/frontend/src/app/(protected)/knowledge/[id]/components/SourcePreviewClientWrapper.tsx
  apps/frontend/src/app/(protected)/knowledge/components/SourcesGrid.tsx
  apps/frontend/src/app/(protected)/knowledge/components/UploadSourceDialog.tsx
  apps/frontend/src/constants/knowledge.ts
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

feat(frontend): add warning notification when content extraction fails during upload
  apps/frontend/src/app/(protected)/knowledge/components/UploadSourceDialog.tsx
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

fix(api): rename upload endpoint from /sources/upload/ to /source/upload
  apps/backend/src/rhesis/backend/app/routers/source.py
  apps/frontend/src/utils/api-client/sources-client.ts
Due: backend, frontend-format, frontend-lint, frontend-hardcoded-styles

feat(frontend): add support for additional file formats (.pptx, .xlsx, .html, .htm, .zip)
  apps/frontend/src/app/(protected)/knowledge/components/UploadSourceDialog.tsx
  apps/frontend/src/components/common/DragAndDropUpload.tsx
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

fix(sdk): use UTF-8 encoding for markitdown text extraction
  sdk/src/rhesis/sdk/services/extractor.py
Due: sdk

feat(frontend): implement full editing functionality for knowledge sources
  apps/frontend/src/app/(protected)/knowledge/[id]/components/SourcePreviewClientWrapper.tsx
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

fix(frontend): change 'Name' to 'Title' in source detail
  apps/frontend/src/app/(protected)/knowledge/[id]/components/SourcePreviewClientWrapper.tsx
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

fix(frontend): remove misleading loading state in source preview
  apps/frontend/src/app/(protected)/knowledge/[id]/components/SourcePreviewClientWrapper.tsx
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

refactor(frontend): improve knowledge section code quality
  apps/frontend/src/app/(protected)/knowledge/[id]/components/SourcePreviewClientWrapper.tsx
  apps/frontend/src/app/(protected)/knowledge/[id]/page.tsx
  apps/frontend/src/app/(protected)/knowledge/components/KnowledgeClientWrapper.tsx
  apps/frontend/src/app/(protected)/knowledge/components/SourcesGrid.tsx
  apps/frontend/src/constants/knowledge.ts
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

feat(frontend): add drag-and-drop file upload component
  apps/frontend/src/app/(protected)/knowledge/components/UploadSourceDialog.tsx
  apps/frontend/src/components/common/DragAndDropUpload.tsx
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

style: format metric and model routers with ruff
  apps/backend/src/rhesis/backend/app/routers/metric.py
  apps/backend/src/rhesis/backend/app/routers/model.py
Due: backend

chore: backend formating
  apps/backend/src/rhesis/backend/app/routers/auth.py
Due: backend

Refactor delete_comment to use idiomatic SQLAlchemy with JSONB cast
  apps/backend/src/rhesis/backend/app/crud.py
Due: backend

style: apply ruff formatting to crud.py
  apps/backend/src/rhesis/backend/app/crud.py
Due: backend

fix: handle tasks referencing statuses during rollback_initial_data
  apps/backend/src/rhesis/backend/app/services/organization.py
Due: backend

style: apply ruff formatting to organization.py
  apps/backend/src/rhesis/backend/app/services/organization.py
Due: backend
