Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, docs-format, hardcoded-styles

sdk:
  name: format sdk
  language: system
  entry: make -C sdk format
  pass_filenames: false

backend:
  name: format backend
  language: system
  entry: make -C apps/backend format_diff
  pass_filenames: false

frontend-format:
  name: auto-fix frontend formatting
  language: system
  entry: bash -c "cd apps/frontend && npm run format"
  pass_filenames: false

frontend-lint:
  name: lint frontend
  language: system
  entry: bash -c "cd apps/frontend && npm run lint"
  pass_filenames: false

docs-format:
  name: auto-fix docs formatting
  language: system
  entry: bash -c "cd apps/documentation && npm run format"
  pass_filenames: false

hardcoded-styles:
  name: check hardcoded styles in frontend and docs
  language: system
  entry: node scripts/check-hardcoded-styles.js
  pass_filenames: false

fix(stats): address PR review comments
  apps/backend/src/rhesis/backend/alembic/versions/cb4b107b5daf_add_stats_views.py
  apps/backend/src/rhesis/backend/app/models/soft_delete_events.py
  apps/backend/src/rhesis/backend/app/services/stats/test_result.py
  apps/backend/src/rhesis/backend/app/services/stats/test_run.py
  apps/backend/src/rhesis/backend/app/utils/encryption.py
  apps/frontend/src/utils/api-client/interfaces/test-run-stats.ts
Due: backend, frontend-format, frontend-lint, hardcoded-styles

fix(frontend): resolve typescript error in OnboardingContext
  apps/frontend/src/contexts/OnboardingContext.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(test_set): improve pass count query by joining Status table
  apps/backend/src/rhesis/backend/app/services/test_set.py
  tests/backend/routes/test_execute_with_reuse.py
Due: backend

fix(crud): prevent massive SQL JOIN when fetching a single status
  apps/backend/src/rhesis/backend/app/crud.py
Due: backend

perf(core): prevent OOM by defaulting skip_one_to_many to True in query loads
  apps/backend/src/rhesis/backend/app/utils/crud_utils.py
  apps/backend/src/rhesis/backend/app/utils/query_utils.py
Due: backend

feat(frontend): redesign login and register pages
  apps/frontend/src/app/auth/register/page.tsx
  apps/frontend/src/app/page.tsx
  apps/frontend/src/components/auth/AuthForm.tsx
  apps/frontend/src/components/auth/BackgroundDecoration.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): add defensive null checks in TestRunCharts data generators
  apps/frontend/src/app/(protected)/test-runs/components/TestRunCharts.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

refactor(frontend): replace hardcoded styles with theme tokens
  apps/frontend/src/app/auth/register/page.tsx
  apps/frontend/src/app/page.tsx
  apps/frontend/src/components/auth/AuthForm.tsx
  apps/frontend/src/components/auth/BackgroundDecoration.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): update auth form test for new title
  apps/frontend/src/components/auth/__tests__/AuthForm.test.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

feat(db): add unique contraint on embedding to prevent duplicate embeddings
  apps/backend/src/rhesis/backend/alembic/versions/8993eecbb913_add_unique_constraint_for_embedding.py
  apps/backend/src/rhesis/backend/app/models/embedding.py
Due: backend

feat(model): add dimension column for embedding models
  apps/backend/src/rhesis/backend/app/models/model.py
Due: backend

feat(db): add dimension column to model table for embedding models
  apps/backend/src/rhesis/backend/alembic/versions/c5f354e261ce_add_dimension_column_to_embeddings.py
Due: backend

feat(data): add embedding dimension, origin, and status seed data
  apps/backend/src/rhesis/backend/app/services/initial_data.json
Due: backend

feat(alembic): seed embedding dimension, origin, and status lookup data
  apps/backend/src/rhesis/backend/alembic/versions/1010fc534974_seed_embedding_status_dimenions_and_.py
  apps/backend/src/rhesis/backend/alembic/versions/8993eecbb913_add_unique_constraint_for_embedding.py
  apps/backend/src/rhesis/backend/alembic/versions/c5f354e261ce_add_dimension_column_to_embeddings.py
Due: backend

fix(typo): correct import
  apps/backend/src/rhesis/backend/alembic/versions/1010fc534974_seed_embedding_status_dimenions_and_.py
Due: backend

feat(backend): expose test execution context in request mapping templates
  apps/backend/src/rhesis/backend/app/services/endpoint/service.py
  apps/chatbot/client.py
  docs/content/platform/endpoints/index.mdx
  docs/content/platform/endpoints/mapping-examples.mdx
Due: backend

fix(alembic): put revisions introduced in this branch on top of revisions in main
  apps/backend/src/rhesis/backend/alembic/versions/c5f354e261ce_add_dimension_column_to_embeddings.py
Due: backend

fix(backend): sanitize rhesis context from jinja2 none strings
  apps/chatbot/client.py
Due: none

fix(backend): harden test context injection and chatbot sanitization
  apps/backend/src/rhesis/backend/app/services/endpoint/service.py
  apps/chatbot/client.py
Due: backend

Expose test execution context in request mapping templates (#1548)
  apps/backend/src/rhesis/backend/app/services/endpoint/service.py
  apps/chatbot/client.py
  docs/content/platform/endpoints/index.mdx
  docs/content/platform/endpoints/mapping-examples.mdx
Due: backend

refactor(frontend): extract shared auth page shell
  apps/frontend/src/app/auth/register/page.tsx
  apps/frontend/src/app/page.tsx
  apps/frontend/src/components/auth/AuthPageShell.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

feat(frontend): restyle auth pages and fix a11y
  apps/frontend/src/app/auth/forgot-password/page.tsx
  apps/frontend/src/app/auth/magic-link/page.tsx
  apps/frontend/src/app/auth/reset-password/page.tsx
  apps/frontend/src/app/auth/signin/page.tsx
  apps/frontend/src/app/auth/signout/page.tsx
  apps/frontend/src/app/auth/verify-email/page.tsx
  apps/frontend/src/components/auth/BackgroundDecoration.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(docs): resolve infinite redirect loops on /docs and /contribute
  docs/content/docs/_meta.tsx
  docs/content/docs/index.mdx
  docs/src/app/_meta.js
  docs/src/app/layout.jsx
  docs/src/next.config.mjs
Due: none

fix(docs): redirect root to /docs and use original landing content
  docs/content/docs/index.mdx
  docs/src/next.config.mjs
Due: none

fix(frontend): address pr review feedback
  apps/frontend/src/app/auth/magic-link/page.tsx
  apps/frontend/src/app/auth/reset-password/page.tsx
  apps/frontend/src/app/auth/signin/page.tsx
  apps/frontend/src/app/auth/signout/page.tsx
  apps/frontend/src/app/auth/verify-email/page.tsx
  apps/frontend/src/components/auth/AuthForm.tsx
  apps/frontend/src/components/auth/AuthPageShell.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): use metadata.total_test_runs for empty-state check
  apps/frontend/src/app/(protected)/test-runs/components/TestRunCharts.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

ci: inject git branch and commit via CI pipelines
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
  .github/workflows/worker.yml
  apps/backend/src/rhesis/backend/app/utils/git_utils.py
  apps/frontend/Dockerfile
  apps/frontend/next.config.mjs
  apps/worker/k8s/deployment.yaml
  apps/worker/start.sh
Due: backend, frontend-format, frontend-lint, hardcoded-styles

fix(backend): remove status_breakdown from TestRunTimelineData schema
  apps/backend/src/rhesis/backend/app/schemas/stats.py
Due: backend

fix(frontend): show git info for all non-production envs
  apps/frontend/src/utils/git-utils.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(backend): copy pyproject.toml to runtime image for version
  apps/backend/Dockerfile
Due: backend

fix(backend): count actual test results in result_distribution
  apps/backend/src/rhesis/backend/app/services/stats/test_run.py
  apps/frontend/src/app/(protected)/test-runs/components/TestRunCharts.tsx
Due: backend, frontend-format, frontend-lint, hardcoded-styles

fix(frontend): expose FRONTEND_ENV to client-side code
  apps/frontend/next.config.mjs
Due: frontend-format, frontend-lint, hardcoded-styles

fix(backend): use importlib.metadata for package version
  apps/backend/src/rhesis/backend/__init__.py
Due: backend

fix(frontend): use NEXT_PUBLIC_ prefix for client-side env vars
  apps/frontend/Dockerfile
  apps/frontend/next.config.mjs
  apps/frontend/src/utils/git-utils.ts
Due: frontend-format, frontend-lint, hardcoded-styles

feat(sdk): add stats API for test runs and test results
  docs/content/sdk/_meta.tsx
  docs/content/sdk/statistics.mdx
  sdk/src/rhesis/sdk/entities/__init__.py
  sdk/src/rhesis/sdk/entities/stats.py
  sdk/src/rhesis/sdk/entities/test_result.py
  sdk/src/rhesis/sdk/entities/test_run.py
  tests/sdk/entities/test_stats.py
  tests/sdk/integration/test_stats.py
Due: sdk

test(frontend): update git-utils test for staging visibility
  apps/frontend/src/utils/__tests__/git-utils.test.ts
Due: frontend-format, frontend-lint, hardcoded-styles

style(sdk): fix import sorting and add missing type imports
  sdk/src/rhesis/sdk/entities/stats.py
  sdk/src/rhesis/sdk/entities/test_result.py
Due: sdk

fix: address PR review feedback from peqy
  apps/backend/src/rhesis/backend/app/services/stats/test_run.py
  apps/frontend/src/app/(protected)/test-runs/components/TestRunCharts.tsx
  apps/frontend/src/utils/git-utils.ts
  sdk/src/rhesis/sdk/entities/stats.py
Due: sdk, backend, frontend-format, frontend-lint, hardcoded-styles

Path conditions:
  sdk: any of: ^sdk/
  backend: any of: ^apps/backend/
  frontend-format: any of: ^apps/frontend/
  frontend-lint: any of: ^apps/frontend/
  docs-format: any of: ^apps/documentation/
  hardcoded-styles: any of: ^apps/(frontend|documentation)/
