Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, docs-format, hardcoded-styles

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict

  - repo: local
    hooks:
        - id: trufflehog
          name: TruffleHog
          description: Detect secrets in your data.
          entry: bash -c 'PATH="$HOME/.local/bin:$PATH" trufflehog git file://. --since-commit HEAD --only-verified --fail --no-update'
          language: system
          stages: ["pre-commit", "pre-push"]

        - id: sdk
          name  : format sdk
          language: system
          entry: make -C sdk format
          files: ^sdk/
          pass_filenames: false

        - id: backend
          name  : format backend
          language: system
          entry: make -C apps/backend format_diff
          files: ^apps/backend/
          pass_filenames: false

        - id: frontend-format
          name: auto-fix frontend formatting
          language: system
          entry: bash -c "cd apps/frontend && npm run format"
          files: ^apps/frontend/
          pass_filenames: false

        - id: frontend-lint
          name: lint frontend
          language: system
          entry: bash -c "cd apps/frontend && npm run lint"
          files: ^apps/frontend/
          pass_filenames: false

        - id: docs-format
          name: auto-fix docs formatting
          language: system
          entry: bash -c "cd apps/documentation && npm run format"
          files: ^apps/documentation/
          pass_filenames: false

        - id: hardcoded-styles
          name: check hardcoded styles in frontend and docs
          language: system
          entry: node scripts/check-hardcoded-styles.js
          files: ^apps/(frontend|documentation)/
          pass_filenames: false


  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.8.0
  #   hooks:
  #     - id: mypy
  #       additional_dependencies: [
  #         "types-requests",
  #         "pandas-stubs",
  #         "pyarrow-stubs",
  #         "types-tqdm"
  #       ]

fix(dr-rhesis): serialize shared pipeline turns
  agents/dr-rhesis/src/dr_rhesis/session.py
  agents/dr-rhesis/tests/test_session_concurrency.py
Due: none

fix(backend): extend N+1 fix to test_runs/projects list endpoints
  apps/backend/src/rhesis/backend/app/crud.py
Due: backend

build(dr-rhesis): add rhesis-haystack dependency lockfile
  agents/dr-rhesis/pyproject.toml
  agents/dr-rhesis/uv.lock
Due: none

feat(penelope): native async paths for langchain/langgraph targets
  penelope/src/rhesis/penelope/targets/_content_blocks.py
  penelope/src/rhesis/penelope/targets/langchain.py
  penelope/src/rhesis/penelope/targets/langgraph.py
  tests/penelope/targets/test_langchain.py
  tests/penelope/targets/test_langgraph.py
  tests/penelope/targets/test_optional_imports.py
Due: none

refactor(sdk): move span ancestry registry into shared genai module
  sdk/src/rhesis/sdk/telemetry/integrations/genai.py
  sdk/src/rhesis/sdk/telemetry/integrations/pydantic_ai/translator.py
Due: sdk

fix(sdk): port dedup-flag and fail-closed hardening to maf
  sdk/src/rhesis/sdk/telemetry/integrations/agent_framework/integration.py
  sdk/src/rhesis/sdk/telemetry/integrations/agent_framework/translator.py
  tests/sdk/telemetry/integrations/test_agent_framework.py
Due: sdk

chore(agents): update default gemini model to 3.1 flash lite
  agents/research-assistant/src/research_assistant/agent.py
  agents/research-assistant/src/research_assistant/agents/base.py
  agents/research-assistant/src/research_assistant/agents/compound.py
  agents/research-assistant/src/research_assistant/agents/literature.py
  agents/research-assistant/src/research_assistant/agents/market.py
  agents/research-assistant/src/research_assistant/agents/orchestrator.py
  agents/research-assistant/src/research_assistant/agents/safety.py
  agents/research-assistant/src/research_assistant/agents/synthesis.py
  agents/research-assistant/src/research_assistant/agents/target.py
  agents/research-assistant/src/research_assistant/graph.py
  agents/research-assistant/src/research_assistant/tools.py
  agents/travel-agent/.env.example
  agents/travel-agent/README.md
  agents/travel-agent/examples/run_traces.py
  agents/travel-agent/src/travel_agent/client.py
Due: none

fix(dr-rhesis): serialize per-conversation read-modify-write
  agents/dr-rhesis/src/dr_rhesis/session.py
  agents/dr-rhesis/tests/test_session_concurrency.py
Due: none

fix(sdk,penelope): harden async target paths per review
  penelope/src/rhesis/penelope/targets/_content_blocks.py
  penelope/src/rhesis/penelope/targets/langchain.py
  penelope/src/rhesis/penelope/targets/langgraph.py
  sdk/src/rhesis/sdk/targets/base.py
  sdk/src/rhesis/sdk/telemetry/integrations/agent_framework/integration.py
  sdk/src/rhesis/sdk/telemetry/integrations/pydantic_ai/integration.py
  tests/penelope/targets/test_langchain.py
  tests/penelope/targets/test_langgraph.py
Due: sdk

Fix RBAC member performance and server-driven affordances (#2114)
  apps/backend/uv.lock
  apps/frontend/src/app/(protected)/organizations/team/components/MemberAccessDrawer.tsx
  apps/frontend/src/app/(protected)/organizations/team/components/TeamMembersGrid.tsx
  apps/frontend/src/app/(protected)/projects/[identifier]/components/ProjectMembers.tsx
  apps/frontend/src/lib/extension-registries/index.ts
  apps/frontend/src/lib/extension-registries/member-role-extensions.ts
  ee/backend/src/rhesis/backend/ee/rbac/router.py
  ee/backend/src/rhesis/backend/ee/rbac/schemas.py
  ee/frontend/src/rbac/__mocks__/_mocks.tsx
  ee/frontend/src/rbac/__tests__/register.test.ts
  ee/frontend/src/rbac/api/__tests__/rbac-client.test.ts
  ee/frontend/src/rbac/api/rbac-client.ts
  ee/frontend/src/rbac/components/OrgRoleChip.tsx
  ee/frontend/src/rbac/components/ProjectRoleChip.tsx
  ee/frontend/src/rbac/components/__tests__/OrgRoleChip.test.tsx
  ee/frontend/src/rbac/components/__tests__/ProjectRoleChip.test.tsx
  ee/frontend/src/rbac/register.tsx
  ee/frontend/src/rbac/types.ts
  tests/backend/ee/rbac/test_project_members_authz.py
  tests/backend/ee/rbac/test_sp8_access_control.py
Due: backend, frontend-format, frontend-lint, hardcoded-styles

fix(backend): fix N+1 on categories/prompts/prompt-templates
  apps/backend/src/rhesis/backend/app/crud.py
Due: backend

feat(dr-rhesis): add rhesis tracing and offload blocking turns
  agents/dr-rhesis/.env.example
  agents/dr-rhesis/src/dr_rhesis/app.py
  agents/dr-rhesis/src/dr_rhesis/pipeline.py
  agents/dr-rhesis/src/dr_rhesis/session.py
  agents/dr-rhesis/tests/test_app_threadpool.py
Due: none

docs: fix stale comment
  apps/backend/src/rhesis/backend/app/utils/schema_factory.py
Due: backend

fix(dr-rhesis): align rhesis tracing gate on both credentials
  agents/dr-rhesis/src/dr_rhesis/app.py
  agents/dr-rhesis/src/dr_rhesis/pipeline.py
Due: none

fix(telemetry): always use async batch span export
  apps/backend/src/rhesis/backend/telemetry/instrumentation.py
Due: backend

revert(backend): remove temporary SQL timing probe
  apps/backend/src/rhesis/backend/app/debug_sql_timing.py
  apps/backend/src/rhesis/backend/app/main.py
Due: backend

feat(ee): remove the licensing dev-fallback entirely
  ee/backend/README.md
  ee/backend/src/rhesis/backend/ee/licensing/entitlements.py
  ee/backend/src/rhesis/backend/ee/licensing/provider.py
  tests/backend/ee/licensing/test_feature_gates.py
  tests/backend/ee/licensing/test_provider.py
  tests/backend/ee/licensing/test_tiers.py
  tests/backend/routes/test_features.py
Due: none

fix(telemetry): always use async batch span export (#2116)
  apps/backend/src/rhesis/backend/telemetry/instrumentation.py
Due: backend

perf(backend): fix N+1 queries and a catastrophic ORDER BY across list/detail endpoints (#2110)
  apps/backend/src/rhesis/backend/app/crud.py
  apps/backend/src/rhesis/backend/app/routers/behavior.py
  apps/backend/src/rhesis/backend/app/utils/crud_utils.py
  apps/backend/src/rhesis/backend/app/utils/query_utils.py
  apps/backend/src/rhesis/backend/app/utils/schema_factory.py
Due: backend

perf(backend): split get_items_detail into id + join queries
  apps/backend/src/rhesis/backend/app/debug_request_timing.py
  apps/backend/src/rhesis/backend/app/main.py
  apps/backend/src/rhesis/backend/app/utils/crud_utils.py
  apps/backend/src/rhesis/backend/app/utils/query_utils.py
  tests/backend/utils/test_get_items_detail_pagination_split.py
Due: backend

fix(dev): reuse pipeline in dr-rhesis scenarios
  agents/dr-rhesis/examples/run_scenarios.py
Due: none

fix(auth): seed org creator's RBAC role before onboarding needs it
  apps/backend/src/rhesis/backend/app/routers/user.py
  tests/backend/ee/rbac/test_default_org_role.py
Due: backend

test(auth): cover the full onboarding HTTP sequence under RBAC
  tests/backend/ee/rbac/test_default_org_role.py
Due: none

fix(frontend): guard org-scoped fetches until organization_id exists
  apps/frontend/src/contexts/ActiveProjectContext.tsx
  apps/frontend/src/contexts/OnboardingContext.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

style(frontend): fix prettier formatting in onboarding contexts
  apps/frontend/src/contexts/ActiveProjectContext.tsx
  apps/frontend/src/contexts/OnboardingContext.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(auth): reject illegitimate organization_id assignment via PUT /users
  apps/backend/src/rhesis/backend/app/routers/user.py
  tests/backend/ee/rbac/test_default_org_role.py
Due: backend

fix(backend): make request timing middleware ASGI, not BaseHTTPMiddleware
  apps/backend/src/rhesis/backend/app/debug_request_timing.py
Due: backend

Improve consistency and DRY across targets and telemetry integrations (#2115)
  penelope/src/rhesis/penelope/targets/_content_blocks.py
  penelope/src/rhesis/penelope/targets/langchain.py
  penelope/src/rhesis/penelope/targets/langgraph.py
  sdk/src/rhesis/sdk/targets/base.py
  sdk/src/rhesis/sdk/telemetry/integrations/agent_framework/integration.py
  sdk/src/rhesis/sdk/telemetry/integrations/agent_framework/translator.py
  sdk/src/rhesis/sdk/telemetry/integrations/genai.py
  sdk/src/rhesis/sdk/telemetry/integrations/pydantic_ai/integration.py
  sdk/src/rhesis/sdk/telemetry/integrations/pydantic_ai/translator.py
  tests/penelope/targets/test_langchain.py
  tests/penelope/targets/test_langgraph.py
  tests/penelope/targets/test_optional_imports.py
  tests/sdk/telemetry/integrations/test_agent_framework.py
Due: sdk

chore(dr-rhesis): remove redundant serve_playground stub
  agents/dr-rhesis/docs/architecture.md
  agents/dr-rhesis/examples/serve_playground.py
Due: none

revert(backend): remove temporary request timing probe
  apps/backend/src/rhesis/backend/app/debug_request_timing.py
  apps/backend/src/rhesis/backend/app/main.py
Due: backend

perf(backend): split get_items_detail into id + join queries (#2117)
  apps/backend/src/rhesis/backend/app/utils/crud_utils.py
  apps/backend/src/rhesis/backend/app/utils/query_utils.py
  tests/backend/utils/test_get_items_detail_pagination_split.py
Due: backend

feat(frontend): polish rbac ui/ux in org settings
  apps/frontend/src/__tests__/components/navigation/Sidebar.test.tsx
  apps/frontend/src/app/(protected)/organizations/settings/components/TeamTab.tsx
  apps/frontend/src/app/(protected)/organizations/team/components/TeamInviteForm.tsx
  apps/frontend/src/app/(protected)/organizations/team/components/TeamMembersGrid.tsx
  apps/frontend/src/app/(protected)/organizations/team/page.tsx
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/components/common/EntityEmptyState.tsx
  apps/frontend/src/components/common/GridToolbar.tsx
  apps/frontend/src/components/common/SectionCard.tsx
  apps/frontend/src/components/common/__tests__/EntityEmptyState.test.tsx
  apps/frontend/src/components/layout/LayoutContent.tsx
  apps/frontend/src/components/navigation/Sidebar.tsx
  apps/frontend/src/config/onboarding-tours.ts
  apps/frontend/src/lib/extension-registries/member-role-extensions.ts
  apps/frontend/src/lib/extension-registries/organization-settings-tabs.ts
  apps/frontend/src/lib/org-settings-tabs-bootstrap.ts
  apps/frontend/tests/e2e/pages/OrgSettingsPage.ts
  apps/frontend/tests/e2e/pages/OrgTeamPage.ts
  apps/frontend/tests/e2e/tests/organizations.spec.ts
  apps/frontend/tests/e2e/tests/overview-visual.spec.ts
  apps/frontend/tests/e2e/tests/page-smoke.spec.ts
  apps/frontend/tests/e2e/tests/performance.spec.ts
  apps/frontend/tests/e2e/tests/roles-crud.spec.ts
  ee/frontend/src/__tests__/bootstrap.test.ts
  ee/frontend/src/api-clients/register.tsx
  ee/frontend/src/rbac/components/RoleSelectField.tsx
  ee/frontend/src/rbac/components/RolesTab.tsx
  ee/frontend/src/rbac/components/__tests__/RolesTab.test.tsx
  ee/frontend/src/rbac/register.tsx
  ee/frontend/src/sso/register.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

feat(frontend): refine rbac role editor and team grid
  apps/frontend/src/app/(protected)/organizations/settings/components/TeamTab.tsx
  apps/frontend/src/app/(protected)/organizations/team/components/TeamInviteDrawer.tsx
  apps/frontend/src/app/(protected)/organizations/team/components/TeamInviteForm.tsx
  apps/frontend/src/app/(protected)/organizations/team/components/TeamMembersGrid.tsx
  apps/frontend/src/components/common/SectionOverviewTable.tsx
  apps/frontend/src/components/common/drawerFormFieldSx.ts
  apps/frontend/src/lib/extension-registries/member-role-extensions.ts
  apps/frontend/tests/e2e/pages/OrgTeamPage.ts
  ee/frontend/src/rbac/api/role-cache.ts
  ee/frontend/src/rbac/capability-groups.ts
  ee/frontend/src/rbac/components/PermissionGroupControl.tsx
  ee/frontend/src/rbac/components/RoleEditorDrawer.tsx
  ee/frontend/src/rbac/components/RoleSelectField.tsx
  ee/frontend/src/rbac/components/RoleSummary.tsx
  ee/frontend/src/rbac/components/RolesTab.tsx
  ee/frontend/src/rbac/components/__tests__/PermissionGroupControl.test.tsx
  ee/frontend/src/rbac/components/__tests__/RoleSelectField.test.tsx
  ee/frontend/src/rbac/components/__tests__/RoleSummary.test.tsx
  ee/frontend/src/rbac/register.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): resolve rbac pr type-check and format issues
  apps/frontend/src/app/(protected)/organizations/team/components/TeamInviteForm.tsx
  apps/frontend/src/app/(protected)/organizations/team/components/TeamMembersGrid.tsx
  ee/frontend/src/rbac/components/RolesTab.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

style(frontend): format rbac ui files for prettier
  apps/frontend/src/app/(protected)/organizations/team/components/TeamMembersGrid.tsx
  ee/frontend/src/rbac/capability-groups.ts
  ee/frontend/src/rbac/components/PermissionGroupControl.tsx
  ee/frontend/src/rbac/components/RoleEditorDrawer.tsx
  ee/frontend/src/rbac/components/RoleSelectField.tsx
  ee/frontend/src/rbac/components/__tests__/PermissionGroupControl.test.tsx
  ee/frontend/src/rbac/components/__tests__/RolesTab.test.tsx
  ee/frontend/src/rbac/register.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): address pr review on invite order and aria labels
  apps/frontend/src/app/(protected)/organizations/team/components/TeamInviteForm.tsx
  ee/frontend/src/rbac/components/RolesTab.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(test): stop TestsGrid.test.tsx from hanging Jest indefinitely
  apps/frontend/src/app/(protected)/tests/components/__tests__/TestsGrid.test.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

Fix onboarding lockout: seed org creator's RBAC role earlier (#2118)
  apps/backend/src/rhesis/backend/app/routers/user.py
  apps/frontend/src/app/(protected)/tests/components/__tests__/TestsGrid.test.tsx
  apps/frontend/src/contexts/ActiveProjectContext.tsx
  apps/frontend/src/contexts/OnboardingContext.tsx
  tests/backend/ee/rbac/test_default_org_role.py
Due: backend, frontend-format, frontend-lint, hardcoded-styles

fix(ee): give the backend test suite a real signed license
  tests/backend/conftest.py
Due: none
