Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, docs-format, hardcoded-styles

sdk:
  name: format sdk
  language: system
  entry: make -C sdk format
  pass_filenames: false

backend:
  name: format backend
  language: system
  entry: make -C apps/backend format_diff
  pass_filenames: false

frontend-format:
  name: auto-fix frontend formatting
  language: system
  entry: bash -c "cd apps/frontend && npm run format"
  pass_filenames: false

frontend-lint:
  name: lint frontend
  language: system
  entry: bash -c "cd apps/frontend && npm run lint"
  pass_filenames: false

docs-format:
  name: auto-fix docs formatting
  language: system
  entry: bash -c "cd apps/documentation && npm run format"
  pass_filenames: false

hardcoded-styles:
  name: check hardcoded styles in frontend and docs
  language: system
  entry: node scripts/check-hardcoded-styles.js
  pass_filenames: false

fix: address peqy migration and rollback RLS comments
  apps/backend/src/rhesis/backend/alembic/versions/b3c4d5e6f7a8_scope_onboarding_data_to_example_project.py
  apps/backend/src/rhesis/backend/app/routers/organization.py
  apps/backend/src/rhesis/backend/app/services/organization.py
  tests/backend/services/test_transaction_management.py
Due: backend

fix: disable project RLS during migration lookup
  apps/backend/src/rhesis/backend/alembic/versions/b3c4d5e6f7a8_scope_onboarding_data_to_example_project.py
  apps/backend/src/rhesis/backend/app/services/organization.py
Due: backend

refactor(backend): drop unneeded tenant-filter bypass in role dupe check
  ee/backend/src/rhesis/backend/ee/rbac/router.py
Due: none

fix(frontend): RBAC role cell error handling and self-role guard
  apps/frontend/src/app/(protected)/organizations/team/components/TeamMembersGrid.tsx
  apps/frontend/src/lib/extension-registries/member-role-extensions.ts
  ee/frontend/src/rbac/api/org-members-cache.ts
  ee/frontend/src/rbac/api/project-members-cache.ts
  ee/frontend/src/rbac/components/OrgRoleChip.tsx
  ee/frontend/src/rbac/components/ProjectRoleChip.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): role editor guard, delete confirm, description, feedback
  ee/frontend/src/rbac/components/RoleEditorDrawer.tsx
  ee/frontend/src/rbac/components/RolesTab.tsx
  ee/frontend/src/rbac/types.ts
Due: none

fix(frontend): make project add-member a single atomic call
  apps/frontend/src/app/(protected)/projects/[identifier]/components/ProjectAddMemberDrawer.tsx
  apps/frontend/src/utils/api-client/interfaces/project.ts
Due: frontend-format, frontend-lint, hardcoded-styles

style(frontend-ee): fix dark-mode GREYSCALE hardcoding in TokenScopeField
  ee/frontend/src/rbac/components/RolesTab.tsx
  ee/frontend/src/rbac/components/TokenScopeField.tsx
Due: none

chore(frontend-ee): add prettier, eslint, and CI coverage for ee/frontend
  .github/workflows/check-hardcoded-styles.yml
  .github/workflows/lint.yml
  apps/frontend/package.json
  ee/frontend/.prettierrc.json
  ee/frontend/eslint.config.mjs
  ee/frontend/package.json
Due: frontend-format, frontend-lint, hardcoded-styles

style(frontend-ee): prettier reformat ee/frontend/src
  ee/frontend/src/__tests__/bootstrap.test.ts
  ee/frontend/src/api-clients/api/__tests__/api-clients-client.test.ts
  ee/frontend/src/api-clients/components/ApiClientsList.tsx
  ee/frontend/src/api-clients/components/ApiClientsSection.tsx
  ee/frontend/src/api-clients/components/ClientSecretDisplayDrawer.tsx
  ee/frontend/src/api-clients/components/CreateApiClientDrawer.tsx
  ee/frontend/src/rbac/api/org-members-cache.ts
  ee/frontend/src/rbac/api/project-members-cache.ts
  ee/frontend/src/rbac/api/rbac-client.ts
  ee/frontend/src/rbac/api/role-cache.ts
  ee/frontend/src/rbac/capability-groups.ts
  ee/frontend/src/rbac/components/OrgRoleChip.tsx
  ee/frontend/src/rbac/components/PermissionGroupControl.tsx
  ee/frontend/src/rbac/components/ProjectRoleChip.tsx
  ee/frontend/src/rbac/components/RoleEditorDrawer.tsx
  ee/frontend/src/rbac/components/RoleSelectField.tsx
  ee/frontend/src/rbac/components/RoleSummary.tsx
  ee/frontend/src/rbac/components/RolesEmptyState.tsx
  ee/frontend/src/rbac/components/RolesTab.tsx
  ee/frontend/src/rbac/components/TokenScopeField.tsx
  ee/frontend/src/rbac/hooks/useActorAuthority.ts
  ee/frontend/src/rbac/register.tsx
  ee/frontend/src/rbac/role-display.ts
  ee/frontend/src/sso/api/sso-client.ts
  ee/frontend/src/sso/components/SSOConfigForm.tsx
Due: none

fix(frontend): add missing next-auth path mapping for ee/frontend
  apps/frontend/tsconfig.json
  ee/frontend/tsconfig.json
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): resolve two pre-existing type-check errors
  apps/frontend/src/app/(protected)/models/page.tsx
  apps/frontend/src/utils/websocket/client.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(backend): resolve alembic head divergence after merging main
  apps/backend/src/rhesis/backend/alembic/versions/f1a2b3c5d6e7_merge_trace_reviews_and_rbac_caps_heads.py
Due: backend

fix(backend): include migration down_revision fix + stale ID comments
  apps/backend/src/rhesis/backend/alembic/versions/671d10bef526_add_description_to_role.py
  ee/backend/src/rhesis/backend/ee/rbac/models.py
  ee/frontend/src/rbac/types.ts
Due: backend

style(frontend): prettier reformat 6 pre-existing drifted files
  apps/frontend/src/app/(protected)/models/page.tsx
  apps/frontend/src/app/(protected)/organizations/team/components/MemberAccessDrawer.tsx
  apps/frontend/src/app/(protected)/organizations/team/components/TeamInviteForm.tsx
  apps/frontend/src/app/(protected)/organizations/team/components/memberCardSx.ts
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/contexts/OrganizationContext.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(backend): seed RBAC org-role on paths that bypass crud.create_user
  apps/backend/src/rhesis/backend/local_init.py
  tests/backend/app/test_feature_registry.py
  tests/backend/ee/rbac/test_default_org_role.py
  tests/backend/fixtures/test_setup.py
Due: backend

fix(backend): fix suite-wide RBAC registry wipe in tests
  tests/backend/app/test_feature_registry.py
  tests/backend/conftest.py
  tests/backend/ee/conftest.py
Due: none

feat: keep framework provider metrics org-wide
  apps/backend/src/rhesis/backend/alembic/versions/b3c4d5e6f7a8_scope_onboarding_data_to_example_project.py
  apps/backend/src/rhesis/backend/alembic/versions/d4e5f6a7b8c9_keep_framework_metrics_org_wide.py
  apps/backend/src/rhesis/backend/app/services/organization.py
  tests/backend/services/test_organization.py
Due: backend

fix: merge framework metric migration into onboarding backfill
  apps/backend/src/rhesis/backend/alembic/versions/b3c4d5e6f7a8_scope_onboarding_data_to_example_project.py
Due: backend

fix: remove duplicate alembic revision id
  apps/backend/src/rhesis/backend/alembic/versions/d4e5f6a7b8c9_keep_framework_metrics_org_wide.py
Due: backend

fix(backend): restore RBAC global state + Owner test user suite-wide
  tests/backend/conftest.py
  tests/backend/fixtures/test_setup.py
Due: none

test(backend): update RBAC tests for role-based authz + isolate count tests
  tests/backend/auth/test_authorize_object.py
  tests/backend/auth/test_project_context_owner_exception.py
  tests/backend/auth/test_sp3_superuser.py
  tests/backend/auth/test_sp6_membership_hardening.py
  tests/backend/ee/rbac/test_sp7_catalog.py
  tests/backend/ee/rbac/test_sp8_access_control.py
  tests/backend/ee/rbac/test_sp8_roles.py
  tests/backend/fixtures/test_setup.py
  tests/backend/routes/test_capabilities.py
  tests/backend/security/test_authz_http_enforcement.py
  tests/backend/services/websocket/test_sp11_channel_authz.py
Due: none

Fix onboarding demo data scoping and first project creation (#2091)
  apps/backend/src/rhesis/backend/alembic/versions/b3c4d5e6f7a8_scope_onboarding_data_to_example_project.py
  apps/backend/src/rhesis/backend/app/routers/organization.py
  apps/backend/src/rhesis/backend/app/services/organization.py
  apps/frontend/src/app/(protected)/onboarding/components/FinishStep.tsx
  apps/frontend/src/app/(protected)/onboarding/components/OnboardingPageClient.tsx
  apps/frontend/src/app/(protected)/onboarding/components/OrganizationDetailsStep.tsx
  apps/frontend/src/app/(protected)/onboarding/components/WelcomeVideoStep.tsx
  apps/frontend/src/utils/validation.ts
  apps/frontend/tests/e2e/tests/onboarding.spec.ts
  tests/backend/services/test_organization.py
  tests/backend/services/test_transaction_management.py
Due: backend, frontend-format, frontend-lint, hardcoded-styles

fix(frontend): use inline not-found state on endpoint pages
  apps/frontend/src/app/(protected)/endpoints/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/projects/[identifier]/endpoints/[endpointId]/page.tsx
  apps/frontend/src/components/common/DetailNotFoundState.tsx
  tests/sdk/test_async_utils.py
Due: frontend-format, frontend-lint, hardcoded-styles

Fix project-switch 404 UX, Architect errors, and minor frontend polish (#2090)
  apps/backend/src/rhesis/backend/app/services/architect/event_handler.py
  apps/backend/src/rhesis/backend/app/services/architect/runner.py
  apps/backend/src/rhesis/backend/app/services/websocket/handlers/architect.py
  apps/backend/src/rhesis/backend/tasks/architect/chat.py
  apps/backend/src/rhesis/backend/tasks/endpoint/explore.py
  apps/frontend/src/app/(protected)/endpoints/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/knowledge/components/KnowledgeClientWrapper.tsx
  apps/frontend/src/app/(protected)/projects/[identifier]/endpoints/[endpointId]/page.tsx
  apps/frontend/src/app/(protected)/tasks/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/traces/components/SpanDetailsPanel.tsx
  apps/frontend/src/components/common/DetailNotFoundState.tsx
  apps/frontend/src/hooks/__tests__/useArchitectChat.test.ts
  apps/frontend/src/hooks/useArchitectChat.ts
  sdk/src/rhesis/sdk/agents/base.py
  sdk/src/rhesis/sdk/agents/errors.py
  sdk/src/rhesis/sdk/async_utils.py
  tests/backend/tasks/architect/test_event_handler.py
  tests/backend/tasks/architect/test_progress.py
  tests/backend/tasks/test_explore.py
  tests/sdk/agents/test_errors.py
  tests/sdk/test_async_utils.py
Due: sdk, backend, frontend-format, frontend-lint, hardcoded-styles

feat(frontend): improve playground endpoint selection UX
  apps/frontend/src/app/(protected)/playground/components/MessageBubble.tsx
  apps/frontend/src/app/(protected)/playground/components/PlaygroundChat.tsx
  apps/frontend/src/app/(protected)/playground/components/PlaygroundClient.tsx
  apps/frontend/src/app/(protected)/playground/components/PlaygroundEndpointDrawer.tsx
  apps/frontend/src/app/(protected)/playground/components/__tests__/PlaygroundChat.test.tsx
  apps/frontend/src/app/(protected)/playground/components/playgroundEndpointUtils.ts
  apps/frontend/tests/e2e/pages/PlaygroundPage.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): add aria-labels for playground endpoint controls
  apps/frontend/src/app/(protected)/playground/components/PlaygroundChat.tsx
  apps/frontend/src/app/(protected)/playground/components/PlaygroundClient.tsx
  apps/frontend/tests/e2e/pages/PlaygroundPage.ts
Due: frontend-format, frontend-lint, hardcoded-styles

Improve playground endpoint selection UX (#2093)
  apps/frontend/src/app/(protected)/playground/components/MessageBubble.tsx
  apps/frontend/src/app/(protected)/playground/components/PlaygroundChat.tsx
  apps/frontend/src/app/(protected)/playground/components/PlaygroundClient.tsx
  apps/frontend/src/app/(protected)/playground/components/PlaygroundEndpointDrawer.tsx
  apps/frontend/src/app/(protected)/playground/components/__tests__/PlaygroundChat.test.tsx
  apps/frontend/src/app/(protected)/playground/components/playgroundEndpointUtils.ts
  apps/frontend/tests/e2e/pages/PlaygroundPage.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(backend): make project member role_id nullable
  ee/backend/src/rhesis/backend/ee/rbac/schemas.py
Due: none

fix(frontend): make ProjectMemberRoleRead role nullable
  ee/frontend/src/rbac/types.ts
Due: none

fix(frontend): dedupe concurrent WebSocket connect calls
  apps/frontend/src/utils/websocket/client.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(backend): re-root role migration onto current main head
  apps/backend/src/rhesis/backend/alembic/versions/671d10bef526_add_description_to_role.py
Due: backend

test(backend): cover role soft-delete + holder unassignment
  tests/backend/ee/rbac/test_role_soft_delete.py
  tests/backend/ee/rbac/test_sp8_access_control.py
Due: none

feat(backend): soft-delete roles and unassign holders
  apps/backend/src/rhesis/backend/alembic/versions/a7c3e9f10b24_partial_unique_role_name_index.py
  ee/backend/src/rhesis/backend/ee/rbac/models.py
  ee/backend/src/rhesis/backend/ee/rbac/router.py
Due: backend

fix(backend): enforce project access on rbac member listing
  ee/backend/src/rhesis/backend/ee/rbac/router.py
  tests/backend/ee/rbac/test_project_members_authz.py
Due: none

fix(frontend): atomic invite enrollment + role cell + org refresh
  apps/frontend/src/app/(protected)/organizations/team/components/TeamInviteForm.tsx
  apps/frontend/src/app/(protected)/organizations/team/components/TeamMembersGrid.tsx
  apps/frontend/src/contexts/OrganizationContext.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(ci): install pydantic-ai in dev groups for tests
  penelope/pyproject.toml
  penelope/uv.lock
  sdk/pyproject.toml
  sdk/uv.lock
Due: sdk

fix(frontend): sync navbar on project rename
  apps/frontend/src/app/(protected)/projects/[identifier]/client-wrapper.tsx
  apps/frontend/src/contexts/ActiveProjectContext.tsx
  apps/frontend/src/contexts/__tests__/ActiveProjectContext.test.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): update verify-email button label
  apps/frontend/src/app/auth/verify-email/page.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): upsert synced project in context cache
  apps/frontend/src/contexts/ActiveProjectContext.tsx
  apps/frontend/src/contexts/__tests__/ActiveProjectContext.test.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

test(backend): shared rbac test helpers
  tests/backend/ee/rbac/_rbac_helpers.py
  tests/backend/ee/rbac/test_project_members_authz.py
  tests/backend/ee/rbac/test_role_soft_delete.py
  tests/backend/ee/rbac/test_sp8_access_control.py
Due: none

Path conditions:
  sdk: any of: ^sdk/
  backend: any of: ^apps/backend/
  frontend-format: any of: ^apps/frontend/
  frontend-lint: any of: ^apps/frontend/
  docs-format: any of: ^apps/documentation/
  hardcoded-styles: any of: ^apps/(frontend|documentation)/
