Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, docs-format, hardcoded-styles

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict

  - repo: local
    hooks:
        - id: trufflehog
          name: TruffleHog
          description: Detect secrets in your data.
          entry: bash -c 'PATH="$HOME/.local/bin:$PATH" trufflehog git file://. --since-commit HEAD --only-verified --fail --no-update'
          language: system
          stages: ["pre-commit", "pre-push"]

        - id: sdk
          name  : format sdk
          language: system
          entry: make -C sdk format
          files: ^sdk/
          pass_filenames: false

        - id: backend
          name  : format backend
          language: system
          entry: make -C apps/backend format_diff
          files: ^apps/backend/
          pass_filenames: false

        - id: frontend-format
          name: auto-fix frontend formatting
          language: system
          entry: bash -c "cd apps/frontend && npm run format"
          files: ^apps/frontend/
          pass_filenames: false

        - id: frontend-lint
          name: lint frontend
          language: system
          entry: bash -c "cd apps/frontend && npm run lint"
          files: ^apps/frontend/
          pass_filenames: false

        - id: docs-format
          name: auto-fix docs formatting
          language: system
          entry: bash -c "cd apps/documentation && npm run format"
          files: ^apps/documentation/
          pass_filenames: false

        - id: hardcoded-styles
          name: check hardcoded styles in frontend and docs
          language: system
          entry: node scripts/check-hardcoded-styles.js
          files: ^apps/(frontend|documentation)/
          pass_filenames: false


  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.8.0
  #   hooks:
  #     - id: mypy
  #       additional_dependencies: [
  #         "types-requests",
  #         "pandas-stubs",
  #         "pyarrow-stubs",
  #         "types-tqdm"
  #       ]

fix(frontend): scope applyProjectDeepLink to email detail routes
  apps/frontend/src/__tests__/middleware.test.ts
  apps/frontend/src/proxy.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(backend): skip garak cache pre-warm in the test suite
  apps/backend/src/rhesis/backend/app/main.py
  tests/backend/conftest.py
Due: backend

docs: declutter worker contributing section
  docs/content/contribute/worker/README.mdx
  docs/content/contribute/worker/architecture.mdx
  docs/content/contribute/worker/background-tasks.mdx
  docs/content/contribute/worker/execution-modes.mdx
  docs/content/contribute/worker/gke-troubleshooting.mdx
  docs/content/contribute/worker/logging.mdx
  docs/content/contribute/worker/multi-worker-rpc.mdx
  docs/content/contribute/worker/test-execution.mdx
  docs/content/contribute/worker/test-types.mdx
  docs/content/contribute/worker/troubleshooting.mdx
  docs/decluttering-rules.md
Due: none

refactor(backend): stop shipping garak probe data through the broker
  apps/backend/src/rhesis/backend/app/routers/garak.py
  apps/backend/src/rhesis/backend/app/services/garak/cache.py
  apps/backend/src/rhesis/backend/app/services/garak/probes/service.py
  apps/backend/src/rhesis/backend/tasks/garak.py
  tests/backend/routes/test_garak_async_dispatch.py
  tests/backend/services/garak/test_cache.py
  tests/backend/services/garak/test_probes.py
  tests/backend/tasks/test_garak.py
Due: backend

docs: declutter backend contributing section
  docs/content/contribute/backend/README.mdx
  docs/content/contribute/backend/_meta.tsx
  docs/content/contribute/backend/api-structure.mdx
  docs/content/contribute/backend/architect-chat-system.mdx
  docs/content/contribute/backend/architecture.mdx
  docs/content/contribute/backend/authentication.mdx
  docs/content/contribute/backend/background-tasks.mdx
  docs/content/contribute/backend/cascade-operations.mdx
  docs/content/contribute/backend/database-field-encryption.mdx
  docs/content/contribute/backend/database-models.mdx
  docs/content/contribute/backend/deployment.mdx
  docs/content/contribute/backend/development-workflow.mdx
  docs/content/contribute/backend/email-notifications.mdx
  docs/content/contribute/backend/encryption-troubleshooting.mdx
  docs/content/contribute/backend/environment-config.mdx
  docs/content/contribute/backend/getting-started.mdx
  docs/content/contribute/backend/odata-guide.mdx
  docs/content/contribute/backend/security-improvements.mdx
  docs/content/contribute/backend/security.mdx
  docs/content/contribute/backend/soft-deletion.mdx
  docs/content/contribute/backend/test-result-stats.mdx
  docs/content/contribute/backend/test-result-status.mdx
  docs/content/contribute/backend/test-reviews.mdx
  docs/content/contribute/backend/test-run-status.mdx
  docs/content/contribute/backend/user-settings.mdx
  docs/decluttering-rules.md
Due: none

docs: declutter worker contributing section (#2223)
  docs/content/contribute/worker/README.mdx
  docs/content/contribute/worker/architecture.mdx
  docs/content/contribute/worker/background-tasks.mdx
  docs/content/contribute/worker/execution-modes.mdx
  docs/content/contribute/worker/gke-troubleshooting.mdx
  docs/content/contribute/worker/logging.mdx
  docs/content/contribute/worker/multi-worker-rpc.mdx
  docs/content/contribute/worker/test-execution.mdx
  docs/content/contribute/worker/test-types.mdx
  docs/content/contribute/worker/troubleshooting.mdx
  docs/decluttering-rules.md
Due: none

Fix backend crash/freeze on large Garak probe import/sync (#2212)
  apps/backend/src/rhesis/backend/app/main.py
  apps/backend/src/rhesis/backend/app/routers/garak.py
  apps/backend/src/rhesis/backend/app/schemas/garak.py
  apps/backend/src/rhesis/backend/app/services/garak/importer.py
  apps/backend/src/rhesis/backend/app/services/garak/probes/service.py
  apps/backend/src/rhesis/backend/app/services/garak/sync.py
  apps/backend/src/rhesis/backend/app/services/test.py
  apps/backend/src/rhesis/backend/app/services/test_set.py
  apps/backend/src/rhesis/backend/tasks/__init__.py
  apps/backend/src/rhesis/backend/tasks/garak.py
  apps/frontend/src/app/(protected)/test-sets/components/GarakImportDrawer.tsx
  apps/frontend/src/app/(protected)/test-sets/page.tsx
  apps/frontend/src/utils/api-client/garak-client.ts
  apps/frontend/tests/e2e/tests/knowledge-crud.spec.ts
  tests/backend/conftest.py
  tests/backend/routes/test_garak_async_dispatch.py
  tests/backend/schemas/test_garak.py
  tests/backend/services/garak/test_importer.py
  tests/backend/services/garak/test_probes.py
  tests/backend/services/garak/test_sync.py
  tests/backend/services/test_test.py
  tests/backend/tasks/test_garak.py
Due: backend, frontend-format, frontend-lint, hardcoded-styles

fix(backend): skip T&C gate for onboarded baseline users
  apps/backend/src/rhesis/backend/app/auth/terms.py
  tests/backend/auth/test_terms.py
  tests/backend/routes/test_auth.py
Due: backend

fix(frontend): show Azure AI Foundry name in provider picker
  apps/frontend/src/app/(protected)/models/components/ConnectionForm.tsx
  apps/frontend/src/app/(protected)/models/components/ProviderSelectionPanel.tsx
  apps/frontend/src/config/model-providers.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): show Azure AI Foundry name in provider picker (#2229)
  apps/frontend/src/app/(protected)/models/components/ConnectionForm.tsx
  apps/frontend/src/app/(protected)/models/components/ProviderSelectionPanel.tsx
  apps/frontend/src/config/model-providers.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

docs: declutter backend contributing section (#2224)
  docs/content/contribute/backend/README.mdx
  docs/content/contribute/backend/_meta.tsx
  docs/content/contribute/backend/api-structure.mdx
  docs/content/contribute/backend/architect-chat-system.mdx
  docs/content/contribute/backend/architecture.mdx
  docs/content/contribute/backend/authentication.mdx
  docs/content/contribute/backend/background-tasks.mdx
  docs/content/contribute/backend/cascade-operations.mdx
  docs/content/contribute/backend/database-field-encryption.mdx
  docs/content/contribute/backend/database-models.mdx
  docs/content/contribute/backend/deployment.mdx
  docs/content/contribute/backend/development-workflow.mdx
  docs/content/contribute/backend/email-notifications.mdx
  docs/content/contribute/backend/encryption-troubleshooting.mdx
  docs/content/contribute/backend/environment-config.mdx
  docs/content/contribute/backend/getting-started.mdx
  docs/content/contribute/backend/odata-guide.mdx
  docs/content/contribute/backend/security-improvements.mdx
  docs/content/contribute/backend/security.mdx
  docs/content/contribute/backend/soft-deletion.mdx
  docs/content/contribute/backend/test-result-stats.mdx
  docs/content/contribute/backend/test-result-status.mdx
  docs/content/contribute/backend/test-reviews.mdx
  docs/content/contribute/backend/test-run-status.mdx
  docs/content/contribute/backend/user-settings.mdx
  docs/decluttering-rules.md
Due: none

ci: pin GitHub Actions to commit SHAs (9 pin(s))
  .github/workflows/backend.yml
  .github/workflows/chatbot.yml
  .github/workflows/create-release.yml
  .github/workflows/docs.yml
Due: none

fix(backend): tighten T&C grandfathering with created_at cutoff
  apps/backend/src/rhesis/backend/app/auth/terms.py
  tests/backend/auth/test_terms.py
  tests/backend/fixtures/test_setup.py
  tests/backend/routes/test_auth.py
Due: backend

fix(backend): backfill baseline T&C acceptance at deploy
  apps/backend/src/rhesis/backend/alembic/versions/a1b2c3d4e5f9_backfill_baseline_terms_acceptance.py
  apps/backend/src/rhesis/backend/app/auth/terms.py
  tests/backend/auth/test_terms.py
  tests/backend/routes/test_auth.py
Due: backend

fix(backend): use unique alembic revision for terms backfill
  apps/backend/src/rhesis/backend/alembic/versions/a1b2c3d4e5f9_backfill_baseline_terms_acceptance.py
  apps/backend/src/rhesis/backend/app/auth/terms.py
Due: backend

fix(backend): harden SSO admin authz and add HTTP-level tests
  ee/backend/src/rhesis/backend/ee/sso/router.py
  tests/backend/ee/sso/test_sso_admin_authz_http.py
Due: none

fix(alembic): chain migration onto current head + drop dead bulk-schema fields
  apps/backend/src/rhesis/backend/alembic/versions/6867d319c0a5_drop_dimension_and_demographic_tables.py
  apps/backend/src/rhesis/backend/app/schemas/test.py
  apps/backend/src/rhesis/backend/app/schemas/test_set.py
Due: backend

chore(alembic): sync migration Revises header with down_revision d4e7f2a9c1b8
  apps/backend/src/rhesis/backend/alembic/versions/6867d319c0a5_drop_dimension_and_demographic_tables.py
Due: backend

fix(backend): run no-await async routes on the sync threadpool
  apps/backend/src/rhesis/backend/app/routers/auth.py
  apps/backend/src/rhesis/backend/app/routers/connector.py
  apps/backend/src/rhesis/backend/app/routers/endpoint.py
  apps/backend/src/rhesis/backend/app/routers/explorer.py
  apps/backend/src/rhesis/backend/app/routers/file_import.py
  apps/backend/src/rhesis/backend/app/routers/garak.py
  apps/backend/src/rhesis/backend/app/routers/home.py
  apps/backend/src/rhesis/backend/app/routers/organization.py
  apps/backend/src/rhesis/backend/app/routers/project.py
  apps/backend/src/rhesis/backend/app/routers/services.py
  apps/backend/src/rhesis/backend/app/routers/test_run.py
  apps/backend/src/rhesis/backend/app/routers/test_set.py
  apps/backend/src/rhesis/backend/app/routers/token.py
  apps/backend/src/rhesis/backend/app/routers/user.py
  apps/backend/src/rhesis/backend/app/routers/websocket.py
Due: backend

test(backend): update tests for sync auth/garak/ws route handlers
  tests/backend/ee/sso/test_sso_slug_resolution.py
  tests/backend/routes/test_garak_async_dispatch.py
  tests/backend/services/test_rescore.py
  tests/backend/services/websocket/test_ws_token_auth_guard.py
Due: none

fix(backend): address review nits on terms backfill migration
  apps/backend/src/rhesis/backend/alembic/versions/b5c6d7e8f9a0_backfill_baseline_terms_acceptance.py
Due: backend

chore(backend): remove misnamed terms backfill migration file
  apps/backend/src/rhesis/backend/alembic/versions/a1b2c3d4e5f9_backfill_baseline_terms_acceptance.py
Due: backend

Fix T&C gate prompting onboarded users for baseline version (#2228)
  apps/backend/src/rhesis/backend/alembic/versions/b5c6d7e8f9a0_backfill_baseline_terms_acceptance.py
  apps/backend/src/rhesis/backend/app/auth/terms.py
  tests/backend/fixtures/test_setup.py
  tests/backend/routes/test_auth.py
Due: backend

fix(frontend): refresh test set list after assigning tests
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/TestSetLinkedTestsSection.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

feat(backend): prefer RHESIS_API_KEY over Polyphemus delegation
  apps/backend/src/rhesis/backend/app/utils/user_model_utils.py
  tests/backend/utils/test_llm_delegation.py
Due: backend

Run no-await async routes on the sync threadpool (#2236)
  apps/backend/src/rhesis/backend/app/routers/auth.py
  apps/backend/src/rhesis/backend/app/routers/connector.py
  apps/backend/src/rhesis/backend/app/routers/endpoint.py
  apps/backend/src/rhesis/backend/app/routers/explorer.py
  apps/backend/src/rhesis/backend/app/routers/file_import.py
  apps/backend/src/rhesis/backend/app/routers/garak.py
  apps/backend/src/rhesis/backend/app/routers/home.py
  apps/backend/src/rhesis/backend/app/routers/organization.py
  apps/backend/src/rhesis/backend/app/routers/project.py
  apps/backend/src/rhesis/backend/app/routers/services.py
  apps/backend/src/rhesis/backend/app/routers/test_run.py
  apps/backend/src/rhesis/backend/app/routers/test_set.py
  apps/backend/src/rhesis/backend/app/routers/token.py
  apps/backend/src/rhesis/backend/app/routers/user.py
  apps/backend/src/rhesis/backend/app/routers/websocket.py
  tests/backend/ee/sso/test_sso_slug_resolution.py
  tests/backend/routes/test_garak_async_dispatch.py
  tests/backend/services/test_rescore.py
  tests/backend/services/websocket/test_ws_token_auth_guard.py
Due: backend

fix(frontend): refresh test runs list after a re-run
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestRunMainView.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

test(backend): extend cross-org SSO authz coverage to all 4 routes
  tests/backend/ee/sso/test_sso_admin_authz_http.py
Due: none

feat(backend): add bulk delete for tests and explorer test sets
  apps/backend/src/rhesis/backend/app/crud.py
  apps/backend/src/rhesis/backend/app/routers/explorer.py
  apps/backend/src/rhesis/backend/app/routers/test.py
  apps/backend/src/rhesis/backend/app/schemas/__init__.py
  apps/backend/src/rhesis/backend/app/schemas/explorer.py
  apps/backend/src/rhesis/backend/app/schemas/test.py
  apps/backend/src/rhesis/backend/app/services/cascade.py
  apps/backend/src/rhesis/backend/app/services/explorer/__init__.py
  apps/backend/src/rhesis/backend/app/services/explorer/tests.py
  apps/backend/src/rhesis/backend/app/utils/crud_utils.py
  apps/frontend/src/app/(protected)/explorer/components/ExplorerGrid.tsx
  apps/frontend/src/app/(protected)/tests/components/TestsGrid.tsx
  apps/frontend/src/utils/api-client/explorer-client.ts
  apps/frontend/src/utils/api-client/interfaces/common.ts
  apps/frontend/src/utils/api-client/tests-client.ts
  tests/backend/crud/test_test_crud.py
  tests/backend/routes/test_explorer.py
  tests/backend/routes/test_test_bulk_delete.py
  tests/backend/services/explorer/test_tests.py
Due: backend, frontend-format, frontend-lint, hardcoded-styles

feat(backend): prefer RHESIS_API_KEY over Polyphemus delegation (#2240)
  apps/backend/src/rhesis/backend/app/utils/user_model_utils.py
  tests/backend/utils/test_llm_delegation.py
Due: backend

Harden SSO admin authz defense-in-depth, add HTTP-level tests (#2233)
  ee/backend/src/rhesis/backend/ee/sso/router.py
  tests/backend/ee/sso/test_sso_admin_authz_http.py
Due: none

fix(backend): scope bulk_delete_tests association lookup by org
  apps/backend/src/rhesis/backend/app/crud.py
  tests/backend/crud/test_test_crud.py
Due: backend

style(frontend): apply prettier formatting
  apps/frontend/src/app/(protected)/architect/components/ArchitectChat.tsx
  apps/frontend/src/app/(protected)/endpoints/components/EndpointForm.tsx
  apps/frontend/src/app/(protected)/experiments/[identifier]/components/ExperimentVersionsGrid.tsx
  apps/frontend/src/app/(protected)/organizations/settings/components/OrganizationSettingsTabs.tsx
  apps/frontend/src/app/(protected)/tasks/components/TaskDrawer.tsx
  apps/frontend/src/app/(protected)/test-runs/components/TestRunsGrid.tsx
  apps/frontend/src/app/(protected)/test-sets/new-generated/components/shared/ChipGroup.tsx
  apps/frontend/src/app/(protected)/test-sets/new-generated/components/shared/SelectionModal.tsx
  apps/frontend/src/app/(protected)/test-sets/new-generated/components/shared/types.ts
  apps/frontend/src/app/(protected)/tests/components/TestDrawer.tsx
  apps/frontend/src/app/(protected)/traces/components/ConversationTraceView.tsx
  apps/frontend/src/app/(protected)/traces/components/TraceDrawer.tsx
  apps/frontend/src/app/(protected)/traces/components/TraceMetricsTab.tsx
  apps/frontend/src/app/(protected)/traces/components/TraceReviewDrawer.tsx
  apps/frontend/src/app/(protected)/traces/components/TraceReviewsTab.tsx
  apps/frontend/src/components/common/NotificationContext.tsx
  apps/frontend/src/components/common/TestRunStatus.tsx
  apps/frontend/src/components/navigation/Sidebar.tsx
  apps/frontend/src/components/tasks/TasksSection.tsx
  apps/frontend/src/config/onboarding-tours.ts
  apps/frontend/src/hooks/useArchitectChat.ts
  apps/frontend/src/hooks/useWebSocket.ts
  apps/frontend/src/utils/api-client/interfaces/embedding.ts
  apps/frontend/src/utils/api-client/interfaces/explorer.ts
  apps/frontend/src/utils/conversation-from-spans.ts
  apps/frontend/src/utils/websocket/client.ts
Due: frontend-format, frontend-lint, hardcoded-styles

Fix re-run status not updating in test runs table (#2239)
  apps/frontend/src/app/(protected)/architect/components/ArchitectChat.tsx
  apps/frontend/src/app/(protected)/endpoints/components/EndpointForm.tsx
  apps/frontend/src/app/(protected)/experiments/[identifier]/components/ExperimentVersionsGrid.tsx
  apps/frontend/src/app/(protected)/organizations/settings/components/OrganizationSettingsTabs.tsx
  apps/frontend/src/app/(protected)/tasks/components/TaskDrawer.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestRunMainView.tsx
  apps/frontend/src/app/(protected)/test-runs/components/TestRunsGrid.tsx
  apps/frontend/src/app/(protected)/test-sets/new-generated/components/shared/ChipGroup.tsx
  apps/frontend/src/app/(protected)/test-sets/new-generated/components/shared/SelectionModal.tsx
  apps/frontend/src/app/(protected)/test-sets/new-generated/components/shared/types.ts
  apps/frontend/src/app/(protected)/tests/components/TestDrawer.tsx
  apps/frontend/src/app/(protected)/traces/components/ConversationTraceView.tsx
  apps/frontend/src/app/(protected)/traces/components/TraceDrawer.tsx
  apps/frontend/src/app/(protected)/traces/components/TraceMetricsTab.tsx
  apps/frontend/src/app/(protected)/traces/components/TraceReviewDrawer.tsx
  apps/frontend/src/app/(protected)/traces/components/TraceReviewsTab.tsx
  apps/frontend/src/components/common/NotificationContext.tsx
  apps/frontend/src/components/common/TestRunStatus.tsx
  apps/frontend/src/components/navigation/Sidebar.tsx
  apps/frontend/src/components/tasks/TasksSection.tsx
  apps/frontend/src/config/onboarding-tours.ts
  apps/frontend/src/hooks/useArchitectChat.ts
  apps/frontend/src/hooks/useWebSocket.ts
  apps/frontend/src/utils/api-client/interfaces/embedding.ts
  apps/frontend/src/utils/api-client/interfaces/explorer.ts
  apps/frontend/src/utils/conversation-from-spans.ts
  apps/frontend/src/utils/websocket/client.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): stop gating annotations page on session_token
  apps/frontend/src/app/(protected)/annotations/components/AnnotationsGrid.tsx
  apps/frontend/src/app/(protected)/annotations/page.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

Fix assigned test not appearing in Test Set list (#2238)
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/TestSetLinkedTestsSection.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(backend): recompute test sets from actual deleted ids
  apps/backend/src/rhesis/backend/app/crud.py
Due: backend

fix(frontend): auto-start architect on insights summarize handoff
  apps/frontend/src/app/(protected)/architect/components/ArchitectClient.tsx
  apps/frontend/src/utils/__tests__/architect-handoff.test.ts
  apps/frontend/src/utils/architect-handoff.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(sdk): summarize across all runs in insights handoff
  sdk/src/rhesis/sdk/agents/architect/prompt_loader.py
  skills/rhesis/references/insights-summary.md
  tests/sdk/agents/test_architect_prompt_loader.py
Due: sdk
