Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, docs-format, hardcoded-styles

sdk:
  name: format sdk
  language: system
  entry: make -C sdk format
  pass_filenames: false

backend:
  name: format backend
  language: system
  entry: make -C apps/backend format_diff
  pass_filenames: false

frontend-format:
  name: auto-fix frontend formatting
  language: system
  entry: bash -c "cd apps/frontend && npm run format"
  pass_filenames: false

frontend-lint:
  name: lint frontend
  language: system
  entry: bash -c "cd apps/frontend && npm run lint"
  pass_filenames: false

docs-format:
  name: auto-fix docs formatting
  language: system
  entry: bash -c "cd apps/documentation && npm run format"
  pass_filenames: false

hardcoded-styles:
  name: check hardcoded styles in frontend and docs
  language: system
  entry: node scripts/check-hardcoded-styles.js
  pass_filenames: false

refactor: minimize the lines of code
  apps/backend/src/rhesis/backend/tasks/test_set.py
Due: backend

refactor(chatbot): move collaborate decorator to get_assistant_response and remove test functions
  apps/chatbot/endpoint.py
  sdk/src/rhesis/sdk/connector/connection.py
  sdk/src/rhesis/sdk/connector/types.py
  tests/sdk/connector/test_connection_errors.py
Due: sdk

fix: multiturn
  apps/backend/src/rhesis/backend/app/routers/test_set.py
  apps/backend/src/rhesis/backend/tasks/test_set.py
Due: backend

fix: worker multiturn
  apps/backend/src/rhesis/backend/app/routers/test_set.py
  apps/backend/src/rhesis/backend/app/schemas/services.py
  apps/frontend/next-env.d.ts
  apps/frontend/src/app/(protected)/tests/new-generated/components/TestGenerationFlow.tsx
  apps/frontend/src/utils/api-client/interfaces/test-set.ts
Due: backend, frontend-format, frontend-lint, hardcoded-styles

Hotfix/multiturn worker (#954)
  apps/backend/src/rhesis/backend/app/routers/test_set.py
  apps/backend/src/rhesis/backend/app/schemas/services.py
  apps/backend/src/rhesis/backend/tasks/test_set.py
  apps/frontend/next-env.d.ts
  apps/frontend/src/app/(protected)/tests/new-generated/components/TestGenerationFlow.tsx
  apps/frontend/src/utils/api-client/interfaces/test-set.ts
Due: backend, frontend-format, frontend-lint, hardcoded-styles

docs(mcp): clarify custom provider placeholder format
  apps/backend/src/rhesis/backend/app/routers/tools.py
  apps/frontend/src/app/(protected)/mcp/components/MCPConnectionDialog.tsx
  sdk/src/rhesis/sdk/services/mcp/client.py
Due: sdk, backend, frontend-format, frontend-lint, hardcoded-styles

Revert "docs(mcp): clarify custom provider placeholder format"
  apps/backend/src/rhesis/backend/app/routers/tools.py
  apps/frontend/src/app/(protected)/mcp/components/MCPConnectionDialog.tsx
  sdk/src/rhesis/sdk/services/mcp/client.py
Due: sdk, backend, frontend-format, frontend-lint, hardcoded-styles

docs(mcp): update MCP documentation with current features
  docs/content/platform/mcp/index.mdx
Due: none

feat(connector): add environment validation and normalization
  apps/backend/src/rhesis/backend/app/routers/connector.py
  apps/backend/src/rhesis/backend/app/services/connector/handlers/registration.py
  apps/backend/src/rhesis/backend/app/services/connector/manager.py
  apps/backend/src/rhesis/backend/app/services/connector/rpc_client.py
  apps/frontend/src/app/(protected)/endpoints/components/EndpointDetail.tsx
  apps/frontend/src/app/(protected)/endpoints/components/EndpointForm.tsx
  apps/frontend/src/app/(protected)/endpoints/components/SwaggerEndpointForm.tsx
  apps/frontend/src/utils/api-client/interfaces/endpoint.ts
  sdk/src/rhesis/sdk/connector/connection.py
  sdk/src/rhesis/sdk/connector/manager.py
Due: sdk, backend, frontend-format, frontend-lint, hardcoded-styles

feat(connector): add project ID validation at WebSocket connection
  apps/backend/src/rhesis/backend/app/services/endpoint/sdk_sync.py
Due: backend

fix(security): redact sensitive headers in request logging
  apps/backend/src/rhesis/backend/app/main.py
Due: backend

docs(knowledge): add MCP import functionality
  docs/content/platform/knowledge/index.mdx
Due: none

test(connector): add comprehensive validation tests
  tests/backend/app/test_logging_security.py
  tests/sdk/connector/test_manager_validation.py
Due: none

feat(chatbot): add input mapping and refine collaborate decorators
  apps/chatbot/client.py
  apps/chatbot/endpoint.py
  apps/chatbot/example.py
Due: none

fix(validation): increase endpoint validation timeout to 30s
  apps/backend/src/rhesis/backend/app/services/connector/mapping/mapping_validator.py
  apps/backend/src/rhesis/backend/app/services/endpoint/validation.py
Due: backend

fix(sdk): extract and display WebSocket close reasons for validation errors
  sdk/src/rhesis/sdk/connector/connection.py
Due: sdk

feat: add batch size to multi turn synthesizer
  sdk/src/rhesis/sdk/synthesizers/multi_turn/base.py
Due: sdk

fix(sdk): remove misleading organization message from error
  sdk/src/rhesis/sdk/connector/connection.py
Due: sdk

feat: add batch size to multi turn synthesizer (#956)
  sdk/src/rhesis/sdk/synthesizers/multi_turn/base.py
Due: sdk

style: fixed quotes to match Prettier rules
  apps/frontend/next-env.d.ts
Due: frontend-format, frontend-lint, hardcoded-styles

Mcp Docs Placeholder Format (#955)
  apps/backend/src/rhesis/backend/app/routers/tools.py
  apps/frontend/next-env.d.ts
  apps/frontend/src/app/(protected)/mcp/components/MCPConnectionDialog.tsx
  sdk/src/rhesis/sdk/services/mcp/client.py
Due: sdk, backend, frontend-format, frontend-lint, hardcoded-styles

fix(frontend): add 'local' environment to EndpointOption interfaces
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/ExecuteTestSetDrawer.tsx
  apps/frontend/src/app/(protected)/test-sets/components/CreateTestRun.tsx
  apps/frontend/src/app/(protected)/tests/components/TrialDrawer.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

Fix connector environment/project validation and improve error messaging (#957)
  apps/backend/src/rhesis/backend/app/main.py
  apps/backend/src/rhesis/backend/app/routers/connector.py
  apps/backend/src/rhesis/backend/app/services/connector/handlers/registration.py
  apps/backend/src/rhesis/backend/app/services/connector/manager.py
  apps/backend/src/rhesis/backend/app/services/connector/mapping/mapping_validator.py
  apps/backend/src/rhesis/backend/app/services/connector/rpc_client.py
  apps/backend/src/rhesis/backend/app/services/endpoint/sdk_sync.py
  apps/backend/src/rhesis/backend/app/services/endpoint/validation.py
  apps/chatbot/client.py
  apps/chatbot/endpoint.py
  apps/chatbot/example.py
  apps/chatbot/uv.lock
  apps/frontend/src/app/(protected)/endpoints/components/EndpointDetail.tsx
  apps/frontend/src/app/(protected)/endpoints/components/EndpointForm.tsx
  apps/frontend/src/app/(protected)/endpoints/components/SwaggerEndpointForm.tsx
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/ExecuteTestSetDrawer.tsx
  apps/frontend/src/app/(protected)/test-sets/components/CreateTestRun.tsx
  apps/frontend/src/app/(protected)/tests/components/TrialDrawer.tsx
  apps/frontend/src/utils/api-client/interfaces/endpoint.ts
  sdk/src/rhesis/sdk/connector/connection.py
  sdk/src/rhesis/sdk/connector/manager.py
  sdk/src/rhesis/sdk/connector/types.py
  tests/backend/app/test_logging_security.py
  tests/sdk/connector/test_connection_errors.py
  tests/sdk/connector/test_manager_validation.py
Due: sdk, backend, frontend-format, frontend-lint, hardcoded-styles

fix: fix multiturn test for short tests
  sdk/src/rhesis/sdk/synthesizers/multi_turn/base.py
Due: sdk

fix: fix multiturn test for short tests (#958)
  sdk/src/rhesis/sdk/synthesizers/multi_turn/base.py
Due: sdk

feat: Add submit button loading state to endpoint forms (#947)
  apps/frontend/src/app/(protected)/endpoints/components/EndpointForm.tsx
  apps/frontend/src/app/(protected)/endpoints/components/SwaggerEndpointForm.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

update the telemetry domain name
  docker-compose.yml
Due: none

update the telemetry domain name (#959)
  docker-compose.yml
Due: none

next
  .env.example
Due: none

Path conditions:
  sdk: any of: ^sdk/
  backend: any of: ^apps/backend/
  frontend-format: any of: ^apps/frontend/
  frontend-lint: any of: ^apps/frontend/
  docs-format: any of: ^apps/documentation/
  hardcoded-styles: any of: ^apps/(frontend|documentation)/
