Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, docs-format, hardcoded-styles

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict

  - repo: local
    hooks:
        - id: trufflehog
          name: TruffleHog
          description: Detect secrets in your data.
          entry: bash -c 'PATH="$HOME/.local/bin:$PATH" trufflehog git file://. --since-commit HEAD --only-verified --fail --no-update'
          language: system
          stages: ["pre-commit", "pre-push"]

        - id: sdk
          name  : format sdk
          language: system
          entry: make -C sdk format
          files: ^sdk/
          pass_filenames: false

        - id: backend
          name  : format backend
          language: system
          entry: make -C apps/backend format_diff
          files: ^apps/backend/
          pass_filenames: false

        - id: frontend-format
          name: auto-fix frontend formatting
          language: system
          entry: bash -c "cd apps/frontend && npm run format"
          files: ^apps/frontend/
          pass_filenames: false

        - id: frontend-lint
          name: lint frontend
          language: system
          entry: bash -c "cd apps/frontend && npm run lint"
          files: ^apps/frontend/
          pass_filenames: false

        - id: docs-format
          name: auto-fix docs formatting
          language: system
          entry: bash -c "cd apps/documentation && npm run format"
          files: ^apps/documentation/
          pass_filenames: false

        - id: hardcoded-styles
          name: check hardcoded styles in frontend and docs
          language: system
          entry: node scripts/check-hardcoded-styles.js
          files: ^apps/(frontend|documentation)/
          pass_filenames: false


  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.8.0
  #   hooks:
  #     - id: mypy
  #       additional_dependencies: [
  #         "types-requests",
  #         "pandas-stubs",
  #         "pyarrow-stubs",
  #         "types-tqdm"
  #       ]

test(rbac): guard role-create hardening; doc backfill cut-over
  docs/content/contribute/backend/authorization.mdx
  tests/backend/ee/rbac/test_sp8_roles.py
Due: none

fix(mcp): forward project scope from token and stamp project_id on token creation
  apps/backend/src/rhesis/backend/app/mcp_server/server.py
  apps/backend/src/rhesis/backend/app/routers/token.py
  apps/backend/src/rhesis/backend/app/schemas/token.py
  apps/frontend/src/utils/api-client/interfaces/token.ts
Due: backend, frontend-format, frontend-lint, hardcoded-styles

style: format mcp server.py with ruff
  apps/backend/src/rhesis/backend/app/mcp_server/server.py
Due: backend

fix(frontend): add project_id to TokenResponse interface
  apps/frontend/src/utils/api-client/interfaces/token.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(backend): chain azure devops migration after main head
  apps/backend/src/rhesis/backend/alembic/versions/ad0c2e7f9b14_add_azure_devops_tool_provider_type.py
  tests/sdk/agents/mcp/test_client.py
Due: backend

refactor(tools): simplify linear mcp to token-only integration
  apps/backend/src/rhesis/backend/alembic/versions/c9d0e1f2a3b4_add_linear_tool_provider_type.py
  apps/backend/src/rhesis/backend/app/routers/tools.py
  apps/backend/src/rhesis/backend/app/services/tool/mcp/config.py
  apps/backend/src/rhesis/backend/app/services/tool/mcp/operations.py
  apps/backend/src/rhesis/backend/app/templates/mcp_default_query_prompt.jinja2
  apps/backend/src/rhesis/backend/app/templates/mcp_extract_prompt.jinja2
  apps/backend/src/rhesis/backend/app/templates/mcp_test_auth_prompt.jinja2
  apps/frontend/src/app/(protected)/tools/components/ToolConnectionDrawer.tsx
  sdk/src/rhesis/sdk/agents/mcp/provider_templates/linear.json.j2
  tests/backend/routes/test_tools_linear.py
  tests/backend/routes/test_tools_test_connection.py
  tests/sdk/agents/mcp/test_linear_provider_template.py
Due: sdk, backend, frontend-format, frontend-lint, hardcoded-styles

feat(test-runs): return alphabetical order for behaviors and metrics
  apps/frontend/src/app/(protected)/test-runs/[identifier]/hooks/useTestRunDetailData.ts
Due: frontend-format, frontend-lint, hardcoded-styles

Speed up test run detail page by cutting redundant API calls (#2017)
  apps/backend/src/rhesis/backend/app/crud.py
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/ReviewJudgementDrawer.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/hooks/useTestRunDetailData.ts
  apps/frontend/src/utils/api-client/base-client.ts
Due: backend, frontend-format, frontend-lint, hardcoded-styles

refactor(rbac): replace auth_kind magic strings with AuthKind enum
  apps/backend/src/rhesis/backend/app/auth/principal.py
  apps/backend/src/rhesis/backend/app/auth/user_utils.py
  apps/backend/src/rhesis/backend/app/routers/token.py
Due: backend

fix(rbac): make /ws/token session-only to block scope bypass
  apps/backend/src/rhesis/backend/app/routers/websocket.py
  tests/backend/services/websocket/test_ws_token_auth_guard.py
Due: backend

test(rbac): fix WS tests for (user, principal) tuple and authz gate
  tests/backend/routes/test_websocket.py
  tests/backend/services/websocket/test_architect_handler.py
Due: none

Fix MCP project scope forwarding and token project stamping (#2019)
  apps/backend/src/rhesis/backend/app/mcp_server/server.py
  apps/backend/src/rhesis/backend/app/routers/token.py
  apps/backend/src/rhesis/backend/app/schemas/token.py
  apps/frontend/src/utils/api-client/interfaces/token.ts
Due: backend, frontend-format, frontend-lint, hardcoded-styles

fix(tools): align tools page and connection drawer with Figma
  apps/frontend/src/app/(protected)/tools/components/ToolConnectionDrawer.tsx
  apps/frontend/src/app/(protected)/tools/components/__tests__/ToolConnectionDrawer.test.tsx
  apps/frontend/src/app/(protected)/tools/page.tsx
  apps/frontend/src/components/common/EntityEmptyState.tsx
  apps/frontend/src/components/common/FilledStatusAlert.tsx
  apps/frontend/src/components/common/GridToolbar.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(tools): address Peqy review on PR #2012
  apps/frontend/src/app/(protected)/knowledge/components/ToolImportDrawer.tsx
  apps/frontend/src/app/(protected)/tools/components/ToolFilterDrawer.tsx
  apps/frontend/src/app/(protected)/tools/page.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): use theme palette for filled status alert colors
  apps/frontend/src/components/common/FilledStatusAlert.tsx
  apps/frontend/src/styles/theme.ts
  scripts/check-hardcoded-styles.js
Due: frontend-format, frontend-lint, hardcoded-styles

Fix /tools page UI inconsistency (#2012)
  apps/frontend/src/app/(protected)/knowledge/components/ToolImportDrawer.tsx
  apps/frontend/src/app/(protected)/knowledge/components/ToolImportPanel.tsx
  apps/frontend/src/app/(protected)/tools/components/ConnectedToolCard.tsx
  apps/frontend/src/app/(protected)/tools/components/ProviderCard.tsx
  apps/frontend/src/app/(protected)/tools/components/ToolConnectionDrawer.tsx
  apps/frontend/src/app/(protected)/tools/components/ToolFilterDrawer.tsx
  apps/frontend/src/app/(protected)/tools/components/__tests__/ToolConnectionDrawer.test.tsx
  apps/frontend/src/app/(protected)/tools/components/index.ts
  apps/frontend/src/app/(protected)/tools/page.tsx
  apps/frontend/src/components/common/EntityEmptyState.tsx
  apps/frontend/src/components/common/FilledStatusAlert.tsx
  apps/frontend/src/components/common/GridToolbar.tsx
  apps/frontend/src/styles/theme.ts
  scripts/check-hardcoded-styles.js
Due: frontend-format, frontend-lint, hardcoded-styles

fix(tools): pass project_id to MCP extract and health check
  apps/backend/src/rhesis/backend/app/routers/tools.py
  apps/backend/src/rhesis/backend/app/services/tool/mcp/operations.py
  tests/backend/services/test_tool_actions.py
Due: backend

feat(knowledge): enable import from MCP extract providers Expose GitLab, Shortcut and Asana in the Knowledge import drawer with provider-specific labels and include-children support.
  apps/frontend/src/app/(protected)/knowledge/components/ToolImportDrawer.tsx
  apps/frontend/src/app/(protected)/knowledge/components/ToolImportPanel.tsx
  apps/frontend/src/config/tool-providers.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(mpc): remove include_children support
  apps/backend/src/rhesis/backend/app/routers/tools.py
  apps/backend/src/rhesis/backend/app/schemas/services.py
  apps/backend/src/rhesis/backend/app/services/tool/mcp/operations.py
  apps/backend/src/rhesis/backend/app/templates/mcp_extract_prompt.jinja2
  apps/frontend/src/app/(protected)/knowledge/components/ToolImportPanel.tsx
Due: backend, frontend-format, frontend-lint, hardcoded-styles

Enable knowledge import from MCP extract providers and scope tools by projects (#2020)
  apps/backend/src/rhesis/backend/app/routers/tools.py
  apps/backend/src/rhesis/backend/app/schemas/services.py
  apps/backend/src/rhesis/backend/app/services/tool/mcp/operations.py
  apps/backend/src/rhesis/backend/app/templates/mcp_extract_prompt.jinja2
  apps/frontend/src/app/(protected)/knowledge/components/ToolImportDrawer.tsx
  apps/frontend/src/app/(protected)/knowledge/components/ToolImportPanel.tsx
  apps/frontend/src/config/tool-providers.tsx
  tests/backend/services/test_tool_actions.py
Due: backend, frontend-format, frontend-lint, hardcoded-styles

feat(frontend): redesign insights as behavior-centric view
  apps/frontend/src/app/(protected)/insights/components/BaseTimelineChart.tsx
  apps/frontend/src/app/(protected)/insights/components/BehaviorColumn.tsx
  apps/frontend/src/app/(protected)/insights/components/BehaviorDimensionLists.tsx
  apps/frontend/src/app/(protected)/insights/components/BehaviorInsightsView.tsx
  apps/frontend/src/app/(protected)/insights/components/DimensionRadarChart.tsx
  apps/frontend/src/app/(protected)/insights/components/InsightsPage.tsx
  apps/frontend/src/app/(protected)/insights/components/InsightsSummaryBar.tsx
  apps/frontend/src/app/(protected)/insights/components/LatestResultsPieChart.tsx
  apps/frontend/src/app/(protected)/insights/components/LatestTestRunsChart.tsx
  apps/frontend/src/app/(protected)/insights/components/MetricTimelineChart.tsx
  apps/frontend/src/app/(protected)/insights/components/MetricTimelineChartsGrid.tsx
  apps/frontend/src/app/(protected)/insights/components/PassRateTimelineChart.tsx
  apps/frontend/src/app/(protected)/insights/components/TestResultsCharts.tsx
  apps/frontend/src/app/(protected)/insights/components/TestResultsFilters.tsx
  apps/frontend/src/app/(protected)/insights/components/TestResultsSummary.tsx
  apps/frontend/src/app/(protected)/insights/components/__tests__/TestResultsFilters.test.tsx
  apps/frontend/src/app/(protected)/insights/components/__tests__/TestResultsSummary.test.tsx
  apps/frontend/src/app/(protected)/insights/components/__tests__/timelineUtils.test.ts
  apps/frontend/src/app/(protected)/insights/components/dashboard/ActivityTimeline.tsx
  apps/frontend/src/app/(protected)/insights/components/dashboard/DashboardKPIs.tsx
  apps/frontend/src/app/(protected)/insights/components/dashboard/DashboardOverview.tsx
  apps/frontend/src/app/(protected)/insights/components/dashboard/TestRunPerformance.tsx
  apps/frontend/src/app/(protected)/insights/components/dashboard/__tests__/ActivityTimeline.test.tsx
  apps/frontend/src/app/(protected)/insights/components/dashboard/__tests__/DashboardKPIs.test.tsx
  apps/frontend/src/app/(protected)/insights/components/dashboard/__tests__/TestRunPerformance.test.tsx
  apps/frontend/src/app/(protected)/insights/components/timelineUtils.ts
  apps/frontend/src/app/(protected)/insights/hooks/useBehaviorInsightsData.ts
  apps/frontend/src/app/(protected)/insights/page.tsx
  apps/frontend/src/app/(protected)/insights/types.ts
  apps/frontend/src/app/(protected)/insights/utils/__tests__/behavior-insights-utils.test.ts
  apps/frontend/src/app/(protected)/insights/utils/behavior-insights-utils.ts
  apps/frontend/src/utils/__tests__/insights-endpoint.test.ts
  apps/frontend/src/utils/insights-endpoint.ts
  apps/frontend/tests/e2e/pages/InsightsPage.ts
Due: frontend-format, frontend-lint, hardcoded-styles

feat(frontend): add insights drill-down and card polish
  apps/frontend/src/app/(protected)/insights/__tests__/types.test.ts
  apps/frontend/src/app/(protected)/insights/components/BehaviorColumn.tsx
  apps/frontend/src/app/(protected)/insights/components/BehaviorDimensionLists.tsx
  apps/frontend/src/app/(protected)/insights/components/BehaviorInsightsRow.tsx
  apps/frontend/src/app/(protected)/insights/components/BehaviorInsightsView.tsx
  apps/frontend/src/app/(protected)/insights/components/InsightsFailedTestsFab.tsx
  apps/frontend/src/app/(protected)/insights/components/InsightsFilterDrawer.tsx
  apps/frontend/src/app/(protected)/insights/components/InsightsPage.tsx
  apps/frontend/src/app/(protected)/insights/components/InsightsSummaryBar.tsx
  apps/frontend/src/app/(protected)/insights/components/TestResultsFilters.tsx
  apps/frontend/src/app/(protected)/insights/components/__tests__/TestResultsFilters.test.tsx
  apps/frontend/src/app/(protected)/insights/hooks/useBehaviorInsightsData.ts
  apps/frontend/src/app/(protected)/insights/page.tsx
  apps/frontend/src/app/(protected)/insights/types.ts
  apps/frontend/src/app/(protected)/insights/utils/__tests__/behavior-insights-utils.test.ts
  apps/frontend/src/app/(protected)/insights/utils/__tests__/insights-failed-tests.test.ts
  apps/frontend/src/app/(protected)/insights/utils/behavior-insights-utils.ts
  apps/frontend/src/app/(protected)/insights/utils/insights-failed-tests.ts
  apps/frontend/src/app/(protected)/tests/components/TestsGrid.tsx
  apps/frontend/src/app/(protected)/tests/components/__tests__/test-filter-model-insights.test.ts
  apps/frontend/src/app/(protected)/tests/components/test-filter-model.ts
  apps/frontend/src/app/(protected)/tests/page.tsx
  apps/frontend/tests/e2e/pages/InsightsPage.ts
Due: frontend-format, frontend-lint, hardcoded-styles

feat(frontend): compact insights summary bar layout
  apps/frontend/src/app/(protected)/insights/components/InsightsSummaryBar.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(tools): address peqy review on azure devops PR
  apps/backend/src/rhesis/backend/app/routers/tools.py
  apps/frontend/src/config/tool-providers.tsx
  tests/backend/routes/test_tools_test_connection.py
Due: backend, frontend-format, frontend-lint, hardcoded-styles

fix(frontend): use caption variant in insights summary
  apps/frontend/src/app/(protected)/insights/components/InsightsSummaryBar.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): resolve insights type-check failures
  apps/frontend/src/app/(protected)/insights/components/__tests__/TestResultsFilters.test.tsx
  apps/frontend/src/app/(protected)/insights/utils/__tests__/behavior-insights-utils.test.ts
  apps/frontend/src/app/(protected)/insights/utils/insights-failed-tests.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix: resolve lint and frontend typecheck failures
  apps/backend/src/rhesis/backend/app/routers/tools.py
  apps/backend/src/rhesis/backend/app/services/tool/azure_devops.py
  apps/frontend/src/app/(protected)/tools/components/ToolConnectionDrawer.tsx
Due: backend, frontend-format, frontend-lint, hardcoded-styles

test(frontend): mock formatToolProviderDisplayName in drawer tests
  apps/frontend/src/app/(protected)/tools/components/__tests__/ToolConnectionDrawer.test.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): address peqy insights review feedback
  apps/frontend/src/app/(protected)/insights/components/BehaviorInsightsView.tsx
  apps/frontend/src/app/(protected)/insights/components/InsightsPage.tsx
  apps/frontend/src/app/(protected)/insights/hooks/useBehaviorInsightsData.ts
  apps/frontend/src/app/(protected)/insights/utils/__tests__/behavior-insights-utils.test.ts
  apps/frontend/src/app/(protected)/insights/utils/behavior-insights-utils.ts
  apps/frontend/src/app/(protected)/insights/utils/insights-failed-tests.ts
  apps/frontend/src/app/(protected)/tests/components/TestsGrid.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

Add Azure DevOps MCP tool integration (#2004)
  apps/backend/src/rhesis/backend/alembic/versions/ad0c2e7f9b14_add_azure_devops_tool_provider_type.py
  apps/backend/src/rhesis/backend/app/routers/tools.py
  apps/backend/src/rhesis/backend/app/schemas/services.py
  apps/backend/src/rhesis/backend/app/services/initial_data.json
  apps/backend/src/rhesis/backend/app/services/tool/actions.py
  apps/backend/src/rhesis/backend/app/services/tool/azure_devops.py
  apps/backend/src/rhesis/backend/app/services/tool/credential_merge.py
  apps/backend/src/rhesis/backend/app/services/tool/mcp/config.py
  apps/backend/src/rhesis/backend/app/services/tool/mcp/operations.py
  apps/backend/src/rhesis/backend/app/templates/mcp_default_query_prompt.jinja2
  apps/backend/src/rhesis/backend/app/templates/mcp_extract_prompt.jinja2
  apps/backend/src/rhesis/backend/app/templates/mcp_test_auth_prompt.jinja2
  apps/frontend/src/app/(protected)/tools/components/ConnectedToolCard.tsx
  apps/frontend/src/app/(protected)/tools/components/ToolConnectionDrawer.tsx
  apps/frontend/src/app/(protected)/tools/components/__tests__/ToolConnectionDrawer.test.tsx
  apps/frontend/src/config/tool-providers.tsx
  apps/frontend/src/utils/api-client/interfaces/tool.ts
  sdk/src/rhesis/sdk/agents/mcp/client.py
  sdk/src/rhesis/sdk/agents/mcp/provider_templates/azure_devops.json.j2
  tests/backend/routes/test_tools_azure_devops.py
  tests/backend/routes/test_tools_test_connection.py
  tests/backend/routes/test_tools_test_connection_schema.py
  tests/backend/services/test_azure_devops.py
  tests/backend/services/test_tool_actions.py
  tests/sdk/agents/mcp/test_azure_devops_provider_template.py
  tests/sdk/agents/mcp/test_client.py
Due: sdk, backend, frontend-format, frontend-lint, hardcoded-styles

feat(backend): enforce user ownership in visibility filter
  apps/backend/src/rhesis/backend/alembic/versions/b1c2d3e4f5a6_remove_public_from_test_set_visibility.py
  apps/backend/src/rhesis/backend/app/crud.py
  apps/backend/src/rhesis/backend/app/models/test_set.py
  apps/backend/src/rhesis/backend/app/routers/experiments.py
  apps/backend/src/rhesis/backend/app/routers/recycle.py
  apps/backend/src/rhesis/backend/app/services/experiment.py
  apps/backend/src/rhesis/backend/app/utils/crud_utils.py
  apps/backend/src/rhesis/backend/app/utils/query_utils.py
  apps/backend/src/rhesis/backend/tasks/test_set.py
  docs/content/contribute/backend/authorization.mdx
  tests/backend/security/test_visibility_filter.py
Due: backend

feat(backend): auto-resolve project_id from project-scoped token
  apps/backend/src/rhesis/backend/app/dependencies.py
  apps/backend/src/rhesis/backend/app/routers/telemetry.py
  apps/backend/src/rhesis/backend/app/routers/token.py
  apps/backend/src/rhesis/backend/app/schemas/token.py
  packages/rhesis/src/rhesis/telemetry/exporter.py
  packages/rhesis/src/rhesis/telemetry/provider.py
  sdk/src/rhesis/sdk/clients/rhesis.py
  sdk/src/rhesis/sdk/connector/manager.py
  sdk/src/rhesis/sdk/telemetry/tracer.py
Due: sdk, backend

fix(alembic): set down_revision to current HEAD on main
  apps/backend/src/rhesis/backend/alembic/versions/ad0c2e7f9b14_add_azure_devops_tool_provider_type.py
Due: backend

fix(backend): merge alembic heads blocking e2e startup
  apps/backend/src/rhesis/backend/alembic/versions/c9d0e1f2a3b4_add_linear_tool_provider_type.py
  apps/backend/src/rhesis/backend/alembic/versions/f0a1b2c3d4e5_merge_rbac_and_azure_devops_heads.py
Due: backend

Add Linear MCP tool integration (#2005)
  apps/backend/src/rhesis/backend/alembic/versions/c9d0e1f2a3b4_add_linear_tool_provider_type.py
  apps/backend/src/rhesis/backend/alembic/versions/f0a1b2c3d4e5_merge_rbac_and_azure_devops_heads.py
  apps/backend/src/rhesis/backend/app/routers/tools.py
  apps/backend/src/rhesis/backend/app/services/initial_data.json
  apps/backend/src/rhesis/backend/app/services/tool/actions.py
  apps/backend/src/rhesis/backend/app/templates/mcp_extract_prompt.jinja2
  apps/frontend/src/app/(protected)/tools/components/ToolConnectionDrawer.tsx
  apps/frontend/src/config/tool-providers.tsx
  sdk/src/rhesis/sdk/agents/mcp/provider_templates/linear.json.j2
  tests/backend/routes/test_tools_linear.py
  tests/backend/routes/test_tools_test_connection.py
  tests/backend/services/test_tool_actions.py
  tests/sdk/agents/mcp/test_linear_provider_template.py
Due: sdk, backend, frontend-format, frontend-lint, hardcoded-styles

feat(backend): auto-resolve project_id from project-scoped token (#2023)
  apps/backend/src/rhesis/backend/app/dependencies.py
  apps/backend/src/rhesis/backend/app/routers/telemetry.py
  apps/backend/src/rhesis/backend/app/routers/token.py
  apps/backend/src/rhesis/backend/app/schemas/token.py
  packages/rhesis/src/rhesis/telemetry/exporter.py
  packages/rhesis/src/rhesis/telemetry/provider.py
  sdk/src/rhesis/sdk/clients/rhesis.py
  sdk/src/rhesis/sdk/connector/manager.py
  sdk/src/rhesis/sdk/telemetry/tracer.py
Due: sdk, backend

fix(tests): update secret equality allowlist after visibility refactor
  tests/backend/test_secret_equality.py
Due: none

docs: clarify owner column priority in visibility filter
  apps/backend/src/rhesis/backend/app/utils/query_utils.py
Due: backend
