Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, docs-format, hardcoded-styles

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict

  - repo: local
    hooks:
        - id: trufflehog
          name: TruffleHog
          description: Detect secrets in your data.
          entry: bash -c 'PATH="$HOME/.local/bin:$PATH" trufflehog git file://. --since-commit HEAD --only-verified --fail --no-update'
          language: system
          stages: ["pre-commit", "pre-push"]

        - id: sdk
          name  : format sdk
          language: system
          entry: make -C sdk format
          files: ^sdk/
          pass_filenames: false

        - id: backend
          name  : format backend
          language: system
          entry: make -C apps/backend format_diff
          files: ^apps/backend/
          pass_filenames: false

        - id: frontend-format
          name: auto-fix frontend formatting
          language: system
          entry: bash -c "cd apps/frontend && npm run format"
          files: ^apps/frontend/
          pass_filenames: false

        - id: frontend-lint
          name: lint frontend
          language: system
          entry: bash -c "cd apps/frontend && npm run lint"
          files: ^apps/frontend/
          pass_filenames: false

        - id: docs-format
          name: auto-fix docs formatting
          language: system
          entry: bash -c "cd apps/documentation && npm run format"
          files: ^apps/documentation/
          pass_filenames: false

        - id: hardcoded-styles
          name: check hardcoded styles in frontend and docs
          language: system
          entry: node scripts/check-hardcoded-styles.js
          files: ^apps/(frontend|documentation)/
          pass_filenames: false


  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.8.0
  #   hooks:
  #     - id: mypy
  #       additional_dependencies: [
  #         "types-requests",
  #         "pandas-stubs",
  #         "pyarrow-stubs",
  #         "types-tqdm"
  #       ]

chore: screenshots for the auth redesign PR (not merged into main)
  login-dark-email.jpg
  login-dark.jpg
  login-light-email.jpg
  login-light.jpg
Due: none

build(frontend): self-host geist for the auth pages
  apps/frontend/public/fonts/geist/geist-mono-variable.woff2
  apps/frontend/public/fonts/geist/geist-variable.woff2
  apps/frontend/src/styles/fonts.css
Due: frontend-format, frontend-lint, hardcoded-styles

chore(dev): exclude auth palette from hardcoded-style check
  apps/frontend/src/components/auth/useAuthStyles.ts
  scripts/check-hardcoded-styles.js
Due: frontend-format, frontend-lint, hardcoded-styles

test(frontend): match sign-in heading by role
  apps/frontend/src/components/auth/__tests__/AuthForm.test.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): honor browser color scheme when unset
  apps/frontend/src/app/layout.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

feat(frontend): align auth pages with the website design
  apps/frontend/public/auth/hero-wash.png
  apps/frontend/src/app/auth/forgot-password/page.tsx
  apps/frontend/src/app/auth/magic-link/page.tsx
  apps/frontend/src/app/auth/reset-password/page.tsx
  apps/frontend/src/app/auth/verify-email/page.tsx
  apps/frontend/src/components/auth/AuthForm.tsx
  apps/frontend/src/components/auth/AuthPageShell.tsx
  apps/frontend/src/components/auth/BackgroundDecoration.tsx
  apps/frontend/src/components/auth/authTokens.ts
  apps/frontend/src/components/auth/useAuthStyles.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): paint theme background before hydration
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/styles/theme-background.ts
  apps/frontend/src/styles/theme.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): address auth review feedback
  apps/frontend/src/app/auth/forgot-password/page.tsx
  apps/frontend/src/app/auth/reset-password/page.tsx
  apps/frontend/src/components/auth/AuthForm.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

chore: add reset-password screenshot
  reset-no-token.jpg
Due: none

Align the login screen with the rhesis.ai design system (#2365)
  apps/frontend/public/auth/hero-wash.png
  apps/frontend/public/fonts/geist/geist-mono-variable.woff2
  apps/frontend/public/fonts/geist/geist-variable.woff2
  apps/frontend/src/app/auth/forgot-password/page.tsx
  apps/frontend/src/app/auth/magic-link/page.tsx
  apps/frontend/src/app/auth/reset-password/page.tsx
  apps/frontend/src/app/auth/verify-email/page.tsx
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/components/auth/AuthForm.tsx
  apps/frontend/src/components/auth/AuthPageShell.tsx
  apps/frontend/src/components/auth/BackgroundDecoration.tsx
  apps/frontend/src/components/auth/__tests__/AuthForm.test.tsx
  apps/frontend/src/components/auth/authTokens.ts
  apps/frontend/src/components/auth/useAuthStyles.ts
  apps/frontend/src/styles/fonts.css
  apps/frontend/src/styles/theme-background.ts
  apps/frontend/src/styles/theme.ts
  scripts/check-hardcoded-styles.js
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): make endpoint project field read-only
  apps/frontend/src/app/(protected)/endpoints/[identifier]/components/EndpointOverviewTab.tsx
  apps/frontend/src/app/(protected)/endpoints/components/__tests__/EndpointDetail.test.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

Feat/Grafana Dashboard For Rhesis (#2348)
  kubernetes/clusters/prd/cnpg-cluster/cnpg-cluster.yaml
  kubernetes/clusters/prd/external-secrets/grafana-viewer-credentials.yaml
  kubernetes/clusters/prd/external-secrets/kustomization.yaml
  kubernetes/clusters/prd/grafana-resources/grafana-viewer-credentials.yaml
  kubernetes/clusters/prd/grafana-resources/kustomization.yaml
  kubernetes/clusters/prd/grafana-resources/postgres-prd-datasource.yaml
  kubernetes/clusters/stg/cnpg-cluster/cnpg-cluster.yaml
  kubernetes/clusters/stg/external-secrets/grafana-viewer-credentials.yaml
  kubernetes/clusters/stg/external-secrets/kustomization.yaml
  kubernetes/clusters/stg/grafana-resources/grafana-viewer-credentials.yaml
  kubernetes/clusters/stg/grafana-resources/kustomization.yaml
  kubernetes/clusters/stg/grafana-resources/postgres-stg-datasource.yaml
Due: none

fix(frontend): make endpoint project field read-only (#2366)
  apps/frontend/src/app/(protected)/endpoints/[identifier]/components/EndpointOverviewTab.tsx
  apps/frontend/src/app/(protected)/endpoints/components/__tests__/EndpointDetail.test.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

chore(sdk): bump aiohttp, cryptography, gitpython for CVEs
  sdk/pyproject.toml
  sdk/uv.lock
Due: sdk

chore(backend): bump aiohttp, cryptography, gitpython for CVEs
  apps/backend/pyproject.toml
  apps/backend/uv.lock
Due: backend

chore(dev): bump aiohttp, cryptography, gitpython for CVEs across agent/demo projects
  agents/research-assistant/pyproject.toml
  agents/research-assistant/uv.lock
  agents/travel-agent/uv.lock
  apps/chatbot/pyproject.toml
  apps/chatbot/uv.lock
  apps/polyphemus/uv.lock
  examples/telemetry/pyproject.toml
  examples/telemetry/uv.lock
  packages/rhesis/uv.lock
  penelope/pyproject.toml
  penelope/uv.lock
Due: none

chore(frontend): bump next-auth for CVEs
  apps/frontend/package-lock.json
  apps/frontend/package.json
Due: frontend-format, frontend-lint, hardcoded-styles

chore(frontend): remove unused nodemailer dependency
  apps/frontend/package-lock.json
  apps/frontend/package.json
Due: frontend-format, frontend-lint, hardcoded-styles

fix: normalize AIMessage content for multi-provider compat
  agents/research-assistant/src/research_assistant/graph.py
  agents/research-assistant/src/research_assistant/utils.py
  agents/research-assistant/uv.lock
Due: none

fix: normalize AIMessage content for multi-provider compat (#2368)
  agents/research-assistant/src/research_assistant/graph.py
  agents/research-assistant/src/research_assistant/utils.py
  agents/research-assistant/uv.lock
Due: none

fix(infra): drop no-op kustomize field causing self-heal loop
  kubernetes/clusters/dev/base.yaml
  kubernetes/clusters/prd/base.yaml
  kubernetes/clusters/stg/base.yaml
Due: none

fix(auth): replace permanent Redis init latch with time-based cooldown (closes #2272) (#2280)
  apps/backend/src/rhesis/backend/app/auth/used_token_store.py
  apps/backend/src/rhesis/backend/app/services/connector/redis_client.py
  tests/backend/auth/test_used_token_store.py
  tests/backend/services/connector/test_redis_client_retry.py
Due: backend

fix(infra): drop no-op kustomize field causing self-heal loop (#2369)
  kubernetes/clusters/dev/base.yaml
  kubernetes/clusters/prd/base.yaml
  kubernetes/clusters/stg/base.yaml
Due: none

refactor(dev): split rh into scripts/rh libraries
  rh
  scripts/rh/common.sh
  scripts/rh/dev.sh
  scripts/rh/help.sh
  scripts/rh/quickstart.sh
  scripts/rh/services.sh
  scripts/rh/worktree.sh
Due: none

feat(backend): let the architect read annotations
  apps/backend/src/rhesis/backend/app/mcp_server/mcp_tools.yaml
  apps/backend/src/rhesis/backend/app/routers/annotations.py
  apps/backend/src/rhesis/backend/app/services/annotations.py
  sdk/src/rhesis/sdk/agents/architect/prompt_templates/telemachus-guidelines.j2
  tests/backend/routes/test_annotations.py
  tests/backend/services/test_mcp_tools_yaml.py
Due: sdk, backend

fix(backend): create metrics with all fields populated
  apps/backend/src/rhesis/backend/app/mcp_server/mcp_tools.yaml
  apps/backend/src/rhesis/backend/app/routers/metric.py
  sdk/src/rhesis/sdk/agents/architect/prompt_templates/telemachus-guidelines.j2
  sdk/src/rhesis/sdk/metrics/assets/generate_metric.jinja
  sdk/src/rhesis/sdk/metrics/assets/improve_metric.jinja
  sdk/src/rhesis/sdk/metrics/synthesizer.py
  tests/backend/services/test_mcp_tools_yaml.py
  tests/sdk/metrics/test_synthesizer.py
Due: sdk, backend

Chore/fixdeps direct bumps (#2367)
  agents/research-assistant/pyproject.toml
  agents/research-assistant/uv.lock
  agents/travel-agent/uv.lock
  apps/backend/pyproject.toml
  apps/backend/uv.lock
  apps/chatbot/pyproject.toml
  apps/chatbot/uv.lock
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/polyphemus/uv.lock
  examples/telemetry/pyproject.toml
  examples/telemetry/uv.lock
  packages/rhesis/uv.lock
  penelope/pyproject.toml
  penelope/uv.lock
  sdk/pyproject.toml
  sdk/uv.lock
Due: sdk, backend, frontend-format, frontend-lint, hardcoded-styles

fix(backend): return run and result ids on trace annotations
  apps/backend/src/rhesis/backend/app/mcp_server/mcp_tools.yaml
  apps/backend/src/rhesis/backend/app/services/annotations.py
  tests/backend/routes/test_annotations.py
Due: backend

fix(sdk): link behaviors and metrics in architect responses
  sdk/src/rhesis/sdk/agents/architect/prompt_templates/streaming_response.j2
  sdk/src/rhesis/sdk/agents/architect/prompt_templates/telemachus-guidelines.j2
  tests/sdk/agents/test_architect_prompt_loader.py
Due: sdk

fix(dev): persist dev database and narrow worker cleanup
  scripts/rh/dev.sh
  scripts/rh/help.sh
  scripts/rh/services.sh
Due: none

fix(sdk): use trace_db_id in architect trace links
  apps/backend/src/rhesis/backend/app/mcp_server/mcp_tools.yaml
  sdk/src/rhesis/sdk/agents/architect/prompt_templates/streaming_response.j2
  sdk/src/rhesis/sdk/agents/architect/prompt_templates/telemachus-guidelines.j2
  tests/sdk/agents/test_architect_prompt_loader.py
Due: sdk, backend

Let the architect read annotations and create complete metrics (#2374)
  apps/backend/src/rhesis/backend/app/mcp_server/mcp_tools.yaml
  apps/backend/src/rhesis/backend/app/routers/annotations.py
  apps/backend/src/rhesis/backend/app/routers/metric.py
  apps/backend/src/rhesis/backend/app/services/annotations.py
  sdk/src/rhesis/sdk/agents/architect/prompt_templates/streaming_response.j2
  sdk/src/rhesis/sdk/agents/architect/prompt_templates/telemachus-guidelines.j2
  sdk/src/rhesis/sdk/metrics/assets/generate_metric.jinja
  sdk/src/rhesis/sdk/metrics/assets/improve_metric.jinja
  sdk/src/rhesis/sdk/metrics/synthesizer.py
  tests/backend/routes/test_annotations.py
  tests/backend/services/test_mcp_tools_yaml.py
  tests/sdk/agents/test_architect_prompt_loader.py
  tests/sdk/metrics/test_synthesizer.py
Due: sdk, backend

refactor: clean up comments and improve clarity in script files
  rh
  scripts/rh/common.sh
  scripts/rh/dev.sh
  scripts/rh/help.sh
  scripts/rh/quickstart.sh
  scripts/rh/services.sh
Due: none

Split the rh CLI into scripts/rh libraries (#2372)
  rh
  scripts/rh/common.sh
  scripts/rh/dev.sh
  scripts/rh/help.sh
  scripts/rh/quickstart.sh
  scripts/rh/services.sh
  scripts/rh/worktree.sh
Due: none

feat(frontend): preselect only playground endpoint
  apps/frontend/src/app/(protected)/playground/components/PlaygroundClient.tsx
  apps/frontend/src/app/(protected)/playground/components/__tests__/PlaygroundClient.test.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

refactor(dev): centralize dev ports in scripts/rh/ports.sh
  apps/frontend/package.json
  apps/frontend/start.sh
  rh
  scripts/rh/dev.sh
  scripts/rh/ports.sh
  scripts/rh/services.sh
Due: frontend-format, frontend-lint, hardcoded-styles

feat(frontend): preselect only playground endpoint (#2375)
  apps/frontend/src/app/(protected)/playground/components/PlaygroundClient.tsx
  apps/frontend/src/app/(protected)/playground/components/__tests__/PlaygroundClient.test.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(infra): point stg grafana datasource at rw, not ro, service
  kubernetes/clusters/stg/grafana-resources/postgres-stg-datasource.yaml
Due: none

fix(infra): point stg grafana datasource at rw, not ro, service (#2379)
  kubernetes/clusters/stg/grafana-resources/postgres-stg-datasource.yaml
Due: none

chore(frontend): remove unused Charts
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/app/(protected)/test-runs/components/TestRunCharts.tsx
  apps/frontend/src/app/(protected)/tests/[identifier]/components/TestDetailCharts.tsx
  apps/frontend/src/app/(protected)/tests/components/TestCharts.tsx
  apps/frontend/src/components/common/BaseCharts.ts
  apps/frontend/src/components/common/BaseChartsGrid.tsx
  apps/frontend/src/components/common/BaseLineChart.tsx
  apps/frontend/src/components/common/BasePieChart.tsx
  apps/frontend/src/components/common/BaseScatterChart.tsx
  apps/frontend/src/components/layout/BaseChartColors.ts
  apps/frontend/src/styles/BaseChartsGrid.module.css
  apps/frontend/src/styles/BaseLineChart.module.css
  apps/frontend/src/utils/api-client/__tests__/test-runs-client.test.ts
  apps/frontend/src/utils/api-client/__tests__/tests-client.test.ts
  apps/frontend/src/utils/api-client/interfaces/common.ts
  apps/frontend/src/utils/api-client/interfaces/individual-test-stats.ts
  apps/frontend/src/utils/api-client/interfaces/test-run-stats.ts
  apps/frontend/src/utils/api-client/interfaces/tests.ts
  apps/frontend/src/utils/api-client/test-runs-client.ts
  apps/frontend/src/utils/api-client/tests-client.ts
Due: frontend-format, frontend-lint, hardcoded-styles
