Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, docs-format, hardcoded-styles

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict

  - repo: local
    hooks:
        - id: trufflehog
          name: TruffleHog
          description: Detect secrets in your data.
          entry: bash -c 'trufflehog git file://. --since-commit HEAD --results=verified,unknown --fail'
          language: system
          stages: ["pre-commit", "pre-push"]

        - id: sdk
          name  : format sdk
          language: system
          entry: make -C sdk format
          files: ^sdk/
          pass_filenames: false

        - id: backend
          name  : format backend
          language: system
          entry: make -C apps/backend format_diff
          files: ^apps/backend/
          pass_filenames: false

        - id: frontend-format
          name: auto-fix frontend formatting
          language: system
          entry: bash -c "cd apps/frontend && npm run format"
          files: ^apps/frontend/
          pass_filenames: false

        - id: frontend-lint
          name: lint frontend
          language: system
          entry: bash -c "cd apps/frontend && npm run lint"
          files: ^apps/frontend/
          pass_filenames: false

        - id: docs-format
          name: auto-fix docs formatting
          language: system
          entry: bash -c "cd apps/documentation && npm run format"
          files: ^apps/documentation/
          pass_filenames: false

        - id: hardcoded-styles
          name: check hardcoded styles in frontend and docs
          language: system
          entry: node scripts/check-hardcoded-styles.js
          files: ^apps/(frontend|documentation)/
          pass_filenames: false


  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.8.0
  #   hooks:
  #     - id: mypy
  #       additional_dependencies: [
  #         "types-requests",
  #         "pandas-stubs",
  #         "pyarrow-stubs",
  #         "types-tqdm"
  #       ]

feat: make analysis_type completely optional with sensible defaults
  penelope/examples/custom_tools.py
  penelope/src/rhesis/penelope/tools/analysis.py
Due: none

feat: optional parameters for loading hugginface models
  apps/polyphemus/src/rhesis/polyphemus/benchmarking/models/deep_hermes3.py
  apps/polyphemus/src/rhesis/polyphemus/benchmarking/models/dolphin3.py
  apps/polyphemus/src/rhesis/polyphemus/benchmarking/models/hermes3.py
  sdk/src/rhesis/sdk/models/providers/huggingface.py
  tests/sdk/models/providers/test_hugginface.py
Due: sdk

refactor: remove ncdu dep
  apps/frontend/Dockerfile
Due: frontend-format, frontend-lint, hardcoded-styles

fix: resolve workflow validation and tool result format issues
  penelope/src/rhesis/penelope/executor.py
  penelope/src/rhesis/penelope/workflow.py
Due: none

fix: resolve TypeError in execute_with_validation method call
  penelope/src/rhesis/penelope/executor.py
Due: none

fix: align test config frontend with backend API changes
  apps/frontend/src/app/(protected)/tests/new-generated/components/TestGenerationFlow.tsx
  apps/frontend/src/utils/api-client/services-client.ts
Due: frontend-format, frontend-lint, hardcoded-styles

feat: improve loading UX when transitioning to test interface
  apps/frontend/src/app/(protected)/tests/new-generated/components/TestGenerationFlow.tsx
  apps/frontend/src/app/(protected)/tests/new-generated/components/TestGenerationInterface.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

feat: add regenerate samples button to test interface
  apps/frontend/src/app/(protected)/tests/new-generated/components/TestGenerationFlow.tsx
  apps/frontend/src/app/(protected)/tests/new-generated/components/TestGenerationInterface.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix: regenerate samples should only load samples panel, not config
  apps/frontend/src/app/(protected)/tests/new-generated/components/TestGenerationFlow.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix: re-fetch endpoint responses when samples are regenerated
  apps/frontend/src/app/(protected)/tests/new-generated/components/TestGenerationInterface.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix: resolve useEffect dependency array size warning
  apps/frontend/src/app/(protected)/tests/new-generated/components/TestGenerationInterface.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

feat: improve endpoint selection UX
  apps/frontend/src/app/(protected)/tests/new-generated/components/TestGenerationInterface.tsx
  apps/frontend/src/app/(protected)/tests/new-generated/components/shared/EndpointSelector.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

refactor: move close icon inside endpoint button and simplify display
  apps/frontend/src/app/(protected)/tests/new-generated/components/TestGenerationInterface.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

feat: sort chips to display active ones first
  apps/frontend/src/app/(protected)/tests/new-generated/components/shared/ChipGroup.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

feat: add alphabetical sorting within active/inactive chip groups
  apps/frontend/src/app/(protected)/tests/new-generated/components/shared/ChipGroup.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix: minor formatting improvement in executor.py
  penelope/src/rhesis/penelope/executor.py
Due: none

fix: wrap radio buttons in RadioGroup to prevent multi-selection
  apps/frontend/src/app/(protected)/tests/new-generated/components/shared/TestSetSizeSelector.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix: maintain stable chip order when toggling active state
  apps/frontend/src/app/(protected)/tests/new-generated/components/shared/ChipGroup.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix: restore active-first sorting while maintaining stable order on toggle
  apps/frontend/src/app/(protected)/tests/new-generated/components/shared/ChipGroup.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix: cache chip order instead of chip objects to fix toggle interaction
  apps/frontend/src/app/(protected)/tests/new-generated/components/shared/ChipGroup.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix: remove unwanted hover animation from chips
  apps/frontend/src/app/(protected)/tests/new-generated/components/shared/ChipGroup.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix: trigger live response fetch after sample regeneration
  apps/frontend/src/app/(protected)/tests/new-generated/components/TestGenerationInterface.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix: use stable fetchTrigger instead of processedSampleIds.size
  apps/frontend/src/app/(protected)/tests/new-generated/components/TestGenerationInterface.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

feat: prevent deselecting last active chip in each section
  apps/frontend/src/app/(protected)/tests/new-generated/components/TestGenerationFlow.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

docs: update README.md to enhance project structure and add security/privacy section
  README.md
Due: none

style: fix prettier formatting issues
  apps/frontend/src/app/(protected)/tests/new-generated/components/TestGenerationFlow.tsx
  apps/frontend/src/app/(protected)/tests/new-generated/components/TestGenerationInterface.tsx
  apps/frontend/src/app/(protected)/tests/new-generated/components/shared/TestSetSizeSelector.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix: allow consecutive target interactions in workflow validation
  penelope/src/rhesis/penelope/workflow.py
Due: none

update telemetry section in the repo readme.md file
  README.md
Due: none

perf(test-runs): lazy load comparison data on demand
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestRunMainView.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix: disable docs in quick start
  rh
Due: none

refactor: remove tests from docs build
  .github/workflows/docs.yml
Due: none

perf: improve docs docker image
  docs/.dockerignore
  docs/src/.dockerignore
  docs/src/Dockerfile
  docs/src/next.config.mjs
Due: none

style(penelope): fix ruff E501 line length violations
  penelope/examples/custom_tools.py
  penelope/src/rhesis/penelope/workflow.py
Due: none

feat(penelope): implement missing analysis tools
  penelope/src/rhesis/penelope/tools/analysis.py
  tests/penelope/tools/test_analysis.py
Due: none

fix: remove integration tests from unit tests
  .github/workflows/sdk-test.yml
  tests/sdk/integration/metrics/test_metrics.py
  tests/sdk/metrics/providers/deepeval/test_conversational_metrics.py
  tests/sdk/metrics/providers/native/test_conversational_judges.py
Due: none

tests: set up api keys in conftest
  tests/sdk/conftest.py
  tests/sdk/metrics/providers/native/test_categorical_judge.py
  tests/sdk/metrics/providers/native/test_factory.py
  tests/sdk/metrics/providers/native/test_judge_base.py
  tests/sdk/metrics/providers/native/test_numeric_judge.py
  tests/sdk/metrics/test_base.py
  tests/sdk/metrics/test_metric_scope.py
Due: none

test: remove unused set_env functions
  tests/sdk/metrics/providers/native/test_factory.py
  tests/sdk/metrics/test_metric_scope.py
Due: none

fix: add backend dev docker file, change tests ports
  apps/backend/Dockerfile.dev
  tests/sdk/conftest.py
  tests/sdk/integration/conftest.py
  tests/sdk/integration/docker-compose.yml
Due: backend

fix: sdk makefile
  sdk/Makefile
Due: sdk
