Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, docs-format, hardcoded-styles

sdk:
  name: format sdk
  language: system
  entry: make -C sdk format
  pass_filenames: false

backend:
  name: format backend
  language: system
  entry: make -C apps/backend format_diff
  pass_filenames: false

frontend-format:
  name: auto-fix frontend formatting
  language: system
  entry: bash -c "cd apps/frontend && npm run format"
  pass_filenames: false

frontend-lint:
  name: lint frontend
  language: system
  entry: bash -c "cd apps/frontend && npm run lint"
  pass_filenames: false

docs-format:
  name: auto-fix docs formatting
  language: system
  entry: bash -c "cd apps/documentation && npm run format"
  pass_filenames: false

hardcoded-styles:
  name: check hardcoded styles in frontend and docs
  language: system
  entry: node scripts/check-hardcoded-styles.js
  pass_filenames: false

fix(dev): move prd root Application to bootstrap for reproducibility (#2550)
  .github/workflows/publish-release.yml
  kubernetes/README.md
  kubernetes/bootstrap/prd-base.yaml
  kubernetes/clusters/prd/base.yaml
  kubernetes/clusters/prd/kustomization.yaml
  kubernetes/clusters/prd/rhesis/rhesis-application.yaml
Due: none

ci: trigger sdk tests on changes to their own files
  .github/workflows/sdk-test.yml
Due: none

ci: trigger sdk tests on changes to their own files (#2664)
  .github/workflows/sdk-test.yml
Due: none

perf(frontend): parallelize identifier-only SSR prefetches
  apps/frontend/src/app/(protected)/experiments/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/explorer/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/projects/[identifier]/endpoints/[endpointId]/page.tsx
  apps/frontend/src/app/(protected)/requirements/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/tasks/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/test-sets/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/tests/[identifier]/page.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(dev): resolve local k8s deployment issues in minikube
  infrastructure/k8s/charts/rhesis/values-local.yaml
  infrastructure/k8s/k8s-deploy.sh
  infrastructure/k8s/manifests/secrets/rhesis-secrets.yaml.example
Due: none

feat(dev): add minikube deployment guide and secret generation
  docs/content/docs/deployment/_meta.tsx
  docs/content/docs/deployment/index.mdx
  docs/content/docs/deployment/kubernetes.mdx
  infrastructure/k8s/K8S-DEPLOY-USAGE.md
  infrastructure/k8s/generate-secrets.sh
  infrastructure/k8s/k8s-deploy.sh
  infrastructure/k8s/manifests/secrets/rhesis-secrets.yaml.example
Due: none

fix(dev): correct k8s secrets/build docs review nits
  docs/content/docs/deployment/kubernetes.mdx
  infrastructure/k8s/k8s-deploy.sh
  infrastructure/k8s/manifests/secrets/rhesis-secrets.yaml.example
Due: none

docs(frontend): trim down in-line comments
  apps/frontend/src/app/(protected)/experiments/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/explorer/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/projects/[identifier]/endpoints/[endpointId]/page.tsx
  apps/frontend/src/app/(protected)/requirements/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/tasks/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/test-sets/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/tests/[identifier]/page.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(dev): auto-create rhesis-config.yaml on first minikube deploy
  docs/content/docs/deployment/kubernetes.mdx
  infrastructure/k8s/k8s-deploy.sh
Due: none

fix(frontend): distinguish editable fields from read-only in dark mode
  apps/frontend/src/components/common/EditableField.tsx
  apps/frontend/src/components/common/drawerFormFieldSx.ts
Due: frontend-format, frontend-lint, hardcoded-styles

Parallelize identifier-only SSR prefetches on detail pages (#2665)
  apps/frontend/src/app/(protected)/experiments/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/explorer/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/projects/[identifier]/endpoints/[endpointId]/page.tsx
  apps/frontend/src/app/(protected)/requirements/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/tasks/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/test-sets/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/tests/[identifier]/page.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

Fix: Minikube Config (#2210)
  docs/content/docs/deployment/_meta.tsx
  docs/content/docs/deployment/index.mdx
  docs/content/docs/deployment/kubernetes.mdx
  infrastructure/k8s/K8S-DEPLOY-USAGE.md
  infrastructure/k8s/charts/rhesis/values-local.yaml
  infrastructure/k8s/generate-secrets.sh
  infrastructure/k8s/k8s-deploy.sh
  infrastructure/k8s/manifests/secrets/rhesis-secrets.yaml.example
Due: none

refactor(frontend): use firstPageParams() in list pages
  apps/frontend/src/app/(protected)/annotations/page.tsx
  apps/frontend/src/app/(protected)/endpoints/page.tsx
  apps/frontend/src/app/(protected)/experiments/page.tsx
  apps/frontend/src/app/(protected)/explorer/page.tsx
  apps/frontend/src/app/(protected)/jobs/page.tsx
  apps/frontend/src/app/(protected)/knowledge/page.tsx
  apps/frontend/src/app/(protected)/metrics/page.tsx
  apps/frontend/src/app/(protected)/requirements/page.tsx
  apps/frontend/src/app/(protected)/tasks/page.tsx
  apps/frontend/src/app/(protected)/test-runs/page.tsx
  apps/frontend/src/app/(protected)/test-sets/page.tsx
  apps/frontend/src/app/(protected)/tests/page.tsx
  apps/frontend/src/app/(protected)/tokens/page.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix: linting
  apps/frontend/src/app/(protected)/annotations/page.tsx
  apps/frontend/src/app/(protected)/endpoints/page.tsx
  apps/frontend/src/app/(protected)/experiments/page.tsx
  apps/frontend/src/app/(protected)/explorer/page.tsx
  apps/frontend/src/app/(protected)/jobs/page.tsx
  apps/frontend/src/app/(protected)/knowledge/page.tsx
  apps/frontend/src/app/(protected)/metrics/page.tsx
  apps/frontend/src/app/(protected)/requirements/page.tsx
  apps/frontend/src/app/(protected)/tasks/page.tsx
  apps/frontend/src/app/(protected)/test-runs/page.tsx
  apps/frontend/src/app/(protected)/test-sets/page.tsx
  apps/frontend/src/app/(protected)/tests/page.tsx
  apps/frontend/src/app/(protected)/tokens/page.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): distinguish editable fields from read-only in dark mode (#2666)
  apps/frontend/src/components/common/EditableField.tsx
  apps/frontend/src/components/common/drawerFormFieldSx.ts
Due: frontend-format, frontend-lint, hardcoded-styles

docs: describe the platform as the version source of truth
  docs/content/contribute/releasing.mdx
Due: none

refactor(dev): tie backend and frontend to the platform version
  .github/release
  .github/release_tools/__init__.py
  .github/release_tools/cli.py
  .github/release_tools/config.py
  .github/release_tools/git_ops.py
  .github/release_tools/processor.py
  .github/release_tools/publish.py
  .github/release_tools/version.py
  .github/workflows/set-up-release.yml
Due: none

test(tests): cover which components a release bumps and tags
  tests/release_tools/test_components.py
Due: none

refactor(frontend): dedupe first-page params across list pages (#2667)
  apps/frontend/src/app/(protected)/annotations/page.tsx
  apps/frontend/src/app/(protected)/endpoints/page.tsx
  apps/frontend/src/app/(protected)/experiments/page.tsx
  apps/frontend/src/app/(protected)/explorer/page.tsx
  apps/frontend/src/app/(protected)/jobs/page.tsx
  apps/frontend/src/app/(protected)/knowledge/page.tsx
  apps/frontend/src/app/(protected)/metrics/page.tsx
  apps/frontend/src/app/(protected)/requirements/page.tsx
  apps/frontend/src/app/(protected)/tasks/page.tsx
  apps/frontend/src/app/(protected)/test-runs/page.tsx
  apps/frontend/src/app/(protected)/test-sets/page.tsx
  apps/frontend/src/app/(protected)/tests/page.tsx
  apps/frontend/src/app/(protected)/tokens/page.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

refactor(frontend): centralize session-guard checks across SSR pages
  apps/frontend/src/app/(protected)/architect/page.tsx
  apps/frontend/src/app/(protected)/endpoints/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/experiments/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/experiments/page.tsx
  apps/frontend/src/app/(protected)/explorer/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/insights/page.tsx
  apps/frontend/src/app/(protected)/jobs/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/metrics/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/metrics/page.tsx
  apps/frontend/src/app/(protected)/onboarding/page.tsx
  apps/frontend/src/app/(protected)/organizations/usage/page.tsx
  apps/frontend/src/app/(protected)/projects/[identifier]/endpoints/[endpointId]/page.tsx
  apps/frontend/src/app/(protected)/projects/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/projects/create-new/page.tsx
  apps/frontend/src/app/(protected)/projects/page.tsx
  apps/frontend/src/app/(protected)/requirements/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/requirements/page.tsx
  apps/frontend/src/app/(protected)/tasks/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/compare/page.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/test-sets/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/tests/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/tokens/page.tsx
  apps/frontend/src/utils/require-session.ts
Due: frontend-format, frontend-lint, hardcoded-styles

refactor(frontend): drop bespoke error UI on traces/knowledge pages
  apps/frontend/src/app/(protected)/knowledge/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/knowledge/page.tsx
  apps/frontend/src/app/(protected)/traces/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/traces/page.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

Make the platform version the source of truth for backend and frontend (#2668)
  .github/release
  .github/release_tools/__init__.py
  .github/release_tools/cli.py
  .github/release_tools/config.py
  .github/release_tools/git_ops.py
  .github/release_tools/processor.py
  .github/release_tools/publish.py
  .github/release_tools/version.py
  .github/workflows/set-up-release.yml
  docs/content/contribute/releasing.mdx
  tests/release_tools/test_components.py
Due: none

ci: guard java sdk against backend changes
  .github/workflows/java-sdk-test.yml
  tests/README.md
  tests/docker-compose.test.yml
Due: none

ci: guard java sdk against backend changes (#2670)
  .github/workflows/java-sdk-test.yml
  tests/README.md
  tests/docker-compose.test.yml
Due: none

refactor(backend): move project membership to its own service
  apps/backend/src/rhesis/backend/app/crud/project.py
  apps/backend/src/rhesis/backend/app/management/recover_org_owner.py
  apps/backend/src/rhesis/backend/app/routers/project.py
  apps/backend/src/rhesis/backend/app/services/organization.py
  apps/backend/src/rhesis/backend/app/services/project_membership.py
  tests/backend/auth/test_permission_cache.py
  tests/backend/auth/test_sp6_membership_hardening.py
  tests/backend/routes/test_project_membership.py
Due: backend

fix(backend): enable loki compactor retention and reduce dev retention
  kubernetes/base/loki/loki-application.yaml
  kubernetes/clusters/dev/loki/kustomization.yaml
Due: none

refactor(backend): move project membership to its own service (#2673)
  apps/backend/src/rhesis/backend/app/crud/project.py
  apps/backend/src/rhesis/backend/app/management/recover_org_owner.py
  apps/backend/src/rhesis/backend/app/routers/project.py
  apps/backend/src/rhesis/backend/app/services/organization.py
  apps/backend/src/rhesis/backend/app/services/project_membership.py
  tests/backend/auth/test_permission_cache.py
  tests/backend/auth/test_sp6_membership_hardening.py
  tests/backend/routes/test_project_membership.py
Due: backend

fix(backend): add delete_request_store required by loki 3.x compactor
  kubernetes/base/loki/loki-application.yaml
Due: none

Centralize session-guard checks across SSR pages (#2669)
  apps/frontend/src/app/(protected)/architect/page.tsx
  apps/frontend/src/app/(protected)/endpoints/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/experiments/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/experiments/page.tsx
  apps/frontend/src/app/(protected)/explorer/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/insights/page.tsx
  apps/frontend/src/app/(protected)/jobs/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/knowledge/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/knowledge/page.tsx
  apps/frontend/src/app/(protected)/metrics/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/metrics/page.tsx
  apps/frontend/src/app/(protected)/onboarding/page.tsx
  apps/frontend/src/app/(protected)/organizations/usage/page.tsx
  apps/frontend/src/app/(protected)/projects/[identifier]/endpoints/[endpointId]/page.tsx
  apps/frontend/src/app/(protected)/projects/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/projects/create-new/page.tsx
  apps/frontend/src/app/(protected)/projects/page.tsx
  apps/frontend/src/app/(protected)/requirements/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/requirements/page.tsx
  apps/frontend/src/app/(protected)/tasks/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/compare/page.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/test-sets/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/tests/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/tokens/page.tsx
  apps/frontend/src/app/(protected)/traces/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/traces/page.tsx
  apps/frontend/src/utils/require-session.ts
Due: frontend-format, frontend-lint, hardcoded-styles

docs(tests): declutter and fact-check testing readmes
  tests/README.md
  tests/frontend/README.md
  tests/sdk/README.md
Due: none

fix(backend): lower compactor worker count to 10 for single-binary loki
  kubernetes/base/loki/loki-application.yaml
Due: none

docs(tests): declutter and fact-check testing readmes (#2674)
  tests/README.md
  tests/frontend/README.md
  tests/sdk/README.md
Due: none

ci: cancel superseded test and lint runs on pull requests
  .github/workflows/backend-test.yml
  .github/workflows/frontend-e2e-test.yml
  .github/workflows/frontend-test.yml
  .github/workflows/lint.yml
  .github/workflows/penelope-test.yml
  .github/workflows/sdk-test.yml
  .github/workflows/security.yml
Due: none

ci: cancel superseded test and lint runs on pull requests (#2675)
  .github/workflows/backend-test.yml
  .github/workflows/frontend-e2e-test.yml
  .github/workflows/frontend-test.yml
  .github/workflows/lint.yml
  .github/workflows/penelope-test.yml
  .github/workflows/sdk-test.yml
  .github/workflows/security.yml
Due: none

fix(backend): stop swallowing raiseload errors in safe_relationship
  apps/backend/src/rhesis/backend/app/models/mixins.py
Due: backend

fix(backend): use detail loaders where relations are read after fetch
  apps/backend/src/rhesis/backend/app/crud/prompt.py
  apps/backend/src/rhesis/backend/app/routers/test.py
  apps/backend/src/rhesis/backend/app/utils/crud_utils.py
Due: backend

docs(tests): update marker documentation
  tests/README.md
  tests/backend/README.md
Due: none

fix(tests): drop no-op ignore and dead fixture
  .github/workflows/backend-test.yml
  apps/backend/Makefile
  tests/backend/routes/conftest.py
Due: backend

Path conditions:
  sdk: any of: ^sdk/
  backend: any of: ^apps/backend/
  frontend-format: any of: ^apps/frontend/
  frontend-lint: any of: ^apps/frontend/
  docs-format: any of: ^apps/documentation/
  hardcoded-styles: any of: ^apps/(frontend|documentation)/
