Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, docs-format, hardcoded-styles

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict

  - repo: local
    hooks:
        - id: trufflehog
          name: TruffleHog
          description: Detect secrets in your data.
          entry: bash -c 'PATH="$HOME/.local/bin:$PATH" trufflehog git file://. --since-commit HEAD --only-verified --fail --no-update'
          language: system
          stages: ["pre-commit", "pre-push"]

        - id: sdk
          name  : format sdk
          language: system
          entry: make -C sdk format
          files: ^sdk/
          pass_filenames: false

        - id: backend
          name  : format backend
          language: system
          entry: make -C apps/backend format_diff
          files: ^apps/backend/
          pass_filenames: false

        - id: frontend-format
          name: auto-fix frontend formatting
          language: system
          entry: bash -c "cd apps/frontend && npm run format"
          files: ^apps/frontend/
          pass_filenames: false

        - id: frontend-lint
          name: lint frontend
          language: system
          entry: bash -c "cd apps/frontend && npm run lint"
          files: ^apps/frontend/
          pass_filenames: false

        - id: docs-format
          name: auto-fix docs formatting
          language: system
          entry: bash -c "cd apps/documentation && npm run format"
          files: ^apps/documentation/
          pass_filenames: false

        - id: hardcoded-styles
          name: check hardcoded styles in frontend and docs
          language: system
          entry: node scripts/check-hardcoded-styles.js
          files: ^apps/(frontend|documentation)/
          pass_filenames: false


  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.8.0
  #   hooks:
  #     - id: mypy
  #       additional_dependencies: [
  #         "types-requests",
  #         "pandas-stubs",
  #         "pyarrow-stubs",
  #         "types-tqdm"
  #       ]

fix(auth): make terms-status authenticated
  apps/backend/src/rhesis/backend/app/auth/public_routes.py
  apps/backend/src/rhesis/backend/app/auth/terms.py
  apps/backend/src/rhesis/backend/app/routers/auth.py
  apps/frontend/src/app/(protected)/onboarding/components/OrganizationDetailsStep.tsx
  apps/frontend/src/utils/api-client/auth-client.ts
  tests/backend/routes/test_auth.py
Due: backend, frontend-format, frontend-lint, hardcoded-styles

fix(auth): persist accept-terms on request db session
  apps/backend/src/rhesis/backend/app/routers/auth.py
Due: backend

refactor(auth): store terms acceptance in user_settings
  apps/backend/src/rhesis/backend/alembic/versions/c9e8f7a6b5d4_add_terms_acceptance_to_user.py
  apps/backend/src/rhesis/backend/app/auth/terms.py
  apps/backend/src/rhesis/backend/app/models/user.py
  apps/backend/src/rhesis/backend/app/routers/auth.py
  apps/backend/src/rhesis/backend/app/schemas/user.py
  apps/frontend/src/app/(protected)/ProtectedLayoutClient.tsx
  apps/frontend/src/app/(protected)/onboarding/components/OrganizationDetailsStep.tsx
  apps/frontend/src/components/auth/TermsAcceptanceGate.tsx
  tests/backend/auth/test_terms.py
  tests/backend/routes/test_auth.py
Due: backend, frontend-format, frontend-lint, hardcoded-styles

style(frontend): format terms gate and tests
  apps/frontend/src/app/(protected)/projects/[identifier]/__tests__/client-wrapper.test.tsx
  apps/frontend/src/components/auth/TermsAcceptanceGate.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

test(ci): fix backend and e2e failures on v0.10.0
  apps/frontend/src/app/(protected)/knowledge/components/KnowledgeClientWrapper.tsx
  apps/frontend/tests/e2e/pages/InsightsPage.ts
  apps/frontend/tests/e2e/tests/knowledge-crud.spec.ts
  tests/backend/ee/rbac/test_sp8_access_control.py
  tests/backend/ee/sso/test_sso_user_utils.py
Due: frontend-format, frontend-lint, hardcoded-styles

fix(tests): align mocks with joined_at and effective roles
  tests/backend/ee/rbac/test_sp8_access_control.py
  tests/backend/ee/sso/test_sso_user_utils.py
Due: none

fix(frontend): avoid unhandled errors in terms gate
  apps/frontend/src/components/auth/TermsAcceptanceGate.tsx
  apps/frontend/src/utils/api-client/auth-client.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(auth): make user_settings.terms read-only
  apps/backend/src/rhesis/backend/app/schemas/user.py
Due: backend

fix(e2e): seed terms acceptance for quick start user
  apps/backend/src/rhesis/backend/local_init.py
  apps/frontend/tests/e2e/auth.setup.ts
  apps/frontend/tests/e2e/mock-backend.mjs
Due: backend, frontend-format, frontend-lint, hardcoded-styles

fix(e2e): harden navigation and terms setup
  apps/backend/src/rhesis/backend/local_init.py
  apps/frontend/tests/e2e/auth.setup.ts
  apps/frontend/tests/e2e/helpers/TermsHelper.ts
  apps/frontend/tests/e2e/pages/InsightsPage.ts
Due: backend, frontend-format, frontend-lint, hardcoded-styles

fix(auth): skip terms gate in quick start mode
  apps/frontend/src/components/auth/TermsAcceptanceGate.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): preserve search when grid filters active
  apps/frontend/src/hooks/__tests__/useGridState.test.ts
  apps/frontend/src/hooks/useGridState.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): address peqy review on useGridState
  apps/frontend/src/hooks/__tests__/useGridState.test.ts
  apps/frontend/src/hooks/useGridState.ts
Due: frontend-format, frontend-lint, hardcoded-styles

style(frontend): format useGridState for prettier
  apps/frontend/src/hooks/useGridState.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(knowledge): address review feedback and prettier
  apps/frontend/src/app/(protected)/knowledge/components/KnowledgeClientWrapper.tsx
  apps/frontend/tests/e2e/pages/InsightsPage.ts
  apps/frontend/tests/e2e/tests/knowledge-crud.spec.ts
Due: frontend-format, frontend-lint, hardcoded-styles

chore(config): clean up env and harden docker setup (#2146)
  .env.example
  .github/workflows/frontend.yml
  apps/backend/src/rhesis/backend/app/config/settings.py
  apps/backend/src/rhesis/backend/app/main.py
  apps/backend/src/rhesis/backend/app/routers/auth.py
  apps/frontend/Makefile
  apps/frontend/jest.config.js
  apps/frontend/playwright.config.ts
  apps/frontend/src/app/(protected)/knowledge/components/ToolImportPanel.tsx
  apps/frontend/src/app/(protected)/onboarding/components/InviteTeamStep.tsx
  apps/frontend/src/app/(protected)/onboarding/components/OnboardingPageClient.tsx
  apps/frontend/src/app/(protected)/organizations/team/components/TeamInviteForm.tsx
  apps/frontend/src/auth.ts
  apps/frontend/src/components/common/RunDrawer.tsx
  apps/frontend/src/proxy.ts
  apps/frontend/src/utils/url-resolver.ts
  apps/frontend/src/utils/uuid.ts
  apps/frontend/tests/e2e/helpers/seed-auth.ts
  charts/rhesis/templates/configmap.yaml
  charts/rhesis/values-dev.yaml
  charts/rhesis/values-prd.yaml
  charts/rhesis/values-stg.yaml
  charts/rhesis/values.yaml
  docker-compose.yml
  docs/content/contribute/environment-variables.mdx
  docs/content/contribute/frontend/authentication.mdx
  docs/content/contribute/frontend/index.mdx
  docs/content/docs/deployment/self-hosting.mdx
  infrastructure/config/service-secrets-config.sh.example
  infrastructure/config/service-secrets-create.sh
  infrastructure/k8s/manifests/configmaps/rhesis-config.yaml.example
  rh
  tests/backend/app/test_settings.py
Due: backend, frontend-format, frontend-lint, hardcoded-styles

fix(dev): restore DB_HOST in rh dev init env
  rh
Due: none

fix(dev): restore DB_HOST in rh dev init env (#2164)
  rh
Due: none

Fix search on filtered Tests list (#2163)
  apps/frontend/src/hooks/__tests__/useGridState.test.ts
  apps/frontend/src/hooks/useGridState.ts
Due: frontend-format, frontend-lint, hardcoded-styles

feat(auth): server-side refresh with short access tokens
  .env.example
  apps/backend/src/rhesis/backend/app/auth/constants.py
  apps/backend/src/rhesis/backend/app/auth/refresh_token_utils.py
  apps/backend/src/rhesis/backend/app/routers/auth.py
  docker-compose.yml
  tests/backend/auth/test_refresh_token_utils.py
  tests/backend/routes/test_auth.py
  tests/docker-compose.frontend.yml
Due: backend

feat(auth): keep refresh token out of the browser
  apps/frontend/src/app/(protected)/onboarding/components/OnboardingPageClient.tsx
  apps/frontend/src/app/auth/magic-link/page.tsx
  apps/frontend/src/app/auth/signin/page.tsx
  apps/frontend/src/app/auth/signout/page.tsx
  apps/frontend/src/app/auth/verify-email/page.tsx
  apps/frontend/src/app/page.tsx
  apps/frontend/src/auth.ts
  apps/frontend/src/components/auth/AuthForm.tsx
  apps/frontend/src/components/layout/LayoutContent.tsx
  apps/frontend/src/hooks/useSessionGuard.ts
  apps/frontend/src/proxy.ts
  apps/frontend/src/types/next-auth.d.ts
  apps/frontend/src/utils/__tests__/session.test.ts
  apps/frontend/src/utils/api-client/base-client.ts
  apps/frontend/src/utils/client-auth.ts
  apps/frontend/src/utils/session.ts
  apps/frontend/src/utils/task-lookup.ts
Due: frontend-format, frontend-lint, hardcoded-styles

chore(backend): add per-query request timing probe for /tests diagnosis
  apps/backend/src/rhesis/backend/app/debug_request_timing.py
  apps/backend/src/rhesis/backend/app/main.py
Due: backend

chore: add additional things to track down
  apps/backend/src/rhesis/backend/app/debug_request_timing.py
Due: backend

chore(backend): break out deps/endpoint/serialization phases in timing probe
  apps/backend/src/rhesis/backend/app/debug_request_timing.py
Due: backend

chore(backend): break out deps/endpoint/serialization/pool/gc phases
  apps/backend/src/rhesis/backend/app/debug_request_timing.py
Due: backend

fix(backend): attach own stdout handler to request_timing logger
  apps/backend/src/rhesis/backend/app/debug_request_timing.py
Due: backend

feat(sdk): dedupe prompts via shared skill refs
  docs/content/docs/agent-skill/_meta.tsx
  docs/content/docs/agent-skill/definitions.mdx
  docs/content/docs/agent-skill/for-agents.mdx
  docs/content/docs/agent-skill/index.mdx
  docs/content/docs/architect/planning.mdx
  docs/content/docs/metrics/_meta.tsx
  docs/content/docs/metrics/metric-scope.mdx
  docs/src/lib/__tests__/llms-txt.test.js
  docs/src/lib/llm-views.js
  sdk/src/rhesis/sdk/agents/architect/agent.py
  sdk/src/rhesis/sdk/agents/architect/prompt_loader.py
  sdk/src/rhesis/sdk/agents/architect/prompt_templates/iteration_prompt.j2
  sdk/src/rhesis/sdk/agents/architect/prompt_templates/system_prompt.j2
  sdk/src/rhesis/sdk/agents/architect/prompt_templates/telemachus-creation-order.j2
  sdk/src/rhesis/sdk/agents/architect/prompt_templates/telemachus-guidelines.j2
  sdk/src/rhesis/sdk/agents/architect/prompt_templates/telemachus-resolution.j2
  sdk/src/rhesis/sdk/agents/architect/prompt_templates/telemachus-reuse.j2
  sdk/src/rhesis/sdk/agents/architect/prompt_templates/telemachus-save-plan.j2
  sdk/src/rhesis/sdk/agents/architect/prompt_templates/telemachus-security.j2
  sdk/src/rhesis/sdk/agents/architect/prompt_templates/workflow-routing.j2
  sdk/src/rhesis/sdk/agents/architect/state.py
  sdk/src/rhesis/sdk/agents/architect/workflow.py
  sdk/src/rhesis/sdk/agents/base.py
  skills/rhesis/README.md
  skills/rhesis/SKILL.md
  skills/rhesis/references/definitions.md
  skills/rhesis/references/metric-scope.md
  skills/rhesis/references/phases/analysis.md
  skills/rhesis/references/phases/creation.md
  skills/rhesis/references/phases/direct-requests.md
  skills/rhesis/references/phases/discovery.md
  skills/rhesis/references/phases/execution.md
  skills/rhesis/references/phases/planning.md
  skills/rhesis/references/prd-workflow.md
  skills/rhesis/references/telemachus-parity.md
  skills/rhesis/references/use-case-bracketfeld.md
  skills/rhesis/references/workflow-index.md
  tests/sdk/agents/test_architect.py
  tests/sdk/agents/test_architect_prompt_loader.py
Due: sdk

docs(agent-skill): use glossary instead of definitions page
  docs/content/docs/agent-skill/_meta.tsx
  docs/content/docs/agent-skill/definitions.mdx
  docs/content/docs/agent-skill/for-agents.mdx
  docs/content/docs/agent-skill/index.mdx
  docs/content/docs/metrics/metric-scope.mdx
  docs/src/lib/__tests__/llms-txt.test.js
  docs/src/lib/llm-views.js
  skills/rhesis/SKILL.md
  skills/rhesis/references/definitions.md
  skills/rhesis/references/metric-scope.md
  skills/rhesis/references/telemachus-parity.md
  skills/rhesis/references/workflow-index.md
Due: none

docs(skill): route terminology to glossary first
  docs/content/docs/agent-skill/for-agents.mdx
  skills/rhesis/SKILL.md
  skills/rhesis/references/definitions.md
  skills/rhesis/references/metric-scope.md
  skills/rhesis/references/telemachus-parity.md
  skills/rhesis/references/workflow-index.md
Due: none

docs(glossary): fix agent-critical term semantics
  docs/content/docs/agent-skill/for-agents.mdx
  docs/content/glossary/_meta.tsx
  docs/content/glossary/glossary-terms.jsonl
  docs/content/glossary/mcp/index.mdx
  docs/content/glossary/metric-scope/index.mdx
  docs/content/glossary/test-result/index.mdx
  docs/src/lib/llm-views.js
  skills/rhesis/references/definitions.md
  skills/rhesis/references/workflow-index.md
Due: none

Update deployment documentation and restructure guides
  docs/content/docs/deployment/_meta.tsx
  docs/content/docs/deployment/docker-compose.mdx
  docs/content/docs/deployment/index.mdx
  docs/content/docs/deployment/quick-start.mdx
  docs/content/docs/getting-started/setup-environment.mdx
  docs/content/docs/organizations/api-clients.mdx
  docs/content/docs/organizations/roles.mdx
  docs/content/docs/organizations/sso.mdx
  docs/content/guides/quick-start-guide.mdx
Due: none

Fix backend and E2E test failures on v0.10.0 (#2162)
  apps/frontend/src/app/(protected)/knowledge/components/KnowledgeClientWrapper.tsx
  apps/frontend/tests/e2e/pages/InsightsPage.ts
  apps/frontend/tests/e2e/tests/knowledge-crud.spec.ts
  tests/backend/ee/rbac/test_sp8_access_control.py
  tests/backend/ee/sso/test_sso_user_utils.py
Due: frontend-format, frontend-lint, hardcoded-styles

fix(sdk): lint prompt_loader and format agent after main merge
  sdk/src/rhesis/sdk/agents/architect/agent.py
  sdk/src/rhesis/sdk/agents/architect/prompt_loader.py
Due: sdk

style(docs): prettier format llm-views.js
  docs/src/lib/llm-views.js
Due: none

added polyphemus project id and endpoint id
  kubernetes/clusters/dev/external-secrets/rhesis-app-secrets.yaml
  kubernetes/clusters/prd/external-secrets/rhesis-app-secrets.yaml
  kubernetes/clusters/stg/external-secrets/rhesis-app-secrets.yaml
Due: none

added polyphemus project id and endpoint id (#2165)
  kubernetes/clusters/dev/external-secrets/rhesis-app-secrets.yaml
  kubernetes/clusters/prd/external-secrets/rhesis-app-secrets.yaml
  kubernetes/clusters/stg/external-secrets/rhesis-app-secrets.yaml
Due: none

chore(backend): add call counts, cache and N+1 signals to timing prob
  apps/backend/src/rhesis/backend/app/debug_request_timing.py
Due: backend

Refactor deployment documentation for clarity and structure
  docs/content/docs/deployment/docker-compose.mdx
  docs/content/docs/deployment/index.mdx
  docs/content/docs/deployment/quick-start.mdx
Due: none

fix(auth): address terms PR review nits
  apps/backend/src/rhesis/backend/app/auth/terms.py
  apps/backend/src/rhesis/backend/app/routers/auth.py
  apps/frontend/src/app/(protected)/onboarding/components/OrganizationDetailsStep.tsx
  apps/frontend/src/components/auth/TermsAcceptanceGate.tsx
  apps/frontend/src/utils/api-client/auth-client.ts
  apps/frontend/tests/e2e/mock-backend.mjs
  tests/backend/auth/test_terms.py
  tests/backend/routes/test_auth.py
Due: backend, frontend-format, frontend-lint, hardcoded-styles

Revert "allow insecure to skip tls certificate verification as the connection stays within the cluster"
  .github/workflows/k8s-deploy.yml
Due: none
