Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, docs-format, hardcoded-styles

sdk:
  name: format sdk
  language: system
  entry: make -C sdk format
  pass_filenames: false

backend:
  name: format backend
  language: system
  entry: make -C apps/backend format_diff
  pass_filenames: false

frontend-format:
  name: auto-fix frontend formatting
  language: system
  entry: bash -c "cd apps/frontend && npm run format"
  pass_filenames: false

frontend-lint:
  name: lint frontend
  language: system
  entry: bash -c "cd apps/frontend && npm run lint"
  pass_filenames: false

docs-format:
  name: auto-fix docs formatting
  language: system
  entry: bash -c "cd apps/documentation && npm run format"
  pass_filenames: false

hardcoded-styles:
  name: check hardcoded styles in frontend and docs
  language: system
  entry: node scripts/check-hardcoded-styles.js
  pass_filenames: false

increase minimum cpu to 6 for 24GB memory
  .github/workflows/polyphemus.yml
Due: none

optimize-model-using-load-kwargs
  apps/polyphemus/src/rhesis/polyphemus/models/model_loader.py
Due: none

Revert "increase minimum cpu to 6 for 24GB memory"
  .github/workflows/polyphemus.yml
Due: none

use base 64 for the json in the workflow
  .github/workflows/polyphemus.yml
  apps/polyphemus/src/rhesis/polyphemus/models/model_loader.py
Due: none

mount gcs bucket into container
  .github/workflows/polyphemus.yml
  apps/polyphemus/src/rhesis/polyphemus/models/model_loader.py
Due: none

remove redundant device type from the workflow.
  .github/workflows/polyphemus.yml
  apps/polyphemus/src/rhesis/polyphemus/models/model_loader.py
Due: none

fix json escaping in the github workflow
  .github/workflows/polyphemus.yml
Due: none

added bitstandbyte
  sdk/pyproject.toml
Due: sdk

test with alexey's approach
  .github/workflows/polyphemus.yml
  sdk/src/rhesis/sdk/models/providers/huggingface.py
Due: sdk

force transformers to create a proper pretainedconfig object
  sdk/src/rhesis/sdk/models/providers/huggingface.py
Due: sdk

update-docker-file and uv-sync
  apps/polyphemus/Dockerfile
  apps/polyphemus/uv.lock
Due: none

trust_remote_code from tokenizer
  sdk/src/rhesis/sdk/models/providers/huggingface.py
Due: sdk

updagrade transformer version
  apps/polyphemus/uv.lock
  sdk/pyproject.toml
Due: sdk

change the model source
  sdk/src/rhesis/sdk/models/providers/huggingface.py
Due: sdk

Revert alexeys changes as it created the previous issue
  .github/workflows/polyphemus.yml
  sdk/src/rhesis/sdk/models/providers/huggingface.py
Due: sdk

fix:dictorionary object has not attribute for the model type
  apps/polyphemus/src/rhesis/polyphemus/models/model_loader.py
  sdk/src/rhesis/sdk/models/providers/huggingface.py
Due: sdk

improve docker file
  apps/polyphemus/Dockerfile
Due: none

reduce container memory and cpu
  .github/workflows/polyphemus.yml
Due: none

read bucket name from the env, remove hardcoded one
  .github/workflows/polyphemus.yml
Due: none

feat(docs): add sitemap and robots.txt for SEO
  .gitignore
  docs/src/.prettierignore
  docs/src/app/robots.js
  docs/src/app/sitemap.js
Due: none

feat(docs): add automatic SEO metadata generation
  docs/src/app/[[...mdxPath]]/page.jsx
  docs/src/app/layout.jsx
  docs/src/lib/metadata.js
  docs/src/lib/site-config.js
Due: none

added unit test for the huggingface provider.
  sdk/src/rhesis/sdk/models/providers/native.py
  sdk/src/rhesis/sdk/models/providers/polyphemus.py
  sdk/uv.lock
  tests/sdk/models/providers/test_hugginface.py
Due: sdk

fix(docs): add lib directory to Dockerfile for SEO metadata
  docs/src/Dockerfile
Due: none

fix(docs): make sitemap content directory path Docker-compatible
  docs/src/app/sitemap.js
Due: none

style(docs): format sitemap.js with Prettier
  docs/src/app/sitemap.js
Due: none

Feat/Use Bucket Model (#1067)
  .github/workflows/polyphemus.yml
  apps/polyphemus/Dockerfile
  apps/polyphemus/pyproject.toml
  apps/polyphemus/src/rhesis/polyphemus/cloudbuild.yaml
  apps/polyphemus/src/rhesis/polyphemus/deploy.sh
  apps/polyphemus/src/rhesis/polyphemus/models/model_loader.py
  apps/polyphemus/uv.lock
  sdk/pyproject.toml
  sdk/src/rhesis/sdk/models/providers/huggingface.py
  sdk/src/rhesis/sdk/models/providers/native.py
  sdk/src/rhesis/sdk/models/providers/polyphemus.py
  sdk/uv.lock
  tests/sdk/models/providers/test_hugginface.py
Due: sdk

update-sdk-usage-guide
  docs/content/guides/quick-start-guide.mdx
Due: none

update local app link
  docs/content/guides/quick-start-guide.mdx
Due: none

update endpoint pull section
  docs/content/guides/quick-start-guide.mdx
Due: none

Docs/Fix Sdk Penelope Integration Guide (#1072)
  docs/content/guides/quick-start-guide.mdx
Due: none

feat(organization): execute test sets on endpoints during initial data load
  apps/backend/src/rhesis/backend/app/routers/organization.py
  apps/backend/src/rhesis/backend/app/services/organization.py
Due: backend

fix(user): resolve 403 error in user settings endpoint during onboarding
  apps/backend/src/rhesis/backend/app/routers/user.py
Due: backend

chore(backend): update dependency lock file
  apps/backend/uv.lock
Due: backend

style: fix line length violations in user and organization modules
  apps/backend/src/rhesis/backend/app/routers/user.py
  apps/backend/src/rhesis/backend/app/services/organization.py
Due: backend

feat(dashboard): match test run status display with test-runs page
  apps/frontend/src/app/(protected)/dashboard/components/TestRunPerformance.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

refactor(frontend): fix file naming conventions
  apps/frontend/src/app/(protected)/dashboard/components/TestRunPerformance.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/ReviewJudgementDrawer.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestDetailOverviewTab.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestDetailPanel.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestDetailReviewsTab.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestResultDrawer.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestRunHeader.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestsList.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestsTableView.tsx
  apps/frontend/src/app/(protected)/test-runs/components/TestRunsGrid.tsx
  apps/frontend/src/components/common/TestRunStatus.tsx
  apps/frontend/src/utils/__tests__/test-result-status.test.ts
  apps/frontend/src/utils/test-result-status.ts
Due: frontend-format, frontend-lint, hardcoded-styles

chore: remove trailing whitespace from refactored files
  apps/frontend/src/components/common/TestRunStatus.tsx
  apps/frontend/src/utils/__tests__/test-result-status.test.ts
  apps/frontend/src/utils/test-result-status.ts
Due: frontend-format, frontend-lint, hardcoded-styles

chore: ignore docs pagefind index directory
  .gitignore
Due: none

Path conditions:
  sdk: any of: ^sdk/
  backend: any of: ^apps/backend/
  frontend-format: any of: ^apps/frontend/
  frontend-lint: any of: ^apps/frontend/
  docs-format: any of: ^apps/documentation/
  hardcoded-styles: any of: ^apps/(frontend|documentation)/
