Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend

sdk:
  name: format sdk
  language: system
  entry: make -C sdk format
  pass_filenames: false

backend:
  name: format backend
  language: system
  entry: make -C apps/backend format
  pass_filenames: false

style(tests): clean up formatting in TestsGrid handleTestSaved
  apps/frontend/src/app/(protected)/tests/components/TestsGrid.tsx
Due: none

fix: resolve project owner field not being saved in edit drawer
  apps/frontend/src/app/(protected)/projects/[identifier]/edit-drawer.tsx
  apps/frontend/src/app/(protected)/projects/components/ProjectEditDrawer.tsx
Due: none

fix(ci): resolve YAML syntax error and apply shellcheck improvements in worker workflow
  .github/workflows/worker.yml
Due: none

fix: resolve worker workflow environment variable and deployment selector issues
  .github/workflows/worker.yml
Due: none

feat(sdk): add model parameter support to synthesizer factory
  sdk/src/rhesis/sdk/synthesizers/factory.py
Due: sdk

refactor(sdk): update ParaphrasingSynthesizer to use model parameter
  sdk/src/rhesis/sdk/synthesizers/paraphrasing_synthesizer.py
Due: sdk

refactor(backend): remove SDK configuration and add model parameter
  apps/backend/src/rhesis/backend/tasks/test_set.py
Due: backend

fix(backend): explicitly set gemini model in test generation
  apps/backend/src/rhesis/backend/app/routers/test_set.py
Due: backend

fix: pull metrics error
  sdk/src/rhesis/sdk/metrics/utils.py
Due: sdk

refactor(stats): move test stats to dedicated stats module
  apps/backend/src/rhesis/backend/app/routers/test.py
  apps/backend/src/rhesis/backend/app/services/stats/__init__.py
  apps/backend/src/rhesis/backend/app/services/stats/test.py
  apps/backend/src/rhesis/backend/app/services/test.py
Due: backend

feat(stats): add individual test stats endpoint
  apps/backend/src/rhesis/backend/app/routers/test.py
  apps/backend/src/rhesis/backend/app/services/stats/__init__.py
  apps/backend/src/rhesis/backend/app/services/stats/test.py
Due: backend

feat(api): add TypeScript interfaces for individual test statistics
  apps/frontend/src/utils/api-client/interfaces/individual-test-stats.ts
Due: none

feat(api): add method to fetch individual test statistics
  apps/frontend/src/utils/api-client/tests-client.ts
Due: none

feat(ui): refactor test detail charts with dynamic data and enhanced UI
  apps/frontend/src/app/(protected)/tests/[identifier]/components/TestDetailCharts.tsx
Due: none

refactor(ui): improve vertical centering and remove inline styles
  apps/frontend/src/app/(protected)/tests/[identifier]/components/TestDetailCharts.tsx
Due: none

style: replace hardcoded values with theme tokens
  apps/frontend/src/app/(protected)/tests/[identifier]/components/TestDetailCharts.tsx
Due: none

style: improve code formatting in TestDetailCharts
  apps/frontend/src/app/(protected)/tests/[identifier]/components/TestDetailCharts.tsx
Due: none

fix(test-runs): resolve flickering data grid on test runs page
  apps/frontend/src/app/(protected)/test-runs/components/TestRunsGrid.tsx
Due: none

Path conditions:
  sdk: any of: ^sdk/
  backend: any of: ^apps/backend/
