Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, docs-format, hardcoded-styles

sdk:
  name: format sdk
  language: system
  entry: make -C sdk format
  pass_filenames: false

backend:
  name: format backend
  language: system
  entry: make -C apps/backend format_diff
  pass_filenames: false

frontend-format:
  name: auto-fix frontend formatting
  language: system
  entry: bash -c "cd apps/frontend && npm run format"
  pass_filenames: false

frontend-lint:
  name: lint frontend
  language: system
  entry: bash -c "cd apps/frontend && npm run lint"
  pass_filenames: false

docs-format:
  name: auto-fix docs formatting
  language: system
  entry: bash -c "cd apps/documentation && npm run format"
  pass_filenames: false

hardcoded-styles:
  name: check hardcoded styles in frontend and docs
  language: system
  entry: node scripts/check-hardcoded-styles.js
  pass_filenames: false

style(backend): reorder imports in llm_utils.py
  apps/backend/src/rhesis/backend/app/utils/llm_utils.py
Due: backend

feat(penelope): add insurance fraud jailbreak attack example
  penelope/examples/insurance_fraud_attack.py
Due: none

feat(penelope): add conversation_summary field for improved trace readability
  docs/content/penelope/execution-trace.mdx
  penelope/src/rhesis/penelope/context.py
Due: none

fix(backend): add missing backward compatibility imports in test_execution.py
  apps/backend/src/rhesis/backend/tasks/execution/test_execution.py
Due: backend

fix(backend): restore missing backward compatibility imports in test_execution.py
  apps/backend/src/rhesis/backend/tasks/execution/test_execution.py
Due: backend

fix(backend): resolve all remaining test failures
  apps/backend/src/rhesis/backend/app/models/enums.py
  apps/backend/src/rhesis/backend/tasks/execution/test_execution.py
Due: backend

fix(backend): restore backward compatibility imports in test_execution.py
  apps/backend/src/rhesis/backend/tasks/execution/test_execution.py
Due: backend

style(penelope): fix line length violations in agent.py
  penelope/src/rhesis/penelope/agent.py
Due: none

style(frontend): format TestDetailMetricsTab.tsx with prettier
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestDetailMetricsTab.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(docker): resolve Penelope dependency path issues in Docker builds
  apps/backend/Dockerfile
  apps/worker/Dockerfile
  penelope/penelope_execution_trace.json
Due: backend

feat(metrics): add core conversational metrics infrastructure
  sdk/examples/conversational_metrics_demo.py
  sdk/src/rhesis/sdk/metrics/__init__.py
  sdk/src/rhesis/sdk/metrics/base.py
  sdk/src/rhesis/sdk/metrics/conversational/__init__.py
  sdk/src/rhesis/sdk/metrics/conversational/base.py
  sdk/src/rhesis/sdk/metrics/conversational/types.py
  tests/sdk/metrics/conversational/__init__.py
  tests/sdk/metrics/conversational/test_types.py
Due: sdk

feat(metrics): integrate DeepEval conversational metrics with Turn Relevancy
  sdk/examples/deepeval_conversational_demo.py
  sdk/pyproject.toml
  sdk/src/rhesis/sdk/metrics/__init__.py
  sdk/src/rhesis/sdk/metrics/providers/deepeval/__init__.py
  sdk/src/rhesis/sdk/metrics/providers/deepeval/conversational_base.py
  sdk/src/rhesis/sdk/metrics/providers/deepeval/conversational_metrics.py
  tests/sdk/metrics/providers/deepeval/test_conversational_metrics.py
  tests/sdk/pytest.ini
Due: sdk

feat(metrics): implement native Rhesis conversational metrics with Goal Achievement Judge
  sdk/examples/deepeval_conversational_demo.py
  sdk/examples/native_conversational_demo.py
  sdk/src/rhesis/sdk/metrics/__init__.py
  sdk/src/rhesis/sdk/metrics/providers/native/__init__.py
  sdk/src/rhesis/sdk/metrics/providers/native/conversational_base.py
  sdk/src/rhesis/sdk/metrics/providers/native/conversational_judges.py
  sdk/src/rhesis/sdk/metrics/providers/native/templates/conversational_prompt_metric.jinja
  tests/sdk/metrics/providers/native/test_conversational_judges.py
Due: sdk

refactor(metrics): follow proper architecture pattern with ConversationalJudge base class
  sdk/src/rhesis/sdk/metrics/__init__.py
  sdk/src/rhesis/sdk/metrics/providers/native/__init__.py
  sdk/src/rhesis/sdk/metrics/providers/native/conversational_judge.py
  sdk/src/rhesis/sdk/metrics/providers/native/conversational_judges.py
  sdk/src/rhesis/sdk/metrics/providers/native/templates/conversational_prompt_metric.jinja
  tests/sdk/metrics/providers/native/test_conversational_judges.py
Due: sdk

refactor(metrics): move GoalAchievementJudge to its own file
  sdk/src/rhesis/sdk/metrics/providers/native/__init__.py
  sdk/src/rhesis/sdk/metrics/providers/native/goal_achievement_judge.py
Due: sdk

feat(metrics): add goal-achievement-specific template with excellent defaults
  sdk/src/rhesis/sdk/metrics/providers/native/goal_achievement_judge.py
  sdk/src/rhesis/sdk/metrics/providers/native/templates/goal_achievement_prompt.jinja
  tests/sdk/metrics/providers/native/test_conversational_judges.py
Due: sdk

feat(examples): add ConversationalJudge architecture demo
  sdk/examples/conversational_judge_demo.py
Due: sdk

enhance(examples): add comprehensive GoalAchievementJudge test cases
  sdk/examples/conversational_judge_demo.py
Due: sdk

refactor(conversational): make ConversationalJudge numeric by default
  sdk/examples/conversational_judge_demo.py
  sdk/src/rhesis/sdk/metrics/providers/native/conversational_judge.py
  sdk/src/rhesis/sdk/metrics/providers/native/goal_achievement_judge.py
Due: sdk

docs(conversational): add guidance for future categorical judges
  sdk/src/rhesis/sdk/metrics/providers/native/conversational_judge.py
Due: sdk

Path conditions:
  sdk: any of: ^sdk/
  backend: any of: ^apps/backend/
  frontend-format: any of: ^apps/frontend/
  frontend-lint: any of: ^apps/frontend/
  docs-format: any of: ^apps/documentation/
  hardcoded-styles: any of: ^apps/(frontend|documentation)/
