Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, docs-format, hardcoded-styles

sdk:
  name: format sdk
  language: system
  entry: make -C sdk format
  pass_filenames: false

backend:
  name: format backend
  language: system
  entry: make -C apps/backend format_diff
  pass_filenames: false

frontend-format:
  name: auto-fix frontend formatting
  language: system
  entry: bash -c "cd apps/frontend && npm run format"
  pass_filenames: false

frontend-lint:
  name: lint frontend
  language: system
  entry: bash -c "cd apps/frontend && npm run lint"
  pass_filenames: false

docs-format:
  name: auto-fix docs formatting
  language: system
  entry: bash -c "cd apps/documentation && npm run format"
  pass_filenames: false

hardcoded-styles:
  name: check hardcoded styles in frontend and docs
  language: system
  entry: node scripts/check-hardcoded-styles.js
  pass_filenames: false

fix(backend): skip graph on ambiguous embeddings
  apps/backend/src/rhesis/backend/app/services/embedding/graph_builder.py
Due: backend

feat: improve labeling prompt to generate shorter labels
  apps/backend/src/rhesis/backend/app/services/embedding/graph_builder.py
Due: backend

feat(tests): add tests for graph builder and routes
  tests/backend/routes/test_embedding_graph.py
  tests/backend/services/embedding/test_graph_builder.py
Due: none

fix: migration failed
  apps/backend/migrate.sh
Due: backend

refactor(backend): split mcp service into mcp package
  apps/backend/src/rhesis/backend/app/routers/services.py
  apps/backend/src/rhesis/backend/app/services/mcp/__init__.py
  apps/backend/src/rhesis/backend/app/services/mcp/agents.py
  apps/backend/src/rhesis/backend/app/services/mcp/config.py
  apps/backend/src/rhesis/backend/app/services/mcp/endpoint_operations.py
  apps/backend/src/rhesis/backend/app/services/mcp/exceptions.py
  apps/backend/src/rhesis/backend/app/services/mcp/templates.py
  apps/backend/src/rhesis/backend/app/services/mcp/workflows.py
  apps/backend/src/rhesis/backend/app/services/mcp_service.py
  tests/backend/services/test_mcp_service.py
Due: backend

fix(test): set ENVIRONMENT=test for SDK integration backend (#1774)
  tests/docker-compose.test.yml
Due: none

feat(backend): route cache reads to Redis read replica (#1772)
  .github/workflows/backend.yml
  .github/workflows/worker.yml
  apps/backend/src/rhesis/backend/alembic/versions/9b25f353e9c8_add_file_storage_columns.py
  apps/backend/src/rhesis/backend/alembic/versions/f1e2d3c4b5a6_drop_file_content_column.py
  apps/backend/src/rhesis/backend/app/services/cache.py
  apps/backend/src/rhesis/backend/app/services/garak/cache.py
  apps/backend/src/rhesis/backend/app/services/redis_constants.py
  infrastructure/config/service-secrets-create.sh
  infrastructure/k8s/charts/rhesis/templates/backend-deployment.yaml
  infrastructure/k8s/charts/rhesis/templates/worker-deployment.yaml
  tests/backend/services/garak/test_cache.py
  tests/backend/services/telemetry/test_trace_metrics_cache.py
  tests/backend/services/test_cache.py
Due: backend

add workflow for terraform
  .github/workflows/terraform-infrastructure.yml
Due: none

add workflow for terraform (#1776)
  .github/workflows/terraform-infrastructure.yml
Due: none

added workflow for terraform deployment
  .github/workflows/terraform-infrastructure.yml
Due: none

refactor(backend): split mcp service into mcp package (#1775)
  apps/backend/src/rhesis/backend/app/routers/services.py
  apps/backend/src/rhesis/backend/app/services/mcp/__init__.py
  apps/backend/src/rhesis/backend/app/services/mcp/agents.py
  apps/backend/src/rhesis/backend/app/services/mcp/config.py
  apps/backend/src/rhesis/backend/app/services/mcp/endpoint_operations.py
  apps/backend/src/rhesis/backend/app/services/mcp/exceptions.py
  apps/backend/src/rhesis/backend/app/services/mcp/templates.py
  apps/backend/src/rhesis/backend/app/services/mcp/workflows.py
  apps/backend/src/rhesis/backend/app/services/mcp_service.py
  tests/backend/services/test_mcp_service.py
Due: backend

docs(changelog): add launch week Day 1-5 videos
  docs/content/changelog.mdx
Due: none

docs(changelog): add launch week Day 1-5 videos (#1777)
  docs/content/changelog.mdx
Due: none

fix(test): correct env var assertion order in vertex_ai stream test
  tests/sdk/models/providers/test_vertex_ai.py
Due: none

fix(test): reword misleading comment per review feedback
  tests/sdk/models/providers/test_vertex_ai.py
Due: none

Fix failing SDK Vertex AI stream credentials test (#1778)
  tests/sdk/models/providers/test_vertex_ai.py
Due: none

fix(embedding): degrade cluster labels on model failure Return early when centroids are empty and skip LLM labeling when model resolution fails, so graph build tasks still persist.
  apps/backend/src/rhesis/backend/app/services/embedding/graph_builder.py
  tests/backend/services/embedding/test_graph_builder.py
Due: backend

fix(embedding): exclude soft-deleted tests from test set graphs
  apps/backend/src/rhesis/backend/tasks/embedding/graph.py
Due: backend

feat: add terraform infrastructure deployment workflow
  .github/workflows/terraform-infrastructure.yml
Due: none

Add backend embedding 2D scatter graph for test sets (#1766)
  apps/backend/pyproject.toml
  apps/backend/src/rhesis/backend/app/crud.py
  apps/backend/src/rhesis/backend/app/main.py
  apps/backend/src/rhesis/backend/app/models/mixins.py
  apps/backend/src/rhesis/backend/app/routers/source.py
  apps/backend/src/rhesis/backend/app/routers/test_set.py
  apps/backend/src/rhesis/backend/app/schemas/__init__.py
  apps/backend/src/rhesis/backend/app/schemas/embedding.py
  apps/backend/src/rhesis/backend/app/services/embedding/graph_builder.py
  apps/backend/src/rhesis/backend/celery/config.py
  apps/backend/src/rhesis/backend/tasks/__init__.py
  apps/backend/src/rhesis/backend/tasks/embedding/__init__.py
  apps/backend/src/rhesis/backend/tasks/embedding/graph.py
  apps/backend/uv.lock
  tests/backend/routes/test_embedding_graph.py
  tests/backend/services/embedding/test_graph_builder.py
Due: backend

remove argocd from the main module to run it locally
  terraform/infrastructure/envs/dev/main.tf
  terraform/infrastructure/envs/prd/main.tf
  terraform/infrastructure/envs/stg/main.tf
Due: none

fix(sdk): pass vertex ai credentials in-memory instead of temp files
  sdk/src/rhesis/sdk/models/providers/vertex_ai.py
  tests/sdk/models/providers/test_vertex_ai.py
Due: sdk

fix(frontend): use webpack for dev server to avoid turbopack cpu bug
  apps/frontend/package.json
Due: frontend-format, frontend-lint, hardcoded-styles

feat(frontend): extend theme with Figma design tokens and icons
  apps/frontend/src/auth.ts
  apps/frontend/src/components/icons.ts
  apps/frontend/src/styles/rhesis-theme-usage.md
  apps/frontend/src/styles/theme.ts
  apps/frontend/src/types/navigation.ts
  apps/frontend/src/types/next-auth.d.ts
Due: frontend-format, frontend-lint, hardcoded-styles

feat(frontend): replace Toolpad layout with custom AppShell and Sidebar
  apps/frontend/src/actions/auth/signin.ts
  apps/frontend/src/app/(protected)/layout.tsx
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/components/layout/AppShell.tsx
  apps/frontend/src/components/layout/sidebar-constants.ts
  apps/frontend/src/components/navigation/NavigationProvider.tsx
  apps/frontend/src/components/navigation/Sidebar.tsx
  apps/frontend/src/contexts/NavigationItemsContext.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

feat(frontend): redesign shared components to match Figma
  apps/frontend/src/components/common/BaseDrawer.tsx
  apps/frontend/src/components/common/BaseTable.tsx
  apps/frontend/src/components/common/EntityCard.tsx
  apps/frontend/src/components/common/Fab.tsx
  apps/frontend/src/components/common/SearchAndFilterBar.tsx
  apps/frontend/src/components/common/StatusChip.tsx
  apps/frontend/src/components/layout/PageLayout.tsx
  apps/frontend/src/components/layout/Toolbar.tsx
  apps/frontend/src/components/layout/ToolbarActions.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

feat(frontend): redesign projects list with Figma card grid and drawers
  apps/frontend/src/app/(protected)/projects/components/ProjectCard.tsx
  apps/frontend/src/app/(protected)/projects/components/ProjectCreateDrawer.tsx
  apps/frontend/src/app/(protected)/projects/components/ProjectEditDrawer.tsx
  apps/frontend/src/app/(protected)/projects/components/ProjectFilterDrawer.tsx
  apps/frontend/src/app/(protected)/projects/components/ProjectsClientWrapper.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

feat(frontend): redesign behaviors and metrics card grids
  apps/frontend/src/app/(protected)/behaviors/components/BehaviorCard.tsx
  apps/frontend/src/app/(protected)/behaviors/components/BehaviorsClient.tsx
  apps/frontend/src/app/(protected)/behaviors/page.tsx
  apps/frontend/src/app/(protected)/metrics/components/MetricCard.tsx
  apps/frontend/src/app/(protected)/metrics/components/MetricsDirectoryTab.tsx
  apps/frontend/src/app/(protected)/metrics/new/page.tsx
  apps/frontend/src/app/(protected)/metrics/page.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

test(tests): add parameter injection pipeline tests
  tests/backend/services/invokers/test_sdk_invoker.py
  tests/backend/services/invokers/test_template_renderer.py
  tests/backend/tasks/test_output_providers.py
  tests/sdk/connector/test_manager.py
Due: none

feat: unify parameter injection via {{ params.* }} in request mappings
  apps/backend/src/rhesis/backend/app/routers/test_configuration.py
  apps/backend/src/rhesis/backend/app/services/experiment.py
  apps/backend/src/rhesis/backend/app/services/invokers/sdk_invoker.py
  apps/backend/src/rhesis/backend/tasks/execution/executors/output_providers.py
  apps/chatbot/client.py
  docs/content/docs/endpoints/index.mdx
  docs/content/docs/experiments/connector-injection.mdx
  docs/content/sdk/parameters.mdx
  sdk/src/rhesis/sdk/connector/manager.py
Due: sdk, backend

fix(frontend): resolve MUI component warnings and select value issues
  apps/frontend/src/app/(protected)/endpoints/components/AutoConfigureModal.tsx
  apps/frontend/src/app/(protected)/endpoints/components/EndpointDetail.tsx
  apps/frontend/src/app/(protected)/endpoints/components/EndpointForm.tsx
  apps/frontend/src/app/(protected)/endpoints/components/SwaggerEndpointForm.tsx
  apps/frontend/src/app/(protected)/experiments/[identifier]/components/VersionHistory.tsx
  apps/frontend/src/app/(protected)/projects/[identifier]/components/ProjectEnvironments.tsx
  apps/frontend/src/app/(protected)/projects/components/ProjectEditDrawer.tsx
  apps/frontend/src/components/common/ThemeAwareLogo.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

feat(frontend): redesign tests page with Figma-aligned grid
  apps/frontend/src/app/(protected)/projects/components/ProjectsClientWrapper.tsx
  apps/frontend/src/app/(protected)/tests/components/TestFilterDrawer.tsx
  apps/frontend/src/app/(protected)/tests/components/TestsGrid.tsx
  apps/frontend/src/app/(protected)/tests/page.tsx
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/components/common/BaseDataGrid.tsx
  apps/frontend/src/components/common/SearchPill.tsx
  apps/frontend/src/components/icons.ts
  apps/frontend/src/styles/theme.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): fix sidebar collapse icon and layout issues
  apps/frontend/src/app/(protected)/projects/components/ProjectsClientWrapper.tsx
  apps/frontend/src/app/(protected)/tests/components/TestsGrid.tsx
  apps/frontend/src/components/common/BaseDataGrid.tsx
  apps/frontend/src/components/layout/AppShell.tsx
  apps/frontend/src/components/navigation/Sidebar.tsx
  apps/frontend/src/styles/theme.ts
  scripts/check-hardcoded-styles.js
Due: frontend-format, frontend-lint, hardcoded-styles

feat(frontend): add empty state to tests page when no tests exist
  apps/frontend/src/app/(protected)/tests/components/TestsEmptyState.tsx
  apps/frontend/src/app/(protected)/tests/page.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): mount CssBaseline to remove body margin frame
  apps/frontend/src/app/(protected)/tests/components/TestsEmptyState.tsx
  apps/frontend/src/components/layout/AppShell.tsx
  apps/frontend/src/components/providers/ThemeProvider.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): align UI revamp pages to Figma spec
  apps/frontend/src/app/(protected)/behaviors/components/BehaviorFilterDrawer.tsx
  apps/frontend/src/app/(protected)/behaviors/components/BehaviorsClient.tsx
  apps/frontend/src/app/(protected)/behaviors/page.tsx
  apps/frontend/src/app/(protected)/projects/components/ProjectsClientWrapper.tsx
  apps/frontend/src/app/(protected)/tests/components/TestsGrid.tsx
  apps/frontend/src/app/(protected)/tests/page.tsx
  apps/frontend/src/components/common/Fab.tsx
  apps/frontend/src/components/layout/PageLayout.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

feat(behaviors): simplify card to show only delete icon via EntityCard
  apps/frontend/src/app/(protected)/behaviors/components/BehaviorCard.tsx
  apps/frontend/src/app/(protected)/behaviors/components/__tests__/BehaviorCard.test.tsx
  apps/frontend/src/app/(protected)/tests/components/TestsGrid.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

feat(frontend): add missing icons from Figma icon set
  apps/frontend/src/app/(protected)/tests/components/TestsGrid.tsx
  apps/frontend/src/components/icons.ts
Due: frontend-format, frontend-lint, hardcoded-styles

Path conditions:
  sdk: any of: ^sdk/
  backend: any of: ^apps/backend/
  frontend-format: any of: ^apps/frontend/
  frontend-lint: any of: ^apps/frontend/
  docs-format: any of: ^apps/documentation/
  hardcoded-styles: any of: ^apps/(frontend|documentation)/
