Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, docs-format, hardcoded-styles

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict

  - repo: local
    hooks:
        - id: trufflehog
          name: TruffleHog
          description: Detect secrets in your data.
          entry: bash -c 'trufflehog git file://. --since-commit HEAD --results=verified,unknown --fail'
          language: system
          stages: ["pre-commit", "pre-push"]

        - id: sdk
          name  : format sdk
          language: system
          entry: make -C sdk format
          files: ^sdk/
          pass_filenames: false

        - id: backend
          name  : format backend
          language: system
          entry: make -C apps/backend format_diff
          files: ^apps/backend/
          pass_filenames: false

        - id: frontend-format
          name: auto-fix frontend formatting
          language: system
          entry: bash -c "cd apps/frontend && npm run format"
          files: ^apps/frontend/
          pass_filenames: false

        - id: frontend-lint
          name: lint frontend
          language: system
          entry: bash -c "cd apps/frontend && npm run lint"
          files: ^apps/frontend/
          pass_filenames: false

        - id: docs-format
          name: auto-fix docs formatting
          language: system
          entry: bash -c "cd apps/documentation && npm run format"
          files: ^apps/documentation/
          pass_filenames: false

        - id: hardcoded-styles
          name: check hardcoded styles in frontend and docs
          language: system
          entry: node scripts/check-hardcoded-styles.js
          files: ^apps/(frontend|documentation)/
          pass_filenames: false


  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.8.0
  #   hooks:
  #     - id: mypy
  #       additional_dependencies: [
  #         "types-requests",
  #         "pandas-stubs",
  #         "pyarrow-stubs",
  #         "types-tqdm"
  #       ]

feat: enhance Penelope notebooks with configuration sections and API key fixes (#975)
  examples/README.md
  examples/config-synthesizer.ipynb
  examples/end-to-end.ipynb
  examples/generation_with_documents.ipynb
  examples/metrics.ipynb
  examples/metrics/deepeval_metrics.py
  examples/penelope/endpoint-testing.ipynb
  examples/penelope/langchain-integration.ipynb
  examples/penelope/langgraph-integration.ipynb
  examples/rhesis-sdk.ipynb
  penelope/.gitignore
  penelope/pyproject.toml
  penelope/src/rhesis/penelope/targets/endpoint.py
  penelope/uv.lock
  sdk/src/rhesis/sdk/models/providers/gemini.py
Due: sdk

chore: update remaining example notebooks with configuration sections
  examples/README.md
  examples/config-synthesizer.ipynb
  examples/end-to-end.ipynb
  examples/metrics.ipynb
Due: none

fix: update Gemini tests to match new API key error message
  tests/sdk/models/providers/test_gemini.py
Due: none

style: format frontend code with prettier
  apps/frontend/src/app/(protected)/endpoints/components/EndpointForm.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestResultDrawer.tsx
  apps/frontend/src/components/common/BaseTag.tsx
  apps/frontend/src/components/common/DeleteButton.tsx
  apps/frontend/src/utils/api-client/interfaces/test-configuration.ts
Due: frontend-format, frontend-lint, hardcoded-styles

chore: update config-synthesizer notebook with configuration section
  examples/config-synthesizer.ipynb
Due: none

fix(sdk): addding BOM enconding handler while reading test sets from SDK
  sdk/src/rhesis/sdk/entities/test_set.py
Due: sdk

fix(sdk): resolve TestType enum serialization in API calls
  sdk/src/rhesis/sdk/entities/test_set.py
Due: sdk

fix(sdk): exclude None values in TestSet serialization
  sdk/src/rhesis/sdk/entities/test_set.py
Due: sdk

docs(sdk): add explanatory comments for model_dump parameters
  sdk/src/rhesis/sdk/entities/test_set.py
Due: sdk

feat(backend): add detailed logging for 422 validation errors
  apps/backend/src/rhesis/backend/app/main.py
Due: backend

fix(sdk): skip empty rows when importing CSV files
  sdk/src/rhesis/sdk/entities/test_set.py
Due: sdk

docs(sdk): improve from_csv method documentation
  sdk/src/rhesis/sdk/entities/test_set.py
Due: sdk

feat(sdk): add expected_response support to CSV import
  sdk/src/rhesis/sdk/entities/prompt.py
  sdk/src/rhesis/sdk/entities/test_set.py
Due: sdk

feat(sdk): set default backend_type and metric_type for SDK metrics
  apps/backend/uv.lock
  sdk/src/rhesis/sdk/client.py
  sdk/src/rhesis/sdk/entities/test_set.py
  sdk/src/rhesis/sdk/metrics/base.py
  sdk/src/rhesis/sdk/metrics/utils.py
  tests/sdk/metrics/test_base.py
Due: sdk, backend

feat(backend): add SDK metric preprocessing for backend_type and metric_type
  apps/backend/src/rhesis/backend/app/crud.py
  apps/backend/src/rhesis/backend/app/schemas/metric.py
Due: backend

fix(backend): add missing Any import for type annotations
  apps/backend/src/rhesis/backend/app/crud.py
Due: backend

fix(backend): resolve Pydantic v2 Field alias warning
  apps/backend/src/rhesis/backend/app/schemas/services.py
Due: backend

feat(backend): add comprehensive error logging for metric creation
  apps/backend/src/rhesis/backend/app/crud.py
  apps/backend/src/rhesis/backend/app/routers/metric.py
  apps/backend/src/rhesis/backend/app/utils/database_exceptions.py
  sdk/src/rhesis/sdk/client.py
Due: sdk, backend

fix(backend): resolve response validation error for metric backend_type
  apps/backend/src/rhesis/backend/app/schemas/metric.py
Due: backend

fix(frontend): include metric_scope in metric creation request
  apps/frontend/next-env.d.ts
  apps/frontend/src/app/(protected)/metrics/new/page.tsx
  apps/frontend/src/utils/api-client/interfaces/metric.ts
Due: frontend-format, frontend-lint, hardcoded-styles

feat(backend): auto-set class_name and support both ID and string type fields
  apps/backend/src/rhesis/backend/app/crud.py
  apps/backend/src/rhesis/backend/app/routers/metric.py
  apps/backend/src/rhesis/backend/app/utils/database_exceptions.py
  apps/frontend/src/app/(protected)/metrics/new/page.tsx
Due: backend, frontend-format, frontend-lint, hardcoded-styles

fix(backend): correct indentation in metric router
  apps/backend/src/rhesis/backend/app/routers/metric.py
Due: backend

fix(backend,frontend): add metric_scope support and clean up logging
  apps/backend/src/rhesis/backend/app/crud.py
  apps/backend/src/rhesis/backend/app/routers/metric.py
  apps/frontend/src/app/(protected)/metrics/new/page.tsx
Due: backend, frontend-format, frontend-lint, hardcoded-styles

chore(frontend): prettier formatting for next-env.d.ts
  apps/frontend/next-env.d.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix: resolve JSON serialization error in validation responses
  apps/backend/src/rhesis/backend/app/error_handlers.py
  apps/backend/src/rhesis/backend/app/main.py
Due: backend

style: format database_exceptions.py with ruff
  apps/backend/src/rhesis/backend/app/utils/database_exceptions.py
Due: backend

Fix metric creation: support both SDK and frontend approaches with proper field handling (#977)
  apps/backend/src/rhesis/backend/app/crud.py
  apps/backend/src/rhesis/backend/app/error_handlers.py
  apps/backend/src/rhesis/backend/app/main.py
  apps/backend/src/rhesis/backend/app/routers/metric.py
  apps/backend/src/rhesis/backend/app/schemas/metric.py
  apps/backend/src/rhesis/backend/app/schemas/services.py
  apps/backend/src/rhesis/backend/app/utils/database_exceptions.py
  apps/frontend/src/app/(protected)/metrics/new/page.tsx
  apps/frontend/src/utils/api-client/interfaces/metric.ts
  sdk/src/rhesis/sdk/entities/prompt.py
  sdk/src/rhesis/sdk/entities/test_set.py
  sdk/src/rhesis/sdk/metrics/base.py
  sdk/src/rhesis/sdk/metrics/utils.py
  tests/sdk/metrics/test_base.py
Due: sdk, backend, frontend-format, frontend-lint, hardcoded-styles

feat(frontend): add grid state persistence to localStorage
  apps/frontend/src/app/(protected)/endpoints/components/EndpointsGrid.tsx
  apps/frontend/src/app/(protected)/knowledge/components/SourcesGrid.tsx
  apps/frontend/src/app/(protected)/test-runs/components/TestRunsGrid.tsx
  apps/frontend/src/app/(protected)/test-sets/components/TestSetsGrid.tsx
  apps/frontend/src/app/(protected)/tests/components/TestsGrid.tsx
  apps/frontend/src/components/common/BaseDataGrid.tsx
  apps/frontend/src/hooks/useGridStateStorage.ts
Due: frontend-format, frontend-lint, hardcoded-styles

add state storage
  apps/frontend/src/hooks/useGridStateStorage.ts
Due: frontend-format, frontend-lint, hardcoded-styles

test(frontend): fix TasksSection tests for grid state persistence
  apps/frontend/jest.setup.js
  apps/frontend/src/components/tasks/__tests__/TasksSection.test.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): use correct type for GridApi in useGridStateStorage
  apps/frontend/src/hooks/useGridStateStorage.ts
Due: frontend-format, frontend-lint, hardcoded-styles

update exporter timeout from 10 to 30
  apps/backend/src/rhesis/backend/telemetry/instrumentation.py
Due: backend

chore(frontend): migrate ESLint config for Next.js 16 compatibility
  apps/frontend/package-lock.json
  apps/frontend/package.json
Due: frontend-format, frontend-lint, hardcoded-styles

feat: implement structured error handling for MCP endpoints
  apps/backend/src/rhesis/backend/app/routers/services.py
  apps/backend/src/rhesis/backend/app/services/mcp_service.py
  sdk/src/rhesis/sdk/services/mcp/__init__.py
  sdk/src/rhesis/sdk/services/mcp/agent.py
  sdk/src/rhesis/sdk/services/mcp/exceptions.py
  sdk/src/rhesis/sdk/services/mcp/executor.py
Due: sdk, backend

update-is-verified-for-rhesis-user
  apps/backend/src/rhesis/backend/alembic/versions/f164d8d04e82_update_is_verified_to_rhesis_user.py
Due: backend

feat(knowledge): improve MCP import and tool selector dialogs
  apps/frontend/src/app/(protected)/knowledge/components/MCPImportDialog.tsx
  apps/frontend/src/app/(protected)/knowledge/components/MCPToolSelectorDialog.tsx
  apps/frontend/src/app/(protected)/knowledge/components/SourcesGrid.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

feat(knowledge): improve MCP import and tool selector dialogs (#988)
  apps/frontend/src/app/(protected)/knowledge/components/MCPImportDialog.tsx
  apps/frontend/src/app/(protected)/knowledge/components/MCPToolSelectorDialog.tsx
  apps/frontend/src/app/(protected)/knowledge/components/SourcesGrid.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

style(ui): reduce toolbar height for more compact header
  apps/frontend/src/app/(protected)/layout.tsx
Due: frontend-format, frontend-lint, hardcoded-styles
