Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, docs-format, hardcoded-styles

sdk:
  name: format sdk
  language: system
  entry: make -C sdk format
  pass_filenames: false

backend:
  name: format backend
  language: system
  entry: make -C apps/backend format_diff
  pass_filenames: false

frontend-format:
  name: auto-fix frontend formatting
  language: system
  entry: bash -c "cd apps/frontend && npm run format"
  pass_filenames: false

frontend-lint:
  name: lint frontend
  language: system
  entry: bash -c "cd apps/frontend && npm run lint"
  pass_filenames: false

docs-format:
  name: auto-fix docs formatting
  language: system
  entry: bash -c "cd apps/documentation && npm run format"
  pass_filenames: false

hardcoded-styles:
  name: check hardcoded styles in frontend and docs
  language: system
  entry: node scripts/check-hardcoded-styles.js
  pass_filenames: false

feat: add annotator, requirement, date range, and status filters to annotations
  apps/backend/src/rhesis/backend/app/crud/annotation.py
  apps/backend/src/rhesis/backend/app/mcp_server/mcp_tools.yaml
  apps/backend/src/rhesis/backend/app/routers/annotations.py
  apps/frontend/src/app/(protected)/annotations/components/AnnotationFilterDrawer.tsx
  apps/frontend/src/app/(protected)/annotations/components/AnnotationsGrid.tsx
  apps/frontend/src/app/(protected)/annotations/components/list.ts
  apps/frontend/src/utils/api-client/interfaces/annotation.ts
  sdk/src/rhesis/sdk/entities/annotation.py
  skills/rhesis/references/tool-catalog.md
Due: sdk, backend, frontend-format, frontend-lint, hardcoded-styles

fix(backend): address peqy review comments on annotation filters
  apps/backend/src/rhesis/backend/app/auth/url_utils.py
  apps/backend/src/rhesis/backend/app/crud/annotation.py
Due: backend

style(backend): fix ruff format in annotation crud
  apps/backend/src/rhesis/backend/app/crud/annotation.py
Due: backend

fix(sdk): address review feedback on OWASP bundled data
  .github/workflows/refresh-owasp-data.yml
  sdk/pyproject.toml
  sdk/src/rhesis/sdk/services/data/owasp/llm-top-10-2025.json
  sdk/src/rhesis/sdk/services/owasp_extractor.py
Due: sdk

Give the SDK, MCP and skill the annotation entity (#2737)
  apps/backend/src/rhesis/backend/app/auth/url_utils.py
  apps/backend/src/rhesis/backend/app/crud/annotation.py
  apps/backend/src/rhesis/backend/app/crud/embedding.py
  apps/backend/src/rhesis/backend/app/mcp_server/mcp_tools.yaml
  apps/backend/src/rhesis/backend/app/routers/annotations.py
  apps/backend/src/rhesis/backend/app/schemas/annotation.py
  apps/backend/src/rhesis/backend/app/services/garak/probes/service.py
  apps/frontend/src/app/(protected)/annotations/components/AnnotationFilterDrawer.tsx
  apps/frontend/src/app/(protected)/annotations/components/AnnotationsGrid.tsx
  apps/frontend/src/app/(protected)/annotations/components/list.ts
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestDetailMetricsTab.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestDetailOverviewTab.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestResultDrawer.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestsTableView.tsx
  apps/frontend/src/auth.ts
  apps/frontend/src/components/annotations/AnnotationDrawer.tsx
  apps/frontend/src/components/annotations/annotation-copy.ts
  apps/frontend/src/hooks/useLookups.ts
  apps/frontend/src/utils/api-client/annotations-client.ts
  apps/frontend/src/utils/api-client/interfaces/annotation.ts
  sdk/src/rhesis/sdk/agents/architect/prompt_templates/telemachus-guidelines.j2
  sdk/src/rhesis/sdk/clients/api.py
  sdk/src/rhesis/sdk/entities/__init__.py
  sdk/src/rhesis/sdk/entities/annotation.py
  sdk/src/rhesis/sdk/entities/test.py
  sdk/src/rhesis/sdk/entities/test_result.py
  sdk/src/rhesis/sdk/entities/test_run.py
  skills/rhesis/references/entity-model.md
  skills/rhesis/references/phases/analysis.md
  skills/rhesis/references/result-analysis.md
  skills/rhesis/references/tool-catalog.md
  tests/backend/auth/test_url_utils.py
  tests/backend/schemas/test_annotation_target.py
  tests/backend/services/test_mcp_tools_yaml.py
  tests/sdk/entities/test_annotation.py
  tests/sdk/entities/test_test_result.py
Due: sdk, backend, frontend-format, frontend-lint, hardcoded-styles

fix(sdk): bundle OWASP report data and add monthly refresh workflow (#2749)
  .github/workflows/refresh-owasp-data.yml
  scripts/refresh-owasp-data.py
  sdk/pyproject.toml
  sdk/src/rhesis/sdk/services/data/owasp/agentic-top-10-2025.json
  sdk/src/rhesis/sdk/services/data/owasp/llm-top-10-2025.json
  sdk/src/rhesis/sdk/services/owasp_extractor.py
Due: sdk

style(frontend): replace hardcoded borderRadius with theme token
  apps/frontend/src/app/(protected)/experiments/[identifier]/components/ExperimentParametersTab.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

refactor(frontend): split Advanced Configuration into Experiments and Traces tabs
  apps/frontend/src/app/(protected)/experiments/[identifier]/components/ExperimentDetailClient.tsx
  apps/frontend/src/app/(protected)/experiments/[identifier]/components/ExperimentOverviewTab.tsx
  apps/frontend/src/app/(protected)/experiments/[identifier]/components/ExperimentParametersTab.tsx
  apps/frontend/src/app/(protected)/experiments/[identifier]/components/ExperimentVersionsGrid.tsx
  apps/frontend/src/app/(protected)/experiments/components/ExperimentsClientWrapper.tsx
  apps/frontend/src/app/(protected)/projects/[identifier]/components/ProjectDetailTabs.tsx
  apps/frontend/src/app/(protected)/projects/[identifier]/components/ProjectExperimentsTab.tsx
  apps/frontend/src/app/(protected)/projects/[identifier]/components/ProjectTracesTab.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): prettier formatting, peqy feedback, and AGENTS.md style rules
  apps/frontend/AGENTS.md
  apps/frontend/src/app/(protected)/experiments/[identifier]/components/ExperimentVersionsGrid.tsx
  apps/frontend/src/app/(protected)/experiments/components/ExperimentsClientWrapper.tsx
  apps/frontend/src/app/(protected)/projects/[identifier]/components/ProjectDetailTabs.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

feat(frontend): add a notifications tab to user settings
  apps/frontend/src/app/(protected)/settings/components/NotificationsForm.tsx
  apps/frontend/src/app/(protected)/settings/components/SettingsTabs.tsx
  apps/frontend/src/app/(protected)/settings/loading.tsx
  apps/frontend/src/app/(protected)/settings/page.tsx
  apps/frontend/src/utils/api-client/interfaces/user.ts
Due: frontend-format, frontend-lint, hardcoded-styles

feat(backend): let users switch off job notification emails
  apps/backend/src/rhesis/backend/app/models/user_settings.py
  apps/backend/src/rhesis/backend/app/schemas/user.py
  apps/backend/src/rhesis/backend/app/services/notification/__init__.py
  apps/backend/src/rhesis/backend/app/services/notification/preferences.py
  apps/backend/src/rhesis/backend/app/services/task_notification.py
  apps/backend/src/rhesis/backend/jobs/base.py
  tests/backend/jobs/test_base_task.py
  tests/backend/routes/test_user_settings.py
  tests/backend/services/notification/test_preferences.py
  tests/backend/services/test_task_notification.py
Due: backend

fix(backend): scope task assignment email lookups to the org
  apps/backend/src/rhesis/backend/app/services/task_notification.py
Due: backend

Split Advanced Configuration into Experiments and Traces tabs (#2750)
  apps/frontend/AGENTS.md
  apps/frontend/src/app/(protected)/experiments/[identifier]/components/ExperimentDetailClient.tsx
  apps/frontend/src/app/(protected)/experiments/[identifier]/components/ExperimentOverviewTab.tsx
  apps/frontend/src/app/(protected)/experiments/[identifier]/components/ExperimentParametersTab.tsx
  apps/frontend/src/app/(protected)/experiments/[identifier]/components/ExperimentVersionsGrid.tsx
  apps/frontend/src/app/(protected)/experiments/components/ExperimentsClientWrapper.tsx
  apps/frontend/src/app/(protected)/projects/[identifier]/components/ProjectDetailTabs.tsx
  apps/frontend/src/app/(protected)/projects/[identifier]/components/ProjectExperimentsTab.tsx
  apps/frontend/src/app/(protected)/projects/[identifier]/components/ProjectTracesTab.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(backend): offload blocking storage I/O to the threadpool
  apps/backend/src/rhesis/backend/app/services/storage_service.py
Due: backend

fix(backend): offload blocking storage I/O to the threadpool (#2753)
  apps/backend/src/rhesis/backend/app/services/storage_service.py
Due: backend

test(backend): add organization branding tests
  tests/backend/app/test_settings.py
  tests/backend/models/test_organization_settings.py
  tests/backend/routes/test_organization_settings.py
  tests/backend/schemas/test_organization_settings.py
  tests/backend/services/test_organization_branding.py
  tests/backend/utils/test_uploads.py
Due: none

fix(frontend): move upgrade link next to plan badge in sidebar
  apps/frontend/src/components/navigation/SidebarPlanRow.tsx
  apps/frontend/src/components/navigation/__tests__/SidebarPlanRow.test.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

feat(frontend): add branding settings UI with live preview
  apps/frontend/CHANGELOG.md
  apps/frontend/src/app/(protected)/metrics/new/components/NewMetricForm.tsx
  apps/frontend/src/app/(protected)/organizations/settings/components/BrandingColorsForm.tsx
  apps/frontend/src/app/(protected)/organizations/settings/components/BrandingFaviconForm.tsx
  apps/frontend/src/app/(protected)/organizations/settings/components/BrandingFontForm.tsx
  apps/frontend/src/app/(protected)/organizations/settings/components/OrganizationSettingsTabs.tsx
  apps/frontend/src/app/(protected)/organizations/settings/components/branding-constants.ts
  apps/frontend/src/app/(protected)/test-sets/new-generated/layout.tsx
  apps/frontend/src/app/(protected)/tests/new-manual/layout.tsx
  apps/frontend/src/app/brand-assets/[asset]/route.ts
  apps/frontend/src/app/brand-fonts/[...path]/route.ts
  apps/frontend/src/app/brand-fonts/__tests__/route.test.ts
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/components/auth/AuthForm.tsx
  apps/frontend/src/components/common/BrandMark.tsx
  apps/frontend/src/components/navigation/Sidebar.tsx
  apps/frontend/src/components/navigation/SidebarPlanRow.tsx
  apps/frontend/src/components/providers/ThemeProvider.tsx
  apps/frontend/src/config/branding.ts
  apps/frontend/src/hooks/useDocumentTitle.ts
  apps/frontend/src/types/env.d.ts
  apps/frontend/src/utils/api-client/interfaces/organization.ts
  apps/frontend/src/utils/api-client/organizations-client.ts
Due: frontend-format, frontend-lint, hardcoded-styles

feat(backend): add organization branding settings
  apps/backend/CHANGELOG.md
  apps/backend/src/rhesis/backend/alembic/versions/cb3558b77459_add_organization_settings_to_organization.py
  apps/backend/src/rhesis/backend/app/config/settings.py
  apps/backend/src/rhesis/backend/app/models/organization.py
  apps/backend/src/rhesis/backend/app/models/organization_settings.py
  apps/backend/src/rhesis/backend/app/routers/organization.py
  apps/backend/src/rhesis/backend/app/schemas/__init__.py
  apps/backend/src/rhesis/backend/app/schemas/organization.py
  apps/backend/src/rhesis/backend/app/schemas/organization_settings.py
  apps/backend/src/rhesis/backend/app/services/organization_branding.py
  apps/backend/src/rhesis/backend/app/services/storage_service.py
  apps/backend/src/rhesis/backend/app/utils/uploads.py
Due: backend

style(backend): fix ruff formatting in organization router
  apps/backend/src/rhesis/backend/app/routers/organization.py
Due: backend

fix(backend): offload branding storage I/O and consolidate DB calls
  apps/backend/src/rhesis/backend/app/routers/organization.py
  apps/backend/src/rhesis/backend/app/services/organization_branding.py
  apps/backend/src/rhesis/backend/app/utils/uploads.py
Due: backend

test(frontend): add branding UI tests
  apps/frontend/src/app/(protected)/organizations/settings/components/__tests__/BrandingColorsForm.test.tsx
  apps/frontend/src/app/(protected)/organizations/settings/components/__tests__/branding-constants.test.ts
  apps/frontend/src/components/common/__tests__/BrandMark.test.tsx
  apps/frontend/src/config/__tests__/branding.test.ts
  apps/frontend/src/hooks/__tests__/useDocumentTitle.test.ts
  apps/frontend/src/hooks/__tests__/useDocumentTitle.test.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

style(frontend): fix prettier formatting and hardcoded-style lint
  apps/frontend/src/app/(protected)/organizations/settings/components/BrandingColorsForm.tsx
  apps/frontend/src/app/(protected)/organizations/settings/components/branding-constants.ts
Due: frontend-format, frontend-lint, hardcoded-styles

docs: add branding documentation and deployment config
  charts/rhesis/templates/configmap.yaml
  charts/rhesis/values.yaml
  docker-compose.yml
  docs/content/contribute/environment-variables.mdx
  docs/content/docs/deployment/environment-variables.mdx
  docs/content/docs/organizations/_meta.tsx
  docs/content/docs/organizations/branding.mdx
Due: none

Let users turn off job completion emails (#2752)
  apps/backend/src/rhesis/backend/app/models/user_settings.py
  apps/backend/src/rhesis/backend/app/schemas/user.py
  apps/backend/src/rhesis/backend/app/services/notification/__init__.py
  apps/backend/src/rhesis/backend/app/services/notification/preferences.py
  apps/backend/src/rhesis/backend/app/services/task_notification.py
  apps/backend/src/rhesis/backend/jobs/base.py
  apps/frontend/src/app/(protected)/settings/components/NotificationsForm.tsx
  apps/frontend/src/app/(protected)/settings/components/SettingsTabs.tsx
  apps/frontend/src/app/(protected)/settings/loading.tsx
  apps/frontend/src/app/(protected)/settings/page.tsx
  apps/frontend/src/utils/api-client/interfaces/user.ts
  tests/backend/jobs/test_base_task.py
  tests/backend/routes/test_user_settings.py
  tests/backend/services/notification/test_preferences.py
  tests/backend/services/test_task_notification.py
Due: backend, frontend-format, frontend-lint, hardcoded-styles

feat(frontend): badge the annotations tab with its count
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestRunAnnotationsTab.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestRunMainView.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/__tests__/TestRunAnnotationsTab.test.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/hooks/__tests__/useTestRunAnnotations.test.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/hooks/useTestRunAnnotations.ts
  apps/frontend/src/components/common/TabCountBadge.tsx
  apps/frontend/src/components/common/__tests__/TabCountBadge.test.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): name the verdict KPI count as sent
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/summary/__tests__/KpiRow.test.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/summary/__tests__/RequirementTable.test.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/summary/__tests__/RunSummary.test.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/summary/__tests__/useTestRunLive.test.tsx
  apps/frontend/src/utils/api-client/interfaces/test-run.ts
Due: frontend-format, frontend-lint, hardcoded-styles

refactor(frontend): give run annotations their own query key
  apps/frontend/src/app/(protected)/test-runs/[identifier]/hooks/__tests__/useTestRunAnnotations.test.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/hooks/useTestRunAnnotations.ts
  apps/frontend/src/constants/query-keys.ts
Due: frontend-format, frontend-lint, hardcoded-styles

feat(frontend): let the annotations column sort
  apps/frontend/src/app/(protected)/test-runs/components/TestRunsGrid.tsx
  apps/frontend/src/utils/__tests__/grid-sort.test.ts
  apps/frontend/src/utils/api-client/interfaces/test-run.ts
  apps/frontend/src/utils/grid-sort.ts
Due: frontend-format, frontend-lint, hardcoded-styles

feat(backend): sort test runs by annotated test count
  apps/backend/src/rhesis/backend/app/crud/annotation.py
  apps/backend/src/rhesis/backend/app/utils/count_sort.py
  tests/backend/utils/test_count_sort.py
Due: backend

Badge the annotations tab with how many a run has (#2754)
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestRunAnnotationsTab.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestRunMainView.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/__tests__/TestRunAnnotationsTab.test.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/summary/__tests__/KpiRow.test.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/summary/__tests__/RequirementTable.test.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/summary/__tests__/RunSummary.test.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/summary/__tests__/useTestRunLive.test.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/hooks/__tests__/useTestRunAnnotations.test.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/hooks/useTestRunAnnotations.ts
  apps/frontend/src/components/common/TabCountBadge.tsx
  apps/frontend/src/components/common/__tests__/TabCountBadge.test.tsx
  apps/frontend/src/constants/query-keys.ts
  apps/frontend/src/utils/api-client/interfaces/test-run.ts
Due: frontend-format, frontend-lint, hardcoded-styles

Sort the test runs list by how much of each was reviewed (#2755)
  apps/backend/src/rhesis/backend/app/crud/annotation.py
  apps/backend/src/rhesis/backend/app/utils/count_sort.py
  apps/frontend/src/app/(protected)/test-runs/components/TestRunsGrid.tsx
  apps/frontend/src/utils/__tests__/grid-sort.test.ts
  apps/frontend/src/utils/api-client/interfaces/test-run.ts
  apps/frontend/src/utils/grid-sort.ts
  tests/backend/utils/test_count_sort.py
Due: backend, frontend-format, frontend-lint, hardcoded-styles

feat(frontend): keep the usage card current as a run executes
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/summary/KpiRow.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/summary/__tests__/KpiRow.test.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/hooks/__tests__/useTestRunUsage.test.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/hooks/useTestRunUsage.ts
  apps/frontend/src/constants/query-keys.ts
Due: frontend-format, frontend-lint, hardcoded-styles

feat(backend): report how far pricing has got on a scope
  apps/backend/src/rhesis/backend/app/crud/telemetry.py
  apps/backend/src/rhesis/backend/app/crud/usage_sql.py
  apps/backend/src/rhesis/backend/app/schemas/telemetry.py
  tests/backend/crud/test_trace_metrics_aggregated.py
Due: backend

fix(frontend): stop the usage card guessing at a zero cost
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/summary/KpiRow.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/summary/__tests__/KpiRow.test.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/hooks/__tests__/useTestRunUsage.test.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/hooks/useTestRunUsage.ts
  apps/frontend/src/utils/api-client/interfaces/telemetry.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): keep the usage card polling until the figures settle
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/summary/KpiRow.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/summary/__tests__/KpiRow.test.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/hooks/__tests__/useTestRunUsage.test.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/hooks/useTestRunUsage.ts
Due: frontend-format, frontend-lint, hardcoded-styles

test: cover ragas removal migration
  tests/backend/alembic/test_remove_ragas_migration.py
  tests/backend/jobs/test_filter_configs_by_scope.py
  tests/backend/metrics/fixtures/__init__.py
  tests/backend/metrics/fixtures/metric_factories.py
  tests/backend/metrics/fixtures/metric_fixtures.py
  tests/backend/metrics/test_e2e_flow.py
  tests/backend/metrics/test_introspection.py
  tests/backend/routes/test_metric.py
  tests/sdk/pytest.ini
Due: none

feat(backend): remove ragas metric backend
  apps/backend/CHANGELOG.md
  apps/backend/pyproject.toml
  apps/backend/src/rhesis/backend/alembic/versions/c2e403bfd18b_remove_ragas_metric_backend.py
  apps/backend/src/rhesis/backend/app/constants.py
  apps/backend/src/rhesis/backend/app/services/initial_data.json
  apps/backend/src/rhesis/backend/app/services/organization.py
  apps/backend/src/rhesis/backend/celery/signals.py
  apps/backend/src/rhesis/backend/metrics/__init__.py
  apps/backend/uv.lock
Due: backend

feat(frontend): remove ragas backend handling
  apps/frontend/CHANGELOG.md
  apps/frontend/src/app/(protected)/metrics/components/MetricCard.tsx
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/TestSetMetrics.tsx
  apps/frontend/src/components/common/SelectMetricsDialog.tsx
  apps/frontend/src/components/common/__tests__/SelectMetricsDialog.test.tsx
  apps/frontend/tests/e2e/pages/MetricsPage.ts
  apps/frontend/tests/e2e/tests/metrics-page.spec.ts
Due: frontend-format, frontend-lint, hardcoded-styles

Path conditions:
  sdk: any of: ^sdk/
  backend: any of: ^apps/backend/
  frontend-format: any of: ^apps/frontend/
  frontend-lint: any of: ^apps/frontend/
  docs-format: any of: ^apps/documentation/
  hardcoded-styles: any of: ^apps/(frontend|documentation)/
