Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict

  - repo: local
    hooks:
        - id: sdk
          name  : format sdk
          language: system
          entry: make -C sdk format
          files: ^sdk/
          pass_filenames: false

        - id: backend
          name  : format backend
          language: system
          entry: make -C apps/backend format
          files: ^apps/backend/
          pass_filenames: false


  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.8.0
  #   hooks:
  #     - id: mypy
  #       additional_dependencies: [
  #         "types-requests",
  #         "pandas-stubs",
  #         "pyarrow-stubs",
  #         "types-tqdm"
  #       ]

add second rhesis provider for testing purposes
  sdk/src/rhesis/sdk/services/__init__.py
  sdk/src/rhesis/sdk/services/providers/rhesis_premium.py
Due: sdk

add model wrapper to deepeval
  sdk/src/rhesis/sdk/metrics/deepeval/model.py
  sdk/src/rhesis/sdk/metrics/deepeval/model_factory.py
Due: sdk

remove pip from sdk dependencies
  sdk/pyproject.toml
  sdk/uv.lock
Due: sdk

fix: Running migrations even if there is already a revision
  apps/backend/migrate.sh
Due: backend

Comments for collaboraion tests, test sets and test runs
  apps/frontend/src/app/(protected)/test-runs/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/test-sets/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/tests/[identifier]/page.tsx
  apps/frontend/src/components/comments/CommentItem.tsx
  apps/frontend/src/components/comments/CommentsSection.tsx
  apps/frontend/src/components/comments/CommentsWrapper.tsx
  apps/frontend/src/hooks/useComments.ts
  apps/frontend/src/types/comments.ts
  apps/frontend/src/utils/api-client/client-factory.ts
  apps/frontend/src/utils/api-client/comments-client.ts
  apps/frontend/src/utils/api-client/config.ts
  apps/frontend/src/utils/mock-data/comments.ts
Due: none

Refactor environment variable usage in frontend to replace NODE_ENV with FRONTEND_ENV for consistency across configurations and improve deployment handling.
  apps/frontend/Dockerfile
  apps/frontend/next.config.mjs
  apps/frontend/src/app/auth/signin/page.tsx
  apps/frontend/src/auth.ts
  apps/frontend/src/components/common/BasePieChart.tsx
  apps/frontend/src/middleware.ts
  apps/frontend/src/utils/session.ts
  docker-compose.yml
  env.example
Due: none

move basellm, utils, modelfactory
  sdk/src/rhesis/sdk/models/__init__.py
  sdk/src/rhesis/sdk/models/base.py
  sdk/src/rhesis/sdk/models/model_factory.py
  sdk/src/rhesis/sdk/models/utils.py
  sdk/src/rhesis/sdk/services/providers/gemini_provider.py
  sdk/src/rhesis/sdk/services/providers/openai_provider.py
  sdk/src/rhesis/sdk/services/providers/rhesis_provider.py
  tests/sdk/services/test_basellm.py
  tests/sdk/services/test_model_factory.py
  tests/sdk/services/test_utils.py
Due: sdk

mode providers
  apps/backend/src/rhesis/backend/app/routers/services.py
  sdk/src/rhesis/sdk/models/__init__.py
  sdk/src/rhesis/sdk/models/model_factory.py
  sdk/src/rhesis/sdk/models/providers/__init__.py
  sdk/src/rhesis/sdk/models/providers/gemini_provider.py
  sdk/src/rhesis/sdk/models/providers/openai_provider.py
  sdk/src/rhesis/sdk/models/providers/rhesis_provider.py
  sdk/src/rhesis/sdk/services/__init__.py
  tests/sdk/services/providers/test_gemini_provider.py
  tests/sdk/services/providers/test_rhesis_provider.py
Due: sdk, backend

fix tests
  tests/backend/routes/test_services.py
  tests/sdk/services/providers/test_gemini_provider.py
  tests/sdk/services/providers/test_rhesis_provider.py
  tests/sdk/services/test_model_factory.py
Due: none

move tests to models
  tests/sdk/models/providers/test_gemini_provider.py
  tests/sdk/models/providers/test_rhesis_provider.py
  tests/sdk/models/test_basellm.py
  tests/sdk/models/test_model_factory.py
  tests/sdk/models/test_utils.py
Due: none

rename rhesisllmservice
  sdk/src/rhesis/sdk/models/__init__.py
  sdk/src/rhesis/sdk/models/model_factory.py
  sdk/src/rhesis/sdk/models/providers/rhesis_provider.py
Due: sdk

fix tests
  tests/sdk/models/providers/test_rhesis_provider.py
  tests/sdk/models/test_model_factory.py
Due: none

fix: Now displaying metrics not associated with behaviors
  apps/frontend/src/app/(protected)/metrics/components/MetricsClient.tsx
Due: none

fix: adding spinner for metrics deletion
  apps/frontend/src/app/(protected)/metrics/components/MetricsDirectoryTab.tsx
Due: none

fix: optimizing number of calls for creating custom metric
  apps/frontend/src/app/(protected)/metrics/new/page.tsx
Due: none

fix: Redirecting user to metrics directory after metrics creation
  apps/frontend/src/app/(protected)/metrics/components/MetricsClient.tsx
  apps/frontend/src/app/(protected)/metrics/new/page.tsx
Due: none

fix: Adding individual loading states for the two tabs
  apps/frontend/src/app/(protected)/metrics/components/MetricsClient.tsx
  apps/frontend/src/app/(protected)/metrics/components/MetricsDirectoryTab.tsx
Due: none

fix: Making name an optional field for metric edits
  apps/backend/src/rhesis/backend/app/schemas/metric.py
Due: backend

ensuring that each TextField component has a stable reference
  apps/frontend/src/app/(protected)/metrics/[identifier]/page.tsx
Due: none

Enhance Dockerfile for frontend: create .next directory for non-production environments and streamline copying of .next directory during build process.
  apps/frontend/Dockerfile
Due: none

fix: Fixing display of metrics confirmation page during creation
  apps/backend/uv.lock
  apps/frontend/src/app/(protected)/metrics/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/metrics/components/MetricsClient.tsx
  apps/frontend/src/app/(protected)/metrics/new/page.tsx
  apps/frontend/src/components/common/BaseWorkflowSection.tsx
Due: backend
