Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, frontend-hardcoded-styles

sdk:
  name: format sdk
  language: system
  entry: make -C sdk format
  pass_filenames: false

backend:
  name: format backend
  language: system
  entry: make -C apps/backend format_diff
  pass_filenames: false

frontend-format:
  name: auto-fix frontend formatting
  language: system
  entry: cd apps/frontend && npm run format
  pass_filenames: false

frontend-lint:
  name: lint frontend
  language: system
  entry: cd apps/frontend && npm run lint
  pass_filenames: false

frontend-hardcoded-styles:
  name: check hardcoded styles in frontend
  language: system
  entry: node scripts/check-hardcoded-styles.js
  pass_filenames: false

refactor(telemetry): rename metadata column to event_metadata in analytics tables
  apps/backend/src/rhesis/backend/alembic/versions/a1b2c3d4e5f7_add_telemetry_analytics_tables.py
  apps/frontend/src/app/(protected)/organizations/settings/page.tsx
  apps/frontend/src/components/settings/TelemetrySettings.tsx
  apps/otel-collector/otel-collector-config.yaml
  apps/telemetry-processor/src/processor.py
Due: backend, frontend-format, frontend-lint, frontend-hardcoded-styles

feat(task_management): enhance task operations with telemetry tracking
  apps/backend/src/rhesis/backend/app/routers/task_management.py
  apps/backend/src/rhesis/backend/telemetry/middleware.py
Due: backend

feat(telemetry): integrate OpenTelemetry for enhanced monitoring
  apps/backend/src/rhesis/backend/app/auth/user_utils.py
  apps/backend/src/rhesis/backend/app/main.py
  apps/backend/src/rhesis/backend/telemetry/instrumentation.py
  apps/backend/src/rhesis/backend/telemetry/middleware.py
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/telemetry-processor/pyproject.toml
Due: backend, frontend-format, frontend-lint, frontend-hardcoded-styles

feat(telemetry): implement comprehensive OpenTelemetry system
  TELEMETRY_IMPLEMENTATION.md
  apps/backend/src/rhesis/backend/telemetry/instrumentation.py
  apps/otel-collector/TELEMETRY_IMPLEMENTATION.md
Due: backend

refactor(telemetry): remove telemetry settings and related components
  apps/backend/src/rhesis/backend/alembic/versions/a1b2c3d4e5f8_add_telemetry_enabled_to_user.py
  apps/backend/src/rhesis/backend/app/models/user.py
  apps/backend/src/rhesis/backend/app/routers/auth.py
  apps/backend/src/rhesis/backend/app/routers/task_management.py
  apps/backend/src/rhesis/backend/app/routers/user.py
  apps/backend/src/rhesis/backend/telemetry/__init__.py
  apps/backend/src/rhesis/backend/telemetry/instrumentation.py
  apps/backend/src/rhesis/backend/telemetry/middleware.py
  apps/frontend/src/app/(protected)/organizations/settings/page.tsx
  apps/frontend/src/components/settings/TelemetrySettings.tsx
  apps/frontend/src/components/telemetry/TelemetryOptInDialog.tsx
Due: backend, frontend-format, frontend-lint, frontend-hardcoded-styles

test: verify GPG signing
  docs/TELEMETRY_SETUP.md
Due: none

feat(deploy): add workflows for OTel Collector and Telemetry Processor
  .github/workflows/otel-collector.yml
  .github/workflows/telemetry-processor.yml
  apps/otel-collector/Dockerfile
Due: none

delete the docs for telemetry
  docs/TELEMETRY.md
  docs/telemetry/README.md
Due: none

ix(docker): correct deployment type naming and add telemetry option
  docker-compose.yml
Due: none

refactor: clean up import statements and format revision identifiers in Alembic migration
  apps/backend/src/rhesis/backend/alembic/versions/7274a152f6c1_merge_telemetry_and_rhesis_model_.py
Due: backend

fix: address exhaustive-deps warnings in useComments hook and update test for comment deletion
  apps/frontend/src/hooks/__tests__/useComments.test.ts
  apps/frontend/src/hooks/useComments.ts
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

refactor: restructure telemetry processor with modular components and improved service architecture
  apps/telemetry-processor/src/processor.py
  apps/telemetry-processor/src/processor/__init__.py
  apps/telemetry-processor/src/processor/database/__init__.py
  apps/telemetry-processor/src/processor/database/connection.py
  apps/telemetry-processor/src/processor/grpc/__init__.py
  apps/telemetry-processor/src/processor/grpc/trace_service.py
  apps/telemetry-processor/src/processor/main.py
  apps/telemetry-processor/src/processor/models/__init__.py
  apps/telemetry-processor/src/processor/models/analytics.py
  apps/telemetry-processor/src/processor/models/base.py
  apps/telemetry-processor/src/processor/services/__init__.py
  apps/telemetry-processor/src/processor/services/base.py
  apps/telemetry-processor/src/processor/services/endpoint_usage.py
  apps/telemetry-processor/src/processor/services/feature_usage.py
  apps/telemetry-processor/src/processor/services/span_router.py
  apps/telemetry-processor/src/processor/services/user_activity.py
  apps/telemetry-processor/src/processor/utils/__init__.py
  apps/telemetry-processor/src/processor/utils/attribute_extractor.py
Due: none

refactor: reorder import statements for consistency across migration files
  apps/backend/src/rhesis/backend/telemetry/middleware.py
Due: backend

feat: add Alembic migration for merging telemetry and Rhesis models
  apps/backend/src/rhesis/backend/alembic/versions/7274a152f6c1_merge_telemetry_and_rhesis_model_.py
  apps/frontend/CONTRIBUTING.md
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TABLE_VIEW_README.md
  apps/frontend/src/config/test-templates.generated.ts
  apps/frontend/src/lib/telemetry.ts
Due: backend, frontend-format, frontend-lint, frontend-hardcoded-styles

refactor: improve formatting and structure of test templates in test-templates.generated.ts
  apps/frontend/src/config/test-templates.generated.ts
  apps/frontend/src/hooks/__tests__/useComments.test.ts
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

refactor: update Docker Compose configuration to replace LLM settings with Gemini API configuration
  docker-compose.yml
Due: none

Revert "refactor: streamline data factory implementations for test data generation"
  tests/backend/routes/fixtures/data_factories.py
Due: none

refactor: streamline data factory implementations for test data generation
  tests/backend/routes/fixtures/data_factories.py
Due: none

Revert "refactor: improve formatting and structure of test templates in test-templates.generated.ts"
  apps/frontend/src/config/test-templates.generated.ts
  apps/frontend/src/hooks/__tests__/useComments.test.ts
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

Revert "fix: address exhaustive-deps warnings in useComments hook and update test for comment deletion"
  apps/frontend/src/hooks/__tests__/useComments.test.ts
  apps/frontend/src/hooks/useComments.ts
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

Revert "refactor: reorder import statements for consistency across migration files"
  apps/backend/src/rhesis/backend/alembic/versions/10c4e8124417_add_is_protected_to_model.py
  apps/backend/src/rhesis/backend/alembic/versions/5ac5d119bda1_sync_schema_changes.py
  apps/backend/src/rhesis/backend/alembic/versions/d99dc2079c4d_add_rhesis_provider_type.py
  apps/backend/src/rhesis/backend/alembic/versions/e8dd05d20cd0_add_default_rhesis_model_to_existing_.py
  apps/backend/src/rhesis/backend/alembic/versions/fe5d9ca98fca_update_source_model_with_status_.py
  apps/backend/src/rhesis/backend/app/models/model.py
  apps/backend/src/rhesis/backend/app/utils/llm_utils.py
  apps/backend/src/rhesis/backend/telemetry/middleware.py
Due: backend

refactor: remove obsolete telemetry migration scripts
  apps/backend/src/rhesis/backend/alembic/versions/7274a152f6c1_merge_telemetry_and_rhesis_model_.py
  apps/backend/src/rhesis/backend/alembic/versions/a1b2c3d4e5f7_add_telemetry_analytics_tables.py
Due: backend

refactor: enhance hashing mechanism in telemetry for user and organization IDs
  apps/frontend/src/lib/telemetry.ts
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

docs: update README for Telemetry Processor Service
  apps/telemetry-processor/README.md
Due: none

Path conditions:
  sdk: any of: ^sdk/
  backend: any of: ^apps/backend/
  frontend-format: any of: ^apps/frontend/
  frontend-lint: any of: ^apps/frontend/
  frontend-hardcoded-styles: any of: ^apps/frontend/
