Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, docs-format, hardcoded-styles

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict

  - repo: local
    hooks:
        - id: trufflehog
          name: TruffleHog
          description: Detect secrets in your data.
          entry: bash -c 'PATH="$HOME/.local/bin:$PATH" trufflehog git file://. --since-commit HEAD --only-verified --fail --no-update'
          language: system
          stages: ["pre-commit", "pre-push"]

        - id: sdk
          name  : format sdk
          language: system
          entry: make -C sdk format
          files: ^sdk/
          pass_filenames: false

        - id: backend
          name  : format backend
          language: system
          entry: make -C apps/backend format_diff
          files: ^apps/backend/
          pass_filenames: false

        - id: frontend-format
          name: auto-fix frontend formatting
          language: system
          entry: bash -c "cd apps/frontend && npm run format"
          files: ^apps/frontend/
          pass_filenames: false

        - id: frontend-lint
          name: lint frontend
          language: system
          entry: bash -c "cd apps/frontend && npm run lint"
          files: ^apps/frontend/
          pass_filenames: false

        - id: docs-format
          name: auto-fix docs formatting
          language: system
          entry: bash -c "cd apps/documentation && npm run format"
          files: ^apps/documentation/
          pass_filenames: false

        - id: hardcoded-styles
          name: check hardcoded styles in frontend and docs
          language: system
          entry: node scripts/check-hardcoded-styles.js
          files: ^apps/(frontend|documentation)/
          pass_filenames: false


  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.8.0
  #   hooks:
  #     - id: mypy
  #       additional_dependencies: [
  #         "types-requests",
  #         "pandas-stubs",
  #         "pyarrow-stubs",
  #         "types-tqdm"
  #       ]

feat(dev): add chatbot SDK secrets and fix connector default
  .github/workflows/chatbot.yml
  infrastructure/config/service-secrets-config.sh.example
  infrastructure/config/service-secrets-create.sh
Due: none

chore(dev): remove unused test environment config
  infrastructure/config/service-secrets-config.sh.example
  infrastructure/config/service-secrets-create.sh
Due: none

chore(dev): remove unused secrets and duplicate entries
  infrastructure/config/service-secrets-config.sh.example
  infrastructure/config/service-secrets-create.sh
Due: none

fix(frontend): restore model selection on test re-run
  apps/backend/src/rhesis/backend/app/utils/user_model_utils.py
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/RerunTestRunDrawer.tsx
Due: backend, frontend-format, frontend-lint, hardcoded-styles

fix(backend): address PR review feedback from peqy
  apps/backend/src/rhesis/backend/app/routers/services.py
  apps/backend/src/rhesis/backend/tasks/execution/batch/context.py
  apps/backend/src/rhesis/backend/tasks/execution/sequential.py
  tests/backend/services/test_rescore.py
Due: backend

fix(dev): remove RHESIS_CONNECTOR_DISABLED from chatbot deploy
  .github/workflows/chatbot.yml
Due: none

fix(tests): update test_set execution mock assertion
  tests/backend/services/test_test_set.py
Due: none

fix: address remaining PR review feedback
  apps/backend/src/rhesis/backend/app/routers/services.py
  apps/frontend/src/components/common/ModelSelector.tsx
Due: backend, frontend-format, frontend-lint, hardcoded-styles

docs: update documentation for flexible model selection
  docs/content/docs/conversation-simulation/configuration.mdx
  docs/content/docs/deployment/running-locally.mdx
  docs/content/docs/deployment/self-hosting.mdx
  docs/content/docs/metrics/index.mdx
  docs/content/docs/models/index.mdx
  docs/content/docs/test-execution/index.mdx
  docs/content/docs/test-sets-runs/index.mdx
  docs/content/docs/test-sets/index.mdx
  docs/content/docs/tests-generation/index.mdx
Due: none

fix(sdk): start deferred websocket connection on function registration
  sdk/src/rhesis/sdk/connector/manager.py
Due: sdk

fix(chatbot): add fallback for RHESIS_BASE_URL in deploy
  .github/workflows/chatbot.yml
Due: none

fix(sdk): prevent duplicate connect tasks in _ensure_connection
  sdk/src/rhesis/sdk/connector/manager.py
Due: sdk

feat(rhesis): initialize Helm chart with core components and configurations
  charts/rhesis/Chart.lock
  charts/rhesis/Chart.yaml
  charts/rhesis/charts/opentelemetry-collector-0.150.0.tgz
  charts/rhesis/charts/postgresql-15.5.38.tgz
  charts/rhesis/charts/valkey-2.4.7.tgz
  charts/rhesis/templates/NOTES.txt
  charts/rhesis/templates/_helpers.tpl
  charts/rhesis/templates/backend/deployment.yaml
  charts/rhesis/templates/backend/ingress.yaml
  charts/rhesis/templates/backend/service.yaml
  charts/rhesis/templates/chatbot/deployment.yaml
  charts/rhesis/templates/chatbot/service.yaml
  charts/rhesis/templates/configmap.yaml
  charts/rhesis/templates/docs/deployment.yaml
  charts/rhesis/templates/docs/ingress.yaml
  charts/rhesis/templates/docs/service.yaml
  charts/rhesis/templates/frontend/deployment.yaml
  charts/rhesis/templates/frontend/ingress.yaml
  charts/rhesis/templates/frontend/service.yaml
  charts/rhesis/templates/polyphemus/deployment.yaml
  charts/rhesis/templates/polyphemus/service.yaml
  charts/rhesis/templates/worker/deployment.yaml
  charts/rhesis/values-dev.yaml
  charts/rhesis/values-prd.yaml
  charts/rhesis/values-stg.yaml
  charts/rhesis/values.yaml
  kubernetes/clusters/dev/kustomization.yaml
  kubernetes/clusters/dev/rhesis/external-secret-app.yaml
  kubernetes/clusters/dev/rhesis/rhesis-application.yaml
Due: none

fix(backend): pass endpoint and use correct api_base param
  apps/backend/src/rhesis/backend/app/routers/model.py
  apps/backend/src/rhesis/backend/app/services/model_connection.py
Due: backend

fix(sdk): forward extra_params from model config
  sdk/src/rhesis/sdk/models/factory.py
Due: sdk

Fix model connection endpoint passthrough (#1643)
  apps/backend/src/rhesis/backend/app/routers/model.py
  apps/backend/src/rhesis/backend/app/services/model_connection.py
  sdk/src/rhesis/sdk/models/factory.py
Due: sdk, backend

feat(sdk): auto-connect WebSocket on first endpoint invocation
  sdk/src/rhesis/sdk/clients/rhesis.py
  sdk/src/rhesis/sdk/connector/manager.py
  sdk/src/rhesis/sdk/decorators/endpoint.py
Due: sdk

chore(dev): run uv sync before dev backend
  rh
Due: none

chore(dev): run uv sync before dev backend (#1644)
  rh
Due: none

fix(frontend): use host.docker.internal for all default endpoints
  apps/frontend/src/app/(protected)/models/components/ConnectionDialog.tsx
  apps/frontend/src/config/model-providers.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): use host.docker.internal for all default endpoints (#1645)
  apps/frontend/src/app/(protected)/models/components/ConnectionDialog.tsx
  apps/frontend/src/config/model-providers.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

feat: implement streaming suggestion generation and progress tracking
  apps/backend/src/rhesis/backend/app/services/adaptive_testing/suggestions.py
  apps/frontend/src/app/(protected)/adaptive-testing/[identifier]/components/SuggestionsDialog.tsx
  apps/frontend/src/utils/api-client/interfaces/adaptive-testing.ts
  sdk/src/rhesis/sdk/models/base.py
  sdk/src/rhesis/sdk/models/providers/litellm.py
Due: sdk, backend, frontend-format, frontend-lint, hardcoded-styles

feat: add diversity scoring to adaptive testing suggestions
  apps/backend/src/rhesis/backend/app/schemas/adaptive_testing.py
  apps/backend/src/rhesis/backend/app/services/adaptive_testing/embeddings.py
  apps/backend/src/rhesis/backend/app/services/adaptive_testing/suggestions.py
  apps/frontend/src/app/(protected)/adaptive-testing/[identifier]/components/SuggestionsDialog.tsx
  apps/frontend/src/utils/api-client/interfaces/adaptive-testing.ts
Due: backend, frontend-format, frontend-lint, hardcoded-styles

feat: add adaptive testing embedding support
  apps/backend/src/rhesis/backend/app/routers/adaptive_testing.py
  apps/backend/src/rhesis/backend/app/schemas/adaptive_testing.py
  apps/backend/src/rhesis/backend/app/services/adaptive_testing/__init__.py
  apps/backend/src/rhesis/backend/app/services/adaptive_testing/embeddings.py
  apps/backend/src/rhesis/backend/app/services/adaptive_testing/suggestions.py
  apps/frontend/src/app/(protected)/adaptive-testing/[identifier]/components/AdaptiveTestingDetail.tsx
  apps/frontend/src/app/(protected)/adaptive-testing/[identifier]/components/SuggestionsDialog.tsx
  apps/frontend/src/utils/api-client/interfaces/adaptive-testing.ts
  tests/backend/routes/test_adaptive_testing.py
Due: backend, frontend-format, frontend-lint, hardcoded-styles

refactor: update suggestion pipeline logging and event structure
  apps/backend/src/rhesis/backend/app/services/adaptive_testing/suggestions.py
  apps/frontend/src/app/(protected)/adaptive-testing/[identifier]/components/SuggestionsDialog.tsx
  apps/frontend/src/utils/api-client/interfaces/adaptive-testing.ts
Due: backend, frontend-format, frontend-lint, hardcoded-styles

feat: implement async embedding and suggestion generation
  apps/backend/src/rhesis/backend/app/routers/adaptive_testing.py
  apps/backend/src/rhesis/backend/app/services/adaptive_testing/embeddings.py
  apps/backend/src/rhesis/backend/app/services/adaptive_testing/suggestions.py
  apps/backend/src/rhesis/backend/app/services/telemetry/enrichment/core.py
  apps/frontend/src/app/(protected)/adaptive-testing/[identifier]/components/AdaptiveTestingDetail.tsx
  sdk/src/rhesis/sdk/models/base.py
  sdk/src/rhesis/sdk/models/providers/litellm.py
  sdk/src/rhesis/sdk/models/providers/native.py
  sdk/src/rhesis/sdk/models/providers/vertex_ai.py
Due: sdk, backend, frontend-format, frontend-lint, hardcoded-styles

feat: implement unified suggestion pipeline for adaptive testing
  apps/backend/src/rhesis/backend/app/routers/adaptive_testing.py
  apps/backend/src/rhesis/backend/app/schemas/adaptive_testing.py
  apps/backend/src/rhesis/backend/app/services/adaptive_testing/__init__.py
  apps/backend/src/rhesis/backend/app/services/adaptive_testing/evaluation.py
  apps/backend/src/rhesis/backend/app/services/adaptive_testing/suggestions.py
  apps/frontend/src/app/(protected)/adaptive-testing/[identifier]/components/SuggestionsDialog.tsx
  apps/frontend/src/utils/api-client/adaptive-testing-client.ts
  apps/frontend/src/utils/api-client/interfaces/adaptive-testing.ts
Due: backend, frontend-format, frontend-lint, hardcoded-styles

feat: enhance embedding service with batch processing and resolver
  apps/backend/src/rhesis/backend/app/services/adaptive_testing/__init__.py
  apps/backend/src/rhesis/backend/app/services/adaptive_testing/embeddings.py
  apps/backend/src/rhesis/backend/app/services/adaptive_testing/suggestions.py
Due: backend

refactor: clean up imports and enhance diversity scoring in adaptive testing
  apps/backend/src/rhesis/backend/alembic/versions/1776e6dd47d3_add_model_type_column_to_model_table.py
  apps/backend/src/rhesis/backend/alembic/versions/c05814d9a399_add_trace_to_metricscope_and_testtype.py
  apps/backend/src/rhesis/backend/app/crud.py
  apps/backend/src/rhesis/backend/app/models/embedding.py
  apps/backend/src/rhesis/backend/app/routers/adaptive_testing.py
  apps/backend/src/rhesis/backend/app/schemas/adaptive_testing.py
  apps/backend/src/rhesis/backend/app/schemas/embedding.py
  apps/backend/src/rhesis/backend/app/services/adaptive_testing/diversity_strategies.py
  apps/backend/src/rhesis/backend/app/services/adaptive_testing/embeddings.py
  apps/backend/src/rhesis/backend/app/services/adaptive_testing/suggestions.py
  apps/backend/src/rhesis/backend/app/services/adaptive_testing/utils.py
  apps/backend/src/rhesis/backend/app/services/cache.py
  apps/backend/src/rhesis/backend/app/services/review_override.py
  apps/backend/src/rhesis/backend/app/services/trace_review_override.py
  apps/backend/src/rhesis/backend/tasks/embedding/generate.py
  apps/frontend/src/utils/api-client/interfaces/adaptive-testing.ts
  tests/backend/services/adaptive_testing/test_diversity_strategies.py
Due: backend, frontend-format, frontend-lint, hardcoded-styles

next
  apps/backend/src/rhesis/backend/app/services/adaptive_testing/tests.py
Due: backend

feat: enhance suggestion pipeline with diversity scores
  apps/backend/src/rhesis/backend/app/services/adaptive_testing/suggestions.py
  apps/frontend/src/app/(protected)/adaptive-testing/[identifier]/components/SuggestionsDialog.tsx
  apps/frontend/src/utils/api-client/interfaces/adaptive-testing.ts
Due: backend, frontend-format, frontend-lint, hardcoded-styles

feat(sdk): improve connector robustness and env handling
  apps/chatbot/client.py
  sdk/src/rhesis/sdk/clients/rhesis.py
  sdk/src/rhesis/sdk/config.py
  sdk/src/rhesis/sdk/connector/connection.py
  sdk/src/rhesis/sdk/connector/manager.py
  sdk/uv.lock
  tests/sdk/connector/test_manager.py
Due: sdk

refactor(backend): add ws ping and decompose connector
  apps/backend/src/rhesis/backend/app/services/connector/dispatcher.py
  apps/backend/src/rhesis/backend/app/services/connector/manager.py
  apps/backend/src/rhesis/backend/app/services/connector/result_store.py
  apps/backend/src/rhesis/backend/app/services/connector/rpc_bridge.py
  tests/backend/services/connector/test_dispatcher.py
  tests/backend/services/connector/test_manager.py
  tests/backend/services/connector/test_result_store.py
  tests/backend/services/connector/test_rpc_bridge.py
Due: backend

style(sdk): apply ruff formatting fixes
  apps/chatbot/uv.lock
  sdk/src/rhesis/sdk/config.py
  sdk/src/rhesis/sdk/connector/manager.py
Due: sdk

feat(backend): add multi-worker connection pool routing
  apps/backend/src/rhesis/backend/app/services/connector/dispatcher.py
  apps/backend/src/rhesis/backend/app/services/connector/manager.py
  apps/backend/src/rhesis/backend/app/services/connector/mapping/endpoint_validator.py
  apps/backend/src/rhesis/backend/app/services/connector/rpc_bridge.py
  tests/backend/services/connector/mapping/test_endpoint_validator.py
  tests/backend/services/connector/test_dispatcher.py
  tests/backend/services/connector/test_manager.py
  tests/backend/services/connector/test_rpc_bridge.py
Due: backend

style(backend): apply ruff formatting to result_store
  apps/backend/src/rhesis/backend/app/services/connector/result_store.py
Due: backend

feat(backend): add per-organization OIDC SSO with Keycloak support
  apps/backend/src/rhesis/backend/alembic/versions/a3b4c5d6e7f8_add_sso_config_to_organization.py
  apps/backend/src/rhesis/backend/app/auth/constants.py
  apps/backend/src/rhesis/backend/app/auth/providers/oidc.py
  apps/backend/src/rhesis/backend/app/auth/session_utils.py
  apps/backend/src/rhesis/backend/app/auth/sso_audit.py
  apps/backend/src/rhesis/backend/app/auth/sso_user_utils.py
  apps/backend/src/rhesis/backend/app/auth/token_utils.py
  apps/backend/src/rhesis/backend/app/main.py
  apps/backend/src/rhesis/backend/app/models/organization.py
  apps/backend/src/rhesis/backend/app/routers/__init__.py
  apps/backend/src/rhesis/backend/app/routers/auth.py
  apps/backend/src/rhesis/backend/app/routers/sso.py
  apps/backend/src/rhesis/backend/app/schemas/sso_config.py
  apps/backend/src/rhesis/backend/app/utils/encryption.py
  apps/backend/src/rhesis/backend/app/utils/rate_limit.py
  apps/frontend/src/app/(protected)/organizations/settings/components/SSOConfigForm.tsx
  apps/frontend/src/app/(protected)/organizations/settings/page.tsx
  apps/frontend/src/utils/api-client/interfaces/organization.ts
  apps/frontend/src/utils/api-client/organizations-client.ts
  tests/backend/auth/test_session_utils.py
  tests/backend/auth/test_sso_audit.py
  tests/backend/auth/test_sso_config_schema.py
  tests/backend/auth/test_sso_encryption.py
  tests/backend/auth/test_sso_state.py
  tests/backend/conftest.py
Due: backend, frontend-format, frontend-lint, hardcoded-styles

fix(backend): harden SSO security review findings
  apps/backend/src/rhesis/backend/app/auth/sso_http_client.py
  tests/backend/auth/test_sso_http_client.py
Due: backend

fix(dev): harden gunicorn for multi-worker LLM workloads
  apps/chatbot/Dockerfile
Due: none
