Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, docs-format, hardcoded-styles

sdk:
  name: format sdk
  language: system
  entry: make -C sdk format
  pass_filenames: false

backend:
  name: format backend
  language: system
  entry: make -C apps/backend format_diff
  pass_filenames: false

frontend-format:
  name: auto-fix frontend formatting
  language: system
  entry: bash -c "cd apps/frontend && npm run format"
  pass_filenames: false

frontend-lint:
  name: lint frontend
  language: system
  entry: bash -c "cd apps/frontend && npm run lint"
  pass_filenames: false

docs-format:
  name: auto-fix docs formatting
  language: system
  entry: bash -c "cd apps/documentation && npm run format"
  pass_filenames: false

hardcoded-styles:
  name: check hardcoded styles in frontend and docs
  language: system
  entry: node scripts/check-hardcoded-styles.js
  pass_filenames: false

feat(frontend): add json-aware rendering in playground
  apps/frontend/src/app/(protected)/playground/components/MessageBubble.tsx
  apps/frontend/src/components/common/MessageContent.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): handle object output in playground messages
  apps/frontend/src/app/(protected)/playground/components/MessageBubble.tsx
  apps/frontend/src/app/(protected)/playground/components/PlaygroundChat.tsx
  apps/frontend/src/components/common/MessageContent.tsx
  apps/frontend/src/hooks/usePlaygroundChat.ts
  apps/frontend/src/utils/message-content.ts
  apps/frontend/src/utils/websocket/types.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): narrow playground chat message types
  apps/frontend/src/app/(protected)/playground/components/MessageBubble.tsx
  apps/frontend/src/hooks/__tests__/usePlaygroundChat.test.ts
  apps/frontend/src/hooks/usePlaygroundChat.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): address peqy follow-ups on message content
  apps/frontend/src/utils/__tests__/message-content.test.ts
  apps/frontend/src/utils/message-content.ts
Due: frontend-format, frontend-lint, hardcoded-styles

Add JSON-aware rendering in test result drawer (#2208)
  apps/frontend/src/app/(protected)/playground/components/MessageBubble.tsx
  apps/frontend/src/app/(protected)/playground/components/PlaygroundChat.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestDetailOverviewTab.tsx
  apps/frontend/src/components/common/ConversationHistory.tsx
  apps/frontend/src/components/common/MessageContent.tsx
  apps/frontend/src/hooks/__tests__/usePlaygroundChat.test.ts
  apps/frontend/src/hooks/usePlaygroundChat.ts
  apps/frontend/src/utils/__tests__/message-content.test.ts
  apps/frontend/src/utils/message-content.ts
  apps/frontend/src/utils/websocket/types.ts
Due: frontend-format, frontend-lint, hardcoded-styles

test(tests): prepare backend suite for pytest-xdist
  apps/backend/pyproject.toml
  apps/backend/uv.lock
  tests/backend/conftest.py
  tests/docker-compose.test.yml
Due: backend

test(tests): replace TRUNCATE-based db cleanup with savepoint rollback
  apps/backend/src/rhesis/backend/app/auth/user_utils.py
  tests/backend/auth/test_sp6_membership_hardening.py
  tests/backend/fixtures/auth.py
  tests/backend/fixtures/cleanup.py
  tests/backend/fixtures/client.py
  tests/backend/fixtures/database.py
  tests/backend/fixtures/test_setup.py
Due: backend

test(tests): skip owner-role db check for db-less tests
  tests/backend/conftest.py
  tests/backend/routes/conftest.py
Due: none

fix(tests): mock LLM calls in SDK endpoint sync tests
  tests/backend/services/test_endpoint_service.py
Due: none

fix(tests): resolve authenticated user deterministically
  tests/backend/routes/test_organization.py
Due: none

test(tests): stop wiping permission cache on every test
  tests/backend/auth/test_rbac.py
  tests/backend/conftest.py
  tests/backend/fixtures/test_setup.py
Due: none

test(tests): run backend suite with pytest-xdist -n 4
  .github/workflows/backend-test.yml
  apps/backend/Makefile
Due: backend

fix(tests): pin timestamps in flaky trace-ordering test
  tests/backend/routes/test_telemetry_conversation.py
Due: none

test(tests): drop unconditional debug prints from authenticated_client
  tests/backend/fixtures/client.py
Due: none

test(tests): guard backend suite runs with pytest-timeout
  .github/workflows/backend-test.yml
  apps/backend/Makefile
Due: backend

fix(notifications): thread project_id into email deep links for cross-project navigation
  apps/backend/src/rhesis/backend/app/services/task_notification.py
  apps/backend/src/rhesis/backend/notifications/email/template_service.py
  apps/backend/src/rhesis/backend/notifications/email/templates/task_assignment.html.jinja2
  apps/backend/src/rhesis/backend/notifications/email/templates/task_completion.html.jinja2
  apps/backend/src/rhesis/backend/notifications/email/templates/test_execution_summary.html.jinja2
  apps/backend/src/rhesis/backend/tasks/execution/result_processor.py
  apps/backend/src/rhesis/backend/tasks/test_set.py
  apps/frontend/src/__tests__/middleware.test.ts
  apps/frontend/src/proxy.ts
  tests/backend/notifications/__init__.py
  tests/backend/notifications/test_email_project_id_deep_link.py
  tests/backend/tasks/_heavy_import_stubs.py
  tests/backend/tasks/test_result_processor_project_id.py
Due: backend, frontend-format, frontend-lint, hardcoded-styles

docs(tests): fix stale test_db docstring on real_commit_test_db
  tests/backend/fixtures/database.py
Due: none

fix(tests): reset session_replication_role even on cleanup failure
  tests/backend/fixtures/database.py
Due: none

fix(tests): don't hard-depend on the xdist worker_id fixture
  tests/backend/conftest.py
Due: none

fix(tests): default create_test_api_token to not clobber env var
  tests/backend/fixtures/test_setup.py
Due: none

test(tests): retry once on xdist worker crash in CI
  .github/workflows/backend-test.yml
  apps/backend/Makefile
Due: backend

feat(backend): add QueryBuilder.with_related for issue #1756
  apps/backend/src/rhesis/backend/app/crud.py
  apps/backend/src/rhesis/backend/app/utils/query_utils.py
  tests/backend/utils/test_model_utils.py
Due: backend

refactor(backend): scope QueryBuilder eager loads
  apps/backend/src/rhesis/backend/app/crud.py
  apps/backend/src/rhesis/backend/app/utils/query_utils.py
  tests/backend/utils/test_model_utils.py
  tests/backend/utils/test_query_builder_load.py
Due: backend

refactor(backend): tighten QueryBuilder's eager-load API around with_related
  apps/backend/src/rhesis/backend/app/crud.py
  apps/backend/src/rhesis/backend/app/utils/query_utils.py
  tests/backend/utils/test_model_utils.py
Due: backend

fix(tests): clean up leaked users in real_commit_test_db
  tests/backend/auth/test_sp6_membership_hardening.py
  tests/backend/fixtures/database.py
Due: none

test(tests): declare pytest-rerunfailures as an explicit dependency
  apps/backend/pyproject.toml
  apps/backend/uv.lock
Due: backend

fix(backend): reject cols=[] and drop misleading load-count split
  apps/backend/src/rhesis/backend/app/utils/query_utils.py
  tests/backend/utils/test_model_utils.py
  tests/backend/utils/test_query_builder_load.py
Due: backend

Scope QueryBuilder eager loads to specific columns (#2214)
  apps/backend/src/rhesis/backend/app/crud.py
  apps/backend/src/rhesis/backend/app/utils/query_utils.py
  tests/backend/utils/test_model_utils.py
  tests/backend/utils/test_query_builder_load.py
Due: backend

refactor(backend): hand-author Category/Comment/Topic/Task/Tool/Status detail schemas
  apps/backend/src/rhesis/backend/app/routers/category.py
  apps/backend/src/rhesis/backend/app/routers/comment.py
  apps/backend/src/rhesis/backend/app/routers/status.py
  apps/backend/src/rhesis/backend/app/routers/task_management.py
  apps/backend/src/rhesis/backend/app/routers/tools.py
  apps/backend/src/rhesis/backend/app/routers/topic.py
  apps/backend/src/rhesis/backend/app/schemas/__init__.py
  apps/backend/src/rhesis/backend/app/schemas/category.py
  apps/backend/src/rhesis/backend/app/schemas/comment.py
  apps/backend/src/rhesis/backend/app/schemas/status.py
  apps/backend/src/rhesis/backend/app/schemas/task_management.py
  apps/backend/src/rhesis/backend/app/schemas/tool.py
  apps/backend/src/rhesis/backend/app/schemas/topic.py
Due: backend

fix(backend): resolve metrics per-test in batch execution
  apps/backend/src/rhesis/backend/tasks/execution/batch/context.py
  apps/backend/src/rhesis/backend/tasks/execution/batch/evaluation.py
  apps/backend/src/rhesis/backend/tasks/execution/batch/runner.py
Due: backend

fix(frontend): filter behaviors to the test's own behavior
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestDetailMetricsTab.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

test(backend): cover per-test metric resolution in batch runs
  tests/backend/tasks/test_batch_per_test_metrics.py
Due: none

refactor(backend): hand-author remaining trivial detail schemas
  apps/backend/src/rhesis/backend/app/routers/endpoint.py
  apps/backend/src/rhesis/backend/app/routers/metric.py
  apps/backend/src/rhesis/backend/app/routers/model.py
  apps/backend/src/rhesis/backend/app/routers/project.py
  apps/backend/src/rhesis/backend/app/routers/test_configuration.py
  apps/backend/src/rhesis/backend/app/routers/test_set.py
  apps/backend/src/rhesis/backend/app/schemas/__init__.py
  apps/backend/src/rhesis/backend/app/schemas/behavior.py
  apps/backend/src/rhesis/backend/app/schemas/endpoint.py
  apps/backend/src/rhesis/backend/app/schemas/model.py
  apps/backend/src/rhesis/backend/app/schemas/project.py
  apps/backend/src/rhesis/backend/app/schemas/test_configuration.py
  apps/backend/src/rhesis/backend/app/schemas/test_set.py
Due: backend

style(backend): apply ruff format to context.py
  apps/backend/src/rhesis/backend/tasks/execution/batch/context.py
Due: backend

refactor(backend): hand-author Test/TestRun/TestResult/Metric detail schemas
  apps/backend/src/rhesis/backend/app/routers/base.py
  apps/backend/src/rhesis/backend/app/routers/metric.py
  apps/backend/src/rhesis/backend/app/routers/test.py
  apps/backend/src/rhesis/backend/app/routers/test_result.py
  apps/backend/src/rhesis/backend/app/routers/test_run.py
  apps/backend/src/rhesis/backend/app/routers/test_set.py
  apps/backend/src/rhesis/backend/app/schemas/__init__.py
  apps/backend/src/rhesis/backend/app/schemas/metric.py
  apps/backend/src/rhesis/backend/app/schemas/references.py
  apps/backend/src/rhesis/backend/app/schemas/test.py
  apps/backend/src/rhesis/backend/app/schemas/test_result.py
  apps/backend/src/rhesis/backend/app/schemas/test_run.py
  apps/backend/src/rhesis/backend/app/utils/query_utils.py
  apps/backend/src/rhesis/backend/app/utils/schema_factory.py
Due: backend

refactor(backend): dedupe reference schemas, fix missing org_id
  apps/backend/src/rhesis/backend/app/schemas/behavior.py
  apps/backend/src/rhesis/backend/app/schemas/category.py
  apps/backend/src/rhesis/backend/app/schemas/comment.py
  apps/backend/src/rhesis/backend/app/schemas/endpoint.py
  apps/backend/src/rhesis/backend/app/schemas/model.py
  apps/backend/src/rhesis/backend/app/schemas/project.py
  apps/backend/src/rhesis/backend/app/schemas/status.py
  apps/backend/src/rhesis/backend/app/schemas/task_management.py
  apps/backend/src/rhesis/backend/app/schemas/test_configuration.py
  apps/backend/src/rhesis/backend/app/schemas/test_set.py
  apps/backend/src/rhesis/backend/app/schemas/tool.py
  apps/backend/src/rhesis/backend/app/schemas/topic.py
  apps/backend/src/rhesis/backend/app/schemas/user.py
Due: backend

fix(backend): stop over-fetching Metric relationships in behavior routes
  apps/backend/src/rhesis/backend/app/routers/behavior.py
Due: backend

fix(backend): eager-load Behavior's relationships on get_behavior
  apps/backend/src/rhesis/backend/app/crud.py
Due: backend

fix(backend): correct required/optional drift on Detail schemas
  apps/backend/src/rhesis/backend/app/crud.py
  apps/backend/src/rhesis/backend/app/schemas/behavior.py
  apps/backend/src/rhesis/backend/app/schemas/metric.py
  apps/backend/src/rhesis/backend/app/schemas/project.py
  apps/backend/src/rhesis/backend/app/schemas/status.py
  apps/backend/src/rhesis/backend/app/schemas/test.py
  apps/backend/src/rhesis/backend/app/schemas/test_configuration.py
  apps/backend/src/rhesis/backend/app/schemas/test_result.py
  apps/backend/src/rhesis/backend/app/schemas/test_run.py
  apps/backend/src/rhesis/backend/app/schemas/test_set.py
  apps/backend/src/rhesis/backend/app/schemas/tool.py
Due: backend

fix: include projecteds and add a nested_relationship parameter to avoid lazy-loading
  apps/backend/src/rhesis/backend/app/crud.py
  apps/backend/src/rhesis/backend/app/utils/crud_utils.py
Due: backend

Path conditions:
  sdk: any of: ^sdk/
  backend: any of: ^apps/backend/
  frontend-format: any of: ^apps/frontend/
  frontend-lint: any of: ^apps/frontend/
  docs-format: any of: ^apps/documentation/
  hardcoded-styles: any of: ^apps/(frontend|documentation)/
