Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend

sdk:
  name: format sdk
  language: system
  entry: make -C sdk format
  pass_filenames: false

backend:
  name: format backend
  language: system
  entry: make -C apps/backend format
  pass_filenames: false

feat(document-handler): include file_path in metadata and simplify save_document return type
  apps/backend/src/rhesis/backend/app/services/document_handler.py
Due: backend

feat(api): update document endpoints for persistent storage
  apps/backend/src/rhesis/backend/app/routers/services.py
  apps/backend/src/rhesis/backend/app/routers/test_set.py
Due: backend

test: add @pytest.mark.asyncio decorators to async test functions
  tests/backend/services/fixtures/storage_fixtures.py
  tests/backend/services/test_document_handler.py
  tests/backend/services/test_storage_integration.py
  tests/backend/services/test_storage_service.py
Due: none

feat(storage): add StorageService for multi-environment file storage
  apps/backend/src/rhesis/backend/app/services/storage_service.py
Due: backend

fix(services): improve DocumentHandler validation and MIME type support
  apps/backend/src/rhesis/backend/app/services/document_handler.py
Due: backend

fix(tests): update DocumentHandler tests to match implementation
  tests/backend/services/test_document_handler.py
  tests/backend/services/test_storage_integration.py
Due: none

fix(tests): resolve storage service test import errors and async test issues
  apps/backend/src/rhesis/backend/app/services/document_handler.py
  tests/backend/services/base.py
  tests/backend/services/fixtures/__init__.py
  tests/backend/services/fixtures/storage_fixtures.py
  tests/backend/services/test_document_handler.py
  tests/backend/services/test_storage_integration.py
  tests/backend/services/test_storage_service.py
Due: backend

refactor(storage): update DocumentHandler for persistent storage
  apps/backend/src/rhesis/backend/app/services/document_handler.py
Due: backend

fix: resolve Pydantic schema field shadowing without breaking API
  apps/backend/src/rhesis/backend/app/routers/services.py
  apps/backend/src/rhesis/backend/app/schemas/services.py
  tests/backend/routes/test_services.py
Due: backend

feat(storage): add gcsfs dependency and fix linting issues
  apps/backend/pyproject.toml
  apps/backend/src/rhesis/backend/app/routers/source.py
  apps/backend/uv.lock
Due: backend

fix(frontend): resolve TypeScript and linting errors
  apps/frontend/src/app/(protected)/test-sets/components/TestRunDrawer.tsx
  apps/frontend/src/app/(protected)/tests/components/TestDrawer.tsx
  apps/frontend/src/app/(protected)/tests/generate/components/TestGenerationLanding.tsx
  apps/frontend/src/app/(protected)/tests/generate/configure/components/TestConfiguration.tsx
  apps/frontend/src/app/(protected)/tests/generate/confirm/components/ConfirmTestGeneration.tsx
  apps/frontend/src/app/(protected)/tests/generate/describe/components/DescribeTestRequirements.tsx
  apps/frontend/src/components/common/BaseDataGrid.tsx
  apps/frontend/src/utils/api-client/interfaces/test-set.ts
Due: none

feat(tests): convert test generation flow to modal-based stepper
  apps/frontend/src/app/(protected)/tests/components/TestGenerationModal.tsx
  apps/frontend/src/app/(protected)/tests/components/TestsGrid.tsx
  apps/frontend/src/app/(protected)/tests/generate/components/TestGenerationLanding.tsx
  apps/frontend/src/app/(protected)/tests/generate/configure/components/TestConfiguration.tsx
  apps/frontend/src/app/(protected)/tests/generate/confirm/components/ConfirmTestGeneration.tsx
  apps/frontend/src/app/(protected)/tests/generate/describe/components/DescribeTestRequirements.tsx
Due: none

fix(frontend): add --legacy-peer-deps to Docker npm ci command
  apps/frontend/Dockerfile
Due: none

fix: resolve duplicate key error in Run Test Drawer with same project names
  apps/frontend/next-env.d.ts
  apps/frontend/src/app/(protected)/test-runs/components/TestRunDrawer.tsx
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/ExecuteTestSetDrawer.tsx
  apps/frontend/src/app/(protected)/tests/components/TrialDrawer.tsx
  apps/frontend/src/app/(protected)/tests/new-generated/components/GenerateTestsStepper.tsx
Due: none

fix: Add --legacy-peer-deps to Dockerfile npm ci commands
  apps/frontend/Dockerfile
Due: none

fix: add missing import for get_tenant_db_session in services router
  apps/backend/src/rhesis/backend/app/routers/services.py
Due: backend

fix: add organization_id and user_id to task endpoints
  apps/backend/src/rhesis/backend/app/routers/task_management.py
Due: backend

fix: add missing user_id parameter to update_task CRUD function
  apps/backend/src/rhesis/backend/app/crud.py
  apps/backend/src/rhesis/backend/app/routers/task_management.py
Due: backend

fix: add missing organization_id and user_id to test_run CRUD operations
  apps/backend/src/rhesis/backend/app/crud.py
  apps/backend/src/rhesis/backend/app/routers/test_run.py
Due: backend

fix: Adding staging to CORS allowed list
  apps/backend/src/rhesis/backend/app/main.py
Due: backend

fix: add missing organization_id to test set endpoints
  apps/backend/src/rhesis/backend/app/routers/test_set.py
Due: backend

chore: release version 0.3.0
  CHANGELOG.md
  VERSION
  apps/backend/CHANGELOG.md
  apps/backend/pyproject.toml
  apps/frontend/CHANGELOG.md
  apps/frontend/package.json
  sdk/CHANGELOG.md
  sdk/pyproject.toml
Due: sdk, backend

fix: resolve test generation flow issues
  apps/frontend/src/app/(protected)/tests/generate/configure/components/TestConfiguration.tsx
  apps/frontend/src/app/(protected)/tests/generate/confirm/components/ConfirmTestGeneration.tsx
  scripts/check-hardcoded-styles.js
Due: none

chore: update formatting and validation
  apps/frontend/CHANGELOG.md
  apps/frontend/package.json
Due: none

fix(worker): optimize resource allocation and replica count
  apps/worker/k8s/deployment.yaml
  apps/worker/k8s/hpa-example.yaml
Due: none

feat(worker): add HPA support to kustomization
  apps/worker/k8s/kustomization.yaml
Due: none

Path conditions:
  sdk: any of: ^sdk/
  backend: any of: ^apps/backend/
