Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend

sdk:
  name: format sdk
  language: system
  entry: make -C sdk format
  pass_filenames: false

backend:
  name: format backend
  language: system
  entry: make -C apps/backend format
  pass_filenames: false

next
  sdk/src/rhesis/sdk/metrics/providers/native/prompt_categorical_metric.py
Due: sdk

prompt_metric_numeric
  sdk/src/rhesis/sdk/metrics/providers/native/prompt_numeric_metric.py
Due: sdk

updates
  sdk/src/rhesis/sdk/metrics/providers/native/prompt_categorical_metric.py
Due: sdk

chore: Update resource limits and security context in Kubernetes manifests
  infrastructure/k8s/charts/rhesis/templates/backend-deployment.yaml
  infrastructure/k8s/charts/rhesis/templates/frontend-deployment.yaml
  infrastructure/k8s/charts/rhesis/templates/postgresql-deployment.yaml
  infrastructure/k8s/charts/rhesis/templates/worker-deployment.yaml
  infrastructure/k8s/charts/rhesis/values-local.yaml
  infrastructure/k8s/charts/rhesis/values.yaml
  infrastructure/k8s/manifests/deployments/postgres/init-db.sql
Due: none

next
  sdk/src/rhesis/sdk/metrics/providers/native/metric_base.py
  sdk/src/rhesis/sdk/metrics/providers/native/prompt_categorical_metric.py
Due: sdk

fix python packages version conflicts
  apps/backend/pyproject.toml
  apps/backend/uv.lock
  sdk/pyproject.toml
  sdk/uv.lock
Due: sdk, backend

refactor: factor out per-context test distribution and token-based coverage
  sdk/src/rhesis/sdk/synthesizers/document_synthesizer.py
Due: sdk

git commit -m fix: Ensure documents parameter is properly passed to task system
  apps/backend/src/rhesis/backend/tasks/test_set.py
Due: backend

refactor: remove chunk overlap and simplify synthesizer parameters
  sdk/src/rhesis/sdk/synthesizers/context_synthesizer.py
  sdk/src/rhesis/sdk/synthesizers/document_synthesizer.py
Due: sdk

refactor: accept PromptSynthesizer args directly, add test distribution logic, and token-based coverage
  sdk/src/rhesis/sdk/synthesizers/document_synthesizer.py
Due: sdk

refactor: replace ContextSynthesizer with ContextGenerator service
  sdk/src/rhesis/sdk/services/__init__.py
  sdk/src/rhesis/sdk/services/context_generator.py
  sdk/src/rhesis/sdk/synthesizers/context_synthesizer.py
  sdk/src/rhesis/sdk/synthesizers/document_synthesizer.py
Due: sdk

feat: Use DocumentSynthesizer for document-based test generation
  apps/backend/src/rhesis/backend/app/services/generation.py
Due: backend

feat: add DocumentSynthesizer for document text extraction and chunking
  sdk/src/rhesis/sdk/synthesizers/document_synthesizer.py
Due: sdk

refactor: drop num_tests from ContextGenerator; DocSynth will handle test distribution
  sdk/src/rhesis/sdk/services/context_generator.py
Due: sdk

docs: Update and clean notebook with parameter explanations
  examples/generation_with_documents.ipynb
Due: none

update example notebooks for new DocumentSynthesizer API
  examples/generation_with_documents.ipynb
  examples/generation_with_documents_new.ipynb
Due: none

refactor: improved docstring
  sdk/src/rhesis/sdk/synthesizers/document_synthesizer.py
Due: sdk

fix: address akwasigroch's review feedback
  sdk/src/rhesis/sdk/services/context_generator.py
  sdk/src/rhesis/sdk/synthesizers/document_synthesizer.py
  sdk/src/rhesis/sdk/synthesizers/prompt_synthesizer.py
Due: sdk

feat: Auto-select DocumentSynthesizer in task system
  apps/backend/src/rhesis/backend/tasks/test_set.py
Due: backend

refactor: move chunking logic to ContextGenerator
  sdk/src/rhesis/sdk/services/context_generator.py
  sdk/src/rhesis/sdk/synthesizers/document_synthesizer.py
Due: sdk

refactor: revert prompt_synthesizer.py to its state in main branch
  sdk/src/rhesis/sdk/synthesizers/prompt_synthesizer.py
Due: sdk

remove duplicate example notebook
  examples/generation_with_documents_new.ipynb
Due: none

fix: remove minimum size threshold from ContextGenerator
  sdk/src/rhesis/sdk/services/context_generator.py
Due: sdk

feat: Add DocumentSynthesizer to factory and exports
  sdk/src/rhesis/sdk/synthesizers/__init__.py
  sdk/src/rhesis/sdk/synthesizers/factory.py
Due: sdk

refactor: override num_tests per context and merge context/doc metadata; remove generated_by from PromptSynthesizer
  sdk/src/rhesis/sdk/synthesizers/document_synthesizer.py
  sdk/src/rhesis/sdk/synthesizers/prompt_synthesizer.py
Due: sdk

fix: Add generated_by field to synthesizer metadata
  sdk/src/rhesis/sdk/synthesizers/document_synthesizer.py
  sdk/src/rhesis/sdk/synthesizers/prompt_synthesizer.py
Due: sdk

feat(context): switch to true token-based limits with tiktoken; add binary search splitter
  sdk/src/rhesis/sdk/services/context_generator.py
Due: sdk

feat: add strategy parameter for sequential vs random context selection
  sdk/src/rhesis/sdk/synthesizers/document_synthesizer.py
Due: sdk

feat: enforce hard size limits with semantic-first splitting; remove simple chunking helpers
  sdk/src/rhesis/sdk/services/context_generator.py
Due: sdk

Path conditions:
  sdk: any of: ^sdk/
  backend: any of: ^apps/backend/
