Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, docs-format, hardcoded-styles

sdk:
  name: format sdk
  language: system
  entry: make -C sdk format
  pass_filenames: false

backend:
  name: format backend
  language: system
  entry: make -C apps/backend format_diff
  pass_filenames: false

frontend-format:
  name: auto-fix frontend formatting
  language: system
  entry: bash -c "cd apps/frontend && npm run format"
  pass_filenames: false

frontend-lint:
  name: lint frontend
  language: system
  entry: bash -c "cd apps/frontend && npm run lint"
  pass_filenames: false

docs-format:
  name: auto-fix docs formatting
  language: system
  entry: bash -c "cd apps/documentation && npm run format"
  pass_filenames: false

hardcoded-styles:
  name: check hardcoded styles in frontend and docs
  language: system
  entry: node scripts/check-hardcoded-styles.js
  pass_filenames: false

refactor(dashboard): match legend colors to gauge colors
  apps/frontend/src/app/(protected)/dashboard/components/DashboardKPIs.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

refactor(dashboard): remove hard-coded font sizes in ActivityTimeline
  apps/frontend/src/app/(protected)/dashboard/components/ActivityTimeline.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(dashboard): use correct typography font weight property
  apps/frontend/src/app/(protected)/dashboard/components/DashboardKPIs.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(dashboard): reduce font size of operation badges
  apps/frontend/src/app/(protected)/dashboard/components/ActivityTimeline.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

refactor(dashboard): remove time range chip from bulk operations
  apps/frontend/src/app/(protected)/dashboard/components/ActivityTimeline.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

refactor(dashboard): use standardized UserAvatar component
  apps/frontend/src/app/(protected)/dashboard/components/ActivityTimeline.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

feat(mapping): add message field as possible output pattern
  apps/backend/src/rhesis/backend/app/services/connector/mapping/mapping_generation.jinja
  apps/backend/src/rhesis/backend/app/services/connector/mapping/patterns.py
  apps/chatbot/client.py
Due: backend

feat(chatbot): add output mapping using message field
  apps/chatbot/client.py
Due: none

fix(mapping): use pattern definitions in auto-mapper fallbacks
  apps/backend/src/rhesis/backend/app/services/connector/mapping/auto_mapper.py
Due: backend

fix(chatbot): correct parameter name from output_mapping to response_mapping
  apps/chatbot/client.py
Due: none

feat(dashboard): improve empty state handling and terminology
  apps/frontend/src/app/(protected)/dashboard/components/DashboardKPIs.tsx
  apps/frontend/src/app/(protected)/dashboard/components/TestRunPerformance.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

Fix connector output mapping with message field support (#993)
  apps/backend/src/rhesis/backend/app/services/connector/mapping/auto_mapper.py
  apps/backend/src/rhesis/backend/app/services/connector/mapping/mapping_generation.jinja
  apps/backend/src/rhesis/backend/app/services/connector/mapping/patterns.py
  apps/chatbot/client.py
Due: backend

fix(eslint): resolve all ESLint errors in frontend
  apps/frontend/.eslintrc.json
  apps/frontend/src/app/(protected)/endpoints/components/EndpointForm.tsx
  apps/frontend/src/app/(protected)/layout.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestResultDrawer.tsx
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/CodeBlock.tsx
  apps/frontend/src/app/(protected)/tests/new-generated/components/SelectTestCreationMethod.tsx
  apps/frontend/src/app/(protected)/tests/new-generated/components/shared/SelectionModal.tsx
  apps/frontend/src/app/page.tsx
  apps/frontend/src/components/common/BaseTag.tsx
  apps/frontend/src/components/common/DeleteButton.tsx
  apps/frontend/src/components/layout/LayoutContent.tsx
  apps/frontend/src/utils/api-client/interfaces/behavior.ts
  apps/frontend/src/utils/api-client/interfaces/category.ts
  apps/frontend/src/utils/api-client/interfaces/project.ts
  apps/frontend/src/utils/api-client/interfaces/prompt.ts
  apps/frontend/src/utils/api-client/interfaces/tag.ts
  apps/frontend/src/utils/api-client/interfaces/test-configuration.ts
  apps/frontend/src/utils/api-client/interfaces/test-results.ts
  apps/frontend/src/utils/api-client/interfaces/test-run.ts
  apps/frontend/src/utils/api-client/interfaces/test-set.ts
  apps/frontend/src/utils/api-client/interfaces/tests.ts
  apps/frontend/src/utils/api-client/interfaces/topic.ts
  apps/frontend/src/utils/api-client/interfaces/type-lookup.ts
Due: frontend-format, frontend-lint, hardcoded-styles

feat(dashboard): clean up empty state display
  apps/frontend/src/app/(protected)/dashboard/components/DashboardKPIs.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

refactor(dashboard): rename test runs card to test executions
  apps/frontend/src/app/(protected)/dashboard/components/DashboardKPIs.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

feat(sdk): improve synthesizer prompts with CoT and research-backed taxonomies
  sdk/src/rhesis/sdk/synthesizers/assets/base.jinja
  sdk/src/rhesis/sdk/synthesizers/assets/config_synthesizer.jinja
  sdk/src/rhesis/sdk/synthesizers/assets/context_synthesizer.jinja
Due: sdk

feat(penelope): rewrite prompts for balanced testing across all behavior types
  penelope/src/rhesis/penelope/prompts/agent/default_instructions.py
  penelope/src/rhesis/penelope/prompts/agent/turn_prompts.py
  penelope/src/rhesis/penelope/prompts/templates/goal_evaluation.j2
  penelope/src/rhesis/penelope/prompts/templates/system_prompt.j2
Due: none

fix(penelope): update tests for new prompt format
  tests/penelope/prompts/test_system_assembly.py
Due: none

fix(penelope): fix endpoint target tests
  tests/penelope/targets/test_endpoint.py
Due: none

fix(penelope): fix linting errors in prompt files
  penelope/src/rhesis/penelope/prompts/agent/default_instructions.py
  penelope/src/rhesis/penelope/prompts/agent/turn_prompts.py
Due: none

style: fix formatting in test files
  tests/penelope/prompts/test_system_assembly.py
  tests/penelope/targets/test_endpoint.py
Due: none

fix(penelope): prevent infinite loops with execution limits
  penelope/CHANGELOG.md
  penelope/README.md
  penelope/src/rhesis/penelope/agent.py
  penelope/src/rhesis/penelope/config.py
  penelope/src/rhesis/penelope/context.py
  penelope/src/rhesis/penelope/executor.py
  penelope/src/rhesis/penelope/utils.py
  penelope/src/rhesis/penelope/workflow.py
  penelope/uv.lock
  tests/penelope/test_agent.py
  tests/penelope/test_infinite_loop_prevention.py
Due: none

feat(sdk): rewrite multi-turn synthesizer template for balanced testing
  sdk/src/rhesis/sdk/synthesizers/multi_turn/templates/base.jinja
Due: sdk

style: fix line length linting errors
  penelope/src/rhesis/penelope/executor.py
  penelope/src/rhesis/penelope/utils.py
Due: none

feat: improve generation prompts with research-backed CoT and balanced testing framework (#994)
  penelope/src/rhesis/penelope/prompts/agent/default_instructions.py
  penelope/src/rhesis/penelope/prompts/agent/turn_prompts.py
  penelope/src/rhesis/penelope/prompts/templates/goal_evaluation.j2
  penelope/src/rhesis/penelope/prompts/templates/system_prompt.j2
  sdk/src/rhesis/sdk/synthesizers/assets/base.jinja
  sdk/src/rhesis/sdk/synthesizers/assets/config_synthesizer.jinja
  sdk/src/rhesis/sdk/synthesizers/assets/context_synthesizer.jinja
  sdk/src/rhesis/sdk/synthesizers/multi_turn/templates/base.jinja
  tests/penelope/prompts/test_system_assembly.py
  tests/penelope/targets/test_endpoint.py
Due: sdk

build(frontend): upgrade ESLint from v8 (EOL) to v9 with flat config
  apps/frontend/.eslintrc.json
  apps/frontend/eslint.config.mjs
  apps/frontend/next.config.mjs
  apps/frontend/package-lock.json
  apps/frontend/package.json
Due: frontend-format, frontend-lint, hardcoded-styles

Add Eslint To Lint (#986)
  apps/frontend/.eslintrc.json
  apps/frontend/eslint.config.mjs
  apps/frontend/next.config.mjs
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/app/(protected)/endpoints/components/EndpointForm.tsx
  apps/frontend/src/app/(protected)/layout.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestResultDrawer.tsx
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/CodeBlock.tsx
  apps/frontend/src/app/(protected)/tests/new-generated/components/SelectTestCreationMethod.tsx
  apps/frontend/src/app/(protected)/tests/new-generated/components/shared/SelectionModal.tsx
  apps/frontend/src/app/page.tsx
  apps/frontend/src/components/common/BaseTag.tsx
  apps/frontend/src/components/common/DeleteButton.tsx
  apps/frontend/src/components/layout/LayoutContent.tsx
  apps/frontend/src/utils/api-client/interfaces/behavior.ts
  apps/frontend/src/utils/api-client/interfaces/category.ts
  apps/frontend/src/utils/api-client/interfaces/project.ts
  apps/frontend/src/utils/api-client/interfaces/prompt.ts
  apps/frontend/src/utils/api-client/interfaces/tag.ts
  apps/frontend/src/utils/api-client/interfaces/test-configuration.ts
  apps/frontend/src/utils/api-client/interfaces/test-results.ts
  apps/frontend/src/utils/api-client/interfaces/test-run.ts
  apps/frontend/src/utils/api-client/interfaces/test-set.ts
  apps/frontend/src/utils/api-client/interfaces/tests.ts
  apps/frontend/src/utils/api-client/interfaces/topic.ts
  apps/frontend/src/utils/api-client/interfaces/type-lookup.ts
Due: frontend-format, frontend-lint, hardcoded-styles

feat: Modernize dashboard with MUI X charts and activity timeline (#706)
  apps/backend/src/rhesis/backend/app/models/behavior.py
  apps/backend/src/rhesis/backend/app/models/comment.py
  apps/backend/src/rhesis/backend/app/models/endpoint.py
  apps/backend/src/rhesis/backend/app/models/metric.py
  apps/backend/src/rhesis/backend/app/models/mixins.py
  apps/backend/src/rhesis/backend/app/models/model.py
  apps/backend/src/rhesis/backend/app/models/project.py
  apps/backend/src/rhesis/backend/app/models/prompt.py
  apps/backend/src/rhesis/backend/app/models/source.py
  apps/backend/src/rhesis/backend/app/models/task.py
  apps/backend/src/rhesis/backend/app/models/test.py
  apps/backend/src/rhesis/backend/app/models/test_run.py
  apps/backend/src/rhesis/backend/app/models/test_set.py
  apps/backend/src/rhesis/backend/app/routers/services.py
  apps/backend/src/rhesis/backend/app/schemas/services.py
  apps/backend/src/rhesis/backend/app/services/activities.py
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/app/(protected)/dashboard/components/ActivityTimeline.tsx
  apps/frontend/src/app/(protected)/dashboard/components/DashboardCharts.tsx
  apps/frontend/src/app/(protected)/dashboard/components/DashboardKPIs.tsx
  apps/frontend/src/app/(protected)/dashboard/components/LatestTestRunsGrid.tsx
  apps/frontend/src/app/(protected)/dashboard/components/RecentActivitiesGrid.tsx
  apps/frontend/src/app/(protected)/dashboard/components/RecentTestSetsGrid.tsx
  apps/frontend/src/app/(protected)/dashboard/components/RecentTestsGrid.tsx
  apps/frontend/src/app/(protected)/dashboard/components/TestRunPerformance.tsx
  apps/frontend/src/app/(protected)/dashboard/page.tsx
  apps/frontend/src/utils/api-client/interfaces/activities.ts
  apps/frontend/src/utils/api-client/interfaces/task.ts
  apps/frontend/src/utils/api-client/services-client.ts
Due: backend, frontend-format, frontend-lint, hardcoded-styles

fix(frontend): update Dockerfile to reference eslint.config.mjs instead of .eslintrc.json
  apps/frontend/Dockerfile
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): update Dockerfile to reference eslint.config.mjs instead of .eslintrc.json (#996)
  apps/frontend/Dockerfile
Due: frontend-format, frontend-lint, hardcoded-styles

Path conditions:
  sdk: any of: ^sdk/
  backend: any of: ^apps/backend/
  frontend-format: any of: ^apps/frontend/
  frontend-lint: any of: ^apps/frontend/
  docs-format: any of: ^apps/documentation/
  hardcoded-styles: any of: ^apps/(frontend|documentation)/
