Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, frontend-hardcoded-styles

sdk:
  name: format sdk
  language: system
  entry: make -C sdk format
  pass_filenames: false

backend:
  name: format backend
  language: system
  entry: make -C apps/backend format_diff
  pass_filenames: false

frontend-format:
  name: auto-fix frontend formatting
  language: system
  entry: cd apps/frontend && npm run format
  pass_filenames: false

frontend-lint:
  name: lint frontend
  language: system
  entry: cd apps/frontend && npm run lint
  pass_filenames: false

frontend-hardcoded-styles:
  name: check hardcoded styles in frontend
  language: system
  entry: node scripts/check-hardcoded-styles.js
  pass_filenames: false

docs: modernize SDK documentation with Rhesis AI branding
  docs/sdk/source/_static/fonts/be-vietnam-pro/OFL.txt
  docs/sdk/source/_static/fonts/be-vietnam-pro/be-vietnam-pro-bold.ttf
  docs/sdk/source/_static/fonts/be-vietnam-pro/be-vietnam-pro-bolditalic.ttf
  docs/sdk/source/_static/fonts/be-vietnam-pro/be-vietnam-pro-italic.ttf
  docs/sdk/source/_static/fonts/be-vietnam-pro/be-vietnam-pro-light.ttf
  docs/sdk/source/_static/fonts/be-vietnam-pro/be-vietnam-pro-lightitalic.ttf
  docs/sdk/source/_static/fonts/be-vietnam-pro/be-vietnam-pro-medium.ttf
  docs/sdk/source/_static/fonts/be-vietnam-pro/be-vietnam-pro-mediumitalic.ttf
  docs/sdk/source/_static/fonts/be-vietnam-pro/be-vietnam-pro-regular.ttf
  docs/sdk/source/_static/fonts/be-vietnam-pro/be-vietnam-pro-semibold.ttf
  docs/sdk/source/_static/fonts/be-vietnam-pro/be-vietnam-pro-semibolditalic.ttf
  docs/sdk/source/_static/fonts/sora/sora-light.ttf
  docs/sdk/source/_static/fonts/sora/sora-medium.ttf
  docs/sdk/source/_static/fonts/sora/sora-regular.ttf
  docs/sdk/source/_static/fonts/sora/sora-semibold.ttf
  docs/sdk/source/_static/rhesis-theme.css
  docs/sdk/source/changelog.rst
  docs/sdk/source/changelog/v0.1.0.rst
  docs/sdk/source/changelog/v0.1.8.rst
  docs/sdk/source/changelog/v0.1.9.rst
  docs/sdk/source/changelog/v0.2.0.rst
  docs/sdk/source/changelog/v0.2.1.rst
  docs/sdk/source/changelog/v0.2.2.rst
  docs/sdk/source/changelog/v0.2.3.rst
  docs/sdk/source/changelog/v0.2.4.rst
  docs/sdk/source/changelog/v0.3.0.rst
  docs/sdk/source/conf.py
  docs/sdk/source/index.rst
  sdk/.readthedocs.yaml
Due: sdk

feat(metrics): use user-configured model and remove mirascope dependency
  apps/backend/src/rhesis/backend/metrics/evaluator.py
  apps/backend/src/rhesis/backend/metrics/rhesis/prompt_metric.py
  apps/backend/src/rhesis/backend/tasks/execution/test_execution.py
Due: backend

fix(metrics): correct deepeval context relevancy class name
  apps/backend/src/rhesis/backend/metrics/config/defaults.yml
  sdk/src/rhesis/sdk/metrics/config/defaults.yml
Due: sdk, backend

style(models): improve alert condition formatting
  apps/frontend/src/app/(protected)/integrations/models/components/ConnectionDialog.tsx
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

refactor: standardize import statements and formatting in Alembic migration files
  apps/backend/src/rhesis/backend/alembic/versions/061018260cbf_adding_model_to_metric.py
  apps/backend/src/rhesis/backend/alembic/versions/16daea1d50ec_adding_model_support.py
  apps/backend/src/rhesis/backend/alembic/versions/17eaea1d50ed_adding_comment_support.py
  apps/backend/src/rhesis/backend/alembic/versions/792098eebe5f_add_task_model.py
  apps/backend/src/rhesis/backend/alembic/versions/795647de9026_add_backend_id.py
  apps/backend/src/rhesis/backend/alembic/versions/88f39c501875_add_metric_model.py
  apps/backend/src/rhesis/backend/alembic/versions/a7e1303a11da_add_metric_and_behavior_relationship.py
  apps/backend/src/rhesis/backend/alembic/versions/f79840d8a11e_update_source_model_with_comments_.py
Due: backend

Revert "fix: update database configuration in deployment.yaml"
  apps/worker/k8s/deployment.yaml
Due: none

enhance: improve GKE Autopilot cluster creation output in workflow
  .github/workflows/worker.yml
Due: none

fix: update database configuration in deployment.yaml
  apps/worker/k8s/deployment.yaml
Due: none

fix: update VPC connector configuration for region-specific deployment
  .github/workflows/backend.yml
Due: none

feat: add worker start command to rh CLI
  rh
Due: none

feat(metrics): support metric-specific model configuration
  apps/backend/src/rhesis/backend/metrics/base.py
  apps/backend/src/rhesis/backend/metrics/evaluator.py
  apps/backend/src/rhesis/backend/tasks/execution/metrics_utils.py
  apps/backend/src/rhesis/backend/tasks/execution/test_execution.py
Due: backend

fix(tests): correct test count calculation in execution summary
  apps/backend/src/rhesis/backend/tasks/execution/result_processor.py
Due: backend

Fixing rh scritp
  rh
Due: none

feat(models): add visibility toggle for API key input
  apps/frontend/src/app/(protected)/integrations/models/components/ConnectionDialog.tsx
  docs/content/platform/integrations/llm-providers/index.mdx
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

feat(docs): improve SDK documentation styling with custom pygments theme
  docs/sdk/source/_ext/rhesis_pygments_style.py
  docs/sdk/source/_static/rhesis-theme.css
  docs/sdk/source/conf.py
Due: none

fix(frontend): resolve blank file downloads in knowledge section
  apps/frontend/src/app/(protected)/knowledge/[id]/components/SourcePreviewClientWrapper.tsx
  apps/frontend/src/utils/api-client/sources-client.ts
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

fix(security): remove organization_id query parameters from recycle endpoints
  apps/backend/src/rhesis/backend/app/routers/recycle.py
Due: backend

fix(auth): improve authorization and ownership handling
  apps/backend/src/rhesis/backend/app/routers/metric.py
  tests/backend/fixtures/test_setup.py
Due: backend

fix(test): improve test isolation and encryption key management
  tests/backend/conftest.py
  tests/backend/test_encryption.py
  tests/backend/utils/test_endpoint_encryption.py
  tests/backend/utils/test_model_encryption.py
Due: none

fix(db): resolve token hash and database constraint violations
  tests/backend/auth/test_transaction_management.py
  tests/backend/crud/test_token_crud.py
  tests/backend/security/test_organization_filtering.py
  tests/backend/security/test_token_management.py
  tests/backend/utils/test_token_encryption.py
Due: none

fix(services): resolve import paths and service layer issues
  tests/backend/services/base.py
  tests/backend/services/fixtures/storage_fixtures.py
  tests/backend/services/test_document_handler.py
  tests/backend/services/test_storage_integration.py
  tests/backend/services/test_storage_service.py
  tests/backend/services/test_test_set.py
Due: none

Path conditions:
  sdk: any of: ^sdk/
  backend: any of: ^apps/backend/
  frontend-format: any of: ^apps/frontend/
  frontend-lint: any of: ^apps/frontend/
  frontend-hardcoded-styles: any of: ^apps/frontend/
