Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict

  - repo: local
    hooks:
        - id: sdk
          name  : format sdk
          language: system
          entry: make -C sdk format
          files: ^sdk/
          pass_filenames: false

        - id: backend
          name  : format backend
          language: system
          entry: make -C apps/backend format
          files: ^apps/backend/
          pass_filenames: false


  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.8.0
  #   hooks:
  #     - id: mypy
  #       additional_dependencies: [
  #         "types-requests",
  #         "pandas-stubs",
  #         "pyarrow-stubs",
  #         "types-tqdm"
  #       ]

Adding tests for demographics
  tests/backend/routes/test_demographic.py
Due: none

Making backend routes consistent for UUID validation and FK error handling
  apps/backend/src/rhesis/backend/app/routers/dimension.py
  apps/backend/src/rhesis/backend/app/routers/organization.py
  apps/backend/src/rhesis/backend/app/routers/risk.py
  apps/backend/src/rhesis/backend/app/routers/source.py
  apps/backend/src/rhesis/backend/app/routers/status.py
  apps/backend/src/rhesis/backend/app/routers/tag.py
  apps/backend/src/rhesis/backend/app/routers/task.py
  apps/backend/src/rhesis/backend/app/routers/token.py
  apps/backend/src/rhesis/backend/app/routers/type_lookup.py
  apps/backend/src/rhesis/backend/app/routers/user.py
Due: backend

Adding fixtures to manage tests
  tests/backend/routes/conftest.py
  tests/backend/routes/fixtures.py
  tests/backend/routes/test_behavior.py
  tests/backend/routes/test_demographic.py
  tests/backend/routes/test_topic.py
Due: none

fix: Handling FK violation errros
  apps/backend/src/rhesis/backend/app/routers/endpoint.py
Due: backend

tests: Implementing test endpoint with API Call interception for endpoint
  tests/backend/routes/endpoints.py
  tests/backend/routes/fixtures.py
  tests/backend/routes/test_endpoint.py
Due: none

Refactoring fixtures for testing
  tests/backend/routes/fixtures/__init__.py
  tests/backend/routes/fixtures/entities/__init__.py
  tests/backend/routes/fixtures/entities/behaviors.py
  tests/backend/routes/fixtures/entities/categories.py
  tests/backend/routes/fixtures/entities/dimensions.py
  tests/backend/routes/fixtures/entities/endpoints.py
  tests/backend/routes/fixtures/entities/metrics.py
  tests/backend/routes/fixtures/entities/topics.py
  tests/backend/routes/fixtures/mocks/__init__.py
  tests/backend/routes/fixtures/mocks/services.py
  tests/backend/routes/fixtures/relationships/__init__.py
  tests/backend/routes/fixtures/relationships/associations.py
  tests/backend/routes/fixtures/relationships/demographics.py
  tests/backend/routes/fixtures/relationships/hierarchies.py
  tests/backend/routes/fixtures/utilities/__init__.py
  tests/backend/routes/fixtures/utilities/identifiers.py
Due: none

Removing old test_crud testing
  tests/README.md
  tests/backend/README.md
  tests/backend/routes/conftest.py
  tests/backend/routes/fixtures.py
  tests/backend/test_crud/__init__.py
  tests/backend/test_crud/test_behavior.py
  tests/backend/test_crud/test_benchmark.py
  tests/backend/test_crud/test_category.py
  tests/backend/test_crud/test_endpoint.py
  tests/backend/test_crud/test_prompt_template.py
Due: none

Adding testing for home router
  tests/backend/routes/endpoints.py
  tests/backend/routes/fixtures/__init__.py
  tests/backend/routes/fixtures/entities/__init__.py
  tests/backend/routes/fixtures/entities/users.py
  tests/backend/routes/test_home.py
Due: none

Adding auto-detection capabilities for base.py testing
  tests/backend/routes/base.py
Due: none

Comprehensive tests for user fields in entities
  tests/backend/routes/base.py
Due: none

Refactoring test base
  tests/backend/routes/test_base/__init__.py
  tests/backend/routes/test_base/authentication.py
  tests/backend/routes/test_base/core.py
  tests/backend/routes/test_base/crud.py
  tests/backend/routes/test_base/edge_cases.py
  tests/backend/routes/test_base/health.py
  tests/backend/routes/test_base/list_operations.py
  tests/backend/routes/test_base/performance.py
  tests/backend/routes/test_base/user_detection.py
  tests/backend/routes/test_base/user_relationships.py
Due: none

Fixing user fixtures
  tests/backend/routes/base.py
  tests/backend/routes/fixtures/entities/users.py
  tests/backend/test_example_markers.py
Due: none

Update start.sh with uv run for uvicorn
  apps/backend/start.sh
Due: backend

truncating project titles
  apps/frontend/src/app/(protected)/projects/components/ProjectCard.tsx
Due: none

feat: add Redis authentication and update environment configuration
  apps/backend/src/rhesis/backend/alembic/create_user.sql
  apps/backend/src/rhesis/backend/alembic/create_user.sql.template
  docker-compose.yml
  env.docker
  scripts/generate_sql.sh
Due: backend

fix: In-line editing of pyproject.toml to allow for SDK to be installed by uv
  apps/backend/Dockerfile
Due: backend

Create bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

Add files via upload
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/task.md
Due: none

tests: Adjusting use of fixtures across entities
  tests/backend/routes/faker_utils.py
  tests/backend/routes/fixtures/__init__.py
  tests/backend/routes/fixtures/entities/__init__.py
  tests/backend/routes/fixtures/entities/users.py
  tests/backend/routes/test_base/list_operations.py
  tests/backend/routes/test_base/user_relationships.py
  tests/backend/routes/test_behavior.py
  tests/backend/routes/test_category.py
  tests/backend/routes/test_demographic.py
  tests/backend/routes/test_dimension.py
  tests/backend/routes/test_endpoint.py
  tests/backend/routes/test_topic.py
  tests/pytest.ini
Due: none

tests: Adding fixtures for projects and statuses
  tests/backend/routes/fixtures/entities/projects.py
  tests/backend/routes/fixtures/entities/statuses.py
Due: none

feat: migrate from docling to markitdown for document extraction
  sdk/pyproject.toml
  sdk/src/rhesis/sdk/services/extractor.py
  sdk/uv.lock
Due: sdk
