Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, docs-format, hardcoded-styles

sdk:
  name: format sdk
  language: system
  entry: make -C sdk format
  pass_filenames: false

backend:
  name: format backend
  language: system
  entry: make -C apps/backend format_diff
  pass_filenames: false

frontend-format:
  name: auto-fix frontend formatting
  language: system
  entry: bash -c "cd apps/frontend && npm run format"
  pass_filenames: false

frontend-lint:
  name: lint frontend
  language: system
  entry: bash -c "cd apps/frontend && npm run lint"
  pass_filenames: false

docs-format:
  name: auto-fix docs formatting
  language: system
  entry: bash -c "cd apps/documentation && npm run format"
  pass_filenames: false

hardcoded-styles:
  name: check hardcoded styles in frontend and docs
  language: system
  entry: node scripts/check-hardcoded-styles.js
  pass_filenames: false

Fix AND logic for multiple Tests drawer filters (#2168)
  apps/frontend/src/app/(protected)/tests/components/TestFilterDrawer.tsx
  apps/frontend/src/app/(protected)/tests/components/test-filter-model.ts
  apps/frontend/src/hooks/__tests__/useGridState.test.ts
  apps/frontend/src/hooks/useGridState.ts
Due: frontend-format, frontend-lint, hardcoded-styles

feat(frontend): add insights run or time filter
  apps/frontend/src/app/(protected)/insights/__tests__/types.test.ts
  apps/frontend/src/app/(protected)/insights/components/InsightsFilterDrawer.tsx
  apps/frontend/src/app/(protected)/insights/components/InsightsPage.tsx
  apps/frontend/src/app/(protected)/insights/components/InsightsRunFilterSection.tsx
  apps/frontend/src/app/(protected)/insights/components/InsightsTestRunFilterSection.tsx
  apps/frontend/src/app/(protected)/insights/components/TestResultsFilters.tsx
  apps/frontend/src/app/(protected)/insights/components/__tests__/TestResultsFilters.test.tsx
  apps/frontend/src/app/(protected)/insights/hooks/__tests__/useBehaviorInsightsData.test.ts
  apps/frontend/src/app/(protected)/insights/hooks/useBehaviorInsightsData.ts
  apps/frontend/src/app/(protected)/insights/types.ts
  apps/frontend/src/app/(protected)/insights/utils/__tests__/insights-failed-tests.test.ts
  apps/frontend/src/app/(protected)/insights/utils/behavior-insights-utils.ts
  apps/frontend/src/app/(protected)/insights/utils/insights-failed-tests.ts
  apps/frontend/src/app/(protected)/insights/utils/insights-filter-utils.ts
  apps/frontend/src/app/(protected)/tests/components/TestsGrid.tsx
  apps/frontend/tests/e2e/pages/InsightsPage.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): disable insights run checkboxes
  apps/frontend/src/app/(protected)/insights/components/InsightsTestRunFilterSection.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): harden insights test run fetching
  apps/frontend/src/app/(protected)/insights/components/InsightsTestRunFilterSection.tsx
  apps/frontend/src/app/(protected)/insights/utils/__tests__/behavior-insights-utils.test.ts
  apps/frontend/src/app/(protected)/insights/utils/behavior-insights-utils.ts
Due: frontend-format, frontend-lint, hardcoded-styles

test(frontend): cover insights test run id cap
  apps/frontend/src/app/(protected)/insights/utils/__tests__/behavior-insights-utils.test.ts
Due: frontend-format, frontend-lint, hardcoded-styles

style(frontend): format insights filter files
  apps/frontend/src/app/(protected)/insights/components/InsightsTestRunFilterSection.tsx
  apps/frontend/src/app/(protected)/insights/utils/__tests__/behavior-insights-utils.test.ts
  apps/frontend/src/app/(protected)/insights/utils/behavior-insights-utils.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): mark test-runs mode as active filter
  apps/frontend/src/app/(protected)/insights/utils/__tests__/insights-filter-utils.test.ts
  apps/frontend/src/app/(protected)/insights/utils/insights-filter-utils.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): resolve empty insights test run ids
  apps/frontend/src/app/(protected)/insights/utils/__tests__/fetch-failed-test-ids-resolution.test.ts
  apps/frontend/src/app/(protected)/insights/utils/__tests__/insights-failed-tests.test.ts
  apps/frontend/src/app/(protected)/insights/utils/insights-failed-tests.ts
Due: frontend-format, frontend-lint, hardcoded-styles

Add Insights time range or test run filter (#2172)
  apps/frontend/src/app/(protected)/insights/__tests__/types.test.ts
  apps/frontend/src/app/(protected)/insights/components/InsightsFilterDrawer.tsx
  apps/frontend/src/app/(protected)/insights/components/InsightsPage.tsx
  apps/frontend/src/app/(protected)/insights/components/InsightsRunFilterSection.tsx
  apps/frontend/src/app/(protected)/insights/components/InsightsTestRunFilterSection.tsx
  apps/frontend/src/app/(protected)/insights/components/TestResultsFilters.tsx
  apps/frontend/src/app/(protected)/insights/components/__tests__/TestResultsFilters.test.tsx
  apps/frontend/src/app/(protected)/insights/hooks/__tests__/useBehaviorInsightsData.test.ts
  apps/frontend/src/app/(protected)/insights/hooks/useBehaviorInsightsData.ts
  apps/frontend/src/app/(protected)/insights/types.ts
  apps/frontend/src/app/(protected)/insights/utils/__tests__/behavior-insights-utils.test.ts
  apps/frontend/src/app/(protected)/insights/utils/__tests__/fetch-failed-test-ids-resolution.test.ts
  apps/frontend/src/app/(protected)/insights/utils/__tests__/insights-failed-tests.test.ts
  apps/frontend/src/app/(protected)/insights/utils/__tests__/insights-filter-utils.test.ts
  apps/frontend/src/app/(protected)/insights/utils/behavior-insights-utils.ts
  apps/frontend/src/app/(protected)/insights/utils/insights-failed-tests.ts
  apps/frontend/src/app/(protected)/insights/utils/insights-filter-utils.ts
  apps/frontend/src/app/(protected)/tests/components/TestsGrid.tsx
  apps/frontend/tests/e2e/pages/InsightsPage.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix: reject execution of empty test sets
  apps/backend/src/rhesis/backend/app/services/test_set.py
  apps/backend/src/rhesis/backend/tasks/execution/orchestration.py
  tests/backend/routes/test_execute_with_reuse.py
  tests/backend/services/test_test_set.py
  tests/backend/tasks/test_pipeline_wiring.py
Due: backend

feat(frontend): add linked tests and fix behavior filter
  apps/frontend/src/app/(protected)/behaviors/[identifier]/components/BehaviorDetailTabs.tsx
  apps/frontend/src/app/(protected)/behaviors/[identifier]/components/BehaviorLinkedTests.tsx
  apps/frontend/src/hooks/useLookups.ts
  apps/frontend/src/utils/api-client/behavior-client.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): harden linked tests and behavior fetch
  apps/frontend/src/app/(protected)/behaviors/[identifier]/components/BehaviorLinkedTests.tsx
  apps/frontend/src/hooks/useLookups.ts
  apps/frontend/src/utils/api-client/behavior-client.ts
Due: frontend-format, frontend-lint, hardcoded-styles

Enhance environment variable checks in rh script
  rh
Due: none

fix(frontend): stabilize flaky e2e shard 1 tests
  apps/frontend/tests/e2e/mock-backend.mjs
  apps/frontend/tests/e2e/pages/InsightsPage.ts
  apps/frontend/tests/e2e/pages/KnowledgePage.ts
  apps/frontend/tests/e2e/tests/insights.spec.ts
  apps/frontend/tests/e2e/tests/knowledge-crud.spec.ts
Due: frontend-format, frontend-lint, hardcoded-styles

Restructure deployment docs and improve self-hosting setup (#2167)
  .env.example
  docker-compose.yml
  docs/content/docs/deployment/_meta.tsx
  docs/content/docs/deployment/docker-compose.mdx
  docs/content/docs/deployment/environment-variables.mdx
  docs/content/docs/deployment/index.mdx
  docs/content/docs/deployment/quick-start.mdx
  docs/content/docs/deployment/running-locally.mdx
  docs/content/docs/deployment/self-hosting.mdx
  docs/content/docs/getting-started/setup-environment.mdx
  docs/content/docs/organizations/api-clients.mdx
  docs/content/docs/organizations/roles.mdx
  docs/content/docs/organizations/sso.mdx
  docs/content/guides/quick-start-guide.mdx
  rh
Due: none

fix(frontend): stabilize knowledge upload e2e test
  apps/frontend/src/utils/api-client/sources-client.ts
  apps/frontend/tests/e2e/pages/KnowledgePage.ts
  apps/frontend/tests/e2e/tests/knowledge-crud.spec.ts
Due: frontend-format, frontend-lint, hardcoded-styles

refactor(auth): drop is_running_locally, require session secret
  apps/backend/src/rhesis/backend/app/config/settings.py
  apps/backend/src/rhesis/backend/app/main.py
  apps/backend/src/rhesis/backend/app/routers/auth.py
  ee/backend/src/rhesis/backend/ee/sso/router.py
  tests/backend/app/test_settings.py
  tests/backend/routes/test_auth.py
Due: backend

refactor(auth): drop is_running_locally, require session secret (#2175)
  apps/backend/src/rhesis/backend/app/config/settings.py
  apps/backend/src/rhesis/backend/app/main.py
  apps/backend/src/rhesis/backend/app/routers/auth.py
  ee/backend/src/rhesis/backend/ee/sso/router.py
  tests/backend/app/test_settings.py
  tests/backend/routes/test_auth.py
Due: backend

fix(frontend): align sources fixture and stub headers
  apps/frontend/tests/e2e/fixtures/sources.json
  apps/frontend/tests/e2e/tests/knowledge-crud.spec.ts
Due: frontend-format, frontend-lint, hardcoded-styles

chore(backend): remove dead code for dimensions and demographics
  apps/backend/src/rhesis/backend/alembic/delete_user.sql
  apps/backend/src/rhesis/backend/alembic/delete_user_and_organization_data.sql
  apps/backend/src/rhesis/backend/alembic/versions/a1b2c3d4e5f6_drop_dimension_and_demographic_tables.py
  apps/backend/src/rhesis/backend/app/constants.py
  apps/backend/src/rhesis/backend/app/crud.py
  apps/backend/src/rhesis/backend/app/models/__init__.py
  apps/backend/src/rhesis/backend/app/models/demographic.py
  apps/backend/src/rhesis/backend/app/models/dimension.py
  apps/backend/src/rhesis/backend/app/models/organization.py
  apps/backend/src/rhesis/backend/app/models/prompt.py
  apps/backend/src/rhesis/backend/app/routers/__init__.py
  apps/backend/src/rhesis/backend/app/routers/demographic.py
  apps/backend/src/rhesis/backend/app/routers/dimension.py
  apps/backend/src/rhesis/backend/app/schemas/__init__.py
  apps/backend/src/rhesis/backend/app/schemas/demographic.py
  apps/backend/src/rhesis/backend/app/schemas/dimension.py
  apps/backend/src/rhesis/backend/app/schemas/prompt.py
  apps/backend/src/rhesis/backend/app/services/bulk_defaults.json
  apps/backend/src/rhesis/backend/app/services/test.py
  scripts/check_organization_filtering.py
  tests/backend/routes/endpoints.py
  tests/backend/routes/faker_utils.py
  tests/backend/routes/test_demographic.py
  tests/backend/routes/test_dimension.py
Due: backend

Add Linked Tests on behaviors and fix behavior filter list (#2174)
  apps/frontend/src/app/(protected)/behaviors/[identifier]/components/BehaviorDetailTabs.tsx
  apps/frontend/src/app/(protected)/behaviors/[identifier]/components/BehaviorLinkedTests.tsx
  apps/frontend/src/hooks/useLookups.ts
  apps/frontend/src/utils/api-client/behavior-client.ts
  apps/frontend/src/utils/api-client/sources-client.ts
  apps/frontend/tests/e2e/fixtures/sources.json
  apps/frontend/tests/e2e/mock-backend.mjs
  apps/frontend/tests/e2e/pages/InsightsPage.ts
  apps/frontend/tests/e2e/pages/KnowledgePage.ts
  apps/frontend/tests/e2e/tests/insights.spec.ts
  apps/frontend/tests/e2e/tests/knowledge-crud.spec.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix: reject execution of empty test sets (#2173)
  apps/backend/src/rhesis/backend/app/services/test_set.py
  apps/backend/src/rhesis/backend/tasks/execution/orchestration.py
  tests/backend/routes/test_execute_with_reuse.py
  tests/backend/services/test_test_set.py
  tests/backend/tasks/test_pipeline_wiring.py
Due: backend

fix(logging): restore stdout logging for non-local, non-GCP envs
  apps/backend/src/rhesis/backend/logging/logging_config.py
Due: backend

fix(logging): replace GCP-inferred gating with JSON_LOGGER_ENABLED flag
  apps/backend/src/rhesis/backend/app/config/settings.py
  apps/backend/src/rhesis/backend/logging/logging_config.py
  charts/rhesis/templates/configmap.yaml
  charts/rhesis/values-dev.yaml
  charts/rhesis/values-prd.yaml
  charts/rhesis/values-stg.yaml
  charts/rhesis/values.yaml
Due: backend

fix(celery): apply structured logging pipeline to worker process
  apps/backend/src/rhesis/backend/celery/signals.py
Due: backend

fix(migration): use repo GUID type and recreate full schema in downgrade
  apps/backend/src/rhesis/backend/alembic/versions/a1b2c3d4e5f6_drop_dimension_and_demographic_tables.py
Due: backend

perf(auth): scope effective_permissions to route resource types
  apps/backend/src/rhesis/backend/app/auth/affordances.py
  apps/backend/src/rhesis/backend/app/auth/rbac.py
  apps/backend/src/rhesis/backend/app/dependencies.py
  apps/backend/src/rhesis/backend/app/main.py
Due: backend

fix(auth): warn on WithPermittedActions with no resource_type
  apps/backend/src/rhesis/backend/app/main.py
Due: backend

perf(auth): dedup owner/member checks, cache rbac_active_for
  apps/backend/src/rhesis/backend/app/auth/rbac.py
  apps/backend/src/rhesis/backend/app/services/permission_cache.py
  tests/backend/auth/test_permission_cache.py
  tests/backend/auth/test_rbac.py
Due: backend

fix(ee): fall back and intersect token scopes in get_effective_permissions
  ee/backend/src/rhesis/backend/ee/rbac/provider.py
  tests/backend/ee/rbac/test_sp8_provider.py
Due: none

perf(auth): batch effective_permissions instead of per-cap loop
  apps/backend/src/rhesis/backend/app/auth/affordances.py
  apps/backend/src/rhesis/backend/app/auth/rbac.py
  apps/backend/src/rhesis/backend/app/dependencies.py
  apps/backend/src/rhesis/backend/app/main.py
  apps/backend/src/rhesis/backend/app/routers/token.py
  ee/backend/src/rhesis/backend/ee/rbac/provider.py
Due: backend

fix(auth): split org/project scope in effective_permissions
  apps/backend/src/rhesis/backend/app/auth/rbac.py
  ee/backend/src/rhesis/backend/ee/rbac/provider.py
  tests/backend/auth/test_rbac.py
  tests/backend/ee/rbac/test_sp8_provider.py
Due: backend

feat(rh): add secrets command to fill .env.docker
  rh
Due: none

docs: document self-hosting secrets and SSO key
  .env.example
  docs/content/docs/deployment/docker-compose.mdx
  docs/content/docs/deployment/environment-variables.mdx
  docs/content/docs/deployment/quick-start.mdx
Due: none

Add ./rh secrets command and document self-hosting secrets (#2179)
  .env.example
  docs/content/docs/deployment/docker-compose.mdx
  docs/content/docs/deployment/environment-variables.mdx
  docs/content/docs/deployment/quick-start.mdx
  rh
Due: none

fix(auth): fail closed on provider errors in effective_permissions
  apps/backend/src/rhesis/backend/app/auth/rbac.py
  tests/backend/auth/test_rbac.py
Due: backend

fix(logging): choose console format by JSON flag or TTY
  apps/backend/src/rhesis/backend/celery/signals.py
  apps/backend/src/rhesis/backend/logging/logging_config.py
  docs/content/contribute/backend/architecture.mdx
Due: backend

feat(backend): require DB_ENCRYPTION_KEY, drop plaintext fallback
  apps/backend/src/rhesis/backend/app/config/settings.py
  apps/backend/src/rhesis/backend/app/utils/encryption.py
  docs/content/contribute/backend/database-field-encryption.mdx
  docs/content/contribute/backend/encryption-troubleshooting.mdx
Due: backend

fix(backend): keep EncryptionKeyNotFoundError for EE SSO
  apps/backend/src/rhesis/backend/app/utils/encryption.py
Due: backend

fix(backend): stamp celery role on shared logs
  apps/backend/src/rhesis/backend/celery/config.py
  apps/backend/src/rhesis/backend/celery/signals.py
  apps/backend/src/rhesis/backend/logging/logging_config.py
  docs/content/contribute/backend/architecture.mdx
Due: backend

Path conditions:
  sdk: any of: ^sdk/
  backend: any of: ^apps/backend/
  frontend-format: any of: ^apps/frontend/
  frontend-lint: any of: ^apps/frontend/
  docs-format: any of: ^apps/documentation/
  hardcoded-styles: any of: ^apps/(frontend|documentation)/
