Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, frontend-hardcoded-styles

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict

  - repo: local
    hooks:
        - id: sdk
          name  : format sdk
          language: system
          entry: make -C sdk format
          files: ^sdk/
          pass_filenames: false

        - id: backend
          name  : format backend
          language: system
          entry: make -C apps/backend format_diff
          files: ^apps/backend/
          pass_filenames: false

        - id: frontend-format
          name: auto-fix frontend formatting
          language: system
          entry: cd apps/frontend && npm run format
          files: ^apps/frontend/
          pass_filenames: false

        - id: frontend-lint
          name: lint frontend
          language: system
          entry: cd apps/frontend && npm run lint
          files: ^apps/frontend/
          pass_filenames: false

        - id: frontend-hardcoded-styles
          name: check hardcoded styles in frontend
          language: system
          entry: node scripts/check-hardcoded-styles.js
          files: ^apps/frontend/
          pass_filenames: false


  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.8.0
  #   hooks:
  #     - id: mypy
  #       additional_dependencies: [
  #         "types-requests",
  #         "pandas-stubs",
  #         "pyarrow-stubs",
  #         "types-tqdm"
  #       ]

refactor(frontend): make SourceData name field optional
  apps/frontend/src/utils/api-client/interfaces/test-set.ts
  apps/frontend/src/utils/api-client/services-client.ts
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

refactor(frontend): send only source IDs in SourceSelector
  apps/frontend/src/app/(protected)/tests/new-generated/components/shared/SourceSelector.tsx
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

restore: add back debug logs and remove unused tenant_context
  apps/backend/src/rhesis/backend/app/routers/services.py
  apps/backend/src/rhesis/backend/app/routers/test_set.py
  apps/backend/src/rhesis/backend/app/services/test.py
Due: backend

refactor(backend): make SourceData fields optional except id
  apps/backend/src/rhesis/backend/app/schemas/services.py
Due: backend

feat(backend): fetch source data from DB when only id provided
  apps/backend/src/rhesis/backend/app/routers/services.py
  apps/backend/src/rhesis/backend/app/routers/test_set.py
Due: backend

feat(frontend): add shared FilePreview component with MUI Paper
  apps/frontend/src/app/(protected)/knowledge/[id]/components/SourcePreviewClientWrapper.tsx
  apps/frontend/src/app/(protected)/tests/[identifier]/components/TestDetailData.tsx
  apps/frontend/src/components/common/FilePreview.tsx
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

refactor(frontend): replace ContextPreview with document icon in grids
  apps/frontend/src/app/(protected)/test-sets/components/TestSetsGrid.tsx
  apps/frontend/src/app/(protected)/tests/components/TestsGrid.tsx
  apps/frontend/src/components/common/FilePreview.tsx
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

feat(frontend): improve source display in test and test-set pages
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/TestSetDetailsSection.tsx
  apps/frontend/src/app/(protected)/test-sets/components/TestSetsGrid.tsx
  apps/frontend/src/app/(protected)/tests/[identifier]/components/TestDetailData.tsx
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

chore: regenerate uv.lock for platform compatibility
  apps/backend/uv.lock
Due: backend

refactor(frontend): replace 'Document' terminology with 'Source'
  apps/frontend/src/app/(protected)/tests/[identifier]/components/TestDetailData.tsx
  apps/frontend/src/app/(protected)/tests/new-generated/components/shared/DocumentUpload.tsx
  apps/frontend/src/components/common/FilePreview.tsx
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

feat(test-generation): display context documents in confirmation screen
  apps/frontend/src/app/(protected)/tests/new-generated/components/TestConfigurationConfirmation.tsx
  apps/frontend/src/app/(protected)/tests/new-generated/components/TestGenerationFlow.tsx
  apps/frontend/src/app/(protected)/tests/new-generated/components/TestGenerationInterface.tsx
  apps/frontend/src/app/(protected)/tests/new-generated/components/shared/SourceSelector.tsx
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

feat(test-generation): fix source name display in confirmation and interface screens
  apps/frontend/src/app/(protected)/tests/new-generated/components/TestConfigurationConfirmation.tsx
  apps/frontend/src/app/(protected)/tests/new-generated/components/TestGenerationInterface.tsx
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

fix: huggingface imports, test sdk
  .github/workflows/sdk-test.yml
  sdk/src/rhesis/sdk/models/__init__.py
Due: sdk

fix: update uv lock
  sdk/uv.lock
Due: sdk

chore: restore uv.lock from main to resolve CI lockfile sync issues
  apps/backend/uv.lock
Due: backend

Implement OpenTelemetry Telemetry System
  TELEMETRY_IMPLEMENTATION.md
  apps/backend/pyproject.toml
  apps/backend/src/rhesis/backend/alembic/versions/a1b2c3d4e5f7_add_telemetry_analytics_tables.py
  apps/backend/src/rhesis/backend/alembic/versions/a1b2c3d4e5f8_add_telemetry_enabled_to_user.py
  apps/backend/src/rhesis/backend/app/main.py
  apps/backend/src/rhesis/backend/app/models/user.py
  apps/backend/src/rhesis/backend/app/routers/user.py
  apps/backend/src/rhesis/backend/telemetry/__init__.py
  apps/backend/src/rhesis/backend/telemetry/instrumentation.py
  apps/backend/src/rhesis/backend/telemetry/middleware.py
  apps/backend/uv.lock
  apps/frontend/next-env.d.ts
  apps/frontend/package.json
  apps/frontend/src/components/settings/TelemetrySettings.tsx
  apps/frontend/src/components/telemetry/TelemetryOptInDialog.tsx
  apps/frontend/src/lib/telemetry.ts
  apps/otel-collector/Dockerfile
  apps/otel-collector/README.md
  apps/otel-collector/otel-collector-config.yaml
  apps/telemetry-processor/Dockerfile
  apps/telemetry-processor/README.md
  apps/telemetry-processor/pyproject.toml
  apps/telemetry-processor/src/processor.py
  docker-compose.yml
  docs/TELEMETRY.md
  docs/TELEMETRY_SETUP.md
  docs/telemetry/README.md
Due: backend, frontend-format, frontend-lint, frontend-hardcoded-styles

chore(docker): remove obsolete OpenTelemetry Collector Dockerfile
  apps/otel-collector/Dockerfile
Due: none

feat(telemetry): integrate OpenTelemetry for enhanced monitoring
  apps/backend/src/rhesis/backend/app/auth/user_utils.py
  apps/backend/src/rhesis/backend/app/main.py
  apps/backend/src/rhesis/backend/telemetry/instrumentation.py
  apps/backend/src/rhesis/backend/telemetry/middleware.py
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/telemetry-processor/pyproject.toml
Due: backend, frontend-format, frontend-lint, frontend-hardcoded-styles

refactor(telemetry): update user and organization ID handling in analytics tables
  apps/backend/src/rhesis/backend/alembic/versions/a1b2c3d4e5f7_add_telemetry_analytics_tables.py
  apps/backend/src/rhesis/backend/telemetry/middleware.py
Due: backend

refactor(telemetry): rename metadata column to event_metadata in analytics tables
  apps/backend/src/rhesis/backend/alembic/versions/a1b2c3d4e5f7_add_telemetry_analytics_tables.py
  apps/frontend/src/app/(protected)/organizations/settings/page.tsx
  apps/frontend/src/components/settings/TelemetrySettings.tsx
  apps/otel-collector/otel-collector-config.yaml
  apps/telemetry-processor/src/processor.py
Due: backend, frontend-format, frontend-lint, frontend-hardcoded-styles

feat(auth): enhance user activity tracking with telemetry integration
  apps/backend/src/rhesis/backend/app/routers/auth.py
  apps/telemetry-processor/src/processor.py
Due: backend

feat(task_management): enhance task operations with telemetry tracking
  apps/backend/src/rhesis/backend/app/routers/task_management.py
  apps/backend/src/rhesis/backend/telemetry/middleware.py
Due: backend
