Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, frontend-hardcoded-styles

sdk:
  name: format sdk
  language: system
  entry: make -C sdk format
  pass_filenames: false

backend:
  name: format backend
  language: system
  entry: make -C apps/backend format_diff
  pass_filenames: false

frontend-format:
  name: auto-fix frontend formatting
  language: system
  entry: cd apps/frontend && npm run format
  pass_filenames: false

frontend-lint:
  name: lint frontend
  language: system
  entry: cd apps/frontend && npm run lint
  pass_filenames: false

frontend-hardcoded-styles:
  name: check hardcoded styles in frontend
  language: system
  entry: node scripts/check-hardcoded-styles.js
  pass_filenames: false

fix: increase bottom margin for pie chart legend overflow prevention
  apps/frontend/src/components/common/BasePieChart.tsx
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

feat: update backend and worker workflows to enhance storage service configuration
  .github/workflows/backend-test.yml
  .github/workflows/backend.yml
  .github/workflows/worker.yml
Due: none

fix: align token empty state with theme (issue #485)
  apps/frontend/src/app/(protected)/tokens/components/TokensGrid.tsx
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

fix(auth): resolve encrypted token lookup in get_token_by_value
  apps/backend/src/rhesis/backend/app/crud.py
Due: backend

fix: improve token deletion confirmation message
  apps/frontend/src/app/(protected)/tokens/components/TokensPageClient.tsx
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

fix: resolve duplicate import ESLint error in TokensGrid
  apps/frontend/src/app/(protected)/tokens/components/TokensGrid.tsx
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

fix(schemas): migrate Source schema to Pydantic V2 ConfigDict
  apps/backend/src/rhesis/backend/app/schemas/test.py
Due: backend

fix(tokens): add organization filtering and accurate token count
  apps/backend/src/rhesis/backend/app/crud.py
  apps/backend/src/rhesis/backend/app/routers/token.py
Due: backend

test(security): add token organization filtering tests
  tests/backend/security/test_organization_filtering.py
Due: none

fix: update STORAGE_SERVICE_ACCOUNT_KEY handling in backend workflows
  .github/workflows/backend-test.yml
  .github/workflows/backend.yml
Due: none

feat: implement hash-based token lookup for encrypted tokens
  apps/backend/src/rhesis/backend/alembic/versions/024a24c97022_add_token_hash_column.py
  apps/backend/src/rhesis/backend/alembic/versions/04720d11891c_backfill_token_hash_data.py
  apps/backend/src/rhesis/backend/app/crud.py
  apps/backend/src/rhesis/backend/app/models/token.py
  apps/backend/src/rhesis/backend/app/routers/token.py
  apps/backend/src/rhesis/backend/app/schemas/token.py
  apps/backend/src/rhesis/backend/app/utils/encryption.py
Due: backend

feat(sources): add sources routes to token_enabled_routes
  apps/backend/src/rhesis/backend/app/main.py
Due: backend

fix(services): improve DocumentHandler validation and MIME type support
  apps/backend/src/rhesis/backend/app/services/document_handler.py
Due: backend

feat(storage): add gcsfs dependency and fix linting issues
  apps/backend/pyproject.toml
  apps/backend/src/rhesis/backend/app/routers/source.py
  apps/backend/uv.lock
Due: backend

refactor(source): use DocumentHandler for content extraction
  apps/backend/src/rhesis/backend/app/routers/source.py
Due: backend

feat(document-handler): add extract_document_content method for cloud storage files
  apps/backend/src/rhesis/backend/app/services/document_handler.py
Due: backend

refactor(backend): simplify DocumentHandler to use DocumentExtractor
  apps/backend/src/rhesis/backend/app/services/document_handler.py
Due: backend

refactor(backend): separate file management from content extraction
  apps/backend/src/rhesis/backend/app/routers/source.py
  apps/backend/src/rhesis/backend/app/services/document_handler.py
Due: backend

feat(sources): add document upload, extract, and content endpoints
  apps/backend/src/rhesis/backend/app/routers/source.py
Due: backend

fix(api): resolve ValueError in document upload endpoint
  apps/backend/src/rhesis/backend/app/routers/services.py
Due: backend

fix(storage): add explicit OAuth scopes and improve GCS error handling
  apps/backend/src/rhesis/backend/app/services/storage_service.py
Due: backend

feat(sdk): enhance DocumentExtractor with BytesIO support and code deduplication
  sdk/src/rhesis/sdk/services/extractor.py
Due: sdk

fix(source): resolve upload endpoint authentication and database session issues
  apps/backend/src/rhesis/backend/app/routers/source.py
Due: backend

feat(backend): refactor source router to use service layer pattern
  apps/backend/src/rhesis/backend/app/routers/source.py
  apps/backend/src/rhesis/backend/app/services/source.py
Due: backend

refactor(storage): update DocumentHandler for persistent storage
  apps/backend/src/rhesis/backend/app/services/document_handler.py
Due: backend

refactor: standardize STORAGE_SERVICE_ACCOUNT_KEY handling across workflows
  .github/workflows/backend-test.yml
  .github/workflows/backend.yml
  .github/workflows/worker.yml
  infrastructure/config/service-secrets-create.sh
Due: none

feat(frontend): add knowledge navigation item
  apps/frontend/src/app/layout.tsx
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

feat(api): add sources client and configuration
  apps/frontend/src/utils/api-client/client-factory.ts
  apps/frontend/src/utils/api-client/config.ts
  apps/frontend/src/utils/api-client/interfaces/source.ts
  apps/frontend/src/utils/api-client/sources-client.ts
Due: frontend-format, frontend-lint, frontend-hardcoded-styles

Path conditions:
  sdk: any of: ^sdk/
  backend: any of: ^apps/backend/
  frontend-format: any of: ^apps/frontend/
  frontend-lint: any of: ^apps/frontend/
  frontend-hardcoded-styles: any of: ^apps/frontend/
