Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, docs-format, hardcoded-styles

sdk:
  name: format sdk
  language: system
  entry: make -C sdk format
  pass_filenames: false

backend:
  name: format backend
  language: system
  entry: make -C apps/backend format_diff
  pass_filenames: false

frontend-format:
  name: auto-fix frontend formatting
  language: system
  entry: bash -c "cd apps/frontend && npm run format"
  pass_filenames: false

frontend-lint:
  name: lint frontend
  language: system
  entry: bash -c "cd apps/frontend && npm run lint"
  pass_filenames: false

docs-format:
  name: auto-fix docs formatting
  language: system
  entry: bash -c "cd apps/documentation && npm run format"
  pass_filenames: false

hardcoded-styles:
  name: check hardcoded styles in frontend and docs
  language: system
  entry: node scripts/check-hardcoded-styles.js
  pass_filenames: false

Fix traces list search with multi-field substring matching (#1800)
  apps/backend/src/rhesis/backend/app/crud.py
  apps/backend/src/rhesis/backend/app/routers/telemetry.py
  apps/frontend/src/app/(protected)/traces/components/TraceFilters.tsx
  apps/frontend/src/utils/api-client/interfaces/telemetry.ts
  tests/backend/routes/test_telemetry_query.py
Due: backend, frontend-format, frontend-lint, hardcoded-styles

fix(penelope): make file attachment prompting reliable
  penelope/src/rhesis/penelope/agent.py
  penelope/src/rhesis/penelope/prompts/system/system_assembly_jinja.py
  penelope/src/rhesis/penelope/prompts/templates/system_prompt.j2
  penelope/src/rhesis/penelope/prompts/tools/tool_descriptions.py
  penelope/src/rhesis/penelope/schemas.py
  penelope/tests/test_file_prompting.py
Due: none

feat(frontend): revamp org settings and team pages
  apps/frontend/src/app/(protected)/organizations/settings/components/ContactInformationForm.tsx
  apps/frontend/src/app/(protected)/organizations/settings/components/OrganizationDetailsForm.tsx
  apps/frontend/src/app/(protected)/organizations/settings/components/OrganizationSettingsTabs.tsx
  apps/frontend/src/app/(protected)/organizations/settings/page.tsx
  apps/frontend/src/app/(protected)/organizations/team/components/TeamFilterDrawer.tsx
  apps/frontend/src/app/(protected)/organizations/team/components/TeamInviteDrawer.tsx
  apps/frontend/src/app/(protected)/organizations/team/components/TeamInviteForm.tsx
  apps/frontend/src/app/(protected)/organizations/team/components/TeamMembersGrid.tsx
  apps/frontend/src/app/(protected)/organizations/team/page.tsx
  apps/frontend/src/components/common/BaseDrawer.tsx
  apps/frontend/src/components/common/EditableSection.tsx
  apps/frontend/src/components/common/SectionCard.tsx
  apps/frontend/src/utils/api-client/users-client.ts
  apps/frontend/src/utils/odata-filter.ts
  apps/frontend/tests/e2e/pages/OrgSettingsPage.ts
  apps/frontend/tests/e2e/pages/OrgTeamPage.ts
  apps/frontend/tests/e2e/tests/org-settings-edit.spec.ts
  apps/frontend/tests/e2e/tests/organizations.spec.ts
  apps/frontend/tests/e2e/tests/team-management-crud.spec.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): force dot-decimal notation on number inputs (#1798)
  apps/frontend/src/app/(protected)/experiments/[identifier]/components/TypedValueEditor.tsx
  apps/frontend/src/app/(protected)/projects/[identifier]/components/parameter-schema-shared.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

feat(frontend): align test set linked entities tab
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/TestSetDetailTabs.tsx
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/TestSetLinkedTestsSection.tsx
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/TestSetTestsGrid.tsx
  apps/frontend/src/app/(protected)/tests/[identifier]/components/TestDetailTabs.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(penelope): remove unused imports in test_file_prompting
  penelope/tests/test_file_prompting.py
Due: none

feat(frontend): revamp endpoint detail page
  apps/frontend/src/app/(protected)/endpoints/[identifier]/components/EndpointConnectionTab.tsx
  apps/frontend/src/app/(protected)/endpoints/[identifier]/components/EndpointDetailContext.tsx
  apps/frontend/src/app/(protected)/endpoints/[identifier]/components/EndpointDetailTabs.tsx
  apps/frontend/src/app/(protected)/endpoints/[identifier]/components/EndpointDetailView.tsx
  apps/frontend/src/app/(protected)/endpoints/[identifier]/components/EndpointHeaderActions.tsx
  apps/frontend/src/app/(protected)/endpoints/[identifier]/components/EndpointMappingsTab.tsx
  apps/frontend/src/app/(protected)/endpoints/[identifier]/components/EndpointOverviewTab.tsx
  apps/frontend/src/app/(protected)/endpoints/[identifier]/components/EndpointSdkConnectionPanel.tsx
  apps/frontend/src/app/(protected)/endpoints/[identifier]/components/EndpointSummaryCard.tsx
  apps/frontend/src/app/(protected)/endpoints/[identifier]/components/EndpointTestTab.tsx
  apps/frontend/src/app/(protected)/endpoints/[identifier]/components/JsonMonacoField.tsx
  apps/frontend/src/app/(protected)/endpoints/[identifier]/components/endpoint-detail-shared.tsx
  apps/frontend/src/app/(protected)/endpoints/[identifier]/components/endpointPatch.ts
  apps/frontend/src/app/(protected)/endpoints/[identifier]/components/useEndpointDetail.ts
  apps/frontend/src/app/(protected)/endpoints/[identifier]/page.tsx
  apps/frontend/src/app/(protected)/endpoints/components/EndpointDetail.tsx
  apps/frontend/src/app/(protected)/endpoints/components/EndpointForm.tsx
  apps/frontend/src/app/(protected)/endpoints/components/__tests__/EndpointDetail.test.tsx
  apps/frontend/src/app/(protected)/projects/[identifier]/endpoints/[endpointId]/page.tsx
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/TestSetDetailTabs.tsx
  apps/frontend/src/app/(protected)/tests/[identifier]/components/TestDetailTabs.tsx
  apps/frontend/src/components/common/BadgeChip.tsx
  apps/frontend/src/components/common/DetailTabNav.tsx
  apps/frontend/src/components/common/EditableSection.tsx
  apps/frontend/src/components/common/SectionCardActions.tsx
  apps/frontend/src/components/layout/PageLayout.tsx
  apps/frontend/tests/e2e/pages/EndpointDetailPage.ts
Due: frontend-format, frontend-lint, hardcoded-styles

style(penelope): format agent.py with ruff
  penelope/src/rhesis/penelope/agent.py
Due: none

refactor(frontend): remove model card edit icons
  apps/frontend/src/app/(protected)/models/components/ModelCard.tsx
  apps/frontend/src/app/(protected)/models/page.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

feat(frontend): rename Develop nav section to CONNECT
  apps/frontend/src/app/layout.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(penelope): wrap extracted content in fenced blocks and add data-treatment instruction
  penelope/src/rhesis/penelope/agent.py
  penelope/tests/test_file_prompting.py
Due: none

feat: stream test generation incrementally via NDJSON pipeline
  apps/backend/src/rhesis/backend/app/routers/services.py
  apps/backend/src/rhesis/backend/app/schemas/services.py
  apps/backend/src/rhesis/backend/app/services/explorer/suggestions.py
  apps/backend/src/rhesis/backend/app/services/generation.py
  apps/backend/src/rhesis/backend/app/services/streaming_utils.py
  apps/backend/src/rhesis/backend/app/services/test_generation_pipeline.py
  apps/frontend/src/app/(protected)/tests/new-generated/components/TestGenerationFlow.tsx
  apps/frontend/src/app/(protected)/tests/new-generated/components/TestGenerationInterface.tsx
  apps/frontend/src/app/(protected)/tests/new-generated/components/shared/TestSampleCard.tsx
  apps/frontend/src/utils/api-client/interfaces/test-set.ts
  apps/frontend/src/utils/api-client/services-client.ts
  sdk/src/rhesis/sdk/synthesizers/base.py
  sdk/src/rhesis/sdk/synthesizers/multi_turn/base.py
  sdk/src/rhesis/sdk/synthesizers/streaming.py
  tests/backend/services/test_test_generation_pipeline.py
Due: sdk, backend, frontend-format, frontend-lint, hardcoded-styles

feat(frontend): add official MCP icon for nav and knowledge
  apps/frontend/src/app/(protected)/knowledge/components/KnowledgeClientWrapper.tsx
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/components/ModelContextProtocolIcon.tsx
  apps/frontend/src/components/icons.ts
  apps/frontend/src/components/layout/PageLayout.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

feat(frontend): rename API Tokens nav label to API
  apps/frontend/src/app/layout.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

style: fix ruff formatting in SDK synthesizer files
  sdk/src/rhesis/sdk/synthesizers/base.py
  sdk/src/rhesis/sdk/synthesizers/multi_turn/base.py
Due: sdk

fix: address PR review issues from peqy
  apps/backend/src/rhesis/backend/app/services/test_generation_pipeline.py
  apps/frontend/src/app/(protected)/tests/new-generated/components/TestGenerationInterface.tsx
  sdk/src/rhesis/sdk/synthesizers/streaming.py
  tests/backend/services/test_test_generation_pipeline.py
Due: sdk, backend, frontend-format, frontend-lint, hardcoded-styles

style: fix ruff formatting in services router
  apps/backend/src/rhesis/backend/app/routers/services.py
Due: backend

fix(frontend): use plural Test Sets in sidebar nav
  apps/frontend/src/app/layout.tsx
  apps/frontend/tests/e2e/tests/navigation.spec.ts
Due: frontend-format, frontend-lint, hardcoded-styles

style: fix prettier formatting in test generation UI
  apps/frontend/src/app/(protected)/tests/new-generated/components/TestGenerationFlow.tsx
  apps/frontend/src/app/(protected)/tests/new-generated/components/TestGenerationInterface.tsx
  apps/frontend/src/app/(protected)/tests/new-generated/components/shared/TestSampleCard.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix: resolve frontend lint failures
  apps/frontend/src/app/(protected)/models/page.tsx
  apps/frontend/src/app/(protected)/playground/components/PlaygroundChat.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestDetailOverviewTab.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestRunMainView.tsx
  apps/frontend/src/app/(protected)/test-sets/components/GarakImportDialog.tsx
  apps/frontend/src/app/(protected)/tests/new-generated/components/TestGenerationInterface.tsx
  apps/frontend/src/app/(protected)/tests/new-manual/components/ManualTestWriter.tsx
  apps/frontend/src/app/(protected)/traces/components/SpanGraphView.tsx
  apps/frontend/src/app/(protected)/traces/components/SpanSequenceView.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

Fix Penelope file attachment prompting (#1801)
  penelope/src/rhesis/penelope/agent.py
  penelope/src/rhesis/penelope/prompts/system/system_assembly_jinja.py
  penelope/src/rhesis/penelope/prompts/templates/system_prompt.j2
  penelope/src/rhesis/penelope/prompts/tools/tool_descriptions.py
  penelope/src/rhesis/penelope/schemas.py
  penelope/tests/test_file_prompting.py
Due: none

Stream test generation incrementally via NDJSON pipeline (#1802)
  apps/backend/src/rhesis/backend/app/routers/services.py
  apps/backend/src/rhesis/backend/app/schemas/services.py
  apps/backend/src/rhesis/backend/app/services/explorer/suggestions.py
  apps/backend/src/rhesis/backend/app/services/generation.py
  apps/backend/src/rhesis/backend/app/services/streaming_utils.py
  apps/backend/src/rhesis/backend/app/services/test_generation_pipeline.py
  apps/frontend/src/app/(protected)/models/page.tsx
  apps/frontend/src/app/(protected)/playground/components/PlaygroundChat.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestDetailOverviewTab.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestRunMainView.tsx
  apps/frontend/src/app/(protected)/test-sets/components/GarakImportDialog.tsx
  apps/frontend/src/app/(protected)/tests/new-generated/components/TestGenerationFlow.tsx
  apps/frontend/src/app/(protected)/tests/new-generated/components/TestGenerationInterface.tsx
  apps/frontend/src/app/(protected)/tests/new-generated/components/shared/TestSampleCard.tsx
  apps/frontend/src/app/(protected)/tests/new-manual/components/ManualTestWriter.tsx
  apps/frontend/src/app/(protected)/traces/components/SpanGraphView.tsx
  apps/frontend/src/app/(protected)/traces/components/SpanSequenceView.tsx
  apps/frontend/src/utils/api-client/interfaces/test-set.ts
  apps/frontend/src/utils/api-client/services-client.ts
  sdk/src/rhesis/sdk/synthesizers/base.py
  sdk/src/rhesis/sdk/synthesizers/multi_turn/base.py
  sdk/src/rhesis/sdk/synthesizers/streaming.py
  tests/backend/services/test_test_generation_pipeline.py
Due: sdk, backend, frontend-format, frontend-lint, hardcoded-styles

feat(frontend): split tag and badge components per Figma
  apps/frontend/src/app/(protected)/endpoints/[identifier]/components/EndpointOverviewTab.tsx
  apps/frontend/src/app/(protected)/endpoints/[identifier]/components/EndpointSummaryCard.tsx
  apps/frontend/src/app/(protected)/endpoints/components/EndpointsGrid.tsx
  apps/frontend/src/app/(protected)/explorer/components/ExplorerGrid.tsx
  apps/frontend/src/app/(protected)/organizations/team/components/TeamMembersGrid.tsx
  apps/frontend/src/app/(protected)/projects/[identifier]/client-components.tsx
  apps/frontend/src/app/(protected)/projects/[identifier]/components/ProjectTraceMetrics.tsx
  apps/frontend/src/app/(protected)/projects/components/ProjectContent.tsx
  apps/frontend/src/app/(protected)/tasks/components/TasksGrid.tsx
  apps/frontend/src/app/(protected)/test-runs/components/TestRunsGrid.tsx
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/TestSetDetailsCard.tsx
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/TestSetTagsMetricsCard.tsx
  apps/frontend/src/app/(protected)/test-sets/[identifier]/components/TestSetTestsGrid.tsx
  apps/frontend/src/app/(protected)/test-sets/components/TestSetsGrid.tsx
  apps/frontend/src/app/(protected)/tests/[identifier]/components/TestFormElementsCard.tsx
  apps/frontend/src/app/(protected)/tests/components/TestsGrid.tsx
  apps/frontend/src/app/(protected)/tokens/components/TokensGrid.tsx
  apps/frontend/src/app/(protected)/traces/components/SpanDetailsPanel.tsx
  apps/frontend/src/app/(protected)/traces/components/TracesTable.tsx
  apps/frontend/src/components/common/BadgeChip.tsx
  apps/frontend/src/components/common/BaseTag.tsx
  apps/frontend/src/components/common/EntityCard.tsx
  apps/frontend/src/components/common/GridBadge.tsx
  apps/frontend/src/components/common/Tag.tsx
  apps/frontend/src/components/common/TagsField.tsx
  apps/frontend/src/components/common/editableTagChipSx.ts
  apps/frontend/src/components/tests/LinkedTestSetsSection.tsx
  apps/frontend/src/styles/theme.ts
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): polish collapsed sidebar navigation
  apps/frontend/src/components/navigation/Sidebar.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): apply px units on grid badge font sizes
  apps/frontend/src/components/common/GridBadge.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

feat: add preflight checks for test execution
  apps/backend/src/rhesis/backend/app/routers/__init__.py
  apps/backend/src/rhesis/backend/app/routers/preflight.py
  apps/backend/src/rhesis/backend/app/schemas/preflight.py
  apps/backend/src/rhesis/backend/app/schemas/websocket.py
  apps/backend/src/rhesis/backend/app/services/preflight.py
  apps/backend/src/rhesis/backend/app/services/websocket/authorization.py
  apps/frontend/next.config.mjs
  apps/frontend/src/app/(protected)/architect/layout.tsx
  apps/frontend/src/app/(protected)/layout.tsx
  apps/frontend/src/app/(protected)/playground/layout.tsx
  apps/frontend/src/components/common/PreflightDialog.tsx
  apps/frontend/src/components/common/RunDrawer.tsx
  apps/frontend/src/utils/api-client/client-factory.ts
  apps/frontend/src/utils/api-client/preflight-client.ts
  apps/frontend/src/utils/websocket/types.ts
  sdk/src/rhesis/sdk/clients/api.py
  sdk/src/rhesis/sdk/entities/test_set.py
Due: sdk, backend, frontend-format, frontend-lint, hardcoded-styles

style(backend): format preflight files
  apps/backend/src/rhesis/backend/app/routers/preflight.py
  apps/backend/src/rhesis/backend/app/schemas/preflight.py
  apps/backend/src/rhesis/backend/app/services/preflight.py
Due: backend

chore: update ee frontend tsbuildinfo
  ee/frontend/tsconfig.tsbuildinfo
Due: none

fix: resolve empty behavior names in preflight coverage check
  apps/backend/src/rhesis/backend/app/services/preflight.py
Due: backend

fix: address review feedback on preflight feature
  apps/backend/src/rhesis/backend/app/services/preflight.py
  apps/frontend/src/components/common/PreflightDialog.tsx
Due: backend, frontend-format, frontend-lint, hardcoded-styles

style(backend): format preflight service
  apps/backend/src/rhesis/backend/app/services/preflight.py
Due: backend

style(frontend): format preflight dialog
  apps/frontend/src/components/common/PreflightDialog.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): resolve lint warnings
  apps/frontend/src/app/(protected)/endpoints/components/__tests__/EndpointFormAutoConfigure.test.tsx
  apps/frontend/src/app/(protected)/experiments/[identifier]/components/LatestResultsPanel.tsx
  apps/frontend/src/app/(protected)/models/page.tsx
  apps/frontend/src/app/(protected)/playground/components/PlaygroundChat.tsx
  apps/frontend/src/app/(protected)/projects/[identifier]/components/ProjectTraceMetrics.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestDetailOverviewTab.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestRunMainView.tsx
  apps/frontend/src/app/(protected)/test-sets/components/GarakImportDialog.tsx
  apps/frontend/src/app/(protected)/tests/new-generated/components/TestGenerationFlow.tsx
  apps/frontend/src/app/(protected)/tests/new-manual/components/ManualTestWriter.tsx
  apps/frontend/src/app/(protected)/traces/components/SpanGraphView.tsx
  apps/frontend/src/app/(protected)/traces/components/SpanSequenceView.tsx
  apps/frontend/src/components/auth/__tests__/AuthForm.test.tsx
  apps/frontend/src/components/comments/__tests__/CommentItem.test.tsx
  apps/frontend/src/components/common/MarkdownContent.tsx
  apps/frontend/src/components/common/MentionTextInput.tsx
  apps/frontend/src/components/common/PolyphemusAccessModal.tsx
  apps/frontend/src/components/common/__tests__/DragAndDropUpload.test.tsx
  apps/frontend/src/components/providers/__tests__/ThemeProvider.test.tsx
  apps/frontend/src/components/tasks/__tests__/TaskItem.test.tsx
  apps/frontend/src/components/tasks/__tests__/TasksWrapper.test.tsx
  apps/frontend/src/hooks/__tests__/useArchitectChat.test.ts
  apps/frontend/src/hooks/useArchitectChat.ts
  apps/frontend/src/hooks/useFileQueries.ts
  apps/frontend/src/utils/api-client/features-client.ts
  apps/frontend/src/utils/api-client/interfaces/parameters.ts
  apps/frontend/src/utils/api-client/interfaces/project.ts
  apps/frontend/src/utils/api-client/interfaces/tests.ts
  apps/frontend/src/utils/embedding/embeddingColorBy.ts
  apps/frontend/tests/e2e/tests/metrics-crud.spec.ts
Due: frontend-format, frontend-lint, hardcoded-styles

Add preflight checks for test execution (#1803)
  apps/backend/src/rhesis/backend/app/routers/__init__.py
  apps/backend/src/rhesis/backend/app/routers/preflight.py
  apps/backend/src/rhesis/backend/app/schemas/preflight.py
  apps/backend/src/rhesis/backend/app/schemas/websocket.py
  apps/backend/src/rhesis/backend/app/services/preflight.py
  apps/backend/src/rhesis/backend/app/services/websocket/authorization.py
  apps/frontend/next.config.mjs
  apps/frontend/src/app/(protected)/architect/layout.tsx
  apps/frontend/src/app/(protected)/endpoints/components/__tests__/EndpointFormAutoConfigure.test.tsx
  apps/frontend/src/app/(protected)/experiments/[identifier]/components/LatestResultsPanel.tsx
  apps/frontend/src/app/(protected)/layout.tsx
  apps/frontend/src/app/(protected)/playground/layout.tsx
  apps/frontend/src/app/(protected)/projects/[identifier]/components/ProjectTraceMetrics.tsx
  apps/frontend/src/components/auth/__tests__/AuthForm.test.tsx
  apps/frontend/src/components/comments/__tests__/CommentItem.test.tsx
  apps/frontend/src/components/common/MarkdownContent.tsx
  apps/frontend/src/components/common/MentionTextInput.tsx
  apps/frontend/src/components/common/PolyphemusAccessModal.tsx
  apps/frontend/src/components/common/PreflightDialog.tsx
  apps/frontend/src/components/common/RunDrawer.tsx
  apps/frontend/src/components/common/__tests__/DragAndDropUpload.test.tsx
  apps/frontend/src/components/providers/__tests__/ThemeProvider.test.tsx
  apps/frontend/src/components/tasks/__tests__/TaskItem.test.tsx
  apps/frontend/src/components/tasks/__tests__/TasksWrapper.test.tsx
  apps/frontend/src/hooks/__tests__/useArchitectChat.test.ts
  apps/frontend/src/hooks/useArchitectChat.ts
  apps/frontend/src/hooks/useFileQueries.ts
  apps/frontend/src/utils/api-client/client-factory.ts
  apps/frontend/src/utils/api-client/features-client.ts
  apps/frontend/src/utils/api-client/interfaces/parameters.ts
  apps/frontend/src/utils/api-client/interfaces/project.ts
  apps/frontend/src/utils/api-client/interfaces/tests.ts
  apps/frontend/src/utils/api-client/preflight-client.ts
  apps/frontend/src/utils/embedding/embeddingColorBy.ts
  apps/frontend/src/utils/websocket/types.ts
  apps/frontend/tests/e2e/tests/metrics-crud.spec.ts
  ee/frontend/tsconfig.tsbuildinfo
  sdk/src/rhesis/sdk/clients/api.py
  sdk/src/rhesis/sdk/entities/test_set.py
Due: sdk, backend, frontend-format, frontend-lint, hardcoded-styles

fix: address review findings from PR style and correctness checks
  apps/backend/src/rhesis/backend/app/crud.py
  apps/frontend/src/app/(protected)/experiments/[identifier]/components/VersionHistory.tsx
  apps/frontend/src/components/common/PreflightDialog.tsx
Due: backend, frontend-format, frontend-lint, hardcoded-styles

fix: pass dummy conversation history in preflight metric dry-run
  apps/backend/src/rhesis/backend/app/services/preflight.py
Due: backend

style: format preflight.py with ruff
  apps/backend/src/rhesis/backend/app/services/preflight.py
Due: backend

feat: add metric-endpoint compatibility preflight check
  apps/backend/src/rhesis/backend/app/services/preflight.py
Due: backend

Path conditions:
  sdk: any of: ^sdk/
  backend: any of: ^apps/backend/
  frontend-format: any of: ^apps/frontend/
  frontend-lint: any of: ^apps/frontend/
  docs-format: any of: ^apps/documentation/
  hardcoded-styles: any of: ^apps/(frontend|documentation)/
