Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, docs-format, hardcoded-styles

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict

  - repo: local
    hooks:
        - id: trufflehog
          name: TruffleHog
          description: Detect secrets in your data.
          entry: bash -c 'trufflehog git file://. --since-commit HEAD --results=verified,unknown --fail'
          language: system
          stages: ["pre-commit", "pre-push"]

        - id: sdk
          name  : format sdk
          language: system
          entry: make -C sdk format
          files: ^sdk/
          pass_filenames: false

        - id: backend
          name  : format backend
          language: system
          entry: make -C apps/backend format_diff
          files: ^apps/backend/
          pass_filenames: false

        - id: frontend-format
          name: auto-fix frontend formatting
          language: system
          entry: bash -c "cd apps/frontend && npm run format"
          files: ^apps/frontend/
          pass_filenames: false

        - id: frontend-lint
          name: lint frontend
          language: system
          entry: bash -c "cd apps/frontend && npm run lint"
          files: ^apps/frontend/
          pass_filenames: false

        - id: docs-format
          name: auto-fix docs formatting
          language: system
          entry: bash -c "cd apps/documentation && npm run format"
          files: ^apps/documentation/
          pass_filenames: false

        - id: hardcoded-styles
          name: check hardcoded styles in frontend and docs
          language: system
          entry: node scripts/check-hardcoded-styles.js
          files: ^apps/(frontend|documentation)/
          pass_filenames: false


  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.8.0
  #   hooks:
  #     - id: mypy
  #       additional_dependencies: [
  #         "types-requests",
  #         "pandas-stubs",
  #         "pyarrow-stubs",
  #         "types-tqdm"
  #       ]

Fixing test task execution
  tests/backend/metrics/test_task_execution.py
Due: none

feat(frontend): add test execution support to API client
  apps/frontend/src/utils/api-client/interfaces/tests.ts
  apps/frontend/src/utils/api-client/tests-client.ts
Due: frontend-format, frontend-lint, hardcoded-styles

Add in-place test execution without worker infrastructure (#904)
  apps/backend/src/rhesis/backend/app/routers/test.py
  apps/backend/src/rhesis/backend/app/schemas/__init__.py
  apps/backend/src/rhesis/backend/app/schemas/test.py
  apps/backend/src/rhesis/backend/app/schemas/test_set.py
  apps/backend/src/rhesis/backend/app/services/test_execution.py
  apps/backend/src/rhesis/backend/tasks/execution/executors/__init__.py
  apps/backend/src/rhesis/backend/tasks/execution/executors/data.py
  apps/backend/src/rhesis/backend/tasks/execution/executors/factory.py
  apps/backend/src/rhesis/backend/tasks/execution/executors/metrics.py
  apps/backend/src/rhesis/backend/tasks/execution/executors/multi_turn.py
  apps/backend/src/rhesis/backend/tasks/execution/executors/results.py
  apps/backend/src/rhesis/backend/tasks/execution/executors/runners.py
  apps/backend/src/rhesis/backend/tasks/execution/executors/shared.py
  apps/backend/src/rhesis/backend/tasks/execution/executors/single_turn.py
  apps/backend/src/rhesis/backend/tasks/execution/test_execution.py
  apps/frontend/package-lock.json
  apps/frontend/src/utils/api-client/interfaces/tests.ts
  apps/frontend/src/utils/api-client/tests-client.ts
  docs/content/development/worker/test-execution.mdx
  tests/backend/metrics/test_task_execution.py
  tests/backend/services/test_test_execution.py
  tests/backend/tasks/test_validation.py
Due: backend, frontend-format, frontend-lint, hardcoded-styles

Add error logging to service endpoints
  apps/backend/src/rhesis/backend/app/routers/services.py
Due: backend

Refactor: Improve error messages for AI service calls
  apps/backend/src/rhesis/backend/app/routers/services.py
Due: backend

Refactor: Format error handling in service endpoints for improved readability
  apps/backend/src/rhesis/backend/app/routers/services.py
Due: backend

feat(connector): add bidirectional connector with observability
  apps/backend/src/rhesis/backend/app/main.py
  apps/backend/src/rhesis/backend/app/routers/__init__.py
  apps/backend/src/rhesis/backend/app/routers/connector.py
  apps/backend/src/rhesis/backend/app/schemas/connector.py
  apps/backend/src/rhesis/backend/app/services/connector/__init__.py
  apps/backend/src/rhesis/backend/app/services/connector/manager.py
  apps/backend/src/rhesis/backend/app/services/connector/schemas.py
  apps/chatbot/endpoint.py
  apps/chatbot/uv.lock
  sdk/pyproject.toml
  sdk/src/rhesis/sdk/__init__.py
  sdk/src/rhesis/sdk/client.py
  sdk/src/rhesis/sdk/connector/__init__.py
  sdk/src/rhesis/sdk/connector/connection.py
  sdk/src/rhesis/sdk/connector/manager.py
  sdk/src/rhesis/sdk/connector/schemas.py
  sdk/src/rhesis/sdk/connector/types.py
  sdk/src/rhesis/sdk/decorators.py
  tests/backend/services/test_test_execution.py
Due: sdk, backend

style(connector): fix formatting and whitespace
  apps/backend/src/rhesis/backend/app/main.py
  apps/backend/src/rhesis/backend/app/routers/connector.py
Due: backend

refactor(connector): implement component-based architecture
  sdk/src/rhesis/sdk/connector/connection.py
  sdk/src/rhesis/sdk/connector/executor.py
  sdk/src/rhesis/sdk/connector/manager.py
  sdk/src/rhesis/sdk/connector/registry.py
  sdk/src/rhesis/sdk/connector/tracer.py
  sdk/src/rhesis/sdk/decorators.py
Due: sdk

refactor(auth): centralize websocket authentication mechanism
  apps/backend/src/rhesis/backend/app/auth/user_utils.py
  apps/backend/src/rhesis/backend/app/routers/connector.py
Due: backend

docs: update endpoint configuration documentation and add SDK connector tests
  docs/content/development/frontend/endpoint-configuration.mdx
  tests/sdk/connector/__init__.py
  tests/sdk/connector/conftest.py
  tests/sdk/connector/test_executor.py
  tests/sdk/connector/test_manager.py
  tests/sdk/connector/test_registry.py
  tests/sdk/connector/test_tracer.py
Due: none

feat: set Active status for SDK endpoints on creation and update
  apps/backend/src/rhesis/backend/app/services/endpoint.py
Due: backend

debug: add detailed logging for SDK endpoint sync and inactive marking
  apps/backend/src/rhesis/backend/app/services/endpoint.py
Due: backend

fix: pass user_id to get_or_create_status to prevent foreign key violation
  apps/backend/src/rhesis/backend/app/services/endpoint.py
  apps/backend/src/rhesis/backend/app/utils/status.py
Due: backend

fix: trigger SDK registration on every WebSocket connection/reconnection
  apps/chatbot/endpoint.py
  sdk/src/rhesis/sdk/connector/connection.py
  sdk/src/rhesis/sdk/connector/manager.py
Due: sdk

test: add comprehensive SDK endpoint sync tests
  tests/backend/services/test_endpoint_service.py
Due: none

feat(sdk): add intelligent mapping system for SDK endpoints
  apps/backend/src/rhesis/backend/app/services/connector/mapping/README.md
  apps/backend/src/rhesis/backend/app/services/connector/mapping/__init__.py
  apps/backend/src/rhesis/backend/app/services/connector/mapping/auto_mapper.py
  apps/backend/src/rhesis/backend/app/services/connector/mapping/llm_mapper.py
  apps/backend/src/rhesis/backend/app/services/connector/mapping/mapper_service.py
  apps/backend/src/rhesis/backend/app/services/connector/mapping/mapping_generation.jinja
  apps/backend/src/rhesis/backend/app/services/connector/mapping/patterns.py
  apps/backend/src/rhesis/backend/app/services/connector/mapping/validator.py
  tests/backend/services/connector/mapping/__init__.py
  tests/backend/services/connector/mapping/conftest.py
  tests/backend/services/connector/mapping/test_auto_mapper.py
  tests/backend/services/connector/mapping/test_edge_cases.py
  tests/backend/services/connector/mapping/test_mapper_service.py
  tests/backend/services/connector/mapping/test_patterns.py
Due: backend

feat(sdk): enhance @collaborate decorator with manual mapping params
  sdk/src/rhesis/sdk/decorators.py
Due: sdk

refactor(endpoint): rename sync_sdk_function_endpoints to sync_sdk_endpoints
  apps/backend/src/rhesis/backend/app/services/connector/handler.py
  tests/backend/services/connector/test_handler.py
Due: backend

refactor(endpoint): modularize endpoint service into focused components
  apps/backend/src/rhesis/backend/app/services/endpoint.py
  apps/backend/src/rhesis/backend/app/services/endpoint/__init__.py
  apps/backend/src/rhesis/backend/app/services/endpoint/cli.py
  apps/backend/src/rhesis/backend/app/services/endpoint/mapper.py
  apps/backend/src/rhesis/backend/app/services/endpoint/sdk_sync.py
  apps/backend/src/rhesis/backend/app/services/endpoint/service.py
  apps/backend/src/rhesis/backend/app/services/endpoint/validation.py
  tests/backend/services/test_endpoint_service.py
Due: backend

feat(invokers): add SDK invoker with async result awaiting
  apps/backend/src/rhesis/backend/app/routers/endpoint.py
  apps/backend/src/rhesis/backend/app/services/connector/manager.py
  apps/backend/src/rhesis/backend/app/services/endpoint/__init__.py
  apps/backend/src/rhesis/backend/app/services/endpoint/service.py
  apps/backend/src/rhesis/backend/app/services/invokers/__init__.py
  apps/backend/src/rhesis/backend/app/services/invokers/base.py
  apps/backend/src/rhesis/backend/app/services/invokers/rest_invoker.py
  apps/backend/src/rhesis/backend/app/services/invokers/sdk_invoker.py
  apps/backend/src/rhesis/backend/app/services/invokers/websocket_invoker.py
Due: backend

test(sdk): add comprehensive SDK mapping test functions
  apps/chatbot/endpoint.py
Due: none

fix(mapper): use correct field name request_mapping instead of request_template
  apps/backend/src/rhesis/backend/app/services/endpoint/mapper.py
Due: backend

fix(mapping): separate request and response field handling
  apps/backend/src/rhesis/backend/app/routers/endpoint.py
  apps/backend/src/rhesis/backend/app/services/connector/handler.py
  apps/backend/src/rhesis/backend/app/services/connector/mapping/auto_mapper.py
  apps/backend/src/rhesis/backend/app/services/connector/mapping/patterns.py
  apps/backend/src/rhesis/backend/app/services/endpoint/__init__.py
  apps/backend/src/rhesis/backend/app/services/endpoint/sdk_sync.py
  apps/backend/src/rhesis/backend/app/services/endpoint/service.py
  apps/backend/src/rhesis/backend/app/services/endpoint/validation.py
  apps/backend/src/rhesis/backend/app/services/invokers/sdk_invoker.py
Due: backend

docs(sdk): clarify request/response field separation in @collaborate
  apps/chatbot/endpoint.py
  sdk/src/rhesis/sdk/decorators.py
Due: sdk

fix(sdk-invoker): extract function_name from nested sdk_connection metadata
  apps/backend/src/rhesis/backend/app/services/invokers/sdk_invoker.py
Due: backend

test(sdk): comprehensive SDK endpoint testing with 21 test scenarios
  COMPREHENSIVE_SDK_TEST_ANALYSIS.md
  sdk_comprehensive_test_results.json
  sdk_test_analysis.md
  sdk_test_results.json
  test_all_sdk_endpoints.sh
  test_sdk_endpoints.sh
Due: none

fix(sdk): fix LLM fallback, partial SDK mappings, and complex type preservation
  apps/backend/src/rhesis/backend/app/services/connector/mapping/llm_mapper.py
  apps/backend/src/rhesis/backend/app/services/connector/mapping/mapper_service.py
  apps/backend/src/rhesis/backend/app/services/invokers/templating/renderer.py
Due: backend

fix(sdk): handle string provider name in LLM mapper
  apps/backend/src/rhesis/backend/app/services/connector/mapping/llm_mapper.py
Due: backend

fix(sdk): filter system fields from SDK function inputs
  apps/backend/src/rhesis/backend/app/services/invokers/conversation/tracker.py
Due: backend

fix(sdk): add sdk_manual_partial to allowed MappingResult sources
  apps/backend/src/rhesis/backend/app/services/connector/mapping/mapper_service.py
Due: backend

fix(sdk): correct LLM prompt - context/metadata/tool_calls are response fields
  apps/backend/src/rhesis/backend/app/services/connector/mapping/mapping_generation.jinja
Due: backend

chore: remove test results JSON from tracking
  .gitignore
  sdk_comprehensive_test_results.json
Due: none

chore: remove test analysis markdown from tracking
  .gitignore
  COMPREHENSIVE_SDK_TEST_ANALYSIS.md
Due: none

refactor(mapping): add MappingSource enum with comprehensive documentation
  apps/backend/src/rhesis/backend/app/services/connector/mapping/mapper_service.py
Due: backend

refactor(mapping): improve MappingSource enum naming clarity
  apps/backend/src/rhesis/backend/app/services/connector/mapping/mapper_service.py
Due: backend

chore: remove sdk_test_analysis.md from tracking
  .gitignore
  sdk_test_analysis.md
Due: none
