Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, docs-format, hardcoded-styles

sdk:
  name: format sdk
  language: system
  entry: make -C sdk format
  pass_filenames: false

backend:
  name: format backend
  language: system
  entry: make -C apps/backend format_diff
  pass_filenames: false

frontend-format:
  name: auto-fix frontend formatting
  language: system
  entry: bash -c "cd apps/frontend && npm run format"
  pass_filenames: false

frontend-lint:
  name: lint frontend
  language: system
  entry: bash -c "cd apps/frontend && npm run lint"
  pass_filenames: false

docs-format:
  name: auto-fix docs formatting
  language: system
  entry: bash -c "cd apps/documentation && npm run format"
  pass_filenames: false

hardcoded-styles:
  name: check hardcoded styles in frontend and docs
  language: system
  entry: node scripts/check-hardcoded-styles.js
  pass_filenames: false

Remove services/mcp package in favor of agents/mcp (#1841)
  apps/backend/src/rhesis/backend/app/services/mcp/config.py
  apps/backend/src/rhesis/backend/app/services/mcp/exceptions.py
  sdk/src/rhesis/sdk/services/__init__.py
  sdk/src/rhesis/sdk/services/mcp/__init__.py
  sdk/src/rhesis/sdk/services/mcp/agent.py
  sdk/src/rhesis/sdk/services/mcp/client.py
  sdk/src/rhesis/sdk/services/mcp/exceptions.py
  sdk/src/rhesis/sdk/services/mcp/executor.py
  sdk/src/rhesis/sdk/services/mcp/prompt_templates/iteration_prompt.j2
  sdk/src/rhesis/sdk/services/mcp/prompt_templates/system_prompt.j2
  sdk/src/rhesis/sdk/services/mcp/provider_templates/confluence.json.j2
  sdk/src/rhesis/sdk/services/mcp/provider_templates/github.json.j2
  sdk/src/rhesis/sdk/services/mcp/provider_templates/jira.json.j2
  sdk/src/rhesis/sdk/services/mcp/provider_templates/notion.json.j2
  sdk/src/rhesis/sdk/services/mcp/schemas.py
  tests/backend/services/test_mcp_service.py
  tests/sdk/agents/mcp/__init__.py
  tests/sdk/agents/mcp/test_agent.py
  tests/sdk/agents/mcp/test_client.py
  tests/sdk/agents/mcp/test_exceptions.py
  tests/sdk/agents/mcp/test_executor.py
  tests/sdk/agents/mcp/test_schemas.py
Due: sdk, backend

refactor(frontend): replace /endpoints/new page with a create drawer
  apps/frontend/src/app/(protected)/endpoints/components/EndpointCreateDrawer.tsx
  apps/frontend/src/app/(protected)/endpoints/new/page.tsx
  apps/frontend/src/app/(protected)/endpoints/page.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

feat(connector): introduce EndpointContext for typed tenant injection
  apps/backend/src/rhesis/backend/app/routers/architect.py
  apps/backend/src/rhesis/backend/app/routers/connector.py
  apps/backend/src/rhesis/backend/app/routers/services.py
  apps/backend/src/rhesis/backend/app/services/architect/runner.py
  apps/backend/src/rhesis/backend/app/services/connector/manager.py
  apps/backend/src/rhesis/backend/app/services/endpoint/validation.py
  apps/backend/src/rhesis/backend/app/services/mcp/operations.py
  apps/backend/src/rhesis/backend/tasks/architect.py
  sdk/src/rhesis/sdk/__init__.py
  sdk/src/rhesis/sdk/connector/executor.py
  sdk/src/rhesis/sdk/connector/manager.py
  sdk/src/rhesis/sdk/context.py
  sdk/src/rhesis/sdk/decorators/endpoint.py
  tests/backend/routes/test_connector.py
  tests/backend/services/test_mcp_service.py
  tests/sdk/connector/test_executor_context.py
Due: sdk, backend

fix(sso): update development environment checks in http_client.py
  ee/backend/src/rhesis/backend/ee/sso/http_client.py
Due: none

style(sdk): apply ruff formatting to connector and endpoint modules
  sdk/src/rhesis/sdk/connector/executor.py
  sdk/src/rhesis/sdk/connector/manager.py
  sdk/src/rhesis/sdk/decorators/endpoint.py
Due: sdk

fix(connector): address PR review - bind before send, clear stale entries, local-only trigger check, extract_mcp tool_id mapping
  apps/backend/src/rhesis/backend/app/routers/connector.py
  apps/backend/src/rhesis/backend/app/services/connector/manager.py
  apps/backend/src/rhesis/backend/app/services/mcp/operations.py
  tests/backend/routes/test_connector.py
Due: backend

fix(endpoint): preserve user-customized request mapping fields on SDK re-registration
  apps/backend/src/rhesis/backend/app/services/connector/mapping/mapper_service.py
  apps/backend/src/rhesis/backend/app/services/endpoint/mapper.py
Due: backend

refactor(endpoint): use template syntax to detect user-bound fields, drop sdk_decorator_mapping
  apps/backend/src/rhesis/backend/app/services/connector/mapping/mapper_service.py
  apps/backend/src/rhesis/backend/app/services/endpoint/mapper.py
Due: backend

fix(terraform): source wireguard IP dynamically and align prd with stg
  terraform/infrastructure/cidrs.tf
  terraform/infrastructure/envs/prd/main.tf
  terraform/infrastructure/envs/prd/variables.tf
  terraform/infrastructure/envs/stg/main.tf
  terraform/infrastructure/envs/stg/variables.tf
  terraform/infrastructure/modules/wireguard/gcp/firewall.tf
Due: none

update dev values for the addition of the app user
  charts/rhesis/values-dev.yaml
Due: none

remove analytics db url
  kubernetes/clusters/dev/external-secrets/rhesis-app-secrets.yaml
Due: none

fix(routers): add missing response_model to single-item GET endpoints
  apps/backend/src/rhesis/backend/app/routers/behavior.py
  apps/backend/src/rhesis/backend/app/routers/category.py
  apps/backend/src/rhesis/backend/app/routers/comment.py
  apps/backend/src/rhesis/backend/app/routers/project.py
  apps/backend/src/rhesis/backend/app/routers/status.py
  apps/backend/src/rhesis/backend/app/routers/tag.py
  apps/backend/src/rhesis/backend/app/routers/topic.py
  apps/backend/src/rhesis/backend/app/routers/type_lookup.py
  apps/backend/src/rhesis/backend/app/routers/use_case.py
Due: backend

fix(settings): add env_file and extra=ignore to DatabaseSettings
  apps/backend/src/rhesis/backend/app/config/settings.py
Due: backend

fix(backend): map legacy SQLALCHEMY_DB_* env vars in start.sh, revert env_file in settings
  apps/backend/src/rhesis/backend/app/config/settings.py
  apps/backend/start.sh
Due: backend

increase frontend cpu to improve the performance
  charts/rhesis/values-dev.yaml
Due: none

update resource distribution for dev
  charts/rhesis/values-dev.yaml
Due: none

Unify environment detection onto BACKEND_ENV (#1843)
  apps/backend/src/rhesis/backend/app/auth/url_utils.py
  apps/backend/src/rhesis/backend/app/config/settings.py
  apps/backend/src/rhesis/backend/app/routers/auth.py
  apps/backend/src/rhesis/backend/app/utils/git_utils.py
  apps/backend/src/rhesis/backend/logging/logging_config.py
  ee/backend/src/rhesis/backend/ee/__init__.py
  ee/backend/src/rhesis/backend/ee/api_clients/audit.py
  ee/backend/src/rhesis/backend/ee/sso/http_client.py
  tests/backend/app/test_settings.py
  tests/backend/auth/test_url_utils.py
  tests/backend/ee/sso/test_sso_config_schema.py
  tests/backend/ee/sso/test_sso_http_client.py
  tests/backend/ee/sso/test_sso_router.py
  tests/backend/routes/test_auth.py
Due: backend

update resource distribution for backend and worker
  charts/rhesis/templates/worker/deployment.yaml
  charts/rhesis/values-dev.yaml
Due: none

refactor(connector): remove local backend execution and introduce EndpointContext (#1844)
  apps/backend/src/rhesis/backend/app/main.py
  apps/backend/src/rhesis/backend/app/routers/architect.py
  apps/backend/src/rhesis/backend/app/routers/behavior.py
  apps/backend/src/rhesis/backend/app/routers/category.py
  apps/backend/src/rhesis/backend/app/routers/comment.py
  apps/backend/src/rhesis/backend/app/routers/connector.py
  apps/backend/src/rhesis/backend/app/routers/project.py
  apps/backend/src/rhesis/backend/app/routers/services.py
  apps/backend/src/rhesis/backend/app/routers/status.py
  apps/backend/src/rhesis/backend/app/routers/tag.py
  apps/backend/src/rhesis/backend/app/routers/topic.py
  apps/backend/src/rhesis/backend/app/routers/type_lookup.py
  apps/backend/src/rhesis/backend/app/routers/use_case.py
  apps/backend/src/rhesis/backend/app/services/architect/runner.py
  apps/backend/src/rhesis/backend/app/services/connector/manager.py
  apps/backend/src/rhesis/backend/app/services/connector/mapping/mapper_service.py
  apps/backend/src/rhesis/backend/app/services/endpoint/validation.py
  apps/backend/src/rhesis/backend/app/services/invokers/sdk_invoker.py
  apps/backend/src/rhesis/backend/app/services/local_function_registry.py
  apps/backend/src/rhesis/backend/app/services/mcp/__init__.py
  apps/backend/src/rhesis/backend/app/services/mcp/operations.py
  apps/backend/src/rhesis/backend/app/services/telemetry/local_invocation.py
  apps/backend/src/rhesis/backend/tasks/architect.py
  apps/backend/start.sh
  sdk/src/rhesis/sdk/__init__.py
  sdk/src/rhesis/sdk/connector/executor.py
  sdk/src/rhesis/sdk/connector/manager.py
  sdk/src/rhesis/sdk/context.py
  sdk/src/rhesis/sdk/decorators/endpoint.py
  tests/backend/routes/test_connector.py
  tests/backend/services/invokers/test_sdk_invoker.py
  tests/backend/services/test_local_function_registry.py
  tests/backend/services/test_mcp_service.py
  tests/backend/tasks/test_architect_chat_task.py
  tests/sdk/connector/test_executor_context.py
Due: sdk, backend

upgrade vm from medium to standard
  charts/rhesis/values-dev.yaml
  terraform/infrastructure/envs/dev/main.tf
  terraform/infrastructure/main.tf
Due: none

fix(infra): fix BIND9 zone file $$ORIGIN rendering bug
  terraform/infrastructure/modules/wireguard/gcp/cloud-init.tf
  terraform/infrastructure/modules/wireguard/gcp/templates/rhesis.ai.zone.tpl
Due: none

added: ip address for the wireguard in the stg module
  terraform/infrastructure/cidrs.tf
  terraform/infrastructure/envs/stg/main.tf
Due: none

fix(infra): upgrade wireguard VM to e2-standard-4 for 3+ NICs
  terraform/infrastructure/envs/wireguard/main.tf
Due: none

fix(k8s): reduce CPU/memory requests for dev to fit 6-node cluster
  charts/rhesis/values-dev.yaml
Due: none

fix: gcloud sdk crash
  .github/workflows/terraform-infrastructure.yml
Due: none

fix(infra): fix node-local-dns patcher sed bug using Python prepend
  kubernetes/clusters/dev/cluster-dns/patch-job.yaml
  kubernetes/clusters/stg/cluster-dns/patch-job.yaml
Due: none

fix(k8s): correct BIND9 IP from .200 to .10 for dev/stg internal-dns
  kubernetes/clusters/dev/cluster-dns/kube-dns.yaml
  kubernetes/clusters/dev/cluster-dns/patch-job.yaml
  kubernetes/clusters/dev/internal-dns/kustomization.yaml
  kubernetes/clusters/dev/kustomization.yaml
  kubernetes/clusters/stg/cluster-dns/kube-dns.yaml
  kubernetes/clusters/stg/cluster-dns/patch-job.yaml
  kubernetes/clusters/stg/internal-dns/kustomization.yaml
  kubernetes/clusters/stg/kustomization.yaml
Due: none

fix(infra): increase dev GKE max_node_count from 2 to 3 per zone
  terraform/infrastructure/envs/dev/main.tf
Due: none

fix: add ip to routhe table
  terraform/infrastructure/envs/wireguard/main.tf
  terraform/infrastructure/modules/wireguard/gcp/cloud-init.tf
  terraform/infrastructure/modules/wireguard/gcp/templates/wg0.conf.tpl
  terraform/infrastructure/modules/wireguard/gcp/variables.tf
Due: none

feat: add terraform infrastructure deployment workflow
  .github/workflows/terraform-infrastructure.yml
Due: none

wireguard nic ip reservation
  terraform/infrastructure/cidrs.tf
  terraform/infrastructure/envs/dev/main.tf
Due: none

added the deletion protection in the workflow, add firewall in the dev main
  .github/workflows/terraform-infrastructure.yml
  terraform/infrastructure/envs/dev/main.tf
  terraform/infrastructure/envs/wireguard/main.tf
  terraform/infrastructure/modules/wireguard/gcp/firewall.tf
  terraform/infrastructure/modules/wireguard/gcp/variables.tf
Due: none

fix(infra): remove stg shared vpc service project link
  terraform/infrastructure/envs/stg/main.tf
Due: none

fix: bucket creation for database backeup in stg and prod
  terraform/infrastructure/envs/prd/main.tf
  terraform/infrastructure/envs/prd/variables.tf
  terraform/infrastructure/envs/stg/main.tf
  terraform/infrastructure/envs/stg/variables.tf
Due: none

revert the codeowner file
  .github/CODEOWNERS
Due: none

added workflow for terraform deployment
  .github/workflows/terraform-infrastructure.yml
Due: none

fix(infra): add Shared VPC + subnet IAM grants to stg for WireGuard cross-project NIC
  terraform/infrastructure/envs/stg/main.tf
Due: none

Path conditions:
  sdk: any of: ^sdk/
  backend: any of: ^apps/backend/
  frontend-format: any of: ^apps/frontend/
  frontend-lint: any of: ^apps/frontend/
  docs-format: any of: ^apps/documentation/
  hardcoded-styles: any of: ^apps/(frontend|documentation)/
