Repository rhesis-ai/rhesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk, backend, frontend-format, frontend-lint, docs-format, hardcoded-styles

sdk:
  name: format sdk
  language: system
  entry: make -C sdk format
  pass_filenames: false

backend:
  name: format backend
  language: system
  entry: make -C apps/backend format_diff
  pass_filenames: false

frontend-format:
  name: auto-fix frontend formatting
  language: system
  entry: bash -c "cd apps/frontend && npm run format"
  pass_filenames: false

frontend-lint:
  name: lint frontend
  language: system
  entry: bash -c "cd apps/frontend && npm run lint"
  pass_filenames: false

docs-format:
  name: auto-fix docs formatting
  language: system
  entry: bash -c "cd apps/documentation && npm run format"
  pass_filenames: false

hardcoded-styles:
  name: check hardcoded styles in frontend and docs
  language: system
  entry: node scripts/check-hardcoded-styles.js
  pass_filenames: false

Add Pydantic AI integration (auto-instrumentation + Penelope target) (#2057)
  examples/telemetry/pydantic_ai_example.py
  penelope/examples/pydantic_ai_minimal.py
  penelope/pyproject.toml
  penelope/src/rhesis/penelope/__init__.py
  penelope/src/rhesis/penelope/_file_compat.py
  penelope/src/rhesis/penelope/targets/__init__.py
  penelope/src/rhesis/penelope/targets/_content_blocks.py
  penelope/src/rhesis/penelope/targets/langchain.py
  penelope/src/rhesis/penelope/targets/langgraph.py
  penelope/src/rhesis/penelope/targets/pydantic_ai.py
  penelope/uv.lock
  sdk/pyproject.toml
  sdk/src/rhesis/sdk/telemetry/attributes.py
  sdk/src/rhesis/sdk/telemetry/integrations/__init__.py
  sdk/src/rhesis/sdk/telemetry/integrations/langchain/extractors.py
  sdk/src/rhesis/sdk/telemetry/integrations/pydantic_ai.py
  sdk/uv.lock
  tests/penelope/targets/test_content_blocks.py
  tests/penelope/targets/test_langchain.py
  tests/penelope/targets/test_langgraph.py
  tests/penelope/targets/test_optional_imports.py
  tests/penelope/targets/test_pydantic_ai.py
  tests/penelope/test_file_compat.py
  tests/sdk/telemetry/integrations/test_pydantic_ai_integration.py
Due: sdk

chore: remove dead Auth0 code and legacy rollback path
  .env.example
  apps/backend/src/rhesis/backend/app/auth/oauth.py
  apps/backend/src/rhesis/backend/app/auth/public_routes.py
  apps/backend/src/rhesis/backend/app/auth/user_utils.py
  apps/backend/src/rhesis/backend/app/crud.py
  apps/backend/src/rhesis/backend/app/models/user.py
  apps/backend/src/rhesis/backend/app/routers/auth.py
  apps/backend/src/rhesis/backend/app/routers/home.py
  apps/frontend/src/app/demo/page.tsx
  apps/frontend/src/components/auth/Auth0Lock.tsx
  charts/rhesis/templates/configmap.yaml
  charts/rhesis/values-dev.yaml
  charts/rhesis/values-prd.yaml
  charts/rhesis/values-stg.yaml
  charts/rhesis/values.yaml
  infrastructure/k8s/manifests/configmaps/rhesis-config.yaml.example
  infrastructure/k8s/manifests/secrets/rhesis-secrets.yaml.example
  tests/backend/auth/test_transaction_management.py
  tests/backend/conftest.py
  tests/backend/routes/endpoints.py
  tests/backend/routes/test_auth.py
  tests/backend/routes/test_home.py
  tests/backend/utils/test_user_utils.py
Due: backend, frontend-format, frontend-lint, hardcoded-styles

Add execution history tab on test detail page (#2099)
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestDetailHistoryTab.tsx
  apps/frontend/src/app/(protected)/tests/[identifier]/components/TestDetailTabs.tsx
  apps/frontend/src/components/tests/TestExecutionHistorySection.tsx
  apps/frontend/src/components/tests/TestExecutionHistoryTable.tsx
  apps/frontend/src/components/tests/__tests__/test-execution-history.test.ts
  apps/frontend/src/components/tests/test-execution-history.ts
  apps/frontend/src/components/tests/useTestExecutionHistory.ts
  apps/frontend/tests/e2e/tests/tokens.spec.ts
Due: frontend-format, frontend-lint, hardcoded-styles

Fix test set linked attributes stale after update_test (#2098)
  apps/backend/src/rhesis/backend/app/crud.py
  apps/backend/src/rhesis/backend/app/services/test_set.py
  tests/backend/crud/test_test_crud.py
Due: backend

fix(frontend): polish UI across explorer, traces, and grids
  apps/frontend/src/app/(protected)/endpoints/[identifier]/components/EndpointTestTab.tsx
  apps/frontend/src/app/(protected)/endpoints/components/MappingEditor.tsx
  apps/frontend/src/app/(protected)/endpoints/components/TabTest.tsx
  apps/frontend/src/app/(protected)/endpoints/components/__tests__/TabTest.test.tsx
  apps/frontend/src/app/(protected)/explorer/[identifier]/components/ExplorerDetail.tsx
  apps/frontend/src/app/(protected)/insights/utils/__tests__/behavior-insights-utils.test.ts
  apps/frontend/src/app/(protected)/insights/utils/behavior-insights-utils.ts
  apps/frontend/src/app/(protected)/playground/components/PlaygroundChat.tsx
  apps/frontend/src/app/(protected)/playground/components/PlaygroundClient.tsx
  apps/frontend/src/app/(protected)/playground/components/PlaygroundEndpointDrawer.tsx
  apps/frontend/src/app/(protected)/playground/components/PlaygroundEndpointSelect.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestRunDetailHeader.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestRunFilterBar.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestRunMainView.tsx
  apps/frontend/src/app/(protected)/test-sets/new-generated/components/TestGenerationInterface.tsx
  apps/frontend/src/app/(protected)/test-sets/new-generated/components/shared/EndpointSelector.tsx
  apps/frontend/src/app/(protected)/traces/components/ConversationTraceView.tsx
  apps/frontend/src/app/(protected)/traces/components/TestResultTab.tsx
  apps/frontend/src/components/common/BaseDataGrid.tsx
  apps/frontend/src/components/common/EndpointSelectField.tsx
  apps/frontend/src/components/common/EntityCard.tsx
  apps/frontend/src/components/common/PolyphemusAccessModal.tsx
  apps/frontend/src/components/common/SelectMetricsDialog.tsx
  apps/frontend/src/components/common/__tests__/BaseDataGrid.test.tsx
  apps/frontend/src/components/common/__tests__/EntityCard.test.tsx
  apps/frontend/src/components/common/__tests__/SelectMetricsDialog.test.tsx
  apps/frontend/src/utils/endpoint-options.ts
  apps/frontend/tests/e2e/pages/PlaygroundPage.ts
  docs/content/contribute/index.mdx
Due: frontend-format, frontend-lint, hardcoded-styles

fix: honor human reviews in metric performance stats
  apps/backend/src/rhesis/backend/app/schemas/stats.py
  apps/backend/src/rhesis/backend/app/services/stats/common.py
  apps/backend/src/rhesis/backend/app/services/stats/test_result.py
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestRunStatsTab.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/__tests__/test-run-summary-utils.test.ts
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/test-run-summary-utils.ts
  apps/frontend/src/app/(protected)/tokens/components/TokenDisplay.tsx
  apps/frontend/src/utils/api-client/interfaces/test-results.ts
  tests/backend/services/stats/test_effective_metric_success.py
Due: backend, frontend-format, frontend-lint, hardcoded-styles

fix: address PR review comments and CI failures
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestRunFilterBar.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestRunStatsTab.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/__tests__/test-run-summary-utils.test.ts
  apps/frontend/src/app/(protected)/test-sets/new-generated/components/shared/EndpointSelector.tsx
  apps/frontend/src/app/(protected)/traces/components/ConversationTraceView.tsx
  apps/frontend/src/components/common/BaseDataGrid.tsx
  apps/frontend/src/components/common/EndpointSelectField.tsx
  apps/frontend/src/components/common/EntityCard.tsx
  apps/frontend/src/components/common/PolyphemusAccessModal.tsx
  apps/frontend/src/components/common/__tests__/BaseDataGrid.test.tsx
  apps/frontend/src/components/common/__tests__/EntityCard.test.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

style(frontend): format EntityCard for prettier check
  apps/frontend/src/components/common/EntityCard.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix(frontend): polish tests grid and toolbars
  apps/frontend/src/app/(protected)/experiments/[identifier]/components/ExperimentVersionsGrid.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestResultDrawer.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestsTableView.tsx
  apps/frontend/src/app/(protected)/tests/components/TestSetSelectionDrawer.tsx
  apps/frontend/src/app/(protected)/tests/components/TestsGrid.tsx
  apps/frontend/src/app/(protected)/tests/components/__tests__/TestsGrid.test.tsx
  apps/frontend/src/app/(protected)/tests/page.tsx
  apps/frontend/src/components/common/AssignEntityDrawer.tsx
  apps/frontend/src/components/common/BaseDataGrid.tsx
  apps/frontend/src/components/common/GridToolbar.tsx
  apps/frontend/src/components/common/PolyphemusAccessModal.tsx
  apps/frontend/src/styles/theme.ts
  apps/frontend/src/utils/api-client/__tests__/base-client.test.ts
  apps/frontend/src/utils/api-client/base-client.ts
Due: frontend-format, frontend-lint, hardcoded-styles

style(frontend): format files for prettier check
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestsTableView.tsx
  apps/frontend/src/app/(protected)/tests/components/TestSetSelectionDrawer.tsx
  apps/frontend/src/app/(protected)/tests/components/TestsGrid.tsx
  apps/frontend/src/app/(protected)/tests/components/__tests__/TestsGrid.test.tsx
  apps/frontend/src/app/(protected)/tests/page.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

fix: address peqy review on grid sizing and metric stats
  apps/backend/src/rhesis/backend/app/services/stats/common.py
  apps/backend/src/rhesis/backend/app/services/stats/test_result.py
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/__tests__/test-run-summary-utils.test.ts
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/test-run-summary-utils.ts
  apps/frontend/src/app/(protected)/tests/components/TestsGrid.tsx
  apps/frontend/src/components/common/BaseDataGrid.tsx
  apps/frontend/src/components/common/__tests__/BaseDataGrid.test.tsx
  tests/backend/services/stats/test_effective_metric_success.py
  tests/backend/services/stats/test_metric_stats_aggregation.py
Due: backend, frontend-format, frontend-lint, hardcoded-styles

refactor(sdk): extract shared genai helpers from maf integration
  sdk/src/rhesis/sdk/telemetry/integrations/agent_framework/integration.py
  sdk/src/rhesis/sdk/telemetry/integrations/agent_framework/mapping.py
  sdk/src/rhesis/sdk/telemetry/integrations/agent_framework/translator.py
  sdk/src/rhesis/sdk/telemetry/integrations/genai.py
Due: sdk

feat(sdk): migrate pydantic ai to native instrumentation translator
  sdk/src/rhesis/sdk/telemetry/integrations/pydantic_ai.py
  sdk/src/rhesis/sdk/telemetry/integrations/pydantic_ai/__init__.py
  sdk/src/rhesis/sdk/telemetry/integrations/pydantic_ai/integration.py
  sdk/src/rhesis/sdk/telemetry/integrations/pydantic_ai/mapping.py
  sdk/src/rhesis/sdk/telemetry/integrations/pydantic_ai/translator.py
  tests/sdk/telemetry/integrations/test_pydantic_ai_integration.py
Due: sdk

docs(examples): update pydantic ai examples for native instrumentation
  examples/telemetry/README.md
  examples/telemetry/pydantic_ai_example.py
  examples/telemetry/pydantic_ai_multi_agent_example.py
Due: none

fix(frontend): gate role edit button, fix delete copy
  ee/frontend/src/rbac/components/RoleEditorDrawer.tsx
  ee/frontend/src/rbac/components/RolesTab.tsx
Due: none

style(frontend-ee): normalize TokenScopeField drawer field styling
  ee/frontend/src/rbac/components/TokenScopeField.tsx
Due: none

fix(frontend-ee): add empty-state fallbacks for SSO and API Clients tabs
  ee/frontend/src/api-clients/components/ApiClientsEmptyState.tsx
  ee/frontend/src/api-clients/register.tsx
  ee/frontend/src/sso/components/SSOEmptyState.tsx
  ee/frontend/src/sso/register.tsx
Due: none

test(frontend-ee): cover remaining RBAC components
  ee/frontend/src/rbac/components/__tests__/ProjectRoleChip.test.tsx
  ee/frontend/src/rbac/components/__tests__/RoleSelectField.test.tsx
  ee/frontend/src/rbac/components/__tests__/RoleSummary.test.tsx
  ee/frontend/src/rbac/components/__tests__/TokenScopeField.test.tsx
Due: none

fix(rbac): address peqy review comments on PR #2101
  ee/frontend/src/api-clients/components/ApiClientsEmptyState.tsx
  ee/frontend/src/sso/components/SSOEmptyState.tsx
  tests/backend/security/test_role_capability_matrix.py
Due: none

test(backend): fix metric stats stub return shape
  tests/backend/services/stats/test_metric_stats_aggregation.py
Due: none

chore: remove dead Auth0 code and legacy rollback path (#2102)
  .env.example
  apps/backend/src/rhesis/backend/app/auth/oauth.py
  apps/backend/src/rhesis/backend/app/auth/public_routes.py
  apps/backend/src/rhesis/backend/app/auth/user_utils.py
  apps/backend/src/rhesis/backend/app/crud.py
  apps/backend/src/rhesis/backend/app/models/user.py
  apps/backend/src/rhesis/backend/app/routers/auth.py
  apps/backend/src/rhesis/backend/app/routers/home.py
  apps/frontend/src/app/demo/page.tsx
  apps/frontend/src/components/auth/Auth0Lock.tsx
  charts/rhesis/templates/configmap.yaml
  charts/rhesis/values-dev.yaml
  charts/rhesis/values-prd.yaml
  charts/rhesis/values-stg.yaml
  charts/rhesis/values.yaml
  infrastructure/k8s/manifests/configmaps/rhesis-config.yaml.example
  infrastructure/k8s/manifests/secrets/rhesis-secrets.yaml.example
  tests/backend/auth/test_transaction_management.py
  tests/backend/conftest.py
  tests/backend/routes/endpoints.py
  tests/backend/routes/test_auth.py
  tests/backend/routes/test_home.py
  tests/backend/utils/test_user_utils.py
Due: backend, frontend-format, frontend-lint, hardcoded-styles

fix(sdk): harden dedup flag restore and fail closed on unwrapped exporters
  sdk/src/rhesis/sdk/telemetry/integrations/pydantic_ai/integration.py
  sdk/src/rhesis/sdk/telemetry/integrations/pydantic_ai/translator.py
  tests/sdk/telemetry/integrations/test_pydantic_ai_integration.py
Due: sdk

chore: centralize celery worker env defaults in rh
  rh
Due: none

chore: centralize celery worker env defaults in rh (#2105)
  rh
Due: none

style(frontend): fix prettier formatting on RBAC files
  apps/frontend/tests/e2e/fixtures/roles.json
  apps/frontend/tests/e2e/helpers/RbacMockHelper.ts
  apps/frontend/tests/e2e/tests/org-role-assignment.spec.ts
  apps/frontend/tests/e2e/tests/token-scope-field.spec.ts
  ee/frontend/src/api-clients/components/ApiClientsEmptyState.tsx
  ee/frontend/src/rbac/api/__tests__/rbac-client.test.ts
  ee/frontend/src/rbac/components/__tests__/OrgRoleChip.test.tsx
  ee/frontend/src/rbac/components/__tests__/PermissionGroupControl.test.tsx
  ee/frontend/src/rbac/components/__tests__/ProjectRoleChip.test.tsx
  ee/frontend/src/rbac/components/__tests__/RoleEditorDrawer.test.tsx
  ee/frontend/src/rbac/components/__tests__/RoleSelectField.test.tsx
  ee/frontend/src/rbac/components/__tests__/RoleSummary.test.tsx
  ee/frontend/src/rbac/components/__tests__/RolesTab.test.tsx
  ee/frontend/src/rbac/components/__tests__/TokenScopeField.test.tsx
  ee/frontend/src/sso/components/SSOEmptyState.tsx
Due: frontend-format, frontend-lint, hardcoded-styles

test(rbac): comprehensive test coverage + review follow-ups (#2101)
  CLAUDE.md
  apps/frontend/tests/e2e/fixtures/knowledge-detail.json
  apps/frontend/tests/e2e/fixtures/org-members.json
  apps/frontend/tests/e2e/fixtures/roles.json
  apps/frontend/tests/e2e/helpers/MockApiHelper.ts
  apps/frontend/tests/e2e/helpers/RbacMockHelper.ts
  apps/frontend/tests/e2e/mock-backend.mjs
  apps/frontend/tests/e2e/pages/OrgSettingsPage.ts
  apps/frontend/tests/e2e/pages/OrgTeamPage.ts
  apps/frontend/tests/e2e/pages/TokensPage.ts
  apps/frontend/tests/e2e/tests/mocked-states.spec.ts
  apps/frontend/tests/e2e/tests/org-role-assignment.spec.ts
  apps/frontend/tests/e2e/tests/roles-crud.spec.ts
  apps/frontend/tests/e2e/tests/roles-unlicensed.spec.ts
  apps/frontend/tests/e2e/tests/token-scope-field.spec.ts
  ee/frontend/src/api-clients/components/ApiClientsEmptyState.tsx
  ee/frontend/src/api-clients/register.tsx
  ee/frontend/src/rbac/__mocks__/_mocks.tsx
  ee/frontend/src/rbac/api/__tests__/rbac-client.test.ts
  ee/frontend/src/rbac/components/TokenScopeField.tsx
  ee/frontend/src/rbac/components/__tests__/OrgRoleChip.test.tsx
  ee/frontend/src/rbac/components/__tests__/PermissionGroupControl.test.tsx
  ee/frontend/src/rbac/components/__tests__/ProjectRoleChip.test.tsx
  ee/frontend/src/rbac/components/__tests__/RoleEditorDrawer.test.tsx
  ee/frontend/src/rbac/components/__tests__/RoleSelectField.test.tsx
  ee/frontend/src/rbac/components/__tests__/RoleSummary.test.tsx
  ee/frontend/src/rbac/components/__tests__/RolesTab.test.tsx
  ee/frontend/src/rbac/components/__tests__/TokenScopeField.test.tsx
  ee/frontend/src/sso/components/SSOEmptyState.tsx
  ee/frontend/src/sso/register.tsx
  ee/frontend/src/types/jest-dom.d.ts
  ee/frontend/tsconfig.json
  tests/backend/ee/rbac/_rbac_helpers.py
  tests/backend/ee/rbac/test_project_members_authz.py
  tests/backend/ee/rbac/test_role_soft_delete.py
  tests/backend/ee/rbac/test_sp8_access_control.py
  tests/backend/security/test_authz_http_enforcement.py
  tests/backend/security/test_role_capability_matrix.py
Due: frontend-format, frontend-lint, hardcoded-styles

fix(backend): self-heal empty capability catalog in matrix test
  tests/backend/security/test_role_capability_matrix.py
Due: none

fix(backend): self-heal empty capability catalog in matrix test (#2106)
  tests/backend/security/test_role_capability_matrix.py
Due: none

feat(ee): add signed-token license foundation
  apps/backend/src/rhesis/backend/alembic/versions/b4b371a45639_add_license_to_organization.py
  apps/backend/src/rhesis/backend/app/features/__init__.py
  apps/backend/src/rhesis/backend/app/models/organization.py
  apps/backend/src/rhesis/backend/app/routers/features.py
  ee/backend/src/rhesis/backend/ee/__init__.py
  ee/backend/src/rhesis/backend/ee/licensing/__init__.py
  ee/backend/src/rhesis/backend/ee/licensing/entitlements.py
  ee/backend/src/rhesis/backend/ee/licensing/keys.py
  ee/backend/src/rhesis/backend/ee/licensing/provider.py
  ee/backend/src/rhesis/backend/ee/licensing/public_keys/__init__.py
  ee/backend/src/rhesis/backend/ee/licensing/public_keys/rhesis-nonprod-v1.pem
  ee/backend/src/rhesis/backend/ee/licensing/public_keys/rhesis-prod-v1.pem
  ee/backend/src/rhesis/backend/ee/licensing/tiers.py
  ee/backend/src/rhesis/backend/ee/licensing/verify.py
  tests/backend/app/test_feature_registry.py
  tests/backend/ee/licensing/__init__.py
  tests/backend/ee/licensing/conftest.py
  tests/backend/ee/licensing/test_feature_gates.py
  tests/backend/ee/licensing/test_provider.py
  tests/backend/ee/licensing/test_tiers.py
  tests/backend/ee/licensing/test_verify.py
  tests/backend/routes/test_features.py
Due: backend

chore(ee): namespace license issuance secrets
  .github/workflows/license-issue.yml
  ee/backend/src/rhesis/backend/ee/licensing/cli.py
  ee/backend/src/rhesis/backend/ee/licensing/entitlements.py
  infrastructure/config/service-secrets-config.sh.example
Due: none

feat(ee): harden issuance and move workflow to rhesis-ee
  .github/workflows/license-issue.yml
  ee/backend/src/rhesis/backend/ee/licensing/cli.py
  ee/backend/src/rhesis/backend/ee/licensing/mint.py
  tests/backend/ee/licensing/test_mint.py
Due: none

feat(ee): add license issuance tooling
  .github/workflows/license-issue.yml
  ee/backend/src/rhesis/backend/ee/licensing/cli.py
  ee/backend/src/rhesis/backend/ee/licensing/entitlements.py
  ee/backend/src/rhesis/backend/ee/licensing/mint.py
  infrastructure/config/service-secrets-config.sh.example
  tests/backend/ee/licensing/test_mint.py
Due: none

fix(ee): rebase migration onto current alembic head
  apps/backend/src/rhesis/backend/alembic/versions/b4b371a45639_add_license_to_organization.py
Due: backend

docs: add RBAC roles & permissions user guide
  docs/content/docs/deployment/self-hosting.mdx
  docs/content/docs/organizations/_meta.tsx
  docs/content/docs/organizations/index.mdx
  docs/content/docs/organizations/roles.mdx
Due: none

docs: add RBAC roles & permissions user guide (#2108)
  docs/content/docs/deployment/self-hosting.mdx
  docs/content/docs/organizations/_meta.tsx
  docs/content/docs/organizations/index.mdx
  docs/content/docs/organizations/roles.mdx
Due: none

fix(sdk): avoid duplicate span export on handoff synthesis failure
  sdk/src/rhesis/sdk/telemetry/integrations/agent_framework/translator.py
  sdk/src/rhesis/sdk/telemetry/integrations/pydantic_ai/translator.py
Due: sdk

Migrate Pydantic AI integration to native instrumentation translator (#2104)
  examples/telemetry/README.md
  examples/telemetry/pydantic_ai_example.py
  examples/telemetry/pydantic_ai_multi_agent_example.py
  sdk/src/rhesis/sdk/telemetry/integrations/agent_framework/integration.py
  sdk/src/rhesis/sdk/telemetry/integrations/agent_framework/mapping.py
  sdk/src/rhesis/sdk/telemetry/integrations/agent_framework/translator.py
  sdk/src/rhesis/sdk/telemetry/integrations/genai.py
  sdk/src/rhesis/sdk/telemetry/integrations/pydantic_ai.py
  sdk/src/rhesis/sdk/telemetry/integrations/pydantic_ai/__init__.py
  sdk/src/rhesis/sdk/telemetry/integrations/pydantic_ai/integration.py
  sdk/src/rhesis/sdk/telemetry/integrations/pydantic_ai/mapping.py
  sdk/src/rhesis/sdk/telemetry/integrations/pydantic_ai/translator.py
  tests/sdk/telemetry/integrations/test_pydantic_ai_integration.py
Due: sdk

fix(ee): fail closed on staging, freeze cached limits mapping
  ee/backend/src/rhesis/backend/ee/licensing/entitlements.py
  ee/backend/src/rhesis/backend/ee/licensing/provider.py
  tests/backend/ee/licensing/test_provider.py
  tests/backend/ee/licensing/test_verify.py
Due: none

feat(frontend): add reviews card to test run summary
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestRunHeader.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/TestRunStatsTab.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/__tests__/TestRunHeader.test.tsx
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/__tests__/test-run-summary-utils.test.ts
  apps/frontend/src/app/(protected)/test-runs/[identifier]/components/test-run-summary-utils.ts
Due: frontend-format, frontend-lint, hardcoded-styles

Path conditions:
  sdk: any of: ^sdk/
  backend: any of: ^apps/backend/
  frontend-format: any of: ^apps/frontend/
  frontend-lint: any of: ^apps/frontend/
  docs-format: any of: ^apps/documentation/
  hardcoded-styles: any of: ^apps/(frontend|documentation)/
